Repository discourse/discourse, changes with the labels that .github/labeler.yml gives for each.
All labels: chat, checklist, discourse-details, discourse-lazy-videos, discourse-local-dates, discourse-narrative-bot, discourse-presence, discourse-reactions, discourse-apple-auth, discourse-login-with-amazon, discourse-lti, discourse-microsoft-auth, discourse-oauth2-basic, discourse-openid-connect, discourse-zendesk-plugin, discourse-patreon, discourse-graphviz, discourse-rss-polling, discourse-math, discourse-chat-integration, discourse-data-explorer, discourse-post-voting, discourse-user-notes, discourse-assign, discourse-subscriptions, discourse-hcaptcha, discourse-gamification, discourse-calendar, discourse-policy, discourse-github, discourse-adplugin, discourse-affiliate, discourse-solved, discourse-topic-voting, discourse-templates, discourse-ai, discourse-cakeday, footnote, poll, spoiler-alert, styleguide, migrations-tooling, i18n

.github/labeler.yml:

chat:
  - changed-files:
      - any-glob-to-any-file: plugins/chat/**/*

checklist:
  - changed-files:
      - any-glob-to-any-file: plugins/checklist/**/*

discourse-details:
  - changed-files:
      - any-glob-to-any-file: plugins/discourse-details/**/*

discourse-lazy-videos:
  - changed-files:
      - any-glob-to-any-file: plugins/discourse-lazy-videos/**/*

discourse-local-dates:
  - changed-files:
      - any-glob-to-any-file: plugins/discourse-local-dates/**/*

discourse-narrative-bot:
  - changed-files:
      - any-glob-to-any-file: plugins/discourse-narrative-bot/**/*

discourse-presence:
  - changed-files:
      - any-glob-to-any-file: plugins/discourse-presence/**/*

discourse-reactions:
  - changed-files:
      - any-glob-to-any-file: plugins/discourse-reactions/**/*

discourse-apple-auth:
  - changed-files:
      - any-glob-to-any-file: plugins/discourse-apple-auth/**/*

discourse-login-with-amazon:
  - changed-files:
      - any-glob-to-any-file: plugins/discourse-login-with-amazon/**/*

discourse-lti:
  - changed-files:
      - any-glob-to-any-file: plugins/discourse-lti/**/*

discourse-microsoft-auth:
  - changed-files:
      - any-glob-to-any-file: plugins/discourse-microsoft-auth/**/*

discourse-oauth2-basic:
  - changed-files:
      - any-glob-to-any-file: plugins/discourse-oauth2-basic/**/*

discourse-openid-connect:
  - changed-files:
      - any-glob-to-any-file: plugins/discourse-openid-connect/**/*

discourse-zendesk-plugin:
  - changed-files:
      - any-glob-to-any-file: plugins/discourse-zendesk-plugin/**/*

discourse-patreon:
  - changed-files:
      - any-glob-to-any-file: plugins/discourse-patreon/**/*

discourse-graphviz:
  - changed-files:
      - any-glob-to-any-file: plugins/discourse-graphviz/**/*

discourse-rss-polling:
  - changed-files:
      - any-glob-to-any-file: plugins/discourse-rss-polling/**/*

discourse-math:
  - changed-files:
      - any-glob-to-any-file: plugins/discourse-math/**/*

discourse-chat-integration:
  - changed-files:
      - any-glob-to-any-file: plugins/discourse-chat-integration/**/*

discourse-data-explorer:
  - changed-files:
      - any-glob-to-any-file: plugins/discourse-data-explorer/**/*

discourse-post-voting:
  - changed-files:
      - any-glob-to-any-file: plugins/discourse-post-voting/**/*

discourse-user-notes:
  - changed-files:
      - any-glob-to-any-file: plugins/discourse-user-notes/**/*

discourse-assign:
  - changed-files:
      - any-glob-to-any-file: plugins/discourse-assign/**/*

discourse-subscriptions:
  - changed-files:
      - any-glob-to-any-file: plugins/discourse-subscriptions/**/*

discourse-hcaptcha:
  - changed-files:
      - any-glob-to-any-file: plugins/discourse-hcaptcha/**/*

discourse-gamification:
  - changed-files:
      - any-glob-to-any-file: plugins/discourse-gamification/**/*

discourse-calendar:
  - changed-files:
      - any-glob-to-any-file: plugins/discourse-calendar/**/*

discourse-policy:
  - changed-files:
      - any-glob-to-any-file: plugins/discourse-policy/**/*

discourse-github:
  - changed-files:
      - any-glob-to-any-file: plugins/discourse-github/**/*

discourse-adplugin:
  - changed-files:
      - any-glob-to-any-file: plugins/discourse-adplugin/**/*

discourse-affiliate:
  - changed-files:
      - any-glob-to-any-file: plugins/discourse-affiliate/**/*

discourse-solved:
  - changed-files:
      - any-glob-to-any-file: plugins/discourse-solved/**/*

discourse-topic-voting:
  - changed-files:
      - any-glob-to-any-file: plugins/discourse-topic-voting/**/*

discourse-templates:
  - changed-files:
      - any-glob-to-any-file: plugins/discourse-templates/**/*

discourse-ai:
  - changed-files:
      - any-glob-to-any-file: plugins/discourse-ai/**/*

discourse-cakeday:
  - changed-files:
      - any-glob-to-any-file: plugins/discourse-cakeday/**/*

footnote:
  - changed-files:
      - any-glob-to-any-file: plugins/footnote/**/*

poll:
  - changed-files:
      - any-glob-to-any-file: plugins/poll/**/*

spoiler-alert:
  - changed-files:
      - any-glob-to-any-file: plugins/spoiler-alert/**/*

styleguide:
  - changed-files:
      - any-glob-to-any-file: plugins/styleguide/**/*

migrations-tooling:
  - changed-files:
      - any-glob-to-any-file:
          - migrations/**/*
          - script/bulk_import/**/*
          - script/import_scripts/**/*

i18n:
  - changed-files:
      - any-glob-to-any-file:
          - config/locales/*en.yml
          - plugins/**/config/locales/*en.yml
          - "**/*i18n*"

Bump
  Gemfile.lock
Labels: none

correct my-likes implementation
  app/assets/javascripts/discourse/app/components/post/menu/buttons/like/liked-users-list.gjs
Labels: none

my-likes styling
  app/assets/javascripts/discourse/app/components/post/menu/buttons/like/liked-users-list.gjs
  app/assets/stylesheets/common/base/topic-post.scss
Labels: none

dev: migration script - draft 3
  lib/tasks/migrate_to_welcome_banner.rake
Labels: none

dev: migration script - draft 3
  lib/tasks/migrate_to_welcome_banner.rake
Labels: none

DEV: Show messages on client when credits are insufficient
  plugins/discourse-ai/app/controllers/concerns/ai_credit_limit_handler.rb
  plugins/discourse-ai/app/controllers/discourse_ai/ai_bot/bot_controller.rb
  plugins/discourse-ai/app/controllers/discourse_ai/ai_bot/conversations_controller.rb
  plugins/discourse-ai/app/controllers/discourse_ai/ai_helper/assistant_controller.rb
  plugins/discourse-ai/app/controllers/discourse_ai/discover/discoveries_controller.rb
  plugins/discourse-ai/app/controllers/discourse_ai/summarization/summary_controller.rb
  plugins/discourse-ai/app/controllers/discourse_ai/translation/translation_controller.rb
  plugins/discourse-ai/app/jobs/regular/stream_composer_helper.rb
  plugins/discourse-ai/app/jobs/regular/stream_discover_reply.rb
  plugins/discourse-ai/app/jobs/regular/stream_post_helper.rb
  plugins/discourse-ai/app/jobs/regular/stream_topic_ai_summary.rb
  plugins/discourse-ai/app/models/llm_credit_allocation.rb
  plugins/discourse-ai/assets/javascripts/discourse/components/ai-post-helper-menu.gjs
  plugins/discourse-ai/assets/javascripts/discourse/components/modal/ai-summary-modal.gjs
  plugins/discourse-ai/assets/javascripts/discourse/components/modal/diff-modal.gjs
  plugins/discourse-ai/assets/javascripts/discourse/lib/ai-errors.js
  plugins/discourse-ai/config/locales/client.en.yml
  plugins/discourse-ai/config/locales/server.en.yml
Labels: discourse-ai, i18n

dev: migration script - draft 4
  lib/tasks/migrate_to_welcome_banner.rake
Labels: none

dev: migration script - draft 4
  lib/tasks/migrate_to_welcome_banner.rake
Labels: none

dev: migration script - draft 5
  lib/tasks/migrate_to_welcome_banner.rake
Labels: none

dev: migration script - draft 5
  lib/tasks/migrate_to_welcome_banner.rake
Labels: none

UX: remove double actions buttons in bookmark modal on mobile
  app/assets/javascripts/discourse/app/components/modal/bookmark.gjs
Labels: none

dev: migration script - draft 6
  lib/tasks/migrate_to_welcome_banner.rake
Labels: none

dev: migration script - draft 6
  lib/tasks/migrate_to_welcome_banner.rake
Labels: none

dev: migration script - draft 7
  lib/tasks/migrate_to_welcome_banner.rake
Labels: none

dev: migration script - draft 7
  lib/tasks/migrate_to_welcome_banner.rake
Labels: none

UX: update the copy in settings for the mobile logo
  config/locales/server.en.yml
Labels: i18n

update copy
  config/locales/server.en.yml
Labels: i18n

DEV: Convert `PostStream` methods to async functions
  app/assets/javascripts/discourse/app/models/post-stream.js
Labels: none

DEV: improvements
  plugins/discourse-ai/app/models/llm_credit_allocation.rb
  plugins/discourse-ai/app/models/llm_feature_credit_cost.rb
  plugins/discourse-ai/assets/javascripts/discourse/components/modal/thumbnail-suggestions.gjs
  plugins/discourse-ai/assets/javascripts/discourse/initializers/ai-image-caption.js
  plugins/discourse-ai/assets/javascripts/discourse/lib/ai-errors.js
  plugins/discourse-ai/lib/ai_helper/painter.rb
  plugins/discourse-ai/spec/jobs/regular/stream_post_helper_spec.rb
  plugins/discourse-ai/spec/models/llm_credit_allocation_spec.rb
  plugins/discourse-ai/test/javascripts/unit/lib/ai-errors-test.js
Labels: discourse-ai

bump 2
  Gemfile.lock
Labels: none

UX: remove subtitle from 404 page
  app/views/exceptions/not_found.html.erb
Labels: none

UX: update the copy in settings for the mobile logo (#35184)
  config/locales/server.en.yml
Labels: i18n

DEV: Transition `PostStream` and `Topic` models to modern Ember conventions
  app/assets/javascripts/discourse/app/models/post-stream.js
  app/assets/javascripts/discourse/app/models/post.js
  app/assets/javascripts/discourse/app/models/topic.js
Labels: none

Fix crash in Admin::PluginsController when plugin has nil commit URL path
  lib/plugin/instance.rb
  spec/lib/plugin/instance_spec.rb
Labels: none

FIX: Ensure tag diffs use persisted topic tags
  lib/post_revisor.rb
  spec/lib/post_revisor_spec.rb
Labels: none

bumpity
  Gemfile.lock
Labels: none

UX: remove subtitle from 404 page (#35185)
  app/views/exceptions/not_found.html.erb
Labels: none

add back to forum link
  plugins/discourse-ai/assets/javascripts/discourse/initializers/ai-conversations-sidebar.js
  plugins/discourse-ai/assets/stylesheets/modules/ai-bot-conversations/common.scss
Labels: discourse-ai

Add setting for AI bot link in sidebar
  plugins/discourse-ai/assets/javascripts/discourse/components/ai-bot-sidebar-new-conversation.gjs
  plugins/discourse-ai/assets/javascripts/discourse/initializers/add-ai-bot-to-sidebar.gjs
  plugins/discourse-ai/assets/javascripts/discourse/initializers/ai-conversations-sidebar.js
  plugins/discourse-ai/assets/stylesheets/modules/ai-bot-conversations/common.scss
  plugins/discourse-ai/config/locales/client.en.yml
  plugins/discourse-ai/config/locales/server.en.yml
  plugins/discourse-ai/config/settings.yml
Labels: discourse-ai, i18n

rename file
  plugins/discourse-ai/assets/javascripts/discourse/initializers/add-ai-bot-to-community-section.gjs
Labels: discourse-ai

check for available bot
  plugins/discourse-ai/assets/javascripts/discourse/initializers/add-ai-bot-to-community-section.gjs
Labels: discourse-ai

DEV: Set Regex timeout for migrations
  migrations/bin/cli
  migrations/migrations.rb
  migrations/spec/rails_helper.rb
Labels: migrations-tooling

DEV: Add priority handling and error management in `TopologicalSorter`
  migrations/lib/common/topological_sorter.rb
  migrations/lib/importer/step.rb
  migrations/spec/lib/common/topological_sorter_spec.rb
Labels: migrations-tooling

Remove `RESET_MS` timestamp
  app/assets/javascripts/discourse/app/components/notification-consent-banner.gjs
Labels: none

pnpm dedupe [dependabot skip]
  pnpm-lock.yaml
Labels: none
