Repository discourse/discourse, pull requests merged in 2018-11, with the labels that each got.

#6359 REFACTOR: use tables instead of custom fields for polls
  db/migrate/20180828065005_change_bounce_score_to_float.rb
  plugins/poll/app/models/poll.rb
  plugins/poll/app/models/poll_option.rb
  plugins/poll/app/models/poll_vote.rb
  plugins/poll/app/serializers/poll_option_serializer.rb
  plugins/poll/app/serializers/poll_serializer.rb
  plugins/poll/assets/javascripts/controllers/poll-ui-builder.js.es6
  plugins/poll/assets/javascripts/discourse/templates/modal/poll-ui-builder.hbs
  plugins/poll/assets/javascripts/initializers/extend-for-poll.js.es6
  plugins/poll/assets/javascripts/lib/discourse-markdown/poll.js.es6
  plugins/poll/assets/javascripts/widgets/discourse-poll.js.es6
  plugins/poll/assets/stylesheets/common/poll-ui-builder.scss
  plugins/poll/assets/stylesheets/common/poll.scss
  plugins/poll/assets/stylesheets/desktop/poll.scss
  plugins/poll/config/locales/client.en.yml
  plugins/poll/config/locales/server.en.yml
  plugins/poll/config/settings.yml
  plugins/poll/db/migrate/20180820073549_create_polls_tables.rb
  plugins/poll/db/post_migrate/20180820080623_migrate_polls_data.rb
  plugins/poll/lib/polls_updater.rb
  plugins/poll/lib/polls_validator.rb
  plugins/poll/lib/votes_updater.rb
  plugins/poll/plugin.rb
  plugins/poll/spec/controllers/polls_controller_spec.rb
  plugins/poll/spec/controllers/posts_controller_spec.rb
  plugins/poll/spec/db/post_migrate/migrate_polls_data_spec.rb
  plugins/poll/spec/helpers.rb
  plugins/poll/spec/integration/poll_endpoints_spec.rb
  plugins/poll/spec/lib/new_post_manager_spec.rb
  plugins/poll/spec/lib/polls_updater_spec.rb
  plugins/poll/spec/lib/polls_validator_spec.rb
  plugins/poll/spec/lib/votes_updater_spec.rb
  plugins/poll/test/javascripts/acceptance/polls-test.js.es6
  spec/components/migration/safe_migrate_spec.rb
  spec/fixtures/db/migrate/drop_table/20990309014014_drop_table.rb
  spec/fixtures/db/post_migrate/drop_table/20990309014013_drop_email_logs_table.rb
  spec/rails_helper.rb
Labels: 2.2, DO NOT MERGE

#6629 DEV: removes _.each from codebase
  app/assets/javascripts/admin/controllers/admin-customize-colors.js.es6
  app/assets/javascripts/admin/controllers/admin-user-badges.js.es6
  app/assets/javascripts/admin/controllers/modals/admin-badge-preview.js.es6
  app/assets/javascripts/admin/models/admin-user.js.es6
  app/assets/javascripts/admin/models/color-scheme.js.es6
  app/assets/javascripts/admin/models/report.js.es6
  app/assets/javascripts/admin/routes/admin-badges.js.es6
  app/assets/javascripts/discourse/components/create-topics-notice.js.es6
  app/assets/javascripts/discourse/initializers/live-development.js.es6
  app/assets/javascripts/discourse/initializers/subscribe-user-notifications.js.es6
  app/assets/javascripts/discourse/lib/autocomplete.js.es6
  app/assets/javascripts/discourse/lib/page-tracker.js.es6
  app/assets/javascripts/discourse/models/category.js.es6
  app/assets/javascripts/discourse/models/nav-item.js.es6
  app/assets/javascripts/discourse/models/site.js.es6
  app/assets/javascripts/discourse/models/topic-list.js.es6
  app/assets/javascripts/discourse/models/topic-tracking-state.js.es6
  app/assets/javascripts/discourse/models/user-action.js.es6
  app/assets/javascripts/discourse/models/user.js.es6
  app/assets/javascripts/discourse/widgets/post-links.js.es6
  test/javascripts/acceptance/admin-watched-words-test.js.es6
  test/javascripts/components/keyboard-shortcuts-test.js.es6
  test/javascripts/lib/utilities-test.js.es6
Labels: DO NOT MERGE

#6644 FIX: improves code, tests and utc handling of local-dates
  plugins/discourse-local-dates/assets/javascripts/discourse-local-dates.js
  plugins/discourse-local-dates/assets/javascripts/discourse/components/discourse-local-dates-create-form.js.es6
  plugins/discourse-local-dates/assets/javascripts/lib/discourse-markdown/discourse-local-dates.js.es6
  plugins/discourse-local-dates/plugin.rb
  plugins/discourse-local-dates/spec/integration/local_dates_spec.rb
  plugins/discourse-local-dates/spec/lib/pretty_text_spec.rb
  plugins/discourse-local-dates/test/javascripts/acceptance/local-dates-composer-test.js.es6
  plugins/discourse-local-dates/test/javascripts/acceptance/local-dates-test.js.es6
Labels: DO NOT MERGE

#6685 PWA improvements
  app/controllers/metadata_controller.rb
  config/locales/server.en.yml
  config/site_settings.yml
  spec/requests/metadata_controller_spec.rb
Labels: Changes Requested

#6690 FIX: throw error when link in reason for grant badge is an external link
  app/controllers/user_badges_controller.rb
  config/locales/server.en.yml
  spec/requests/user_badges_controller_spec.rb
Labels: Changes Requested

#6689 FEATURE: Multisite support for S3 image stores
  lib/file_store/base_store.rb
  lib/file_store/local_store.rb
  lib/file_store/s3_store.rb
  spec/multisite/s3_store_spec.rb
Labels: Changes Requested

#6682 FIX: call onSelect plugin callbacks for noop rows
  app/assets/javascripts/select-kit/components/multi-select.js.es6
  app/assets/javascripts/select-kit/components/single-select.js.es6
  test/javascripts/components/multi-select-test.js.es6
  test/javascripts/components/single-select-test.js.es6
Labels: Changes Requested
