Repository discourse/discourse, pull requests merged in 2018-10, with the labels that each got.

#6411 always `loadScript` with a script tag
  app/assets/javascripts/admin/components/ace-editor.js.es6
  app/assets/javascripts/discourse/lib/load-script.js.es6
  test/javascripts/lib/load-script-test.js.es6
  test/javascripts/test_helper.js
Labels: 2.2

#6433 FIX: hide Delete Category button while creating a new category
  app/assets/javascripts/discourse/templates/modal/edit-category.hbs
Labels: Changes Requested

#6409 extract client side `Discourse` setup inline JS
  app/assets/javascripts/preload-application-data.js
  app/helpers/application_helper.rb
  app/views/common/_discourse_javascript.html.erb
  app/views/layouts/application.html.erb
Labels: 2.2

#6306 FIX: keep files in order when adding multiple uploads
  app/assets/javascripts/discourse/components/composer-editor.js.es6
  config/locales/client.en.yml
  test/javascripts/acceptance/composer-test.js.es6
Labels: Changes Requested

#6419 FIX: Avoid redirection when not leaving forum.
  app/assets/javascripts/discourse/lib/click-track.js.es6
  app/assets/javascripts/discourse/lib/url.js.es6
  test/javascripts/lib/click-track-test.js.es6
Labels: Changes Requested

#6376 FEATURE: add indication if incoming email attachment was rejected and inform sender about it
  config/locales/server.en.yml
  lib/email/receiver.rb
  spec/components/email/receiver_spec.rb
Labels: Changes Requested

#6375 FIX: Retry sending email in case of temporary issue.
  app/jobs/regular/notify_mailing_list_subscribers.rb
Labels: Changes Requested

#6325 FIX: Generate webhook payloads before destroy events
  app/models/category.rb
  app/models/concerns/has_destroyed_web_hook.rb
  app/models/group.rb
  app/models/tag.rb
  app/models/user.rb
  app/models/web_hook.rb
  config/initializers/012-web_hook_events.rb
  lib/post_destroyer.rb
  spec/components/post_destroyer_spec.rb
  spec/jobs/fix_primary_emails_for_staged_users_spec.rb
  spec/models/web_hook_spec.rb
Labels: 2.2, Changes Requested

#6406 FEATURE: Post deployment migrations.
  config/initializers/000-post_migration.rb
  db/fixtures/000_delayed_drops.rb
  db/migrate/20170524182846_add_unread_tracking_columns.rb
  db/migrate/20170526125321_drop_unread_tracking_columns.rb
  db/migrate/20170728054115_remove_public_from_groups.rb
  db/migrate/20171107020512_drop_email_from_users.rb
  db/migrate/20180227161818_drop_unused_tables.rb
  db/migrate/20180504000531_remove_legacy_auth_token.rb
  db/migrate/20180619091608_drop_vote_count_from_topics_and_posts.rb
  db/post_migrate/20180917024729_remove_superfluous_columns.rb
  db/post_migrate/20180917034056_remove_superfluous_tables.rb
  lib/discourse.rb
  lib/generators/rails/post_migration_generator.rb
  lib/migration/base_dropper.rb
  lib/migration/column_dropper.rb
  lib/migration/safe_migrate.rb
  lib/migration/table_dropper.rb
  spec/components/migration/column_dropper_spec.rb
  spec/components/migration/safe_migrate_spec.rb
  spec/components/migration/table_dropper_spec.rb
  spec/fixtures/db/migrate/drop_table/20990309014014_drop_table.rb
  spec/fixtures/db/migrate/remove_column/20990309014014_remove_column.rb
  spec/fixtures/db/migrate/rename_column/20990309014014_rename_column.rb
  spec/fixtures/db/migrate/rename_table/20990309014014_rename_table.rb
  spec/fixtures/db/post_migrate/drop_table/20990309014013_drop_users_table.rb
  spec/rails_helper.rb
Labels: DO NOT MERGE

#6441 ✂️ `discourse_javascript.html.erb`
  app/assets/javascripts/authentication-complete.js.no-module.es6
  app/assets/javascripts/preload-application-data.js.no-module.es6
  app/views/common/_discourse_javascript.html.erb
  app/views/layouts/application.html.erb
  config/application.rb
Labels: Changes Requested

#6357 FEATURE: add branch option to remote theme import
  app/assets/javascripts/admin/controllers/modals/admin-import-theme.js.es6
  app/assets/javascripts/admin/templates/modal/admin-import-theme.hbs
  app/assets/stylesheets/common/admin/customize.scss
  app/controllers/admin/themes_controller.rb
  app/models/remote_theme.rb
  config/locales/client.en.yml
  db/migrate/20180831182853_add_branch_to_remote_theme.rb
  lib/theme_store/git_importer.rb
  spec/components/theme_store/git_importer_spec.rb
Labels: 2.2

#6438 FIX: Make error in Discourse Hub more descriptive.
  lib/discourse_hub.rb
  spec/components/discourse_hub_spec.rb
Labels: Changes Requested

#6484 FEATURE: Upload tags from CSV
  app/assets/javascripts/admin/components/tags-uploader.js.es6
  app/assets/javascripts/admin/templates/components/tags-uploader.hbs
  app/assets/javascripts/discourse/components/tags-admin-dropdown.js.es6
  app/assets/javascripts/discourse/controllers/tags-index.js.es6
  app/assets/javascripts/discourse/routes/tags-index.js.es6
  app/assets/javascripts/discourse/templates/modal/tag-upload.hbs
  app/controllers/tags_controller.rb
  config/locales/client.en.yml
  config/locales/server.en.yml
  config/routes.rb
  spec/fixtures/csv/tags.csv
  spec/fixtures/csv/tags_invalid.csv
  spec/requests/tags_controller_spec.rb
Labels: Changes Requested

#6502 FIX: extracted theme JavaScripts for multisite
  app/jobs/onceoff/rebake_all_html_theme_fields.rb
  app/models/javascript_cache.rb
  spec/jobs/rebake_all_html_theme_fields_spec.rb
  spec/models/javascript_cache_spec.rb
Labels: Changes Requested
