Repository discourse/discourse, pull requests merged in 2019-02, with the labels that each got.

#6971 FEATURE: adds an API to register topic footer buttons
  app/assets/javascripts/discourse/components/d-button.js.es6
  app/assets/javascripts/discourse/components/topic-footer-buttons.js.es6
  app/assets/javascripts/discourse/initializers/topic-footer-buttons.js.es6
  app/assets/javascripts/discourse/lib/plugin-api.js.es6
  app/assets/javascripts/discourse/lib/register-topic-footer-button.js.es6
  app/assets/javascripts/discourse/templates/components/topic-footer-buttons.hbs
  app/assets/javascripts/select-kit/components/select-kit.js.es6
  app/assets/javascripts/select-kit/components/select-kit/select-kit-row.js.es6
  app/assets/javascripts/select-kit/components/single-select.js.es6
  app/assets/javascripts/select-kit/components/topic-footer-mobile-dropdown.js.es6
  app/assets/javascripts/select-kit/mixins/plugin-api.js.es6
  app/assets/stylesheets/mobile/components/topic-footer-mobile-dropdown.scss
  test/javascripts/acceptance/topic-footer-buttons-mobile-test.js.es6
  test/javascripts/components/topic-footer-buttons-desktop-test.js.es6
  test/javascripts/components/topic-footer-mobile-dropdown-test.js.es6
Labels: ⚠ DO NOT MERGE

#6964 DEV: Remove ignored columns
  app/models/email_log.rb
  app/models/post.rb
  app/models/theme.rb
  app/models/topic.rb
  app/models/user.rb
  app/models/user_auth_token.rb
  app/models/user_option.rb
  app/models/user_profile.rb
Labels: 2.3

#6962 FIX: do not treat TIFF, BMP, WEBP as images
  app/assets/javascripts/discourse/lib/utilities.js.es6
  app/models/optimized_image.rb
  lib/upload_creator.rb
  script/downsize_uploads.rb
  spec/models/optimized_image_spec.rb
  test/javascripts/lib/utilities-test.js.es6
Labels: 2.3

#6960 FIX: Add multisite support to Sidekiq::Pausable.
  lib/sidekiq/pausable.rb
  spec/components/sidekiq/pausable_spec.rb
  spec/multisite/pausable_spec.rb
Labels: 2.3

#6907 FIX: make composer full screen shortcut work when inputs have focus
  app/assets/javascripts/discourse/components/composer-editor.js.es6
  app/assets/javascripts/discourse/components/d-editor.js.es6
  app/assets/javascripts/discourse/controllers/composer.js.es6
  app/assets/javascripts/discourse/lib/keyboard-shortcuts.js.es6
  app/assets/javascripts/discourse/templates/composer.hbs
  app/assets/javascripts/vendor.js
  lib/tasks/javascript.rake
  vendor/assets/javascripts/mousetrap-global-bind.js
Labels: :+1: OP to merge

#6999 UX: make adding permissions more visible and intuitive to click.
  app/assets/javascripts/discourse/templates/components/edit-category-security.hbs
  app/assets/stylesheets/common/base/modal.scss
  config/locales/client.en.yml
Labels: Changes Requested

#7067 FIX: attempts to fix an error with EXTEND_PROTOTYPES
  app/assets/javascripts/env.js
Labels: ⚠ DO NOT MERGE

#6804 FEATURE: image resizing discoverability
  app/assets/javascripts/discourse/components/composer-editor.js.es6
  app/assets/javascripts/discourse/components/d-editor.js.es6
  app/assets/javascripts/pretty-text/engines/discourse-markdown-it.js.es6
  app/assets/javascripts/pretty-text/engines/discourse-markdown/image-protocol.js.es6
  app/assets/stylesheets/common/d-editor.scss
  test/javascripts/acceptance/composer-test.js.es6
Labels: 2.3

#7077 FIX: staff/admin shouldn’t be able to create uncategorized topics
  app/assets/javascripts/discourse/models/composer.js.es6
  app/models/topic.rb
  spec/requests/posts_controller_spec.rb
Labels: ⚠ DO NOT MERGE
