Repository discourse/discourse, pull requests merged in 2019-08, with the labels that each got.

#7953 FIX: DistributedMutex
  lib/distributed_mutex.rb
  lib/tasks/scheduler.rake
  spec/components/distributed_mutex_spec.rb
  spec/support/concurrency.rb
Labels: :+1: OP to merge

#7957 FIX: Gravatar uploads being dependent on authorized_extensions.
  app/models/upload.rb
  app/models/user_avatar.rb
  lib/file_helper.rb
  lib/upload_creator.rb
  lib/validators/upload_validator.rb
  spec/models/user_avatar_spec.rb
Labels: :+1: OP to merge

#7767 UX: Rename "Keep Post" to "Keep Post Hidden" when hidden
  app/models/reviewable.rb
  app/models/reviewable_flagged_post.rb
  config/locales/server.en.yml
  spec/models/reviewable_flagged_post_spec.rb
Labels: :+1: OP to merge

#7961 FIX: Better detection of Apple browsers
  app/assets/javascripts/discourse/initializers/register-service-worker.js.es6
  app/assets/javascripts/discourse/pre-initializers/sniff-capabilities.js.es6
Labels: :+1: OP to merge

#7543 FIX: Show membership requests link just for group owners.
  app/controllers/groups_controller.rb
  app/serializers/basic_post_serializer.rb
  lib/topic_view.rb
  spec/requests/groups_controller_spec.rb
  spec/serializers/basic_post_serializer_spec.rb
Labels: 2.4

#7614 FEATURE: Send notification when member was accepted to group.
  app/assets/javascripts/discourse-common/lib/icon-library.js.es6
  app/assets/javascripts/discourse/widgets/membership-request-accepted-notification-item.js.es6
  app/controllers/groups_controller.rb
  app/models/group.rb
  app/models/notification.rb
  config/locales/client.en.yml
  spec/models/group_spec.rb
  test/javascripts/fixtures/notification_fixtures.js.es6
  test/javascripts/widgets/user-menu-test.js.es6
Labels: Changes Requested

#7646 DEV: debundle plugin css assets and don't load if disabled
  app/assets/stylesheets/desktop.scss
  app/assets/stylesheets/mobile.scss
  app/views/common/_discourse_stylesheet.html.erb
  lib/discourse.rb
  lib/discourse_plugin.rb
  lib/discourse_plugin_registry.rb
  lib/plugin/instance.rb
  lib/stylesheet/compiler.rb
  lib/stylesheet/importer.rb
  lib/stylesheet/manager.rb
  spec/components/discourse_plugin_registry_spec.rb
  spec/components/discourse_plugin_spec.rb
  spec/components/plugin/instance_spec.rb
  spec/components/stylesheet/manager_spec.rb
Labels: 2.4

#7873 FIX: Heartbeat check per sidekiq process
  app/jobs/regular/run_heartbeat.rb
  app/jobs/scheduled/heartbeat.rb
  config/unicorn.conf.rb
  lib/demon/base.rb
  lib/demon/sidekiq.rb
  spec/jobs/heartbeat_spec.rb
Labels: :+1: OP to merge
