Repository discourse/discourse, pull requests merged in 2019-05, with the labels that each got.

#7443 FEATURE: Show diff of local changes before updating remote theme
  app/assets/javascripts/admin/models/theme.js.es6
  app/assets/stylesheets/common/base/modal.scss
  app/controllers/admin/themes_controller.rb
  app/models/remote_theme.rb
  config/locales/client.en.yml
  config/routes.rb
  lib/theme_store/git_importer.rb
  lib/theme_store/tgz_exporter.rb
  spec/models/remote_theme_spec.rb
  spec/requests/admin/themes_controller_spec.rb
Labels: :+1: OP to merge

#7480 REFACTOR: Set input and textarea font size to 16px on iOS
  app/assets/javascripts/discourse/components/search-text-field.js.es6
  app/assets/javascripts/discourse/initializers/ios-input-no-zoom.js.es6
  app/assets/javascripts/discourse/widgets/header.js.es6
  app/assets/stylesheets/common/foundation/variables.scss
  app/assets/stylesheets/mobile/discourse.scss
  app/helpers/application_helper.rb
  lib/mobile_detection.rb
Labels: :+1: OP to merge

#7481 FEATURE: use full screen login by default for social login methods
  app/assets/javascripts/discourse.js.es6
  app/assets/javascripts/discourse/components/login-buttons.js.es6
  app/assets/javascripts/discourse/controllers/create-account.js.es6
  app/assets/javascripts/discourse/controllers/invites-show.js.es6
  app/assets/javascripts/discourse/controllers/login.js.es6
  app/assets/javascripts/discourse/controllers/preferences/account.js.es6
  app/assets/javascripts/discourse/models/login-method.js.es6
  app/assets/javascripts/discourse/routes/application.js.es6
  app/assets/javascripts/discourse/routes/new-message.js.es6
  app/assets/javascripts/discourse/routes/new-topic.js.es6
Labels: :+1: OP to merge

#7509 FIX: Hide Uncategorized in site menu when disabled.
  app/assets/javascripts/discourse/widgets/hamburger-menu.js.es6
  test/javascripts/widgets/hamburger-menu-test.js.es6
Labels: :+1: OP to merge

#7510 FIX: Do not show self edits in Post Edits report.
  app/models/reports/post_edits.rb
  spec/models/report_spec.rb
Labels: :+1: OP to merge, Changes Requested

#7494 FEATURE: Preserve notifications levels when splitting topics.
  app/models/post_mover.rb
  spec/models/post_mover_spec.rb
Labels: Changes Requested

#7464 FEATURE: English locale with international date formats
  Dangerfile
  app/assets/javascripts/locales/en_US.js.erb
  app/assets/javascripts/wizard/test/test_helper.js
  app/controllers/application_controller.rb
  app/jobs/base.rb
  app/models/locale_site_setting.rb
  app/models/translation_override.rb
  config/locales/client.en.yml
  config/locales/client.en_US.yml
  config/locales/names.yml
  config/locales/server.en.yml
  config/locales/server.en_US.yml
  config/site_settings.yml
  db/migrate/20190430135846_migrate_english_locale.rb
  lib/js_locale_helper.rb
  lib/site_settings/defaults_provider.rb
  lib/text_cleaner.rb
  plugins/discourse-narrative-bot/lib/discourse_narrative_bot/quote_generator.rb
  script/bulk_import/base.rb
  script/pull_translations.rb
  spec/components/freedom_patches/translate_accelerator_spec.rb
  spec/components/js_locale_helper_spec.rb
  spec/components/site_setting_extension_spec.rb
  spec/components/text_cleaner_spec.rb
  spec/components/theme_store/tgz_exporter_spec.rb
  spec/components/wizard/step_updater_spec.rb
  spec/integrity/i18n_spec.rb
  spec/lib/i18n/discourse_i18n_spec.rb
  spec/lib/i18n/fallback_locale_list_spec.rb
  spec/lib/i18n/i18n_interpolation_keys_finder_spec.rb
  spec/mailers/user_notifications_spec.rb
  spec/models/badge_spec.rb
  spec/models/locale_site_setting_spec.rb
  spec/models/theme_field_spec.rb
  spec/models/theme_spec.rb
  spec/models/translation_override_spec.rb
  spec/multisite/site_settings_spec.rb
  spec/rails_helper.rb
  spec/requests/admin/site_texts_controller_spec.rb
  spec/requests/extra_locales_controller_spec.rb
  spec/services/search_indexer_spec.rb
  test/javascripts/components/d-editor-test.js.es6
  test/javascripts/fixtures/about.js.es6
  test/javascripts/test_helper.js
Labels: ⚠ DO NOT MERGE

#7581 FIX: Update tags on change.
  app/assets/javascripts/discourse/templates/components/topic-category.hbs
Labels: :+1: OP to merge

#7503 FEATURE: Send notification when member was accepted to group.
  app/assets/javascripts/discourse-common/lib/icon-library.js.es6
  app/assets/javascripts/discourse/components/concerns/notification-types.js.es6.erb
  app/assets/javascripts/discourse/widgets/notification-item.js.es6
  app/controllers/groups_controller.rb
  app/models/group.rb
  app/models/notification.rb
  config/locales/client.en.yml
  test/javascripts/fixtures/notification_fixtures.js.es6
  test/javascripts/fixtures/site-fixtures.js.es6
Labels: Changes Requested

#7530 FIX: Refresh automatic groups after inviting moderators.
  app/controllers/invites_controller.rb
  spec/requests/invites_controller_spec.rb
Labels: :+1: OP to merge, Changes Requested

#7595 FIX: delete system generated message when user_export record is deleted
  app/jobs/onceoff/clean_up_user_export_topics.rb
  app/jobs/regular/export_csv_file.rb
  app/models/topic_custom_field.rb
  app/models/user_export.rb
  db/migrate/20190523093215_add_topic_id_to_user_exports.rb
  spec/jobs/clean_up_user_export_topics_spec.rb
  spec/jobs/export_csv_file_spec.rb
  spec/models/user_export_spec.rb
Labels: :+1: OP to merge, Changes Requested

#7539 FEATURE: Implement Onebox for posts including polls.
  app/models/post.rb
  app/models/user_profile.rb
  lib/pretty_text.rb
  plugins/poll/config/locales/server.en.yml
  plugins/poll/plugin.rb
  plugins/poll/spec/lib/pretty_text_spec.rb
Labels: Changes Requested

#7611 FEATURE: Mute topics tagged with both muted and unmuted tags.
  config/locales/server.en.yml
  config/site_settings.yml
  lib/topic_query.rb
  spec/components/topic_query_spec.rb
Labels: Changes Requested
