Repository discourse/discourse, pull requests merged in 2019-07, with the labels that each got.

#7815 FIX: don't insert TranslationOverride records if their values match original
  app/assets/javascripts/admin/controllers/admin-customize-email-templates-edit.js.es6
  app/assets/javascripts/admin/controllers/admin-site-text-edit.js.es6
  app/assets/javascripts/admin/templates/customize-email-templates-edit.hbs
  app/assets/javascripts/admin/templates/site-text-edit.hbs
  app/controllers/admin/email_templates_controller.rb
  app/controllers/admin/site_texts_controller.rb
  app/serializers/admin_email_template_serializer.rb
  app/serializers/site_text_serializer.rb
  spec/requests/admin/email_templates_controller_spec.rb
  spec/requests/admin/site_texts_controller_spec.rb
Labels: :grey_question: Clarification Needed

#7812 FEATURE: allow disabling theme components
  app/assets/javascripts/admin/components/themes-list-item.js.es6
  app/assets/javascripts/admin/controllers/admin-customize-themes-show.js.es6
  app/assets/javascripts/admin/templates/components/themes-list-item.hbs
  app/assets/javascripts/admin/templates/customize-themes-show.hbs
  app/assets/stylesheets/common/admin/customize.scss
  app/controllers/admin/themes_controller.rb
  app/models/theme.rb
  app/models/user_history.rb
  app/serializers/theme_serializer.rb
  app/services/staff_action_logger.rb
  config/locales/client.en.yml
  db/migrate/20190630165003_add_enabled_to_themes.rb
  spec/models/theme_spec.rb
  spec/requests/admin/themes_controller_spec.rb
  test/javascripts/admin/components/themes-list-item-test.js.es6
Labels: Changes Requested

#7784 FEATURE: admin/user exports are compressed using the zip format
  Gemfile
  Gemfile.lock
  app/assets/javascripts/admin/templates/modal/admin-install-theme.hbs
  app/controllers/admin/themes_controller.rb
  app/jobs/regular/export_csv_file.rb
  config/locales/client.en.yml
  config/locales/server.en.yml
  config/site_settings.yml
  lib/theme_store/tgz_exporter.rb
  lib/theme_store/tgz_importer.rb
  spec/components/theme_store/tgz_exporter_spec.rb
  spec/components/theme_store/tgz_importer_spec.rb
  spec/components/validators/upload_validator_spec.rb
  spec/requests/admin/themes_controller_spec.rb
Labels: Changes Requested

#7566 DEV: Debundle plugin javascript assets and don't load if disabled
  .gitignore
  app/assets/javascripts/plugin-third-party.js.erb
  app/assets/javascripts/plugin.js.erb
  app/views/layouts/application.html.erb
  config/application.rb
  lib/discourse.rb
  lib/plugin/instance.rb
  spec/requests/list_controller_spec.rb
  test/javascripts/test_helper.js
Labels: 2.4

#7870 Make Discourse work while offline
  app/assets/javascripts/discourse/initializers/register-service-worker.js.es6
  app/assets/javascripts/discourse/lib/ajax.js.es6
  app/assets/javascripts/service-worker.js.erb
  lib/tasks/javascript.rake
  package.json
  public/javascripts/workbox/workbox-core.dev.js
  public/javascripts/workbox/workbox-core.dev.js.map
  public/javascripts/workbox/workbox-core.prod.js
  public/javascripts/workbox/workbox-core.prod.js.map
  public/javascripts/workbox/workbox-expiration.dev.js
  public/javascripts/workbox/workbox-expiration.dev.js.map
  public/javascripts/workbox/workbox-expiration.prod.js
  public/javascripts/workbox/workbox-expiration.prod.js.map
  public/javascripts/workbox/workbox-routing.dev.js
  public/javascripts/workbox/workbox-routing.dev.js.map
  public/javascripts/workbox/workbox-routing.prod.js
  public/javascripts/workbox/workbox-routing.prod.js.map
  public/javascripts/workbox/workbox-strategies.dev.js
  public/javascripts/workbox/workbox-strategies.dev.js.map
  public/javascripts/workbox/workbox-strategies.prod.js
  public/javascripts/workbox/workbox-strategies.prod.js.map
  public/javascripts/workbox/workbox-sw.js
  public/javascripts/workbox/workbox-sw.js.map
  yarn.lock
Labels: javascript

#7860 DEV: group_list site settings should store IDs instead of group names
  app/assets/javascripts/admin/components/site-settings/group-list.js.es6
  app/assets/javascripts/admin/templates/components/site-settings/group-list.hbs
  db/migrate/20190717133743_migrate_group_list_site_settings.rb
  lib/discourse.rb
  test/javascripts/admin/components/group-list-setting-test.js.es6
Labels: Changes Requested

#7571 FEATURE: add attachments to outgoing emails
  config/locales/server.en.yml
  config/site_settings.yml
  lib/email/sender.rb
  spec/components/email/sender_spec.rb
  spec/fixtures/pdf/large.pdf
Labels: 2.4
