Repository discourse/discourse, pull requests merged in 2019-03, with the labels that each got.

#6884 DEV: replaces DOMNodeInserted by the better MutationObserver
  app/assets/javascripts/discourse/lib/safari-hacks.js.es6
Labels: :grey_question: Clarification Needed

#7151 FIX: invite approval `StaffActionLogger` bug
  app/models/invite_redeemer.rb
  app/models/user.rb
Labels: :+1: OP to merge

#7044 DEV: remove user_profile events added for akismet
  app/models/user_profile.rb
Labels: :grey_question: Clarification Needed

#7146 UX: Added tooltips to topic admin menu
  app/assets/javascripts/discourse/widgets/topic-admin-menu.js.es6
  config/locales/client.en.yml
Labels: :grey_question: Clarification Needed

#7045 FIX: a temporary fix when CJK user tries to add a long title
  config/site_settings.yml
Labels: Changes Requested

#6977 Upgrade to Ember 3.7.0
  Gemfile
  Gemfile.lock
  app/assets/javascripts/admin/components/ace-editor.js.es6
  app/assets/javascripts/admin/routes/admin-users-list-show.js.es6
  app/assets/javascripts/discourse/components/d-editor.js.es6
  app/assets/javascripts/discourse/components/d-modal-body.js.es6
  app/assets/javascripts/discourse/components/discourse-topic.js.es6
  app/assets/javascripts/discourse/components/emoji-picker.js.es6
  app/assets/javascripts/discourse/components/login-modal.js.es6
  app/assets/javascripts/discourse/components/nav-item.js.es6
  app/assets/javascripts/discourse/components/scrolling-post-stream.js.es6
  app/assets/javascripts/discourse/components/site-header.js.es6
  app/assets/javascripts/discourse/components/topic-entrance.js.es6
  app/assets/javascripts/discourse/components/watch-read.js.es6
  app/assets/javascripts/discourse/helpers/route-action.js.es6
  app/assets/javascripts/discourse/initializers/page-tracking.js.es6
  app/assets/javascripts/discourse/initializers/show-footer.js.es6
  app/assets/javascripts/discourse/lib/app-events.js.es6
  app/assets/javascripts/discourse/lib/page-tracker.js.es6
  app/assets/javascripts/discourse/mixins/card-contents-base.js.es6
  app/assets/javascripts/discourse/mixins/url-refresh.js.es6
  app/assets/javascripts/discourse/routes/badges-show.js.es6
  app/assets/javascripts/discourse/routes/build-category-route.js.es6
  app/assets/javascripts/discourse/routes/group-activity-posts.js.es6
  app/assets/javascripts/discourse/routes/new-message.js.es6
  app/assets/javascripts/discourse/routes/new-topic.js.es6
  app/assets/javascripts/discourse/routes/tags-show.js.es6
  app/assets/javascripts/discourse/routes/topic.js.es6
  app/assets/javascripts/discourse/routes/user-activity-stream.js.es6
  app/assets/javascripts/select-kit/components/category-chooser.js.es6
  app/assets/javascripts/select-kit/components/group-members-dropdown.js.es6
  app/assets/javascripts/select-kit/components/select-kit.js.es6
  app/assets/javascripts/select-kit/components/topic-notifications-options.js.es6
Labels: ⚠ DO NOT MERGE

#6348 FEATURE: Enforce two-factor authentication.
  app/assets/javascripts/discourse/controllers/preferences/second-factor.js.es6
  app/assets/javascripts/discourse/routes/preferences-second-factor.js.es6
  app/assets/javascripts/discourse/templates/preferences-second-factor.hbs
  app/controllers/application_controller.rb
  app/controllers/extra_locales_controller.rb
  config/locales/client.en.yml
  config/locales/server.en.yml
  config/site_settings.yml
  spec/requests/application_controller_spec.rb
  test/javascripts/acceptance/enforce-second-factor-test.js.es6
Labels: 2.3

#6816 FEATURE: Exposing a way to add a generic report filter
  app/assets/javascripts/admin/components/admin-report-table.js.es6
  app/assets/javascripts/admin/components/admin-report.js.es6
  app/assets/javascripts/admin/controllers/admin-reports-show.js.es6
  app/assets/javascripts/admin/models/report.js.es6
  app/assets/javascripts/admin/templates/components/admin-report.hbs
  app/controllers/admin/reports_controller.rb
  app/models/report.rb
  config/locales/client.en.yml
Labels: 2.3

#7143 FEATURE: add more granular user option levels for email notifications
  app/assets/javascripts/discourse/controllers/preferences/emails.js.es6
  app/assets/javascripts/discourse/models/user.js.es6
  app/assets/javascripts/discourse/templates/preferences/emails.hbs
  app/controllers/email_controller.rb
  app/jobs/regular/user_email.rb
  app/models/email_level_site_setting.rb
  app/models/user_option.rb
  app/serializers/user_option_serializer.rb
  app/services/anonymous_shadow_creator.rb
  app/services/notification_emailer.rb
  app/services/user_anonymizer.rb
  app/services/user_updater.rb
  config/locales/client.en.yml
  config/locales/server.en.yml
  config/site_settings.yml
  db/fixtures/009_users.rb
  db/migrate/20190312181641_migrate_email_user_options.rb
  db/migrate/20190313134642_migrate_default_user_email_options.rb
  db/post_migrate/20190312194528_drop_email_user_options_columns.rb
  lib/email/receiver.rb
  plugins/discourse-narrative-bot/db/fixtures/001_discobot.rb
  plugins/discourse-narrative-bot/spec/discourse_narrative_bot/track_selector_spec.rb
  script/import_scripts/base.rb
  script/import_scripts/ipboard.rb
  script/import_scripts/phpbb3/importers/user_importer.rb
  spec/components/email/receiver_spec.rb
  spec/jobs/enqueue_digest_emails_spec.rb
  spec/jobs/user_email_spec.rb
  spec/models/user_option_spec.rb
  spec/models/user_spec.rb
  spec/requests/email_controller_spec.rb
  spec/requests/users_controller_spec.rb
  spec/services/anonymous_shadow_creator_spec.rb
  spec/services/notification_emailer_spec.rb
  spec/services/user_anonymizer_spec.rb
  spec/services/user_updater_spec.rb
  test/javascripts/fixtures/user_fixtures.js.es6
Labels: ⚠ DO NOT MERGE

#7208 UX: Enabled sorting for more columns in admin user list
  app/assets/javascripts/admin/controllers/admin-users-list-show.js.es6
  app/assets/javascripts/admin/routes/admin-users-list-show.js.es6
  app/assets/javascripts/admin/templates/users-list-show.hbs
  app/assets/stylesheets/common/admin/admin_base.scss
  config/locales/client.en.yml
  test/javascripts/acceptance/admin-users-list-test.js.es6
  test/javascripts/helpers/create-pretender.js.es6
Labels: Changes Requested

#7191 FIX: Fixed changing composer mode escaping title
  app/assets/javascripts/discourse/controllers/composer.js.es6
  test/javascripts/acceptance/composer-actions-test.js.es6
Labels: :grey_question: Clarification Needed
