Repository discourse/discourse, pull requests merged in 2019-06, with the labels that each got.

#7526 FEATURE: Multi-file javascript support for themes
  app/helpers/application_helper.rb
  app/models/javascript_cache.rb
  app/models/theme.rb
  app/models/theme_field.rb
  app/views/layouts/application.html.erb
  config/locales/server.en.yml
  db/migrate/20190513143015_add_theme_id_to_javascript_cache.rb
  lib/theme_javascript_compiler.rb
  spec/models/theme_field_spec.rb
  spec/models/theme_spec.rb
Labels: :+1: OP to merge

#7431 FEAT: show tags in crawler view of tags page for static site
  app/controllers/tags_controller.rb
  app/views/tags/_tag.html.erb
  app/views/tags/index.html.erb
Labels: Changes Requested

#7596 FEATURE: Make staff action logs page infinite.
  app/assets/javascripts/admin/controllers/admin-logs-staff-action-logs.js.es6
  app/assets/javascripts/admin/templates/logs/staff-action-logs.hbs
  app/controllers/admin/staff_action_logs_controller.rb
  app/models/user_history.rb
  spec/requests/admin/staff_action_logs_controller_spec.rb
Labels: :grey_question: Clarification Needed

#7708 DEV: refactors select-kit helper to prevent it to leak into global state
  .eslintrc
  plugins/discourse-details/test/javascripts/acceptance/details-button-test.js.es6
  plugins/poll/test/javascripts/helpers/display-poll-builder-button.js.es6
  test/javascripts/acceptance/admin-suspend-user-test.js.es6
  test/javascripts/acceptance/category-chooser-test.js.es6
  test/javascripts/acceptance/category-edit-security-test.js.es6
  test/javascripts/acceptance/category-edit-test.js.es6
  test/javascripts/acceptance/composer-actions-test.js.es6
  test/javascripts/acceptance/composer-test.js.es6
  test/javascripts/acceptance/composer-uncategorized-test.js.es6
  test/javascripts/acceptance/dashboard-test.js.es6
  test/javascripts/acceptance/group-test.js.es6
  test/javascripts/acceptance/new-topic-test.js.es6
  test/javascripts/acceptance/preferences-test.js.es6
  test/javascripts/acceptance/review-test.js.es6
  test/javascripts/acceptance/search-full-test.js.es6
  test/javascripts/acceptance/search-test.js.es6
  test/javascripts/acceptance/share-and-invite-mobile-test.js.es6
  test/javascripts/acceptance/shared-drafts-test.js.es6
  test/javascripts/acceptance/tag-groups-test.js.es6
  test/javascripts/acceptance/topic-edit-timer-test.js.es6
  test/javascripts/acceptance/topic-footer-buttons-mobile-test.js.es6
  test/javascripts/acceptance/topic-notifications-button-test.js.es6
  test/javascripts/acceptance/topic-test.js.es6
  test/javascripts/admin/components/group-list-setting-test.js.es6
  test/javascripts/components/categories-admin-dropdown-test.js.es6
  test/javascripts/components/category-chooser-test.js.es6
  test/javascripts/components/category-drop-test.js.es6
  test/javascripts/components/category-selector-test.js.es6
  test/javascripts/components/combo-box-test.js.es6
  test/javascripts/components/list-setting-test.js.es6
  test/javascripts/components/mini-tag-chooser-test.js.es6
  test/javascripts/components/multi-select-test.js.es6
  test/javascripts/components/pinned-options-test.js.es6
  test/javascripts/components/single-select-test.js.es6
  test/javascripts/components/tag-drop-test.js.es6
  test/javascripts/components/topic-footer-mobile-dropdown-test.js.es6
  test/javascripts/components/topic-notifications-button-test.js.es6
  test/javascripts/components/topic-notifications-options-test.js.es6
  test/javascripts/components/value-list-test.js.es6
  test/javascripts/helpers/select-kit-helper.js
  test/javascripts/helpers/select-kit-helper.js.es6
  test/javascripts/test_helper.js
Labels: :+1: OP to merge

#7724 FEATURE: Trigger Discourse events from authenticators.
  app/controllers/users/omniauth_callbacks_controller.rb
  app/controllers/users_controller.rb
  lib/auth/result.rb
Labels: Changes Requested

#7713 FEATURE: Update pull hotlinked images to use `Upload#short_url`.
  app/jobs/regular/pull_hotlinked_images.rb
  spec/jobs/pull_hotlinked_images_spec.rb
Labels: 2.4

#7745 FIX: clean up cooked group bio when bio is removed
  app/models/group.rb
Labels: Changes Requested

#7720 DEV: test badge titles presence on badge page
  test/javascripts/acceptance/badges-test.js.es6
  test/javascripts/fixtures/badges_fixture.js.es6
  test/javascripts/fixtures/user-badges.js.es6
Labels: Changes Requested

#7765 DEV: adds polyfill to fully support DOMTokenList in IE
  app/assets/javascripts/polyfills.js
Labels: 2.4, :+1: OP to merge

#7771 UX: improves change-timestamp modal datepicker
  app/assets/javascripts/discourse/components/date-picker.js.es6
  app/assets/javascripts/discourse/templates/modal/change-timestamp.hbs
  app/assets/stylesheets/common/base/modal.scss
  app/assets/stylesheets/mobile/modal.scss
Labels: 2.4

#7780 PERF: Use Oj for serializing JSON.
  config/initializers/100-oj.rb
  spec/integrity/oj_spec.rb
Labels: :+1: OP to merge, Changes Requested

#7781 FIX: Ensure topic exists before making a banner.
  lib/guardian/topic_guardian.rb
  spec/components/guardian_spec.rb
Labels: :+1: OP to merge

#7786 FIX: do not allow creation of topic if there is no category available for posting
  lib/guardian/topic_guardian.rb
  spec/components/guardian_spec.rb
Labels: :+1: OP to merge, Changes Requested

#7626 FEATURE: add ability to have multiple totp factors
  app/assets/javascripts/discourse/controllers/preferences/second-factor.js.es6
  app/assets/javascripts/discourse/controllers/second-factor-add-totp.js.es6
  app/assets/javascripts/discourse/controllers/second-factor-backup-edit.js.es6
  app/assets/javascripts/discourse/controllers/second-factor-edit.js.es6
  app/assets/javascripts/discourse/models/user.js.es6
  app/assets/javascripts/discourse/routes/preferences-second-factor-backup.js.es6
  app/assets/javascripts/discourse/routes/preferences-second-factor.js.es6
  app/assets/javascripts/discourse/templates/modal/second-factor-add-totp.hbs
  app/assets/javascripts/discourse/templates/modal/second-factor-backup-edit.hbs
  app/assets/javascripts/discourse/templates/modal/second-factor-edit.hbs
  app/assets/javascripts/discourse/templates/preferences-second-factor-backup.hbs
  app/assets/javascripts/discourse/templates/preferences-second-factor.hbs
  app/assets/javascripts/discourse/templates/preferences/account.hbs
  app/assets/stylesheets/common/base/user.scss
  app/controllers/users_controller.rb
  app/models/concerns/second_factor_manager.rb
  app/models/user_second_factor.rb
  config/locales/client.en.yml
  config/routes.rb
  db/migrate/20190427211829_add_name_to_user_second_factors.rb
  spec/components/concern/second_factor_manager_spec.rb
  spec/requests/admin/users_controller_spec.rb
  spec/requests/users_controller_spec.rb
  test/javascripts/acceptance/enforce-second-factor-test.js.es6
  test/javascripts/acceptance/preferences-test.js.es6
Labels: :+1: OP to merge

#7748 UX: Update ignored_user_summary copy
  config/locales/server.en.yml
Labels: 2.4

#7662 FEATURE: Export any type of report supporting table mode.
  app/assets/javascripts/admin/components/admin-report.js.es6
  app/assets/javascripts/admin/models/report.js.es6
  app/jobs/regular/export_csv_file.rb
  app/models/report.rb
  spec/jobs/export_csv_file_spec.rb
Labels: :+1: OP to merge
