Repository discourse/discourse, pull requests merged in 2020-02, with the labels that each got.

#8834 FIX: Recovered posts with no user will be taken over by system user
  lib/guardian/post_guardian.rb
  lib/guardian/topic_guardian.rb
  lib/post_destroyer.rb
  spec/components/guardian_spec.rb
  spec/components/post_destroyer_spec.rb
Labels: :+1: OP to merge

#8870 PERF: Load users in batches when generating notifications
  app/services/post_alerter.rb
Labels: :+1: OP to merge

#8867 DEV: Make image resize controls more resilient
  app/assets/javascripts/discourse/components/composer-editor.js.es6
  app/assets/javascripts/pretty-text/engines/discourse-markdown/resize-controls.js.es6
  test/javascripts/acceptance/composer-test.js.es6
Labels: Changes Requested

#9014 FIX: downloaded image URLs incorrectly replaced in post raw.
  app/jobs/regular/pull_hotlinked_images.rb
  spec/jobs/pull_hotlinked_images_spec.rb
Labels: 2.5

#9046 FEATURE: auto archive group message if topic is closed.
  app/models/topic.rb
  spec/models/topic_spec.rb
Labels: 2.5

#8933 UX: Differentiate Between PMs and Topics in Search Results
  app/assets/javascripts/discourse/components/topic-status.js.es6
  app/assets/javascripts/discourse/templates/components/topic-status.hbs
  app/assets/javascripts/discourse/templates/full-page-search.hbs
  app/assets/stylesheets/common/base/discourse.scss
  app/serializers/listable_topic_serializer.rb
  config/locales/client.en.yml
Labels: 2.5

#9020 FIX: When appending tags to restricted category posts, we need to pass the category id, or it won't work.
  app/assets/javascripts/discourse/components/search-advanced-options.js.es6
  app/assets/javascripts/discourse/routes/full-page-search.js.es6
  app/assets/javascripts/discourse/templates/full-page-search.hbs
Labels: 2.5
