Repository discourse/discourse, pull requests merged in 2020-09, with the labels that each got.

#10568 FIX: modify notification after remove auto_watch_category
  app/assets/javascripts/admin/models/site-setting.js
  app/controllers/admin/site_settings_controller.rb
  spec/requests/admin/site_settings_controller_spec.rb
Labels: ruby

#10564 DEV: removes jquery usage from highlight-syntax
  app/assets/javascripts/admin/components/highlighted-code.js
  app/assets/javascripts/discourse/app/initializers/post-decorations.js
  app/assets/javascripts/discourse/app/lib/highlight-syntax.js
  test/javascripts/components/highlighted-code-test.js
Labels: javascript

#10476 removed REGEXP_IN_MATCH regex to make it flexible to use with plugins
  app/assets/javascripts/discourse/app/components/search-advanced-options.js
  test/javascripts/acceptance/search-full-test.js
Labels: javascript

#10538 DEV: add plugin hooks for silence message parameters
  app/services/user_silencer.rb
  lib/system_message.rb
  spec/components/system_message_spec.rb
  spec/services/user_silencer_spec.rb
Labels: ruby

#10633 PERF: Use 1 query to load group and tag notification default.
  app/serializers/basic_group_serializer.rb
Labels: ruby

#10631 FIX: Account for different composer 'edit' states in discourse-presence
  plugins/discourse-presence/assets/javascripts/discourse/components/composer-presence-display.js.es6
Labels: :+1: OP to merge

#10625 FEATURE: allow to extend topic_eager_loads in Search
  lib/plugin/instance.rb
  lib/search.rb
  spec/lib/search_spec.rb
Labels: :grey_question: Clarification Needed, ruby

#10647 DEV: Add include_pms option to TopicQuery
  lib/topic_query.rb
  spec/components/topic_query_spec.rb
  spec/fabricators/topic_fabricator.rb
  spec/models/topic_spec.rb
Labels: ruby

#10627 DEV: updates js transpiler to use babel 7
  lib/discourse_js_processor.rb
  spec/models/theme_field_spec.rb
  spec/models/theme_spec.rb
  vendor/assets/javascripts/babel.js
Labels: ⚠ DO NOT MERGE

#10643 DEV: Change upload verified column to be integer
  app/models/upload.rb
  db/migrate/20200910051633_change_uploads_verified_to_integer.rb
  db/migrate/20200911031738_add_index_to_uploads_verification_status.rb
  lib/s3_inventory.rb
  lib/tasks/uploads.rake
  spec/components/s3_inventory_spec.rb
Labels: :+1: OP to merge, ruby
