Repository discourse/discourse, pull requests merged in 2020-12, with the labels that each got.

#11329 FEATURE: Non-staff users can use shared drafts.
  config/locales/client.en.yml
  config/locales/server.en.yml
  config/site_settings.yml
  lib/guardian/post_guardian.rb
  lib/guardian/topic_guardian.rb
  spec/components/guardian/topic_guardian_spec.rb
  spec/components/guardian/user_guardian_spec.rb
Labels: 2.7, ⚠ DO NOT MERGE

#11361 DEV: More robust processing of URLs
  lib/oneboxer.rb
  lib/url_helper.rb
  spec/components/final_destination_spec.rb
  spec/components/url_helper_spec.rb
  spec/models/topic_embed_spec.rb
Labels: 2.7

#11402 DEV: setproctitle on demon processes
  lib/demon/base.rb
Labels: :+1: OP to merge

#11378 DEV: Use tag renderer in tags filter dropdown
  app/assets/javascripts/select-kit/addon/components/tag-drop.js
  app/assets/stylesheets/common/select-kit/mini-tag-chooser.scss
  app/assets/stylesheets/common/select-kit/select-kit.scss
Labels: 2.7

#11294 DEV: Update `DB.after_commit` to be compatible with 'real' transactions
  lib/mini_sql_multisite_connection.rb
  spec/lib/mini_sql_multisite_connection_spec.rb
  spec/rails_helper.rb
Labels: 2.7

#11293 DEV: Always enqueue sidekiq jobs after database transaction commit
  app/jobs/base.rb
  spec/jobs/jobs_spec.rb
Labels: 2.7

#10433 FIX: Restore dismissing the first notification
  app/assets/javascripts/discourse/app/components/site-header.js
  app/assets/javascripts/discourse/tests/integration/components/site-header-test.js
Labels: 2.7, javascript

#11352 DEV: Wrap `Ember.run.debounce`.
  app/assets/javascripts/admin/addon/components/admin-backups-logs.js
  app/assets/javascripts/admin/addon/components/admin-report-chart.js
  app/assets/javascripts/admin/addon/components/admin-report-stacked-chart.js
  app/assets/javascripts/admin/addon/controllers/admin-dashboard-reports.js
  app/assets/javascripts/admin/addon/controllers/admin-email-bounced.js
  app/assets/javascripts/admin/addon/controllers/admin-email-received.js
  app/assets/javascripts/admin/addon/controllers/admin-email-rejected.js
  app/assets/javascripts/admin/addon/controllers/admin-email-sent.js
  app/assets/javascripts/admin/addon/controllers/admin-email-skipped.js
  app/assets/javascripts/admin/addon/controllers/admin-logs-screened-ip-addresses.js
  app/assets/javascripts/admin/addon/controllers/admin-permalinks.js
  app/assets/javascripts/admin/addon/controllers/admin-site-settings.js
  app/assets/javascripts/admin/addon/controllers/admin-site-text-index.js
  app/assets/javascripts/admin/addon/controllers/admin-users-list-show.js
  app/assets/javascripts/admin/addon/controllers/admin-watched-words.js
  app/assets/javascripts/discourse-common/addon/lib/debounce.js
  app/assets/javascripts/discourse/app/components/choose-message.js
  app/assets/javascripts/discourse/app/components/choose-topic.js
  app/assets/javascripts/discourse/app/components/composer-body.js
  app/assets/javascripts/discourse/app/components/composer-editor.js
  app/assets/javascripts/discourse/app/components/composer-title.js
  app/assets/javascripts/discourse/app/components/d-editor.js
  app/assets/javascripts/discourse/app/components/group-flair-inputs.js
  app/assets/javascripts/discourse/app/components/groups-form-profile-fields.js
  app/assets/javascripts/discourse/app/components/quote-button.js
  app/assets/javascripts/discourse/app/components/scrolling-post-stream.js
  app/assets/javascripts/discourse/app/components/text-field.js
  app/assets/javascripts/discourse/app/components/topic-navigation.js
  app/assets/javascripts/discourse/app/controllers/composer.js
  app/assets/javascripts/discourse/app/controllers/group-index.js
  app/assets/javascripts/discourse/app/controllers/group-requests.js
  app/assets/javascripts/discourse/app/controllers/groups-index.js
  app/assets/javascripts/discourse/app/controllers/insert-hyperlink.js
  app/assets/javascripts/discourse/app/controllers/topic.js
  app/assets/javascripts/discourse/app/controllers/user-invited-show.js
  app/assets/javascripts/discourse/app/controllers/users.js
  app/assets/javascripts/discourse/app/lib/autocomplete.js
  app/assets/javascripts/discourse/app/lib/category-tag-search.js
  app/assets/javascripts/discourse/app/lib/reports-loader.js
  app/assets/javascripts/discourse/app/lib/safari-hacks.js
  app/assets/javascripts/discourse/app/lib/user-search.js
  app/assets/javascripts/discourse/app/mixins/docking.js
  app/assets/javascripts/discourse/app/mixins/mobile-scroll-direction.js
  app/assets/javascripts/discourse/app/mixins/scrolling.js
  app/assets/javascripts/discourse/app/mixins/username-validation.js
  app/assets/javascripts/discourse/app/widgets/post-stream.js
  app/assets/javascripts/discourse/app/widgets/search-menu.js
  app/assets/javascripts/pretty-text/addon/upload-short-url.js
  app/assets/javascripts/select-kit/addon/components/select-kit.js
  plugins/discourse-local-dates/assets/javascripts/discourse/components/discourse-local-dates-create-form.js.es6
Labels: 2.7, :+1: OP to merge

#11387 FEATURE: Optional filtered replies view
  app/assets/javascripts/discourse/app/components/discourse-topic.js
  app/assets/javascripts/discourse/app/components/scrolling-post-stream.js
  app/assets/javascripts/discourse/app/components/user-card-contents.js
  app/assets/javascripts/discourse/app/controllers/topic.js
  app/assets/javascripts/discourse/app/controllers/user-card.js
  app/assets/javascripts/discourse/app/lib/lock-on.js
  app/assets/javascripts/discourse/app/lib/transform-post.js
  app/assets/javascripts/discourse/app/lib/url.js
  app/assets/javascripts/discourse/app/lib/utilities.js
  app/assets/javascripts/discourse/app/models/post-stream.js
  app/assets/javascripts/discourse/app/templates/components/user-card-contents.hbs
  app/assets/javascripts/discourse/app/templates/topic.hbs
  app/assets/javascripts/discourse/app/templates/user-card.hbs
  app/assets/javascripts/discourse/app/widgets/post-menu.js
  app/assets/javascripts/discourse/app/widgets/post-stream.js
  app/assets/javascripts/discourse/app/widgets/post.js
  app/assets/javascripts/discourse/app/widgets/toggle-topic-summary.js
  app/assets/javascripts/discourse/tests/integration/widgets/post-test.js
  app/assets/javascripts/discourse/tests/unit/models/post-stream-test.js
  app/assets/stylesheets/common/base/topic-post.scss
  app/assets/stylesheets/desktop/topic-post.scss
  app/assets/stylesheets/mobile/topic-post.scss
  app/controllers/topics_controller.rb
  app/serializers/suggested_topics_mixin.rb
  config/locales/client.en.yml
  config/locales/server.en.yml
  config/site_settings.yml
  lib/svg_sprite/svg_sprite.rb
  lib/topic_view.rb
  spec/requests/topics_controller_spec.rb
Labels: 2.7

#11509 Revert "Revert "DEV: Wrap `Ember.run.debounce`. (#11352)""
  app/assets/javascripts/admin/addon/components/admin-backups-logs.js
  app/assets/javascripts/admin/addon/components/admin-report-chart.js
  app/assets/javascripts/admin/addon/components/admin-report-stacked-chart.js
  app/assets/javascripts/admin/addon/controllers/admin-dashboard-reports.js
  app/assets/javascripts/admin/addon/controllers/admin-email-bounced.js
  app/assets/javascripts/admin/addon/controllers/admin-email-received.js
  app/assets/javascripts/admin/addon/controllers/admin-email-rejected.js
  app/assets/javascripts/admin/addon/controllers/admin-email-sent.js
  app/assets/javascripts/admin/addon/controllers/admin-email-skipped.js
  app/assets/javascripts/admin/addon/controllers/admin-logs-screened-ip-addresses.js
  app/assets/javascripts/admin/addon/controllers/admin-permalinks.js
  app/assets/javascripts/admin/addon/controllers/admin-site-settings.js
  app/assets/javascripts/admin/addon/controllers/admin-site-text-index.js
  app/assets/javascripts/admin/addon/controllers/admin-users-list-show.js
  app/assets/javascripts/admin/addon/controllers/admin-watched-words.js
  app/assets/javascripts/discourse-common/addon/lib/debounce.js
  app/assets/javascripts/discourse/app/components/choose-message.js
  app/assets/javascripts/discourse/app/components/choose-topic.js
  app/assets/javascripts/discourse/app/components/composer-body.js
  app/assets/javascripts/discourse/app/components/composer-editor.js
  app/assets/javascripts/discourse/app/components/composer-title.js
  app/assets/javascripts/discourse/app/components/d-editor.js
  app/assets/javascripts/discourse/app/components/group-flair-inputs.js
  app/assets/javascripts/discourse/app/components/groups-form-profile-fields.js
  app/assets/javascripts/discourse/app/components/quote-button.js
  app/assets/javascripts/discourse/app/components/scrolling-post-stream.js
  app/assets/javascripts/discourse/app/components/text-field.js
  app/assets/javascripts/discourse/app/components/topic-list.js
  app/assets/javascripts/discourse/app/components/topic-navigation.js
  app/assets/javascripts/discourse/app/controllers/composer.js
  app/assets/javascripts/discourse/app/controllers/group-index.js
  app/assets/javascripts/discourse/app/controllers/group-requests.js
  app/assets/javascripts/discourse/app/controllers/groups-index.js
  app/assets/javascripts/discourse/app/controllers/insert-hyperlink.js
  app/assets/javascripts/discourse/app/controllers/topic.js
  app/assets/javascripts/discourse/app/controllers/user-invited-show.js
  app/assets/javascripts/discourse/app/controllers/users.js
  app/assets/javascripts/discourse/app/lib/autocomplete.js
  app/assets/javascripts/discourse/app/lib/category-tag-search.js
  app/assets/javascripts/discourse/app/lib/reports-loader.js
  app/assets/javascripts/discourse/app/lib/safari-hacks.js
  app/assets/javascripts/discourse/app/lib/user-search.js
  app/assets/javascripts/discourse/app/mixins/docking.js
  app/assets/javascripts/discourse/app/mixins/mobile-scroll-direction.js
  app/assets/javascripts/discourse/app/mixins/scrolling.js
  app/assets/javascripts/discourse/app/mixins/username-validation.js
  app/assets/javascripts/discourse/app/widgets/post-stream.js
  app/assets/javascripts/discourse/app/widgets/search-menu.js
  app/assets/javascripts/pretty-text/addon/upload-short-url.js
  app/assets/javascripts/select-kit/addon/components/select-kit.js
  plugins/discourse-local-dates/assets/javascripts/discourse/components/discourse-local-dates-create-form.js.es6
Labels: ⚠ DO NOT MERGE
