Repository discourse/discourse, pull requests merged in 2020-01, with the labels that each got.

#8649 FIX: Catch error when unknown COSE algorithm is supplied for Security Key
  config/locales/server.en.yml
  lib/webauthn.rb
  lib/webauthn/security_key_authentication_service.rb
  spec/lib/webauthn/security_key_authentication_service_spec.rb
Labels: ruby

#8698 PERF: Cache ranks for featured badges, to simplify user serialization
  app/jobs/scheduled/badge_grant.rb
  app/models/badge.rb
  app/models/user.rb
  app/models/user_badge.rb
  db/migrate/20200107161405_add_featured_rank_to_user_badges.rb
  spec/models/user_badge_spec.rb
  spec/models/user_spec.rb
Labels: :+1: OP to merge

#8771 FIX: Redis fallback handler refactoring
  lib/concurrency.rb
  lib/discourse_redis.rb
  spec/components/discourse_redis_spec.rb
  spec/support/concurrency.rb
Labels: ⚠ DO NOT MERGE

#8409 FIX: Improve downsize_uploads
  app/assets/javascripts/discourse/lib/lock-on.js.es6
  app/jobs/regular/process_post.rb
  script/downsize_uploads.rb
Labels: :+1: OP to merge
