Repository discourse/discourse, pull requests merged in 2021-02, with the labels that each got.

#11910 FIX: Return the CDN's URL when using the site's small logo as the system's user avatar.
  app/models/user.rb
  spec/models/user_spec.rb
Labels: :+1: OP to merge

#11886 FEATURE: Add daily job to check for new features
  app/jobs/scheduled/check_new_features.rb
Labels: :+1: OP to merge

#11726 DEV: {{user-selector}} replacement
  app/assets/javascripts/admin/addon/controllers/admin-api-keys-new.js
  app/assets/javascripts/admin/addon/controllers/admin-email-preview-digest.js
  app/assets/javascripts/admin/addon/controllers/modals/admin-merge-users-prompt.js
  app/assets/javascripts/admin/addon/templates/api-keys-new.hbs
  app/assets/javascripts/admin/addon/templates/email-preview-digest.hbs
  app/assets/javascripts/admin/addon/templates/modal/admin-merge-users-prompt.hbs
  app/assets/javascripts/discourse/app/components/composer-user-selector.js
  app/assets/javascripts/discourse/app/components/invite-panel.js
  app/assets/javascripts/discourse/app/templates/components/composer-user-selector.hbs
  app/assets/javascripts/discourse/app/templates/components/invite-panel.hbs
  app/assets/javascripts/discourse/app/templates/composer.hbs
  app/assets/javascripts/discourse/tests/acceptance/composer-actions-test.js
  app/assets/javascripts/discourse/tests/acceptance/composer-test.js
  app/assets/javascripts/discourse/tests/acceptance/group-test.js
  app/assets/javascripts/discourse/tests/acceptance/new-message-test.js
  app/assets/javascripts/discourse/tests/acceptance/topic-test.js
  app/assets/javascripts/select-kit/addon/components/email-group-user-chooser-header.js
  app/assets/javascripts/select-kit/addon/components/email-group-user-chooser-row.js
  app/assets/javascripts/select-kit/addon/components/email-group-user-chooser.js
  app/assets/javascripts/select-kit/addon/components/select-kit.js
  app/assets/javascripts/select-kit/addon/components/select-kit/select-kit-filter.js
  app/assets/javascripts/select-kit/addon/components/user-chooser.js
  app/assets/javascripts/select-kit/addon/templates/components/email-group-user-chooser-header.hbs
  app/assets/javascripts/select-kit/addon/templates/components/email-group-user-chooser-row.hbs
  app/assets/javascripts/select-kit/addon/templates/components/select-kit/select-kit-filter.hbs
  app/assets/stylesheets/common/admin/api.scss
  app/assets/stylesheets/common/select-kit/_index.scss
  app/assets/stylesheets/common/select-kit/email-group-user-chooser.scss
  config/locales/client.en.yml
Labels: javascript

#11344 FIX: Make discobot certificate gen faster/non blocking
  plugins/discourse-narrative-bot/lib/discourse_narrative_bot/base.rb
  plugins/discourse-narrative-bot/lib/discourse_narrative_bot/certificate_generator.rb
  plugins/discourse-narrative-bot/lib/discourse_narrative_bot/templates/advanced_user.svg.erb
  plugins/discourse-narrative-bot/lib/discourse_narrative_bot/templates/new_user.svg.erb
  plugins/discourse-narrative-bot/plugin.rb
  plugins/discourse-narrative-bot/spec/requests/discobot_certificate_spec.rb
Labels: :+1: OP to merge, ruby

#11747 Fix i18n issues reported on Crowdin
  app/assets/javascripts/discourse/app/components/composer-editor.js
  app/assets/javascripts/discourse/app/components/composer-title.js
  app/assets/javascripts/discourse/app/controllers/tags-index.js
  app/assets/javascripts/discourse/app/helpers/user-avatar.js
  app/assets/javascripts/discourse/app/models/category-list.js
  app/assets/javascripts/discourse/app/templates/components/reviewable-flagged-post.hbs
  app/assets/javascripts/discourse/app/templates/mobile/components/parent-category-row.hbs
  app/assets/javascripts/discourse/app/templates/modal/delete-topic-confirm.hbs
  app/assets/javascripts/discourse/app/widgets/post-edits-indicator.js
  app/assets/javascripts/discourse/app/widgets/toggle-topic-summary.js
  app/assets/stylesheets/mobile/topic-list.scss
  app/controllers/groups_controller.rb
  app/models/topic_poster.rb
  app/models/topic_posters_summary.rb
  app/views/list/list.erb
  config/locales/client.en.yml
  config/locales/server.en.yml
  spec/models/topic_posters_summary_spec.rb
  spec/requests/groups_controller_spec.rb
Labels: javascript, ruby

#11919 DEV: Refactor theme SCSS compilation
  app/models/theme.rb
  app/models/theme_field.rb
  lib/stylesheet/compiler.rb
  lib/stylesheet/importer.rb
  lib/stylesheet/manager.rb
  lib/theme_store/zip_exporter.rb
  spec/components/stylesheet/compiler_spec.rb
  spec/components/stylesheet/importer_spec.rb
  spec/components/stylesheet/manager_spec.rb
  spec/models/theme_field_spec.rb
  spec/models/theme_spec.rb
  spec/requests/admin/themes_controller_spec.rb
Labels: :+1: OP to merge

#11913 FIX: Avoid pulling hotlinked images of post that have been deleted.
  app/jobs/regular/pull_hotlinked_images.rb
  spec/jobs/pull_hotlinked_images_spec.rb
Labels: ruby

#11878 FEATURE: Improve group settings and members management
  app/assets/javascripts/discourse/app/components/group-member-dropdown.js
  app/assets/javascripts/discourse/app/controllers/group-index.js
  app/assets/javascripts/discourse/app/models/group.js
  app/assets/javascripts/discourse/app/models/user.js
  app/assets/javascripts/discourse/app/templates/components/groups-form-membership-fields.hbs
  app/assets/javascripts/discourse/app/templates/components/groups-form-profile-fields.hbs
  app/assets/javascripts/discourse/app/templates/group-index.hbs
  app/assets/javascripts/discourse/tests/acceptance/group-index-test.js
  app/assets/javascripts/discourse/tests/acceptance/group-manage-membership-test.js
  app/assets/javascripts/discourse/tests/acceptance/group-manage-profile-test.js
  app/assets/stylesheets/common/base/group.scss
  app/controllers/admin/groups_controller.rb
  config/locales/client.en.yml
  config/routes.rb
  spec/requests/admin/groups_controller_spec.rb
Labels: Changes Requested, javascript

#11914 FIX: Select earliest post when aggregating posts in a topic for search.
  lib/search.rb
  spec/components/search_spec.rb
Labels: performance, ruby

#11846 A11Y: Adds support for aria-expanded and aria-controls to btn
  app/assets/javascripts/discourse/app/components/d-button.js
  app/assets/javascripts/discourse/app/controllers/user.js
  app/assets/javascripts/discourse/app/templates/user.hbs
  app/assets/javascripts/discourse/tests/integration/components/d-button-test.js
Labels: javascript

#11900 FIX: Check if post.topic exists before publishing topic updates
  app/jobs/regular/post_update_topic_tracking_state.rb
  spec/jobs/post_update_topic_tracking_state_spec.rb
Labels: Changes Requested

#11772 FIX: Category redirect to correct slug should not loop
  app/controllers/list_controller.rb
  spec/requests/list_controller_spec.rb
Labels: ruby

#11237 FEATURE: Use diffhtml to update composer preview
  app/assets/javascripts/discourse/app/components/d-editor.js
  app/assets/javascripts/discourse/app/lib/link-hashtags.js
  app/assets/javascripts/discourse/app/lib/link-mentions.js
  app/assets/javascripts/discourse/app/lib/load-oneboxes.js
  app/assets/javascripts/discourse/app/lib/public-js-versions.js
  app/assets/javascripts/discourse/app/templates/components/d-editor.hbs
  app/assets/javascripts/pretty-text/addon/oneboxer.js
  app/assets/javascripts/pretty-text/addon/upload-short-url.js
  config/locales/server.en.yml
  config/site_settings.yml
  lib/tasks/javascript.rake
  package.json
  public/javascripts/diffhtml.min.js
  public/javascripts/diffhtml/1.0.0-beta.18/diffhtml.min.js
  yarn.lock
Labels: Changes Requested, javascript

#11338 DEV: Improve User#email= behavior
  app/models/user.rb
  app/models/user_email.rb
  spec/models/user_spec.rb
Labels: 2.7, :+1: OP to merge
