Repository discourse/discourse, pull requests merged in 2021-03, with the labels that each got.

#12271 FIX: new topic indicator on the mobile categories page
  app/models/category_list.rb
  spec/models/category_list_spec.rb
Labels: ruby

#12026 FEATURE: Add newly loaded topics to bulk-select automatically if Select All is on
  app/assets/javascripts/discourse/app/components/discovery-topics-list.js
  app/assets/javascripts/discourse/app/components/topic-list-item.js
  app/assets/javascripts/discourse/app/components/topic-list.js
  app/assets/javascripts/discourse/app/mixins/bulk-topic-selection.js
  app/assets/javascripts/discourse/app/models/topic-list.js
  app/assets/javascripts/discourse/app/templates/discovery/topics.hbs
  app/assets/javascripts/discourse/app/templates/tags/show.hbs
  app/assets/javascripts/discourse/tests/integration/components/topic-list-item-test.js
  app/assets/javascripts/discourse/tests/integration/components/topic-list-test.js
Labels: javascript

#11569 FEATURE: Change very high/low search priority to rank at absolute ends.
  config/locales/server.en.yml
  config/site_settings.yml
  db/migrate/20201223071241_delete_stale_category_search_priorities_from_site_settings.rb
  lib/search.rb
  lib/validators/category_search_priority_weights_validator.rb
  spec/components/validators/category_search_priority_weights_validator_spec.rb
  spec/requests/search_controller_spec.rb
Labels: performance, ruby

#12254 FEATURE: Allow invites to be redeemed via external auth providers even if local login is disabled.
  app/assets/javascripts/discourse/app/controllers/invites-show.js
  app/assets/javascripts/discourse/app/initializers/auth-complete.js
  app/assets/javascripts/discourse/app/templates/components/login-buttons.hbs
  app/assets/javascripts/discourse/app/templates/invites/show.hbs
  app/assets/javascripts/discourse/app/templates/modal/create-account.hbs
  app/assets/javascripts/discourse/tests/acceptance/invite-accept-test.js
  app/assets/stylesheets/common/base/login.scss
  app/controllers/invites_controller.rb
  app/controllers/users/omniauth_callbacks_controller.rb
  app/controllers/users_controller.rb
  app/models/invite.rb
  app/models/invite_redeemer.rb
  app/services/user_authenticator.rb
  config/locales/client.en.yml
  config/locales/server.en.yml
  lib/guardian.rb
  spec/components/guardian_spec.rb
  spec/requests/invites_controller_spec.rb
  spec/requests/omniauth_callbacks_controller_spec.rb
  spec/requests/users_controller_spec.rb
  spec/services/user_authenticator_spec.rb
Labels: javascript, ruby
