Repository discourse/discourse, pull requests merged in 2021-09, with the labels that each got.

#14094 DEV: Also run ember tests in Firefox
  .github/workflows/ember.yml
  app/assets/javascripts/discourse/testem.js
  app/assets/javascripts/discourse/tests/acceptance/mobile-pan-test.js
  app/assets/javascripts/discourse/tests/acceptance/topic-quote-button-test.js
  app/assets/javascripts/discourse/tests/acceptance/topic-test.js
  app/assets/javascripts/discourse/tests/helpers/qunit-helpers.js
  app/assets/javascripts/discourse/tests/integration/components/d-editor-test.js
Labels: ⚠ DO NOT MERGE

#14289 DEV: Ignore bookmarks.topic_id column
  app/controllers/users_controller.rb
  app/jobs/regular/sync_topic_user_bookmarked.rb
  app/models/bookmark.rb
  app/models/post_mover.rb
  app/models/topic.rb
  app/serializers/user_bookmark_serializer.rb
  app/views/users/bookmarks.ics.erb
  config/locales/server.en.yml
  db/post_migrate/20210909041448_make_topic_id_nullable_for_bookmarks.rb
  lib/bookmark_manager.rb
  lib/bookmark_query.rb
  lib/bookmark_reminder_notification_handler.rb
  lib/tasks/bookmarks.rake
  lib/topic_view.rb
  spec/components/post_creator_spec.rb
  spec/components/topic_view_spec.rb
  spec/fabricators/bookmark_fabricator.rb
  spec/jobs/sync_topic_user_bookmarked_spec.rb
  spec/lib/bookmark_manager_spec.rb
  spec/lib/bookmark_query_spec.rb
  spec/lib/bookmark_reminder_notification_handler_spec.rb
  spec/models/bookmark_spec.rb
  spec/models/post_mover_spec.rb
  spec/requests/posts_controller_spec.rb
  spec/requests/topics_controller_spec.rb
  spec/requests/users_controller_spec.rb
  spec/serializers/user_bookmark_serializer_spec.rb
Labels: :+1: OP to merge

#14311 FEATURE: improve blank page syndrome on the user activity pages
  app/assets/javascripts/discourse/app/models/user-drafts-stream.js
  app/assets/javascripts/discourse/app/models/user-stream.js
  app/assets/javascripts/discourse/app/routes/discourse.js
  app/assets/javascripts/discourse/app/routes/user-activity-bookmarks.js
  app/assets/javascripts/discourse/app/routes/user-activity-drafts.js
  app/assets/javascripts/discourse/app/routes/user-activity-index.js
  app/assets/javascripts/discourse/app/routes/user-activity-likes-given.js
  app/assets/javascripts/discourse/app/routes/user-activity-replies.js
  app/assets/javascripts/discourse/app/routes/user-activity-stream.js
  app/assets/javascripts/discourse/app/templates/user/stream.hbs
  app/assets/javascripts/discourse/tests/acceptance/user-activity-all-test.js
  app/assets/javascripts/discourse/tests/acceptance/user-activity-drafts-test.js
  app/assets/javascripts/discourse/tests/acceptance/user-activity-likes-test.js
  app/assets/javascripts/discourse/tests/acceptance/user-activity-replies-test.js
  config/locales/client.en.yml
  config/locales/server.en.yml
Labels: :+1: OP to merge

#14313 FEATURE: improve blank page syndrome on the activity/topics, activity/read and group messages pages
  app/assets/javascripts/discourse/app/controllers/user-topics-list.js
  app/assets/javascripts/discourse/app/routes/build-group-messages-route.js
  app/assets/javascripts/discourse/app/routes/build-private-messages-route.js
  app/assets/javascripts/discourse/app/routes/user-activity-read.js
  app/assets/javascripts/discourse/app/routes/user-activity-topics.js
  app/assets/javascripts/discourse/app/templates/user-topics-list.hbs
  app/assets/javascripts/discourse/tests/acceptance/group-test.js
  app/assets/javascripts/discourse/tests/acceptance/user-activity-read-test.js
  app/assets/javascripts/discourse/tests/acceptance/user-activity-topic-test.js
  config/locales/client.en.yml
Labels: :+1: OP to merge

#14350 FIX: rss gem is bundled gem since Ruby 3
  Gemfile
  Gemfile.lock
Labels: ruby

#14356 DEV: trash category definition topic instead of destroying.
  app/models/category.rb
  spec/models/category_spec.rb
Labels: :+1: OP to merge

#14374 DEV: Clean up some styles
  app/assets/javascripts/admin/addon/templates/badges-award.hbs
  app/assets/javascripts/admin/addon/templates/badges-show.hbs
  app/assets/javascripts/admin/addon/templates/user-badges.hbs
  app/assets/javascripts/admin/addon/templates/web-hooks-show.hbs
  app/assets/stylesheets/common/admin/admin_base.scss
  app/assets/stylesheets/common/admin/api.scss
  app/assets/stylesheets/common/admin/badges.scss
  app/assets/stylesheets/common/admin/customize.scss
  app/assets/stylesheets/desktop/discourse.scss
  app/assets/stylesheets/desktop/group.scss
  app/assets/stylesheets/desktop/user.scss
  app/assets/stylesheets/mobile/admin_customize.scss
  app/assets/stylesheets/mobile/user.scss
Labels: :+1: OP to merge

#14346 FEATURE: user/category/tag results in full page search
  app/assets/javascripts/discourse/app/components/search-advanced-options.js
  app/assets/javascripts/discourse/app/components/search-result-entry.js
  app/assets/javascripts/discourse/app/controllers/full-page-search.js
  app/assets/javascripts/discourse/app/lib/search.js
  app/assets/javascripts/discourse/app/templates/components/google-search.hbs
  app/assets/javascripts/discourse/app/templates/components/search-advanced-options.hbs
  app/assets/javascripts/discourse/app/templates/components/search-result-entries.hbs
  app/assets/javascripts/discourse/app/templates/components/search-result-entry.hbs
  app/assets/javascripts/discourse/app/templates/full-page-search.hbs
  app/assets/javascripts/discourse/tests/acceptance/search-full-test.js
  app/assets/javascripts/discourse/tests/acceptance/search-mobile-test.js
  app/assets/stylesheets/common/base/search.scss
  app/assets/stylesheets/common/foundation/base.scss
  app/assets/stylesheets/mobile/search.scss
  config/locales/client.en.yml
Labels: :+1: OP to merge

#14377 DEV: Refactor the api docs for the user endpoint
  spec/requests/api/schemas/json/user_create_request.json
  spec/requests/api/schemas/json/user_create_response.json
  spec/requests/api/schemas/json/user_get_response.json
  spec/requests/api/users_spec.rb
  spec/swagger_helper.rb
Labels: :+1: OP to merge

#14407 FIX: `include_` serializer methods must end with ?
  app/serializers/category_serializer.rb
  app/serializers/group_user_serializer.rb
  app/serializers/invited_user_record_serializer.rb
  app/serializers/user_card_serializer.rb
  spec/requests/api/schemas/json/category_create_response.json
  spec/requests/api/schemas/json/category_update_response.json
Labels: :+1: OP to merge

#14464 DEV: little cleanup in the notifications-index component
  app/assets/javascripts/discourse/app/templates/user/notifications-index.hbs
  app/assets/javascripts/discourse/tests/acceptance/notifications-test.js
  app/assets/stylesheets/common/base/user.scss
Labels: :+1: OP to merge

#14442 FIX: restrict other user's notification routes
  app/controllers/user_actions_controller.rb
  app/models/user_action.rb
  lib/guardian/user_guardian.rb
  spec/requests/user_actions_controller_spec.rb
Labels: :+1: OP to merge

#14392 DEV: Reuse can_invite_to_forum? in can_invite_to?
  lib/guardian.rb
  spec/components/guardian_spec.rb
  spec/models/topic_spec.rb
  spec/requests/topics_controller_spec.rb
Labels: :+1: OP to merge
