Repository discourse/discourse, pull requests merged in 2022-01, with the labels that each got.

#15332 DEV: rename single_sign_on classes to discourse_connect
  app/controllers/admin/users_controller.rb
  app/controllers/session_controller.rb
  app/models/discourse_connect.rb
  lib/discourse_connect_base.rb
  lib/discourse_connect_provider.rb
  spec/models/discourse_connect_spec.rb
  spec/requests/admin/users_controller_spec.rb
  spec/requests/omniauth_callbacks_controller_spec.rb
  spec/requests/session_controller_spec.rb
Labels: ⚠ DO NOT MERGE

#15501 DEV: Correct method name in theme-errors-handler pre-initializer
  app/assets/javascripts/discourse/app/pre-initializers/theme-errors-handler.js
Labels: :+1: OP to merge

#15594 UX: No border-radius on textarea
  app/assets/stylesheets/common/base/discourse.scss
Labels: 2.9

#15629 DEV: Try to download missing uploads from origin URL
  lib/tasks/uploads.rake
Labels: 2.8

#15690 FIX: Single line emojis has emoji metadata indexed twice.
  app/services/search_indexer.rb
  spec/services/search_indexer_spec.rb
Labels: 2.8

#15709 FIX: Allow staff to reset passwords by username
  app/assets/javascripts/discourse/app/models/user.js
  app/controllers/session_controller.rb
  spec/requests/session_controller_spec.rb
Labels: 2.9

#15700 DEV: Remove jQuery UI vendor dependencies
  app/assets/javascripts/discourse/ember-cli-build.js
  app/assets/javascripts/vendor-common.js
  app/assets/javascripts/wizard-vendor.js
  vendor/assets/javascripts/jquery.sortable.js
  vendor/assets/javascripts/jquery.ui.widget.js
Labels: 2.9

#15680 DEV: remove an unused function in d-editor
  app/assets/javascripts/discourse/app/components/d-editor.js
Labels: 2.9

#15689 Only block domains at the final destination
  lib/final_destination.rb
  lib/inline_oneboxer.rb
  lib/onebox/domain_checker.rb
  lib/oneboxer.rb
  lib/retrieve_title.rb
  spec/components/oneboxer_spec.rb
  spec/components/retrieve_title_spec.rb
  spec/lib/onebox/domain_checker_spec.rb
Labels: 2.9

#15726 UX: Add text-decoration to <ins> and <del>
  app/assets/stylesheets/common/base/topic-post.scss
Labels: 2.9

#15718 DEV: Update cppjieba_rb to latest
  Gemfile.lock
Labels: 2.9

#15713 DEV: Update oj gem
  Gemfile
  Gemfile.lock
Labels: 2.9
