Repository discourse/discourse, pull requests merged in 2022-11, with the labels that each got.

#18848 UX: Increase padding of back button in chat draft screen
  plugins/chat/assets/javascripts/discourse/templates/components/chat-draft-channel-screen.hbs
Labels: chat

#18852 UX: Muted style for entire chat section link when muted
  app/assets/javascripts/discourse/app/components/sidebar/user/sections.hbs
  app/assets/javascripts/discourse/app/lib/sidebar/base-custom-sidebar-section-link.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-plugin-api-test.js
  plugins/chat/assets/javascripts/discourse/initializers/chat-sidebar.js
  plugins/chat/assets/stylesheets/sidebar-extensions.scss
  plugins/chat/test/javascripts/acceptance/core-sidebar-test.js
Labels: chat

#18854 UX: scope chat-channel-title hover effect
  plugins/chat/assets/stylesheets/desktop/chat-channel-title.scss
Labels: chat

#18850 FIX: the notification data on the client expects an identifier
  plugins/chat/app/jobs/regular/chat_notify_mentioned.rb
  plugins/chat/spec/jobs/regular/chat_notify_mentioned_spec.rb
Labels: chat

#18849 UX: Add back button in chat browse screen on mobile
  plugins/chat/assets/javascripts/discourse/components/chat-browse-view.js
  plugins/chat/assets/javascripts/discourse/templates/components/chat-browse-view.hbs
  plugins/chat/assets/stylesheets/common/chat-browse.scss
  plugins/chat/config/locales/client.en.yml
  plugins/chat/test/javascripts/acceptance/mobile-chat-test.js
Labels: chat

#18855 FIX: Less scope
  plugins/chat/assets/stylesheets/desktop/chat-channel-title.scss
Labels: chat

#18842 DEV: Rename direct message related models
  plugins/chat/app/controllers/chat_channels_controller.rb
  plugins/chat/app/controllers/direct_messages_controller.rb
  plugins/chat/app/models/chat_channel.rb
  plugins/chat/app/models/chat_message.rb
  plugins/chat/app/models/concerns/chatable.rb
  plugins/chat/app/models/d_m_channel.rb
  plugins/chat/app/models/direct_message.rb
  plugins/chat/app/models/direct_message_channel.rb
  plugins/chat/app/models/direct_message_user.rb
  plugins/chat/app/serializers/chat_channel_serializer.rb
  plugins/chat/app/serializers/direct_message_serializer.rb
  plugins/chat/assets/javascripts/discourse/models/chat-channel.js
  plugins/chat/db/post_migrate/20221027090832_migrate_dm_channels.rb
  plugins/chat/lib/chat_channel_fetcher.rb
  plugins/chat/lib/chat_mailer.rb
  plugins/chat/lib/direct_message_channel_creator.rb
  plugins/chat/lib/discourse_dev/direct_channel.rb
  plugins/chat/lib/discourse_dev/message.rb
  plugins/chat/lib/extensions/user_notifications_extension.rb
  plugins/chat/lib/guardian_extensions.rb
  plugins/chat/plugin.rb
  plugins/chat/spec/components/chat_message_creator_spec.rb
  plugins/chat/spec/fabricators/chat_fabricator.rb
  plugins/chat/spec/jobs/delete_old_chat_messages_spec.rb
  plugins/chat/spec/jobs/regular/auto_join_channel_batch_spec.rb
  plugins/chat/spec/jobs/regular/auto_manage_channel_memberships_spec.rb
  plugins/chat/spec/jobs/regular/chat_notify_watching_spec.rb
  plugins/chat/spec/lib/chat_channel_fetcher_spec.rb
  plugins/chat/spec/lib/chat_message_bookmarkable_spec.rb
  plugins/chat/spec/lib/chat_review_queue_spec.rb
  plugins/chat/spec/lib/direct_message_channel_creator_spec.rb
  plugins/chat/spec/lib/guardian_extensions_spec.rb
  plugins/chat/spec/lib/message_mover_spec.rb
  plugins/chat/spec/mailers/user_notifications_spec.rb
  plugins/chat/spec/models/d_m_channel_spec.rb
  plugins/chat/spec/models/direct_message_channel_spec.rb
  plugins/chat/spec/models/direct_message_spec.rb
  plugins/chat/spec/plugin_spec.rb
  plugins/chat/spec/queries/chat_channel_memberships_query_spec.rb
  plugins/chat/spec/requests/api/chat_channel_notifications_settings_controller_spec.rb
  plugins/chat/spec/requests/api/chat_channels_controller_spec.rb
  plugins/chat/spec/requests/chat_channel_controller_spec.rb
  plugins/chat/spec/requests/chat_controller_spec.rb
  plugins/chat/spec/requests/direct_messages_controller_spec.rb
  plugins/chat/spec/serializer/chat_message_serializer_spec.rb
  plugins/chat/spec/serializer/direct_message_channel_serializer_spec.rb
  plugins/chat/spec/serializer/direct_message_serializer_spec.rb
  plugins/chat/spec/serializer/structured_channel_serializer_spec.rb
  plugins/chat/spec/support/examples/chat_channel_model.rb
  plugins/chat/test/javascripts/acceptance/chat-sidebar-user-status-test.js
  plugins/chat/test/javascripts/acceptance/chat-test.js
  plugins/chat/test/javascripts/acceptance/core-sidebar-test.js
  plugins/chat/test/javascripts/acceptance/user-card-chat-test.js
  plugins/chat/test/javascripts/chat-fixtures.js
  plugins/chat/test/javascripts/components/chat-channel-leave-btn-test.js
  plugins/chat/test/javascripts/components/chat-composer-placeholder-test.js
  plugins/chat/test/javascripts/components/chat-retention-reminder-test.js
Labels: chat

#18856 Ux sidebar muted icon
  plugins/chat/assets/stylesheets/sidebar-extensions.scss
Labels: chat

#18867 FIX: prevents chat to enter in endless loop when getting 404
  plugins/chat/assets/javascripts/discourse/components/chat-live-pane.js
  plugins/chat/test/javascripts/acceptance/chat-live-pane-test.js
Labels: chat

#18881 DEV: initial system tests for chat and plugins
  .github/workflows/tests.yml
  lib/tasks/plugin.rake
  plugins/chat/app/models/category_channel.rb
  plugins/chat/plugin.rb
  plugins/chat/spec/system/navigation_spec.rb
Labels: chat

#18877 FIX: Add editing user ids to ChatMessage and ChatMessageRevision
  plugins/chat/app/controllers/chat_controller.rb
  plugins/chat/app/models/chat_message.rb
  plugins/chat/app/models/chat_message_revision.rb
  plugins/chat/db/migrate/20221101061319_add_last_editor_id_to_chat_messages.rb
  plugins/chat/db/post_migrate/20221101071135_backfill_editing_user_ids_for_chat_messages_and_revisions.rb
  plugins/chat/lib/chat_message_updater.rb
  plugins/chat/spec/components/chat_message_creator_spec.rb
  plugins/chat/spec/components/chat_message_updater_spec.rb
  plugins/chat/spec/lib/chat_review_queue_spec.rb
Labels: chat

#18883 DEV: separates preferred-chat-mode service
  plugins/chat/assets/javascripts/discourse/components/chat-live-pane.js
  plugins/chat/assets/javascripts/discourse/components/topic-chat-float.js
  plugins/chat/assets/javascripts/discourse/services/chat-preferred-mode.js
  plugins/chat/assets/javascripts/discourse/services/chat.js
  plugins/chat/assets/javascripts/discourse/services/full-page-chat.js
  plugins/chat/assets/javascripts/discourse/widgets/chat-header-icon.js
  plugins/chat/spec/system/navigation_spec.rb
  plugins/chat/test/javascripts/unit/services/chat-preferred-mode-test.js
  plugins/chat/test/javascripts/unit/services/full-page-chat-test.js
Labels: chat

#18905 UX: Chat index tweaks
  plugins/chat/assets/stylesheets/common/chat-channel-title.scss
  plugins/chat/assets/stylesheets/mobile/chat-index.scss
  plugins/chat/assets/stylesheets/mobile/mobile.scss
Labels: chat

#18914 DEV: DiscourseEvents for chat messages
  plugins/chat/lib/chat_message_creator.rb
  plugins/chat/lib/chat_message_updater.rb
  plugins/chat/spec/components/chat_message_creator_spec.rb
  plugins/chat/spec/components/chat_message_updater_spec.rb
Labels: chat

#18913 FIX: retention reminder is absolute and needs relative parent
  plugins/chat/assets/stylesheets/common/common.scss
Labels: chat

#18915 FIX: follow up to #7fca078
  plugins/chat/assets/javascripts/discourse/components/chat-live-pane.js
  plugins/chat/spec/system/navigation_spec.rb
Labels: chat

#18902 FIX: Make ChatMessageUpdater check editing access for guardian
  plugins/chat/app/controllers/chat_controller.rb
  plugins/chat/lib/chat_message_updater.rb
  plugins/chat/spec/components/chat_message_updater_spec.rb
  plugins/chat/spec/requests/chat_controller_spec.rb
Labels: chat

#18903 FIX: Make chat editor IDs not null
  plugins/chat/app/models/chat_message.rb
  plugins/chat/app/models/chat_message_revision.rb
  plugins/chat/db/migrate/20221107034541_make_chat_editor_ids_not_null.rb
  plugins/chat/lib/message_mover.rb
  plugins/chat/spec/fabricators/chat_fabricator.rb
  plugins/chat/spec/jobs/chat_channel_delete_spec.rb
  plugins/chat/spec/jobs/regular/chat_notify_mentioned_spec.rb
Labels: chat

#18413 DEV: Load client site settings YML into JS tests
  app/assets/javascripts/discourse-plugins/index.js
  app/assets/javascripts/discourse/app/initializers/register-media-optimization-upload-processor.js
  app/assets/javascripts/discourse/app/widgets/search-menu.js
  app/assets/javascripts/discourse/ember-cli-build.js
  app/assets/javascripts/discourse/lib/site-settings-plugin.js
  app/assets/javascripts/discourse/tests/acceptance/bootstrap-mode-notice-test.js
  app/assets/javascripts/discourse/tests/acceptance/composer-actions-test.js
  app/assets/javascripts/discourse/tests/acceptance/composer-editor-mentions-test.js
  app/assets/javascripts/discourse/tests/acceptance/composer-image-preview-test.js
  app/assets/javascripts/discourse/tests/acceptance/composer-tags-test.js
  app/assets/javascripts/discourse/tests/acceptance/composer-test.js
  app/assets/javascripts/discourse/tests/acceptance/composer-uploads-uppy-test.js
  app/assets/javascripts/discourse/tests/acceptance/emoji-test.js
  app/assets/javascripts/discourse/tests/acceptance/group-requests-test.js
  app/assets/javascripts/discourse/tests/acceptance/invite-accept-test.js
  app/assets/javascripts/discourse/tests/acceptance/preferences-test.js
  app/assets/javascripts/discourse/tests/acceptance/search-test.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-user-categories-section-test.js
  app/assets/javascripts/discourse/tests/acceptance/topic-discovery-test.js
  app/assets/javascripts/discourse/tests/acceptance/topic-edit-timer-test.js
  app/assets/javascripts/discourse/tests/acceptance/topic-quote-button-test.js
  app/assets/javascripts/discourse/tests/acceptance/topic-test.js
  app/assets/javascripts/discourse/tests/acceptance/user-drafts-stream-test.js
  app/assets/javascripts/discourse/tests/acceptance/user-test.js
  app/assets/javascripts/discourse/tests/helpers/create-pretender.js
  app/assets/javascripts/discourse/tests/helpers/site-settings.js
  app/assets/javascripts/discourse/tests/index.html
  app/assets/javascripts/discourse/tests/integration/components/widgets/hamburger-menu-test.js
  app/assets/javascripts/discourse/tests/integration/components/widgets/poster-name-test.js
  app/assets/javascripts/discourse/tests/unit/controllers/create-account-test.js
  app/assets/javascripts/discourse/tests/unit/lib/category-badge-test.js
  app/assets/javascripts/discourse/tests/unit/lib/emoji-test.js
  app/assets/javascripts/discourse/tests/unit/lib/formatter-test.js
  app/assets/javascripts/discourse/tests/unit/lib/pretty-text-test.js
  app/assets/javascripts/discourse/tests/unit/models/composer-test.js
  app/assets/javascripts/discourse/tests/unit/models/topic-test.js
  app/assets/javascripts/pretty-text/addon/engines/discourse-markdown-it.js
  plugins/chat/test/javascripts/acceptance/chat-composer-test.js
  plugins/chat/test/javascripts/acceptance/chat-message-test.js
  plugins/chat/test/javascripts/unit/lib/chat-emoji-reaction-store-test.js
  plugins/discourse-details/test/javascripts/acceptance/details-button-test.js
  plugins/discourse-details/test/javascripts/lib/details-cooked-test.js
  plugins/discourse-local-dates/test/javascripts/acceptance/local-dates-composer-test.js
  plugins/discourse-local-dates/test/javascripts/acceptance/local-dates-quoting-test.js
  plugins/discourse-presence/test/javascripts/acceptance/discourse-presence-test.js
Labels: chat

#18865 FIX: Allow deletion of categories when chat channel is not present
  plugins/chat/app/models/chat_channel.rb
  plugins/chat/lib/extensions/category_extension.rb
  plugins/chat/lib/guardian_extensions.rb
  plugins/chat/spec/lib/guardian_extensions_spec.rb
  plugins/chat/spec/models/category_spec.rb
  plugins/chat/spec/requests/categories_controller_spec.rb
  plugins/chat/spec/support/examples/chat_channel_model.rb
Labels: chat

#18918 FIX: makes sidebar links respect drawer mode
  plugins/chat/assets/javascripts/discourse/components/chat-live-pane.js
  plugins/chat/assets/javascripts/discourse/routes/chat-channel.js
  plugins/chat/assets/javascripts/discourse/routes/chat-index.js
  plugins/chat/assets/javascripts/discourse/routes/chat.js
  plugins/chat/assets/javascripts/discourse/services/full-page-chat.js
  plugins/chat/spec/system/navigation_spec.rb
  plugins/chat/spec/system/page_objects/chat/chat.rb
  plugins/chat/test/javascripts/unit/services/full-page-chat-test.js
Labels: chat

#18940 FIX: Migrate values before adding a not null constraint.
  plugins/chat/db/migrate/20221107034541_make_chat_editor_ids_not_null.rb
  plugins/chat/db/post_migrate/20221101071135_backfill_editing_user_ids_for_chat_messages_and_revisions.rb
Labels: chat

#18946 FIX: handles starting draft dm from sidebar
  plugins/chat/assets/javascripts/discourse/routes/chat.js
  plugins/chat/spec/system/navigation_spec.rb
  plugins/chat/spec/system/page_objects/sidebar/sidebar.rb
  plugins/chat/test/javascripts/acceptance/core-sidebar-test.js
Labels: chat

#18949 FIX: uses i18n for saved text
  plugins/chat/assets/javascripts/discourse/templates/components/chat-channel-settings-view.hbs
Labels: chat

#18879 FIX: Automatically generate category channel slugs
  app/models/category.rb
  config/locales/server.en.yml
  plugins/chat/app/controllers/chat_controller.rb
  plugins/chat/app/jobs/regular/chat_notify_mentioned.rb
  plugins/chat/app/jobs/regular/chat_notify_watching.rb
  plugins/chat/app/models/category_channel.rb
  plugins/chat/app/models/chat_channel.rb
  plugins/chat/app/models/direct_message_channel.rb
  plugins/chat/app/serializers/chat_channel_serializer.rb
  plugins/chat/assets/javascripts/discourse/initializers/chat-sidebar.js
  plugins/chat/assets/javascripts/discourse/initializers/chat-user-menu.js
  plugins/chat/assets/javascripts/discourse/lib/slugify-channel.js
  plugins/chat/assets/javascripts/discourse/routes/chat-channel.js
  plugins/chat/assets/javascripts/discourse/services/chat.js
  plugins/chat/assets/javascripts/discourse/templates/chat-channel-info.hbs
  plugins/chat/assets/javascripts/discourse/templates/components/chat-channel-card.hbs
  plugins/chat/assets/javascripts/discourse/templates/components/chat-live-pane.hbs
  plugins/chat/assets/javascripts/discourse/templates/components/topic-chat-float.hbs
  plugins/chat/assets/javascripts/discourse/widgets/chat-invitation-notification-item.js
  plugins/chat/assets/javascripts/discourse/widgets/chat-mention-notification-item.js
  plugins/chat/config/locales/server.en.yml
  plugins/chat/db/post_migrate/20221104054957_backfill_channel_slugs.rb
  plugins/chat/spec/fabricators/chat_fabricator.rb
  plugins/chat/spec/jobs/regular/chat_notify_mentioned_spec.rb
  plugins/chat/spec/jobs/regular/chat_notify_watching_spec.rb
  plugins/chat/spec/models/category_channel_spec.rb
  plugins/chat/spec/models/chat_channel_spec.rb
  plugins/chat/spec/models/direct_message_channel_spec.rb
  plugins/chat/spec/requests/chat_channel_controller_spec.rb
  plugins/chat/spec/requests/chat_controller_spec.rb
  plugins/chat/test/javascripts/chat-fixtures.js
  plugins/chat/test/javascripts/unit/lib/slugify-channel-test.js
  plugins/chat/test/javascripts/widgets/chat-invitation-notification-item-test.js
  plugins/chat/test/javascripts/widgets/chat-mention-notification-item-test.js
Labels: chat

#18951 DEV: Fix broken slug migration
  plugins/chat/db/post_migrate/20221104054957_backfill_channel_slugs.rb
Labels: chat

#18955 FIX: Deliver chat summaries when allowed groups include "everyone"
  plugins/chat/lib/chat_mailer.rb
  plugins/chat/spec/components/chat_mailer_spec.rb
Labels: chat

#18950 A11Y: Improve accessibility for saved status message
  plugins/chat/assets/javascripts/discourse/templates/components/chat-channel-settings-view.hbs
  plugins/chat/assets/stylesheets/common/chat-channel-info.scss
  plugins/chat/config/locales/client.en.yml
Labels: chat

#18966 UX: tweaks to msg actions menu
  app/assets/javascripts/discourse/tests/integration/components/select-kit/single-select-test.js
  app/assets/javascripts/select-kit/addon/components/select-kit.js
  plugins/chat/assets/javascripts/discourse/components/chat-message-actions-desktop.js
  plugins/chat/assets/javascripts/discourse/templates/components/chat-live-pane.hbs
  plugins/chat/assets/javascripts/discourse/templates/components/chat-message-actions-desktop.hbs
  plugins/chat/assets/javascripts/discourse/templates/components/chat-message.hbs
  plugins/chat/assets/stylesheets/common/chat-message.scss
Labels: chat

#18969 REFACTOR: chat-msgactions
  plugins/chat/assets/javascripts/discourse/components/chat-message-actions-desktop.js
  plugins/chat/assets/javascripts/discourse/components/chat-message-actions-mobile.js
  plugins/chat/assets/javascripts/discourse/components/chat-message.js
  plugins/chat/assets/javascripts/discourse/services/chat-emoji-picker-manager.js
  plugins/chat/assets/javascripts/discourse/templates/components/chat-message-actions-desktop.hbs
  plugins/chat/assets/javascripts/discourse/templates/components/chat-message-actions-mobile.hbs
  plugins/chat/assets/stylesheets/common/chat-message-actions.scss
  plugins/chat/assets/stylesheets/common/chat-message.scss
  plugins/chat/assets/stylesheets/desktop/chat-message-actions.scss
  plugins/chat/assets/stylesheets/desktop/chat-message.scss
  plugins/chat/assets/stylesheets/desktop/desktop.scss
  plugins/chat/assets/stylesheets/mobile/chat-message-actions.scss
  plugins/chat/assets/stylesheets/mobile/chat-message.scss
  plugins/chat/plugin.rb
  plugins/chat/test/javascripts/acceptance/chat-flagging-test.js
  plugins/chat/test/javascripts/acceptance/chat-live-pane-silenced-user-test.js
  plugins/chat/test/javascripts/acceptance/chat-live-pane-test.js
  plugins/chat/test/javascripts/acceptance/chat-message-bookmarking-test.js
  plugins/chat/test/javascripts/acceptance/chat-message-test.js
  plugins/chat/test/javascripts/acceptance/chat-move-message-to-channel-test.js
  plugins/chat/test/javascripts/acceptance/chat-quoting-test.js
  plugins/chat/test/javascripts/acceptance/chat-test.js
Labels: chat

#18961 REFACTOR: handles every chat resource as an URL
  plugins/chat/assets/javascripts/discourse/components/channels-list.js
  plugins/chat/assets/javascripts/discourse/components/chat-browse-view.js
  plugins/chat/assets/javascripts/discourse/components/chat-channel-row.js
  plugins/chat/assets/javascripts/discourse/components/chat-composer-uploads.js
  plugins/chat/assets/javascripts/discourse/components/chat-composer.js
  plugins/chat/assets/javascripts/discourse/components/chat-live-pane.js
  plugins/chat/assets/javascripts/discourse/components/chat-message-actions-desktop.js
  plugins/chat/assets/javascripts/discourse/components/direct-message-creator.js
  plugins/chat/assets/javascripts/discourse/components/topic-chat-float.js
  plugins/chat/assets/javascripts/discourse/initializers/chat-keyboard-shortcuts.js
  plugins/chat/assets/javascripts/discourse/initializers/chat-sidebar.js
  plugins/chat/assets/javascripts/discourse/routes/chat-channel.js
  plugins/chat/assets/javascripts/discourse/routes/chat.js
  plugins/chat/assets/javascripts/discourse/services/chat-preferred-mode.js
  plugins/chat/assets/javascripts/discourse/services/chat-state-manager.js
  plugins/chat/assets/javascripts/discourse/services/chat.js
  plugins/chat/assets/javascripts/discourse/services/full-page-chat.js
  plugins/chat/assets/javascripts/discourse/templates/chat-channel-index.hbs
  plugins/chat/assets/javascripts/discourse/templates/chat-channel-info.hbs
  plugins/chat/assets/javascripts/discourse/templates/components/channels-list.hbs
  plugins/chat/assets/javascripts/discourse/templates/components/chat-browse-view.hbs
  plugins/chat/assets/javascripts/discourse/templates/components/chat-channel-row.hbs
  plugins/chat/assets/javascripts/discourse/templates/components/chat-composer.hbs
  plugins/chat/assets/javascripts/discourse/templates/components/chat-draft-channel-screen.hbs
  plugins/chat/assets/javascripts/discourse/templates/components/chat-live-pane.hbs
  plugins/chat/assets/javascripts/discourse/templates/components/chat-message-actions-desktop.hbs
  plugins/chat/assets/javascripts/discourse/templates/components/full-page-chat.hbs
  plugins/chat/assets/javascripts/discourse/templates/components/topic-chat-float.hbs
  plugins/chat/assets/javascripts/discourse/widgets/chat-header-icon.js
  plugins/chat/assets/javascripts/discourse/widgets/topic-chat-button.js
  plugins/chat/assets/stylesheets/common/chat-browse.scss
  plugins/chat/assets/stylesheets/common/chat-channel-info.scss
  plugins/chat/assets/stylesheets/common/chat-channel-title.scss
  plugins/chat/assets/stylesheets/common/chat-drawer.scss
  plugins/chat/assets/stylesheets/common/common.scss
  plugins/chat/assets/stylesheets/common/direct-message-creator.scss
  plugins/chat/assets/stylesheets/desktop/chat-channel-title.scss
  plugins/chat/assets/stylesheets/desktop/desktop.scss
  plugins/chat/assets/stylesheets/mobile/chat-channel-info.scss
  plugins/chat/assets/stylesheets/mobile/chat-index.scss
  plugins/chat/assets/stylesheets/mobile/mobile.scss
  plugins/chat/assets/stylesheets/sidebar-extensions.scss
  plugins/chat/config/locales/client.en.yml
  plugins/chat/plugin.rb
  plugins/chat/spec/system/navigation_spec.rb
  plugins/chat/spec/system/page_objects/chat/chat.rb
  plugins/chat/spec/system/page_objects/chat_drawer/chat_drawer.rb
  plugins/chat/spec/system/page_objects/sidebar/sidebar.rb
  plugins/chat/test/javascripts/acceptance/chat-composer-test.js
  plugins/chat/test/javascripts/acceptance/chat-keyboard-shortcuts-test.js
  plugins/chat/test/javascripts/acceptance/chat-test.js
  plugins/chat/test/javascripts/acceptance/mobile-chat-test.js
  plugins/chat/test/javascripts/acceptance/nagivation-scenarios-test.js
  plugins/chat/test/javascripts/acceptance/user-card-chat-test.js
  plugins/chat/test/javascripts/components/chat-channel-row-test.js
  plugins/chat/test/javascripts/components/chat-channel-settings-view-test.js
  plugins/chat/test/javascripts/components/chat-message-test.js
  plugins/chat/test/javascripts/unit/services/chat-preferred-mode-test.js
  plugins/chat/test/javascripts/unit/services/chat-state-manager-test.js
  plugins/chat/test/javascripts/unit/services/full-page-chat-test.js
Labels: ⚠ DO NOT MERGE, chat

#18984 UX: adds chat section in settings and hide it in plugins
  app/assets/javascripts/admin/addon/templates/plugins-index.hbs
  plugins/chat/assets/stylesheets/common/core-extensions.scss
  plugins/chat/config/locales/client.en.yml
  plugins/chat/config/settings.yml
Labels: chat

#18983 FIX: reimplements chat audio into a service
  app/assets/javascripts/discourse-common/addon/lib/debounce.js
  app/assets/javascripts/discourse-common/addon/utils/decorators.js
  app/assets/javascripts/discourse/tests/unit/utils/decorators-test.js
  plugins/chat/assets/javascripts/discourse/controllers/preferences-chat.js
  plugins/chat/assets/javascripts/discourse/initializers/chat-audio.js
  plugins/chat/assets/javascripts/discourse/initializers/chat-notification-sounds.js
  plugins/chat/assets/javascripts/discourse/services/chat-audio-manager.js
Labels: chat

#18990 FIX: adds back recurring to send_message automation
  plugins/chat/app/models/chat_channel.rb
  plugins/chat/plugin.rb
Labels: chat

#18973 FEATURE: Replyable chat push notifications
  app/assets/javascripts/service-worker.js.erb
  public/images/push-notifications/inline_reply.png
Labels: chat

#18991 FIX: correctly highlights active channel
  plugins/chat/assets/javascripts/discourse/components/topic-chat-float.js
  plugins/chat/assets/javascripts/discourse/initializers/chat-sidebar.js
  plugins/chat/assets/stylesheets/sidebar-extensions.scss
  plugins/chat/spec/system/navigation_spec.rb
Labels: chat

#18999 FIX: ensures composer is focused after edit
  plugins/chat/assets/javascripts/discourse/components/chat-live-pane.js
Labels: chat

#18994 FIX: correctly opens drawer to message id when given
  plugins/chat/assets/javascripts/discourse/components/topic-chat-float.js
  plugins/chat/spec/system/navigation_spec.rb
Labels: chat

#19010 FIX: Allow sidebar links to register didInsert actions
  app/assets/javascripts/discourse/app/components/sidebar/section-link.hbs
  app/assets/javascripts/discourse/app/components/sidebar/section-link.js
  app/assets/javascripts/discourse/app/components/sidebar/user/sections.hbs
  app/assets/javascripts/discourse/tests/acceptance/sidebar-plugin-api-test.js
  plugins/chat/assets/javascripts/discourse/initializers/chat-sidebar.js
Labels: chat

#19011 FIX: only applies scroll position to full page
  plugins/chat/assets/javascripts/discourse/components/channels-list.js
  plugins/chat/assets/javascripts/discourse/templates/components/channels-list.hbs
Labels: chat

#19000 FIX: prevents arrow keys to bubble into parents components
  plugins/chat/assets/javascripts/discourse/components/chat-emoji-picker.js
  plugins/chat/assets/javascripts/discourse/templates/components/chat-emoji-picker.hbs
Labels: chat

#18997 FEATURE: introduces `chat_max_direct_message_users` setting
  plugins/chat/config/locales/server.en.yml
  plugins/chat/config/settings.yml
  plugins/chat/lib/direct_message_channel_creator.rb
  plugins/chat/spec/lib/direct_message_channel_creator_spec.rb
Labels: chat

#19030 UX: add channel header offset to browse page height
  plugins/chat/assets/stylesheets/common/chat-browse.scss
  plugins/chat/assets/stylesheets/common/common.scss
  plugins/chat/assets/stylesheets/desktop/desktop.scss
Labels: chat

#19038 UX: improves arrow support in chat emoji picker
  plugins/chat/assets/javascripts/discourse/components/chat-emoji-picker.js
  plugins/chat/assets/javascripts/discourse/templates/components/chat-emoji-picker.hbs
Labels: chat

#19019 DEV: Add unique ids to deprecations
  app/assets/javascripts/discourse-common/addon/config/environment.js
  app/assets/javascripts/discourse-common/addon/lib/get-owner.js
  app/assets/javascripts/discourse-common/addon/lib/icon-library.js
  app/assets/javascripts/discourse-common/addon/lib/legacy-resolver.js
  app/assets/javascripts/discourse-common/addon/resolver.js
  app/assets/javascripts/discourse-common/addon/utils/macro-alias.js
  app/assets/javascripts/discourse/app/components/bread-crumbs.js
  app/assets/javascripts/discourse/app/components/composer-message.js
  app/assets/javascripts/discourse/app/components/d-editor.js
  app/assets/javascripts/discourse/app/components/d-section.js
  app/assets/javascripts/discourse/app/components/header-extra-info.js
  app/assets/javascripts/discourse/app/components/highlight-text.js
  app/assets/javascripts/discourse/app/components/mobile-nav.js
  app/assets/javascripts/discourse/app/components/plugin-connector.js
  app/assets/javascripts/discourse/app/controllers/composer.js
  app/assets/javascripts/discourse/app/controllers/discovery/topics.js
  app/assets/javascripts/discourse/app/initializers/inject-objects.js
  app/assets/javascripts/discourse/app/initializers/jquery-plugins.js
  app/assets/javascripts/discourse/app/lib/category-hashtags.js
  app/assets/javascripts/discourse/app/lib/click-track.js
  app/assets/javascripts/discourse/app/lib/cookie.js
  app/assets/javascripts/discourse/app/lib/formatter.js
  app/assets/javascripts/discourse/app/lib/link-hashtags.js
  app/assets/javascripts/discourse/app/lib/link-mentions.js
  app/assets/javascripts/discourse/app/lib/offset-calculator.js
  app/assets/javascripts/discourse/app/lib/plugin-api.js
  app/assets/javascripts/discourse/app/lib/plugin-connectors.js
  app/assets/javascripts/discourse/app/lib/theme-selector.js
  app/assets/javascripts/discourse/app/lib/uploads.js
  app/assets/javascripts/discourse/app/lib/utilities.js
  app/assets/javascripts/discourse/app/models/composer.js
  app/assets/javascripts/discourse/app/models/nav-item.js
  app/assets/javascripts/discourse/app/models/post-stream.js
  app/assets/javascripts/discourse/app/models/site.js
  app/assets/javascripts/discourse/app/models/store.js
  app/assets/javascripts/discourse/app/models/topic.js
  app/assets/javascripts/discourse/app/models/user.js
  app/assets/javascripts/discourse/tests/helpers/qunit-helpers.js
  app/assets/javascripts/discourse/tests/setup-tests.js
  app/assets/javascripts/pretty-text/addon/engines/discourse-markdown-it.js
  app/assets/javascripts/pretty-text/addon/pretty-text.js
  app/assets/javascripts/select-kit/addon/components/select-kit.js
Labels: js-modernization

#19017 UX: redesign of chat settings + add chat retention info
  plugins/chat/app/jobs/regular/auto_join_channel_batch.rb
  plugins/chat/app/jobs/regular/auto_manage_channel_memberships.rb
  plugins/chat/assets/javascripts/discourse/components/chat-channel-settings-view.js
  plugins/chat/assets/javascripts/discourse/templates/components/chat-channel-settings-view.hbs
  plugins/chat/assets/stylesheets/common/chat-channel-info.scss
  plugins/chat/assets/stylesheets/common/chat-form.scss
  plugins/chat/assets/stylesheets/desktop/desktop.scss
  plugins/chat/config/locales/client.en.yml
Labels: chat

#19016 FEATURE: Stop hiding “allow archiving channels” setting
  plugins/chat/assets/javascripts/discourse/components/chat-browse-view.js
  plugins/chat/config/locales/server.en.yml
  plugins/chat/config/settings.yml
  plugins/chat/test/javascripts/acceptance/chat-browse-test.js
Labels: chat

#17767 Convert DButton to a Glimmer Component
  app/assets/javascripts/discourse/app/components/bulk-select-all.js
  app/assets/javascripts/discourse/app/components/composer-save-button.hbs
  app/assets/javascripts/discourse/app/components/composer-save-button.js
  app/assets/javascripts/discourse/app/components/d-button.js
  app/assets/javascripts/discourse/app/components/glimmer-component-with-deprecated-parent-view.js
  app/assets/javascripts/discourse/app/components/login-reply-button.js
  app/assets/javascripts/discourse/app/templates/components/d-button.hbs
  app/assets/javascripts/discourse/tests/integration/components/d-button-test.js
Labels: js-modernization

#19015 DEV: Convert `SiteSettings` to a tracked object
  app/assets/javascripts/discourse/app/controllers/create-account.js
  app/assets/javascripts/discourse/app/initializers/subscribe-user-notifications.js
  app/assets/javascripts/discourse/app/services/site-settings.js
  app/assets/javascripts/discourse/package.json
  app/assets/javascripts/discourse/tests/acceptance/admin-badges-show-test.js
  app/assets/javascripts/discourse/tests/helpers/site-settings.js
  app/assets/javascripts/discourse/tests/unit/services/site-settings-test.js
  app/assets/javascripts/select-kit/addon/components/mini-tag-chooser.js
  app/assets/javascripts/select-kit/addon/components/tag-chooser.js
  app/assets/javascripts/select-kit/addon/components/tag-group-chooser.js
  app/assets/javascripts/yarn.lock
Labels: js-modernization

#19093 FIX: hides user card button when current user can't DM
  plugins/chat/assets/javascripts/discourse/templates/components/user-card-chat-button.hbs
  plugins/chat/test/javascripts/components/user-card-chat-button-test.js
Labels: chat

#19116 FEATURE: Add TL1 to chat_allowed_groups by default
  plugins/chat/config/settings.yml
  plugins/chat/spec/lib/guardian_extensions_spec.rb
Labels: chat

#19111 FIX: better chat-message-actions position
  plugins/chat/assets/javascripts/discourse/components/chat-message-actions-desktop.js
  plugins/chat/assets/javascripts/discourse/templates/components/chat-message-actions-desktop.hbs
Labels: chat

#19128 FIX: enable_auto_join_users was used in create channel
  plugins/chat/assets/javascripts/discourse/components/chat-channel-settings-view.js
  plugins/chat/config/locales/client.en.yml
Labels: chat

#19136 FIX: allows to change sound when no sound was ever set
  plugins/chat/assets/javascripts/discourse/controllers/preferences-chat.js
  plugins/chat/assets/javascripts/discourse/initializers/chat-audio.js
  plugins/chat/assets/javascripts/discourse/services/chat-audio-manager.js
  plugins/chat/test/javascripts/acceptance/chat-preferences-test.js
Labels: chat

#19137 UX: ensures browse view input is focused on page load
  plugins/chat/assets/javascripts/discourse/components/chat-browse-view.js
  plugins/chat/assets/javascripts/discourse/templates/components/chat-browse-view.hbs
Labels: chat

#19077 FIX: Delete associated channel upon category deletion
  plugins/chat/db/post_migrate/20221117142910_delete_orphaned_channels.rb
  plugins/chat/lib/extensions/category_extension.rb
  plugins/chat/spec/jobs/regular/auto_manage_channel_memberships_spec.rb
  plugins/chat/spec/models/category_spec.rb
  plugins/chat/spec/requests/categories_controller_spec.rb
Labels: chat

#18919 FEATURE: Allow staff to flag chat messages
  plugins/chat/lib/guardian_extensions.rb
  plugins/chat/spec/lib/guardian_extensions_spec.rb
Labels: chat

#19146 FIX: Set chat_allowed_groups based on chat_enabled setting
  plugins/chat/db/migrate/20221122070108_save_chat_allowed_groups_site_setting.rb
Labels: chat

#19162 FEATURE: Add descriptions on hover for hashtag search results
  app/assets/javascripts/discourse/app/templates/hashtag-autocomplete.hbr
  app/services/category_hashtag_data_source.rb
  app/services/hashtag_autocomplete_service.rb
  app/services/tag_hashtag_data_source.rb
  plugins/chat/lib/chat_channel_hashtag_data_source.rb
  plugins/chat/spec/lib/chat_channel_hashtag_data_source_spec.rb
  spec/lib/pretty_text/helpers_spec.rb
Labels: chat

#19163 DEV: Fix chat_allowed_groups migration
  plugins/chat/db/migrate/20221122070108_save_chat_allowed_groups_site_setting.rb
Labels: chat

#19167 DEV: Make summary subject logic more explicit
  plugins/chat/config/locales/server.en.yml
  plugins/chat/lib/extensions/user_notifications_extension.rb
  plugins/chat/spec/mailers/user_notifications_spec.rb
Labels: chat

#19144 FIX: Experimental hashtag search result matching and limit fixes
  app/assets/stylesheets/common/components/hashtag.scss
  app/services/hashtag_autocomplete_service.rb
  app/services/tag_hashtag_data_source.rb
  config/site_settings.yml
  plugins/chat/lib/chat_channel_fetcher.rb
  plugins/chat/lib/chat_channel_hashtag_data_source.rb
  spec/services/hashtag_autocomplete_service_spec.rb
Labels: chat

#19173 FIX: Minor hashtag autocomplete fixes
  app/assets/stylesheets/common/components/hashtag.scss
  plugins/chat/lib/chat_channel_fetcher.rb
  plugins/chat/spec/lib/chat_channel_hashtag_data_source_spec.rb
Labels: chat

#19174 FIX: Push category hashtag slug match to top
  app/services/category_hashtag_data_source.rb
  app/services/hashtag_autocomplete_service.rb
  app/services/tag_hashtag_data_source.rb
  plugins/chat/lib/chat_channel_hashtag_data_source.rb
  spec/services/hashtag_autocomplete_service_spec.rb
Labels: chat

#19192 UX: alters chat icon behavior on drawer an mobile
  plugins/chat/assets/javascripts/discourse/widgets/chat-header-icon.js
  plugins/chat/spec/system/navigation_spec.rb
Labels: chat

#19195 FIX: prevents drawer error when resizing core composer
  plugins/chat/assets/javascripts/discourse/components/chat-drawer.js
Labels: chat

#19197 FIX: ensures chat sidebar is present when core sidebar is disabled
  plugins/chat/assets/javascripts/discourse/controllers/chat.js
  plugins/chat/assets/javascripts/discourse/templates/chat.hbs
  plugins/chat/spec/system/sidebars_spec.rb
Labels: chat

#19200 DEV: removes select-kit deprecation
  plugins/chat/assets/javascripts/discourse/templates/preferences/chat.hbs
Labels: chat

#19207 SECURITY: Limit chat message char length
  plugins/chat/app/controllers/incoming_chat_webhooks_controller.rb
  plugins/chat/app/models/chat_message.rb
  plugins/chat/config/locales/server.en.yml
  plugins/chat/config/settings.yml
  plugins/chat/db/post_migrate/20221117052348_truncate_chat_messages_over_max_length.rb
  plugins/chat/spec/components/chat_message_creator_spec.rb
  plugins/chat/spec/components/chat_message_updater_spec.rb
  plugins/chat/spec/requests/incoming_chat_webhooks_controller_spec.rb
Labels: chat

#19199 FIX: prevents audio from playing when appended
  plugins/chat/assets/javascripts/discourse/services/chat-audio-manager.js
Labels: chat

#19198 FIX: Unsilence users on chat message flag disagree.
  plugins/chat/app/models/reviewable_chat_message.rb
  plugins/chat/spec/models/reviewable_chat_message_spec.rb
Labels: chat

#19194 FEATURE: Deleting a user with their posts also deletes chat messages.
  app/models/reviewable_flagged_post.rb
  app/services/user_destroyer.rb
  lib/discourse_plugin_registry.rb
  lib/plugin/instance.rb
  plugins/chat/app/jobs/regular/delete_user_messages.rb
  plugins/chat/app/jobs/scheduled/delete_old_chat_messages.rb
  plugins/chat/app/services/chat_message_destroyer.rb
  plugins/chat/plugin.rb
  plugins/chat/spec/jobs/delete_old_chat_messages_spec.rb
  plugins/chat/spec/jobs/regular/delete_user_messages_spec.rb
  plugins/chat/spec/plugin_spec.rb
  plugins/chat/spec/services/chat_message_destroyer_spec.rb
  spec/lib/plugin/instance_spec.rb
  spec/models/reviewable_flagged_post_spec.rb
Labels: chat

#19225 FIX: ensures date/time don't linebreak
  plugins/chat/assets/stylesheets/common/common.scss
Labels: chat

#19227 UX: chat index UX fixes
  plugins/chat/assets/stylesheets/common/chat-index.scss
  plugins/chat/assets/stylesheets/common/common.scss
Labels: chat

#19226 DEV: skip breaking tests
  plugins/chat/test/javascripts/acceptance/chat-composer-test.js
  plugins/chat/test/javascripts/acceptance/composer-hashtag-autocomplete-test.js
Labels: chat

#19228 FIX: do not apply hover state to non capable devices
  plugins/chat/assets/stylesheets/common/common.scss
Labels: chat

#19220 DEV: Remove `Ember.TEMPLATES` and centralize template resolution rules
  app/assets/javascripts/discourse-common/addon/lib/discourse-template-map.js
  app/assets/javascripts/discourse-common/addon/lib/raw-templates.js
  app/assets/javascripts/discourse-common/addon/resolver.js
  app/assets/javascripts/discourse/app/components/reviewable-item.js
  app/assets/javascripts/discourse/app/initializers/eager-load-raw-templates.js
  app/assets/javascripts/discourse/app/initializers/populate-template-map.js
  app/assets/javascripts/discourse/app/lib/plugin-connectors.js
  app/assets/javascripts/discourse/public/assets/scripts/discourse-boot.js
  app/assets/javascripts/discourse/tests/acceptance/custom-html-template-test.js
  app/assets/javascripts/discourse/tests/acceptance/modal-test.js
  app/assets/javascripts/discourse/tests/acceptance/plugin-outlet-connector-class-test.js
  app/assets/javascripts/discourse/tests/acceptance/plugin-outlet-decorator-test.js
  app/assets/javascripts/discourse/tests/acceptance/plugin-outlet-multi-template-test.js
  app/assets/javascripts/discourse/tests/acceptance/plugin-outlet-single-template-test.js
  app/assets/javascripts/discourse/tests/helpers/qunit-helpers.js
  app/assets/javascripts/discourse/tests/helpers/template-module-helper.js
  app/assets/javascripts/discourse/tests/unit/ember/resolver-test.js
  plugins/styleguide/assets/javascripts/discourse/lib/styleguide.js
Labels: js-modernization

#19260 FIX: Show chat channel info on reviewable items
  plugins/chat/assets/javascripts/discourse/components/reviewable-chat-message.js
  plugins/chat/assets/javascripts/discourse/templates/components/reviewable-chat-message.hbs
Labels: chat

#19261 DEV: Enable `@cached` decorator for themes and plugins
  app/assets/javascripts/discourse/public/assets/scripts/module-shims.js
  plugins/chat/assets/javascripts/discourse/components/reviewable-chat-message.js
Labels: js-modernization, chat
