Repository discourse/discourse, pull requests merged in 2023-06, with the labels that each got.

#21319 FEATURE: reduce avatar sizes to 6 from 20
  app/assets/javascripts/discourse/app/lib/utilities.js
  app/assets/javascripts/discourse/tests/unit/lib/utilities-test.js
  app/assets/javascripts/discourse/tests/unit/models/report-test.js
  app/models/user_avatar.rb
  config/site_settings.yml
  lib/discourse.rb
  lib/pretty_text.rb
  lib/pretty_text/shims.js
  plugins/chat/spec/integration/post_chat_quote_spec.rb
  plugins/chat/spec/models/chat/message_spec.rb
  spec/lib/discourse_spec.rb
  spec/lib/oneboxer_spec.rb
  spec/lib/pretty_text_spec.rb
  spec/models/badge_spec.rb
  spec/models/user_avatar_spec.rb
  spec/models/user_spec.rb
  spec/requests/api/users_spec.rb
  spec/requests/user_avatars_controller_spec.rb
  spec/services/user_anonymizer_spec.rb
  spec/services/username_changer_spec.rb
Labels: chat

#21874 DEV: Use `has_no_css?` instead of `!has_css?`
  plugins/chat/spec/system/page_objects/chat/chat.rb
  plugins/chat/spec/system/page_objects/chat/chat_side_panel.rb
Labels: chat

#21854 FIX: prevents admins to be silenced
  plugins/chat/lib/chat/review_queue.rb
  plugins/chat/spec/lib/chat/review_queue_spec.rb
Labels: chat

#21875 DEV: Update checks in chat channel and thread page objects
  plugins/chat/spec/system/chat_message_onebox_spec.rb
  plugins/chat/spec/system/edited_message_spec.rb
  plugins/chat/spec/system/message_errors_spec.rb
  plugins/chat/spec/system/page_objects/chat/chat_channel.rb
  plugins/chat/spec/system/page_objects/chat/chat_thread.rb
  plugins/chat/spec/system/transcript_spec.rb
Labels: chat

#21883 Revert "DEV: Update checks in chat channel and thread page objects (#21875)"
  plugins/chat/spec/system/chat_message_onebox_spec.rb
  plugins/chat/spec/system/edited_message_spec.rb
  plugins/chat/spec/system/message_errors_spec.rb
  plugins/chat/spec/system/page_objects/chat/chat_channel.rb
  plugins/chat/spec/system/page_objects/chat/chat_thread.rb
  plugins/chat/spec/system/transcript_spec.rb
Labels: chat

#21829 DEV: Make chatMessage.cook function async
  plugins/chat/assets/javascripts/discourse/components/chat-channel.js
  plugins/chat/assets/javascripts/discourse/components/chat-thread.js
  plugins/chat/assets/javascripts/discourse/components/styleguide/chat-message.js
  plugins/chat/assets/javascripts/discourse/lib/fabricators.js
  plugins/chat/assets/javascripts/discourse/models/chat-channel.js
  plugins/chat/assets/javascripts/discourse/models/chat-message.js
  plugins/chat/assets/javascripts/discourse/models/chat-thread.js
Labels: chat

#21867 FIX: Do not add mentioned groups as mentioned users
  plugins/chat/assets/javascripts/discourse/components/chat-composer.js
Labels: chat

#21889 DEV: Update checks in chat channel and thread page objects
  plugins/chat/spec/system/chat_message_onebox_spec.rb
  plugins/chat/spec/system/edited_message_spec.rb
  plugins/chat/spec/system/message_errors_spec.rb
  plugins/chat/spec/system/page_objects/chat/chat_channel.rb
  plugins/chat/spec/system/page_objects/chat/chat_thread.rb
  plugins/chat/spec/system/page_objects/chat/components/message.rb
  plugins/chat/spec/system/transcript_spec.rb
Labels: chat

#21891 FIX: correctly resubscribe after restart
  plugins/chat/assets/javascripts/discourse/services/chat-subscriptions-manager.js
Labels: chat

#21895 DEV: Partially revert d1924c7328b6823167f2d713030b98d0176f20cf
  plugins/chat/spec/system/chat_message_onebox_spec.rb
  plugins/chat/spec/system/edited_message_spec.rb
  plugins/chat/spec/system/message_errors_spec.rb
  plugins/chat/spec/system/page_objects/chat/chat_channel.rb
  plugins/chat/spec/system/page_objects/chat/chat_thread.rb
  plugins/chat/spec/system/transcript_spec.rb
Labels: chat

#21887 UX: chat channel header icons
  plugins/chat/assets/javascripts/discourse/components/chat-full-page-header.hbs
  plugins/chat/assets/javascripts/discourse/components/chat/thread/header-unread-indicator.hbs
  plugins/chat/assets/javascripts/discourse/components/chat/thread/list-item-unread-indicator.hbs
  plugins/chat/assets/javascripts/discourse/components/chat/thread/threads-list-button.hbs
  plugins/chat/assets/stylesheets/common/base-common.scss
  plugins/chat/assets/stylesheets/common/chat-channel.scss
  plugins/chat/assets/stylesheets/common/chat-drawer.scss
  plugins/chat/assets/stylesheets/common/chat-thread-header-button.scss
  plugins/chat/assets/stylesheets/common/chat-thread-header-buttons.scss
  plugins/chat/assets/stylesheets/common/chat-thread-unread-indicator.scss
  plugins/chat/assets/stylesheets/common/index.scss
  plugins/chat/spec/system/page_objects/chat/chat_channel.rb
  plugins/chat/spec/system/page_objects/chat/chat_thread.rb
  plugins/chat/spec/system/page_objects/chat_drawer/chat_drawer.rb
Labels: chat

#21911 FIX: correctly set last message bus ids on resync
  plugins/chat/assets/javascripts/discourse/services/chat-subscriptions-manager.js
  plugins/chat/assets/javascripts/discourse/services/chat.js
Labels: chat

#21879 DEV: Amend suggested topics when user has experimental new new view
  lib/topic_query.rb
  spec/lib/topic_query_spec.rb
Labels: personalisation

#21907 FIX: simplify review community section link
  app/assets/javascripts/discourse/app/lib/sidebar/community-section.js
  app/assets/javascripts/discourse/app/lib/sidebar/user/community-section/review-section-link.js
  spec/system/custom_sidebar_sections_spec.rb
Labels: personalisation

#21943 UX: Correct educate message when there are no new topics
  app/assets/javascripts/discourse/app/controllers/discovery/topics.js
  app/assets/javascripts/discourse/tests/acceptance/new-topics-test.js
  config/locales/client.en.yml
Labels: personalisation

#21947 UX: fix greyed out add button in chat composer when focussed
  plugins/chat/assets/stylesheets/common/chat-composer-button.scss
Labels: chat

#21915 DEV: Use await when sending chat messages
  plugins/chat/assets/javascripts/discourse/components/chat-channel.js
  plugins/chat/assets/javascripts/discourse/components/chat-thread.js
Labels: chat

#21817 FEATURE: new dismiss button for combined new and unread view
  app/assets/javascripts/discourse/app/controllers/discovery/topics.js
  app/assets/javascripts/discourse/app/controllers/dismiss-new.js
  app/assets/javascripts/discourse/app/controllers/tag-show.js
  app/assets/javascripts/discourse/app/mixins/dismiss-topics.js
  app/assets/javascripts/discourse/app/models/topic.js
  app/assets/javascripts/discourse/app/templates/modal/dismiss-new.hbs
  app/controllers/topics_controller.rb
  config/locales/client.en.yml
  spec/requests/topics_controller_spec.rb
  spec/system/dismiss_topics_spec.rb
  spec/system/page_objects/modals/dismiss_new.rb
Labels: personalisation

#21825 FIX: Use a default hashtag icon color for user with no permission
  app/assets/javascripts/discourse/app/lib/hashtag-types/category.js
  app/assets/stylesheets/common/components/hashtag.scss
  plugins/chat/assets/javascripts/discourse/lib/hashtag-types/channel.js
  plugins/chat/spec/system/hashtag_autocomplete_spec.rb
  spec/system/hashtag_autocomplete_spec.rb
  spec/system/page_objects/pages/topic.rb
Labels: chat

#21946 UX: fix number cutoff in header chat indicator
  plugins/chat/assets/javascripts/discourse/components/chat-header-icon-unread-indicator.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-header-icon-unread-indicator.js
  plugins/chat/assets/stylesheets/common/base-common.scss
Labels: chat

#21967 FIX: apply chat header icon indicator style to urgent only
  plugins/chat/assets/stylesheets/common/base-common.scss
Labels: chat

#21916 FIX: Non-Interfering Backdrop Clicks
  plugins/chat/assets/javascripts/discourse/components/chat-message-actions-mobile.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-message-actions-mobile.js
Labels: chat

#21990 FIX: correctly set value on textarea interactor
  plugins/chat/assets/javascripts/discourse/components/chat-composer.js
Labels: chat

#21995 FIX: Pasting files into chat was not working
  plugins/chat/assets/javascripts/discourse/components/chat-composer.hbs
Labels: chat

#21996 UX: Allow users to filter categories in edit sidebar categories modal
  app/assets/javascripts/discourse/app/components/sidebar/categories-form-modal.hbs
  app/assets/javascripts/discourse/app/components/sidebar/categories-form-modal.js
  app/assets/stylesheets/common/base/modal.scss
  app/assets/stylesheets/common/components/sidebar-categories-form.scss
  app/assets/stylesheets/desktop/components/_index.scss
  app/assets/stylesheets/desktop/components/sidebar-categories-form.scss
  app/assets/stylesheets/mobile/components/_index.scss
  app/assets/stylesheets/mobile/components/sidebar-categories-form.scss
  config/locales/client.en.yml
  spec/system/editing_sidebar_categories_navigation_spec.rb
  spec/system/page_objects/modals/sidebar_edit_categories.rb
Labels: personalisation

#21968 FIX: Do not allow blank chat messages
  plugins/chat/app/models/chat/message.rb
  plugins/chat/spec/components/chat/message_creator_spec.rb
  plugins/chat/spec/components/chat/message_updater_spec.rb
  plugins/chat/spec/requests/chat/incoming_webhooks_controller_spec.rb
Labels: chat

#21984 UX: improves chat message long press and touch
  plugins/chat/assets/javascripts/discourse/components/chat-message-reaction.js
  plugins/chat/assets/javascripts/discourse/components/chat-message.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-message.js
  plugins/chat/assets/javascripts/discourse/modifiers/chat/on-long-press.js
  plugins/chat/assets/stylesheets/mobile/chat-message.scss
Labels: chat

#22001 FIX: prevents back history loop
  plugins/chat/assets/javascripts/discourse/routes/chat-index.js
Labels: chat

#22000 FIX: on iOS PWA prevents touch to click
  plugins/chat/assets/javascripts/discourse/modifiers/chat/on-long-press.js
Labels: chat

#22004 REVERT: makes touchstart passive
  plugins/chat/assets/javascripts/discourse/modifiers/chat/on-long-press.js
Labels: chat

#22003 FIX: prevents lightbox to close chat on escape
  plugins/chat/assets/javascripts/discourse/initializers/chat-keyboard-shortcuts.js
Labels: chat

#21934 DEV: refactor calls to message.cook when sending messages
  plugins/chat/assets/javascripts/discourse/components/chat-channel.js
  plugins/chat/assets/javascripts/discourse/components/chat-thread.js
  plugins/chat/assets/javascripts/discourse/models/chat-channel.js
  plugins/chat/assets/javascripts/discourse/models/chat-thread.js
Labels: chat

#22005 DEV: Fix and unskip flaky specs
  plugins/chat/test/javascripts/acceptance/user-status-on-mentions-test.js
Labels: chat

#22006 UI: correctly adds spacing for selection-management
  plugins/chat/assets/stylesheets/mobile/chat-selection-manager.scss
Labels: chat, CSS

#22007 DEV: disable flaky specs
  plugins/chat/test/javascripts/acceptance/user-status-on-mentions-test.js
Labels: chat

#22009 FIX: disables pointer events while showing menu
  plugins/chat/assets/javascripts/discourse/components/chat-message.js
  plugins/chat/assets/stylesheets/mobile/chat-message.scss
  plugins/chat/spec/system/reply_to_message/mobile_spec.rb
Labels: chat

#22011 DEV: fix flaky specs
  app/assets/javascripts/discourse/tests/helpers/qunit-helpers.js
  plugins/chat/test/javascripts/acceptance/user-status-on-mentions-test.js
Labels: chat

#22013 DEV: disable flaky specs
  plugins/chat/test/javascripts/acceptance/user-status-on-mentions-test.js
Labels: chat

#22021 FIX: prevents long press to hijack reaction event
  plugins/chat/assets/javascripts/discourse/components/chat-message-reaction.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-message-reaction.js
  plugins/chat/assets/javascripts/discourse/modifiers/chat/on-long-press.js
Labels: chat

#22043 FIX: various mobile optimizations
  plugins/chat/assets/javascripts/discourse/components/chat-channel.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-channel.js
  plugins/chat/assets/javascripts/discourse/components/chat-message-actions-mobile.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-message-actions-mobile.js
  plugins/chat/assets/javascripts/discourse/components/chat-message.hbs
  plugins/chat/assets/javascripts/discourse/modifiers/chat/on-long-press.js
  plugins/chat/assets/stylesheets/common/chat-message.scss
  plugins/chat/assets/stylesheets/mobile/base-mobile.scss
  plugins/chat/assets/stylesheets/mobile/chat-channel.scss
  plugins/chat/assets/stylesheets/mobile/chat-message-actions.scss
  plugins/chat/assets/stylesheets/mobile/chat-message.scss
  plugins/chat/assets/stylesheets/mobile/index.scss
  plugins/chat/spec/system/chat_message/channel_spec.rb
  plugins/chat/spec/system/chat_message/thread_spec.rb
Labels: chat

#21952 FIX: scroll top after chat activation
  plugins/chat/assets/javascripts/discourse/routes/chat.js
  plugins/chat/spec/system/list_channels/mobile_spec.rb
  plugins/chat/spec/system/reply_to_message/drawer_spec.rb
  plugins/chat/spec/system/reply_to_message/mobile_spec.rb
Labels: chat

#22033 DEV: implements styleguide for chat header icon
  plugins/chat/assets/javascripts/discourse/components/chat-header-icon.hbs
  plugins/chat/assets/javascripts/discourse/components/chat/header/icon.hbs
  plugins/chat/assets/javascripts/discourse/components/chat/header/icon.js
  plugins/chat/assets/javascripts/discourse/components/chat/header/icon/unread-indicator.hbs
  plugins/chat/assets/javascripts/discourse/components/chat/header/icon/unread-indicator.js
  plugins/chat/assets/javascripts/discourse/components/styleguide/chat-composer.js
  plugins/chat/assets/javascripts/discourse/components/styleguide/chat-header-icon.hbs
  plugins/chat/assets/javascripts/discourse/components/styleguide/chat-header-icon.js
  plugins/chat/assets/javascripts/discourse/components/styleguide/organisms/chat.hbs
  plugins/chat/assets/javascripts/discourse/widgets/chat-header-icon.js
  plugins/styleguide/assets/stylesheets/styleguide.scss
Labels: chat

#21979 UX: Spacing fix for grid items
  app/assets/stylesheets/common/base/d-image-grid.scss
Labels: CSS

#22040 UX: Chat unread indicator refactor
  app/assets/stylesheets/common/base/header.scss
  plugins/chat/assets/javascripts/discourse/components/chat-channel-unread-indicator.hbs
  plugins/chat/assets/javascripts/discourse/components/chat/header/icon/unread-indicator.hbs
  plugins/chat/assets/stylesheets/common/base-common.scss
  plugins/chat/assets/stylesheets/common/chat-index.scss
  plugins/chat/assets/stylesheets/common/chat-thread-unread-indicator.scss
  plugins/chat/assets/stylesheets/common/chat-unread-indicator.scss
  plugins/chat/assets/stylesheets/common/index.scss
  plugins/chat/assets/stylesheets/mobile/base-mobile.scss
  plugins/chat/spec/system/message_notifications_with_sidebar_spec.rb
Labels: chat

#22066 UX: Better alignment for experimental grids
  app/assets/javascripts/discourse/app/lib/columns.js
  app/assets/stylesheets/common/base/d-image-grid.scss
  config/locales/server.en.yml
  config/site_settings.yml
Labels: CSS

#21971 FIX: Backfill chat thread memberships
  plugins/chat/app/models/chat/user_chat_thread_membership.rb
  plugins/chat/db/migrate/20230607091233_backfill_thread_memberships.rb
Labels: chat

#22106 PERF: fixes multiple N+1 while loading threads
  plugins/chat/app/services/chat/lookup_channel_threads.rb
Labels: chat

#22017 DEV: group tests related to mentions
  plugins/chat/spec/components/chat/message_creator_spec.rb
  plugins/chat/spec/components/chat/message_updater_spec.rb
Labels: chat

#22101 FIX: Update sidebar to be navigation menu
  app/assets/javascripts/admin/addon/mixins/setting-component.js
  app/assets/javascripts/discourse/app/components/sidebar/anonymous/categories-section.js
  app/assets/javascripts/discourse/app/components/sidebar/anonymous/tags-section.js
  app/assets/javascripts/discourse/app/components/sidebar/user/categories-section.hbs
  app/assets/javascripts/discourse/app/components/sidebar/user/categories-section.js
  app/assets/javascripts/discourse/app/components/sidebar/user/tags-section.hbs
  app/assets/javascripts/discourse/app/components/sidebar/user/tags-section.js
  app/assets/javascripts/discourse/app/controllers/preferences/navigation-menu.js
  app/assets/javascripts/discourse/app/lib/sidebar/common/community-section/everything-section-link.js
  app/assets/javascripts/discourse/app/lib/sidebar/user/categories-section/category-section-link.js
  app/assets/javascripts/discourse/app/lib/sidebar/user/community-section/my-posts-section-link.js
  app/assets/javascripts/discourse/app/lib/sidebar/user/tags-section/tag-section-link.js
  app/assets/javascripts/discourse/app/routes/app-route-map.js
  app/assets/javascripts/discourse/app/routes/preferences-navigation-menu.js
  app/assets/javascripts/discourse/app/templates/preferences.hbs
  app/assets/javascripts/discourse/app/templates/preferences/navigation-menu.hbs
  app/assets/javascripts/discourse/tests/acceptance/sidebar-anonymous-categories-section-test.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-anonymous-tags-section-test.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-plugin-api-test.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-user-categories-section-test.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-user-tags-section-test.js
  app/assets/javascripts/discourse/tests/acceptance/user-preferences-navigation-menu-test.js
  app/controllers/admin/site_settings_controller.rb
  app/models/user.rb
  app/serializers/site_serializer.rb
  app/services/sidebar_site_settings_backfiller.rb
  config/locales/client.en.yml
  config/locales/server.en.yml
  config/routes.rb
  config/site_settings.yml
  db/migrate/20230614011312_rename_default_sidebar_categories_setting.rb
  db/migrate/20230614011419_rename_default_sidebar_tags_setting.rb
  lib/seed_data/categories.rb
  spec/lib/seed_data/categories_spec.rb
  spec/models/user_spec.rb
  spec/requests/admin/site_settings_controller_spec.rb
  spec/serializers/site_serializer_spec.rb
  spec/services/sidebar_site_settings_backfiller_spec.rb
  spec/system/editing_sidebar_categories_navigation_spec.rb
  spec/system/page_objects/pages/user_preferences_navigation_menu.rb
  spec/system/viewing_navigation_menu_preferences_spec.rb
Labels: personalisation

#21909 FEATURE: Thread indicator improvements and participants
  plugins/chat/app/controllers/chat/api/channel_threads_controller.rb
  plugins/chat/app/jobs/regular/chat/update_thread_reply_count.rb
  plugins/chat/app/models/chat/thread.rb
  plugins/chat/app/models/chat/view.rb
  plugins/chat/app/models/concerns/chat/thread_cache.rb
  plugins/chat/app/queries/chat/thread_participant_query.rb
  plugins/chat/app/serializers/chat/message_serializer.rb
  plugins/chat/app/serializers/chat/thread_original_message_serializer.rb
  plugins/chat/app/serializers/chat/thread_preview_serializer.rb
  plugins/chat/app/serializers/chat/thread_serializer.rb
  plugins/chat/app/serializers/chat/view_serializer.rb
  plugins/chat/app/services/chat/channel_view_builder.rb
  plugins/chat/app/services/chat/lookup_channel_threads.rb
  plugins/chat/app/services/chat/lookup_thread.rb
  plugins/chat/app/services/chat/publisher.rb
  plugins/chat/app/services/chat/restore_message.rb
  plugins/chat/app/services/chat/trash_message.rb
  plugins/chat/assets/javascripts/discourse/components/chat-channel.js
  plugins/chat/assets/javascripts/discourse/components/chat-message-thread-indicator.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-message-thread-indicator.js
  plugins/chat/assets/javascripts/discourse/components/chat-message.js
  plugins/chat/assets/javascripts/discourse/components/chat-user-avatar.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-user-avatar.js
  plugins/chat/assets/javascripts/discourse/components/chat/thread/participants.hbs
  plugins/chat/assets/javascripts/discourse/components/styleguide/chat-message.js
  plugins/chat/assets/javascripts/discourse/models/chat-message.js
  plugins/chat/assets/javascripts/discourse/models/chat-thread-preview.js
  plugins/chat/assets/javascripts/discourse/models/chat-thread.js
  plugins/chat/assets/javascripts/discourse/services/chat-channel-pane-subscriptions-manager.js
  plugins/chat/assets/javascripts/discourse/services/chat-pane-base-subscriptions-manager.js
  plugins/chat/assets/javascripts/discourse/services/chat-subscriptions-manager.js
  plugins/chat/assets/stylesheets/common/chat-message-thread-indicator.scss
  plugins/chat/assets/stylesheets/common/chat-message.scss
  plugins/chat/assets/stylesheets/common/chat-thread-participants.scss
  plugins/chat/assets/stylesheets/common/index.scss
  plugins/chat/assets/stylesheets/desktop/chat-message-thread-indicator.scss
  plugins/chat/assets/stylesheets/desktop/index.scss
  plugins/chat/assets/stylesheets/mobile/chat-message-thread-indicator.scss
  plugins/chat/assets/stylesheets/mobile/index.scss
  plugins/chat/config/locales/client.en.yml
  plugins/chat/lib/chat/message_creator.rb
  plugins/chat/lib/chat/message_updater.rb
  plugins/chat/spec/components/chat/message_creator_spec.rb
  plugins/chat/spec/components/chat/message_updater_spec.rb
  plugins/chat/spec/fabricators/chat_fabricator.rb
  plugins/chat/spec/jobs/regular/update_thread_reply_count_spec.rb
  plugins/chat/spec/queries/chat/thread_participant_query_spec.rb
  plugins/chat/spec/serializer/chat/chat_message_serializer_spec.rb
  plugins/chat/spec/services/chat/publisher_spec.rb
  plugins/chat/spec/services/chat/update_thread_spec.rb
  plugins/chat/spec/system/message_thread_indicator_spec.rb
  plugins/chat/spec/system/page_objects/chat/chat_channel.rb
  plugins/chat/spec/system/page_objects/chat/components/thread_indicator.rb
  plugins/chat/spec/system/reply_to_message/drawer_spec.rb
  plugins/chat/spec/system/reply_to_message/full_page_spec.rb
  plugins/chat/spec/system/reply_to_message/mobile_spec.rb
  plugins/chat/spec/system/reply_to_message/smoke_spec.rb
  plugins/chat/test/javascripts/components/chat-channel-test.js
Labels: ⚠ DO NOT MERGE, chat

#22076 FIX: rename everything link to topics
  app/assets/javascripts/discourse/app/lib/sidebar/community-section.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-anonymous-community-section-test.js
  app/assets/javascripts/discourse/tests/fixtures/session-fixtures.js
  app/assets/javascripts/discourse/tests/fixtures/site-fixtures.js
  app/models/sidebar_url.rb
  config/locales/client.ar.yml
  config/locales/client.bg.yml
  config/locales/client.bs_BA.yml
  config/locales/client.ca.yml
  config/locales/client.cs.yml
  config/locales/client.da.yml
  config/locales/client.de.yml
  config/locales/client.el.yml
  config/locales/client.en.yml
  config/locales/client.es.yml
  config/locales/client.fa_IR.yml
  config/locales/client.fi.yml
  config/locales/client.fr.yml
  config/locales/client.gl.yml
  config/locales/client.he.yml
  config/locales/client.hr.yml
  config/locales/client.hu.yml
  config/locales/client.hy.yml
  config/locales/client.id.yml
  config/locales/client.it.yml
  config/locales/client.ja.yml
  config/locales/client.ko.yml
  config/locales/client.lt.yml
  config/locales/client.lv.yml
  config/locales/client.nb_NO.yml
  config/locales/client.nl.yml
  config/locales/client.pl_PL.yml
  config/locales/client.pt.yml
  config/locales/client.pt_BR.yml
  config/locales/client.ro.yml
  config/locales/client.ru.yml
  config/locales/client.sk.yml
  config/locales/client.sl.yml
  config/locales/client.sv.yml
  config/locales/client.th.yml
  config/locales/client.tr_TR.yml
  config/locales/client.uk.yml
  config/locales/client.ur.yml
  config/locales/client.vi.yml
  config/locales/client.zh_CN.yml
  config/locales/client.zh_TW.yml
  db/migrate/20230602034711_rename_everything_to_topics_link.rb
  spec/models/sidebar_section_spec.rb
  spec/requests/sidebar_sections_controller_spec.rb
  spec/system/custom_sidebar_sections_spec.rb
  spec/system/page_objects/components/sidebar_header_dropdown.rb
  spec/system/page_objects/modals/sidebar_section_form.rb
  spec/system/viewing_sidebar_mobile_spec.rb
Labels: personalisation

#22125 UX: Hide sidebar on invites page
  app/assets/javascripts/discourse/app/mixins/disable-sidebar.js
  app/assets/javascripts/discourse/app/routes/invites-show.js
  app/assets/javascripts/discourse/app/routes/second-factor-auth.js
  app/assets/javascripts/discourse/tests/acceptance/invite-accept-test.js
  app/assets/javascripts/wizard/addon/routes/wizard.js
Labels: personalisation

#22128 FIX: Minor thread indicator issue
  plugins/chat/assets/stylesheets/common/chat-message-thread-indicator.scss
Labels: chat

#22119 FIX: allows selection of messages in threads
  plugins/chat/assets/javascripts/discourse/components/chat-channel.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-message.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-selection-manager.js
  plugins/chat/assets/javascripts/discourse/components/chat-thread.hbs
  plugins/chat/assets/javascripts/discourse/components/chat/selection-manager.hbs
  plugins/chat/assets/javascripts/discourse/components/chat/selection-manager.js
  plugins/chat/assets/javascripts/discourse/models/chat-channel.js
  plugins/chat/assets/javascripts/discourse/models/chat-thread.js
  plugins/chat/assets/javascripts/discourse/modifiers/chat/on-animation-end.js
  plugins/chat/assets/javascripts/discourse/services/chat-api.js
  plugins/chat/assets/javascripts/discourse/services/chat-channel-pane.js
  plugins/chat/assets/javascripts/discourse/services/chat-thread-pane.js
  plugins/chat/assets/stylesheets/common/chat-selection-manager.scss
  plugins/chat/assets/stylesheets/mobile/chat-selection-manager.scss
  plugins/chat/spec/system/channel_message_selection_spec.rb
  plugins/chat/spec/system/move_message_to_channel_spec.rb
  plugins/chat/spec/system/page_objects/chat/chat_channel.rb
  plugins/chat/spec/system/page_objects/chat/chat_thread.rb
  plugins/chat/spec/system/page_objects/chat/components/message.rb
  plugins/chat/spec/system/page_objects/chat/components/messages.rb
  plugins/chat/spec/system/page_objects/chat/components/selection_management.rb
  plugins/chat/spec/system/select_message/channel_spec.rb
  plugins/chat/spec/system/select_message/thread_spec.rb
  plugins/chat/spec/system/transcript_spec.rb
Labels: chat

#22023 DEV: enable plain functions as helpers in Ember
  app/assets/javascripts/discourse/package.json
  app/assets/javascripts/truth-helpers/addon/helpers/and.js
  app/assets/javascripts/truth-helpers/addon/helpers/eq.js
  app/assets/javascripts/truth-helpers/addon/helpers/gt.js
  app/assets/javascripts/truth-helpers/addon/helpers/gte.js
  app/assets/javascripts/truth-helpers/addon/helpers/includes.js
  app/assets/javascripts/truth-helpers/addon/helpers/lt.js
  app/assets/javascripts/truth-helpers/addon/helpers/lte.js
  app/assets/javascripts/truth-helpers/addon/helpers/not-eq.js
  app/assets/javascripts/truth-helpers/addon/helpers/not.js
  app/assets/javascripts/truth-helpers/addon/helpers/or.js
  app/assets/javascripts/yarn.lock
Labels: js-modernization

#22134 FIX: direct message channels can be flagged
  plugins/chat/assets/javascripts/discourse/lib/chat-message-interactor.js
  plugins/chat/spec/system/flag_message_spec.rb
Labels: chat

#22062 UX: Improve defaults shown for categories and tags section in sidebar
  app/assets/javascripts/discourse/app/components/sidebar/anonymous/categories-section.js
  app/assets/javascripts/discourse/app/components/sidebar/anonymous/tags-section.js
  app/assets/javascripts/discourse/app/components/sidebar/common/categories-section.js
  app/assets/javascripts/discourse/app/components/sidebar/common/tags-section.js
  app/assets/javascripts/discourse/app/components/sidebar/user/categories-section.hbs
  app/assets/javascripts/discourse/app/components/sidebar/user/categories-section.js
  app/assets/javascripts/discourse/app/components/sidebar/user/tags-section.hbs
  app/assets/javascripts/discourse/app/components/sidebar/user/tags-section.js
  app/assets/javascripts/discourse/app/lib/sidebar/helpers.js
  app/assets/javascripts/discourse/tests/acceptance/css-generator-test.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-anonymous-tags-section-test.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-user-categories-section-test.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-user-tags-section-test.js
  app/assets/javascripts/discourse/tests/acceptance/user-preferences-navigation-menu-test.js
  config/locales/client.en.yml
  plugins/chat/test/javascripts/acceptance/hashtag-css-generator-test.js
Labels: chat, personalisation

#22100 FEATURE: Allow users to manually track threads without replying
  app/assets/javascripts/select-kit/addon/components/dropdown-select-box/dropdown-select-box-header.js
  app/assets/javascripts/select-kit/addon/components/select-kit.js
  plugins/chat/app/controllers/chat/api/channel_threads_current_user_notifications_settings_controller.rb
  plugins/chat/app/models/chat/thread.rb
  plugins/chat/app/queries/chat/thread_unreads_query.rb
  plugins/chat/app/queries/chat/tracking_state_report_query.rb
  plugins/chat/app/serializers/chat/base_thread_membership_serializer.rb
  plugins/chat/app/services/chat/lookup_channel_threads.rb
  plugins/chat/app/services/chat/update_thread_notification_settings.rb
  plugins/chat/app/services/chat/update_user_thread_last_read.rb
  plugins/chat/assets/javascripts/discourse/components/chat/thread/header.hbs
  plugins/chat/assets/javascripts/discourse/components/chat/thread/header.js
  plugins/chat/assets/javascripts/discourse/lib/chat-notification-levels.js
  plugins/chat/assets/javascripts/discourse/models/user-chat-thread-membership.js
  plugins/chat/assets/javascripts/discourse/services/chat-api.js
  plugins/chat/assets/javascripts/discourse/services/chat-subscriptions-manager.js
  plugins/chat/assets/javascripts/select-kit/addons/components/thread-notifications-button.js
  plugins/chat/config/locales/client.en.yml
  plugins/chat/config/routes.rb
  plugins/chat/lib/chat/message_creator.rb
  plugins/chat/spec/integration/thread_replies_count_cache_accuracy_spec.rb
  plugins/chat/spec/plugin_helper.rb
  plugins/chat/spec/queries/chat/thread_unreads_query_spec.rb
  plugins/chat/spec/requests/chat/api/channel_threads_current_user_notification_settings_controller_spec.rb
  plugins/chat/spec/services/chat/lookup_channel_threads_spec.rb
  plugins/chat/spec/services/chat/update_thread_notification_settings_spec.rb
  plugins/chat/spec/services/chat/update_user_thread_last_read_spec.rb
  plugins/chat/spec/system/channel_thread_message_echoing_spec.rb
  plugins/chat/spec/system/message_thread_indicator_spec.rb
  plugins/chat/spec/system/page_objects/chat/chat_thread.rb
  plugins/chat/spec/system/page_objects/chat/chat_thread_list.rb
  plugins/chat/spec/system/page_objects/chat/components/thread_indicator.rb
  plugins/chat/spec/system/page_objects/chat/components/thread_list.rb
  plugins/chat/spec/system/single_thread_spec.rb
  plugins/chat/spec/system/thread_list/drawer_spec.rb
  plugins/chat/spec/system/thread_list/full_page_spec.rb
  plugins/chat/spec/system/thread_tracking/drawer_spec.rb
  plugins/chat/spec/system/thread_tracking/full_page_spec.rb
Labels: chat

#22139 DEV: Add classes identifying the setting on the user chat settings control groups
  plugins/chat/assets/javascripts/discourse/templates/preferences/chat.hbs
Labels: chat

#22103 DEV: Remove Discourse.redis.delete_prefixed
  app/services/random_topic_selector.rb
  lib/discourse_redis.rb
  lib/rate_limiter.rb
  plugins/chat/spec/requests/chat/incoming_webhooks_controller_spec.rb
  spec/integration/rate_limiting_spec.rb
  spec/lib/middleware/anonymous_cache_spec.rb
  spec/lib/middleware/request_tracker_spec.rb
  spec/lib/post_action_creator_spec.rb
  spec/lib/post_revisor_spec.rb
  spec/models/invite_spec.rb
  spec/models/topic_spec.rb
  spec/multisite/request_tracker_spec.rb
  spec/requests/admin/backups_controller_spec.rb
  spec/requests/application_controller_spec.rb
  spec/requests/bookmarks_controller_spec.rb
  spec/requests/groups_controller_spec.rb
  spec/requests/invites_controller_spec.rb
  spec/requests/search_controller_spec.rb
  spec/requests/session_controller_spec.rb
  spec/requests/slugs_controller_spec.rb
  spec/requests/uploads_controller_spec.rb
  spec/requests/users_controller_spec.rb
  spec/requests/users_email_controller_spec.rb
  spec/serializers/topic_view_serializer_spec.rb
Labels: ⚠ DO NOT MERGE, chat

#22132 FIX: various mobile chat improvements
  app/assets/javascripts/discourse/app/helpers/format-date.js
  app/assets/javascripts/discourse/app/lib/formatter.js
  app/assets/javascripts/discourse/tests/unit/lib/formatter-test.js
  app/assets/stylesheets/common/base/d-popover.scss
  plugins/chat/assets/javascripts/discourse/components/chat-message-actions-mobile.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-message-actions-mobile.js
  plugins/chat/assets/javascripts/discourse/components/chat-message-reaction.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-message-reaction.js
  plugins/chat/assets/javascripts/discourse/components/chat-message-thread-indicator.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-message-thread-indicator.js
  plugins/chat/assets/javascripts/discourse/components/chat-message.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-message.js
  plugins/chat/assets/javascripts/discourse/components/chat-thread.js
  plugins/chat/assets/javascripts/discourse/models/chat-message.js
  plugins/chat/assets/javascripts/discourse/modifiers/chat/on-long-press.js
  plugins/chat/assets/stylesheets/common/base-common.scss
  plugins/chat/assets/stylesheets/common/chat-message-thread-indicator.scss
  plugins/chat/assets/stylesheets/common/chat-message.scss
  plugins/chat/assets/stylesheets/desktop/base-desktop.scss
  plugins/chat/assets/stylesheets/desktop/chat-message-thread-indicator.scss
  plugins/chat/assets/stylesheets/mobile/base-mobile.scss
  plugins/chat/assets/stylesheets/mobile/chat-message.scss
  plugins/chat/assets/stylesheets/mobile/chat-thread.scss
  plugins/chat/spec/system/chat_message/channel_spec.rb
  plugins/chat/spec/system/chat_message/thread_spec.rb
  plugins/chat/spec/system/deleted_message_spec.rb
  plugins/chat/spec/system/page_objects/chat/chat_channel.rb
  plugins/chat/spec/system/page_objects/chat/components/message.rb
  plugins/chat/test/javascripts/components/chat-message-test.js
Labels: chat

#22149 FIX: css class was incorrect
  plugins/chat/assets/stylesheets/common/chat-message.scss
Labels: chat

#22150 DEV: Do not attempt to overwrite UserOption enums during autoloading
  plugins/chat/lib/chat/user_option_extension.rb
Labels: chat

#22153 FIX: correctly sets and uses has-reply class
  plugins/chat/assets/javascripts/discourse/components/chat-message.js
  plugins/chat/assets/stylesheets/common/chat-message.scss
  plugins/chat/test/javascripts/components/chat-message-test.js
Labels: chat

#22152 DEV: Namespace chat_header_indicator UserOption enum
  plugins/chat/lib/chat/user_option_extension.rb
Labels: chat

#22155 DEV: Convert d-navigation-item to glimmer
  app/assets/javascripts/discourse/app/components/d-navigation-item.hbs
  app/assets/javascripts/discourse/app/components/d-navigation-item.js
  app/assets/javascripts/discourse/app/components/user-nav.hbs
  app/assets/javascripts/discourse/app/templates/preferences.hbs
  app/assets/javascripts/discourse/app/templates/user-private-messages-group.hbs
  app/assets/javascripts/discourse/app/templates/user-private-messages-user.hbs
  app/assets/javascripts/discourse/app/templates/user/activity.hbs
  app/assets/javascripts/discourse/app/templates/user/notifications.hbs
Labels: js-modernization

#22156 DEV: Remove renderTemplate from 2fa preferences, email preferences, and new-category
  app/assets/javascripts/discourse/app/models/user.js
  app/assets/javascripts/discourse/app/routes/app-route-map.js
  app/assets/javascripts/discourse/app/routes/new-category.js
  app/assets/javascripts/discourse/app/routes/preferences-email.js
  app/assets/javascripts/discourse/app/routes/preferences-second-factor.js
  app/assets/javascripts/discourse/app/templates/preferences-second-factor.hbs
  config/routes.rb
Labels: js-modernization

#22173 DEV: more reliable thread level spec
  plugins/chat/assets/javascripts/discourse/components/chat/thread/header.hbs
  plugins/chat/assets/javascripts/discourse/components/chat/thread/header.js
  plugins/chat/spec/system/page_objects/chat/chat_thread.rb
  plugins/chat/spec/system/reply_to_message/mobile_spec.rb
  plugins/chat/spec/system/thread_tracking/full_page_spec.rb
Labels: chat

#22172 REFACTOR: <ChatMessage> component
  plugins/chat/assets/javascripts/discourse/components/chat-channel.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-channel.js
  plugins/chat/assets/javascripts/discourse/components/chat-message-info.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-message.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-message.js
  plugins/chat/assets/javascripts/discourse/components/chat-thread.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-thread.js
  plugins/chat/assets/javascripts/discourse/components/chat/message/avatar.hbs
  plugins/chat/assets/javascripts/discourse/components/chat/message/error.hbs
  plugins/chat/assets/javascripts/discourse/components/chat/message/info.hbs
  plugins/chat/assets/javascripts/discourse/components/chat/message/info.js
  plugins/chat/assets/javascripts/discourse/components/chat/message/left-gutter.hbs
  plugins/chat/assets/javascripts/discourse/components/chat/message/left-gutter.js
  plugins/chat/assets/javascripts/discourse/components/chat/message/mention-warning.hbs
  plugins/chat/assets/javascripts/discourse/components/chat/message/mention-warning.js
  plugins/chat/assets/javascripts/discourse/components/styleguide/chat-message-mention-warning.hbs
  plugins/chat/assets/javascripts/discourse/components/styleguide/chat-message-mention-warning.js
  plugins/chat/assets/javascripts/discourse/components/styleguide/chat-message.hbs
  plugins/chat/assets/javascripts/discourse/components/styleguide/organisms/chat.hbs
  plugins/chat/assets/javascripts/discourse/lib/fabricators.js
  plugins/chat/assets/javascripts/discourse/models/chat-message-mention-warning.js
  plugins/chat/assets/javascripts/discourse/modifiers/chat/later-fn.js
  plugins/chat/assets/javascripts/discourse/modifiers/chat/track-message.js
  plugins/chat/assets/javascripts/discourse/services/chat-api.js
  plugins/chat/assets/javascripts/discourse/services/chat-pane-base-subscriptions-manager.js
  plugins/chat/assets/stylesheets/common/chat-message-error.scss
  plugins/chat/assets/stylesheets/common/chat-message-mention-warning.scss
  plugins/chat/assets/stylesheets/common/chat-message.scss
  plugins/chat/assets/stylesheets/common/chat-onebox.scss
  plugins/chat/assets/stylesheets/common/chat-transcript.scss
  plugins/chat/assets/stylesheets/common/index.scss
  plugins/chat/spec/system/deleted_message_spec.rb
  plugins/chat/spec/system/move_message_to_channel_spec.rb
  plugins/chat/spec/system/page_objects/chat/chat_channel.rb
  plugins/chat/spec/system/page_objects/chat/chat_thread.rb
  plugins/chat/spec/system/page_objects/chat/components/messages.rb
  plugins/chat/test/javascripts/acceptance/user-status-on-mentions-test.js
  plugins/chat/test/javascripts/components/chat-message-avatar-test.js
  plugins/chat/test/javascripts/components/chat-message-info-test.js
  plugins/chat/test/javascripts/components/chat-message-left-gutter-test.js
  plugins/chat/test/javascripts/components/chat-message-mention-warning-test.js
  plugins/chat/test/javascripts/components/chat-message-test.js
Labels: chat

#22143 DEV: Deselect all and reset to defaults btns to edit categories modal
  app/assets/javascripts/discourse/app/components/d-modal.hbs
  app/assets/javascripts/discourse/app/components/sidebar/categories-form-modal.hbs
  app/assets/javascripts/discourse/app/components/sidebar/categories-form-modal.js
  app/assets/stylesheets/common/base/modal.scss
  app/assets/stylesheets/common/components/sidebar-categories-form.scss
  config/locales/client.en.yml
  spec/system/editing_sidebar_categories_navigation_spec.rb
  spec/system/page_objects/modals/sidebar_edit_categories.rb
Labels: personalisation

#21522 DEV: use HTML5 version of loofah
  Gemfile
  Gemfile.lock
  app/jobs/regular/pull_hotlinked_images.rb
  app/models/post_hotlinked_media.rb
  lib/cooked_post_processor.rb
  lib/oneboxer.rb
  lib/pretty_text.rb
  plugins/chat/spec/integration/post_chat_quote_spec.rb
  plugins/chat/spec/models/chat/message_spec.rb
  plugins/poll/spec/controllers/posts_controller_spec.rb
  plugins/poll/spec/lib/pretty_text_spec.rb
  spec/lib/cooked_post_processor_spec.rb
  spec/lib/oneboxer_spec.rb
  spec/lib/pretty_text_spec.rb
  spec/support/dom_matcher.rb
Labels: chat

#22202 DEV: Update chat cooked quote spec
  plugins/chat/spec/integration/post_chat_quote_spec.rb
Labels: chat

#22197 UX: Remove horizontal scroll on mobile for edit categories nav modal
  app/assets/stylesheets/common/components/sidebar-categories-form.scss
Labels: personalisation

#22182 FIX: Add aria-label attribute to cooked hashtags
  app/assets/javascripts/discourse/app/instance-initializers/hashtag-post-decorations.js
  app/assets/javascripts/discourse/app/lib/hashtag-autocomplete.js
  plugins/chat/assets/javascripts/discourse/initializers/chat-decorators.js
  plugins/chat/spec/lib/chat/channel_archive_service_spec.rb
  plugins/chat/spec/models/chat/message_spec.rb
  plugins/chat/spec/system/hashtag_autocomplete_spec.rb
  spec/lib/email/styles_spec.rb
  spec/lib/oneboxer_spec.rb
  spec/lib/pretty_text_spec.rb
  spec/system/hashtag_autocomplete_spec.rb
Labels: chat

#22174 FIX: Don't error when clicking on a custom link in community section
  app/assets/javascripts/discourse/app/components/sidebar/common/custom-section.hbs
  app/assets/javascripts/discourse/app/lib/sidebar/community-section.js
  app/assets/javascripts/discourse/app/lib/sidebar/section.js
Labels: personalisation

#21926 FEATURE: Scroll to first message when clicking date in chat
  plugins/chat/app/controllers/chat/api/channels_controller.rb
  plugins/chat/app/queries/chat/messages_query.rb
  plugins/chat/app/services/chat/channel_view_builder.rb
  plugins/chat/assets/javascripts/discourse/components/chat-channel.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-channel.js
  plugins/chat/assets/javascripts/discourse/components/chat-message-separator-date.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-message-separator-new.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-message.hbs
  plugins/chat/assets/javascripts/discourse/lib/chat-messages-manager.js
  plugins/chat/assets/javascripts/discourse/models/chat-channel.js
  plugins/chat/assets/javascripts/discourse/models/chat-message.js
  plugins/chat/assets/javascripts/discourse/services/chat-api.js
  plugins/chat/assets/stylesheets/common/chat-message-separator.scss
  plugins/chat/spec/queries/chat/messages_query_spec.rb
  plugins/chat/spec/services/chat/channel_view_builder_spec.rb
  plugins/chat/test/javascripts/components/chat-message-separator-date-test.js
Labels: chat

#22049 DEV: store user ids for different types of notifications in different hashes
  plugins/chat/lib/chat/notifier.rb
Labels: chat

#22216 FEATURE: Add input filter for editing tags in navigation menu modal
  app/assets/javascripts/discourse/app/components/sidebar/tags-form-modal.hbs
  app/assets/javascripts/discourse/app/components/sidebar/tags-form-modal.js
  app/assets/stylesheets/common/components/sidebar-tags-form.scss
  app/assets/stylesheets/mobile/components/sidebar-tags-form.scss
  config/locales/client.en.yml
  spec/system/editing_sidebar_tags_navigation_spec.rb
  spec/system/page_objects/modals/sidebar_edit_tags.rb
Labels: personalisation

#22145 FIX: update unread and new count for categories
  app/assets/javascripts/discourse/app/components/category-list-item.js
  app/assets/javascripts/discourse/app/components/category-unread.hbs
  app/assets/javascripts/discourse/app/components/parent-category-row.hbs
  app/assets/javascripts/discourse/app/components/sub-category-item.hbs
  app/assets/javascripts/discourse/app/models/category.js
  app/assets/javascripts/discourse/app/widgets/hamburger-categories.js
  app/assets/javascripts/discourse/app/widgets/hamburger-menu.js
  spec/system/category_topics_spec.rb
  spec/system/page_objects/components/category_list.rb
Labels: personalisation

#22221 UX: adds small delay before making message active
  plugins/chat/assets/javascripts/discourse/components/chat-message.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-message.js
Labels: chat

#22113 FEATURE: Export chat messages to CSV file
  app/assets/stylesheets/common/admin/admin_base.scss
  plugins/chat/app/controllers/chat/admin/export_controller.rb
  plugins/chat/assets/javascripts/discourse/components/chat/admin/export-messages.hbs
  plugins/chat/assets/javascripts/discourse/components/chat/admin/export-messages.js
  plugins/chat/assets/javascripts/discourse/services/chat-admin-api.js
  plugins/chat/assets/javascripts/discourse/templates/admin-plugins-chat.hbs
  plugins/chat/config/locales/client.en.yml
  plugins/chat/config/routes.rb
  plugins/chat/lib/chat/messages_exporter.rb
  plugins/chat/plugin.rb
  plugins/chat/spec/lib/chat/messages_exporter_spec.rb
  plugins/chat/spec/requests/admin/export_controller_spec.rb
Labels: chat

#22231 DEV: Cleanup unused chat route
  plugins/chat/config/routes.rb
Labels: chat

#22226 DEV: Update eslint/prettier
  .github/labeler.yml
  .licensee.json
  app/assets/javascripts/discourse/app/components/reviewable-item.hbs
  app/assets/stylesheets/common/base/modal.scss
  app/assets/stylesheets/common/components/sidebar-categories-form.scss
  app/assets/stylesheets/desktop/login.scss
  package.json
  plugins/chat/assets/javascripts/discourse/components/chat-message-actions-desktop.hbs
  plugins/chat/assets/stylesheets/common/chat-skeleton.scss
  yarn.lock
Labels: chat

#22242 DEV: Update ember-template-lint
  .template-lintrc.js
  app/assets/javascripts/discourse/app/components/d-button.hbs
  app/assets/javascripts/discourse/app/components/d-modal.hbs
  app/assets/javascripts/discourse/app/components/d-toggle-switch.hbs
  app/assets/javascripts/discourse/app/components/d-toggle-switch.js
  app/assets/javascripts/discourse/app/components/emoji-picker.hbs
  app/assets/javascripts/discourse/app/components/group-flair-inputs.hbs
  app/assets/javascripts/discourse/app/components/horizontal-overflow-nav.hbs
  app/assets/javascripts/discourse/app/components/search-menu/results/assistant-item.hbs
  app/assets/javascripts/discourse/app/components/search-menu/results/types.hbs
  app/assets/javascripts/discourse/package.json
  app/assets/javascripts/select-kit/addon/components/multi-select/multi-select-filter.hbs
  app/assets/javascripts/select-kit/addon/components/period-chooser/period-chooser-header.hbs
  app/assets/javascripts/select-kit/addon/components/select-kit/select-kit-filter.hbs
  app/assets/javascripts/select-kit/addon/components/selected-name.hbs
  package.json
  plugins/chat/assets/javascripts/discourse/components/chat-composer.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-emoji-picker.hbs
  yarn.lock
Labels: chat

#22255 UX: adding max height to image in chat blockquote
  plugins/chat/assets/stylesheets/common/chat-message-images.scss
Labels: chat

#22275 DEV: Skip flaky chat system tests
  plugins/chat/spec/system/message_thread_indicator_spec.rb
Labels: chat

#22224 UX: chat message thread indicator v2 design & refactor
  plugins/chat/assets/javascripts/discourse/components/chat-message-thread-indicator.hbs
  plugins/chat/assets/javascripts/discourse/components/chat/thread/participants.hbs
  plugins/chat/assets/stylesheets/common/chat-message-thread-indicator.scss
  plugins/chat/assets/stylesheets/common/chat-thread-participants.scss
  plugins/chat/assets/stylesheets/desktop/chat-message-thread-indicator.scss
  plugins/chat/assets/stylesheets/mobile/chat-message-thread-indicator.scss
Labels: chat

#22279 FIX: longer touch for active message
  plugins/chat/assets/javascripts/discourse/components/chat-message.js
Labels: chat

#22278 DEV: Introduce an `array` type for Chat contracts
  plugins/chat/lib/chat/types/array.rb
  plugins/chat/plugin.rb
  plugins/chat/spec/lib/chat/types/array_spec.rb
Labels: chat

#22252 FEATURE: new watched_precedence_over_muted setting
  app/services/post_alerter.rb
  config/locales/server.en.yml
  config/site_settings.yml
  lib/topic_query.rb
  lib/topic_query/private_message_lists.rb
  spec/lib/topic_query_spec.rb
  spec/models/tag_user_spec.rb
  spec/services/post_alerter_spec.rb
Labels: personalisation

#22282 UX: add max-width to thread indicator
  plugins/chat/assets/stylesheets/desktop/chat-message-thread-indicator.scss
Labels: chat

#22230 DEV: Cache summarization strategy results.
  app/assets/javascripts/discourse/app/components/topic-summary.js
  app/controllers/topics_controller.rb
  app/models/post.rb
  app/models/summary_section.rb
  app/services/topic_summarization.rb
  db/migrate/20230608163854_create_summary_sections_table.rb
  lib/summarization/base.rb
  plugins/chat/app/controllers/chat/api/summaries_controller.rb
  plugins/chat/spec/system/chat_summarization_spec.rb
  spec/lib/summarization/base_spec.rb
  spec/services/topic_summarization_spec.rb
  spec/support/dummy_custom_summarization.rb
  spec/system/topic_summarization_spec.rb
Labels: chat

#22298 UX: Align chat separators, increase mobile chat width
  plugins/chat/assets/stylesheets/common/chat-message-separator.scss
  plugins/chat/assets/stylesheets/mobile/chat-channel.scss
Labels: chat

#22295 UX: Use modals to edit categories and tags that appear in sidebar
  app/assets/javascripts/discourse/app/components/sidebar/user/categories-section.js
  app/assets/javascripts/discourse/app/components/sidebar/user/tags-section.js
  app/assets/javascripts/discourse/app/controllers/preferences/navigation-menu.js
  app/assets/javascripts/discourse/app/templates/preferences/navigation-menu.hbs
  app/assets/javascripts/discourse/tests/acceptance/sidebar-user-categories-section-test.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-user-tags-section-test.js
  app/assets/javascripts/discourse/tests/acceptance/user-preferences-navigation-menu-test.js
  app/models/user.rb
  app/serializers/current_user_serializer.rb
  config/locales/client.en.yml
  config/site_settings.yml
  db/migrate/20230627060104_remove_new_edit_sidebar_categories_tags_interface_groups_site_setting.rb
  spec/system/editing_sidebar_categories_navigation_spec.rb
  spec/system/editing_sidebar_tags_navigation_spec.rb
  spec/system/viewing_navigation_menu_preferences_spec.rb
Labels: personalisation

#22129 FEATURE: Conditionally change back button route for thread
  plugins/chat/assets/javascripts/discourse/components/chat-drawer/thread.js
  plugins/chat/assets/javascripts/discourse/components/chat/thread/header.hbs
  plugins/chat/assets/javascripts/discourse/components/chat/thread/header.js
  plugins/chat/assets/javascripts/discourse/initializers/chat-setup.js
  plugins/chat/assets/javascripts/discourse/routes/chat-channel-thread.js
  plugins/chat/assets/javascripts/discourse/routes/chat-channel-threads.js
  plugins/chat/assets/javascripts/discourse/services/chat-drawer-router.js
  plugins/chat/assets/javascripts/discourse/services/chat-history.js
  plugins/chat/assets/javascripts/discourse/services/chat-state-manager.js
  plugins/chat/assets/stylesheets/common/chat-thread-header.scss
  plugins/chat/spec/system/navigation_spec.rb
  plugins/chat/spec/system/page_objects/chat/chat_side_panel.rb
  plugins/chat/spec/system/page_objects/chat/chat_thread.rb
  plugins/chat/spec/system/page_objects/chat/components/thread_list.rb
  plugins/chat/spec/system/thread_tracking/full_page_spec.rb
Labels: chat

#22272 FEATURE: Sort thread list by unread threads first
  plugins/chat/app/models/chat/thread.rb
  plugins/chat/app/services/chat/lookup_channel_threads.rb
  plugins/chat/app/services/chat/lookup_thread.rb
  plugins/chat/assets/javascripts/discourse/components/chat-channel.js
  plugins/chat/assets/javascripts/discourse/components/chat/thread-list.hbs
  plugins/chat/assets/javascripts/discourse/components/chat/thread-list.js
  plugins/chat/assets/javascripts/discourse/lib/chat-threads-manager.js
  plugins/chat/assets/javascripts/discourse/models/chat-thread-preview.js
  plugins/chat/assets/javascripts/discourse/services/chat-tracking-state-manager.js
  plugins/chat/lib/chat/message_creator.rb
  plugins/chat/spec/components/chat/message_creator_spec.rb
  plugins/chat/spec/services/chat/lookup_channel_threads_spec.rb
  plugins/chat/spec/system/message_thread_indicator_spec.rb
  plugins/chat/spec/system/thread_tracking/drawer_spec.rb
  plugins/chat/spec/system/thread_tracking/full_page_spec.rb
Labels: chat

#22316 FIX: Set `Jobs::BackfillSidebarSiteSettings` cluster concurrency to 1
  app/jobs/regular/backfill_sidebar_site_settings.rb
  spec/jobs/backfill_sidebar_site_settings_spec.rb
Labels: personalisation

#22322 FIX: Chat threads mentions/user status N1
  plugins/chat/app/services/chat/lookup_channel_threads.rb
  plugins/chat/spec/requests/chat/api/channel_threads_controller_spec.rb
Labels: chat

#22324 DEV: Get rid of old chat TODOs
  plugins/chat/assets/javascripts/discourse/components/chat-channel.js
  plugins/chat/assets/javascripts/discourse/components/chat-thread.js
  plugins/chat/assets/javascripts/discourse/services/chat-api.js
  plugins/chat/assets/javascripts/discourse/services/chat-channel-pane-subscriptions-manager.js
  plugins/chat/assets/javascripts/discourse/services/chat-pane-base-subscriptions-manager.js
Labels: chat

#22323 DEV: Fix flaky thread navigation spec
  plugins/chat/spec/system/navigation_spec.rb
  plugins/chat/spec/system/page_objects/chat/chat_side_panel.rb
  spec/rails_helper.rb
Labels: chat

#22319 DEV: Use same excerpt everywhere in chat
  plugins/chat/app/models/chat/message.rb
  plugins/chat/app/models/chat/thread.rb
  plugins/chat/app/serializers/chat/thread_original_message_serializer.rb
  plugins/chat/app/serializers/chat/thread_preview_serializer.rb
  plugins/chat/spec/plugin_helper.rb
  plugins/chat/spec/system/chat/composer/channel_spec.rb
  plugins/chat/spec/system/chat_channel_spec.rb
Labels: chat

#22320 DEV: Remove AJAX usage in chat-channel model
  plugins/chat/assets/javascripts/discourse/components/chat-channel.js
  plugins/chat/assets/javascripts/discourse/models/chat-channel.js
Labels: chat

#22294 FEATURE: Track last_viewed_at datetime for channel members
  plugins/chat/app/models/chat/user_chat_channel_membership.rb
  plugins/chat/app/services/chat/channel_view_builder.rb
  plugins/chat/app/services/chat/update_user_last_read.rb
  plugins/chat/db/migrate/20230627044755_add_last_viewed_at_to_user_chat_channel_memberships.rb
  plugins/chat/spec/services/chat/channel_view_builder_spec.rb
  plugins/chat/spec/services/chat/update_user_last_read_spec.rb
Labels: chat

#22307 FEATURE: allows to enable/disable threading in UI
  plugins/chat/app/controllers/chat/api/channels_controller.rb
  plugins/chat/app/services/chat/create_category_channel.rb
  plugins/chat/app/services/chat/update_channel.rb
  plugins/chat/assets/javascripts/discourse/components/chat-channel-settings-view.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-channel-settings-view.js
  plugins/chat/assets/javascripts/discourse/controllers/create-channel.js
  plugins/chat/assets/javascripts/discourse/templates/modal/create-channel.hbs
  plugins/chat/assets/stylesheets/common/chat-channel-info.scss
  plugins/chat/assets/stylesheets/common/create-channel-modal.scss
  plugins/chat/config/locales/client.en.yml
  plugins/chat/spec/requests/chat/api/channels_controller_spec.rb
  plugins/chat/spec/services/chat/create_category_channel_spec.rb
  plugins/chat/spec/services/chat/update_channel_spec.rb
  plugins/chat/spec/system/channel_settings_page_spec.rb
  plugins/chat/spec/system/create_channel_spec.rb
  plugins/chat/spec/system/page_objects/modals/chat_channel_create.rb
Labels: chat

#22354 DEV: Skip a flaky system test
  plugins/chat/spec/system/navigation_spec.rb
Labels: chat

#22356 DEV: Try fix flaky chat navigation spec
  plugins/chat/spec/system/navigation_spec.rb
  plugins/chat/spec/system/page_objects/chat/chat_thread.rb
Labels: chat

#22343 FIX: consistent sidebar section external links
  app/assets/javascripts/discourse/app/components/sidebar/common/custom-section.hbs
  app/assets/javascripts/discourse/app/components/sidebar/more-section-link.hbs
  app/assets/javascripts/discourse/app/components/sidebar/section-link.js
  app/assets/javascripts/discourse/app/lib/sidebar/section-link.js
  app/serializers/sidebar_url_serializer.rb
  spec/system/custom_sidebar_sections_spec.rb
  spec/system/page_objects/components/sidebar.rb
Labels: personalisation
