Repository discourse/discourse, pull requests merged in 2023-11, with the labels that each got.

#24185 FIX: Further optimize mentioning groups in chat messages (part 2)
  plugins/chat/lib/chat/parsed_mentions.rb
Labels: chat

#24245 FIX: targeting chat-message-text is more reliable
  plugins/chat/spec/system/page_objects/chat/components/message.rb
Labels: chat

#24255 FIX: target chat-message-text only on secondary action
  plugins/chat/spec/system/page_objects/chat/components/message.rb
  plugins/chat/spec/system/transcript_spec.rb
Labels: chat

#24265 DEV: improves reliability of delete/restore/update specs
  plugins/chat/app/services/chat/create_message.rb
  plugins/chat/assets/javascripts/discourse/models/chat-message.js
  plugins/chat/spec/integration/thread_replies_count_cache_accuracy_spec.rb
  plugins/chat/spec/models/chat/message_spec.rb
  plugins/chat/spec/plugin_helper.rb
  plugins/chat/spec/requests/chat/api/channel_threads_controller_spec.rb
  plugins/chat/spec/system/chat_channel_spec.rb
  plugins/chat/spec/system/deleted_message_spec.rb
  plugins/chat/spec/system/message_thread_indicator_spec.rb
  plugins/chat/spec/system/page_objects/chat/components/message.rb
  plugins/chat/spec/system/reply_to_message/full_page_spec.rb
  plugins/chat/spec/system/thread_list/full_page_spec.rb
  plugins/chat/spec/system/thread_preview_spec.rb
Labels: chat

#24270 FIX: correctly handle subscriptions
  plugins/chat/assets/javascripts/discourse/components/chat-channel.js
  plugins/chat/assets/javascripts/discourse/components/chat-drawer/channel.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-drawer/thread.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-notice.js
  plugins/chat/assets/javascripts/discourse/components/chat-notices.js
  plugins/chat/assets/javascripts/discourse/components/chat-thread.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-thread.js
  plugins/chat/assets/javascripts/discourse/lib/chat-channel-subscription-manager.js
  plugins/chat/assets/javascripts/discourse/lib/chat-channel-thread-subscription-manager.js
  plugins/chat/assets/javascripts/discourse/services/chat-channel-notices-manager.js
  plugins/chat/assets/javascripts/discourse/services/chat-channel-pane-subscriptions-manager.js
  plugins/chat/assets/javascripts/discourse/services/chat-thread-pane-subscriptions-manager.js
  plugins/chat/assets/javascripts/discourse/templates/chat-channel-thread.hbs
  plugins/chat/test/javascripts/components/chat-notices-test.js
Labels: chat

#24213 DEV: Metadata update for plugin.rb
  plugins/chat/plugin.rb
Labels: chat

#24229 FIX: user got notified about a mention inside a chat message quote
  app/models/post_analyzer.rb
  app/models/post_stripper.rb
  lib/discourse_plugin_registry.rb
  lib/plugin/instance.rb
  plugins/chat/plugin.rb
  spec/models/post_stripper_spec.rb
Labels: chat

#23933 DEV: Ability to collect stats without exposing them via API
  app/assets/javascripts/discourse/app/templates/about.hbs
  app/models/about.rb
  app/models/stat.rb
  app/serializers/about_serializer.rb
  lib/discourse_plugin_registry.rb
  lib/plugin/instance.rb
  lib/statistics.rb
  plugins/chat/lib/chat/statistics.rb
  plugins/chat/plugin.rb
  plugins/chat/spec/lib/chat/statistics_spec.rb
  spec/lib/discourse_hub_spec.rb
  spec/lib/plugin/instance_spec.rb
  spec/models/about_spec.rb
  spec/requests/site_controller_spec.rb
  spec/serializers/about_serializer_spec.rb
Labels: ⚠ DO NOT MERGE, chat

#24327 DEV: Fix bookmark flaky
  plugins/chat/spec/requests/core_ext/users_controller_spec.rb
Labels: chat

#24289 DEV: remove slightly less trivial `{{action}}` usages
  app/assets/javascripts/admin/addon/components/admin-penalty-similar-users.hbs
  app/assets/javascripts/admin/addon/components/admin-report-table.hbs
  app/assets/javascripts/admin/addon/components/admin-theme-editor.hbs
  app/assets/javascripts/admin/addon/components/color-input.hbs
  app/assets/javascripts/admin/addon/components/color-input.js
  app/assets/javascripts/admin/addon/components/embeddable-host.hbs
  app/assets/javascripts/admin/addon/components/permalink-form.hbs
  app/assets/javascripts/admin/addon/components/report-filters/group.hbs
  app/assets/javascripts/admin/addon/components/report-filters/list.hbs
  app/assets/javascripts/admin/addon/components/simple-list.hbs
  app/assets/javascripts/admin/addon/components/themes-list.hbs
  app/assets/javascripts/discourse/app/components/modal/bookmark.hbs
  app/assets/javascripts/discourse/app/components/modal/create-account.hbs
  app/assets/javascripts/discourse/app/components/sidebar/edit-navigation-menu/categories-modal.hbs
  app/assets/javascripts/discourse/app/components/sidebar/edit-navigation-menu/tags-modal.hbs
  plugins/chat/assets/javascripts/discourse/components/channels-list.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-browse-view.hbs
  plugins/chat/assets/javascripts/discourse/components/chat/modal/edit-channel-name.hbs
  plugins/chat/assets/javascripts/discourse/components/chat/modal/edit-channel-name.js
  plugins/poll/assets/javascripts/discourse/components/modal/poll-ui-builder.hbs
Labels: chat

#24344 DEV: uses alphanumeric to avoid flakey specs
  plugins/chat/spec/fabricators/chat_fabricator.rb
Labels: chat

#24345 DEV: removes dead code
  plugins/chat/app/controllers/chat/chat_controller.rb
  plugins/chat/config/routes.rb
  plugins/chat/spec/requests/chat_controller_spec.rb
Labels: chat

#24346 FIX: Hide chat message header with new argument
  plugins/chat/assets/javascripts/discourse/components/chat/modal/new-message.gjs
  plugins/chat/assets/stylesheets/common/chat-modal-new-message.scss
Labels: chat

#24350 UX: do not show new-group-chat when filtering
  plugins/chat/assets/javascripts/discourse/components/chat/message-creator/channel.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/message-creator/list.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/message-creator/members-selector.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/message-creator/search.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/message-creator/user.gjs
  plugins/chat/assets/stylesheets/common/chat-message-creator.scss
  plugins/chat/spec/system/chat_message_creator_spec.rb
Labels: chat

#24330 UX: shows editing title only on settings page
  plugins/chat/assets/javascripts/discourse/components/chat-channel-settings.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-full-page-header.gjs
Labels: chat

#24364 FIX: correct online indicator for non interactive
  plugins/chat/assets/javascripts/discourse/components/chat-user-avatar.gjs
  plugins/chat/spec/plugin_helper.rb
Labels: chat

#24380 UX: shorter copy link confirmation
  plugins/chat/assets/javascripts/discourse/lib/chat-message-interactor.js
Labels: chat

#24396 FIX: Preload the right fields on categories
  plugins/chat/lib/chat/channel_fetcher.rb
Labels: chat

#23689 DEV: Adding polls, solutions, upload references and other improvements to the Discourse merger script
  script/bulk_import/discourse_merger.rb
Labels: migrations

#24410 UX: small alignment tweaks for chat thread list header
  plugins/chat/assets/stylesheets/common/chat-thread-header.scss
  plugins/chat/assets/stylesheets/mobile/chat-thread-list-header.scss
  plugins/chat/assets/stylesheets/mobile/index.scss
Labels: chat

#24405 DEV: Run QUnit tests for official Discourse themes
  .github/workflows/tests.yml
  app/assets/javascripts/discourse/testem.js
  app/models/remote_theme.rb
  config/initializers/006-mini_profiler.rb
  config/routes.rb
  lib/tasks/qunit.rake
  lib/tasks/themes.rake
Labels: platform

#24431 FIX: correctly highlights message on reply click
  plugins/chat/assets/javascripts/discourse/components/chat-channel.hbs
  plugins/chat/spec/system/chat/composer/channel_spec.rb
  plugins/chat/spec/system/page_objects/chat/components/message.rb
Labels: chat

#24455 FIX: Invalid date when sending chat message in thread
  plugins/chat/assets/javascripts/discourse/models/chat-thread.js
Labels: chat

#24461 DEV: Fix various typos
  app/assets/javascripts/discourse/app/modifiers/trap-tab.js
  app/assets/javascripts/discourse/tests/acceptance/preferences-test.js
  app/models/private_message_topic_tracking_state.rb
  app/services/base_bookmarkable.rb
  app/services/category_hashtag_data_source.rb
  plugins/chat/test/javascripts/components/chat-thread-participants-test.js
  plugins/chat/test/javascripts/unit/services/chat-emoji-picker-manager-test.js
  spec/system/admin_revamp_sidebar_navigation_spec.rb
  spec/system/flagging_post_spec.rb
Labels: chat

#24463 DEV: Remove unnecessary `js: true` options from specs
  plugins/chat/spec/system/chat/composer/channel_spec.rb
  plugins/chat/spec/system/chat/composer/thread_spec.rb
  plugins/chat/spec/system/chat_summarization_spec.rb
  spec/system/category_topics_spec.rb
  spec/system/composer/post_validation_spec.rb
  spec/system/composer/template_validation_spec.rb
  spec/system/composer_uploads_spec.rb
  spec/system/flagging_post_spec.rb
Labels: chat

#24490 UX: add height to non-highlighted mention
  plugins/chat/assets/stylesheets/common/chat-message.scss
Labels: chat

#24489 DEV: Pass the user who requested the summary to the strategy.
  app/services/topic_summarization.rb
  lib/summarization/base.rb
  plugins/chat/app/controllers/chat/api/summaries_controller.rb
  spec/support/dummy_custom_summarization.rb
Labels: chat

#23975 PERF: Cache results of Category.asyncSearch
  app/assets/javascripts/discourse/app/models/category.js
Labels: platform

#24357 DEV: Convert approve_unless_trust_level to groups
  app/serializers/reviewable_score_serializer.rb
  config/locales/server.en.yml
  config/site_settings.yml
  db/migrate/20231117182638_fill_approve_unless_allowed_groups_based_on_deprecated_settings.rb
  lib/new_post_manager.rb
  lib/site_settings/deprecated_settings.rb
  spec/integration/watched_words_spec.rb
  spec/lib/email/processor_spec.rb
  spec/lib/email/receiver_spec.rb
  spec/lib/new_post_manager_spec.rb
  spec/lib/topic_view_spec.rb
  spec/requests/posts_controller_spec.rb
  spec/system/composer/category_templates_spec.rb
  spec/system/composer/review_media_unless_trust_level_spec.rb
  spec/system/hashtag_autocomplete_spec.rb
Labels: staff-experience

#24503 FIX: relies on mention mixin for size
  plugins/chat/assets/stylesheets/common/chat-message.scss
Labels: chat

#24483 FEATURE: implements drafts for threads
  plugins/chat/app/controllers/chat/api/channels_drafts_controller.rb
  plugins/chat/app/controllers/chat/api/channels_threads_drafts_controller.rb
  plugins/chat/app/controllers/chat/chat_controller.rb
  plugins/chat/app/services/chat/upsert_draft.rb
  plugins/chat/assets/javascripts/discourse/components/chat-channel.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-channel.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-composer.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-composer.js
  plugins/chat/assets/javascripts/discourse/components/chat-thread.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-thread.hbs
  plugins/chat/assets/javascripts/discourse/components/chat/composer/channel.js
  plugins/chat/assets/javascripts/discourse/components/chat/composer/thread.js
  plugins/chat/assets/javascripts/discourse/lib/chat-channel-subscription-manager.js
  plugins/chat/assets/javascripts/discourse/models/chat-channel.js
  plugins/chat/assets/javascripts/discourse/models/chat-thread.js
  plugins/chat/assets/javascripts/discourse/services/chat-api.js
  plugins/chat/assets/javascripts/discourse/services/chat-channel-composer.js
  plugins/chat/assets/javascripts/discourse/services/chat-drafts-manager.js
  plugins/chat/assets/javascripts/discourse/services/chat-thread-composer.js
  plugins/chat/assets/javascripts/discourse/services/chat.js
  plugins/chat/config/routes.rb
  plugins/chat/db/migrate/20231110214451_adds_thread_id_to_chat_drafts.rb
  plugins/chat/plugin.rb
  plugins/chat/spec/plugin_helper.rb
  plugins/chat/spec/requests/chat/api/channels_drafts_controller_spec.rb
  plugins/chat/spec/requests/chat/api/channels_threads_drafts_controller_spec.rb
  plugins/chat/spec/requests/chat_controller_spec.rb
  plugins/chat/spec/services/chat/upsert_draft_spec.rb
  plugins/chat/spec/system/chat_composer_draft_spec.rb
  plugins/chat/test/javascripts/helpers/chat-default-pretender.js
  plugins/chat/test/javascripts/unit/services/chat-drafts-manager-test.js
Labels: chat

#24504 DEV: Convert approve_new_topics_unless_trust_level to groups
  app/serializers/reviewable_score_serializer.rb
  config/locales/server.en.yml
  config/site_settings.yml
  db/migrate/20231122152552_fill_new_topics_unless_allowed_groups_based_on_deprecated_settings.rb
  lib/new_post_manager.rb
  lib/site_settings/deprecated_settings.rb
  spec/lib/new_post_manager_spec.rb
Labels: staff-experience

#24515 DEV: Convert email_in_min_trust to groups
  config/locales/server.en.yml
  config/site_settings.yml
  db/migrate/20231122212122_fill_email_in_allowed_groups_based_on_deprecated_settings.rb
  lib/email/receiver.rb
  lib/site_settings/deprecated_settings.rb
  spec/lib/email/receiver_spec.rb
Labels: staff-experience

#24528 FIX: correctly uses private_email site setting in chat
  plugins/chat/app/views/user_notifications/chat_summary.html.erb
  plugins/chat/config/locales/server.en.yml
  plugins/chat/lib/chat/user_notifications_extension.rb
  plugins/chat/spec/mailers/user_notifications_spec.rb
Labels: chat

#23640 Refactor Wizard models
  app/assets/javascripts/discourse/tests/unit/models/wizard-field-test.js
  app/assets/javascripts/wizard/addon/components/homepage-preview.js
  app/assets/javascripts/wizard/addon/components/image-preview-logo-small.js
  app/assets/javascripts/wizard/addon/components/image-preview-logo.js
  app/assets/javascripts/wizard/addon/components/styling-preview.js
  app/assets/javascripts/wizard/addon/components/wizard-field-dropdown.js
  app/assets/javascripts/wizard/addon/components/wizard-field-image.js
  app/assets/javascripts/wizard/addon/components/wizard-field.hbs
  app/assets/javascripts/wizard/addon/components/wizard-preview-base.js
  app/assets/javascripts/wizard/addon/components/wizard-step.hbs
  app/assets/javascripts/wizard/addon/components/wizard-step.js
  app/assets/javascripts/wizard/addon/controllers/wizard-step.js
  app/assets/javascripts/wizard/addon/mixins/valid-state.js
  app/assets/javascripts/wizard/addon/models/step.js
  app/assets/javascripts/wizard/addon/models/wizard-field.js
  app/assets/javascripts/wizard/addon/models/wizard.js
  app/assets/javascripts/wizard/addon/routes/wizard.js
Labels: js-modernization

#24536 FIX: prevents input to reset at wrong moment
  plugins/chat/assets/javascripts/discourse/components/chat-channel.gjs
Labels: chat

#24540 FIX: nullifies target message id when not readable
  plugins/chat/app/services/chat/list_channel_messages.rb
  plugins/chat/spec/services/chat/list_channel_messages_spec.rb
Labels: chat

#24552 DEV: Consistently use kebab-case in service lookups
  app/assets/javascripts/discourse/app/instance-initializers/admin-sidebar.js
  plugins/chat/test/javascripts/components/chat-channel-test.js
  plugins/chat/test/javascripts/components/chat-notices-test.js
Labels: chat

#24554 UX: fix new group chat cancel i18n label
  plugins/chat/assets/javascripts/discourse/components/chat/message-creator/new-group.gjs
Labels: chat

#24325 FEATURE: Add threads support to chat archives
  plugins/chat/assets/javascripts/lib/discourse-markdown/chat-transcript.js
  plugins/chat/assets/stylesheets/common/chat-transcript.scss
  plugins/chat/config/locales/client.en.yml
  plugins/chat/config/locales/server.en.yml
  plugins/chat/lib/chat/channel_archive_service.rb
  plugins/chat/lib/chat/transcript_service.rb
  plugins/chat/spec/lib/chat/channel_archive_service_spec.rb
  plugins/chat/spec/lib/chat/transcript_service_spec.rb
Labels: chat

#24582 DEV: Fix `no-extra-boolean-cast` lint
  app/assets/javascripts/discourse-markdown-it/src/engine.js
  app/assets/javascripts/discourse/app/controllers/full-page-search.js
  app/assets/javascripts/discourse/app/services/store.js
  app/assets/javascripts/pretty-text/addon/emoji.js
  plugins/chat/assets/javascripts/lib/discourse-markdown/chat-transcript.js
Labels: chat

#24583 DEV: Fix `super` calls in native chat classes
  plugins/chat/assets/javascripts/discourse/components/channels-list.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-browse-view.js
  plugins/chat/assets/javascripts/discourse/components/chat-channel-message-emoji-picker.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-vh.js
  plugins/chat/assets/javascripts/discourse/components/chat/modal/create-channel.js
  plugins/chat/assets/javascripts/discourse/services/chat-audio-manager.js
Labels: chat

#24584 DEV: Remove unnecessary `await settled()`
  plugins/chat/test/javascripts/components/chat-composer-uploads-test.js
Labels: chat

#24585 DEV: Fix "no-setter-return" lint
  app/assets/javascripts/admin/addon/components/admin-theme-editor.js
  app/assets/javascripts/admin/addon/components/email-styles-editor.js
  app/assets/javascripts/admin/addon/components/embedding-setting.js
  app/assets/javascripts/admin/addon/components/site-settings/bool.js
  app/assets/javascripts/admin/addon/components/webhook-event-chooser.js
  app/assets/javascripts/admin/addon/models/api-key.js
  app/assets/javascripts/discourse/app/models/topic.js
  app/assets/javascripts/discourse/app/services/composer.js
  plugins/chat/assets/javascripts/discourse/models/chat-message.js
Labels: chat

#24578 DEV: Use staged user check instead
  lib/email/receiver.rb
  lib/new_post_manager.rb
  plugins/poll/spec/controllers/posts_controller_spec.rb
  spec/lib/email/receiver_spec.rb
Labels: staff-experience

#24607 DEV: Skip flaky chat transcript specs
  plugins/chat/spec/lib/chat/channel_archive_service_spec.rb
  plugins/chat/spec/lib/chat/transcript_service_spec.rb
Labels: chat

#24604 DEV: refactor flag message
  plugins/chat/app/controllers/chat/api/channels_messages_flags_controller.rb
  plugins/chat/app/controllers/chat/chat_controller.rb
  plugins/chat/app/services/chat/flag_message.rb
  plugins/chat/assets/javascripts/discourse/lib/chat-message-flag.js
  plugins/chat/assets/javascripts/discourse/lib/chat-message-interactor.js
  plugins/chat/assets/javascripts/discourse/services/chat-api.js
  plugins/chat/config/routes.rb
  plugins/chat/spec/requests/chat/api/channels_messages_flags_controller_spec.rb
  plugins/chat/spec/requests/chat_controller_spec.rb
  plugins/chat/spec/services/chat/flag_message_spec.rb
Labels: chat

#24623 DEV: update syntax tree to latest
  Gemfile.lock
  app/controllers/admin/api_controller.rb
  app/jobs/scheduled/clean_up_uploads.rb
  app/models/api_key.rb
  app/models/bookmark.rb
  app/models/category.rb
  app/models/email_token.rb
  app/models/external_upload_stub.rb
  app/models/notification.rb
  app/models/post.rb
  app/models/remote_theme.rb
  app/models/tag.rb
  app/models/tag_user.rb
  app/models/theme.rb
  app/models/theme_field.rb
  app/models/topic.rb
  app/models/topic_timer.rb
  app/models/user.rb
  app/models/user_badge.rb
  app/models/user_custom_field.rb
  app/models/watched_word.rb
  plugins/chat/app/models/chat/channel.rb
  plugins/chat/app/models/chat/message.rb
  plugins/chat/app/models/chat/thread.rb
  spec/lib/backup_restore/s3_backup_store_spec.rb
  spec/lib/inline_oneboxer_spec.rb
  spec/lib/middleware/request_tracker_spec.rb
  spec/lib/new_post_manager_spec.rb
  spec/lib/plugin/instance_spec.rb
  spec/lib/post_destroyer_spec.rb
  spec/lib/s3_inventory_spec.rb
  spec/models/report_spec.rb
  spec/models/topic_user_spec.rb
  spec/requests/topics_controller_spec.rb
  spec/services/user_silencer_spec.rb
Labels: chat

#24012 DEV: Fix router linting errors
  app/assets/javascripts/admin/addon/routes/admin-route-map.js
  app/assets/javascripts/discourse/app/routes/app-route-map.js
  app/assets/javascripts/discourse/app/routes/topic-by-slug-or-id.js
Labels: js-modernization

#24009 DEV: Fix `ember/no-private-routing-service`
  app/assets/javascripts/discourse/app/helpers/route-action.js
  app/assets/javascripts/discourse/app/instance-initializers/auth-complete.js
  app/assets/javascripts/discourse/app/instance-initializers/clean-dom-on-route-change.js
  app/assets/javascripts/discourse/app/instance-initializers/page-tracking.js
  app/assets/javascripts/discourse/app/instance-initializers/subscribe-user-notifications.js
  app/assets/javascripts/discourse/app/lib/push-notifications.js
  app/assets/javascripts/discourse/app/lib/url.js
  app/assets/javascripts/discourse/app/mixins/scrolling.js
  app/assets/javascripts/discourse/app/widgets/link.js
  app/assets/javascripts/discourse/tests/acceptance/auth-complete-test.js
  app/assets/javascripts/discourse/tests/acceptance/user-private-messages-test.js
  spec/system/viewing_user_private_messages_spec.rb
Labels: js-modernization

#24629 DEV: Fix "ember/no-empty-glimmer-component-classes" lint
  app/assets/javascripts/admin/addon/components/admin-plugins-list.gjs
  app/assets/javascripts/admin/addon/components/dashboard-new-feature-item.gjs
  app/assets/javascripts/discourse/app/components/glimmer-component-with-deprecated-parent-view.js
  app/assets/javascripts/discourse/app/components/passkey-login-button.gjs
  app/assets/javascripts/discourse/tests/integration/component-templates-test.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-composer-message-details.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-drawer/header/close-button.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-emoji-avatar.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-message-separator-new.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-side-panel-resizer.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/composer/button.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/composer/separator.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/form/row.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/message-creator/list-action.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/message-creator/member.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/message/avatar.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/message/error.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/scroll-to-bottom-arrow.gjs
  plugins/chat/assets/javascripts/discourse/components/styleguide/organisms/chat.gjs
  plugins/styleguide/assets/javascripts/discourse/components/dummy-component.gjs
  plugins/styleguide/assets/javascripts/discourse/components/styleguide/component.js
  plugins/styleguide/assets/javascripts/discourse/components/styleguide/controls.js
  plugins/styleguide/assets/javascripts/discourse/components/styleguide/controls/toggle.js
Labels: chat

#24631 FIX: leaving a group channel should destroy membership
  plugins/chat/app/controllers/chat/api/channels_current_user_membership_controller.rb
  plugins/chat/app/controllers/chat/api/channels_current_user_membership_follows_controller.rb
  plugins/chat/app/services/chat/leave_channel.rb
  plugins/chat/app/services/chat/unfollow_channel.rb
  plugins/chat/assets/javascripts/discourse/components/chat-channel-row.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-channel-settings.gjs
  plugins/chat/assets/javascripts/discourse/components/toggle-channel-membership-button.gjs
  plugins/chat/assets/javascripts/discourse/initializers/chat-sidebar.js
  plugins/chat/assets/javascripts/discourse/routes/chat-channel-decorator.js
  plugins/chat/assets/javascripts/discourse/services/chat-api.js
  plugins/chat/assets/javascripts/discourse/services/chat-channels-manager.js
  plugins/chat/config/locales/client.en.yml
  plugins/chat/config/routes.rb
  plugins/chat/spec/requests/chat/api/channels_current_user_membership_controller_spec.rb
  plugins/chat/spec/requests/chat/api/channels_current_user_membership_follows_controller_spec.rb
  plugins/chat/spec/services/chat/leave_channel_spec.rb
  plugins/chat/spec/services/chat/unfollow_channel_spec.rb
  plugins/chat/spec/system/channel_settings_page_spec.rb
Labels: chat

#24645 UX: chat leave info
  plugins/chat/assets/javascripts/discourse/components/chat-channel-settings.gjs
  plugins/chat/assets/stylesheets/common/chat-channel-settings.scss
  plugins/chat/config/locales/client.en.yml
Labels: chat

#24651 FIX: correctly show "chat with" and not "chat in" for users
  plugins/chat/assets/javascripts/discourse/initializers/chat-sidebar.js
Labels: chat

#24653 FIX: show leave channel notice only on group channels
  plugins/chat/assets/javascripts/discourse/components/chat-channel-settings.gjs
Labels: chat

#24652 DEV: correctly uses link to message endpoint in spec
  plugins/chat/assets/javascripts/discourse/initializers/chat-sidebar.js
  plugins/chat/spec/system/chat_channel_spec.rb
  plugins/chat/spec/system/sidebar_navigation_menu_spec.rb
Labels: chat

#24650 FIX: disables tooltip on desktop message menu’s reaction
  plugins/chat/assets/javascripts/discourse/components/chat-message-actions-desktop.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-message-reaction.gjs
Labels: chat
