Repository discourse/discourse, pull requests merged in 2023-09, with the labels that each got.

#23353 DEV: Delete unused site settings
  db/migrate/20230831153649_delete_unused_site_settings.rb
Labels: staff-experience

#23362 FIX: closes chat emoji picker on body scroll
  plugins/chat/assets/javascripts/discourse/components/chat-channel-message-emoji-picker.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-channel-message-emoji-picker.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-emoji-picker.hbs
Labels: chat

#23238 DEV: Use Notice API for mention warnings
  plugins/chat/app/services/chat/publisher.rb
  plugins/chat/assets/javascripts/discourse/components/chat-message.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-notice.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-notice.js
  plugins/chat/assets/javascripts/discourse/components/chat-notices.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-notices.js
  plugins/chat/assets/javascripts/discourse/components/chat/message/mention-warning.hbs
  plugins/chat/assets/javascripts/discourse/components/chat/message/mention-warning.js
  plugins/chat/assets/javascripts/discourse/components/chat/notices/mention_without_membership.hbs
  plugins/chat/assets/javascripts/discourse/components/chat/notices/mention_without_membership.js
  plugins/chat/assets/javascripts/discourse/components/styleguide/chat-message-mention-warning.hbs
  plugins/chat/assets/javascripts/discourse/components/styleguide/chat-message-mention-warning.js
  plugins/chat/assets/javascripts/discourse/lib/fabricators.js
  plugins/chat/assets/javascripts/discourse/models/chat-message-mention-warning.js
  plugins/chat/assets/javascripts/discourse/models/chat-notice.js
  plugins/chat/assets/javascripts/discourse/services/chat-channel-pane-subscriptions-manager.js
  plugins/chat/assets/javascripts/discourse/services/chat-pane-base-subscriptions-manager.js
  plugins/chat/assets/stylesheets/common/chat-message-mention-warning.scss
  plugins/chat/assets/stylesheets/common/index.scss
  plugins/chat/config/locales/client.en.yml
  plugins/chat/config/locales/server.en.yml
  plugins/chat/lib/chat/notifier.rb
  plugins/chat/spec/components/chat/message_creator_spec.rb
  plugins/chat/spec/lib/chat/notifier_spec.rb
  plugins/chat/spec/system/jit_messages_spec.rb
  plugins/chat/test/javascripts/components/chat-message-mention-warning-test.js
  plugins/chat/test/javascripts/components/chat-notices-test.js
Labels: chat

#23370 UX: hides header's unread indicator on full page
  plugins/chat/assets/javascripts/discourse/components/chat/header/icon.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/header/icon.hbs
  plugins/chat/assets/javascripts/discourse/components/chat/header/icon/unread-indicator.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/header/icon/unread-indicator.hbs
  plugins/chat/test/javascripts/components/chat-header-icon-test.js
Labels: chat

#22836 DEV: Don't try to track status of deleted users
  plugins/chat/assets/javascripts/discourse/initializers/chat-sidebar.js
  plugins/chat/config/locales/client.en.yml
Labels: chat

#23386 UX: lower z-index
  plugins/chat/assets/stylesheets/common/chat-side-panel-resizer.scss
Labels: chat

#23332 DEV: Include context question for chat reviewables
  app/assets/javascripts/discourse/app/components/reviewable-item.hbs
  app/assets/javascripts/discourse/app/components/reviewable-item.js
  app/assets/javascripts/discourse/app/models/reviewable.js
  app/serializers/reviewable_flagged_post_serializer.rb
  app/serializers/reviewable_serializer.rb
  config/locales/client.en.yml
  plugins/chat/app/serializers/chat/reviewable_message_serializer.rb
  plugins/chat/config/locales/client.en.yml
  spec/serializers/reviewable_flagged_post_serializer_spec.rb
  spec/serializers/reviewable_serializer_spec.rb
Labels: chat

#23093 DEV: Convert `login` modal to component-based API
  app/assets/javascripts/discourse/app/components/login-modal.js
  app/assets/javascripts/discourse/app/components/modal/login.hbs
  app/assets/javascripts/discourse/app/components/modal/login.js
  app/assets/javascripts/discourse/app/components/modal/login/footer.hbs
  app/assets/javascripts/discourse/app/components/modal/login/local-login-form.hbs
  app/assets/javascripts/discourse/app/components/modal/login/local-login-form.js
  app/assets/javascripts/discourse/app/components/modal/login/welcome-header.hbs
  app/assets/javascripts/discourse/app/controllers/create-account.js
  app/assets/javascripts/discourse/app/controllers/login.js
  app/assets/javascripts/discourse/app/instance-initializers/auth-complete.js
  app/assets/javascripts/discourse/app/routes/application.js
  app/assets/javascripts/discourse/app/services/modal.js
  app/assets/javascripts/discourse/app/templates/mobile/modal/login.hbs
  app/assets/javascripts/discourse/app/templates/modal/login.hbs
  app/assets/javascripts/discourse/tests/acceptance/create-account-from-login-test.js
  app/assets/javascripts/discourse/tests/acceptance/login-with-email-test.js
  app/assets/javascripts/discourse/tests/acceptance/modal-legacy-test.js
  app/assets/javascripts/discourse/tests/acceptance/modal/login-test.js
Labels: js-modernization

#23135 A11Y: Ensure you can tab to submit on 2FA modal
  app/assets/javascripts/discourse/app/components/modal/login.hbs
  app/assets/javascripts/discourse/app/components/modal/login.js
  app/assets/javascripts/discourse/app/components/modal/login/footer.hbs
  app/assets/javascripts/discourse/app/components/second-factor-input.hbs
  app/assets/javascripts/discourse/tests/acceptance/modal/login/login-test.js
  app/assets/javascripts/discourse/tests/acceptance/modal/login/login-with-email-and-hide-email-address-taken-test.js
  app/assets/javascripts/discourse/tests/acceptance/modal/login/login-with-email-and-no-social-logins-test.js
  app/assets/javascripts/discourse/tests/acceptance/modal/login/login-with-email-disabled-test.js
  app/assets/javascripts/discourse/tests/acceptance/modal/login/login-with-email-test.js
Labels: ⚠ DO NOT MERGE

#22390 DEV: Migrate `Chat::MessageCreator` to a service
  plugins/chat/app/controllers/chat/api/channel_messages_controller.rb
  plugins/chat/app/controllers/chat/chat_controller.rb
  plugins/chat/app/controllers/chat/incoming_webhooks_controller.rb
  plugins/chat/app/models/chat/message.rb
  plugins/chat/app/policies/chat/channel/message_creation_policy.rb
  plugins/chat/app/services/chat/action/publish_and_follow_direct_message_channel.rb
  plugins/chat/app/services/chat/create_message.rb
  plugins/chat/app/services/service/base.rb
  plugins/chat/config/routes.rb
  plugins/chat/lib/chat/channel_fetcher.rb
  plugins/chat/lib/chat/message_creator.rb
  plugins/chat/lib/chat/message_mover.rb
  plugins/chat/lib/discourse_dev/category_channel.rb
  plugins/chat/lib/discourse_dev/message.rb
  plugins/chat/lib/discourse_dev/thread.rb
  plugins/chat/plugin.rb
  plugins/chat/spec/components/chat/message_creator_spec.rb
  plugins/chat/spec/fabricators/chat_fabricator.rb
  plugins/chat/spec/integration/thread_replies_count_cache_accuracy_spec.rb
  plugins/chat/spec/mailers/user_notifications_spec.rb
  plugins/chat/spec/plugin_helper.rb
  plugins/chat/spec/policies/chat/channel/message_creation_policy_spec.rb
  plugins/chat/spec/requests/chat/api/messages_controller_spec.rb
  plugins/chat/spec/requests/chat/incoming_webhooks_controller_spec.rb
  plugins/chat/spec/requests/chat_controller_spec.rb
  plugins/chat/spec/services/actions/publish_and_follow_direct_message_channel_spec.rb
  plugins/chat/spec/services/chat/create_message_spec.rb
Labels: chat, 3.2

#23280 FIX: Do not consider code-blocks when parsing mentions
  app/assets/javascripts/discourse/app/lib/mentions-parser.js
  app/assets/javascripts/discourse/app/lib/plugin-api.js
  app/assets/javascripts/discourse/app/lib/text.js
  app/assets/javascripts/discourse/tests/unit/lib/text-test.js
  app/assets/javascripts/pretty-text/addon/pretty-text.js
  plugins/chat/assets/javascripts/discourse/models/chat-message.js
  plugins/chat/assets/javascripts/discourse/services/chat-composer-warnings-tracker.js
  plugins/chat/test/javascripts/acceptance/mentions-test.js
Labels: chat

#23005 DEV: introduce Embroider behind a flag, and start testing in CI
  .github/workflows/tests.yml
  app/assets/javascripts/discourse/app/instance-initializers/auth-complete.js
  app/assets/javascripts/discourse/ember-cli-build.js
  app/assets/javascripts/discourse/package.json
  app/assets/javascripts/discourse/tests/index.html
  app/assets/javascripts/patches/@ember+legacy-built-in-components+0.4.2.patch
  app/assets/javascripts/yarn.lock
  app/views/qunit/theme.html.erb
  script/check_reproducible_assets.rb
  spec/requests/qunit_controller_spec.rb
Labels: js-modernization

#23459 UX: popping animation for adding users
  plugins/chat/assets/stylesheets/common/chat-message-creator.scss
Labels: chat

#23478 FIX: ensures automation can send chat message
  plugins/chat/plugin.rb
Labels: chat

#23471 DEV: Convert `raw-email` modal to component-based API
  app/assets/javascripts/discourse/app/components/modal/raw-email.hbs
  app/assets/javascripts/discourse/app/components/modal/raw-email.js
  app/assets/javascripts/discourse/app/components/reviewable-queued-post.js
  app/assets/javascripts/discourse/app/controllers/raw-email.js
  app/assets/javascripts/discourse/app/routes/topic.js
  app/assets/javascripts/discourse/app/services/modal.js
  app/assets/javascripts/discourse/app/templates/modal/raw-email.hbs
Labels: js-modernization

#23378 DEV: convert grant badge modal to component API
  app/assets/javascripts/discourse/app/components/modal/grant-badge.hbs
  app/assets/javascripts/discourse/app/components/modal/grant-badge.js
  app/assets/javascripts/discourse/app/controllers/grant-badge.js
  app/assets/javascripts/discourse/app/routes/topic.js
  app/assets/javascripts/discourse/app/templates/modal/grant-badge.hbs
  spec/fabricators/badge_fabricator.rb
  spec/system/grant_badge_spec.rb
  spec/system/page_objects/modals/badge.rb
  spec/system/page_objects/pages/topic.rb
Labels: js-modernization

#23436 UX: implements swipe on row channel
  plugins/chat/assets/javascripts/discourse/components/channels-list.hbs
  plugins/chat/assets/javascripts/discourse/components/channels-list.js
  plugins/chat/assets/javascripts/discourse/components/chat-channel-row.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-channel-row.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-channel-row.js
  plugins/chat/assets/javascripts/discourse/components/chat-message.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-message.hbs
  plugins/chat/assets/stylesheets/common/chat-channel-row.scss
  plugins/chat/assets/stylesheets/common/chat-index.scss
  plugins/chat/assets/stylesheets/common/index.scss
  plugins/chat/assets/stylesheets/mobile/chat-channel-row.scss
  plugins/chat/assets/stylesheets/mobile/chat-index.scss
  plugins/chat/assets/stylesheets/mobile/index.scss
  plugins/chat/config/locales/client.en.yml
  plugins/chat/spec/system/list_channels/mobile_spec.rb
Labels: chat

#23508 FIX: ensures swipe works with scroll
  plugins/chat/assets/javascripts/discourse/components/chat-channel-row.gjs
Labels: chat

#23537 FIX: chat layout shift when loading videos
  plugins/chat/assets/javascripts/discourse/components/chat-upload.hbs
Labels: chat

#23544 DEV: Remove decorateCookedElement id parameters
  app/assets/javascripts/discourse/app/instance-initializers/animated-images-pause-on-click.js
  app/assets/javascripts/discourse/app/instance-initializers/codeblock-buttons.js
  app/assets/javascripts/discourse/app/instance-initializers/hashtag-post-decorations.js
  app/assets/javascripts/discourse/app/instance-initializers/image-aspect-ratio.js
  app/assets/javascripts/discourse/app/instance-initializers/onebox-decorators.js
  app/assets/javascripts/discourse/app/instance-initializers/post-decorations.js
  app/assets/javascripts/discourse/app/lib/lazy-load-images.js
  app/assets/javascripts/discourse/app/widgets/decorator-helper.js
  app/assets/javascripts/discourse/tests/acceptance/topic-post-decorate-cooked-test.js
  plugins/chat/assets/javascripts/discourse/initializers/chat-setup.js
  plugins/checklist/assets/javascripts/discourse/initializers/checklist.js
  plugins/discourse-lazy-videos/assets/javascripts/initializers/lazy-videos.js
  plugins/discourse-local-dates/assets/javascripts/initializers/discourse-local-dates.js
  plugins/poll/assets/javascripts/discourse/initializers/extend-for-poll.js
Labels: chat

#23480 DEV: Show separate error message for backup uploads
  app/assets/javascripts/discourse/app/lib/uploads.js
  app/assets/javascripts/discourse/tests/unit/lib/uploads-test.js
  config/locales/client.en.yml
Labels: staff-experience

#23527 DEV: Raise an error in test env when I18n interpolate argument is missing
  app/assets/javascripts/discourse/app/components/d-lightbox.hbs
  app/assets/javascripts/discourse/app/components/d-lightbox/screen-reader-announcer.hbs
  app/assets/javascripts/discourse/app/components/group-post.js
  app/assets/javascripts/discourse/app/components/modal/history.js
  app/assets/javascripts/discourse/app/components/modal/history/topic-footer.hbs
  app/assets/javascripts/discourse/tests/fixtures/group-fixtures.js
  app/assets/javascripts/discourse/tests/helpers/qunit-helpers.js
  app/assets/javascripts/discourse/tests/unit/lib/i18n-test.js
  app/assets/javascripts/locales/i18n.js
  app/assets/javascripts/select-kit/addon/components/notifications-filter.js
  plugins/chat/test/javascripts/acceptance/mentions-test.js
Labels: chat

#23560 DEV: Update discourse-local-dates to new Modal API
  plugins/chat/assets/javascripts/discourse/components/chat-composer.js
  plugins/discourse-local-dates/assets/javascripts/discourse/components/modal/local-dates-create.hbs
  plugins/discourse-local-dates/assets/javascripts/discourse/components/modal/local-dates-create.js
  plugins/discourse-local-dates/assets/javascripts/discourse/controllers/discourse-local-dates-create-modal.js
  plugins/discourse-local-dates/assets/javascripts/discourse/templates/components/discourse-local-dates-create-form.hbs
  plugins/discourse-local-dates/assets/javascripts/discourse/templates/modal/discourse-local-dates-create-modal.hbs
  plugins/discourse-local-dates/assets/javascripts/initializers/discourse-local-dates.js
  plugins/discourse-local-dates/assets/stylesheets/common/discourse-local-dates.scss
Labels: chat

#23519 DEV: add CHAT_MESSAGE webhook event type
  app/models/web_hook_event_type.rb
  db/fixtures/007_web_hook_event_types.rb
  plugins/chat/config/locales/client.en.yml
  plugins/chat/lib/chat/outgoing_web_hook_extension.rb
  plugins/chat/plugin.rb
  plugins/chat/spec/fabricators/outgoing_chat_message_web_hook_fabricator.rb
  plugins/chat/spec/integration/outgoing_web_hooks_spec.rb
  plugins/chat/spec/services/chat/restore_message_spec.rb
  plugins/chat/spec/services/chat/trash_message_spec.rb
  spec/models/web_hook_spec.rb
Labels: chat

#23526 DEV: upgrade grant badge modal to glimmer
  app/assets/javascripts/admin/addon/controllers/admin-user-badges.js
  app/assets/javascripts/admin/addon/routes/admin-user-badges.js
  app/assets/javascripts/admin/addon/templates/user-badges.hbs
  app/assets/javascripts/discourse/app/components/modal/grant-badge.hbs
  app/assets/javascripts/discourse/app/components/modal/grant-badge.js
  app/assets/javascripts/discourse/app/lib/grant-badge-utils.js
  app/assets/javascripts/discourse/app/mixins/grant-badge-controller.js
  app/assets/javascripts/discourse/tests/unit/controllers/admin-user-badges-test.js
  app/assets/javascripts/discourse/tests/unit/lib/grant-badge-utils-test.js
  app/assets/javascripts/discourse/tests/unit/mixins/grant-badge-controller-test.js
Labels: js-modernization

#23589 DEV: Adjust site setting search limiter
  app/assets/javascripts/admin/addon/controllers/admin-site-settings.js
  app/assets/javascripts/discourse/tests/unit/controllers/admin-site-settings-test.js
Labels: staff-experience

#23585 UI: tweaks remove channel animation
  plugins/chat/assets/javascripts/discourse/components/chat-channel-row.gjs
  plugins/chat/assets/stylesheets/common/chat-channel-row.scss
  plugins/chat/assets/stylesheets/mobile/chat-channel-row.scss
Labels: chat

#23584 DEV: Use the Store to create User records
  app/assets/javascripts/discourse/app/models/topic-details.js
  app/assets/javascripts/discourse/tests/integration/components/invite-panel-test.js
  app/assets/javascripts/discourse/tests/integration/components/widgets/post-test.js
  app/assets/javascripts/discourse/tests/unit/controllers/preferences-profile-test.js
  app/assets/javascripts/discourse/tests/unit/controllers/topic-test.js
  app/assets/javascripts/discourse/tests/unit/controllers/user-notifications-test.js
  app/assets/javascripts/discourse/tests/unit/lib/uploads-test.js
  app/assets/javascripts/discourse/tests/unit/models/user-stream-test.js
  app/assets/javascripts/discourse/tests/unit/routes/review-index-test.js
  plugins/chat/assets/javascripts/discourse/components/chat-composer.js
Labels: chat

#23607 UX: chat-channel-row alignment
  plugins/chat/assets/stylesheets/common/chat-channel-row.scss
  plugins/chat/assets/stylesheets/mobile/chat-index.scss
Labels: chat

#23611 UX: fix overflow channel row + mobile remove styling tweak
  plugins/chat/assets/stylesheets/common/chat-channel-row.scss
  plugins/chat/assets/stylesheets/mobile/chat-channel-row.scss
Labels: chat

#23612 DEV: removes the notion of staged thread
  plugins/chat/app/controllers/chat/api/channel_threads_controller.rb
  plugins/chat/app/services/chat/create_message.rb
  plugins/chat/app/services/chat/create_thread.rb
  plugins/chat/app/services/chat/publisher.rb
  plugins/chat/assets/javascripts/discourse/components/chat-message-actions-desktop.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-message-actions-desktop.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-message-actions-desktop.js
  plugins/chat/assets/javascripts/discourse/components/chat-message-actions-mobile.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-message-actions-mobile.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-message-actions-mobile.js
  plugins/chat/assets/javascripts/discourse/components/chat-message.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-thread.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-thread.js
  plugins/chat/assets/javascripts/discourse/models/chat-channel.js
  plugins/chat/assets/javascripts/discourse/models/chat-message.js
  plugins/chat/assets/javascripts/discourse/routes/chat-channel-thread.js
  plugins/chat/assets/javascripts/discourse/services/chat-api.js
  plugins/chat/assets/javascripts/discourse/services/chat-channel-composer.js
  plugins/chat/assets/javascripts/discourse/services/chat-pane-base-subscriptions-manager.js
  plugins/chat/assets/javascripts/discourse/services/chat-staged-thread-mapping.js
  plugins/chat/config/routes.rb
  plugins/chat/spec/requests/chat/api/channel_threads_controller_spec.rb
  plugins/chat/spec/requests/chat/api/messages_controller_spec.rb
  plugins/chat/spec/services/chat/create_message_spec.rb
  plugins/chat/spec/services/chat/create_thread_spec.rb
  plugins/chat/spec/services/chat/publisher_spec.rb
  plugins/chat/test/javascripts/unit/models/chat-message-test.js
Labels: chat

#23617 FEATURE: Link chat notifications directly to message
  plugins/chat/app/jobs/regular/chat/notify_watching.rb
  plugins/chat/app/models/chat/message.rb
  plugins/chat/spec/jobs/regular/chat/notify_watching_spec.rb
  plugins/chat/spec/models/chat/message_spec.rb
Labels: chat

#23647 FIX: ensures an empty last message won't cause errors
  plugins/chat/app/models/chat/channel.rb
  plugins/chat/app/models/chat/direct_message.rb
  plugins/chat/app/models/chat/null_message.rb
  plugins/chat/app/models/chat/null_user.rb
  plugins/chat/app/models/chat/thread.rb
  plugins/chat/app/serializers/chat/direct_message_serializer.rb
  plugins/chat/app/serializers/chat/in_reply_to_serializer.rb
  plugins/chat/app/serializers/chat/message_serializer.rb
  plugins/chat/spec/models/chat/channel_spec.rb
  plugins/chat/spec/models/chat/deleted_chat_user_spec.rb
  plugins/chat/spec/models/chat/null_message_spec.rb
  plugins/chat/spec/models/chat/null_user_spec.rb
  plugins/chat/spec/services/chat/create_message_spec.rb
  plugins/chat/spec/system/page_objects/chat/components/message.rb
  plugins/chat/spec/system/thread_preview_spec.rb
Labels: chat

#23566 UX: Only close modal for full 'click' events outside
  app/assets/javascripts/discourse/app/components/d-modal.hbs
  app/assets/javascripts/discourse/app/components/d-modal.js
  app/assets/javascripts/discourse/tests/acceptance/modal-service-test.gjs
  app/assets/stylesheets/common/base/modal.scss
Labels: merge-post-meetup

#23579 DEV: Use `disableImplicitInjections` more extensively
  app/assets/javascripts/discourse/app/services/composer.js
  app/assets/javascripts/discourse/app/services/key-value-store.js
  app/assets/javascripts/discourse/app/services/lightbox.js
  app/assets/javascripts/discourse/app/services/media-optimization-worker.js
  app/assets/javascripts/discourse/app/services/message-bus.js
  app/assets/javascripts/discourse/app/services/more-topics-preference-tracking.js
  app/assets/javascripts/discourse/app/services/navigation-menu.js
  app/assets/javascripts/discourse/app/services/network-connectivity.js
  app/assets/javascripts/discourse/app/services/route-scroll-manager.js
  app/assets/javascripts/discourse/app/services/screen-track.js
  app/assets/javascripts/discourse/app/services/sidebar-state.js
  app/assets/javascripts/discourse/app/services/site-settings.js
  app/assets/javascripts/discourse/app/services/user-status.js
  app/assets/javascripts/discourse/app/services/user-tips.js
Labels: merge-post-meetup

#23660 DEV: Change `PageObjects::Components::Chat::Message#exists?` to exact match
  plugins/chat/spec/system/page_objects/chat/components/message.rb
  plugins/chat/spec/system/uploads_spec.rb
Labels: chat

#23592 DEV: Introduce RenderGlimmer for raw hbs
  app/assets/javascripts/discourse-common/addon/lib/helpers.js
  app/assets/javascripts/discourse/app/components/render-glimmer-container.gjs
  app/assets/javascripts/discourse/app/helpers/raw.js
  app/assets/javascripts/discourse/app/lib/raw-render-glimmer.js
  app/assets/javascripts/discourse/app/services/render-glimmer.js
  app/assets/javascripts/discourse/app/templates/application.hbs
  app/assets/javascripts/discourse/tests/integration/helpers/raw-test.gjs
Labels: merge-post-meetup

#23671 DEV: Modernize chat getOwner usage
  plugins/chat/assets/javascripts/discourse/components/chat-channel.js
  plugins/chat/assets/javascripts/discourse/components/chat-composer.js
  plugins/chat/assets/javascripts/discourse/components/chat-message-actions-mobile.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-message.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-thread.js
  plugins/chat/assets/javascripts/discourse/components/chat/selection-manager.js
  plugins/chat/assets/javascripts/discourse/components/styleguide/chat-message.js
  plugins/chat/assets/javascripts/discourse/initializers/chat-setup.js
  plugins/chat/assets/javascripts/discourse/models/chat-channel.js
  plugins/chat/assets/javascripts/discourse/models/chat-message.js
  plugins/chat/assets/javascripts/discourse/models/chat-thread.js
  plugins/chat/assets/javascripts/discourse/services/chat-tracking-state-manager.js
  plugins/chat/test/javascripts/unit/lib/chat-emoji-reaction-store-test.js
  plugins/chat/test/javascripts/unit/services/chat-channel-info-route-origin-manager-test.js
  plugins/chat/test/javascripts/unit/services/chat-drafts-manager-test.js
  plugins/chat/test/javascripts/unit/services/chat-drawer-size-test.js
  plugins/chat/test/javascripts/unit/services/chat-emoji-picker-manager-test.js
  plugins/chat/test/javascripts/unit/services/chat-state-manager-test.js
  plugins/chat/test/javascripts/unit/utility/plugin-api-test.js
Labels: chat

#23672 FIX: correctly sort channels with null last message
  plugins/chat/assets/javascripts/discourse/services/chat-channels-manager.js
Labels: chat

#23663 DEV: Improve `upload_theme` system test helper
  spec/support/system_helpers.rb
Labels: platform

#23680 FIX: Broken error reporting in modals (and other places)
  app/assets/javascripts/admin/addon/components/modal/install-theme.js
  app/assets/javascripts/admin/addon/components/modal/reseed.js
  app/assets/javascripts/admin/addon/components/theme-upload-add.js
  app/assets/javascripts/discourse/app/components/modal/activation-edit.js
  app/assets/javascripts/discourse/app/components/modal/do-not-disturb.js
  app/assets/javascripts/discourse/app/components/modal/edit-slow-mode.js
  app/assets/javascripts/discourse/app/components/modal/edit-user-directory-columns.js
  app/assets/javascripts/discourse/app/components/modal/group-add-members.js
  app/assets/javascripts/discourse/app/routes/associate-account.js
  plugins/chat/assets/javascripts/discourse/components/chat/modal/create-channel.js
  plugins/chat/assets/javascripts/discourse/components/chat/modal/edit-channel-description.js
Labels: chat
