Repository discourse/discourse, pull requests merged in 2023-04, with the labels that each got.

#20937 DEV: Fix random typos
  app/assets/javascripts/discourse/app/components/quote-button.js
  app/assets/stylesheets/common/base/topic-post.scss
  documentation/chat/backend/Chat/Service/Base/Context.html
  lib/discourse.rb
  lib/upload_creator.rb
  plugins/chat/app/services/service/base.rb
  plugins/chat/assets/javascripts/discourse/components/chat-thread.js
  script/import_scripts/mbox/settings.yml
  spec/services/hashtag_autocomplete_service_spec.rb
Labels: chat

#20926 DEV: Drop chat_uploads table and model and remove old references
  plugins/chat/app/jobs/regular/chat/channel_delete.rb
  plugins/chat/app/models/chat/message.rb
  plugins/chat/app/models/chat/upload.rb
  plugins/chat/db/post_migrate/20230403012844_drop_chat_uploads.rb
  plugins/chat/lib/chat/message_updater.rb
  plugins/chat/spec/components/chat/message_creator_spec.rb
  plugins/chat/spec/components/chat/message_updater_spec.rb
  plugins/chat/spec/fabricators/chat_fabricator.rb
  plugins/chat/spec/jobs/regular/chat/channel_delete_spec.rb
  plugins/chat/spec/models/chat/message_spec.rb
Labels: chat

#20912 FIX: Trashing message should reset last read
  plugins/chat/app/controllers/chat/api/channel_messages_controller.rb
  plugins/chat/app/controllers/chat/chat_controller.rb
  plugins/chat/app/services/chat/message_destroyer.rb
  plugins/chat/app/services/chat/trash_message.rb
  plugins/chat/assets/javascripts/discourse/components/chat-message.js
  plugins/chat/assets/javascripts/discourse/services/chat-api.js
  plugins/chat/config/routes.rb
  plugins/chat/spec/requests/chat/api/messages_controller_spec.rb
  plugins/chat/spec/requests/chat_controller_spec.rb
  plugins/chat/spec/services/chat/message_destroyer_spec.rb
  plugins/chat/spec/services/chat/trash_message_spec.rb
Labels: chat

#20956 UX: Chat channel title overflow ellipsis fixes
  plugins/chat/assets/javascripts/discourse/components/chat-channel-title.hbs
  plugins/chat/assets/stylesheets/common/base-common.scss
  plugins/chat/assets/stylesheets/common/chat-channel-title.scss
  plugins/chat/assets/stylesheets/common/chat-drawer.scss
  plugins/chat/assets/stylesheets/desktop/chat-channel-title.scss
  plugins/chat/assets/stylesheets/mobile/chat-index.scss
Labels: chat

#20958 FIX: Use correct translation key for reviewable types
  app/assets/javascripts/discourse/app/controllers/review-index.js
  plugins/chat/config/locales/client.en.yml
Labels: chat

#20951 FEATURE: Add CSS class generation for category colors and hashtags
  app/assets/javascripts/discourse/app/initializers/category-color-css-generator.js
  app/assets/javascripts/discourse/app/initializers/hashtag-css-generator.js
  app/assets/javascripts/discourse/app/initializers/register-hashtag-types.js
  app/assets/javascripts/discourse/app/lib/hashtag-autocomplete.js
  app/assets/javascripts/discourse/app/lib/hashtag-types/base.js
  app/assets/javascripts/discourse/app/lib/hashtag-types/category.js
  app/assets/javascripts/discourse/app/lib/hashtag-types/tag.js
  app/assets/javascripts/discourse/app/lib/plugin-api.js
  app/assets/javascripts/discourse/tests/acceptance/css-generator-test.js
  app/assets/javascripts/discourse/tests/helpers/qunit-helpers.js
  plugins/chat/assets/javascripts/discourse/initializers/chat-setup.js
  plugins/chat/assets/javascripts/discourse/lib/hashtag-types/channel.js
  plugins/chat/test/javascripts/acceptance/hashtag-css-generator-test.js
Labels: chat

#20931 FEATURE: public custom sidebar sections visible to anonymous
  app/assets/javascripts/discourse/app/components/sidebar/anonymous/custom-sections.hbs
  app/assets/javascripts/discourse/app/components/sidebar/anonymous/custom-sections.js
  app/assets/javascripts/discourse/app/components/sidebar/anonymous/sections.hbs
  app/assets/javascripts/discourse/app/components/sidebar/user/section.js
  app/controllers/sidebar_sections_controller.rb
  app/models/sidebar_section.rb
  app/serializers/current_user_serializer.rb
  app/serializers/site_serializer.rb
  spec/serializers/site_serializer_spec.rb
  spec/system/custom_sidebar_sections_spec.rb
  spec/system/page_objects/components/sidebar.rb
Labels: personalisation

#20991 FIX: accounts for `hide_profile_and_presence` core user option
  plugins/chat/assets/javascripts/discourse/services/chat.js
  plugins/chat/spec/system/user_presence.rb
Labels: chat

#20974 DEV: Introduce `in:pinned` filter for experimental `/filter` route
  lib/topics_filter.rb
  spec/lib/topics_filter_spec.rb
Labels: personalisation

#21000 DEV: Support `in:bookmarked` filter for the `/filter` route
  lib/topics_filter.rb
  spec/lib/topics_filter_spec.rb
Labels: personalisation

#20990 Setup lint to the future
  .github/workflows/linting.yml
  .gitignore
  package.json
  yarn.lock
Labels: js-modernization

#20988 DEV: Rely on helpers for ajax error handling to reduce repetition
  app/assets/javascripts/discourse/app/controllers/activation-edit.js
  app/assets/javascripts/discourse/app/controllers/do-not-disturb.js
  app/assets/javascripts/discourse/app/controllers/edit-category-tabs.js
  app/assets/javascripts/discourse/app/controllers/forgot-password.js
  app/assets/javascripts/discourse/app/controllers/grant-badge.js
  app/assets/javascripts/discourse/app/controllers/group-add-members.js
  app/assets/javascripts/discourse/app/controllers/login.js
  app/assets/javascripts/discourse/app/controllers/move-to-topic.js
  app/assets/javascripts/discourse/app/lib/ajax-error.js
  plugins/chat/assets/javascripts/discourse/controllers/chat-channel-edit-name-slug.js
Labels: chat

#21008 FIX: do not display the message content when it errors
  plugins/chat/assets/javascripts/discourse/components/chat-live-pane.js
  plugins/chat/spec/system/message_errors_spec.rb
Labels: chat

#21011 FIX: cancel editing should clear the composer
  plugins/chat/assets/javascripts/discourse/components/chat-composer.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-composer.js
  plugins/chat/assets/javascripts/discourse/components/chat-live-pane.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-thread.hbs
  plugins/chat/spec/system/chat_composer_spec.rb
Labels: chat

#21020 FIX: scroll when clicking first emoji of section
  plugins/chat/assets/javascripts/discourse/components/chat-emoji-picker.js
Labels: chat

#21023 FIX: correctly show user info
  plugins/chat/assets/javascripts/discourse/components/chat-message.js
  plugins/chat/spec/system/message_user_info.rb
Labels: chat

#21026 FIX: shows a message as hovered when hovering actions
  plugins/chat/assets/javascripts/discourse/components/chat-message.hbs
  plugins/chat/assets/stylesheets/common/chat-message.scss
  plugins/chat/assets/stylesheets/desktop/base-desktop.scss
  plugins/chat/spec/system/chat_message_spec.rb
Labels: chat

#21027 FIX: ensures message actions are bounded
  plugins/chat/assets/javascripts/discourse/components/chat-live-pane.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-message-actions-desktop.js
  plugins/chat/assets/javascripts/discourse/components/chat-thread.hbs
Labels: chat

#21017 FIX: Resize chat collapser when using small width drawer
  plugins/chat/assets/stylesheets/common/chat-message-collapser.scss
  plugins/chat/assets/stylesheets/common/chat-message-images.scss
  plugins/discourse-lazy-videos/assets/stylesheets/lazy-videos.scss
Labels: chat

#21030 DEV: Add `overflow-x: hidden` to chat message containers
  plugins/chat/assets/stylesheets/common/base-common.scss
Labels: chat

#21032 Chat/drawer ux tweaks
  plugins/chat/assets/javascripts/discourse/components/chat-drawer/channel.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-drawer/draft-channel.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-drawer/header.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-drawer/header.js
  plugins/chat/assets/javascripts/discourse/components/chat-drawer/header/right-actions.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-drawer/header/toggle-expand-button.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-drawer/index.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-drawer/thread.hbs
  plugins/chat/assets/stylesheets/common/chat-drawer.scss
  plugins/chat/config/locales/client.en.yml
  plugins/chat/spec/system/drawer_spec.rb
Labels: chat

#21031 FIX: ensures activeMessage is reset with channel
  plugins/chat/assets/javascripts/discourse/initializers/chat-sidebar.js
  plugins/chat/assets/javascripts/discourse/services/chat.js
  plugins/chat/spec/system/drawer_spec.rb
Labels: chat

#21038 DEV: Support `in:<notification level>` filter on `/filter` route
  lib/topic_query.rb
  lib/topics_filter.rb
  spec/lib/topics_filter_spec.rb
  spec/requests/list_controller_spec.rb
Labels: personalisation

#21045 FIX: Multiple channels marked active in sidebar
  plugins/chat/assets/javascripts/discourse/initializers/chat-sidebar.js
  plugins/chat/spec/system/navigation_spec.rb
Labels: chat

#21041 UX: chat mobile tweaks
  plugins/chat/assets/javascripts/discourse/components/chat-message.js
  plugins/chat/assets/javascripts/discourse/services/chat-channel-pane.js
  plugins/chat/assets/javascripts/discourse/services/chat.js
  plugins/chat/assets/stylesheets/common/chat-message-separator.scss
  plugins/chat/assets/stylesheets/common/chat-message.scss
  plugins/chat/assets/stylesheets/mobile/chat-emoji-picker.scss
  plugins/chat/assets/stylesheets/mobile/chat-message-actions.scss
  plugins/chat/assets/stylesheets/mobile/chat-message.scss
Labels: chat

#21047 FEATURE: Initial chat thread indicator and disabling echo mode in channels
  plugins/chat/app/controllers/chat/chat_controller.rb
  plugins/chat/app/models/chat/message.rb
  plugins/chat/app/serializers/chat/message_serializer.rb
  plugins/chat/app/services/chat/publisher.rb
  plugins/chat/assets/javascripts/discourse/components/chat-composer.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-live-pane.js
  plugins/chat/assets/javascripts/discourse/components/chat-message-actions-desktop.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-message-thread-indicator.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-message-thread-indicator.js
  plugins/chat/assets/javascripts/discourse/components/chat-message.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-message.js
  plugins/chat/assets/javascripts/discourse/lib/chat-message-interactor.js
  plugins/chat/assets/javascripts/discourse/models/chat-message.js
  plugins/chat/assets/stylesheets/common/chat-message-thread-indicator.scss
  plugins/chat/assets/stylesheets/common/chat-message.scss
  plugins/chat/assets/stylesheets/common/index.scss
  plugins/chat/config/locales/client.en.yml
  plugins/chat/lib/chat/message_creator.rb
  plugins/chat/lib/chat/message_mover.rb
  plugins/chat/spec/components/chat/message_creator_spec.rb
  plugins/chat/spec/plugin_helper.rb
  plugins/chat/spec/system/channel_thread_message_echoing_spec.rb
  plugins/chat/spec/system/message_thread_indicator_spec.rb
  plugins/chat/spec/system/page_objects/chat/chat_channel.rb
  plugins/chat/spec/system/page_objects/chat/chat_thread.rb
  plugins/chat/spec/system/single_thread_spec.rb
Labels: chat

#21067 DEV: Support `created-by:<username>` filter on `/filter` route
  lib/topics_filter.rb
  spec/lib/topics_filter_spec.rb
  spec/requests/list_controller_spec.rb
Labels: personalisation

#21068 DEV: Minor refactoring and improvements to `TopicsFilter`
  spec/lib/topics_filter_spec.rb
Labels: personalisation

#21051 DEV: Switch sidebar section link identifier to data attribute
  app/assets/javascripts/discourse/app/components/sidebar/section-link.hbs
  app/assets/javascripts/discourse/app/components/sidebar/section-link.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-anonymous-categories-section-test.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-anonymous-community-section-test.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-anonymous-tags-section-test.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-plugin-api-test.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-user-categories-section-test.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-user-community-section-test.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-user-messages-section-test.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-user-tags-section-test.js
  app/assets/javascripts/discourse/tests/integration/components/sidebar/section-link-test.js
  app/assets/stylesheets/common/base/sidebar-section-link.scss
  plugins/chat/spec/system/navigation_spec.rb
  plugins/chat/spec/system/sidebar_navigation_menu_spec.rb
  spec/system/custom_sidebar_sections_spec.rb
  spec/system/page_objects/components/sidebar.rb
  spec/system/page_objects/components/sidebar_header_dropdown.rb
Labels: chat, personalisation

#21072 DEV: Skip flaky test on actions
  plugins/chat/spec/system/chat_composer_spec.rb
Labels: chat

#21071 DEV: Refactor `TopicsFilter`
  lib/topics_filter.rb
Labels: personalisation

#21083 UX: various tweaks on thread
  plugins/chat/assets/javascripts/discourse/components/chat-drawer/header/back-link.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-drawer/header/left-actions.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-drawer/thread.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-live-pane.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-thread.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-thread.js
  plugins/chat/assets/javascripts/discourse/templates/chat-channel-thread.hbs
  plugins/chat/assets/stylesheets/common/chat-drawer.scss
  plugins/chat/assets/stylesheets/common/chat-message-thread-indicator.scss
  plugins/chat/spec/system/navigation_spec.rb
  plugins/chat/spec/system/page_objects/chat_drawer/chat_drawer.rb
  plugins/chat/spec/system/single_thread_spec.rb
Labels: chat

#21090 DEV: Support `posts-min:<count>` and `posts-max:<count>` on `/filter`
  lib/topics_filter.rb
  spec/lib/topics_filter_spec.rb
Labels: personalisation

#21093 DEV: skip flakey chatables controller spec
  plugins/chat/spec/requests/chat/api/chatables_controller_spec.rb
Labels: chat

#21095 DEV: Support `posters-(min|max):<count>` on `/filter` route
  lib/topics_filter.rb
  spec/lib/topics_filter_spec.rb
Labels: personalisation

#21098 FIX: decrease reorder sidebar delay for desktop
  app/assets/javascripts/discourse/app/components/sidebar/user/section-link.js
Labels: personalisation

#21099 FIX: prevents exception if thread is not found
  plugins/chat/app/serializers/chat/message_serializer.rb
Labels: chat

#21104 FIX: prevents exception when publishing processed
  plugins/chat/app/services/chat/publisher.rb
  plugins/chat/assets/javascripts/discourse/services/chat-pane-base-subscriptions-manager.js
  plugins/chat/spec/system/chat_message_onebox_spec.rb
Labels: chat

#21107 FIX: Do not serialize thread data if threading disabled
  plugins/chat/app/serializers/chat/message_serializer.rb
  plugins/chat/spec/serializer/chat/chat_message_serializer_spec.rb
Labels: chat

#21112 FIX: overflow of channel title in preview card
  plugins/chat/assets/stylesheets/common/chat-channel-title.scss
Labels: chat

#21114 FIX: error when quoting message into topic
  plugins/chat/assets/javascripts/discourse/services/chat-channel-pane.js
Labels: chat

#21109 FEATURE: Hook up chat bulk delete for threads
  plugins/chat/app/models/chat/thread.rb
  plugins/chat/app/services/chat/publisher.rb
  plugins/chat/assets/javascripts/discourse/services/chat-channel-pane-subscriptions-manager.js
  plugins/chat/assets/javascripts/discourse/services/chat-channel-thread-pane-subscriptions-manager.js
  plugins/chat/assets/javascripts/discourse/services/chat-pane-base-subscriptions-manager.js
  plugins/chat/spec/lib/chat/message_mover_spec.rb
  plugins/chat/spec/models/chat/thread_spec.rb
  plugins/chat/spec/system/deleted_message_spec.rb
  plugins/chat/spec/system/page_objects/chat/chat_channel.rb
  plugins/chat/spec/system/page_objects/chat/chat_thread.rb
Labels: chat

#21124 UX: prevent overflow in description
  plugins/chat/assets/stylesheets/common/chat-channel-preview-card.scss
Labels: chat

#21108 FEATURE: Better thread reply counter cache
  plugins/chat/app/controllers/chat/api/channel_messages_controller.rb
  plugins/chat/app/controllers/chat/chat_controller.rb
  plugins/chat/app/jobs/regular/chat/update_thread_reply_count.rb
  plugins/chat/app/models/chat/thread.rb
  plugins/chat/app/models/concerns/chat/thread_cache.rb
  plugins/chat/app/serializers/chat/message_serializer.rb
  plugins/chat/app/services/chat/publisher.rb
  plugins/chat/app/services/chat/restore_message.rb
  plugins/chat/app/services/chat/trash_message.rb
  plugins/chat/assets/javascripts/discourse/services/chat-api.js
  plugins/chat/assets/javascripts/discourse/services/chat-channel-pane-subscriptions-manager.js
  plugins/chat/config/routes.rb
  plugins/chat/lib/chat/message_creator.rb
  plugins/chat/spec/integration/thread_replies_count_cache_accuracy_spec.rb
  plugins/chat/spec/jobs/regular/update_thread_reply_count_spec.rb
  plugins/chat/spec/lib/chat/message_mover_spec.rb
  plugins/chat/spec/lib/chat/review_queue_spec.rb
  plugins/chat/spec/models/chat/thread_spec.rb
  plugins/chat/spec/requests/chat/api/messages_controller_spec.rb
  plugins/chat/spec/requests/chat_controller_spec.rb
  plugins/chat/spec/services/chat/restore_message_spec.rb
  plugins/chat/spec/services/chat/trash_message_spec.rb
Labels: chat

#21129 FIX: apply clear-transition class to correct wrapper for chat drawer
  plugins/chat/assets/javascripts/discourse/components/chat-drawer.js
Labels: chat

#21105 FIX: nil exception in chat notifier
  plugins/chat/lib/chat/notifier.rb
Labels: chat

#21007 Virtual dom take 3
  app/assets/javascripts/discourse/ember-cli-build.js
  app/assets/javascripts/discourse/package.json
  app/assets/javascripts/package.json
  app/assets/javascripts/patches/virtual-dom+2.1.1.patch
  app/assets/javascripts/yarn.lock
Labels: js-modernization

#21126 FIX: Do not count thread messages for channel unreads
  plugins/chat/app/controllers/chat/chat_controller.rb
  plugins/chat/app/queries/chat/channel_unreads_query.rb
  plugins/chat/app/services/chat/mark_all_user_channels_read.rb
  plugins/chat/assets/javascripts/discourse/services/chat-channel-thread-pane-subscriptions-manager.js
  plugins/chat/lib/chat/channel_fetcher.rb
  plugins/chat/spec/lib/chat/channel_fetcher_spec.rb
  plugins/chat/spec/queries/chat/channel_unreads_query_spec.rb
  plugins/chat/spec/requests/chat_controller_spec.rb
  plugins/chat/spec/services/chat/mark_all_user_channels_read_spec.rb
  plugins/chat/spec/system/channel_thread_message_echoing_spec.rb
  plugins/chat/spec/system/single_thread_spec.rb
Labels: chat

#21144 UX: slight design changes to chat timestamp
  plugins/chat/assets/stylesheets/common/chat-message-separator.scss
Labels: chat

#21143 UX: remove new message element from chatpane
  plugins/chat/assets/javascripts/discourse/components/chat-scroll-to-bottom-arrow.hbs
  plugins/chat/assets/stylesheets/common/base-common.scss
Labels: chat

#21164 DEV: Reintroduce chat rake dev generate tasks
  lib/discourse_dev/record.rb
  plugins/chat/lib/discourse_dev/category_channel.rb
  plugins/chat/lib/discourse_dev/message.rb
  plugins/chat/lib/discourse_dev/thread.rb
  plugins/chat/lib/tasks/chat.rake
Labels: chat

#21178 Revert "DEV: Add `overflow-x: hidden` to chat message containers (#21030)"
  plugins/chat/assets/stylesheets/common/base-common.scss
Labels: chat

#21179 FIX: Chat publisher publishing to thread when threading disabled
  plugins/chat/app/services/chat/publisher.rb
  plugins/chat/spec/services/chat/publisher_spec.rb
Labels: chat

#21181 UX: chat thread hover
  plugins/chat/assets/stylesheets/common/chat-message-thread-indicator.scss
  plugins/chat/assets/stylesheets/common/chat-message.scss
Labels: chat

#21173 FIX: send notifications after a chat message was updated with new mentions
  plugins/chat/lib/chat/notifier.rb
  plugins/chat/spec/components/chat/message_updater_spec.rb
Labels: chat

#21192 Revert "FEATURE: Better thread reply counter cache (#21108)"
  plugins/chat/app/controllers/chat/api/channel_messages_controller.rb
  plugins/chat/app/controllers/chat/chat_controller.rb
  plugins/chat/app/jobs/regular/chat/update_thread_reply_count.rb
  plugins/chat/app/models/chat/thread.rb
  plugins/chat/app/models/concerns/chat/thread_cache.rb
  plugins/chat/app/serializers/chat/message_serializer.rb
  plugins/chat/app/services/chat/publisher.rb
  plugins/chat/app/services/chat/restore_message.rb
  plugins/chat/app/services/chat/trash_message.rb
  plugins/chat/assets/javascripts/discourse/services/chat-api.js
  plugins/chat/assets/javascripts/discourse/services/chat-channel-pane-subscriptions-manager.js
  plugins/chat/config/routes.rb
  plugins/chat/lib/chat/message_creator.rb
  plugins/chat/spec/integration/thread_replies_count_cache_accuracy_spec.rb
  plugins/chat/spec/jobs/regular/update_thread_reply_count_spec.rb
  plugins/chat/spec/lib/chat/message_mover_spec.rb
  plugins/chat/spec/lib/chat/review_queue_spec.rb
  plugins/chat/spec/models/chat/thread_spec.rb
  plugins/chat/spec/requests/chat/api/messages_controller_spec.rb
  plugins/chat/spec/requests/chat_controller_spec.rb
  plugins/chat/spec/services/chat/restore_message_spec.rb
  plugins/chat/spec/services/chat/trash_message_spec.rb
Labels: chat

#21116 DEV: Extract mentions.count method
  plugins/chat/lib/chat/message_mentions.rb
  plugins/chat/lib/chat/notifier.rb
Labels: chat

#21167 DEV: Move channel creation for category into service
  plugins/chat/app/controllers/chat/api/channels_controller.rb
  plugins/chat/app/models/concerns/chat/chatable.rb
  plugins/chat/app/services/chat/create_category_channel.rb
  plugins/chat/app/services/service/base.rb
  plugins/chat/assets/javascripts/discourse/controllers/create-channel.js
  plugins/chat/lib/chat/steps_inspector.rb
  plugins/chat/lib/service_runner.rb
  plugins/chat/spec/lib/chat/steps_inspector_spec.rb
  plugins/chat/spec/lib/service_runner_spec.rb
  plugins/chat/spec/requests/chat/api/channels_controller_spec.rb
  plugins/chat/spec/services/chat/create_category_channel_spec.rb
  plugins/chat/spec/support/chat_service_matcher.rb
Labels: chat

#21197 FEATURE: Reintroduce better thread reply counter cache
  plugins/chat/app/controllers/chat/api/channel_messages_controller.rb
  plugins/chat/app/controllers/chat/chat_controller.rb
  plugins/chat/app/jobs/regular/chat/update_thread_reply_count.rb
  plugins/chat/app/jobs/scheduled/chat/auto_join_users.rb
  plugins/chat/app/jobs/scheduled/chat/email_notifications.rb
  plugins/chat/app/jobs/scheduled/chat/periodical_updates.rb
  plugins/chat/app/jobs/scheduled/chat/update_user_counts_for_channels.rb
  plugins/chat/app/models/chat/thread.rb
  plugins/chat/app/models/concerns/chat/thread_cache.rb
  plugins/chat/app/serializers/chat/message_serializer.rb
  plugins/chat/app/services/chat/publisher.rb
  plugins/chat/app/services/chat/restore_message.rb
  plugins/chat/app/services/chat/trash_message.rb
  plugins/chat/assets/javascripts/discourse/services/chat-api.js
  plugins/chat/assets/javascripts/discourse/services/chat-channel-pane-subscriptions-manager.js
  plugins/chat/config/routes.rb
  plugins/chat/lib/chat/message_creator.rb
  plugins/chat/spec/integration/thread_replies_count_cache_accuracy_spec.rb
  plugins/chat/spec/jobs/regular/update_thread_reply_count_spec.rb
  plugins/chat/spec/lib/chat/message_mover_spec.rb
  plugins/chat/spec/lib/chat/review_queue_spec.rb
  plugins/chat/spec/models/chat/thread_spec.rb
  plugins/chat/spec/plugin_helper.rb
  plugins/chat/spec/requests/chat/api/messages_controller_spec.rb
  plugins/chat/spec/requests/chat_controller_spec.rb
  plugins/chat/spec/services/chat/restore_message_spec.rb
  plugins/chat/spec/services/chat/trash_message_spec.rb
Labels: chat

#21198 FIX: Include liked_consolidated and reaction types in the likes tab unread count
  app/assets/javascripts/discourse/app/components/user-menu/menu.js
  app/assets/javascripts/discourse/tests/integration/components/user-menu/menu-test.js
Labels: personalisation

#21214 FIX: Do not delete old chat messages if chat disabled
  plugins/chat/app/jobs/scheduled/chat/delete_old_messages.rb
  plugins/chat/spec/jobs/scheduled/delete_old_chat_messages_spec.rb
Labels: chat

#21073 DEV: Improve `add_to_serializer` `include_*` options
  lib/plugin/instance.rb
  plugins/chat/plugin.rb
  plugins/poll/plugin.rb
  spec/lib/plugin/instance_spec.rb
Labels: chat

#21220 DEV: Improve add_to_serializer include_* options
  lib/discourse.rb
  lib/plugin/instance.rb
  plugins/chat/plugin.rb
  plugins/poll/plugin.rb
  spec/lib/plugin/instance_spec.rb
Labels: chat

#21234 FIX: allows composer to expand
  plugins/chat/assets/stylesheets/common/chat-composer.scss
Labels: chat

#21235 FIX: safeguard in case the message is active during transition
  plugins/chat/assets/javascripts/discourse/components/chat-message-actions-desktop.js
Labels: chat

#21241 FIX: generates markdown from pasting link
  app/assets/javascripts/discourse/app/mixins/textarea-text-manipulation.js
  plugins/chat/assets/javascripts/discourse/lib/textarea-interactor.js
  plugins/chat/spec/system/chat_composer_spec.rb
Labels: chat

#21251 DEV: Enable parallel system specs in GitHub actions CI
  .github/workflows/tests.yml
  plugins/chat/spec/system/archive_channel_spec.rb
  plugins/chat/spec/system/chat_composer_spec.rb
  plugins/chat/spec/system/message_notifications_with_sidebar_spec.rb
  spec/system/emojis/emoji_deny_list_spec.rb
Labels: chat

#21252 UX: onebox/blockquote/chatreaction slight accent colour change
  app/assets/stylesheets/common/foundation/mixins.scss
  plugins/chat/assets/stylesheets/mixins/chat-reaction.scss
Labels: chat

#21253 FIX: attempts to make cooking less order dependent
  plugins/chat/assets/javascripts/discourse/models/chat-message.js
  plugins/chat/assets/javascripts/discourse/services/chat-channel-pane-subscriptions-manager.js
  plugins/chat/assets/javascripts/discourse/services/chat-channel-thread-pane-subscriptions-manager.js
  plugins/chat/assets/javascripts/discourse/services/chat-pane-base-subscriptions-manager.js
  plugins/chat/spec/system/chat_message_onebox_spec.rb
Labels: chat

#21256 FIX: properly respects chat_minimum_message_length
  plugins/chat/assets/javascripts/discourse/components/chat-composer.js
  plugins/chat/spec/system/chat_composer_spec.rb
Labels: chat

#20557 FIX: Improve chat route cleanup
  plugins/chat/assets/javascripts/discourse/routes/chat-channel-decorator.js
  plugins/chat/assets/javascripts/discourse/routes/chat-channel.js
  plugins/chat/assets/javascripts/discourse/routes/chat.js
  plugins/chat/assets/javascripts/discourse/services/chat-state-manager.js
  plugins/chat/test/javascripts/unit/services/chat-state-manager-test.js
Labels: chat

#21261 FIX: correct border color of message actions
  plugins/chat/assets/stylesheets/common/chat-message-actions.scss
  plugins/chat/assets/stylesheets/desktop/chat-message.scss
Labels: chat

#21264 FIX: ensures thread is cleared when closing it
  plugins/chat/assets/javascripts/discourse/routes/chat-channel-thread.js
  plugins/chat/assets/javascripts/discourse/routes/chat-channel.js
  plugins/chat/spec/system/page_objects/chat/chat_side_panel.rb
  plugins/chat/spec/system/page_objects/chat/chat_thread.rb
  plugins/chat/spec/system/single_thread_spec.rb
Labels: chat

#21277 DEV: fix a spec and skips another one
  plugins/chat/spec/system/archive_channel_spec.rb
  plugins/chat/spec/system/transcript_spec.rb
Labels: chat

#21233 DEV: Support filtering by date columns on /filter route
  lib/topics_filter.rb
  spec/lib/topics_filter_spec.rb
Labels: personalisation

#21275 DEV: Support ordering filters on `/filter` route
  lib/topics_filter.rb
  spec/lib/topics_filter_spec.rb
Labels: personalisation

#21246 UX: composer use BEM + small tweaks to enabled/disabled styling
  plugins/chat/assets/javascripts/discourse/components/chat-composer.hbs
  plugins/chat/assets/stylesheets/common/chat-composer-dropdown.scss
  plugins/chat/assets/stylesheets/common/chat-composer.scss
  plugins/chat/assets/stylesheets/mobile/chat-composer.scss
  plugins/chat/spec/system/chat_composer_spec.rb
  plugins/chat/spec/system/page_objects/chat/chat_channel.rb
  plugins/chat/spec/system/page_objects/chat/chat_thread.rb
Labels: chat

#21289 FIX: chat height was incorrect on ipad
  plugins/chat/assets/stylesheets/common/base-common.scss
  plugins/chat/assets/stylesheets/desktop/chat-composer.scss
  plugins/chat/assets/stylesheets/desktop/index.scss
Labels: chat

#21294 FIX: correctly homogenizes panels min width
  plugins/chat/assets/javascripts/discourse/components/chat-side-panel.js
  plugins/chat/assets/stylesheets/common/chat-channel.scss
Labels: chat

#21301 FIX: correctly differentiates channel/thread upload inputs
  plugins/chat/assets/javascripts/discourse/components/chat-composer-uploads.js
  plugins/chat/assets/javascripts/discourse/components/chat-composer.hbs
  plugins/chat/assets/javascripts/discourse/components/chat/composer/channel.js
  plugins/chat/assets/javascripts/discourse/components/chat/composer/thread.js
  plugins/chat/assets/javascripts/discourse/lib/textarea-interactor.js
  plugins/chat/assets/stylesheets/common/chat-thread.scss
Labels: chat

#21303 UX: cook message before sending edit
  plugins/chat/assets/javascripts/discourse/components/chat-channel.js
  plugins/chat/assets/javascripts/discourse/components/chat-thread.js
  plugins/chat/spec/system/chat_composer_spec.rb
Labels: chat

#21307 DEV: potential flakey specs fixes
  plugins/chat/assets/javascripts/discourse/components/chat-channel.js
  plugins/chat/assets/javascripts/discourse/components/chat-side-panel.js
Labels: chat

#21309 DEV: potential flakey fixes
  plugins/chat/assets/javascripts/discourse/components/chat-composer.js
Labels: chat
