Repository discourse/discourse, pull requests merged in 2023-08, with the labels that each got.

#22875 FIX: Use category hashtag instead of link in `discourse_welcome_topic.body`
  config/locales/server.en.yml
  lib/seed_data/topics.rb
  spec/lib/seed_data/topics_spec.rb
Labels: 3.2

#22840 DEV: Convert `edit-slow-mode` modal to component-based API
  app/assets/javascripts/discourse/app/components/modal/edit-slow-mode.hbs
  app/assets/javascripts/discourse/app/components/modal/edit-slow-mode.js
  app/assets/javascripts/discourse/app/controllers/edit-slow-mode.js
  app/assets/javascripts/discourse/app/routes/topic.js
  app/assets/javascripts/discourse/app/services/modal.js
  app/assets/javascripts/discourse/app/templates/modal/edit-slow-mode.hbs
Labels: js-modernization

#22835 DEV: Convert `convert-to-public-topic` modal to component-based API
  app/assets/javascripts/discourse/app/components/modal/convert-to-public-topic.hbs
  app/assets/javascripts/discourse/app/components/modal/convert-to-public-topic.js
  app/assets/javascripts/discourse/app/controllers/convert-to-public-topic.js
  app/assets/javascripts/discourse/app/controllers/topic.js
  app/assets/javascripts/discourse/app/services/modal.js
  app/assets/javascripts/discourse/app/templates/modal/convert-to-public-topic.hbs
Labels: js-modernization

#22812 DEV: Convert `start-backup` modal to component-based API
  app/assets/javascripts/admin/addon/components/modal/start-backup.hbs
  app/assets/javascripts/admin/addon/components/modal/start-backup.js
  app/assets/javascripts/admin/addon/controllers/modals/admin-start-backup.js
  app/assets/javascripts/admin/addon/routes/admin-backups.js
  app/assets/javascripts/admin/addon/templates/modal/admin-start-backup.hbs
  app/assets/javascripts/discourse/app/services/modal.js
Labels: js-modernization

#22837 DEV: Convert `download-calendar` modal to component-based API
  app/assets/javascripts/discourse/app/components/modal/download-calendar.hbs
  app/assets/javascripts/discourse/app/components/modal/download-calendar.js
  app/assets/javascripts/discourse/app/controllers/download-calendar.js
  app/assets/javascripts/discourse/app/lib/download-calendar.js
  app/assets/javascripts/discourse/app/services/modal.js
Labels: js-modernization

#22832 DEV: Convert `change-timestamp` modal to component-based API
  app/assets/javascripts/discourse/app/components/modal/change-timestamp.hbs
  app/assets/javascripts/discourse/app/components/modal/change-timestamp.js
  app/assets/javascripts/discourse/app/controllers/change-timestamp.js
  app/assets/javascripts/discourse/app/routes/topic.js
  app/assets/javascripts/discourse/app/services/modal.js
  app/assets/javascripts/discourse/app/templates/modal/change-timestamp.hbs
Labels: js-modernization

#22913 DEV: Convert `api-key-urls` modal to component-based API
  app/assets/javascripts/admin/addon/components/modal/api-key-urls.hbs
  app/assets/javascripts/admin/addon/controllers/admin-api-keys-new.js
  app/assets/javascripts/admin/addon/controllers/admin-api-keys-show.js
  app/assets/javascripts/admin/addon/templates/modal/admin-api-key-urls.hbs
  app/assets/javascripts/discourse/app/services/modal.js
Labels: js-modernization

#22916 DEV: Convert `delete-user-posts-progress` modal to component-based API
  app/assets/javascripts/admin/addon/components/modal/delete-user-posts-progress.hbs
  app/assets/javascripts/admin/addon/components/modal/delete-user-posts-progress.js
  app/assets/javascripts/admin/addon/controllers/admin-user-index.js
  app/assets/javascripts/admin/addon/controllers/modals/admin-delete-user-posts-progress.js
  app/assets/javascripts/admin/addon/templates/modal/admin-delete-user-posts-progress.hbs
  app/assets/javascripts/discourse/app/services/modal.js
Labels: js-modernization

#22911 DEV: Convert `watched-word-test` modal to component-based API
  app/assets/javascripts/admin/addon/components/modal/watched-word-test.hbs
  app/assets/javascripts/admin/addon/components/modal/watched-word-test.js
  app/assets/javascripts/admin/addon/controllers/admin-watched-words-action.js
  app/assets/javascripts/admin/addon/controllers/modals/admin-watched-word-test.js
  app/assets/javascripts/admin/addon/templates/modal/admin-watched-word-test.hbs
  app/assets/javascripts/discourse/app/services/modal.js
Labels: js-modernization

#22925 DEV: Remove unused chat translations
  plugins/chat/config/locales/client.ar.yml
  plugins/chat/config/locales/client.de.yml
  plugins/chat/config/locales/client.en.yml
  plugins/chat/config/locales/client.es.yml
  plugins/chat/config/locales/client.fi.yml
  plugins/chat/config/locales/client.fr.yml
  plugins/chat/config/locales/client.he.yml
  plugins/chat/config/locales/client.hr.yml
  plugins/chat/config/locales/client.it.yml
  plugins/chat/config/locales/client.ja.yml
  plugins/chat/config/locales/client.ko.yml
  plugins/chat/config/locales/client.nl.yml
  plugins/chat/config/locales/client.pl_PL.yml
  plugins/chat/config/locales/client.pt_BR.yml
  plugins/chat/config/locales/client.ru.yml
  plugins/chat/config/locales/client.sk.yml
  plugins/chat/config/locales/client.sv.yml
  plugins/chat/config/locales/client.tr_TR.yml
  plugins/chat/config/locales/client.uk.yml
  plugins/chat/config/locales/client.zh_CN.yml
  plugins/chat/config/locales/client.zh_TW.yml
Labels: chat

#22933 DEV: Reduce the number of IntersectionObservers
  plugins/chat/assets/javascripts/discourse/components/chat/thread-list.hbs
  plugins/chat/assets/javascripts/discourse/components/chat/thread-list.js
Labels: chat

#22935 DEV: Fix array-related linting issues in templates
  .template-lintrc.js
  app/assets/javascripts/admin/addon/components/modal/merge-users-prompt.hbs
  app/assets/javascripts/admin/addon/controllers/admin-user-fields.js
  app/assets/javascripts/admin/addon/templates/user-fields.hbs
  app/assets/javascripts/discourse/app/components/emoji-picker.hbs
  app/assets/javascripts/discourse/app/components/sidebar/edit-navigation-menu/categories-modal.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-channel-title.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-emoji-picker.hbs
  plugins/styleguide/assets/javascripts/discourse/components/sections/atoms/05-input-fields.hbs
  plugins/styleguide/assets/javascripts/discourse/components/sections/atoms/dropdowns.hbs
Labels: chat

#22939 DEV: Convert `install-theme` modal to component-based API
  app/assets/javascripts/admin/addon/components/modal/install-theme.hbs
  app/assets/javascripts/admin/addon/components/modal/install-theme.js
  app/assets/javascripts/admin/addon/controllers/modals/admin-install-theme.js
  app/assets/javascripts/admin/addon/routes/admin-customize-themes.js
  app/assets/javascripts/admin/addon/templates/modal/admin-install-theme.hbs
  app/assets/javascripts/discourse/app/services/modal.js
  app/assets/javascripts/discourse/tests/acceptance/admin-install-theme-modal-test.js
Labels: js-modernization

#22964 DEV: Convert `theme-change` modal to component-based API
  app/assets/javascripts/admin/addon/components/modal/theme-change.hbs
  app/assets/javascripts/admin/addon/components/modal/theme-change.js
  app/assets/javascripts/admin/addon/controllers/admin-logs-staff-action-logs.js
  app/assets/javascripts/admin/addon/controllers/modals/admin-theme-change.js
  app/assets/javascripts/admin/addon/templates/modal/admin-theme-change.hbs
  app/assets/javascripts/discourse/app/services/modal.js
  app/assets/stylesheets/common/base/history.scss
Labels: js-modernization

#22937 DEV: Introduce decorator-position lint rule
  app/assets/javascripts/discourse/app/components/d-button.gjs
  app/assets/javascripts/discourse/app/components/form-template-field/upload.js
  app/assets/javascripts/discourse/app/components/modal/bookmark.js
  app/assets/javascripts/discourse/app/components/modal/second-factor-backup-edit.js
  app/assets/javascripts/discourse/app/components/search-menu.js
  app/assets/javascripts/discourse/app/components/sidebar/edit-navigation-menu/categories-modal.js
  package.json
  plugins/chat/assets/javascripts/discourse/initializers/chat-sidebar.js
  yarn.lock
Labels: chat

#22951 DEV: Unskip chat delete message spec
  plugins/chat/spec/system/deleted_message_spec.rb
Labels: chat

#22987 FIX: prevents readonly mode to crash channel_messages#index
  plugins/chat/app/services/chat/list_channel_messages.rb
  plugins/chat/spec/requests/chat/api/channel_messages_controller_spec.rb
Labels: chat

#22985 UX: Differentiate focus state from hover state
  app/assets/stylesheets/common/components/buttons.scss
  app/assets/stylesheets/wcag.scss
Labels: CSS

#22820 DEV: Remove enable_experimental_hashtag_autocomplete logic
  app/assets/javascripts/discourse/app/components/composer-editor.js
  app/assets/javascripts/discourse/app/components/d-editor.js
  app/assets/javascripts/discourse/app/instance-initializers/hashtag-post-decorations.js
  app/assets/javascripts/discourse/app/lib/hashtag-autocomplete.js
  app/assets/javascripts/discourse/app/lib/link-hashtags.js
  app/assets/javascripts/discourse/tests/acceptance/hashtag-autocomplete-test.js
  app/assets/javascripts/discourse/tests/acceptance/hashtags-test.js
  app/assets/javascripts/discourse/tests/unit/lib/pretty-text-test.js
  app/assets/javascripts/pretty-text/addon/engines/discourse-markdown-it.js
  app/assets/javascripts/pretty-text/addon/pretty-text.js
  app/assets/javascripts/pretty-text/engines/discourse-markdown/category-hashtag.js
  app/assets/javascripts/pretty-text/engines/discourse-markdown/hashtag-autocomplete.js
  app/controllers/hashtags_controller.rb
  app/models/category.rb
  app/models/concerns/category_hashtag.rb
  app/services/category_hashtag_data_source.rb
  app/services/hashtag_autocomplete_service.rb
  app/services/tag_hashtag_data_source.rb
  lib/post_revisor.rb
  lib/pretty_text.rb
  lib/pretty_text/helpers.rb
  lib/pretty_text/shims.js
  plugins/chat/lib/chat/channel_archive_service.rb
  plugins/chat/lib/chat/channel_hashtag_data_source.rb
  plugins/chat/spec/lib/chat/channel_archive_service_spec.rb
  plugins/chat/spec/lib/chat/channel_hashtag_data_source_spec.rb
  plugins/chat/spec/models/chat/message_spec.rb
  plugins/chat/spec/system/hashtag_autocomplete_spec.rb
  plugins/discourse-narrative-bot/config/locales/server.en.yml
  plugins/discourse-narrative-bot/lib/discourse_narrative_bot/advanced_user_narrative.rb
  plugins/discourse-narrative-bot/spec/discourse_narrative_bot/advanced_user_narrative_spec.rb
  spec/integrity/common_mark_spec.rb
  spec/lib/concern/category_hashtag_spec.rb
  spec/lib/email/sender_spec.rb
  spec/lib/oneboxer_spec.rb
  spec/lib/pretty_text/helpers_spec.rb
  spec/lib/pretty_text_spec.rb
  spec/models/category_spec.rb
  spec/requests/hashtags_controller_spec.rb
  spec/services/hashtag_autocomplete_service_spec.rb
  spec/services/post_alerter_spec.rb
  spec/system/hashtag_autocomplete_spec.rb
  spec/tasks/hashtags_spec.rb
Labels: ⚠ DO NOT MERGE, chat, 3.2

#22686 DEV: Raise exception when capybara waiter times out
  plugins/chat/spec/system/page_objects/chat/chat.rb
  spec/rails_helper.rb
Labels: chat

#22914 FIX: Don't create a reviewable when sending PM to user in chat
  plugins/chat/lib/chat/review_queue.rb
  plugins/chat/spec/lib/chat/review_queue_spec.rb
Labels: chat

#23016 FIX: removes useless model reload
  plugins/chat/app/services/chat/auto_join_channel_batch.rb
Labels: chat

#23029 FIX: correctly applies aria-expanded/aria-controls
  plugins/chat/assets/javascripts/discourse/components/chat-composer-dropdown.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-composer-dropdown.js
Labels: chat

#23030 UX: micro animations chat input
  plugins/chat/assets/stylesheets/common/chat-composer-button.scss
  plugins/chat/assets/stylesheets/common/chat-composer-dropdown.scss
Labels: chat

#22703 DEV: add loader.js shims for packages used across bundles
  app/assets/javascripts/discourse-common/addon/lib/loader-shim.js
  app/assets/javascripts/discourse/app/app.js
  app/assets/javascripts/discourse/app/loader-shims.js
  app/assets/javascripts/discourse/ember-cli-build.js
  app/assets/javascripts/discourse/package.json
  app/assets/javascripts/discourse/tests/loader-shims.js
  app/assets/javascripts/discourse/tests/setup-tests.js
  app/assets/javascripts/pretty-text/addon/loader-shims.js
  app/assets/javascripts/pretty-text/addon/pretty-text.js
  app/assets/javascripts/pretty-text/package.json
  app/assets/javascripts/yarn.lock
  lib/pretty_text/vendor-shims.js
Labels: js-modernization

#23040 FIX: ensures generic onebox has width/height for thumbnail
  lib/onebox/engine/allowlisted_generic_onebox.rb
  lib/onebox/templates/allowlistedgeneric.mustache
  plugins/chat/assets/stylesheets/common/chat-message-images.scss
  spec/fixtures/onebox/assemblyai.response
  spec/lib/onebox/engine/allowlisted_generic_onebox_spec.rb
Labels: chat

#23044 DEV: fixes flakey spec from auto-join-channel-batch
  plugins/chat/spec/services/chat/auto_join_channel_batch_spec.rb
Labels: chat

#23054 DEV: Remove unnecessary chat hashtag/mention transform JS
  plugins/chat/assets/javascripts/discourse/lib/simple-category-hash-mention-transform.js
  plugins/chat/assets/javascripts/discourse/models/chat-message.js
Labels: chat

#23034 UX: add transition
  plugins/chat/assets/stylesheets/common/chat-composer-button.scss
  plugins/chat/assets/stylesheets/common/chat-composer-dropdown.scss
Labels: chat

#22968 DEV: Convert `site-setting-default-categories` modal to component-based API
  app/assets/javascripts/admin/addon/components/modal/site-setting-default-categories.hbs
  app/assets/javascripts/admin/addon/components/modal/site-setting-default-categories.js
  app/assets/javascripts/admin/addon/controllers/modals/site-setting-default-categories.js
  app/assets/javascripts/admin/addon/mixins/setting-component.js
  app/assets/javascripts/admin/addon/templates/modal/site-setting-default-categories.hbs
  app/assets/javascripts/discourse/app/mixins/modal-update-existing-users.js
  app/assets/javascripts/discourse/app/services/modal.js
Labels: js-modernization

#23051 DEV: Migrate insert-hyperlink to the new modal api
  app/assets/javascripts/discourse/app/components/d-editor.js
  app/assets/javascripts/discourse/app/components/modal/insert-hyperlink.hbs
  app/assets/javascripts/discourse/app/components/modal/insert-hyperlink.js
  app/assets/javascripts/discourse/app/controllers/insert-hyperlink.js
  app/assets/javascripts/discourse/app/services/modal.js
  app/assets/javascripts/discourse/app/templates/modal/insert-hyperlink.hbs
  app/assets/javascripts/discourse/tests/acceptance/composer-hyperlink-test.js
  plugins/chat/assets/javascripts/discourse/components/chat-composer.js
Labels: chat

#23062 FIX: chat styleguide modal import
  plugins/chat/assets/javascripts/discourse/components/styleguide/chat-modal-thread-settings.js
Labels: chat

#22984 DEV: Convert `edit-badge-groupings` modal to component-based API
  app/assets/javascripts/admin/addon/components/modal/edit-badge-groupings.hbs
  app/assets/javascripts/admin/addon/components/modal/edit-badge-groupings.js
  app/assets/javascripts/admin/addon/controllers/modals/admin-edit-badge-groupings.js
  app/assets/javascripts/admin/addon/routes/admin-badges/show.js
  app/assets/javascripts/admin/addon/templates/modal/admin-edit-badge-groupings.hbs
  app/assets/javascripts/discourse/app/services/modal.js
Labels: js-modernization

#22969 DEV: Convert `badge-preview` modal to component-based API
  app/assets/javascripts/admin/addon/components/modal/badge-preview.hbs
  app/assets/javascripts/admin/addon/components/modal/badge-preview.js
  app/assets/javascripts/admin/addon/controllers/modals/admin-badge-preview.js
  app/assets/javascripts/admin/addon/routes/admin-badges/show.js
  app/assets/javascripts/admin/addon/templates/modal/admin-badge-preview.hbs
  app/assets/javascripts/discourse/app/services/modal.js
Labels: js-modernization

#22960 DEV: Convert `penalize-user` modal to component-based API
  app/assets/javascripts/admin/addon/components/modal/penalize-user.hbs
  app/assets/javascripts/admin/addon/components/modal/penalize-user.js
  app/assets/javascripts/admin/addon/controllers/modals/admin-penalize-user.js
  app/assets/javascripts/admin/addon/services/admin-tools.js
  app/assets/javascripts/discourse/app/services/modal.js
  app/assets/javascripts/discourse/tests/acceptance/admin-penalize-user-test.js
Labels: js-modernization

#23097 FIX: correctly delete webhook events with webhook
  plugins/chat/app/models/chat/incoming_webhook.rb
  plugins/chat/spec/models/chat/incoming_webhook_spec.rb
  plugins/chat/spec/requests/chat/admin/incoming_webhooks_controller_spec.rb
Labels: chat

#23105 FIX: TopicSummarization workaround for Postgres' discrete range types
  app/serializers/topic_summary_serializer.rb
  app/services/topic_summarization.rb
  plugins/chat/spec/requests/chat/api/summaries_controller_spec.rb
  spec/jobs/regular/stream_topic_summary_spec.rb
  spec/lib/summarization/base_spec.rb
  spec/requests/topics_controller_spec.rb
  spec/services/topic_summarization_spec.rb
Labels: chat

#22920 FEATURE: New topics vs replies toggle for the new new view
  app/assets/javascripts/discourse/app/components/new-list-header-controls-wrapper.hbs
  app/assets/javascripts/discourse/app/components/new-list-header-controls-wrapper.js
  app/assets/javascripts/discourse/app/components/topic-list.hbs
  app/assets/javascripts/discourse/app/components/topic-list.js
  app/assets/javascripts/discourse/app/controllers/discovery-sortable.js
  app/assets/javascripts/discourse/app/controllers/discovery/topics.js
  app/assets/javascripts/discourse/app/controllers/tag-show.js
  app/assets/javascripts/discourse/app/models/topic-list.js
  app/assets/javascripts/discourse/app/models/topic-tracking-state.js
  app/assets/javascripts/discourse/app/raw-templates/list/new-list-header-controls.hbr
  app/assets/javascripts/discourse/app/raw-templates/topic-list-header-column.hbr
  app/assets/javascripts/discourse/app/raw-templates/topic-list-header.hbr
  app/assets/javascripts/discourse/app/raw-views/list/new-list-header-controls.js
  app/assets/javascripts/discourse/app/routes/build-category-route.js
  app/assets/javascripts/discourse/app/routes/build-topic-route.js
  app/assets/javascripts/discourse/app/routes/discovery-filter.js
  app/assets/javascripts/discourse/app/templates/discovery/topics.hbs
  app/assets/javascripts/discourse/app/templates/mobile/discovery/topics.hbs
  app/assets/javascripts/discourse/app/templates/tag/show.hbs
  app/assets/stylesheets/desktop/topic-list.scss
  app/assets/stylesheets/mobile/topic-list.scss
  config/locales/client.en.yml
  lib/topic_query.rb
  spec/requests/list_controller_spec.rb
  spec/system/new_topic_list_spec.rb
  spec/system/page_objects/components/new_topic_list_toggle.rb
  spec/system/page_objects/components/new_topic_list_toggle_tab.rb
Labels: personalisation

#23061 FIX: Allow mouse to resize chat drawer on touch devices
  plugins/chat/assets/javascripts/discourse/modifiers/chat/resizable-node.js
Labels: chat

#23145 UX: improved animation
  plugins/chat/assets/stylesheets/common/chat-composer-dropdown.scss
Labels: chat

#23078 FEATURE: implements user based sidebar mode
  app/assets/javascripts/discourse/app/components/sidebar/switch-panel-buttons.hbs
  app/assets/javascripts/discourse/app/components/sidebar/switch-panel-buttons.js
  app/models/user_option.rb
  plugins/chat/app/models/chat/separate_sidebar_mode_site_setting.rb
  plugins/chat/assets/javascripts/discourse/components/chat-drawer.js
  plugins/chat/assets/javascripts/discourse/components/chat/header/icon.hbs
  plugins/chat/assets/javascripts/discourse/components/chat/header/icon.js
  plugins/chat/assets/javascripts/discourse/controllers/preferences-chat.js
  plugins/chat/assets/javascripts/discourse/initializers/chat-sidebar.js
  plugins/chat/assets/javascripts/discourse/initializers/chat-user-options.js
  plugins/chat/assets/javascripts/discourse/lib/get-user-chat-separate-sidebar-mode.js
  plugins/chat/assets/javascripts/discourse/routes/chat.js
  plugins/chat/assets/javascripts/discourse/services/chat-state-manager.js
  plugins/chat/assets/javascripts/discourse/templates/preferences/chat.hbs
  plugins/chat/assets/javascripts/discourse/widgets/chat-header-icon.js
  plugins/chat/config/locales/client.en.yml
  plugins/chat/config/locales/server.en.yml
  plugins/chat/config/settings.yml
  plugins/chat/db/migrate/20230722124044_add_chat_separate_sidebar_mode_user_option.rb
  plugins/chat/lib/chat/user_option_extension.rb
  plugins/chat/plugin.rb
  plugins/chat/spec/models/user_option_spec.rb
  plugins/chat/spec/serializer/current_user_serializer_spec.rb
  plugins/chat/spec/serializer/user_serializer_spec.rb
  plugins/chat/spec/system/navigation_spec.rb
  plugins/chat/spec/system/page_objects/chat/chat.rb
  plugins/chat/spec/system/page_objects/chat/components/header.rb
  plugins/chat/spec/system/separate_sidebar_mode_spec.rb
  plugins/chat/spec/system/user_chat_preferences_spec.rb
  plugins/chat/test/javascripts/components/chat-header-icon-test.js
  spec/system/page_objects/components/navigation_menu/base.rb
Labels: chat

#23150 FIX: sets sidebar state on load
  plugins/chat/assets/javascripts/discourse/initializers/chat-sidebar.js
  plugins/chat/assets/javascripts/discourse/lib/init-sidebar-state.js
  plugins/chat/assets/javascripts/discourse/routes/chat.js
Labels: chat

#23152 FIX: correctly handles mobile and default
  plugins/chat/assets/javascripts/discourse/components/chat/header/icon.js
  plugins/chat/assets/javascripts/discourse/lib/get-user-chat-separate-sidebar-mode.js
  plugins/chat/assets/javascripts/discourse/routes/chat.js
  plugins/chat/spec/system/separate_sidebar_mode_spec.rb
  plugins/chat/test/javascripts/components/chat-header-icon-test.js
Labels: chat

#23166 FIX: Resize-modifier event listener cleanup
  plugins/chat/assets/javascripts/discourse/modifiers/chat/resizable-node.js
Labels: chat

#23163 DEV: makes every spec use new messages helper
  plugins/chat/spec/system/channel_thread_message_echoing_spec.rb
  plugins/chat/spec/system/chat_channel_spec.rb
  plugins/chat/spec/system/message_notifications_mobile_spec.rb
  plugins/chat/spec/system/page_objects/chat/chat.rb
  plugins/chat/spec/system/page_objects/chat/chat_channel.rb
  plugins/chat/spec/system/page_objects/chat/chat_thread.rb
  plugins/chat/spec/system/reply_to_message/full_page_spec.rb
  plugins/chat/spec/system/reply_to_message/smoke_spec.rb
  plugins/chat/spec/system/single_thread_spec.rb
  plugins/chat/spec/system/unfollow_dm_channel_spec.rb
  plugins/chat/spec/system/visit_channel_spec.rb
Labels: chat

#23173 FIX: correctly recognizes URL with subfolder
  app/assets/javascripts/discourse/app/components/sidebar/switch-panel-buttons.js
  plugins/chat/assets/javascripts/discourse/components/chat-drawer.js
  plugins/chat/spec/system/drawer_spec.rb
Labels: chat

#23153 DEV: Update `replaceWith` on Route
  app/assets/javascripts/admin/addon/routes/admin-customize-colors-show.js
  app/assets/javascripts/admin/addon/routes/admin-customize-email-style-index.js
  app/assets/javascripts/admin/addon/routes/admin-customize-themes-edit.js
  app/assets/javascripts/admin/addon/routes/admin-customize-themes-show.js
  app/assets/javascripts/admin/addon/routes/admin-site-settings-index.js
  app/assets/javascripts/admin/addon/routes/admin-watched-words-index.js
  app/assets/javascripts/discourse/app/routes/associate-account.js
  app/assets/javascripts/discourse/app/routes/build-category-route.js
  app/assets/javascripts/discourse/app/routes/discourse.js
  app/assets/javascripts/discourse/app/routes/discovery.js
  app/assets/javascripts/discourse/app/routes/edit-category-index.js
  app/assets/javascripts/discourse/app/routes/edit-category.js
  app/assets/javascripts/discourse/app/routes/forgot-password.js
  app/assets/javascripts/discourse/app/routes/group-manage-membership.js
  app/assets/javascripts/discourse/app/routes/login.js
  app/assets/javascripts/discourse/app/routes/new-category.js
  app/assets/javascripts/discourse/app/routes/new-message.js
  app/assets/javascripts/discourse/app/routes/new-topic.js
  app/assets/javascripts/discourse/app/routes/restricted-user.js
  app/assets/javascripts/discourse/app/routes/signup.js
  app/assets/javascripts/discourse/app/routes/tag-show.js
  app/assets/javascripts/discourse/app/routes/user-activity.js
  app/assets/javascripts/discourse/app/routes/user-index.js
  app/assets/javascripts/discourse/app/routes/user-invited-index.js
  app/assets/javascripts/discourse/app/routes/user-invited-show.js
  app/assets/javascripts/discourse/app/routes/user-summary.js
  app/assets/javascripts/discourse/app/routes/user.js
  app/assets/javascripts/discourse/app/routes/users.js
  app/assets/javascripts/discourse/config/deprecation-workflow.js
  app/assets/javascripts/wizard/addon/routes/wizard-index.js
  plugins/chat/assets/javascripts/discourse/routes/chat-browse-archived.js
  plugins/chat/assets/javascripts/discourse/routes/chat-browse-index.js
  plugins/chat/assets/javascripts/discourse/routes/chat-channel-info-about.js
  plugins/chat/assets/javascripts/discourse/routes/chat-channel-info-index.js
  plugins/chat/assets/javascripts/discourse/routes/chat-channel-info-members.js
  plugins/chat/assets/javascripts/discourse/routes/chat-channel-info-settings.js
  plugins/chat/assets/javascripts/discourse/routes/chat-message.js
Labels: js-modernization, chat

#23174 DEV: Finalize glimmer search menu
  app/assets/javascripts/discourse/app/components/search-menu/results/assistant-item.js
  app/assets/javascripts/discourse/app/components/search-menu/search-term.js
  app/assets/javascripts/discourse/app/widgets/header.js
  app/assets/stylesheets/common/base/search-menu.scss
Labels: js-modernization

#23178 FIX: correctly display max users message error
  plugins/chat/app/controllers/chat/api/direct_messages_controller.rb
  plugins/chat/app/policies/chat/direct_message_channel/max_users_excess_policy.rb
  plugins/chat/assets/javascripts/discourse/components/chat/message-creator.js
  plugins/chat/spec/system/new_message_spec.rb
Labels: chat

#23177 FIX: do not delete empty message with uploads
  plugins/chat/assets/javascripts/discourse/components/chat-composer.js
  plugins/chat/spec/system/chat_composer_spec.rb
Labels: chat

#23184 FIX: displays popup error for any error
  plugins/chat/assets/javascripts/discourse/lib/chat-messages-loader.js
Labels: chat

#23183 DEV: removes deprecated code
  plugins/chat/assets/javascripts/discourse/chat-route-map.js
  plugins/chat/assets/javascripts/discourse/routes/chat-channel-decorator.js
  plugins/chat/lib/chat/user_notifications_extension.rb
  plugins/chat/plugin.rb
Labels: chat

#23188 UX: do not show user tab preference when disabled
  plugins/chat/assets/javascripts/discourse/connectors/user-preferences-nav/chat-preferences.hbs
  plugins/chat/assets/javascripts/discourse/connectors/user-preferences-nav/chat-preferences.js
  plugins/chat/spec/system/user_chat_preferences_spec.rb
Labels: chat

#23084 FIX: revert previously removed mentions transformation on the client
  plugins/chat/assets/javascripts/discourse/lib/transform-mentions.js
  plugins/chat/assets/javascripts/discourse/models/chat-message.js
Labels: chat

#23191 UX: update outdated description of chat messages export
  plugins/chat/config/locales/client.en.yml
Labels: chat

#22764 FEATURE: Chat global mention warnings (pre-send & post-send)
  plugins/chat/app/services/chat/publisher.rb
  plugins/chat/assets/javascripts/discourse/components/chat-composer.js
  plugins/chat/assets/javascripts/discourse/components/chat-mention-warnings.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-mention-warnings.js
  plugins/chat/assets/javascripts/discourse/components/chat/message/mention-warning.hbs
  plugins/chat/assets/javascripts/discourse/components/chat/message/mention-warning.js
  plugins/chat/assets/javascripts/discourse/models/chat-message-mention-warning.js
  plugins/chat/assets/javascripts/discourse/services/chat-composer-warnings-tracker.js
  plugins/chat/config/locales/client.en.yml
  plugins/chat/lib/chat/notifier.rb
  plugins/chat/spec/lib/chat/notifier_spec.rb
  plugins/chat/spec/system/mention_warnings_spec.rb
  plugins/chat/test/javascripts/components/chat-message-mention-warning-test.js
Labels: chat, 3.2

#23201 FIX: correctly closes panel when exiting chat
  plugins/chat/assets/javascripts/discourse/routes/chat-channel-thread.js
  plugins/chat/assets/javascripts/discourse/routes/chat-channel-threads.js
  plugins/chat/spec/system/navigation_spec.rb
  spec/system/page_objects/components/navigation_menu/base.rb
Labels: chat

#23200 FIX: correctly check chat tab is present
  plugins/chat/assets/javascripts/discourse/connectors/user-preferences-nav/chat-preferences.js
  plugins/chat/assets/javascripts/discourse/routes/preferences-chat.js
  plugins/chat/spec/system/user_chat_preferences_spec.rb
Labels: chat

#23098 FIX: hide tooltips when scrolling on mobile
  app/assets/javascripts/discourse/app/components/composer-editor.js
  app/assets/javascripts/discourse/app/components/d-tooltip.gjs
  app/assets/javascripts/discourse/app/lib/d-tooltip.js
  app/assets/javascripts/discourse/app/lib/update-user-status-on-mention.js
  app/assets/javascripts/discourse/app/lib/user-status-message.js
  app/assets/javascripts/discourse/app/lib/user-status-on-autocomplete.js
  app/assets/javascripts/discourse/app/widgets/post-cooked.js
  plugins/chat/assets/javascripts/discourse/components/chat-composer.js
  plugins/chat/test/javascripts/acceptance/user-status-on-mentions-test.js
Labels: chat

#23209 FIX: correctly resets editing state when done
  plugins/chat/assets/javascripts/discourse/components/chat-channel.js
  plugins/chat/spec/system/edited_message_spec.rb
Labels: chat

#23227 FIX: prevents setPanel to also set separated mode
  app/assets/javascripts/discourse/app/services/sidebar-state.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-plugin-api-test.js
  plugins/chat/spec/system/separate_sidebar_mode_spec.rb
  spec/system/page_objects/components/navigation_menu/base.rb
Labels: chat

#23207 UI: refines thread list item
  plugins/chat/app/controllers/chat/api/channel_threads_controller.rb
  plugins/chat/app/models/chat/threads_view.rb
  plugins/chat/app/serializers/chat/thread_list_serializer.rb
  plugins/chat/app/services/chat/lookup_channel_threads.rb
  plugins/chat/assets/javascripts/discourse/components/chat/thread-list/item.hbs
  plugins/chat/assets/javascripts/discourse/components/chat/thread/participants.hbs
  plugins/chat/assets/javascripts/discourse/models/chat-thread.js
  plugins/chat/assets/stylesheets/common/chat-message-thread-indicator.scss
  plugins/chat/assets/stylesheets/common/chat-thread-list-item.scss
  plugins/chat/assets/stylesheets/common/chat-thread-participants.scss
  plugins/chat/config/locales/client.en.yml
  plugins/chat/spec/services/chat/lookup_channel_threads_spec.rb
  plugins/chat/spec/system/page_objects/chat/components/thread_list.rb
  plugins/chat/spec/system/thread_list/full_page_spec.rb
Labels: chat

#23233 DEV: Remove unused `admin-theme-item` modal
  app/assets/javascripts/admin/addon/templates/modal/admin-theme-item.hbs
  app/assets/javascripts/discourse/app/services/modal.js
Labels: js-modernization

#23239 DEV: Remove updated modals from KNOWN_LEGACY_MODALS
  app/assets/javascripts/discourse/app/services/modal.js
Labels: js-modernization

#23197 DEV: Display fuzzy site setting search results below direct matches
  app/assets/javascripts/admin/addon/controllers/admin-site-settings.js
  app/assets/javascripts/discourse/tests/unit/controllers/admin-site-settings-test.js
Labels: staff-experience

#23259 UX: minor tweaks to thread list item
  plugins/chat/app/models/chat/message.rb
  plugins/chat/assets/javascripts/discourse/components/chat/thread-list/item.hbs
  plugins/chat/assets/stylesheets/common/chat-thread-list-item.scss
  plugins/chat/spec/system/chat_channel_spec.rb
  plugins/chat/spec/system/reply_to_message/full_page_spec.rb
Labels: chat

#23264 FIX: Create a reviewable when flagging a chat message for "something else"
  plugins/chat/lib/chat/review_queue.rb
  plugins/chat/spec/lib/chat/review_queue_spec.rb
Labels: chat

#23267 UX: chat composer
  plugins/chat/assets/stylesheets/common/chat-composer-button.scss
  plugins/chat/assets/stylesheets/common/chat-composer-separator.scss
Labels: chat

#23234 DEV: Convert `color-scheme-select-base` modal to component-based API
  app/assets/javascripts/admin/addon/components/modal/color-scheme-select-base.hbs
  app/assets/javascripts/admin/addon/components/modal/color-scheme-select-base.js
  app/assets/javascripts/admin/addon/controllers/admin-customize-colors.js
  app/assets/javascripts/admin/addon/controllers/modals/admin-color-scheme-select-base.js
  app/assets/javascripts/discourse/app/services/modal.js
Labels: js-modernization

#23240 DEV: Convert `staff-action-log-details` modal to component-based API
  app/assets/javascripts/admin/addon/components/modal/staff-action-log-details.hbs
  app/assets/javascripts/admin/addon/controllers/admin-logs-staff-action-logs.js
  app/assets/javascripts/admin/addon/controllers/modals/admin-staff-action-log-details.js
  app/assets/javascripts/admin/addon/templates/modal/admin-staff-action-log-details.hbs
  app/assets/javascripts/discourse/app/services/modal.js
Labels: js-modernization

#23236 DEV: Convert `form-template-validation-options` modal to component-based API
  app/assets/javascripts/admin/addon/components/form-template/form.js
  app/assets/javascripts/admin/addon/components/modal/form-template-validation-options.hbs
  app/assets/javascripts/admin/addon/components/modal/form-template-validation-options.js
  app/assets/javascripts/admin/addon/templates/modal/admin-form-template-validation-options.hbs
  app/assets/javascripts/discourse/app/services/modal.js
Labels: js-modernization

#23232 DEV: Convert `reseed` modal to component-based API
  app/assets/javascripts/admin/addon/components/modal/reseed.hbs
  app/assets/javascripts/admin/addon/components/modal/reseed.js
  app/assets/javascripts/admin/addon/controllers/modals/admin-reseed.js
  app/assets/javascripts/admin/addon/routes/admin-site-text-index.js
  app/assets/javascripts/admin/addon/templates/modal/admin-reseed.hbs
  app/assets/javascripts/discourse/app/services/modal.js
Labels: js-modernization

#23250 DEV: Convert `edit-user-directory-columns` modal to component-based API
  app/assets/javascripts/discourse/app/components/modal/edit-user-directory-columns.hbs
  app/assets/javascripts/discourse/app/components/modal/edit-user-directory-columns.js
  app/assets/javascripts/discourse/app/controllers/edit-user-directory-columns.js
  app/assets/javascripts/discourse/app/controllers/users.js
  app/assets/javascripts/discourse/app/services/modal.js
  app/assets/javascripts/discourse/app/templates/modal/edit-user-directory-columns.hbs
Labels: js-modernization

#23260 FIX: incorrect chat message reaction text
  plugins/chat/assets/javascripts/discourse/components/chat-message-reaction.js
  plugins/chat/assets/javascripts/discourse/lib/fabricators.js
  plugins/chat/assets/javascripts/discourse/lib/get-reaction-text.js
  plugins/chat/test/javascripts/unit/lib/get-reaction-text-test.js
Labels: chat

#23251 DEV: Convert `auth-token` modal to component-based API
  app/assets/javascripts/discourse/app/components/modal/auth-token.hbs
  app/assets/javascripts/discourse/app/components/modal/auth-token.js
  app/assets/javascripts/discourse/app/controllers/auth-token.js
  app/assets/javascripts/discourse/app/controllers/preferences/security.js
  app/assets/javascripts/discourse/app/services/modal.js
  app/assets/javascripts/discourse/app/templates/modal/auth-token.hbs
  app/assets/javascripts/discourse/tests/acceptance/user-preferences-security-test.js
Labels: js-modernization

#23245 DEV: Convert `uploaded-image-list` modal to component-based API
  app/assets/javascripts/admin/addon/components/modal/uploaded-image-list.hbs
  app/assets/javascripts/admin/addon/components/modal/uploaded-image-list.js
  app/assets/javascripts/admin/addon/components/site-settings/uploaded-image-list.js
  app/assets/javascripts/admin/addon/controllers/modals/admin-uploaded-image-list.js
  app/assets/javascripts/admin/addon/templates/modal/admin-uploaded-image-list.hbs
  app/assets/javascripts/discourse/app/services/modal.js
Labels: js-modernization

#23252 DEV: Convert `edit-topic-timer` modal to component-based API
  app/assets/javascripts/discourse/app/components/edit-topic-timer-form.js
  app/assets/javascripts/discourse/app/components/modal/edit-topic-timer.hbs
  app/assets/javascripts/discourse/app/components/modal/edit-topic-timer.js
  app/assets/javascripts/discourse/app/components/topic-timer-info.js
  app/assets/javascripts/discourse/app/controllers/edit-topic-timer.js
  app/assets/javascripts/discourse/app/routes/topic.js
  app/assets/javascripts/discourse/app/services/modal.js
  app/assets/javascripts/discourse/app/templates/modal/edit-topic-timer.hbs
  app/assets/javascripts/discourse/tests/acceptance/topic-edit-timer-test.js
  app/assets/stylesheets/common/base/edit-topic-timer-modal.scss
Labels: js-modernization

#23271 FIX: ensures we update cached model last message bus id
  plugins/chat/assets/javascripts/discourse/services/chat-channel-pane-subscriptions-manager.js
  plugins/chat/assets/javascripts/discourse/services/chat-pane-base-subscriptions-manager.js
  plugins/chat/assets/javascripts/discourse/services/chat-thread-pane-subscriptions-manager.js
Labels: chat

#23273 Revert "UX: chat composer (#23267)"
  plugins/chat/assets/stylesheets/common/chat-composer-button.scss
  plugins/chat/assets/stylesheets/common/chat-composer-separator.scss
Labels: chat

#23275 DEV: Convert `feature-topic-on-profile` modal to component-based API
  app/assets/javascripts/discourse/app/components/modal/feature-topic-on-profile.hbs
  app/assets/javascripts/discourse/app/components/modal/feature-topic-on-profile.js
  app/assets/javascripts/discourse/app/controllers/feature-topic-on-profile.js
  app/assets/javascripts/discourse/app/controllers/preferences/profile.js
  app/assets/javascripts/discourse/app/services/modal.js
  app/assets/javascripts/discourse/app/templates/modal/feature-topic-on-profile.hbs
Labels: js-modernization

#23286 DEV: Fix flaky network-based upload spec
  plugins/chat/spec/system/chat_composer_spec.rb
  spec/system/composer_uploads_spec.rb
  spec/system/network_disconnected_spec.rb
  spec/system/page_objects/cdp.rb
  spec/system/s3_uploads_spec.rb
Labels: chat

#23279 DEV: Convert `flag` modal to component-based API
  app/assets/javascripts/discourse/app/components/flag-action-type.hbs
  app/assets/javascripts/discourse/app/components/modal/flag.hbs
  app/assets/javascripts/discourse/app/components/modal/flag.js
  app/assets/javascripts/discourse/app/components/reviewable-bundled-action.hbs
  app/assets/javascripts/discourse/app/components/reviewable-bundled-action.js
  app/assets/javascripts/discourse/app/controllers/flag.js
  app/assets/javascripts/discourse/app/lib/flag-targets/flag.js
  app/assets/javascripts/discourse/app/lib/flag-targets/post-flag.js
  app/assets/javascripts/discourse/app/lib/flag-targets/topic-flag.js
  app/assets/javascripts/discourse/app/routes/topic.js
  app/assets/javascripts/discourse/app/services/modal.js
  app/assets/javascripts/discourse/app/templates/modal/flag.hbs
  app/assets/javascripts/discourse/tests/acceptance/flag-post-test.js
  plugins/chat/assets/javascripts/discourse/lib/chat-message-flag.js
  plugins/chat/assets/javascripts/discourse/lib/chat-message-interactor.js
Labels: js-modernization, chat

#23301 FIX: Include 'notify staff' separator in chat message flag modal
  app/assets/javascripts/discourse/app/components/flag-action-type.hbs
  app/assets/javascripts/discourse/app/components/modal/flag.hbs
  app/assets/javascripts/discourse/app/components/modal/flag.js
  plugins/chat/assets/javascripts/discourse/lib/chat-message-flag.js
Labels: chat

#23300 DEV: Add rake command to help detect dead settings
  app/services/site_settings_task.rb
  lib/tasks/site_settings.rake
Labels: staff-experience

#23295 DEV: Convert `post-enqueued` modal to component-based API
  app/assets/javascripts/discourse/app/components/modal/post-enqueued.hbs
  app/assets/javascripts/discourse/app/services/composer.js
  app/assets/javascripts/discourse/app/services/modal.js
  app/assets/javascripts/discourse/app/templates/modal/post-enqueued.hbs
Labels: js-modernization

#23293 DEV: Convert `move-to-topic` modal to component-based API
  app/assets/javascripts/discourse/app/components/choose-topic.hbs
  app/assets/javascripts/discourse/app/components/choose-topic.js
  app/assets/javascripts/discourse/app/components/modal/move-to-topic.hbs
  app/assets/javascripts/discourse/app/components/modal/move-to-topic.js
  app/assets/javascripts/discourse/app/controllers/move-to-topic.js
  app/assets/javascripts/discourse/app/routes/topic.js
  app/assets/javascripts/discourse/app/services/modal.js
  app/assets/javascripts/discourse/app/templates/modal/move-to-topic.hbs
Labels: js-modernization

#23326 DEV: Remove unused site settings
  config/locales/server.ar.yml
  config/locales/server.be.yml
  config/locales/server.bg.yml
  config/locales/server.bs_BA.yml
  config/locales/server.ca.yml
  config/locales/server.da.yml
  config/locales/server.de.yml
  config/locales/server.el.yml
  config/locales/server.en.yml
  config/locales/server.es.yml
  config/locales/server.fa_IR.yml
  config/locales/server.fi.yml
  config/locales/server.fr.yml
  config/locales/server.gl.yml
  config/locales/server.he.yml
  config/locales/server.hu.yml
  config/locales/server.hy.yml
  config/locales/server.it.yml
  config/locales/server.ja.yml
  config/locales/server.ko.yml
  config/locales/server.lt.yml
  config/locales/server.nl.yml
  config/locales/server.pl_PL.yml
  config/locales/server.pt.yml
  config/locales/server.pt_BR.yml
  config/locales/server.ro.yml
  config/locales/server.ru.yml
  config/locales/server.sk.yml
  config/locales/server.sq.yml
  config/locales/server.sv.yml
  config/locales/server.sw.yml
  config/locales/server.tr_TR.yml
  config/locales/server.uk.yml
  config/locales/server.ur.yml
  config/locales/server.vi.yml
  config/locales/server.zh_CN.yml
  config/locales/server.zh_TW.yml
  config/site_settings.yml
Labels: staff-experience

#23287 FIX: Add hashtag placeholder when chat message sent
  app/assets/javascripts/discourse/app/lib/hashtag-autocomplete.js
  app/assets/javascripts/pretty-text/engines/discourse-markdown/hashtag-autocomplete.js
  app/assets/stylesheets/common/components/hashtag.scss
  plugins/chat/assets/javascripts/discourse/lib/transform-auto-links.js
  plugins/chat/assets/javascripts/discourse/lib/transform-mentions.js
  plugins/chat/assets/javascripts/discourse/models/chat-message.js
Labels: chat

#23327 FIX: Remove chat "enable chat plugin text"
  plugins/chat/config/locales/server.en.yml
Labels: chat, staff-experience

#23304 DEV: Move 'ignore and delete' action under 'ignore' menu for chat flags
  plugins/chat/app/models/chat/reviewable_message.rb
  plugins/chat/config/locales/server.en.yml
Labels: chat

#23321 DEV: Remove redundant braces
  app/assets/javascripts/discourse/app/components/bulk-select-toggle.hbs
  app/assets/javascripts/discourse/app/components/d-navigation.hbs
  app/assets/javascripts/discourse/app/components/topic-timeline/container.hbs
  app/assets/javascripts/discourse/app/templates/invites/show.hbs
  app/assets/javascripts/discourse/app/templates/user/messages.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-drawer/header/full-page-button.hbs
Labels: chat

#23344 Revert "FIX: Remove chat "enable chat plugin text" (#23327)"
  plugins/chat/config/locales/server.en.yml
Labels: chat

#23328 FIX: Hide core plugins from the admin Plugins list
  plugins/chat/plugin.rb
  plugins/checklist/plugin.rb
  plugins/discourse-details/plugin.rb
  plugins/discourse-lazy-videos/plugin.rb
  plugins/discourse-local-dates/plugin.rb
  plugins/discourse-narrative-bot/plugin.rb
  plugins/discourse-presence/plugin.rb
  plugins/styleguide/plugin.rb
Labels: chat, staff-experience

#23222 DEV: Refactor chat specs related to message creation
  plugins/chat/spec/components/chat/message_updater_spec.rb
  plugins/chat/spec/fabricators/chat_fabricator.rb
  plugins/chat/spec/jobs/regular/mark_all_channel_threads_read_spec.rb
  plugins/chat/spec/lib/chat/channel_fetcher_spec.rb
  plugins/chat/spec/lib/chat/message_mover_spec.rb
  plugins/chat/spec/lib/chat/parsed_mentions_spec.rb
  plugins/chat/spec/mailers/user_notifications_spec.rb
  plugins/chat/spec/plugin_helper.rb
  plugins/chat/spec/plugin_spec.rb
  plugins/chat/spec/requests/chat/admin/incoming_webhooks_controller_spec.rb
  plugins/chat/spec/requests/chat/api/channel_thread_messages_controller_spec.rb
  plugins/chat/spec/requests/chat/api/channel_threads_controller_spec.rb
  plugins/chat/spec/requests/chat/api/channel_threads_current_user_notification_settings_controller_spec.rb
  plugins/chat/spec/requests/chat/api/reads_controller_spec.rb
  plugins/chat/spec/services/chat/lookup_channel_threads_spec.rb
  plugins/chat/spec/services/chat/mark_all_user_channels_read_spec.rb
  plugins/chat/spec/services/chat/message_destroyer_spec.rb
  plugins/chat/spec/services/chat/restore_message_spec.rb
  plugins/chat/spec/services/chat/trash_message_spec.rb
  plugins/chat/spec/services/chat/update_thread_notification_settings_spec.rb
  plugins/chat/spec/system/archive_channel_spec.rb
  plugins/chat/spec/system/chat/composer/shortcuts/channel_spec.rb
  plugins/chat/spec/system/chat/composer/shortcuts/thread_spec.rb
  plugins/chat/spec/system/chat/composer/thread_spec.rb
  plugins/chat/spec/system/chat_message/thread_spec.rb
  plugins/chat/spec/system/message_thread_indicator_spec.rb
  plugins/chat/spec/system/navigation_spec.rb
  plugins/chat/spec/system/reply_to_message/drawer_spec.rb
  plugins/chat/spec/system/reply_to_message/full_page_spec.rb
  plugins/chat/spec/system/reply_to_message/mobile_spec.rb
  plugins/chat/spec/system/shortcuts/mark_all_read_spec.rb
  plugins/chat/spec/system/single_thread_spec.rb
  plugins/chat/spec/system/thread_list/full_page_spec.rb
  plugins/chat/spec/system/thread_tracking/drawer_spec.rb
  plugins/chat/spec/system/thread_tracking/full_page_spec.rb
  plugins/chat/spec/system/user_menu_notifications/sidebar_spec.rb
Labels: chat

#23350 UX: hides original message user in thread participants
  plugins/chat/assets/javascripts/discourse/components/chat/thread-list/item.hbs
  plugins/chat/assets/javascripts/discourse/components/chat/thread/participants.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/thread/participants.hbs
  plugins/chat/assets/javascripts/discourse/lib/fabricators.js
  plugins/chat/test/javascripts/components/chat-thread-participants-test.js
Labels: chat

#23348 UX: thread list design changes
  plugins/chat/assets/javascripts/discourse/components/chat/thread-list/item.hbs
  plugins/chat/assets/stylesheets/common/chat-thread-list-item.scss
  plugins/chat/assets/stylesheets/common/chat-thread-participants.scss
  plugins/chat/spec/system/thread_list/full_page_spec.rb
Labels: chat
