Repository discourse/discourse, pull requests merged in 2023-01, with the labels that each got.

#19675 FIX: ensures loading more doesn’t erase filter on browse
  plugins/chat/app/controllers/api/chat_channels_controller.rb
  plugins/chat/spec/system/browse_page_spec.rb
Labels: chat

#19674 DEV: enables threadsafe for system tests
  plugins/chat/spec/system/chat_channel_spec.rb
  plugins/chat/spec/system/jit_messages_spec.rb
  plugins/chat/spec/system/page_objects/chat/chat_channel.rb
  plugins/chat/spec/system/transcript_spec.rb
  spec/rails_helper.rb
Labels: chat

#19666 PERF: Make chat mention notifications async.
  config/site_settings.yml
  plugins/chat/app/jobs/regular/send_message_notifications.rb
  plugins/chat/lib/chat_notifier.rb
  plugins/chat/plugin.rb
  plugins/chat/spec/jobs/regular/send_message_notifications_spec.rb
  plugins/chat/spec/system/jit_messages_spec.rb
  plugins/chat/spec/system/message_notifications_with_sidebar_spec.rb
  plugins/chat/spec/system/user_menu_notifications/sidebar_spec.rb
Labels: chat

#19676 FIX: correctly always return a promise from loadMore
  plugins/chat/assets/javascripts/discourse/services/chat-api.js
Labels: chat

#19677 FIX: at this point in time component can be destroyed
  plugins/chat/assets/javascripts/discourse/components/chat-channel-selector-modal-inner.js
Labels: chat

#19680 FIX: correctly uses request_uri to generate load_more_url
  plugins/chat/app/controllers/api/chat_channels_controller.rb
  plugins/chat/spec/system/browse_page_spec.rb
Labels: chat

#19678 FIX: more stable system tests
  plugins/chat/assets/javascripts/discourse/components/chat-live-pane.js
  plugins/chat/spec/system/jit_messages_spec.rb
  plugins/chat/spec/system/page_objects/chat/chat_channel.rb
  plugins/chat/spec/system/user_menu_notifications/sidebar_spec.rb
Labels: chat

#19684 DEV: Skip all chat specs with Jobs.run_immediately!
  plugins/chat/spec/system/archive_channel_spec.rb
  plugins/chat/spec/system/channel_members_page_spec.rb
  plugins/chat/spec/system/jit_messages_spec.rb
  plugins/chat/spec/system/message_notifications_mobile_spec.rb
  plugins/chat/spec/system/message_notifications_with_sidebar_spec.rb
  plugins/chat/spec/system/user_menu_notifications/sidebar_spec.rb
  plugins/chat/spec/system/user_status/sidebar_spec.rb
Labels: chat

#19688 DEV: attempts to move all Jobs.run_immediately! at top
  plugins/chat/spec/system/archive_channel_spec.rb
  plugins/chat/spec/system/channel_members_page_spec.rb
  plugins/chat/spec/system/jit_messages_spec.rb
  plugins/chat/spec/system/message_notifications_mobile_spec.rb
  plugins/chat/spec/system/message_notifications_with_sidebar_spec.rb
  plugins/chat/spec/system/user_menu_notifications/sidebar_spec.rb
  plugins/chat/spec/system/user_status/sidebar_spec.rb
Labels: chat

#19695 DEV: slightly increase wait to avoid flakey tests
  plugins/chat/spec/system/jit_messages_spec.rb
Labels: chat

#19702 DEV: Fix syntax error in spec file
  plugins/chat/spec/system/jit_messages_spec.rb
Labels: chat

#19711 DEV: adds basic sorting to avoid flakey test
  plugins/chat/lib/extensions/user_notifications_extension.rb
Labels: chat

#19707 FIX: Bookmark auto delete preference usage and default value
  app/assets/javascripts/discourse/app/components/bookmark.js
  app/assets/javascripts/discourse/app/controllers/topic.js
  app/assets/javascripts/discourse/app/models/bookmark.js
  lib/bookmark_manager.rb
  plugins/chat/assets/javascripts/discourse/components/chat-message.js
  plugins/chat/spec/system/bookmark_message_spec.rb
  spec/lib/bookmark_manager_spec.rb
  spec/system/bookmarks_spec.rb
  spec/system/page_objects/modals/base.rb
Labels: chat

#19758 DEV: Re-enable chat transcript nested system spec
  plugins/chat/spec/system/page_objects/chat/chat_channel.rb
  plugins/chat/spec/system/transcript_spec.rb
Labels: chat

#19759 FIX: Do not error if autogenerated channel slug is blank
  plugins/chat/app/models/category_channel.rb
  plugins/chat/spec/models/category_channel_spec.rb
Labels: chat

#19769 FIX: render_404 is not defined
  plugins/chat/app/controllers/chat_controller.rb
Labels: chat

#19820 FIX: Channel archive N1 when serializing current user
  plugins/chat/app/serializers/chat_channel_serializer.rb
  plugins/chat/spec/plugin_spec.rb
  plugins/chat/spec/requests/core_ext/latest_performance_spec.rb
Labels: chat

#19768 FEATURE: Allow group owners promote more owners
  app/assets/javascripts/discourse/app/components/group-member-dropdown.js
  app/assets/javascripts/discourse/app/controllers/group-index.js
  app/assets/javascripts/discourse/app/models/group.js
  app/assets/javascripts/discourse/app/templates/group-index.hbs
  app/assets/javascripts/discourse/app/templates/mobile/group-index.hbs
  app/assets/javascripts/discourse/tests/acceptance/group-index-test.js
  app/controllers/admin/groups_controller.rb
  app/controllers/groups_controller.rb
  app/serializers/basic_group_serializer.rb
  config/routes.rb
  spec/requests/admin/groups_controller_spec.rb
  spec/requests/api/schemas/json/group_create_response.json
  spec/requests/api/schemas/json/group_response.json
  spec/requests/api/schemas/json/groups_list_response.json
  spec/requests/groups_controller_spec.rb
Labels: 3.1

#19777 FEATURE: Add search suggestions for tag-intersections
  app/assets/javascripts/discourse/app/routes/tag-show.js
  app/assets/javascripts/discourse/app/widgets/search-menu-results.js
  app/assets/javascripts/discourse/tests/acceptance/search-test.js
  app/assets/stylesheets/common/base/search-menu.scss
Labels: 3.1

#19825 DEV: Remove defunct TODOs
  app/assets/javascripts/discourse/app/components/composer-editor.js
  app/assets/javascripts/discourse/app/mixins/extendable-uploader.js
  app/assets/javascripts/discourse/app/mixins/upload-debugging.js
  app/models/external_upload_stub.rb
  app/services/external_upload_manager.rb
  lib/s3_helper.rb
  lib/upload_creator.rb
  plugins/chat/test/javascripts/unit/lib/chat-emoji-reaction-store-test.js
Labels: chat

#19791 FIX: Improve error reporting and failure modes for channel archiving
  lib/discourse_dev/config.rb
  plugins/chat/app/controllers/api/chat_channels_archives_controller.rb
  plugins/chat/app/models/chat_channel_archive.rb
  plugins/chat/assets/javascripts/discourse/components/chat-channel-archive-status.js
  plugins/chat/config/locales/client.en.yml
  plugins/chat/config/locales/server.en.yml
  plugins/chat/lib/chat_channel_archive_service.rb
  plugins/chat/spec/lib/chat_channel_archive_service_spec.rb
  plugins/chat/spec/requests/api/chat_channels_archives_controller_spec.rb
  plugins/chat/spec/system/archive_channel_spec.rb
Labels: chat

#19839 DEV: Remove old TODO for chat webhooks
  plugins/chat/app/controllers/incoming_chat_webhooks_controller.rb
Labels: chat

#19844 DEV: Fix chat sidebar system spec flaky
  plugins/chat/spec/system/page_objects/sidebar/sidebar.rb
  plugins/chat/spec/system/sidebar_navigation_menu_spec.rb
Labels: chat

#19836 DEV: Fix typo in chat spec
  plugins/chat/spec/requests/chat_controller_spec.rb
Labels: chat

#16872 DEV: Migrate existing cookies to Rails 7 format
  config/application.rb
  config/initializers/new_framework_defaults_7_0.rb
  lib/middleware/cookies_rotator.rb
  spec/integration/multisite_cookies_spec.rb
Labels: 3.1

#19859 FIX: Use hashtags in channel archive PMs if available
  plugins/chat/config/locales/server.en.yml
  plugins/chat/lib/chat_channel_archive_service.rb
  plugins/chat/spec/lib/chat_channel_archive_service_spec.rb
Labels: chat

#19857 FIX: Fix incorrect hashtag setting migration
  db/migrate/20230103004613_make_experimental_hashtag_feature_default_for_new_sites.rb
  plugins/chat/spec/models/chat_message_spec.rb
  plugins/discourse-narrative-bot/spec/discourse_narrative_bot/advanced_user_narrative_spec.rb
  spec/integrity/common_mark_spec.rb
  spec/lib/pretty_text_spec.rb
  spec/requests/hashtags_controller_spec.rb
Labels: chat

#19716 DEV: extract anniversary badge query
  app/jobs/scheduled/grant_anniversary_badges.rb
  lib/badge_queries.rb
  spec/jobs/grant_anniversary_badges_spec.rb
Labels: 3.1

#19690 FEATURE: Verify email webhook signatures
  app/controllers/webhooks_controller.rb
  config/locales/server.en.yml
  config/site_settings.yml
  spec/requests/webhooks_controller_spec.rb
Labels: 3.1

#19889 FIX: Change wording from title to name in channel about page
  plugins/chat/assets/javascripts/discourse/components/chat-channel-about-view.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-channel-about-view.js
  plugins/chat/assets/javascripts/discourse/controllers/chat-channel-edit-name.js
  plugins/chat/assets/javascripts/discourse/controllers/chat-channel-info-about.js
  plugins/chat/assets/javascripts/discourse/templates/chat-channel-info-about.hbs
  plugins/chat/assets/javascripts/discourse/templates/modal/chat-channel-edit-name.hbs
  plugins/chat/assets/javascripts/discourse/templates/modal/chat-channel-edit-title.hbs
  plugins/chat/assets/stylesheets/common/chat-channel-info.scss
  plugins/chat/config/locales/client.en.yml
  plugins/chat/spec/system/channel_about_page_spec.rb
Labels: chat

#19772 DEV: introduces documentation for chat
  .github/workflows/documentation.yml
  .jsdoc
  package.json
  plugins/chat/assets/javascripts/discourse/components/chat-channel-delete-modal-inner.js
  plugins/chat/assets/javascripts/discourse/components/chat-channel-settings-view.js
  plugins/chat/assets/javascripts/discourse/lib/collection.js
  plugins/chat/assets/javascripts/discourse/services/chat-api.js
  plugins/chat/assets/javascripts/discourse/services/chat-channels-manager.js
  plugins/chat/docs/FRONTEND.md
  plugins/chat/lib/tasks/chat_doc.rake
  yarn.lock
Labels: chat, 3.1

#19905 UX: reorders chat-channel fields
  plugins/chat/assets/javascripts/discourse/controllers/create-channel.js
  plugins/chat/assets/javascripts/discourse/templates/modal/create-channel.hbs
  plugins/chat/assets/stylesheets/common/common.scss
  plugins/chat/assets/stylesheets/common/create-channel-modal.scss
  plugins/chat/config/locales/client.en.yml
  plugins/chat/plugin.rb
Labels: chat

#19920 FIX: Do not override channel name when category selected
  plugins/chat/assets/javascripts/discourse/controllers/create-channel.js
  plugins/chat/spec/system/create_channel_spec.rb
Labels: chat

#19612 FEATURE: Introduce pg_force_readonly_mode GlobalSetting
  config/discourse_defaults.conf
  config/initializers/002-rails_failover.rb
  lib/discourse.rb
  spec/lib/discourse_spec.rb
Labels: 3.1

#19928 FEATURE: Allow changing slug on create channel
  app/controllers/slugs_controller.rb
  config/routes.rb
  plugins/chat/app/controllers/api/chat_channels_controller.rb
  plugins/chat/assets/javascripts/discourse/controllers/create-channel.js
  plugins/chat/assets/javascripts/discourse/templates/modal/create-channel.hbs
  plugins/chat/assets/stylesheets/common/create-channel-modal.scss
  plugins/chat/config/locales/client.en.yml
  plugins/chat/spec/requests/api/chat_channels_controller_spec.rb
  plugins/chat/spec/system/create_channel_spec.rb
  plugins/chat/spec/system/page_objects/chat/chat.rb
  plugins/chat/spec/system/page_objects/modals/chat_channel_create.rb
  spec/requests/slugs_controller_spec.rb
  spec/support/system_helpers.rb
  spec/system/page_objects/modals/base.rb
Labels: chat

#19908 FIX: generates automatic slug for trashed channels
  plugins/chat/app/controllers/api/chat_channels_controller.rb
  plugins/chat/spec/requests/api/chat_channels_controller_spec.rb
Labels: chat

#19952 FIX: prevents msg-actions to show hover text
  plugins/chat/assets/javascripts/discourse/components/chat-message-actions-desktop.js
Labels: chat

#19958 FIX: adds negative skidding to popper offset
  plugins/chat/assets/javascripts/discourse/components/chat-message-actions-desktop.js
Labels: chat

#19947 DEV: Use UploadReference instead of ChatUpload in chat
  app/models/upload.rb
  app/models/upload_reference.rb
  plugins/chat/app/jobs/regular/chat_channel_delete.rb
  plugins/chat/app/models/chat_message.rb
  plugins/chat/app/models/chat_upload.rb
  plugins/chat/db/migrate/20230123020036_move_chat_uploads_to_upload_references.rb
  plugins/chat/db/post_migrate/20230123025112_move_chat_uploads_to_upload_references_post.rb
  plugins/chat/lib/chat_message_updater.rb
  plugins/chat/lib/chat_transcript_service.rb
  plugins/chat/lib/message_mover.rb
  plugins/chat/plugin.rb
  plugins/chat/spec/components/chat_message_creator_spec.rb
  plugins/chat/spec/components/chat_message_updater_spec.rb
  plugins/chat/spec/jobs/chat_channel_delete_spec.rb
  plugins/chat/spec/lib/chat_channel_archive_service_spec.rb
  plugins/chat/spec/lib/chat_transcript_service_spec.rb
  plugins/chat/spec/lib/message_mover_spec.rb
  plugins/chat/spec/models/chat_message_spec.rb
  plugins/chat/spec/plugin_spec.rb
  plugins/chat/spec/system/uploads_spec.rb
  spec/fabricators/upload_fabricator.rb
Labels: chat

#19973 DEV: Fix random typos
  app/assets/javascripts/discourse/tests/acceptance/composer-test.js
  app/controllers/uploads_controller.rb
  plugins/chat/spec/system/navigating_to_message_spec.rb
  plugins/chat/spec/system/shortcuts/chat_composer_spec.rb
  plugins/chat/spec/system/shortcuts/sidebar_spec.rb
Labels: chat

#19987 SECURITY: Limit chat drafts length and preloaded count
  plugins/chat/app/controllers/chat_controller.rb
  plugins/chat/app/models/chat_draft.rb
  plugins/chat/assets/javascripts/discourse/services/chat.js
  plugins/chat/config/locales/server.en.yml
  plugins/chat/config/settings.yml
  plugins/chat/db/post_migrate/20230116090324_drop_chat_drafts_over_max_length.rb
  plugins/chat/plugin.rb
  plugins/chat/spec/fabricators/chat_fabricator.rb
  plugins/chat/spec/models/chat_draft_spec.rb
  plugins/chat/spec/requests/chat_controller_spec.rb
  plugins/chat/spec/serializer/core_ext/current_user_serializer_spec.rb
Labels: chat

#19988 SECURITY: Limit chat drafts length and preloaded count
  plugins/chat/app/controllers/chat_controller.rb
  plugins/chat/app/models/chat_draft.rb
  plugins/chat/assets/javascripts/discourse/services/chat.js
  plugins/chat/config/locales/server.en.yml
  plugins/chat/config/settings.yml
  plugins/chat/db/post_migrate/20230116090324_drop_chat_drafts_over_max_length.rb
  plugins/chat/plugin.rb
  plugins/chat/spec/fabricators/chat_fabricator.rb
  plugins/chat/spec/models/chat_draft_spec.rb
  plugins/chat/spec/requests/chat_controller_spec.rb
  plugins/chat/spec/serializer/core_ext/current_user_serializer_spec.rb
Labels: chat

#19984 DEV: Change slugs/generate endpoint from GET to POST
  config/routes.rb
  plugins/chat/assets/javascripts/discourse/controllers/create-channel.js
  spec/requests/slugs_controller_spec.rb
Labels: chat

#19782 DEV: `/channel` -> `/c` chat route rename
  .byebug_history
  plugins/chat/app/models/chat_channel.rb
  plugins/chat/assets/javascripts/discourse/chat-route-map.js
  plugins/chat/assets/javascripts/discourse/components/chat-channel-about-view.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-channel-card.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-channel-row.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-channel-status.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-drawer.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-drawer.js
  plugins/chat/assets/javascripts/discourse/components/chat-live-pane.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-message.js
  plugins/chat/assets/javascripts/discourse/components/reviewable-chat-message.hbs
  plugins/chat/assets/javascripts/discourse/helpers/format-chat-date.js
  plugins/chat/assets/javascripts/discourse/helpers/slugify-channel.js
  plugins/chat/assets/javascripts/discourse/initializers/chat-sidebar.js
  plugins/chat/assets/javascripts/discourse/initializers/chat-user-menu.js
  plugins/chat/assets/javascripts/discourse/lib/slugify-channel.js
  plugins/chat/assets/javascripts/discourse/models/chat-channel.js
  plugins/chat/assets/javascripts/discourse/routes/chat-channel-legacy.js
  plugins/chat/assets/javascripts/discourse/routes/chat-channel.js
  plugins/chat/assets/javascripts/discourse/routes/chat-message.js
  plugins/chat/assets/javascripts/discourse/services/chat-notification-manager.js
  plugins/chat/assets/javascripts/discourse/services/chat.js
  plugins/chat/assets/javascripts/discourse/templates/chat-channel-info-about.hbs
  plugins/chat/assets/javascripts/discourse/templates/chat-channel-info.hbs
  plugins/chat/assets/javascripts/discourse/templates/modal/chat-channel-edit-name.hbs
  plugins/chat/assets/javascripts/discourse/templates/modal/create-channel.hbs
  plugins/chat/assets/javascripts/discourse/widgets/chat-invitation-notification-item.js
  plugins/chat/assets/javascripts/discourse/widgets/chat-mention-notification-item.js
  plugins/chat/assets/javascripts/lib/discourse-markdown/chat-transcript.js
  plugins/chat/lib/onebox/templates/discourse_chat.mustache
  plugins/chat/plugin.rb
  plugins/chat/spec/integration/post_chat_quote_spec.rb
  plugins/chat/spec/jobs/regular/chat_notify_mentioned_spec.rb
  plugins/chat/spec/models/chat_channel_spec.rb
  plugins/chat/spec/models/chat_message_spec.rb
  plugins/chat/spec/plugin_spec.rb
  plugins/chat/spec/system/channel_info_pages_spec.rb
  plugins/chat/spec/system/channel_members_page_spec.rb
  plugins/chat/spec/system/channel_settings_page_spec.rb
  plugins/chat/spec/system/create_channel_spec.rb
  plugins/chat/spec/system/navigating_to_message_spec.rb
  plugins/chat/spec/system/navigation_spec.rb
  plugins/chat/spec/system/page_objects/sidebar/sidebar.rb
  plugins/chat/spec/system/sidebar_navigation_menu_spec.rb
  plugins/chat/spec/system/user_menu_notifications/sidebar_spec.rb
  plugins/chat/spec/system/visit_channel_spec.rb
  plugins/chat/test/javascripts/acceptance/chat-composer-test.js
  plugins/chat/test/javascripts/acceptance/chat-live-pane-collapse-test.js
  plugins/chat/test/javascripts/acceptance/chat-live-pane-test.js
  plugins/chat/test/javascripts/components/chat-channel-row-test.js
  plugins/chat/test/javascripts/unit/helpers/format-chat-date-test.js
  plugins/chat/test/javascripts/widgets/chat-invitation-notification-item-test.js
  plugins/chat/test/javascripts/widgets/chat-mention-notification-item-test.js
Labels: chat

#19802 FIX: Ensure soft-deleted topics can be deleted
  app/assets/javascripts/discourse/app/controllers/topic.js
  app/assets/javascripts/discourse/app/models/topic.js
  app/controllers/topics_controller.rb
  lib/post_destroyer.rb
  spec/lib/post_destroyer_spec.rb
Labels: 3.1

#20043 FIX: Intercept old channel URLs in drawer mode
  plugins/chat/assets/javascripts/discourse/components/chat-drawer.js
  plugins/chat/assets/javascripts/discourse/routes/chat-channel.js
  plugins/chat/assets/javascripts/discourse/routes/chat.js
Labels: chat

#19948 FEATURE: Allow editing channel slug
  plugins/chat/app/controllers/api/chat_channels_controller.rb
  plugins/chat/app/services/chat_publisher.rb
  plugins/chat/assets/javascripts/discourse/components/chat-channel-about-view.hbs
  plugins/chat/assets/javascripts/discourse/controllers/chat-channel-edit-name-slug.js
  plugins/chat/assets/javascripts/discourse/controllers/chat-channel-edit-name.js
  plugins/chat/assets/javascripts/discourse/controllers/chat-channel-info-about.js
  plugins/chat/assets/javascripts/discourse/services/chat-subscriptions-manager.js
  plugins/chat/assets/javascripts/discourse/templates/modal/chat-channel-edit-name-slug.hbs
  plugins/chat/assets/javascripts/discourse/templates/modal/create-channel.hbs
  plugins/chat/assets/stylesheets/common/chat-channel-info.scss
  plugins/chat/assets/stylesheets/common/create-channel-modal.scss
  plugins/chat/config/locales/client.en.yml
  plugins/chat/spec/requests/api/chat_channels_controller_spec.rb
  plugins/chat/spec/system/channel_about_page_spec.rb
Labels: chat

#16231 DEV: declare post position as simple number in structured data
  app/assets/stylesheets/common/base/crawler_layout.scss
  app/views/topics/show.html.erb
  spec/fixtures/onebox/discourse_topic.response
  spec/fixtures/onebox/discourse_topic_reply.response
Labels: 3.1

#16237 DEV: use structured data in crawler-linkback-list for referencing only
  app/views/topics/show.html.erb
  spec/views/topics/show.html.erb_spec.rb
Labels: 3.1

#19815 UX: improve emoji alignment for text
  app/assets/stylesheets/common/base/emoji.scss
Labels: 3.1

#19643 FEATURE: Enable service worker for Apple devices
  app/assets/javascripts/discourse/app/lib/register-service-worker.js
  app/assets/javascripts/service-worker.js.erb
Labels: 3.1

#19494 DEV: dry up the Do Not Disturb widget
  app/assets/javascripts/discourse/app/widgets/do-not-disturb.js
Labels: 3.1

#20078 DEV: makes test more deterministic
  plugins/chat/lib/extensions/user_notifications_extension.rb
Labels: chat

#20060 DEV: Start threading for chat
  plugins/chat/app/models/chat_channel.rb
  plugins/chat/config/settings.yml
  plugins/chat/db/migrate/20230130053144_add_threading_enabled_to_chat_channels.rb
Labels: chat

#20085 FIX: Error calling LazyYT from chat when the plugin it's disabled
  plugins/chat/assets/javascripts/discourse/initializers/chat-plugin-decorators.js
Labels: chat

#20092 UX: brings back URL on chat icon when in full page
  plugins/chat/assets/javascripts/discourse/components/chat-header-icon.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-header-icon.js
Labels: chat

#20096 UX: remove chat-specific font declaration
  plugins/chat/assets/stylesheets/common/chat-drawer.scss
  plugins/chat/assets/stylesheets/common/common.scss
Labels: chat

#20094 FIX: Don't spam presence requests when getting 429 (stable)
  app/assets/javascripts/discourse/app/services/presence.js
  app/assets/javascripts/discourse/tests/unit/services/presence-test.js
Labels: stable

#19810 DEV: Change default bootstrap min users for private sites
  config/initializers/014-track-setting-changes.rb
  spec/lib/site_setting_extension_spec.rb
Labels: 3.1

#20090 SECURITY: Hide PM count for tags by default (#20061)
  app/assets/javascripts/discourse/app/models/tag.js
  app/assets/javascripts/discourse/tests/helpers/create-pretender.js
  app/assets/javascripts/discourse/tests/integration/components/select-kit/tag-drop-test.js
  app/assets/javascripts/discourse/tests/unit/models/tag-test.js
  app/controllers/tags_controller.rb
  config/locales/server.en.yml
  config/site_settings.yml
  spec/requests/tags_controller_spec.rb
Labels: stable
