Repository discourse/discourse, pull requests merged in 2023-07, with the labels that each got.

#22144 DEV: Refactor DM channel creation into new service pattern
  lib/user_comm_screener.rb
  plugins/chat/app/controllers/chat/api/direct_messages_controller.rb
  plugins/chat/app/controllers/chat/direct_messages_controller.rb
  plugins/chat/app/policies/chat/direct_message_channel/can_communicate_all_parties_policy.rb
  plugins/chat/app/policies/chat/direct_message_channel/max_users_excess_policy.rb
  plugins/chat/app/services/chat/create_direct_message_channel.rb
  plugins/chat/assets/javascripts/discourse/components/chat-channel-selector-modal-inner.js
  plugins/chat/assets/javascripts/discourse/services/chat.js
  plugins/chat/config/routes.rb
  plugins/chat/lib/chat/direct_message_channel_creator.rb
  plugins/chat/spec/components/chat/mailer_spec.rb
  plugins/chat/spec/components/chat/message_creator_spec.rb
  plugins/chat/spec/components/chat/message_updater_spec.rb
  plugins/chat/spec/jobs/regular/chat/notify_mentioned_spec.rb
  plugins/chat/spec/lib/chat/direct_message_channel_creator_spec.rb
  plugins/chat/spec/lib/chat/notifier_spec.rb
  plugins/chat/spec/mailers/user_notifications_spec.rb
  plugins/chat/spec/plugin_helper.rb
  plugins/chat/spec/requests/chat/api/direct_messages_controller_spec.rb
  plugins/chat/spec/requests/direct_messages_controller_spec.rb
  plugins/chat/spec/services/chat/create_direct_message_channel_spec.rb
  plugins/chat/spec/support/chat_helper.rb
  plugins/chat/spec/system/message_thread_indicator_spec.rb
Labels: chat

#22377 FIX: ActiveModel::Types :array load error in production
  plugins/chat/lib/chat/types/array.rb
  plugins/chat/plugin.rb
Labels: chat

#22321 DEV: Move user count update for channels to ensure_consistency!
  plugins/chat/app/jobs/scheduled/chat/update_user_counts_for_channels.rb
  plugins/chat/app/models/chat/channel.rb
  plugins/chat/spec/jobs/scheduled/update_user_counts_for_channels_spec.rb
  plugins/chat/spec/models/chat/channel_spec.rb
  plugins/chat/spec/plugin_spec.rb
Labels: chat

#21304 DEV: Introduce new component-based DModal API
  app/assets/javascripts/discourse/app/components/conditional-in-element.hbs
  app/assets/javascripts/discourse/app/components/d-modal-body.hbs
  app/assets/javascripts/discourse/app/components/d-modal-body.js
  app/assets/javascripts/discourse/app/components/d-modal-legacy.hbs
  app/assets/javascripts/discourse/app/components/d-modal-legacy.js
  app/assets/javascripts/discourse/app/components/d-modal.hbs
  app/assets/javascripts/discourse/app/components/d-modal.js
  app/assets/javascripts/discourse/app/components/modal-container.hbs
  app/assets/javascripts/discourse/app/components/modal-container.js
  app/assets/javascripts/discourse/app/lib/show-modal.js
  app/assets/javascripts/discourse/app/services/modal.js
  app/assets/javascripts/discourse/config/deprecation-workflow.js
  app/assets/javascripts/discourse/tests/acceptance/do-not-disturb-test.js
  app/assets/javascripts/discourse/tests/acceptance/modal-legacy-test.js
  app/assets/javascripts/discourse/tests/acceptance/modal-service-test.js
  app/assets/javascripts/discourse/tests/integration/components/d-modal-test.js
  plugins/styleguide/assets/javascripts/discourse/components/sections/organisms/modal.hbs
  plugins/styleguide/assets/javascripts/discourse/components/sections/organisms/modal.js
  plugins/styleguide/assets/javascripts/discourse/lib/dummy-data.js
Labels: js-modernization

#22378 FIX: improve performance of post alerter job
  app/services/post_alerter.rb
Labels: personalisation

#21125 FEATURE: Use rich user status tooltip everywhere
  app/assets/javascripts/discourse/app/components/composer-editor.js
  app/assets/javascripts/discourse/app/components/d-tooltip.js
  app/assets/javascripts/discourse/app/components/sidebar/section-link.hbs
  app/assets/javascripts/discourse/app/components/sidebar/user/sections.hbs
  app/assets/javascripts/discourse/app/components/user-status-message.hbs
  app/assets/javascripts/discourse/app/lib/autocomplete.js
  app/assets/javascripts/discourse/app/lib/d-tooltip.js
  app/assets/javascripts/discourse/app/lib/update-user-status-on-mention.js
  app/assets/javascripts/discourse/app/lib/user-status-message.js
  app/assets/javascripts/discourse/app/lib/user-status-on-autocomplete.js
  app/assets/javascripts/discourse/app/templates/user-selector-autocomplete.hbr
  app/assets/javascripts/discourse/app/widgets/post-cooked.js
  app/assets/javascripts/discourse/tests/acceptance/composer-editor-mentions-test.js
  app/assets/javascripts/discourse/tests/acceptance/post-inline-mentions-test.js
  app/assets/stylesheets/common/base/compose.scss
  plugins/chat/assets/javascripts/discourse/components/chat-composer.js
  plugins/chat/assets/javascripts/discourse/components/chat-message.js
  plugins/chat/assets/javascripts/discourse/initializers/chat-sidebar.js
  plugins/chat/spec/system/chat_channel_spec.rb
  plugins/chat/spec/system/sidebar_navigation_menu_spec.rb
  plugins/chat/spec/system/user_status/sidebar_spec.rb
  plugins/chat/test/javascripts/acceptance/user-status-on-mentions-test.js
  plugins/chat/test/javascripts/components/chat-channel-test.js
Labels: chat

#22395 DEV: Skip flaky chat mention status test
  plugins/chat/test/javascripts/acceptance/user-status-on-mentions-test.js
Labels: chat

#22396 DEV: Skip flaky chat deleted message mention status flake
  plugins/chat/test/javascripts/acceptance/user-status-on-mentions-test.js
Labels: chat

#22397 DEV: Skip remaining flaky mention status tests
  plugins/chat/test/javascripts/acceptance/user-status-on-mentions-test.js
Labels: chat

#22398 DEV: Skip all chat user status tests
  plugins/chat/test/javascripts/acceptance/user-status-on-mentions-test.js
Labels: chat

#22379 UX: visual indicator for reorder sidebar links mode
  app/assets/stylesheets/common/base/sidebar-custom-section.scss
Labels: personalisation

#22401 DEV: Switch edit nav menu tags/categories modal to component
  app/assets/javascripts/discourse/app/components/sidebar/edit-navigation-menu/categories-modal.hbs
  app/assets/javascripts/discourse/app/components/sidebar/edit-navigation-menu/categories-modal.js
  app/assets/javascripts/discourse/app/components/sidebar/edit-navigation-menu/modal.hbs
  app/assets/javascripts/discourse/app/components/sidebar/edit-navigation-menu/modal.js
  app/assets/javascripts/discourse/app/components/sidebar/edit-navigation-menu/tags-modal.hbs
  app/assets/javascripts/discourse/app/components/sidebar/edit-navigation-menu/tags-modal.js
  app/assets/javascripts/discourse/app/components/sidebar/edit-navigation-modal-form/modal.hbs
  app/assets/javascripts/discourse/app/components/sidebar/user/categories-section.hbs
  app/assets/javascripts/discourse/app/components/sidebar/user/categories-section.js
  app/assets/javascripts/discourse/app/components/sidebar/user/tags-section.hbs
  app/assets/javascripts/discourse/app/components/sidebar/user/tags-section.js
  app/assets/javascripts/discourse/app/controllers/sidebar-categories-form.js
  app/assets/javascripts/discourse/app/templates/modal/sidebar-categories-form.hbs
  app/assets/javascripts/discourse/tests/acceptance/sidebar-user-categories-section-test.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-user-tags-section-test.js
  app/assets/stylesheets/common/base/modal.scss
  app/assets/stylesheets/common/components/_index.scss
  app/assets/stylesheets/common/components/sidebar/edit-navigation-menu/categories-modal.scss
  app/assets/stylesheets/common/components/sidebar/edit-navigation-menu/modal.scss
  app/assets/stylesheets/common/components/sidebar/edit-navigation-menu/tags-modal.scss
  app/assets/stylesheets/desktop/components/_index.scss
  app/assets/stylesheets/desktop/components/sidebar/edit-navigation-menu/categories-modal.scss
  app/assets/stylesheets/desktop/components/sidebar/edit-navigation-menu/tags-modal.scss
  app/assets/stylesheets/mobile/components/_index.scss
  app/assets/stylesheets/mobile/components/sidebar/edit-navigation-menu/modal.scss
  app/assets/stylesheets/mobile/components/sidebar/edit-navigation-menu/tags-modal.scss
  app/assets/stylesheets/mobile/components/sidebar/edit-navigation-modal-form/modal.scss
  spec/system/page_objects/modals/sidebar_edit_categories.rb
  spec/system/page_objects/modals/sidebar_edit_navigation_modal.rb
  spec/system/page_objects/modals/sidebar_edit_tags.rb
Labels: personalisation

#22380 PERF: Paginate loading of tags in edit nav menu tags modal
  app/assets/javascripts/discourse/app/adapters/list-tag.js
  app/assets/javascripts/discourse/app/components/sidebar/edit-navigation-menu/categories-modal.hbs
  app/assets/javascripts/discourse/app/components/sidebar/edit-navigation-menu/modal.hbs
  app/assets/javascripts/discourse/app/components/sidebar/edit-navigation-menu/tags-modal.hbs
  app/assets/javascripts/discourse/app/components/sidebar/edit-navigation-menu/tags-modal.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-user-tags-section-test.js
  app/assets/stylesheets/common/components/sidebar/edit-navigation-menu/modal.scss
  app/assets/stylesheets/desktop/components/sidebar/edit-navigation-menu/tags-modal.scss
  app/assets/stylesheets/mobile/components/sidebar/edit-navigation-menu/tags-modal.scss
  app/controllers/tags_controller.rb
  config/routes.rb
  spec/requests/tags_controller_spec.rb
  spec/system/editing_sidebar_tags_navigation_spec.rb
Labels: personalisation

#22340 FEATURE: allow user to override watched_precedence_over_muted setting
  app/assets/javascripts/discourse/app/controllers/preferences/tracking.js
  app/assets/javascripts/discourse/app/models/user.js
  app/assets/javascripts/discourse/app/templates/preferences/tracking.hbs
  app/models/user.rb
  app/models/user_option.rb
  app/serializers/user_option_serializer.rb
  app/services/post_alerter.rb
  app/services/user_updater.rb
  config/locales/client.en.yml
  db/migrate/20230628062236_add_watched_precedence_over_muted_to_user_options.rb
  lib/topic_query.rb
  spec/lib/topic_query_spec.rb
  spec/requests/api/schemas/json/user_get_response.json
  spec/services/post_alerter_spec.rb
Labels: personalisation

#22404 DEV: Ensure browser network conditions is reset in system tests
  plugins/chat/spec/system/chat_composer_spec.rb
  spec/system/network_disconnected_spec.rb
Labels: chat

#22406 DEV: Fix or remove flaky chat specs
  plugins/chat/assets/javascripts/discourse/components/chat-thread.js
  plugins/chat/assets/javascripts/discourse/components/chat/selection-manager.hbs
  plugins/chat/assets/javascripts/discourse/components/chat/selection-manager.js
  plugins/chat/assets/javascripts/discourse/components/chat/thread/header.js
  plugins/chat/spec/system/transcript_spec.rb
Labels: chat

#22389 UX: Thread indicator small fixes
  plugins/chat/assets/javascripts/discourse/components/chat/thread/participants.hbs
  plugins/chat/assets/stylesheets/common/chat-message-thread-indicator.scss
  plugins/chat/assets/stylesheets/common/chat-thread-participants.scss
  plugins/chat/config/locales/client.en.yml
Labels: chat

#22164 DEV: Convert poll modals to new component-based API
  plugins/poll/assets/javascripts/discourse/components/modal/poll-breakdown.hbs
  plugins/poll/assets/javascripts/discourse/components/modal/poll-breakdown.js
  plugins/poll/assets/javascripts/discourse/components/modal/poll-ui-builder.hbs
  plugins/poll/assets/javascripts/discourse/components/modal/poll-ui-builder.js
  plugins/poll/assets/javascripts/discourse/components/poll-breakdown-chart.js
  plugins/poll/assets/javascripts/discourse/initializers/add-poll-ui-builder.js
  plugins/poll/assets/javascripts/discourse/templates/modal/poll-breakdown.hbs
  plugins/poll/assets/javascripts/discourse/templates/modal/poll-ui-builder.hbs
  plugins/poll/assets/javascripts/discourse/widgets/discourse-poll.js
  plugins/poll/test/javascripts/component/poll-ui-builder-test.js
  plugins/poll/test/javascripts/unit/controllers/poll-ui-builder-test.js
Labels: js-modernization

#22351 DEV: Convert second-factor-add-security-key modal to component-based API
  app/assets/javascripts/discourse/app/components/modal/second-factor-add-security-key.hbs
  app/assets/javascripts/discourse/app/components/modal/second-factor-add-security-key.js
  app/assets/javascripts/discourse/app/controllers/preferences/second-factor.js
  app/assets/javascripts/discourse/app/controllers/second-factor-add-security-key.js
  app/assets/javascripts/discourse/app/templates/modal/second-factor-add-security-key.hbs
Labels: js-modernization

#22248 DEV: Convert fullscreen modals to component-based API
  app/assets/javascripts/discourse/app/components/modal/fullscreen-code.hbs
  app/assets/javascripts/discourse/app/components/modal/fullscreen-code.js
  app/assets/javascripts/discourse/app/components/modal/fullscreen-table.hbs
  app/assets/javascripts/discourse/app/controllers/fullscreen-code.js
  app/assets/javascripts/discourse/app/instance-initializers/post-decorations.js
  app/assets/javascripts/discourse/app/lib/codeblock-buttons.js
  app/assets/javascripts/discourse/app/templates/modal/fullscreen-code.hbs
  app/assets/javascripts/discourse/app/templates/modal/fullscreen-table.hbs
Labels: js-modernization

#22367 DEV: Convert second-factor-edit modals to component-based API
  app/assets/javascripts/discourse/app/components/modal/second-factor-edit-security-key.hbs
  app/assets/javascripts/discourse/app/components/modal/second-factor-edit-security-key.js
  app/assets/javascripts/discourse/app/components/modal/second-factor-edit.hbs
  app/assets/javascripts/discourse/app/components/modal/second-factor-edit.js
  app/assets/javascripts/discourse/app/controllers/preferences/second-factor.js
  app/assets/javascripts/discourse/app/controllers/second-factor-edit-security-key.js
  app/assets/javascripts/discourse/app/controllers/second-factor-edit.js
  app/assets/javascripts/discourse/app/templates/modal/second-factor-edit-security-key.hbs
  app/assets/javascripts/discourse/app/templates/modal/second-factor-edit.hbs
Labels: js-modernization

#22196 DEV: Convert form template modals to new component-based API
  app/assets/javascripts/admin/addon/components/form-template/form.hbs
  app/assets/javascripts/admin/addon/components/form-template/form.js
  app/assets/javascripts/admin/addon/components/form-template/row-item.hbs
  app/assets/javascripts/admin/addon/components/form-template/row-item.js
  app/assets/javascripts/discourse/app/components/modal/customize-form-template-view.hbs
  app/assets/javascripts/discourse/app/components/modal/customize-form-template-view.js
  app/assets/javascripts/discourse/app/components/modal/form-template-form-preview.hbs
  app/assets/javascripts/discourse/app/controllers/form-template-form-preview.js
  app/assets/javascripts/discourse/app/templates/modal/customize-form-template-view.hbs
  app/assets/javascripts/discourse/app/templates/modal/form-template-form-preview.hbs
Labels: js-modernization

#22394 DEV: Convert do-not-disturb modal to component-based API
  app/assets/javascripts/discourse/app/components/modal/do-not-disturb.hbs
  app/assets/javascripts/discourse/app/components/modal/do-not-disturb.js
  app/assets/javascripts/discourse/app/components/user-menu/profile-tab-content.js
  app/assets/javascripts/discourse/app/controllers/do-not-disturb.js
  app/assets/javascripts/discourse/app/templates/modal/do-not-disturb.hbs
  app/assets/javascripts/discourse/app/widgets/do-not-disturb.js
Labels: js-modernization

#22426 DEV: Unhide chat experimental threads site setting
  plugins/chat/config/locales/server.en.yml
  plugins/chat/config/settings.yml
Labels: chat

#22428 DEV: Fix flaky system test when expanding chat message actions on mobile
  plugins/chat/spec/system/page_objects/chat/chat_channel.rb
Labels: chat

#22434 FIX: Error when loading a channel with threading enabled but no threads
  plugins/chat/app/services/chat/lookup_channel_threads.rb
  plugins/chat/spec/services/chat/lookup_channel_threads_spec.rb
Labels: chat

#22422 DEV: Update keyboard shortcuts to glimmer and new modal API
  app/assets/javascripts/discourse/app/components/modal/keyboard-shortcuts-help.hbs
  app/assets/javascripts/discourse/app/components/modal/keyboard-shortcuts-help.js
  app/assets/javascripts/discourse/app/routes/application.js
  app/assets/javascripts/discourse/app/templates/modal/keyboard-shortcuts-help.hbs
Labels: js-modernization

#22421 DEV: Update `json_schema` site setting field to Glimmer and use new modal API
  app/assets/javascripts/admin/addon/components/site-settings/string.hbs
  app/assets/javascripts/admin/addon/components/site-settings/string.js
  app/assets/javascripts/discourse/app/components/json-editor.hbs
  app/assets/javascripts/discourse/app/components/json-editor.js
  app/assets/javascripts/discourse/app/components/modal/json-schema-editor.hbs
  app/assets/javascripts/discourse/app/components/modal/json-schema-editor.js
  app/assets/javascripts/discourse/app/controllers/json-schema-editor.js
  app/assets/javascripts/discourse/app/templates/modal/json-schema-editor.hbs
Labels: js-modernization

#22368 DEV: Convert group-add-members modal to component-based API
  app/assets/javascripts/discourse/app/components/modal/group-add-members.hbs
  app/assets/javascripts/discourse/app/components/modal/group-add-members.js
  app/assets/javascripts/discourse/app/controllers/group-add-members.js
  app/assets/javascripts/discourse/app/routes/group-index.js
  app/assets/javascripts/discourse/app/templates/modal/group-add-members.hbs
Labels: js-modernization

#22358 DEV: Convert second-factor-add-totp modal to component-based API
  app/assets/javascripts/discourse/app/components/modal/second-factor-add-totp.hbs
  app/assets/javascripts/discourse/app/components/modal/second-factor-add-totp.js
  app/assets/javascripts/discourse/app/controllers/preferences/second-factor.js
  app/assets/javascripts/discourse/app/controllers/second-factor-add-totp.js
  app/assets/javascripts/discourse/app/templates/modal/second-factor-add-totp.hbs
Labels: js-modernization

#22441 FIX: correctly show unread and presence
  plugins/chat/assets/javascripts/discourse/components/chat/message-creator.js
  plugins/chat/assets/javascripts/discourse/components/chat/message-creator/channel-row.hbs
  plugins/chat/assets/javascripts/discourse/components/chat/message-creator/channel-row.js
  plugins/chat/assets/javascripts/discourse/components/chat/message-creator/user-row.hbs
  plugins/chat/assets/javascripts/discourse/components/chat/message/avatar.hbs
  plugins/chat/spec/system/new_message_spec.rb
  plugins/chat/spec/system/page_objects/chat/chat.rb
  plugins/chat/spec/system/page_objects/chat/components/message_creator.rb
  plugins/chat/spec/system/user_presence.rb
Labels: chat

#22442 FIX: do not filter on category name
  plugins/chat/app/services/chat/search_chatable.rb
  plugins/chat/spec/system/new_message_spec.rb
Labels: chat

#22443 FIX: more consistent composer focus and replying indicator
  plugins/chat/assets/javascripts/discourse/components/chat-channel.js
  plugins/chat/assets/javascripts/discourse/components/chat-composer.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-composer.js
  plugins/chat/assets/javascripts/discourse/components/chat-thread.js
  plugins/chat/assets/javascripts/discourse/components/chat/composer/channel.js
  plugins/chat/assets/javascripts/discourse/components/chat/composer/thread.js
  plugins/chat/assets/javascripts/discourse/services/chat-channel-composer.js
Labels: chat

#22432 DEV: Add more helpful assertions for flaky system tests in CI
  plugins/chat/spec/system/navigation_spec.rb
Labels: chat

#22448 DEV: prevents message actions to hide drawer's header
  plugins/chat/assets/stylesheets/desktop/chat-message-actions.scss
  plugins/chat/spec/system/drawer_spec.rb
  plugins/chat/spec/system/page_objects/chat_drawer/chat_drawer.rb
Labels: chat

#22402 FIX: Better handling of deleted thread original messages
  plugins/chat/app/queries/chat/thread_unreads_query.rb
  plugins/chat/app/services/chat/lookup_channel_threads.rb
  plugins/chat/assets/javascripts/discourse/components/chat/thread-list.hbs
  plugins/chat/assets/javascripts/discourse/components/chat/thread-list.js
  plugins/chat/spec/queries/chat/thread_unreads_query_spec.rb
  plugins/chat/spec/system/page_objects/chat/chat_channel.rb
  plugins/chat/spec/system/page_objects/chat/chat_thread.rb
  plugins/chat/spec/system/page_objects/chat/components/thread_list.rb
  plugins/chat/spec/system/thread_list/full_page_spec.rb
  plugins/chat/spec/system/thread_tracking/full_page_spec.rb
Labels: chat

#22449 DEV: Avoid waiting full capybara default wait time
  plugins/chat/spec/system/navigation_spec.rb
  plugins/chat/spec/system/page_objects/chat/chat_side_panel.rb
Labels: chat

#22452 DEV: Fix flaky chat drawer system test
  plugins/chat/spec/system/page_objects/chat/chat_channel.rb
Labels: chat

#22430 DEV: Switch edit sidebar section modal to component
  app/assets/javascripts/discourse/app/components/modal/sidebar-section-form.hbs
  app/assets/javascripts/discourse/app/components/modal/sidebar-section-form.js
  app/assets/javascripts/discourse/app/components/sidebar/footer.js
  app/assets/javascripts/discourse/app/lib/sidebar/community-section.js
  app/assets/javascripts/discourse/app/lib/sidebar/section.js
  app/assets/javascripts/discourse/app/templates/modal/sidebar-section-form.hbs
Labels: personalisation

#22454 DEV: Fix number of chars for chat message content in fabricator
  plugins/chat/spec/fabricators/chat_fabricator.rb
Labels: chat

#22457 FIX: Avoid transitioning when a chat thread component is destroyed
  plugins/chat/assets/javascripts/discourse/components/chat-thread.js
Labels: chat

#22451 DEV: Normalize key modifier checks for keyboard shortcuts
  app/assets/javascripts/discourse/app/components/d-editor.js
  app/assets/javascripts/discourse/app/lib/keyboard-shortcuts.js
  app/assets/javascripts/discourse/app/lib/utilities.js
  app/assets/javascripts/discourse/tests/acceptance/composer-test.js
  plugins/chat/assets/javascripts/discourse/initializers/chat-keyboard-shortcuts.js
  plugins/chat/spec/system/chat/composer/shortcuts/channel_spec.rb
  plugins/chat/spec/system/page_objects/chat/chat.rb
  plugins/chat/spec/system/page_objects/chat/components/composer.rb
  spec/support/system_helpers.rb
Labels: chat

#22459 FIX: Show replies count on thread indicator regardless of participants
  plugins/chat/assets/javascripts/discourse/components/chat-message-thread-indicator.hbs
  plugins/chat/assets/javascripts/discourse/components/chat/thread/participants.hbs
  plugins/chat/spec/system/message_thread_indicator_spec.rb
  plugins/chat/spec/system/page_objects/chat/components/thread_indicator.rb
Labels: chat

#22458 FIX: Mark threads read when threading enabled for a channel
  plugins/chat/app/jobs/regular/chat/mark_all_channel_threads_read.rb
  plugins/chat/app/models/chat/channel.rb
  plugins/chat/app/services/chat/update_channel.rb
  plugins/chat/spec/jobs/regular/mark_all_channel_threads_read_spec.rb
  plugins/chat/spec/services/chat/update_channel_spec.rb
Labels: chat

#22463 FIX: Add missing chat translations
  plugins/chat/config/locales/server.en.yml
Labels: chat

#22154 DEV: Convert share-topic modal to new component-based API
  app/assets/javascripts/discourse/app/components/composer-messages.hbs
  app/assets/javascripts/discourse/app/components/composer-messages.js
  app/assets/javascripts/discourse/app/components/modal/share-topic.hbs
  app/assets/javascripts/discourse/app/components/modal/share-topic.js
  app/assets/javascripts/discourse/app/controllers/share-topic.js
  app/assets/javascripts/discourse/app/instance-initializers/topic-footer-buttons.js
  app/assets/javascripts/discourse/app/widgets/post.js
Labels: js-modernization

#22465 FIX: removes discourse-teams-sidebar support
  plugins/chat/assets/javascripts/discourse/components/sidebar-channels.hbs
  plugins/chat/assets/javascripts/discourse/components/sidebar-channels.js
  plugins/chat/assets/javascripts/discourse/connectors/sidebar-bottom/sidebar-connector.hbs
Labels: chat

#22366 DEV: Convert second-factor-backup-edit modal to component-based API
  app/assets/javascripts/discourse/app/components/modal/second-factor-backup-edit.hbs
  app/assets/javascripts/discourse/app/components/modal/second-factor-backup-edit.js
  app/assets/javascripts/discourse/app/controllers/preferences/second-factor.js
  app/assets/javascripts/discourse/app/controllers/second-factor-backup-edit.js
  app/assets/javascripts/discourse/app/templates/modal/second-factor-backup-edit.hbs
  app/assets/javascripts/discourse/tests/acceptance/user-preferences-second-factor-backup-test.js
Labels: js-modernization

#22262 DEV: Convert dismiss modals to component-based API
  app/assets/javascripts/discourse/app/components/modal/dismiss-new.hbs
  app/assets/javascripts/discourse/app/components/modal/dismiss-new.js
  app/assets/javascripts/discourse/app/components/modal/dismiss-notification-confirmation.hbs
  app/assets/javascripts/discourse/app/components/modal/dismiss-notification-confirmation.js
  app/assets/javascripts/discourse/app/components/modal/dismiss-read.hbs
  app/assets/javascripts/discourse/app/components/topic-dismiss-buttons.js
  app/assets/javascripts/discourse/app/components/user-menu/bookmarks-list.js
  app/assets/javascripts/discourse/app/components/user-menu/items-list.js
  app/assets/javascripts/discourse/app/components/user-menu/likes-notifications-list.js
  app/assets/javascripts/discourse/app/components/user-menu/messages-list.js
  app/assets/javascripts/discourse/app/components/user-menu/notifications-list.js
  app/assets/javascripts/discourse/app/components/user-menu/other-notifications-list.js
  app/assets/javascripts/discourse/app/components/user-menu/replies-notifications-list.js
  app/assets/javascripts/discourse/app/controllers/dismiss-new.js
  app/assets/javascripts/discourse/app/controllers/dismiss-notification-confirmation.js
  app/assets/javascripts/discourse/app/controllers/user-notifications.js
  app/assets/javascripts/discourse/app/mixins/dismiss-topics.js
  app/assets/javascripts/discourse/app/templates/modal/dismiss-new.hbs
  app/assets/javascripts/discourse/app/templates/modal/dismiss-notification-confirmation.hbs
  app/assets/javascripts/discourse/app/templates/modal/dismiss-read.hbs
  app/assets/javascripts/discourse/tests/acceptance/user-menu-test.js
  app/assets/javascripts/discourse/tests/unit/controllers/user-notifications-test.js
Labels: js-modernization

#22227 DEV: Convert activation modals to new component-based API
  app/assets/javascripts/discourse/app/components/activation-email-form.hbs
  app/assets/javascripts/discourse/app/components/activation-email-form.js
  app/assets/javascripts/discourse/app/components/modal/activation-edit.hbs
  app/assets/javascripts/discourse/app/components/modal/activation-edit.js
  app/assets/javascripts/discourse/app/components/modal/activation-resent.hbs
  app/assets/javascripts/discourse/app/components/modal/not-activated.hbs
  app/assets/javascripts/discourse/app/components/modal/not-activated.js
  app/assets/javascripts/discourse/app/controllers/activation-edit.js
  app/assets/javascripts/discourse/app/controllers/not-activated.js
  app/assets/javascripts/discourse/app/routes/application.js
  app/assets/javascripts/discourse/app/templates/modal/activation-edit.hbs
  app/assets/javascripts/discourse/app/templates/modal/activation-resent.hbs
  app/assets/javascripts/discourse/app/templates/modal/not-activated.hbs
Labels: js-modernization

#22469 DEV: Skip flaky visit-channel system tests
  plugins/chat/spec/system/navigation_spec.rb
  plugins/chat/spec/system/visit_channel_spec.rb
Labels: chat

#22438 DEV: Remove `OK` pretender helper
  plugins/chat/test/javascripts/acceptance/user-status-on-mentions-test.js
  plugins/chat/test/javascripts/components/chat-channel-test.js
Labels: chat

#22470 FIX: correctly makes dm creator to follow channel
  plugins/chat/app/controllers/chat/chat_controller.rb
  plugins/chat/app/services/chat/publisher.rb
  plugins/chat/assets/javascripts/discourse/components/chat-channel.js
  plugins/chat/assets/javascripts/discourse/models/chat-channel.js
  plugins/chat/assets/javascripts/discourse/services/chat-channels-manager.js
  plugins/chat/assets/javascripts/discourse/services/chat-subscriptions-manager.js
  plugins/chat/assets/javascripts/discourse/services/chat.js
  plugins/chat/spec/system/message_notifications_with_sidebar_spec.rb
  plugins/chat/spec/system/page_objects/chat/chat.rb
  plugins/chat/spec/system/page_objects/chat/components/composer.rb
  plugins/chat/spec/system/page_objects/chat/components/sidebar.rb
  plugins/chat/spec/system/send_message_spec.rb
Labels: chat

#22472 DEV: more resilient auto remove spec
  plugins/chat/spec/services/auto_remove/handle_user_removed_from_group_spec.rb
Labels: chat

#22476 DEV: fix flakeyness with drawer specs
  app/assets/javascripts/discourse/app/lib/url.js
  plugins/chat/assets/javascripts/discourse/components/chat-channel.js
  plugins/chat/spec/system/navigation_spec.rb
Labels: chat

#22484 FIX: Can't dismiss new topics for experimental new new view
  app/assets/javascripts/discourse/app/components/modal/dismiss-new.hbs
  app/assets/javascripts/discourse/app/components/modal/dismiss-new.js
  app/assets/javascripts/discourse/app/mixins/dismiss-topics.js
  spec/system/dismiss_topics_spec.rb
  spec/system/page_objects/components/topic_list.rb
  spec/system/page_objects/modals/dismiss_new.rb
Labels: personalisation

#22462 FIX: Track thread in UI when user sends first message
  plugins/chat/app/controllers/chat/chat_controller.rb
  plugins/chat/assets/javascripts/discourse/components/chat-thread.js
  plugins/chat/spec/fabricators/chat_fabricator.rb
  plugins/chat/spec/system/single_thread_spec.rb
Labels: chat

#22489 FIX: typo in property name
  plugins/chat/assets/javascripts/discourse/services/chat.js
Labels: chat

#22498 DEV: makes <Chat::Admin::ExportMessage /> use glimmer
  plugins/chat/assets/javascripts/discourse/components/chat/admin/export-messages.hbs
  plugins/chat/assets/javascripts/discourse/components/chat/admin/export-messages.js
Labels: chat

#22497 DEV: removes unused components
  plugins/chat/assets/javascripts/discourse/components/d-progress-bar.hbs
  plugins/chat/assets/javascripts/discourse/components/d-progress-bar.js
  plugins/chat/assets/javascripts/discourse/components/on-visibility-action.hbs
  plugins/chat/assets/javascripts/discourse/components/on-visibility-action.js
  plugins/chat/assets/stylesheets/common/d-progress-bar.scss
  plugins/chat/assets/stylesheets/common/index.scss
  plugins/chat/test/javascripts/components/on-visibility-action-test.js
Labels: chat

#22506 UX: do not show presence in message creator selection
  plugins/chat/assets/javascripts/discourse/components/chat/message-creator/user-selection.hbs
Labels: chat

#22508 UX: message creator spacing and sizing on mobile + fix text wrapping
  plugins/chat/assets/stylesheets/common/chat-message-creator.scss
  plugins/chat/assets/stylesheets/mobile/chat-message-creator.scss
Labels: chat

#22505 UX: change z-index of thread resizer to be below emoji popup
  plugins/chat/assets/stylesheets/common/chat-side-panel-resizer.scss
Labels: chat

#22511 FIX: Ensure dialogs are still rendered if triggered during boot
  app/assets/javascripts/dialog-holder/addon/services/dialog.js
  plugins/chat/spec/system/visit_channel_spec.rb
Labels: chat

#22496 DEV: makes user-card-chat-button uses glimmer
  plugins/chat/assets/javascripts/discourse/components/chat/user-card-button.hbs
  plugins/chat/assets/javascripts/discourse/components/chat/user-card-button.js
  plugins/chat/assets/javascripts/discourse/components/user-card-chat-button.hbs
  plugins/chat/assets/javascripts/discourse/components/user-card-chat-button.js
  plugins/chat/assets/javascripts/discourse/connectors/user-card-below-message-button/chat-button.hbs
  plugins/chat/assets/javascripts/discourse/lib/fabricators.js
  plugins/chat/spec/system/user_card_spec.rb
  plugins/chat/test/javascripts/components/chat-user-card-button-test.js
  plugins/chat/test/javascripts/components/user-card-chat-button-test.js
Labels: chat

#22437 Remove border radius from chat
  app/assets/stylesheets/common/foundation/base.scss
  plugins/chat/assets/stylesheets/common/chat-channel-card.scss
  plugins/chat/assets/stylesheets/common/chat-channel-preview-card.scss
  plugins/chat/assets/stylesheets/common/chat-composer-upload.scss
  plugins/chat/assets/stylesheets/common/chat-composer.scss
  plugins/chat/assets/stylesheets/common/chat-drawer.scss
  plugins/chat/assets/stylesheets/common/chat-emoji-picker.scss
  plugins/chat/assets/stylesheets/common/chat-message-actions.scss
  plugins/chat/assets/stylesheets/common/chat-message-info.scss
  plugins/chat/assets/stylesheets/common/chat-message-separator.scss
  plugins/chat/assets/stylesheets/common/chat-message-thread-indicator.scss
  plugins/chat/assets/stylesheets/common/chat-message.scss
  plugins/chat/assets/stylesheets/common/chat-skeleton.scss
  plugins/chat/assets/stylesheets/common/chat-thread-header-buttons.scss
  plugins/chat/assets/stylesheets/common/chat-thread-list-item.scss
  plugins/chat/assets/stylesheets/common/direct-message-creator.scss
  plugins/chat/assets/stylesheets/common/incoming-chat-webhooks.scss
  plugins/chat/assets/stylesheets/desktop/base-desktop.scss
  plugins/chat/assets/stylesheets/desktop/chat-channel-title.scss
  plugins/chat/assets/stylesheets/desktop/chat-index-full-page.scss
  plugins/chat/assets/stylesheets/mobile/chat-message-actions.scss
Labels: chat

#22515 DEV: fixes flakey due to unordered array
  plugins/chat/spec/serializer/chat/structured_channel_serializer_spec.rb
Labels: chat

#22513 UX: lower border radius for channel cards
  plugins/chat/assets/stylesheets/common/chat-channel-card.scss
Labels: chat

#22405 UX: Remove section heading for community section
  app/assets/javascripts/discourse/app/components/modal/sidebar-section-form.hbs
  app/assets/javascripts/discourse/app/components/modal/sidebar-section-form.js
  app/assets/javascripts/discourse/app/components/sidebar/common/custom-section.hbs
  app/assets/javascripts/discourse/app/components/sidebar/common/custom-section.js
  app/assets/javascripts/discourse/app/components/sidebar/more-section-links.hbs
  app/assets/javascripts/discourse/app/components/sidebar/more-section-links.js
  app/assets/javascripts/discourse/app/components/sidebar/section-link-button.hbs
  app/assets/javascripts/discourse/app/components/sidebar/section.hbs
  app/assets/javascripts/discourse/app/lib/sidebar/common/community-section/section.js
  app/assets/javascripts/discourse/app/lib/sidebar/section-link.js
  app/assets/javascripts/discourse/app/lib/sidebar/section.js
  app/assets/javascripts/discourse/app/lib/sidebar/user/community-section/admin-section.js
  app/assets/javascripts/discourse/app/services/navigation-menu.js
  app/assets/javascripts/discourse/app/widgets/header.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-user-community-section-test.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-user-test.js
  app/assets/stylesheets/common/base/sidebar-more-section-links.scss
  app/assets/stylesheets/common/base/sidebar-section-link.scss
  app/assets/stylesheets/common/base/sidebar.scss
  config/locales/client.en.yml
  plugins/chat/spec/system/deleted_message_spec.rb
  plugins/chat/spec/system/navigation_spec.rb
  plugins/chat/spec/system/sidebar_navigation_menu_spec.rb
  spec/system/custom_sidebar_sections_spec.rb
  spec/system/editing_sidebar_categories_navigation_spec.rb
  spec/system/editing_sidebar_community_section_spec.rb
  spec/system/editing_sidebar_tags_navigation_spec.rb
  spec/system/page_objects/components/navigation_menu/base.rb
  spec/system/page_objects/components/navigation_menu/header_dropdown.rb
  spec/system/page_objects/components/navigation_menu/sidebar.rb
  spec/system/page_objects/components/sidebar.rb
  spec/system/page_objects/components/sidebar_header_dropdown.rb
  spec/system/page_objects/modals/sidebar_section_form.rb
  spec/system/viewing_sidebar_as_anonymous_user_spec.rb
  spec/system/viewing_sidebar_mobile_spec.rb
  spec/system/viewing_sidebar_spec.rb
Labels: chat, personalisation

#22539 CSS: Add background color to signin header
  app/assets/stylesheets/desktop/login.scss
Labels: CSS

#22533 FIX: Chat thread race condition issues
  plugins/chat/assets/javascripts/discourse/services/chat-channel-pane-subscriptions-manager.js
  plugins/chat/lib/chat/message_creator.rb
Labels: chat

#22560 DEV: Fix flaky chat navigation specs on CI
  plugins/chat/spec/system/navigation_spec.rb
Labels: chat

#22502 WIP: threads list pagination
  plugins/chat/app/controllers/chat/api/channel_threads_controller.rb
  plugins/chat/app/models/chat/threads_view.rb
  plugins/chat/app/serializers/chat/thread_list_serializer.rb
  plugins/chat/app/services/chat/lookup_channel_threads.rb
  plugins/chat/assets/javascripts/discourse/components/chat-browse-view.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-browse-view.js
  plugins/chat/assets/javascripts/discourse/components/chat-channel-members-view.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-channel-members-view.js
  plugins/chat/assets/javascripts/discourse/components/chat-channel.js
  plugins/chat/assets/javascripts/discourse/components/chat/thread-list.hbs
  plugins/chat/assets/javascripts/discourse/components/chat/thread-list.js
  plugins/chat/assets/javascripts/discourse/components/chat/thread-list/item.hbs
  plugins/chat/assets/javascripts/discourse/lib/chat-threads-manager.js
  plugins/chat/assets/javascripts/discourse/lib/collection.js
  plugins/chat/assets/javascripts/discourse/models/chat-channel.js
  plugins/chat/assets/javascripts/discourse/services/chat-api.js
  plugins/chat/assets/javascripts/discourse/services/chat-tracking-state-manager.js
  plugins/chat/spec/services/chat/lookup_channel_threads_spec.rb
  plugins/chat/spec/system/page_objects/chat/components/thread_list.rb
Labels: chat

#22516 DEV: Make capabilities available outside of application instance
  app/assets/javascripts/discourse/app/lib/keyboard-shortcuts.js
  app/assets/javascripts/discourse/app/lib/utilities.js
  app/assets/javascripts/discourse/app/services/capabilities.js
  app/assets/javascripts/discourse/app/services/composer.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-user-test.js
  plugins/chat/assets/javascripts/discourse/lib/chat-message-interactor.js
Labels: chat

#22541 UX: z-index for for tippy box in chat
  plugins/chat/assets/stylesheets/common/chat-message.scss
Labels: chat

#22542 UX: more border-radius removal from chat
  plugins/chat/assets/stylesheets/common/chat-drawer.scss
  plugins/chat/assets/stylesheets/common/chat-message-actions.scss
Labels: chat

#22564 DEV: Update chat avatarUrl import to resolve deprecation
  plugins/chat/assets/javascripts/discourse/initializers/chat-sidebar.js
Labels: chat

#22551 FEATURE: Inline topic summary. Cached version accessible to everyone.
  app/assets/javascripts/discourse/app/components/scrolling-post-stream.js
  app/assets/javascripts/discourse/app/components/topic-summary.hbs
  app/assets/javascripts/discourse/app/components/topic-summary.js
  app/assets/javascripts/discourse/app/lib/formatter.js
  app/assets/javascripts/discourse/app/lib/transform-post.js
  app/assets/javascripts/discourse/app/templates/modal/topic-summary.hbs
  app/assets/javascripts/discourse/app/widgets/summary-box.js
  app/assets/javascripts/discourse/app/widgets/toggle-topic-summary.js
  app/assets/javascripts/discourse/app/widgets/topic-map.js
  app/assets/stylesheets/common/base/topic-post.scss
  app/assets/stylesheets/desktop/topic-post.scss
  app/assets/stylesheets/mobile/topic-post.scss
  app/controllers/topics_controller.rb
  app/serializers/topic_view_serializer.rb
  app/serializers/web_hook_topic_view_serializer.rb
  app/services/topic_summarization.rb
  config/locales/client.en.yml
  lib/summarization/base.rb
  lib/topic_view.rb
  plugins/chat/app/controllers/chat/api/summaries_controller.rb
  plugins/chat/assets/javascripts/discourse/components/chat/modal/channel-summary.js
  plugins/chat/config/locales/server.en.yml
  spec/lib/summarization/base_spec.rb
  spec/requests/api/schemas/json/topic_show_response.json
  spec/requests/topics_controller_spec.rb
  spec/services/topic_summarization_spec.rb
  spec/system/topic_summarization_spec.rb
Labels: chat

#22276 DEV: make sure we don't load all data into memory when exporting chat messages
  app/jobs/regular/export_csv_file.rb
  plugins/chat/lib/chat/messages_exporter.rb
  plugins/chat/spec/lib/chat/messages_exporter_spec.rb
  plugins/chat/spec/system/admin/csv_exports_spec.rb
  spec/rails_helper.rb
  spec/system/csv_exports_spec.rb
  spec/system/helpers/downloads.rb
  spec/system/page_objects/pages/csv_export_pm.rb
Labels: chat

#22566 FIX: correctly respects full name settings in channel title
  plugins/chat/assets/javascripts/discourse/components/chat-channel-title.hbs
  plugins/chat/test/javascripts/components/chat-channel-title-test.js
Labels: chat

#22569 Revert "FIX: correctly respects full name settings in channel title (…
  plugins/chat/assets/javascripts/discourse/components/chat-channel-title.hbs
  plugins/chat/test/javascripts/components/chat-channel-title-test.js
Labels: chat

#22559 FIX: Render excerpt HTML for chat replies and edit
  plugins/chat/assets/javascripts/discourse/components/chat-composer-message-details.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-message-in-reply-to-indicator.hbs
  plugins/chat/spec/system/chat/composer/channel_spec.rb
  plugins/chat/spec/system/chat_channel_spec.rb
  plugins/chat/spec/system/chat_composer_draft_spec.rb
  plugins/chat/spec/system/reply_to_message/drawer_spec.rb
  plugins/chat/spec/system/reply_to_message/full_page_spec.rb
  plugins/chat/spec/system/reply_to_message/mobile_spec.rb
Labels: chat

#22488 DEV: Add last_message_id to channel and thread
  plugins/chat/app/models/chat/channel.rb
  plugins/chat/app/models/chat/thread.rb
  plugins/chat/app/serializers/chat/channel_serializer.rb
  plugins/chat/app/serializers/chat/last_message_serializer.rb
  plugins/chat/app/serializers/chat/message_serializer.rb
  plugins/chat/app/serializers/chat/thread_preview_serializer.rb
  plugins/chat/app/services/chat/action/reset_channels_last_message_ids.rb
  plugins/chat/app/services/chat/action/reset_user_last_read_channel_message.rb
  plugins/chat/app/services/chat/channel_view_builder.rb
  plugins/chat/app/services/chat/lookup_channel_threads.rb
  plugins/chat/app/services/chat/mark_all_user_channels_read.rb
  plugins/chat/app/services/chat/message_destroyer.rb
  plugins/chat/app/services/chat/publisher.rb
  plugins/chat/app/services/chat/restore_message.rb
  plugins/chat/app/services/chat/trash_message.rb
  plugins/chat/app/services/chat/update_thread_notification_settings.rb
  plugins/chat/app/services/chat/update_user_thread_last_read.rb
  plugins/chat/assets/javascripts/discourse/components/chat-channel-metadata.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-channel-metadata.js
  plugins/chat/assets/javascripts/discourse/components/chat-channel.js
  plugins/chat/assets/javascripts/discourse/components/chat/composer/thread.js
  plugins/chat/assets/javascripts/discourse/lib/fabricators.js
  plugins/chat/assets/javascripts/discourse/models/chat-channel.js
  plugins/chat/assets/javascripts/discourse/services/chat-channels-manager.js
  plugins/chat/assets/javascripts/discourse/services/chat-subscriptions-manager.js
  plugins/chat/db/migrate/20230707025733_add_last_message_id_to_channel_and_thread.rb
  plugins/chat/db/migrate/20230707082645_backfill_chat_channel_and_thread_last_message_ids.rb
  plugins/chat/db/post_migrate/20230710040640_backfill_chat_channel_and_thread_last_message_ids_post_migrate.rb
  plugins/chat/lib/chat/channel_fetcher.rb
  plugins/chat/lib/chat/message_creator.rb
  plugins/chat/lib/chat/user_notifications_extension.rb
  plugins/chat/spec/components/chat/message_creator_spec.rb
  plugins/chat/spec/fabricators/chat_fabricator.rb
  plugins/chat/spec/integration/thread_replies_count_cache_accuracy_spec.rb
  plugins/chat/spec/lib/chat/channel_fetcher_spec.rb
  plugins/chat/spec/models/chat/channel_spec.rb
  plugins/chat/spec/models/chat/thread_spec.rb
  plugins/chat/spec/services/actions/reset_user_last_read_channel_message_spec.rb
  plugins/chat/spec/services/chat/lookup_channel_threads_spec.rb
  plugins/chat/spec/services/chat/mark_all_user_channels_read_spec.rb
  plugins/chat/spec/services/chat/message_destroyer_spec.rb
  plugins/chat/spec/services/chat/publisher_spec.rb
  plugins/chat/spec/services/chat/restore_message_spec.rb
  plugins/chat/spec/services/chat/trash_message_spec.rb
  plugins/chat/spec/services/chat/update_user_thread_last_read_spec.rb
  plugins/chat/spec/support/api/schemas/category_chat_channel.json
  plugins/chat/spec/system/channel_thread_message_echoing_spec.rb
  plugins/chat/spec/system/chat/composer/shortcuts/thread_spec.rb
  plugins/chat/spec/system/message_thread_indicator_spec.rb
  plugins/chat/spec/system/single_thread_spec.rb
  plugins/chat/test/javascripts/chat-fixtures.js
  plugins/chat/test/javascripts/components/chat-channel-metadata-test.js
  plugins/chat/test/javascripts/components/chat-channel-row-test.js
Labels: chat

#22580 DEV: Attempt to fix flaky chat system test
  plugins/chat/spec/system/navigation_spec.rb
  plugins/chat/spec/system/page_objects/chat/chat.rb
Labels: chat

#22581 DEV: Fix reply to spec
  plugins/chat/spec/system/reply_to_message/mobile_spec.rb
Labels: chat

#22583 DEV: Rename method PageObjects::Pages::Chat
  plugins/chat/spec/system/navigation_spec.rb
  plugins/chat/spec/system/page_objects/chat/chat.rb
Labels: chat

#22571 FIX: prevents user to restore message deleted by staff
  plugins/chat/app/services/chat/publisher.rb
  plugins/chat/app/services/chat/trash_message.rb
  plugins/chat/assets/javascripts/discourse/lib/chat-message-interactor.js
  plugins/chat/assets/javascripts/discourse/models/chat-message.js
  plugins/chat/assets/javascripts/discourse/services/chat-pane-base-subscriptions-manager.js
  plugins/chat/lib/chat/guardian_extensions.rb
  plugins/chat/spec/lib/chat/guardian_extensions_spec.rb
  plugins/chat/spec/requests/chat/api/messages_controller_spec.rb
  plugins/chat/spec/services/chat/publisher_spec.rb
  plugins/chat/spec/services/chat/trash_message_spec.rb
  plugins/chat/spec/system/page_objects/chat/chat_channel.rb
  plugins/chat/spec/system/page_objects/chat/components/message.rb
  plugins/chat/spec/system/page_objects/chat/components/messages.rb
  plugins/chat/spec/system/restore_message_spec.rb
Labels: chat

#22587 FIX: s/--border-radius-large/--d-border-radius-large/
  plugins/chat/assets/stylesheets/common/chat-drawer.scss
Labels: chat

#22588 FIX: prevent default event on touchend reaction
  plugins/chat/assets/javascripts/discourse/components/chat-message-reaction.js
Labels: chat

#22589 FIX: show only context menu on img long press
  plugins/chat/assets/javascripts/discourse/components/chat-message.js
Labels: chat

#22611 FIX: created_at datetime format inconsistencies in chat
  plugins/chat/app/serializers/chat/last_message_serializer.rb
  plugins/chat/app/serializers/chat/message_serializer.rb
  plugins/chat/app/serializers/chat/thread_preview_serializer.rb
  plugins/chat/spec/requests/chat/api/channels_controller_spec.rb
  plugins/chat/spec/system/page_objects/chat/components/thread_list.rb
Labels: chat

#22610 DEV: Further improve thread list query and add spec
  plugins/chat/app/models/chat/thread.rb
  plugins/chat/app/services/chat/lookup_channel_threads.rb
  plugins/chat/app/services/chat/update_user_thread_last_read.rb
  plugins/chat/spec/services/chat/lookup_channel_threads_spec.rb
Labels: chat

#22563 FIX: redirects to browse after removing last followed
  plugins/chat/assets/javascripts/discourse/services/chat.js
  plugins/chat/spec/system/page_objects/sidebar/sidebar.rb
  plugins/chat/spec/system/removing_channel_spec.rb
Labels: chat

#22615 FIX: incorrect selector in system specs
  plugins/chat/spec/system/page_objects/chat/chat.rb
  plugins/chat/spec/system/react_to_message_spec.rb
Labels: chat

#22601 FIX: Close modal after moving message to channel
  plugins/chat/assets/javascripts/discourse/components/chat/modal/move-message-to-channel.js
Labels: chat

#22532 DEV: Move Bookmark modal/component to use d-modal
  app/assets/javascripts/discourse/app/components/bookmark-list.js
  app/assets/javascripts/discourse/app/components/bookmark.hbs
  app/assets/javascripts/discourse/app/components/bookmark.js
  app/assets/javascripts/discourse/app/components/modal/bookmark.hbs
  app/assets/javascripts/discourse/app/components/modal/bookmark.js
  app/assets/javascripts/discourse/app/controllers/bookmark.js
  app/assets/javascripts/discourse/app/controllers/topic.js
  app/assets/javascripts/discourse/app/lib/bookmark.js
  app/assets/javascripts/discourse/app/templates/modal/bookmark.hbs
  app/assets/javascripts/discourse/tests/acceptance/bookmarks-test.js
  app/assets/javascripts/discourse/tests/integration/components/bookmark-alert-test.js
  app/assets/javascripts/discourse/tests/integration/components/bookmark-test.js
  app/assets/stylesheets/common/components/bookmark-modal.scss
  app/models/bookmark.rb
  lib/site_icon_manager.rb
  plugins/chat/assets/javascripts/discourse/lib/chat-message-interactor.js
  plugins/discourse-local-dates/spec/system/local_dates_spec.rb
  spec/rails_helper.rb
  spec/system/bookmarks_spec.rb
  spec/system/page_objects/components/dialog.rb
  spec/system/page_objects/modals/bookmark.rb
Labels: chat

#22627 DEV: Use the main default session for main test assertion
  plugins/chat/spec/system/react_to_message_spec.rb
Labels: chat

#22342 FEATURE: Show unread in sidebar for unread channel threads
  plugins/chat/app/models/chat/tracking_state_report.rb
  plugins/chat/app/models/chat/view.rb
  plugins/chat/app/queries/chat/tracking_state_report_query.rb
  plugins/chat/app/serializers/chat/structured_channel_serializer.rb
  plugins/chat/app/serializers/chat/view_serializer.rb
  plugins/chat/app/services/chat/channel_view_builder.rb
  plugins/chat/app/services/chat/publisher.rb
  plugins/chat/assets/javascripts/discourse/components/chat-channel-metadata.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-channel-unread-indicator.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-channel-unread-indicator.js
  plugins/chat/assets/javascripts/discourse/components/chat-channel.js
  plugins/chat/assets/javascripts/discourse/components/chat/thread/header-unread-indicator.js
  plugins/chat/assets/javascripts/discourse/components/chat/thread/threads-list-button.hbs
  plugins/chat/assets/javascripts/discourse/initializers/chat-sidebar.js
  plugins/chat/assets/javascripts/discourse/lib/chat-threads-manager.js
  plugins/chat/assets/javascripts/discourse/models/chat-channel.js
  plugins/chat/assets/javascripts/discourse/models/user-chat-channel-membership.js
  plugins/chat/assets/javascripts/discourse/routes/chat-index.js
  plugins/chat/assets/javascripts/discourse/services/chat-subscriptions-manager.js
  plugins/chat/assets/javascripts/discourse/services/chat.js
  plugins/chat/plugin.rb
  plugins/chat/spec/queries/chat/tracking_state_report_query_spec.rb
  plugins/chat/spec/services/chat/channel_view_builder_spec.rb
  plugins/chat/spec/services/chat/mark_all_user_channels_read_spec.rb
  plugins/chat/spec/services/chat/publisher_spec.rb
  plugins/chat/spec/support/api/schemas/user_chat_channel_membership.json
  plugins/chat/spec/system/message_notifications_mobile_spec.rb
  plugins/chat/spec/system/page_objects/chat_drawer/chat_drawer.rb
  plugins/chat/spec/system/page_objects/sidebar/sidebar.rb
  plugins/chat/spec/system/thread_tracking/drawer_spec.rb
  plugins/chat/spec/system/thread_tracking/full_page_spec.rb
Labels: chat

#22628 FIX: Editing tags in sidebar should show all tags visible to user
  app/controllers/tags_controller.rb
  spec/requests/tags_controller_spec.rb
Labels: personalisation

#22633 DEV: fix flaky spec for today
  plugins/chat/spec/system/thread_tracking/drawer_spec.rb
Labels: chat

#22636 UX: size down unread indicators for drawer/mobile
  plugins/chat/assets/stylesheets/common/chat-index.scss
Labels: chat

#22639 FIX: allows to focus thread's composer on ipad
  plugins/chat/assets/javascripts/discourse/components/chat-composer.js
Labels: chat

#22640 FIX: allows to resize panels on tablets
  plugins/chat/assets/javascripts/discourse/modifiers/chat/resizable-node.js
  plugins/chat/assets/stylesheets/common/chat-side-panel-resizer.scss
Labels: chat

#22522 DEV: Convert history modal to component-based API
  app/assets/javascripts/discourse/app/components/modal/history.hbs
  app/assets/javascripts/discourse/app/components/modal/history.js
  app/assets/javascripts/discourse/app/components/modal/history/revision.hbs
  app/assets/javascripts/discourse/app/components/modal/history/revisions.hbs
  app/assets/javascripts/discourse/app/components/modal/history/topic-footer.hbs
  app/assets/javascripts/discourse/app/components/reviewable-post-edits.js
  app/assets/javascripts/discourse/app/controllers/history.js
  app/assets/javascripts/discourse/app/routes/topic.js
  app/assets/javascripts/discourse/app/templates/modal/history.hbs
  app/assets/javascripts/discourse/tests/acceptance/history-test.js
  app/assets/javascripts/discourse/tests/unit/controllers/history-test.js
Labels: js-modernization

#22521 DEV: Convert group-default-notifications modal to component-based API
  app/assets/javascripts/discourse/app/components/group-manage-save-button.hbs
  app/assets/javascripts/discourse/app/components/group-manage-save-button.js
  app/assets/javascripts/discourse/app/components/modal/group-default-notifications.hbs
  app/assets/javascripts/discourse/app/components/modal/group-default-notifications.js
  app/assets/javascripts/discourse/app/controllers/group-default-notifications.js
  app/assets/javascripts/discourse/app/templates/modal/group-default-notifications.hbs
Labels: js-modernization

#22651 DEV: Skip two flaky system tests
  plugins/chat/spec/system/thread_tracking/drawer_spec.rb
  spec/system/category_topics_spec.rb
Labels: chat

#22632 DEV: Introduce enabled? API to hashtag data sources
  app/services/category_hashtag_data_source.rb
  app/services/hashtag_autocomplete_service.rb
  app/services/tag_hashtag_data_source.rb
  plugins/chat/lib/chat/channel_hashtag_data_source.rb
  plugins/chat/spec/lib/chat/channel_hashtag_data_source_spec.rb
  spec/services/hashtag_autocomplete_service_spec.rb
  spec/services/tag_hashtag_data_source_spec.rb
  spec/support/fake_bookmark_hashtag_data_source.rb
Labels: chat

#22655 FEATURE: Add admin dashboard warning for `legacy` navigation menu
  app/models/admin_dashboard_data.rb
  config/locales/server.en.yml
  spec/models/admin_dashboard_data_spec.rb
Labels: personalisation

#22656 DEV: Update copy for legacy navigation menu warning
  config/locales/server.en.yml
Labels: personalisation

#22657 FIX: Chat errors for thread subscriptions
  plugins/chat/assets/javascripts/discourse/services/chat-subscriptions-manager.js
Labels: chat

#22653 DEV: Fix and re-enable chat flakys
  plugins/chat/assets/javascripts/discourse/components/chat/thread-list.js
  plugins/chat/spec/system/thread_tracking/drawer_spec.rb
Labels: chat

#22669 A11Y: Fix focus state style for date button in composer
  app/assets/stylesheets/wcag.scss
Labels: CSS

#22644 DEV: Update `transitionTo` on Route
  app/assets/javascripts/admin/addon/routes/admin-api-index.js
  app/assets/javascripts/admin/addon/routes/admin-api-keys.js
  app/assets/javascripts/admin/addon/routes/admin-backups.js
  app/assets/javascripts/admin/addon/routes/admin-customize-email-templates.js
  app/assets/javascripts/admin/addon/routes/admin-customize-index.js
  app/assets/javascripts/admin/addon/routes/admin-customize-themes-edit.js
  app/assets/javascripts/admin/addon/routes/admin-customize-themes.js
  app/assets/javascripts/admin/addon/routes/admin-logs-index.js
  app/assets/javascripts/admin/addon/routes/admin-logs-staff-action-logs.js
  app/assets/javascripts/admin/addon/routes/admin-plugins.js
  app/assets/javascripts/admin/addon/routes/admin-reports-index.js
  app/assets/javascripts/admin/addon/routes/admin-reports-show.js
  app/assets/javascripts/admin/addon/routes/admin-users-index.js
  app/assets/javascripts/admin/addon/routes/admin-users-list-index.js
  app/assets/javascripts/admin/addon/routes/admin-users-list.js
  app/assets/javascripts/discourse/app/routes/application.js
  app/assets/javascripts/discourse/app/routes/discovery-categories.js
  app/assets/javascripts/discourse/app/routes/group-activity-index.js
  app/assets/javascripts/discourse/app/routes/group-manage-email.js
  app/assets/javascripts/discourse/app/routes/group-manage-index.js
  app/assets/javascripts/discourse/app/routes/group-manage.js
  app/assets/javascripts/discourse/app/routes/group-members.js
  app/assets/javascripts/discourse/app/routes/group-messages-index.js
  app/assets/javascripts/discourse/app/routes/group-messages.js
  app/assets/javascripts/discourse/app/routes/group-permissions.js
  app/assets/javascripts/discourse/app/routes/groups-new.js
  app/assets/javascripts/discourse/app/routes/preferences-index.js
  app/assets/javascripts/discourse/app/routes/tag-groups-new.js
  app/assets/javascripts/discourse/app/routes/tags-index.js
  app/assets/javascripts/discourse/app/routes/tags-legacy-redirect.js
  app/assets/javascripts/discourse/app/routes/user-activity-bookmarks-with-reminders.js
  app/assets/javascripts/discourse/app/routes/user-activity-pending.js
  app/assets/javascripts/discourse/app/routes/user-index.js
  app/assets/javascripts/discourse/app/routes/user-notifications-index.js
  app/assets/javascripts/discourse/app/routes/user-private-messages-group.js
  plugins/chat/assets/javascripts/discourse/routes/chat-browse-index.js
  plugins/chat/assets/javascripts/discourse/routes/chat-draft-channel.js
  plugins/chat/assets/javascripts/discourse/routes/chat-message.js
  plugins/chat/assets/javascripts/discourse/routes/preferences-chat.js
Labels: js-modernization, chat

#22647 DEV: upgrade `transitionToRoute` on Controller
  app/assets/javascripts/admin/addon/controllers/admin-api-keys-new.js
  app/assets/javascripts/admin/addon/controllers/admin-api-keys-show.js
  app/assets/javascripts/admin/addon/controllers/admin-badges/show.js
  app/assets/javascripts/admin/addon/controllers/admin-customize-email-templates.js
  app/assets/javascripts/admin/addon/controllers/admin-customize-form-templates-index.js
  app/assets/javascripts/admin/addon/controllers/admin-customize-themes-show.js
  app/assets/javascripts/admin/addon/controllers/admin-site-settings.js
  app/assets/javascripts/admin/addon/controllers/admin-site-text-index.js
  app/assets/javascripts/admin/addon/controllers/admin-web-hooks-edit.js
  app/assets/javascripts/admin/addon/controllers/admin-web-hooks-show.js
  app/assets/javascripts/discourse/app/controllers/account-created-edit-email.js
  app/assets/javascripts/discourse/app/controllers/account-created-index.js
  app/assets/javascripts/discourse/app/controllers/associate-account-confirm.js
  app/assets/javascripts/discourse/app/controllers/edit-category-tabs.js
  app/assets/javascripts/discourse/app/controllers/group.js
  app/assets/javascripts/discourse/app/controllers/groups-index.js
  app/assets/javascripts/discourse/app/controllers/groups-new.js
  app/assets/javascripts/discourse/app/controllers/tag-groups-edit.js
  app/assets/javascripts/discourse/app/controllers/tag-groups-new.js
  app/assets/javascripts/discourse/app/controllers/tag-groups.js
  app/assets/javascripts/discourse/app/controllers/tag-show.js
  app/assets/javascripts/discourse/app/controllers/topic.js
  app/assets/javascripts/discourse/app/controllers/user-activity-bookmarks.js
  app/assets/javascripts/discourse/tests/acceptance/admin-site-settings-test.js
  app/assets/javascripts/wizard/addon/controllers/wizard-step.js
Labels: js-modernization

#22648 DEV: Upgrade `replaceRoute` on Controller
  app/assets/javascripts/admin/addon/controllers/admin-customize-colors-show.js
  app/assets/javascripts/admin/addon/controllers/admin-customize-colors.js
  app/assets/javascripts/admin/addon/controllers/admin-customize-themes-edit.js
  app/assets/javascripts/admin/addon/controllers/admin-dashboard-general.js
  app/assets/javascripts/admin/addon/controllers/admin-dashboard.js
Labels: js-modernization

#22673 DEV: Remove transition-methods deprecation
  app/assets/javascripts/discourse/config/deprecation-workflow.js
Labels: js-modernization

#22631 FIX: Doubled up or not tracked threads in thread list
  plugins/chat/assets/javascripts/discourse/components/chat/thread-list.js
  plugins/chat/assets/javascripts/discourse/lib/chat-threads-manager.js
  plugins/chat/assets/javascripts/discourse/services/chat-pane-base-subscriptions-manager.js
  plugins/chat/spec/system/thread_list/full_page_spec.rb
Labels: chat

#22677 DEV: Use the main default session for main test assertions
  plugins/chat/spec/system/single_thread_spec.rb
Labels: chat

#22682 FIX: Show mention count for channel list on mobile
  plugins/chat/assets/javascripts/discourse/components/chat-channel-unread-indicator.js
  plugins/chat/spec/system/message_notifications_mobile_spec.rb
  plugins/chat/spec/system/page_objects/chat/components/channel_index.rb
  plugins/chat/spec/system/page_objects/chat_drawer/chat_drawer.rb
Labels: chat

#22609 FEATURE: allow sidebar section api to create external links
  app/assets/javascripts/discourse/app/components/sidebar/api-sections.hbs
  app/assets/javascripts/discourse/app/lib/sidebar/base-custom-sidebar-section-link.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-plugin-api-test.js
Labels: personalisation

#22707 FEATURE: ability to position switch panel buttons
  app/assets/javascripts/discourse/app/components/sidebar.hbs
  app/assets/javascripts/discourse/app/components/sidebar.js
  app/assets/javascripts/discourse/app/components/sidebar/switch-panel-buttons.hbs
  app/assets/javascripts/discourse/app/components/sidebar/switch-panel-buttons.js
  app/assets/javascripts/discourse/app/lib/sidebar/custom-sections.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-plugin-api-test.js
  config/locales/server.en.yml
  config/site_settings.yml
Labels: personalisation

#22711 DEV: Consistently use html5 loofah
  plugins/chat/lib/chat/message_processor.rb
Labels: chat

#22717 DEV: Allow chat services to have optional models
  plugins/chat/app/services/service/base.rb
  plugins/chat/spec/lib/service_runner_spec.rb
Labels: chat

#21752 DEV: extract channel. joined_by method
  plugins/chat/app/models/chat/channel.rb
  plugins/chat/lib/chat/notifier.rb
Labels: chat

#22701 DEV: Convert `admin-incoming-email` modal to component-based API
  app/assets/javascripts/admin/addon/components/modal/incoming-email.hbs
  app/assets/javascripts/admin/addon/controllers/modals/admin-incoming-email.js
  app/assets/javascripts/admin/addon/routes/admin-email-bounced.js
  app/assets/javascripts/admin/addon/routes/admin-email-rejected.js
  app/assets/javascripts/admin/addon/templates/modal/admin-incoming-email.hbs
  app/assets/javascripts/discourse/app/services/modal.js
  config/dev_defaults.yml
  lib/discourse_dev/email_log.rb
  lib/tasks/populate.rake
Labels: js-modernization

#22729 FIX: wrong collapsible parameter in sidebar API
  app/assets/javascripts/discourse/app/components/sidebar/api-sections.hbs
  app/assets/javascripts/discourse/tests/acceptance/sidebar-plugin-api-test.js
Labels: personalisation

#22710 UX: Display tag's description as title in navigation menu
  app/assets/javascripts/discourse/app/components/sidebar/anonymous/tags-section.hbs
  app/assets/javascripts/discourse/app/components/sidebar/anonymous/tags-section.js
  app/assets/javascripts/discourse/app/components/sidebar/common/tags-section.js
  app/assets/javascripts/discourse/app/components/sidebar/user/tags-section.js
  app/assets/javascripts/discourse/app/lib/sidebar/user/tags-section/base-tag-section-link.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-user-tags-section-test.js
  app/serializers/concerns/navigation_menu_tags_mixin.rb
  app/serializers/concerns/user_sidebar_mixin.rb
  app/serializers/sidebar_tag_serializer.rb
  app/serializers/site_serializer.rb
  spec/requests/api/schemas/json/site_response.json
  spec/serializers/site_serializer_spec.rb
  spec/support/user_sidebar_serializer_attributes.rb
  spec/system/page_objects/components/navigation_menu/base.rb
  spec/system/viewing_sidebar_as_anonymous_user_spec.rb
  spec/system/viewing_sidebar_spec.rb
Labels: personalisation

#22715 DEV: Refactor a little chat uploads
  plugins/chat/app/models/chat/message.rb
  plugins/chat/app/services/chat/channel_view_builder.rb
  plugins/chat/lib/chat/message_creator.rb
  plugins/chat/lib/chat/message_updater.rb
  plugins/chat/spec/lib/chat/transcript_service_spec.rb
  plugins/chat/spec/models/chat/message_spec.rb
  plugins/chat/spec/system/channel_message_upload_spec.rb
Labels: chat

#22758 UX: category hashtag colors order fix
  app/assets/javascripts/discourse/app/lib/hashtag-types/category.js
  app/assets/javascripts/discourse/tests/acceptance/css-generator-test.js
  plugins/chat/test/javascripts/acceptance/hashtag-css-generator-test.js
Labels: chat

#22770 FIX: Loading more tags in edit nav menu tags modal not working
  app/assets/javascripts/discourse/app/components/sidebar/edit-navigation-menu/tags-modal.js
  app/assets/stylesheets/common/components/sidebar/edit-navigation-menu/tags-modal.scss
  spec/system/editing_sidebar_tags_navigation_spec.rb
  spec/system/page_objects/modals/sidebar_edit_tags.rb
Labels: personalisation

#22773 FIX: Managing sidebar custom sections not working on subfolder
  app/assets/javascripts/discourse/app/components/modal/sidebar-section-form.js
  app/assets/javascripts/discourse/app/lib/sidebar/route-info-helper.js
  spec/support/system_helpers.rb
  spec/system/custom_sidebar_sections_spec.rb
Labels: personalisation

#22700 DEV: Convert `delete-posts-confirmation` modal to component-based API
  app/assets/javascripts/admin/addon/components/modal/delete-posts-confirmation.hbs
  app/assets/javascripts/admin/addon/components/modal/delete-posts-confirmation.js
  app/assets/javascripts/admin/addon/controllers/admin-user-index.js
  app/assets/javascripts/admin/addon/controllers/modals/admin-delete-posts-confirmation.js
  app/assets/javascripts/admin/addon/templates/modal/admin-delete-posts-confirmation.hbs
  app/assets/javascripts/discourse/app/services/modal.js
Labels: js-modernization

#22753 FEATURE: API to set combined/separated sidebar mode.
  app/assets/javascripts/discourse/app/components/sidebar.hbs
  app/assets/javascripts/discourse/app/components/sidebar.js
  app/assets/javascripts/discourse/app/components/sidebar/api-panels.hbs
  app/assets/javascripts/discourse/app/components/sidebar/api-panels.js
  app/assets/javascripts/discourse/app/components/sidebar/api-section.hbs
  app/assets/javascripts/discourse/app/components/sidebar/api-section.js
  app/assets/javascripts/discourse/app/components/sidebar/api-sections.hbs
  app/assets/javascripts/discourse/app/components/sidebar/api-sections.js
  app/assets/javascripts/discourse/app/components/sidebar/switch-panel-buttons.js
  app/assets/javascripts/discourse/app/components/sidebar/user/sections.hbs
  app/assets/javascripts/discourse/app/components/sidebar/user/sections.js
  app/assets/javascripts/discourse/app/lib/plugin-api.js
  app/assets/javascripts/discourse/app/lib/sidebar/custom-sections.js
  app/assets/javascripts/discourse/app/services/sidebar-state.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-plugin-api-test.js
  app/assets/javascripts/discourse/tests/helpers/qunit-helpers.js
Labels: personalisation

#22782 DEV: Promote historic post_deploy migrations
  db/migrate/20220202223955_migrate_selectable_avatars_enabled.rb
  db/migrate/20220214224506_reset_custom_emoji_post_bakes_version_secure_fix.rb
  db/migrate/20220215015538_drop_user_stat_count_constraints.rb
  db/migrate/20220220234155_conform_bounce_error_code.rb
  db/migrate/20220302171443_rebake_old_avatar_service_urls.rb
  db/migrate/20220309132720_copy_post_uploads_to_upload_references_for_sync.rb
  db/migrate/20220325064954_make_some_bookmark_columns_nullable.rb
  db/migrate/20220401140745_drop_category_required_tag_group_columns.rb
  db/migrate/20220429164301_delete_hotlinked_image_custom_fields.rb
  db/migrate/20220512011531_backfill_polymorphic_bookmarks.rb
  db/migrate/20220617151846_rename_default_categories_regular_setting.rb
  db/migrate/20220621164914_drop_flair_url_from_groups.rb
  db/migrate/20220825005115_backfill_outbound_message_id.rb
  db/migrate/20221026035440_security_log_out_invite_redemption_invited_users.rb
  db/migrate/20221108032233_drop_old_bookmark_columns_v2.rb
  db/migrate/20221212234948_drop_topic_allowed_users_backup_nov_2022.rb
  plugins/chat/db/migrate/20220321235638_drop_chat_message_post_connections_table.rb
  plugins/chat/db/migrate/20220504080457_drop_old_chat_message_post_id_action_code_columns.rb
  plugins/chat/db/migrate/20220516142658_remove_email_statuses_table.rb
  plugins/chat/db/migrate/20220518180642_remove_user_option_last_emailed_at.rb
  plugins/chat/db/migrate/20220526135414_remove_corrupted_last_read_message_id.rb
  plugins/chat/db/migrate/20220531105951_drop_user_chat_channel_last_reads.rb
  plugins/chat/db/migrate/20220630074200_drop_chat_isolated_from_user_options.rb
  plugins/chat/db/migrate/20220701195731_convert_chatable_topics_to_categories.rb
  plugins/chat/db/migrate/20221004122254_delete_reviewables_targetting_deleted_chat_messages.rb
  plugins/chat/db/migrate/20221018091412_migrate_chat_channels.rb
  plugins/chat/db/migrate/20221027090832_migrate_dm_channels.rb
  plugins/chat/db/migrate/20221104054957_backfill_channel_slugs.rb
  plugins/chat/db/migrate/20221117052348_truncate_chat_messages_over_max_length.rb
  plugins/chat/db/migrate/20221117142910_delete_orphaned_channels.rb
  plugins/chat/db/migrate/20221201032830_drop_tmp_chat_slug_tables.rb
  plugins/chat/db/migrate/20221202043755_update_chat_channel_message_counts.rb
Labels: chat

#22797 FIX: attempt to fix multi sessions reaction spec
  plugins/chat/spec/system/react_to_message_spec.rb
Labels: chat

#22795 FIX: Chat emoji picker focus offset
  plugins/chat/assets/javascripts/discourse/components/chat-emoji-picker.js
Labels: chat

#22804 DEV: Fix random typos
  app/assets/javascripts/discourse/app/lib/implicit-injections.js
  app/assets/javascripts/discourse/app/lib/lightbox/constants.js
  app/assets/javascripts/discourse/tests/acceptance/d-lightbox-test.js
  app/assets/javascripts/discourse/tests/acceptance/implicit-injections-test.js
  app/assets/javascripts/discourse/tests/helpers/lightbox-helpers.js
  config/locales/client.en.yml
  plugins/chat/assets/javascripts/discourse/components/chat-emoji-picker.js
  spec/lib/auth/managed_authenticator_spec.rb
Labels: chat

#22699 DEV: Convert `theme-upload` modal to component-based API
  app/assets/javascripts/admin/addon/components/theme-upload-add.hbs
  app/assets/javascripts/admin/addon/components/theme-upload-add.js
  app/assets/javascripts/admin/addon/controllers/admin-customize-themes-show.js
  app/assets/javascripts/admin/addon/controllers/modals/admin-add-upload.js
  app/assets/javascripts/admin/addon/templates/modal/admin-add-upload.hbs
  app/assets/javascripts/discourse/app/services/modal.js
Labels: js-modernization

#22808 DEV: Fix no-negated-condition linting issues
  .template-lintrc.js
  app/assets/javascripts/discourse/app/components/modal/history/topic-footer.hbs
  app/assets/javascripts/discourse/app/templates/preferences.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-emoji-picker.hbs
Labels: chat

#22793 FIX: Seed all categories and tags configured as defaults for nav menu
  app/models/user.rb
  app/serializers/concerns/user_sidebar_mixin.rb
  app/services/sidebar_section_links_updater.rb
  app/services/user_updater.rb
  spec/lib/sidebar_section_links_updater_spec.rb
  spec/models/user_spec.rb
  spec/requests/users_controller_spec.rb
  spec/support/user_sidebar_serializer_attributes.rb
Labels: personalisation

#22691 DEV: moves logic from job to a service
  Gemfile
  Gemfile.lock
  plugins/chat/app/jobs/regular/auto_join_channel_batch.rb
  plugins/chat/app/jobs/regular/chat/auto_join_channel_batch.rb
  plugins/chat/app/services/chat/action/create_memberships_for_auto_join.rb
  plugins/chat/app/services/chat/auto_join_channel_batch.rb
  plugins/chat/spec/jobs/regular/chat/auto_join_channel_batch_spec.rb
  plugins/chat/spec/services/actions/create_memberships_for_auto_join_spec.rb
  plugins/chat/spec/services/chat/auto_join_channel_batch_spec.rb
Labels: chat

#22778 DEV: Refactor chat channel fetching
  plugins/chat/app/models/chat/channel.rb
  plugins/chat/lib/chat/channel_fetcher.rb
  plugins/chat/spec/models/chat/channel_spec.rb
Labels: chat

#22824 UX: responsive oneboxing with images in chat
  plugins/chat/assets/stylesheets/common/chat-message-images.scss
Labels: chat

#22825 DEV: skip flaky spec
  plugins/chat/spec/system/thread_tracking/drawer_spec.rb
Labels: chat

#22730 DEV: Remove experimental setting row for chat threads
  plugins/chat/db/migrate/20230721025249_remove_experimental_site_setting_for_threads.rb
Labels: chat

#22779 UX: different way of centering chat notice to accommodate longer texts
  plugins/chat/assets/stylesheets/common/chat-notices.scss
Labels: chat

#22813 DEV: Convert `delete-topic-confirm` modal to component-based API
  app/assets/javascripts/discourse/app/components/modal/delete-topic-confirm.hbs
  app/assets/javascripts/discourse/app/components/modal/delete-topic-confirm.js
  app/assets/javascripts/discourse/app/controllers/delete-topic-confirm.js
  app/assets/javascripts/discourse/app/controllers/topic.js
  app/assets/javascripts/discourse/app/services/modal.js
  app/assets/javascripts/discourse/app/templates/modal/delete-topic-confirm.hbs
Labels: js-modernization

#22746 DEV: Do one query per month when exporting chat messages
  plugins/chat/lib/chat/messages_exporter.rb
  plugins/chat/spec/system/admin/csv_exports_spec.rb
Labels: chat

#22830 DEV: Convert `delete-topic-disallowed` modal to component-based API
  app/assets/javascripts/discourse/app/components/modal/delete-topic-disallowed.hbs
  app/assets/javascripts/discourse/app/services/modal.js
  app/assets/javascripts/discourse/app/templates/modal/delete-topic-disallowed.hbs
  app/assets/javascripts/discourse/app/widgets/post-menu.js
Labels: js-modernization

#22854 FEATURE: Remove restrictions from the chat messages export
  plugins/chat/lib/chat/messages_exporter.rb
Labels: chat
