Repository discourse/discourse, pull requests merged in 2023-03, with the labels that each got.

#20474 FEATURE: Chat header icon indicator preference
  app/models/user_option.rb
  plugins/chat/assets/javascripts/discourse/components/chat-header-icon-unread-indicator.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-header-icon-unread-indicator.js
  plugins/chat/assets/javascripts/discourse/controllers/preferences-chat.js
  plugins/chat/assets/javascripts/discourse/initializers/chat-user-options.js
  plugins/chat/assets/javascripts/discourse/templates/preferences/chat.hbs
  plugins/chat/config/locales/client.en.yml
  plugins/chat/db/migrate/20230228062442_add_chat_header_indicator_preference.rb
  plugins/chat/lib/extensions/user_option_extension.rb
  plugins/chat/plugin.rb
  plugins/chat/spec/system/message_notifications_with_sidebar_spec.rb
  plugins/chat/spec/system/user_chat_preferences_spec.rb
Labels: chat

#20239 UX: Review queue redesign fixes
  app/assets/javascripts/discourse/app/components/reviewable-bundled-action.hbs
  app/assets/javascripts/discourse/app/components/reviewable-flagged-post.hbs
  app/assets/javascripts/discourse/app/components/reviewable-item.hbs
  app/assets/javascripts/discourse/app/components/reviewable-score.hbs
  app/assets/javascripts/discourse/app/components/reviewable-scores.hbs
  app/assets/javascripts/discourse/app/helpers/reviewable-status.js
  app/assets/javascripts/discourse/app/models/reviewable.js
  app/assets/javascripts/discourse/tests/acceptance/review-test.js
  app/assets/javascripts/locales/i18n.js
  app/assets/stylesheets/common/base/reviewables.scss
  app/assets/stylesheets/mobile/reviewables.scss
  app/jobs/scheduled/auto_queue_handler.rb
  app/models/reviewable_flagged_post.rb
  app/serializers/reviewable_score_type_serializer.rb
  config/locales/client.en.yml
  config/locales/server.en.yml
  lib/post_destroyer.rb
  plugins/chat/assets/javascripts/lib/discourse-markdown/chat-transcript.js
  plugins/discourse-narrative-bot/lib/discourse_narrative_bot/advanced_user_narrative.rb
  spec/jobs/truncate_user_flag_stats_spec.rb
  spec/lib/post_action_creator_spec.rb
  spec/lib/post_destroyer_spec.rb
  spec/models/post_action_spec.rb
  spec/models/post_spec.rb
  spec/models/reviewable_flagged_post_spec.rb
  spec/models/reviewable_spec.rb
  spec/models/user_spec.rb
  spec/requests/posts_controller_spec.rb
Labels: chat

#20524 UX: makes last visit stand out less
  plugins/chat/assets/stylesheets/common/chat-message-separator.scss
Labels: chat

#20525 FIX: prevents exception on required login sites with chat
  plugins/chat/assets/javascripts/discourse/initializers/chat-cook-function.js
Labels: chat

#20527 FIX: prevents duplicate reactions
  plugins/chat/assets/javascripts/discourse/models/chat-message.js
  plugins/chat/spec/system/react_to_message_spec.rb
Labels: chat

#20529 DEV: removes dead code
  plugins/chat/app/services/chat_publisher.rb
Labels: chat

#20542 UX: remove visual chat msg staging effect
  plugins/chat/assets/stylesheets/common/chat-message.scss
Labels: chat

#20526 FIX: do not refresh when accessing loaded reply
  plugins/chat/assets/javascripts/discourse/components/chat-live-pane.js
  plugins/chat/assets/javascripts/discourse/routes/chat-channel.js
  plugins/chat/spec/system/reply_indicator_spec.rb
Labels: chat

#20532 PERF: applies optimisations on chat-live pane
  plugins/chat/app/controllers/chat_controller.rb
  plugins/chat/assets/javascripts/discourse/components/chat-live-pane.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-live-pane.js
  plugins/chat/assets/javascripts/discourse/components/chat-message-collapser.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-message-separator-date.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-message-text.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-message.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-message.js
  plugins/chat/assets/javascripts/discourse/components/chat-scroll-to-bottom-arrow.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-skeleton.hbs
  plugins/chat/assets/javascripts/discourse/components/collapser.hbs
  plugins/chat/assets/javascripts/discourse/components/collapser.js
  plugins/chat/assets/javascripts/discourse/models/chat-message.js
  plugins/chat/assets/javascripts/discourse/modifiers/chat/did-mutate-childlist.js
  plugins/chat/assets/javascripts/discourse/modifiers/chat/on-throttled-scroll.js
  plugins/chat/assets/javascripts/discourse/services/chat-api.js
  plugins/chat/assets/javascripts/discourse/services/chat-channels-manager.js
  plugins/chat/assets/stylesheets/common/chat-message-separator.scss
  plugins/chat/assets/stylesheets/common/common.scss
  plugins/chat/spec/system/bookmark_message_spec.rb
  plugins/chat/spec/system/chat_channel_spec.rb
  plugins/chat/spec/system/deleted_message_spec.rb
  plugins/chat/spec/system/hashtag_autocomplete_spec.rb
  plugins/chat/spec/system/mention_warnings_spec.rb
  plugins/chat/spec/system/page_objects/chat/chat.rb
  plugins/chat/spec/system/reply_indicator_spec.rb
  plugins/chat/spec/system/replying_indicator_spec.rb
  plugins/chat/spec/system/transcript_spec.rb
  plugins/chat/test/javascripts/components/chat-message-test.js
Labels: chat

#20545 PERF: reduce height of the load more past message area
  plugins/chat/assets/javascripts/discourse/components/chat-live-pane.js
Labels: chat

#20470 DEV: Always create chat mention records
  plugins/chat/app/jobs/regular/chat_notify_mentioned.rb
  plugins/chat/app/models/chat_message.rb
  plugins/chat/db/post_migrate/20230227172543_make_chat_mention_notification_id_nullable.rb
  plugins/chat/lib/chat_message_mentions.rb
  plugins/chat/lib/chat_notifier.rb
  plugins/chat/spec/components/chat_message_creator_spec.rb
  plugins/chat/spec/components/chat_message_updater_spec.rb
  plugins/chat/spec/jobs/regular/chat_notify_mentioned_spec.rb
  plugins/chat/spec/lib/chat_message_mentions_spec.rb
  plugins/chat/spec/lib/chat_notifier_spec.rb
  plugins/chat/spec/models/chat_message_spec.rb
Labels: chat

#20563 PERF: various perf improvements of chat-live-pane
  plugins/chat/assets/javascripts/discourse/components/chat-composer-uploads.js
  plugins/chat/assets/javascripts/discourse/components/chat-live-pane.js
  plugins/chat/assets/javascripts/discourse/components/chat-message-in-reply-to-indicator.js
  plugins/chat/assets/javascripts/discourse/components/chat-message.hbs
  plugins/chat/assets/javascripts/discourse/components/full-page-chat.hbs
  plugins/chat/assets/javascripts/discourse/routes/chat-channel.js
  plugins/chat/assets/javascripts/discourse/templates/chat-channel-near-message.hbs
  plugins/chat/assets/javascripts/discourse/templates/chat-channel.hbs
  plugins/chat/spec/system/single_thread_spec.rb
  plugins/chat/spec/system/transcript_spec.rb
Labels: chat

#20556 DEV: Change Bookmarkable registration to DiscoursePluginRegistry
  app/models/bookmark.rb
  app/services/base_bookmarkable.rb
  app/services/registered_bookmarkable.rb
  lib/discourse_plugin_registry.rb
  lib/plugin/instance.rb
  plugins/chat/plugin.rb
  plugins/chat/spec/lib/chat_message_bookmarkable_spec.rb
  plugins/chat/spec/models/chat_message_spec.rb
  plugins/chat/spec/plugin_helper.rb
  spec/lib/bookmark_query_spec.rb
  spec/models/bookmark_spec.rb
  spec/models/user_bookmark_list_spec.rb
  spec/rails_helper.rb
  spec/requests/users_controller_spec.rb
  spec/serializers/user_bookmark_list_serializer_spec.rb
  spec/support/bookmarkable_helper.rb
Labels: chat

#20574 DEV: Fix broken plugin specs because of bookmarkable changes
  plugins/chat/spec/lib/chat_message_bookmarkable_spec.rb
Labels: chat

#20578 DEV: Fix another chat bookmark spec
  plugins/chat/spec/models/chat_message_spec.rb
Labels: chat

#20582 FIX: do not show infinite loading state on draft with new users
  plugins/chat/assets/javascripts/discourse/components/chat-live-pane.js
  plugins/chat/spec/system/draft_message_spec.rb
Labels: chat

#20573 DEV: Introduces a wait_for_animation system spec helper
  plugins/chat/spec/system/page_objects/chat/chat_channel.rb
  plugins/chat/spec/system/single_thread_spec.rb
  plugins/chat/spec/system/transcript_spec.rb
  spec/support/system_helpers.rb
Labels: chat

#20584 FIX: correctly syncs current user message in multiple sessions
  plugins/chat/assets/javascripts/discourse/components/chat-live-pane.js
  plugins/chat/spec/system/chat_channel_spec.rb
Labels: chat

#20592 UX: Fix chat-reply overflow
  plugins/chat/assets/stylesheets/common/chat-composer.scss
  plugins/chat/assets/stylesheets/common/chat-reply.scss
Labels: chat

#20594 FIX: broken sticky date on firefox
  plugins/chat/assets/stylesheets/common/chat-message-separator.scss
Labels: chat

#20604 Revert "FIX: more precise unread message detection (#20588)"
  plugins/chat/assets/javascripts/discourse/components/chat-live-pane.js
  plugins/chat/assets/javascripts/discourse/modifiers/chat/track-message.js
  plugins/chat/spec/system/mark_message_as_read.rb
Labels: chat

#20605 FIX: Uploading multiple files to chat could cause canellations
  plugins/chat/assets/javascripts/discourse/components/chat-composer-uploads.js
  plugins/chat/assets/javascripts/discourse/components/chat-composer.js
  plugins/chat/assets/javascripts/discourse/components/chat-live-pane.js
  plugins/chat/spec/system/uploads_spec.rb
Labels: chat

#20601 UX: Tweak last-visit/date separators
  plugins/chat/assets/javascripts/discourse/components/chat-message-separator-date.hbs
  plugins/chat/assets/javascripts/discourse/modifiers/chat/track-message-separator-date.js
  plugins/chat/assets/stylesheets/common/chat-message-separator.scss
  plugins/chat/assets/stylesheets/common/common.scss
Labels: chat

#20615 FIX: improves unread state precision
  plugins/chat/assets/javascripts/discourse/components/chat-live-pane.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-live-pane.js
  plugins/chat/assets/javascripts/discourse/components/chat-message.hbs
  plugins/chat/assets/javascripts/discourse/modifiers/chat/track-message.js
  plugins/chat/assets/stylesheets/common/chat-message-left-gutter.scss
  plugins/chat/spec/system/update_last_read.rb
  plugins/chat/test/javascripts/components/chat-message-test.js
Labels: chat

#20562 DEV: better split create_notification! and send_notifications logic
  plugins/chat/app/jobs/regular/chat_notify_mentioned.rb
Labels: chat

#20627 DEV: Change sidebar header dropdown to use wait_for_animation
  app/assets/javascripts/discourse/app/components/site-header.js
  plugins/chat/spec/system/page_objects/chat/chat_channel.rb
  spec/system/page_objects/components/base.rb
  spec/system/page_objects/components/sidebar_header_dropdown.rb
  spec/system/page_objects/pages/base.rb
  spec/system/viewing_sidebar_spec.rb
Labels: chat

#20636 DEV: do not fabricate a notification when fabricating a chat_mention
  plugins/chat/spec/components/chat_mailer_spec.rb
  plugins/chat/spec/lib/message_mover_spec.rb
  plugins/chat/spec/models/chat_message_spec.rb
Labels: chat

#20634 FIX: more consistent scroll to bottom
  plugins/chat/assets/javascripts/discourse/components/chat-live-pane.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-live-pane.js
Labels: chat

#20637 FIX: ensures edited message is correctly re-decorated
  plugins/chat/assets/javascripts/discourse/components/chat-live-pane.js
  plugins/chat/assets/javascripts/discourse/models/chat-message.js
  plugins/chat/spec/system/edited_message_spec.rb
Labels: chat

#20640 DEV: adds a `addChatDrawerStateCallback` API
  plugins/chat/assets/javascripts/discourse/initializers/chat-setup.js
  plugins/chat/assets/javascripts/discourse/pre-initializers/chat-plugin-api.js
  plugins/chat/assets/javascripts/discourse/services/chat-state-manager.js
  plugins/chat/spec/system/drawer_spec.rb
  plugins/chat/test/javascripts/unit/services/chat-state-manager-test.js
Labels: chat

#20677 FIX: do not send emails when channel-wide mentions are disabled in a channel
  plugins/chat/lib/extensions/user_notifications_extension.rb
Labels: chat

#20662 DEV: remove unused string
  plugins/chat/config/locales/client.en.yml
Labels: chat

#20691 DEV: add test cases for email notifications about channel-wide mentions
  plugins/chat/spec/mailers/user_notifications_spec.rb
Labels: chat

#20707 SECURITY: Multiple commits for Version bump 3.1.0.beta3
  app/assets/javascripts/discourse/app/components/choose-topic.hbs
  app/assets/javascripts/discourse/app/components/composer-action-title.js
  app/assets/javascripts/discourse/app/helpers/replace-emoji.js
  app/assets/javascripts/discourse/app/templates/modal/insert-hyperlink.hbs
  app/assets/javascripts/discourse/app/templates/review-topics.hbs
  app/assets/javascripts/discourse/tests/acceptance/composer-actions-test.js
  app/assets/javascripts/discourse/tests/fixtures/topic.js
  app/assets/javascripts/discourse/tests/integration/helpers/replace-emoji-test.js
  app/assets/javascripts/select-kit/addon/templates/components/topic-row.hbs
  lib/cooked_processor_mixin.rb
  lib/final_destination/fast_image.rb
  lib/final_destination/ssrf_detector.rb
  lib/freedom_patches/web_push_request.rb
  plugins/chat/app/models/chat_message.rb
  plugins/chat/assets/javascripts/discourse/components/chat-channel-about-view.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-channel-card.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-channel-title.hbs
  plugins/chat/spec/models/chat_message_spec.rb
  plugins/chat/spec/system/chat_channel_spec.rb
  spec/lib/final_destination/fast_image_spec.rb
  spec/lib/final_destination/ssrf_detector_spec.rb
  spec/lib/freedom_patches/web_push_spec.rb
  spec/services/search_indexer_spec.rb
Labels: chat

#20709 Revert "SECURITY: Multiple commits for Version bump 3.1.0.beta3 (#207…
  app/assets/javascripts/discourse/app/components/choose-topic.hbs
  app/assets/javascripts/discourse/app/components/composer-action-title.js
  app/assets/javascripts/discourse/app/helpers/replace-emoji.js
  app/assets/javascripts/discourse/app/templates/modal/insert-hyperlink.hbs
  app/assets/javascripts/discourse/app/templates/review-topics.hbs
  app/assets/javascripts/discourse/tests/acceptance/composer-actions-test.js
  app/assets/javascripts/discourse/tests/fixtures/topic.js
  app/assets/javascripts/discourse/tests/integration/helpers/replace-emoji-test.js
  app/assets/javascripts/select-kit/addon/templates/components/topic-row.hbs
  lib/cooked_processor_mixin.rb
  lib/final_destination/fast_image.rb
  lib/final_destination/ssrf_detector.rb
  lib/freedom_patches/web_push_request.rb
  plugins/chat/app/models/chat_message.rb
  plugins/chat/assets/javascripts/discourse/components/chat-channel-about-view.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-channel-card.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-channel-title.hbs
  plugins/chat/spec/models/chat_message_spec.rb
  plugins/chat/spec/system/chat_channel_spec.rb
  spec/lib/final_destination/fast_image_spec.rb
  spec/lib/final_destination/ssrf_detector_spec.rb
  spec/lib/freedom_patches/web_push_spec.rb
  spec/services/search_indexer_spec.rb
Labels: chat

#20719 FIX: correctly infer polymorphic class from bookmarkable type
  app/models/bookmark.rb
  plugins/chat/spec/requests/core_ext/bookmarks_controller_spec.rb
Labels: chat

#20721 DEV: fixes a flakey spec
  plugins/chat/spec/requests/core_ext/bookmarks_controller_spec.rb
Labels: chat

#20724 FIX: ensures lightbox is working after collapse/expand
  plugins/chat/assets/javascripts/discourse/components/chat-message-collapser.hbs
  plugins/chat/spec/system/channel_message_upload_spec.rb
Labels: chat

#20728 FIX: ensures updateLastRead is called when receiving a message
  plugins/chat/assets/javascripts/discourse/components/chat-live-pane.js
Labels: chat

#20729 UX: disable arrow up to edit if last message is not editable
  plugins/chat/assets/javascripts/discourse/components/chat-live-pane.js
  plugins/chat/spec/system/shortcuts/chat_composer_spec.rb
Labels: chat

#20669 UX: Fix chat separator alignment
  plugins/chat/assets/stylesheets/common/base-common.scss
  plugins/chat/assets/stylesheets/common/chat-message-separator.scss
Labels: chat

#20730 FIX: correctly checks for chat enabled in incoming webhooks controller
  plugins/chat/app/controllers/chat/incoming_webhooks_controller.rb
  plugins/chat/spec/requests/chat/incoming_webhooks_controller_spec.rb
Labels: chat

#20718 DEV: Move user/group cards from named outlet to component
  app/assets/javascripts/discourse/app/components/card-container.hbs
  app/assets/javascripts/discourse/app/components/card-container.js
  app/assets/javascripts/discourse/app/controllers/user-card.js
  app/assets/javascripts/discourse/app/routes/application.js
  app/assets/javascripts/discourse/app/routes/topic.js
  app/assets/javascripts/discourse/app/templates/application.hbs
Labels: js-modernization

#20751 UX: disables composer auto focus on drawer
  plugins/chat/assets/javascripts/discourse/components/chat-live-pane.js
  plugins/chat/spec/system/shortcuts/drawer_spec.rb
  plugins/chat/spec/system/shortcuts/full_page_spec.rb
Labels: chat

#20579 DEV: Rough chat message loading and posting in thread
  plugins/chat/app/controllers/chat/chat_controller.rb
  plugins/chat/assets/javascripts/discourse/components/chat-live-pane.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-live-pane.js
  plugins/chat/assets/javascripts/discourse/components/chat-thread.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-thread.js
  plugins/chat/assets/javascripts/discourse/lib/chat-messages-manager.js
  plugins/chat/assets/javascripts/discourse/lib/chat-threads-manager.js
  plugins/chat/assets/javascripts/discourse/models/chat-channel.js
  plugins/chat/assets/javascripts/discourse/models/chat-thread.js
  plugins/chat/assets/javascripts/discourse/routes/chat-channel.js
  plugins/chat/assets/javascripts/discourse/services/chat-api.js
Labels: chat

#20759 FIX: ensures user with multiple tabs see own reactions
  plugins/chat/assets/javascripts/discourse/components/chat-live-pane.js
  plugins/chat/spec/system/react_to_message_spec.rb
Labels: chat

#20766 FIX: do not refresh metadata of not followed channel
  plugins/chat/assets/javascripts/discourse/services/chat-subscriptions-manager.js
Labels: chat

#20344 FEATURE: Auto-remove users without permission from channel
  app/models/group.rb
  lib/job_time_spacer.rb
  plugins/chat/app/jobs/regular/auto_join_channel_batch.rb
  plugins/chat/app/jobs/regular/chat/auto_join_channel_batch.rb
  plugins/chat/app/jobs/regular/chat/auto_join_channel_memberships.rb
  plugins/chat/app/jobs/regular/chat/auto_remove_membership_handle_category_updated.rb
  plugins/chat/app/jobs/regular/chat/auto_remove_membership_handle_chat_allowed_groups_change.rb
  plugins/chat/app/jobs/regular/chat/auto_remove_membership_handle_destroyed_group.rb
  plugins/chat/app/jobs/regular/chat/auto_remove_membership_handle_user_removed_from_group.rb
  plugins/chat/app/jobs/regular/chat/kick_users_from_channel.rb
  plugins/chat/app/models/chat/user_chat_channel_membership.rb
  plugins/chat/app/serializers/chat/channel_serializer.rb
  plugins/chat/app/serializers/chat/structured_channel_serializer.rb
  plugins/chat/app/serializers/chat_channel_serializer.rb
  plugins/chat/app/services/chat/action/calculate_memberships_for_removal.rb
  plugins/chat/app/services/chat/action/publish_auto_removed_user.rb
  plugins/chat/app/services/chat/action/remove_memberships.rb
  plugins/chat/app/services/chat/auto_remove/handle_category_updated.rb
  plugins/chat/app/services/chat/auto_remove/handle_chat_allowed_groups_change.rb
  plugins/chat/app/services/chat/auto_remove/handle_destroyed_group.rb
  plugins/chat/app/services/chat/auto_remove/handle_user_removed_from_group.rb
  plugins/chat/app/services/chat/publisher.rb
  plugins/chat/assets/javascripts/discourse/services/chat-channels-manager.js
  plugins/chat/assets/javascripts/discourse/services/chat-subscriptions-manager.js
  plugins/chat/config/locales/client.en.yml
  plugins/chat/lib/chat/channel_membership_manager.rb
  plugins/chat/lib/chat/notifier.rb
  plugins/chat/lib/chat/steps_inspector.rb
  plugins/chat/plugin.rb
  plugins/chat/spec/integration/auto_channel_user_removal_spec.rb
  plugins/chat/spec/jobs/regular/chat/auto_join_channel_memberships_spec.rb
  plugins/chat/spec/jobs/regular/chat/kick_users_from_channel_spec.rb
  plugins/chat/spec/services/auto_remove/handle_category_updated_spec.rb
  plugins/chat/spec/services/auto_remove/handle_chat_allowed_groups_change_spec.rb
  plugins/chat/spec/services/auto_remove/handle_destroyed_group_spec.rb
  plugins/chat/spec/services/auto_remove/handle_user_removed_from_group_spec.rb
  plugins/chat/spec/services/chat/update_channel_spec.rb
  plugins/chat/spec/system/kick_user_from_channel_spec.rb
Labels: chat

#20770 DEV: Skip channel-wide mention chat specs
  plugins/chat/spec/mailers/user_notifications_spec.rb
Labels: chat

#20629 FEATURE: Mark all chat channels read with a shortcut
  plugins/chat/app/controllers/chat/api/reads_controller.rb
  plugins/chat/app/controllers/chat/chat_controller.rb
  plugins/chat/app/helpers/chat/with_service_helper.rb
  plugins/chat/app/services/chat/action/mark_mentions_read.rb
  plugins/chat/app/services/chat/mark_all_user_channels_read.rb
  plugins/chat/app/services/chat/update_user_last_read.rb
  plugins/chat/assets/javascripts/discourse/initializers/chat-keyboard-shortcuts.js
  plugins/chat/assets/javascripts/discourse/models/chat-channel.js
  plugins/chat/assets/javascripts/discourse/services/chat-api.js
  plugins/chat/assets/javascripts/discourse/services/chat-channels-manager.js
  plugins/chat/config/locales/client.en.yml
  plugins/chat/config/routes.rb
  plugins/chat/lib/service_runner.rb
  plugins/chat/spec/requests/chat/api/reads_controller_spec.rb
  plugins/chat/spec/requests/chat_controller_spec.rb
  plugins/chat/spec/services/auto_remove/handle_destroyed_group_spec.rb
  plugins/chat/spec/services/chat/mark_all_user_channels_read_spec.rb
  plugins/chat/spec/services/chat/update_user_last_read_spec.rb
  plugins/chat/spec/system/shortcuts/mark_all_read_spec.rb
Labels: chat

#20782 FIX: Make sure "last visit" is not shown after marking all messages read
  plugins/chat/assets/javascripts/discourse/components/chat-live-pane.js
  plugins/chat/assets/javascripts/discourse/services/chat-channels-manager.js
  plugins/chat/spec/system/shortcuts/mark_all_read_spec.rb
Labels: chat

#20771 DEV: Switch to data attributes to represent sidebar section name
  app/assets/javascripts/discourse/app/components/sidebar/section.hbs
  app/assets/javascripts/discourse/tests/acceptance/sidebar-anonymous-categories-section-test.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-anonymous-community-section-test.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-anonymous-tags-section-test.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-plugin-api-test.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-user-categories-section-test.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-user-community-section-test.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-user-messages-section-test.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-user-tags-section-test.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-user-test.js
  app/assets/javascripts/discourse/tests/acceptance/user-preferences-sidebar-test.js
  plugins/chat/spec/system/list_channels/sidebar_spec.rb
  plugins/chat/spec/system/page_objects/sidebar/sidebar.rb
  spec/system/custom_sidebar_sections_spec.rb
  spec/system/page_objects/components/sidebar.rb
Labels: chat

#20785 FIX: relies only on message bus to set tracking state
  plugins/chat/assets/javascripts/discourse/models/chat-channel.js
Labels: chat

#20723 DEV: Convert composer controller to native class syntax
  app/assets/javascripts/discourse/app/controllers/composer.js
  app/assets/javascripts/discourse/app/templates/composer.hbs
Labels: js-modernization

#20802 FIX: Make sure marking channels read propagates to all tabs
  plugins/chat/app/services/chat/mark_all_user_channels_read.rb
  plugins/chat/assets/javascripts/discourse/services/chat-channels-manager.js
  plugins/chat/spec/services/chat/mark_all_user_channels_read_spec.rb
Labels: chat

#20842 DEV: Fix a constant redefinition warning
  plugins/chat/spec/system/channel_selector_modal_spec.rb
  plugins/chat/spec/system/shortcuts/chat_composer_spec.rb
Labels: chat

#18678 DEV: Make `capabilities` into a service
  app/assets/javascripts/discourse-common/addon/resolver.js
  app/assets/javascripts/discourse/app/components/sidebar/footer.js
  app/assets/javascripts/discourse/app/initializers/auto-load-modules.js
  app/assets/javascripts/discourse/app/initializers/inject-objects.js
  app/assets/javascripts/discourse/app/initializers/mobile-keyboard.js
  app/assets/javascripts/discourse/app/initializers/post-decorations.js
  app/assets/javascripts/discourse/app/initializers/register-media-optimization-upload-processor.js
  app/assets/javascripts/discourse/app/initializers/sniff-capabilities.js
  app/assets/javascripts/discourse/app/initializers/webview-background.js
  app/assets/javascripts/discourse/app/pre-initializers/inject-discourse-objects.js
  app/assets/javascripts/discourse/app/pre-initializers/sniff-capabilities.js
  app/assets/javascripts/discourse/app/services/capabilities.js
  app/assets/javascripts/discourse/app/widgets/widget.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-user-test.js
  plugins/chat/assets/javascripts/discourse/components/chat-live-pane.js
  plugins/chat/assets/javascripts/discourse/components/chat-message-actions-mobile.js
  plugins/chat/assets/javascripts/discourse/components/chat-message.js
Labels: chat

#20821 DEV: Skip system specs with upload fabricators
  plugins/chat/spec/system/channel_message_upload_spec.rb
  plugins/chat/spec/system/uploads_spec.rb
  spec/system/composer/review_media_unless_trust_level_spec.rb
Labels: chat

#20838 DEV: Introduce bulk channel tracking publisher
  plugins/chat/app/queries/chat/channel_unreads_query.rb
  plugins/chat/app/services/chat/mark_all_user_channels_read.rb
  plugins/chat/app/services/chat/publisher.rb
  plugins/chat/assets/javascripts/discourse/services/chat-subscriptions-manager.js
  plugins/chat/spec/queries/chat/channel_unreads_query_spec.rb
  plugins/chat/spec/services/chat/mark_all_user_channels_read_spec.rb
Labels: chat

#20852 FIX: Make chat tracking payload backwards compatible
  plugins/chat/app/services/chat/publisher.rb
Labels: chat

#20855 DEV: Fix excessive MessageBus#last_id calls in chat
  plugins/chat/app/serializers/chat/channel_serializer.rb
  plugins/chat/app/serializers/chat/structured_channel_serializer.rb
  plugins/chat/app/serializers/chat/view_serializer.rb
  plugins/chat/app/serializers/chat_channel_serializer.rb
  plugins/chat/app/services/chat/publisher.rb
Labels: chat

#20858 FIX: channel_message_bus_last_id was incorrect
  plugins/chat/app/serializers/chat/channel_serializer.rb
  plugins/chat/app/serializers/chat/view_serializer.rb
Labels: chat

#20859 DEV: Uncomment chat upload system specs
  plugins/chat/spec/system/channel_message_upload_spec.rb
  plugins/chat/spec/system/uploads_spec.rb
Labels: chat

#20869 FIX: ensures removing a reaction doesn’t remove others
  plugins/chat/assets/javascripts/discourse/models/chat-message.js
  plugins/chat/spec/system/page_objects/chat/chat_channel.rb
  plugins/chat/spec/system/react_to_message_spec.rb
Labels: chat

#17753 DEV: Remove `{{user-selector}}`
  app/assets/javascripts/discourse/app/components/user-selector.js
  app/assets/javascripts/discourse/tests/integration/components/select-kit/email-group-user-chooser-test.js
  app/assets/javascripts/discourse/tests/integration/components/user-selector-test.js
  app/assets/javascripts/select-kit/addon/components/user-chooser.js
Labels: 3.1

#20722 DEV: Remove lazy-yt and replace with lazy-videos
  .gitignore
  app/assets/stylesheets/common/printer-friendly.scss
  app/services/search_indexer.rb
  lib/plugin/metadata.rb
  lib/pretty_text.rb
  lib/tasks/plugin.rake
  plugins/chat/assets/javascripts/discourse/components/chat-message-collapser.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-message-collapser.js
  plugins/chat/assets/javascripts/discourse/initializers/chat-plugin-decorators.js
  plugins/chat/assets/stylesheets/common/chat-message-images.scss
  plugins/chat/assets/stylesheets/common/chat-message.scss
  plugins/chat/test/javascripts/acceptance/chat-live-pane-collapse-test.js
  plugins/chat/test/javascripts/components/chat-message-collapser-test.js
  plugins/chat/test/javascripts/components/chat-message-text-test.js
  plugins/discourse-lazy-videos/README.md
  plugins/discourse-lazy-videos/assets/javascripts/discourse/components/lazy-iframe.hbs
  plugins/discourse-lazy-videos/assets/javascripts/discourse/components/lazy-iframe.js
  plugins/discourse-lazy-videos/assets/javascripts/discourse/components/lazy-video.hbs
  plugins/discourse-lazy-videos/assets/javascripts/discourse/components/lazy-video.js
  plugins/discourse-lazy-videos/assets/javascripts/initializers/lazy-videos.js
  plugins/discourse-lazy-videos/assets/javascripts/lib/lazy-video-attributes.js
  plugins/discourse-lazy-videos/assets/stylesheets/lazy-videos.scss
  plugins/discourse-lazy-videos/config/locales/server.en.yml
  plugins/discourse-lazy-videos/config/settings.yml
  plugins/discourse-lazy-videos/db/post_migrate/20230317194217_rebake_lazy_yt_posts.rb
  plugins/discourse-lazy-videos/lib/lazy-videos/lazy_tiktok.rb
  plugins/discourse-lazy-videos/lib/lazy-videos/lazy_vimeo.rb
  plugins/discourse-lazy-videos/lib/lazy-videos/lazy_youtube.rb
  plugins/discourse-lazy-videos/plugin.rb
  plugins/discourse-lazy-videos/spec/components/pretty_text_spec.rb
  plugins/discourse-lazy-videos/test/javascripts/components/lazy-video-test.js
  plugins/lazy-yt/README.md
  plugins/lazy-yt/assets/javascripts/initializers/lazyYT.js
  plugins/lazy-yt/assets/javascripts/lib/lazyYT.js
  plugins/lazy-yt/assets/stylesheets/lazyYT.css
  plugins/lazy-yt/assets/stylesheets/lazyYT_mobile.scss
  plugins/lazy-yt/config/locales/server.en.yml
  plugins/lazy-yt/config/settings.yml
  plugins/lazy-yt/plugin.rb
  spec/lib/pretty_text_spec.rb
  spec/services/search_indexer_spec.rb
Labels: chat

#20872 DEV: Add specs to ChannelSerializer and StructuredChannelSerializer
  plugins/chat/app/serializers/chat/structured_channel_serializer.rb
  plugins/chat/spec/serializer/chat/channel_serializer_spec.rb
  plugins/chat/spec/serializer/chat/structured_channel_serializer_spec.rb
Labels: chat

#20909 DEV: Add debug for ChatablesControllerSpec
  plugins/chat/spec/requests/chat/api/chatables_controller_spec.rb
Labels: chat
