Repository discourse/discourse, pull requests merged in 2023-02, with the labels that each got.

#20106 DEV: Add ChatThread model and DB table, and ChatMessage reference
  plugins/chat/app/models/chat_message.rb
  plugins/chat/app/models/chat_thread.rb
  plugins/chat/db/migrate/20230201012734_create_chat_threading_models.rb
  plugins/chat/plugin.rb
Labels: chat

#20013 DEV: Pass messageId as a dynamic segment instead of a query param
  plugins/chat/app/jobs/regular/chat_notify_mentioned.rb
  plugins/chat/assets/javascripts/discourse/chat-route-map.js
  plugins/chat/assets/javascripts/discourse/components/chat-channel-card.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-channel-row.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-composer.js
  plugins/chat/assets/javascripts/discourse/components/chat-drawer.js
  plugins/chat/assets/javascripts/discourse/components/chat-message.js
  plugins/chat/assets/javascripts/discourse/components/chat-selection-manager.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-selection-manager.js
  plugins/chat/assets/javascripts/discourse/components/reviewable-chat-message.hbs
  plugins/chat/assets/javascripts/discourse/controllers/chat-channel.js
  plugins/chat/assets/javascripts/discourse/helpers/format-chat-date.js
  plugins/chat/assets/javascripts/discourse/initializers/chat-sidebar.js
  plugins/chat/assets/javascripts/discourse/initializers/chat-user-menu.js
  plugins/chat/assets/javascripts/discourse/routes/chat-channel-from-params.js
  plugins/chat/assets/javascripts/discourse/routes/chat-channel-legacy.js
  plugins/chat/assets/javascripts/discourse/routes/chat-channel-near-message.js
  plugins/chat/assets/javascripts/discourse/routes/chat-channel.js
  plugins/chat/assets/javascripts/discourse/routes/chat-message.js
  plugins/chat/assets/javascripts/discourse/routes/chat.js
  plugins/chat/assets/javascripts/discourse/services/chat.js
  plugins/chat/assets/javascripts/discourse/templates/chat-channel-from-params.hbs
  plugins/chat/assets/javascripts/discourse/templates/chat-channel-info.hbs
  plugins/chat/assets/javascripts/discourse/templates/chat-channel-near-message.hbs
  plugins/chat/assets/javascripts/discourse/widgets/chat-invitation-notification-item.js
  plugins/chat/assets/javascripts/discourse/widgets/chat-mention-notification-item.js
  plugins/chat/assets/javascripts/lib/discourse-markdown/chat-transcript.js
  plugins/chat/plugin.rb
  plugins/chat/spec/integration/post_chat_quote_spec.rb
  plugins/chat/spec/jobs/regular/chat_notify_mentioned_spec.rb
  plugins/chat/spec/models/chat_message_spec.rb
  plugins/chat/spec/plugin_spec.rb
  plugins/chat/spec/system/bookmark_message_spec.rb
  plugins/chat/spec/system/navigating_to_message_spec.rb
  plugins/chat/spec/system/transcript_spec.rb
  plugins/chat/spec/system/user_menu_notifications/sidebar_spec.rb
  plugins/chat/spec/system/visit_channel_spec.rb
  plugins/chat/test/javascripts/unit/helpers/format-chat-date-test.js
  plugins/chat/test/javascripts/widgets/chat-invitation-notification-item-test.js
  plugins/chat/test/javascripts/widgets/chat-mention-notification-item-test.js
  spec/rails_helper.rb
  spec/support/system_helpers.rb
Labels: chat

#20110 FIX: reverts value check when reseting composer value
  plugins/chat/assets/javascripts/discourse/components/chat-composer.js
Labels: chat

#20113 FIX: Emoji autocomplete “more” button not working in chat
  plugins/chat/assets/javascripts/discourse/components/chat-composer.js
  plugins/chat/assets/javascripts/discourse/components/chat-emoji-picker.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-message.js
  plugins/chat/assets/javascripts/discourse/components/dc-filter-input.hbs
  plugins/chat/assets/javascripts/discourse/services/chat-emoji-picker-manager.js
  plugins/chat/spec/system/chat_composer_spec.rb
  plugins/chat/test/javascripts/unit/services/chat-emoji-picker-manager-test.js
Labels: chat

#20121 FIX: Back button action and position on glimmer topic timeline
  app/assets/javascripts/discourse/app/components/topic-timeline/back-button.hbs
  app/assets/javascripts/discourse/app/components/topic-timeline/container.hbs
  app/assets/javascripts/discourse/app/components/topic-timeline/container.js
  app/assets/javascripts/discourse/app/components/topic-timeline/scroller.hbs
Labels: js-modernization

#20149 UX: Add transition to glimmer-topic-timeline fullscreen view
  app/assets/javascripts/discourse/app/components/glimmer-topic-timeline.hbs
  app/assets/javascripts/discourse/app/components/glimmer-topic-timeline.js
Labels: js-modernization

#20154 FIX: correctly filters input with pre-filled value
  plugins/chat/assets/javascripts/discourse/components/chat-emoji-picker.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-emoji-picker.js
  plugins/chat/spec/system/chat_composer_spec.rb
Labels: chat

#20155 DEV: Remove `widget-button` from glimmer-topic-timeline
  app/assets/javascripts/discourse/app/components/topic-navigation.js
  app/assets/javascripts/discourse/app/components/topic-timeline/container.hbs
Labels: js-modernization

#20160 FEATURE: resizeable chat drawer
  plugins/chat/assets/javascripts/discourse/components/chat-drawer.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-drawer.js
  plugins/chat/assets/javascripts/discourse/modifiers/chat/resizable-node.js
  plugins/chat/assets/javascripts/discourse/services/chat-drawer-size.js
  plugins/chat/assets/stylesheets/common/chat-drawer.scss
  plugins/chat/assets/stylesheets/desktop/desktop.scss
  plugins/chat/spec/system/drawer_spec.rb
  plugins/chat/test/javascripts/unit/services/chat-drawer-size-test.js
Labels: chat

#20157 FIX: Allow keyboard navigation when searching emojis in chat
  plugins/chat/assets/javascripts/discourse/components/chat-emoji-picker.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-emoji-picker.js
  plugins/chat/assets/stylesheets/common/chat-emoji-picker.scss
  plugins/chat/test/javascripts/components/chat-emoji-picker-test.js
Labels: chat

#20144 FIX: Delete associated notifications when trashing chat messages.
  plugins/chat/app/controllers/chat_controller.rb
  plugins/chat/app/models/chat_mention.rb
  plugins/chat/app/services/chat_message_destroyer.rb
  plugins/chat/spec/requests/chat_controller_spec.rb
  plugins/chat/spec/services/chat_message_destroyer_spec.rb
Labels: chat

#20166 DEV: Dock glimmer-topic-timeline with animation
  app/assets/javascripts/discourse/app/components/glimmer-topic-timeline.hbs
  app/assets/javascripts/discourse/app/components/glimmer-topic-timeline.js
  app/assets/javascripts/discourse/app/components/topic-timeline/container.hbs
  app/assets/javascripts/discourse/app/components/topic-timeline/container.js
Labels: js-modernization

#19465 REFACTOR: Move mention warnings logic into a separate service.
  plugins/chat/assets/javascripts/discourse/components/chat-composer.js
  plugins/chat/assets/javascripts/discourse/components/chat-live-pane.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-live-pane.js
  plugins/chat/assets/javascripts/discourse/components/chat-mention-warnings.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-mention-warnings.js
  plugins/chat/assets/javascripts/discourse/services/chat-composer-warnings-tracker.js
  plugins/chat/spec/system/mention_warnings_spec.rb
Labels: chat

#20175 FEATURE: Inline audio player for chat uploads
  plugins/chat/assets/javascripts/discourse/components/chat-upload.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-upload.js
  plugins/chat/test/javascripts/components/chat-upload-test.js
Labels: chat

#20176 UX: apply same style for highlight mention span
  plugins/chat/assets/stylesheets/common/chat-message.scss
Labels: chat

#19817 FIX: avoid race condition when setting user status
  app/models/user.rb
Labels: 3.1

#20170 DEV: Add 'chat_message_deleted' Discourse event
  plugins/chat/app/services/chat_message_destroyer.rb
  plugins/chat/spec/requests/chat_controller_spec.rb
  plugins/chat/spec/services/chat_message_destroyer_spec.rb
Labels: chat

#20191 DEV: fixes failing spec
  plugins/chat/spec/requests/chat_controller_spec.rb
Labels: chat

#20188 UX: orders public channels by slug instead of title
  plugins/chat/assets/javascripts/discourse/services/chat-channels-manager.js
  plugins/chat/spec/system/list_channels/sidebar_spec.rb
Labels: chat

#20179 DEV: refactors routes to simplify using outlet
  plugins/chat/assets/javascripts/discourse/chat-route-map.js
  plugins/chat/assets/javascripts/discourse/components/chat-channel-card.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-channel-row.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-drawer.js
  plugins/chat/assets/javascripts/discourse/components/chat-live-pane.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-live-pane.js
  plugins/chat/assets/javascripts/discourse/components/full-page-chat.hbs
  plugins/chat/assets/javascripts/discourse/controllers/chat-channel.js
  plugins/chat/assets/javascripts/discourse/initializers/chat-sidebar.js
  plugins/chat/assets/javascripts/discourse/routes/chat-channel-decorator.js
  plugins/chat/assets/javascripts/discourse/routes/chat-channel-from-params.js
  plugins/chat/assets/javascripts/discourse/routes/chat-channel-info.js
  plugins/chat/assets/javascripts/discourse/routes/chat-channel-legacy.js
  plugins/chat/assets/javascripts/discourse/routes/chat-channel-near-message.js
  plugins/chat/assets/javascripts/discourse/routes/chat-channel.js
  plugins/chat/assets/javascripts/discourse/routes/chat.js
  plugins/chat/assets/javascripts/discourse/services/chat.js
  plugins/chat/assets/javascripts/discourse/templates/chat-channel-from-params.hbs
  plugins/chat/assets/javascripts/discourse/templates/chat-channel-info.hbs
  plugins/chat/assets/javascripts/discourse/templates/chat-channel.hbs
Labels: chat

#20197 UX: allows drawer to take most of height space
  plugins/chat/assets/stylesheets/common/chat-drawer.scss
Labels: chat

#20202 UX: implements a random and auto generated skeleton
  plugins/chat/assets/javascripts/discourse/components/chat-skeleton.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-skeleton.js
  plugins/chat/assets/stylesheets/common/chat-skeleton.scss
Labels: chat

#20132 FEATURE: Automatically create chat threads in background
  plugins/chat/config/locales/server.en.yml
  plugins/chat/lib/chat_message_creator.rb
  plugins/chat/lib/message_mover.rb
  plugins/chat/spec/components/chat_message_creator_spec.rb
  plugins/chat/spec/fabricators/chat_fabricator.rb
  plugins/chat/spec/lib/message_mover_spec.rb
Labels: chat

#20205 Revert "FEATURE: Automatically create chat threads in background (#20132)"
  plugins/chat/config/locales/server.en.yml
  plugins/chat/lib/chat_message_creator.rb
  plugins/chat/lib/message_mover.rb
  plugins/chat/spec/components/chat_message_creator_spec.rb
  plugins/chat/spec/fabricators/chat_fabricator.rb
  plugins/chat/spec/lib/message_mover_spec.rb
Labels: chat

#20206 FEATURE: Automatically create chat threads in background
  plugins/chat/config/locales/client.en.yml
  plugins/chat/config/locales/server.en.yml
  plugins/chat/lib/chat_message_creator.rb
  plugins/chat/lib/message_mover.rb
  plugins/chat/spec/components/chat_message_creator_spec.rb
  plugins/chat/spec/fabricators/chat_fabricator.rb
  plugins/chat/spec/lib/message_mover_spec.rb
Labels: chat

#20212 FIX: changed classname for YT images
  plugins/chat/assets/stylesheets/common/chat-message.scss
Labels: chat

#20219 DEV: correct a relationship – a chat message may have several mentions
  plugins/chat/app/models/chat_message.rb
  plugins/chat/spec/models/chat_message_spec.rb
Labels: chat

#20237 DEV: Change setActiveChannel to get/set in services/chat
  plugins/chat/assets/javascripts/discourse/components/chat-drawer.js
  plugins/chat/assets/javascripts/discourse/routes/chat-browse-index.js
  plugins/chat/assets/javascripts/discourse/routes/chat-channel-decorator.js
  plugins/chat/assets/javascripts/discourse/routes/chat-draft-channel.js
  plugins/chat/assets/javascripts/discourse/routes/chat.js
  plugins/chat/assets/javascripts/discourse/services/chat.js
Labels: chat

#20236 FIX: Chat's user autocomplete threw errors
  plugins/chat/assets/javascripts/discourse/components/chat-composer.js
Labels: chat

#20246 FIX: correctly listens to chat notifications
  plugins/chat/assets/javascripts/discourse/services/chat-notification-manager.js
Labels: chat

#20263 DEV: Refactor `UpdateUserLastRead` a little
  plugins/chat/app/services/update_user_last_read.rb
  plugins/chat/spec/services/update_user_last_read_spec.rb
Labels: chat

#20209 FEATURE: Chat side panel with threads initial skeleton
  plugins/chat/app/controllers/api/chat_channel_threads_controller.rb
  plugins/chat/app/models/chat_message.rb
  plugins/chat/app/models/chat_thread.rb
  plugins/chat/app/serializers/chat_channel_serializer.rb
  plugins/chat/app/serializers/chat_message_serializer.rb
  plugins/chat/app/serializers/chat_thread_original_message_serializer.rb
  plugins/chat/app/serializers/chat_thread_serializer.rb
  plugins/chat/app/services/chat_publisher.rb
  plugins/chat/assets/javascripts/discourse/chat-route-map.js
  plugins/chat/assets/javascripts/discourse/components/chat-live-pane.js
  plugins/chat/assets/javascripts/discourse/components/chat-message-actions-desktop.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-message.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-message.js
  plugins/chat/assets/javascripts/discourse/components/chat-side-panel.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-side-panel.js
  plugins/chat/assets/javascripts/discourse/components/chat-thread.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-thread.js
  plugins/chat/assets/javascripts/discourse/controllers/chat.js
  plugins/chat/assets/javascripts/discourse/models/chat-thread.js
  plugins/chat/assets/javascripts/discourse/routes/chat-channel-thread.js
  plugins/chat/assets/javascripts/discourse/routes/chat-channel.js
  plugins/chat/assets/javascripts/discourse/services/chat-api.js
  plugins/chat/assets/javascripts/discourse/services/chat-state-manager.js
  plugins/chat/assets/javascripts/discourse/services/chat-threads-manager.js
  plugins/chat/assets/javascripts/discourse/services/chat.js
  plugins/chat/assets/javascripts/discourse/templates/chat-channel-thread.hbs
  plugins/chat/assets/javascripts/discourse/templates/chat-channel.hbs
  plugins/chat/assets/javascripts/discourse/templates/chat.hbs
  plugins/chat/assets/stylesheets/common/chat-message-actions.scss
  plugins/chat/assets/stylesheets/common/chat-side-panel.scss
  plugins/chat/assets/stylesheets/common/chat-thread.scss
  plugins/chat/assets/stylesheets/common/common.scss
  plugins/chat/assets/stylesheets/desktop/chat-message.scss
  plugins/chat/assets/stylesheets/mobile/chat-message-actions.scss
  plugins/chat/assets/stylesheets/mobile/mobile.scss
  plugins/chat/config/locales/client.en.yml
  plugins/chat/config/settings.yml
  plugins/chat/lib/chat_message_creator.rb
  plugins/chat/plugin.rb
  plugins/chat/spec/models/chat_message_spec.rb
  plugins/chat/spec/plugin_helper.rb
  plugins/chat/spec/requests/api/chat_channel_threads_controller_spec.rb
  plugins/chat/spec/system/page_objects/chat/chat_channel.rb
  plugins/chat/spec/system/page_objects/chat/chat_side_panel.rb
  plugins/chat/spec/system/page_objects/chat/chat_thread.rb
  plugins/chat/spec/system/single_thread_spec.rb
  plugins/chat/spec/system/transcript_spec.rb
  spec/rails_helper.rb
Labels: chat

#20232 DEV: routable chat part 2
  plugins/chat/assets/javascripts/discourse/components/chat-channel-selector-modal-inner.js
  plugins/chat/assets/javascripts/discourse/components/chat-draft-channel-screen.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-draft-channel-screen.js
  plugins/chat/assets/javascripts/discourse/components/chat-drawer.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-drawer.js
  plugins/chat/assets/javascripts/discourse/components/chat-drawer/channel.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-drawer/channel.js
  plugins/chat/assets/javascripts/discourse/components/chat-drawer/draft-channel.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-drawer/draft-channel.js
  plugins/chat/assets/javascripts/discourse/components/chat-drawer/header.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-drawer/header/back-link.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-drawer/header/back-link.js
  plugins/chat/assets/javascripts/discourse/components/chat-drawer/header/channel-title.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-drawer/header/channel-title.js
  plugins/chat/assets/javascripts/discourse/components/chat-drawer/header/close-button.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-drawer/header/full-page-button.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-drawer/header/full-page-button.js
  plugins/chat/assets/javascripts/discourse/components/chat-drawer/header/left-actions.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-drawer/header/left-actions.js
  plugins/chat/assets/javascripts/discourse/components/chat-drawer/header/right-actions.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-drawer/header/right-actions.js
  plugins/chat/assets/javascripts/discourse/components/chat-drawer/header/title.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-drawer/header/toggle-expand-button.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-drawer/header/toggle-expand-button.js
  plugins/chat/assets/javascripts/discourse/components/chat-drawer/index.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-drawer/index.js
  plugins/chat/assets/javascripts/discourse/components/chat-live-pane.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-live-pane.js
  plugins/chat/assets/javascripts/discourse/components/chat-message-move-to-channel-modal-inner.js
  plugins/chat/assets/javascripts/discourse/components/chat-message.js
  plugins/chat/assets/javascripts/discourse/components/direct-message-creator.js
  plugins/chat/assets/javascripts/discourse/components/full-page-chat.hbs
  plugins/chat/assets/javascripts/discourse/components/full-page-chat.js
  plugins/chat/assets/javascripts/discourse/components/sidebar-channels.hbs
  plugins/chat/assets/javascripts/discourse/components/sidebar-channels.js
  plugins/chat/assets/javascripts/discourse/components/user-card-chat-button.js
  plugins/chat/assets/javascripts/discourse/controllers/chat-channel-toggle.js
  plugins/chat/assets/javascripts/discourse/controllers/chat-channel.js
  plugins/chat/assets/javascripts/discourse/controllers/chat-draft-channel.js
  plugins/chat/assets/javascripts/discourse/controllers/chat-index.js
  plugins/chat/assets/javascripts/discourse/controllers/create-channel.js
  plugins/chat/assets/javascripts/discourse/routes/chat-index.js
  plugins/chat/assets/javascripts/discourse/routes/chat.js
  plugins/chat/assets/javascripts/discourse/services/chat-drawer-router.js
  plugins/chat/assets/javascripts/discourse/services/chat-state-manager.js
  plugins/chat/assets/javascripts/discourse/services/chat.js
  plugins/chat/assets/javascripts/discourse/templates/chat-draft-channel.hbs
  plugins/chat/assets/javascripts/discourse/templates/chat-index.hbs
Labels: chat

#20286 FIX: reverts part of thread css
  plugins/chat/assets/stylesheets/common/chat-composer-uploads.scss
  plugins/chat/assets/stylesheets/common/chat-side-panel.scss
Labels: chat

#20056 DEV: changes <ChatMessage> to use @glimmer
  plugins/chat/assets/javascripts/discourse/components/chat-live-pane.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-message.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-message.js
  plugins/chat/assets/javascripts/discourse/models/chat-message.js
Labels: chat

#20292 UX: hide chat button on user card when suspended
  plugins/chat/assets/javascripts/discourse/components/user-card-chat-button.hbs
  plugins/chat/test/javascripts/components/user-card-chat-button-test.js
Labels: chat

#20301 FIX: Overflowing chat content in main-chat-outlet grid
  plugins/chat/assets/stylesheets/common/chat-side-panel.scss
  plugins/chat/assets/stylesheets/mobile/mobile.scss
Labels: chat

#20297 FIX: correctly open channel info
  plugins/chat/assets/javascripts/discourse/components/chat-drawer/header/channel-title.hbs
  plugins/chat/spec/system/drawer_spec.rb
Labels: chat

#20302 DEV: Remove chat_channel_id from chat-live-pane details
  plugins/chat/app/serializers/chat_message_serializer.rb
  plugins/chat/assets/javascripts/discourse/components/chat-live-pane.js
  plugins/chat/assets/javascripts/discourse/components/chat-message-info.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-message-left-gutter.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-message.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-message.js
  plugins/chat/assets/javascripts/discourse/helpers/format-chat-date.js
  plugins/chat/test/javascripts/unit/helpers/format-chat-date-test.js
Labels: chat

#20305 FIX: Regression with chat shift+select messages
  plugins/chat/assets/javascripts/discourse/components/chat-message.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-message.js
  plugins/chat/spec/system/channel_message_selection_spec.rb
  plugins/chat/spec/system/chat_channel_spec.rb
Labels: chat

#20312 FIX: ensures chat-message is recomputed with model
  plugins/chat/assets/javascripts/discourse/components/chat-message.js
  plugins/chat/spec/system/chat_channel_spec.rb
Labels: chat

#20299 DEV: Fix failing chat spec and add unexpected failure indicator
  plugins/chat/app/services/base.rb
  plugins/chat/lib/steps_inspector.rb
  plugins/chat/spec/lib/steps_inspector_spec.rb
  plugins/chat/spec/services/update_user_last_read_spec.rb
  plugins/chat/spec/support/chat_service_matcher.rb
Labels: chat

#20318 DEV: fixes deprecation warning in SendMessageNotifications
  plugins/chat/lib/chat_notifier.rb
Labels: chat

#20304 DEV: Move ChatThreadsManager to channel
  plugins/chat/assets/javascripts/discourse/components/chat-thread.js
  plugins/chat/assets/javascripts/discourse/lib/chat-threads-manager.js
  plugins/chat/assets/javascripts/discourse/models/chat-channel.js
  plugins/chat/assets/javascripts/discourse/routes/chat-channel-thread.js
  plugins/chat/assets/javascripts/discourse/routes/chat-channel.js
  plugins/chat/assets/javascripts/discourse/services/chat-api.js
  plugins/chat/assets/javascripts/discourse/services/chat.js
Labels: chat

#20323 FIX: correct sidebar and chat height on DiscourseHub
  app/assets/stylesheets/common/base/sidebar.scss
  plugins/chat/assets/stylesheets/desktop/chat-composer.scss
Labels: chat

#20326 UX: update chat draft icon colour
  plugins/chat/assets/stylesheets/common/chat-draft-channel.scss
Labels: chat

#20325 DEV: Glimmerize ChatMessageActionsDesktop/Mobile components
  plugins/chat/assets/javascripts/discourse/components/chat-message-actions-desktop.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-message-actions-desktop.js
  plugins/chat/assets/javascripts/discourse/components/chat-message-actions-mobile.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-message-actions-mobile.js
Labels: chat

#20328 FIX: removes stored scroll position in drawer
  plugins/chat/assets/javascripts/discourse/components/channels-list.js
Labels: chat

#20334 FIX: correctly account for ipad footer nav height
  app/assets/stylesheets/common/base/discourse.scss
  plugins/chat/assets/stylesheets/common/common.scss
  plugins/chat/assets/stylesheets/mobile/mobile.scss
Labels: chat

#20322 DEV: adds is-new-user and primary group class
  plugins/chat/assets/javascripts/discourse/components/chat-message-info.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-message-info.js
  plugins/chat/test/javascripts/components/chat-message-info-test.js
Labels: chat

#20335 FIX: ensures staged message are set with channel id
  plugins/chat/assets/javascripts/discourse/components/chat-live-pane.js
  plugins/chat/spec/system/deleted_message_spec.rb
  plugins/chat/spec/system/page_objects/chat/chat_channel.rb
Labels: chat

#20336 FIX: removes uneeded footer-nav-height subtraction
  plugins/chat/assets/stylesheets/common/common.scss
Labels: chat

#20276 DEV: Use service objects for chat thread lookup
  plugins/chat/app/controllers/api/chat_channel_threads_controller.rb
  plugins/chat/app/services/base.rb
  plugins/chat/app/services/lookup_thread.rb
  plugins/chat/plugin.rb
  plugins/chat/spec/fabricators/chat_fabricator.rb
  plugins/chat/spec/requests/api/chat_channel_threads_controller_spec.rb
  plugins/chat/spec/services/lookup_thread_spec.rb
Labels: chat

#20347 UX: prevents scroll in chat to propagate to parents
  plugins/chat/assets/stylesheets/common/common.scss
Labels: chat

#20332 FIX: Chat member user card rendered out of view
  plugins/chat/assets/javascripts/discourse/components/chat-channel-members-view.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-user-info.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-user-info.js
  plugins/chat/assets/stylesheets/common/chat-channel-info.scss
  plugins/chat/test/javascripts/components/chat-user-info-test.js
Labels: chat

#20348 FIX: correctly add user info data to message serializer
  plugins/chat/app/controllers/chat_controller.rb
  plugins/chat/app/serializers/chat_message_serializer.rb
  plugins/chat/app/serializers/chat_message_user_serializer.rb
  plugins/chat/assets/javascripts/discourse/components/chat-message-info.js
  plugins/chat/plugin.rb
  plugins/chat/spec/serializer/chat_message_user_serializer_spec.rb
  plugins/chat/test/javascripts/components/chat-message-info-test.js
Labels: chat

#20351 FIX: Correctly update _subscribedTo* props
  plugins/chat/assets/javascripts/discourse/services/chat-notification-manager.js
Labels: chat

#20354 FIX: Glimmer component arg access
  plugins/chat/assets/javascripts/discourse/components/chat-message.js
Labels: chat

#20353 UX: contains overscroll in channels list
  plugins/chat/assets/stylesheets/common/chat-index.scss
Labels: chat

#20356 DEV: fixes spec failing on CI
  plugins/chat/app/services/base.rb
Labels: chat

#20357 REFACTOR: Fix pluralized strings in chat plugin
  app/models/translation_override.rb
  config/locales/client.en.yml
  config/locales/server.en.yml
  plugins/chat/app/models/chat_channel.rb
  plugins/chat/app/models/chat_message.rb
  plugins/chat/app/models/direct_message.rb
  plugins/chat/app/serializers/chat_message_serializer.rb
  plugins/chat/assets/javascripts/discourse/components/chat-channel-status.js
  plugins/chat/assets/javascripts/discourse/components/chat-composer.js
  plugins/chat/assets/javascripts/discourse/components/chat-mention-warnings.js
  plugins/chat/assets/javascripts/discourse/components/chat-message-reaction.js
  plugins/chat/assets/javascripts/discourse/components/chat-message.js
  plugins/chat/assets/javascripts/discourse/components/chat-replying-indicator.js
  plugins/chat/assets/javascripts/discourse/controllers/create-channel.js
  plugins/chat/assets/javascripts/discourse/initializers/chat-sidebar.js
  plugins/chat/assets/javascripts/discourse/models/chat-channel.js
  plugins/chat/config/locales/client.en.yml
  plugins/chat/config/locales/server.en.yml
  plugins/chat/lib/chat_message_creator.rb
  plugins/chat/lib/chat_message_reactor.rb
  plugins/chat/lib/chat_message_updater.rb
  plugins/chat/lib/direct_message_channel_creator.rb
  plugins/chat/spec/components/chat_message_creator_spec.rb
  plugins/chat/spec/components/chat_message_updater_spec.rb
  plugins/chat/spec/lib/direct_message_channel_creator_spec.rb
  plugins/chat/spec/models/direct_message_spec.rb
  plugins/chat/spec/requests/chat_controller_spec.rb
  plugins/chat/spec/requests/incoming_chat_webhooks_controller_spec.rb
  plugins/chat/spec/system/closed_channel_spec.rb
  plugins/chat/spec/system/create_channel_spec.rb
  plugins/chat/spec/system/jit_messages_spec.rb
  plugins/chat/spec/system/read_only_spec.rb
  script/i18n_lint.rb
  spec/models/translation_override_spec.rb
  spec/requests/admin/email_templates_controller_spec.rb
  spec/requests/admin/site_texts_controller_spec.rb
Labels: chat

#19367 FEATURE: Add word count and indicator when exceeded max
  app/assets/javascripts/discourse/app/components/char-counter.hbs
  app/assets/javascripts/discourse/tests/integration/components/char-counter-test.js
  app/assets/stylesheets/common/components/_index.scss
  app/assets/stylesheets/common/components/char-counter.scss
  config/locales/client.en.yml
  plugins/chat/assets/javascripts/discourse/controllers/chat-channel-edit-description.js
  plugins/chat/assets/javascripts/discourse/templates/modal/chat-channel-edit-description.hbs
  plugins/chat/assets/stylesheets/common/chat-channel-info.scss
  plugins/styleguide/assets/javascripts/discourse/templates/styleguide/molecules/char-counter.hbs
  plugins/styleguide/assets/stylesheets/styleguide.scss
  plugins/styleguide/config/locales/client.en.yml
Labels: chat, 3.1

#20374 FIX: Wrong interpolation key
  plugins/chat/assets/javascripts/discourse/components/chat-composer.js
Labels: chat

#20376 UX: apply animation on content only
  plugins/chat/assets/stylesheets/common/chat-skeleton.scss
Labels: chat

#20329 DEV: Enable `unless` cops
  .rubocop.yml
  Gemfile.lock
  app/controllers/edit_directory_columns_controller.rb
  app/controllers/posts_controller.rb
  app/controllers/topics_controller.rb
  app/controllers/user_avatars_controller.rb
  app/jobs/scheduled/auto_queue_handler.rb
  app/jobs/scheduled/pending_queued_posts_reminder.rb
  app/models/admin_dashboard_data.rb
  app/models/global_setting.rb
  app/models/optimized_image.rb
  app/models/post.rb
  app/models/topic.rb
  app/models/topic_group.rb
  app/models/user_action.rb
  app/services/user_silencer.rb
  bin/bundle
  config/site_settings.yml
  db/migrate/20210224162050_remove_emoji_one_from_emoji_set_site_setting.rb
  lib/common_passwords.rb
  lib/composer_messages_finder.rb
  lib/content_buffer.rb
  lib/cooked_processor_mixin.rb
  lib/excerpt_parser.rb
  lib/file_store/to_s3_migration.rb
  lib/guardian/post_guardian.rb
  lib/guardian/topic_guardian.rb
  lib/onebox/engine/allowlisted_generic_onebox.rb
  lib/onebox/engine/wikipedia_onebox.rb
  lib/onebox/helpers.rb
  lib/onebox/mixins/git_blob_onebox.rb
  lib/post_creator.rb
  lib/post_destroyer.rb
  lib/post_jobs_enqueuer.rb
  lib/pretty_text/helpers.rb
  lib/site_settings/validations.rb
  lib/tasks/javascript.rake
  lib/tasks/qunit.rake
  lib/tasks/svg_icons.rake
  lib/topic_query.rb
  plugins/chat/app/services/base.rb
  plugins/chat/lib/chat_message_rate_limiter.rb
  plugins/chat/spec/support/api_schema_matcher.rb
  plugins/discourse-narrative-bot/lib/discourse_narrative_bot/actions.rb
  script/import_scripts/base.rb
  script/import_scripts/bespoke_1.rb
  script/import_scripts/discuz_x.rb
  script/import_scripts/jive.rb
  script/import_scripts/kunena.rb
  script/import_scripts/kunena3.rb
  script/import_scripts/lithium.rb
  script/import_scripts/modx.rb
  script/import_scripts/smf2.rb
  script/import_scripts/vbulletin.rb
  script/import_scripts/xenforo.rb
  spec/support/concurrency.rb
Labels: chat

#20405 FIX: Blank dialog when auto-join selected in channel creation modal
  plugins/chat/assets/javascripts/discourse/controllers/create-channel.js
  plugins/chat/spec/system/create_channel_spec.rb
  spec/system/page_objects/components/dialog.rb
Labels: chat

#20392 DEV: Allow `with_service` in jobs
  plugins/chat/app/controllers/api_controller.rb
  plugins/chat/app/helpers/with_service_helper.rb
  plugins/chat/app/jobs/service_job.rb
  plugins/chat/lib/service_runner.rb
  plugins/chat/plugin.rb
  plugins/chat/spec/lib/service_runner_spec.rb
Labels: chat

#20450 DEV: do not fabricate a Notification when fabricating a ChatMention
  plugins/chat/spec/components/chat_mailer_spec.rb
  plugins/chat/spec/fabricators/chat_fabricator.rb
  plugins/chat/spec/lib/message_mover_spec.rb
  plugins/chat/spec/mailers/user_notifications_spec.rb
  plugins/chat/spec/models/chat_message_spec.rb
Labels: chat

#20464 DEV: Make the `model` step compatible with collections
  plugins/chat/app/services/base.rb
  plugins/chat/spec/lib/service_runner_spec.rb
Labels: chat

#20469 UX: Fix large onebox avatars in img chat messages
  app/assets/stylesheets/common/base/onebox.scss
  plugins/chat/assets/stylesheets/common/chat-message-images.scss
  plugins/chat/assets/stylesheets/desktop/desktop.scss
Labels: chat

#20480 DEV: Add `digest` to licensed's default gems list (#20355)
  .licensed.yml
Labels: stable
