Repository discourse/discourse, pull requests merged in 2023-05, with the labels that each got.

#21316 DEV: Use `\A` and `\z` instead of `^` and `$` in `TopicsFilter`
  lib/topics_filter.rb
Labels: personalisation

#21333 FIX: correctly use types for reviewables type
  app/models/reviewable.rb
  plugins/chat/spec/system/reviewables_spec.rb
Labels: chat

#21298 FIX: disables send btn while uploads in progress
  app/assets/javascripts/discourse/app/mixins/uppy-upload.js
  plugins/chat/assets/javascripts/discourse/components/chat-composer-uploads.js
  plugins/chat/assets/javascripts/discourse/components/chat-composer.js
  plugins/chat/spec/system/chat_composer_spec.rb
Labels: chat

#21340 FIX: ChatComposerMessageDetails icon was always edit
  plugins/chat/assets/javascripts/discourse/components/chat-composer.hbs
Labels: chat

#21345 FIX: ensures page height is correct on ipad + hub
  plugins/chat/assets/stylesheets/common/base-common.scss
Labels: chat

#21317 DEV: Change `created-by` topics query filter to `created-by:@<username>`
  lib/topics_filter.rb
  spec/lib/topics_filter_spec.rb
Labels: personalisation

#21318 DEV: Support comma seperated value in order filter for `/filter` route
  lib/topics_filter.rb
  spec/lib/topics_filter_spec.rb
Labels: personalisation

#21330 DEV: Fix `order:` filter not working on `/filter` route
  lib/topic_query.rb
  spec/requests/list_controller_spec.rb
Labels: personalisation

#21354 DEV: Unhide `experimental_topics_filter` site settings
  config/locales/server.en.yml
  config/site_settings.yml
Labels: personalisation

#21353 DEV: Support both `tag:` as an alias for `tags:` filter for `/filter`
  lib/topics_filter.rb
  spec/lib/topics_filter_spec.rb
Labels: personalisation

#21358 DEV: after has been proven problematic in other tests
  plugins/chat/spec/system/network_reconciliation_spec.rb
  plugins/chat/spec/system/shortcuts/chat_composer_spec.rb
Labels: chat

#21166 DEV: move sidebar community section to database
  app/assets/javascripts/discourse/app/components/sidebar/anonymous/community-section.js
  app/assets/javascripts/discourse/app/components/sidebar/anonymous/custom-sections.hbs
  app/assets/javascripts/discourse/app/components/sidebar/anonymous/custom-sections.js
  app/assets/javascripts/discourse/app/components/sidebar/anonymous/sections.hbs
  app/assets/javascripts/discourse/app/components/sidebar/common/community-section.hbs
  app/assets/javascripts/discourse/app/components/sidebar/common/community-section.js
  app/assets/javascripts/discourse/app/components/sidebar/footer.hbs
  app/assets/javascripts/discourse/app/components/sidebar/more-section-links.hbs
  app/assets/javascripts/discourse/app/components/sidebar/more-section-links.js
  app/assets/javascripts/discourse/app/components/sidebar/user/community-section.js
  app/assets/javascripts/discourse/app/components/sidebar/user/custom-sections.hbs
  app/assets/javascripts/discourse/app/components/sidebar/user/custom-sections.js
  app/assets/javascripts/discourse/app/components/sidebar/user/sections.hbs
  app/assets/javascripts/discourse/app/lib/sidebar/community-section.js
  app/assets/javascripts/discourse/app/lib/sidebar/section-link.js
  app/assets/javascripts/discourse/app/lib/sidebar/section.js
  app/assets/javascripts/discourse/app/lib/sidebar/user/community-section/my-posts-section-link.js
  app/assets/javascripts/discourse/app/lib/sidebar/user/community-section/review-section-link.js
  app/assets/javascripts/discourse/tests/acceptance/opengraph-tag-updater-test.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-anonymous-community-section-test.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-plugin-api-test.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-user-test.js
  app/assets/javascripts/discourse/tests/fixtures/session-fixtures.js
  app/assets/javascripts/discourse/tests/fixtures/site-fixtures.js
  app/assets/stylesheets/common/base/sidebar-more-section-links.scss
  app/controllers/sidebar_sections_controller.rb
  app/models/sidebar_section.rb
  app/models/sidebar_url.rb
  app/serializers/current_user_serializer.rb
  app/serializers/sidebar_section_serializer.rb
  app/serializers/sidebar_url_serializer.rb
  app/serializers/site_serializer.rb
  config/locales/server.bg.yml
  config/locales/server.de.yml
  config/locales/server.he.yml
  config/locales/server.hu.yml
  config/locales/server.sv.yml
  config/locales/server.tr_TR.yml
  config/locales/server.zh_CN.yml
  config/site_settings.yml
  db/migrate/20230411031428_add_segment_to_sidebar_urls.rb
  db/migrate/20230411031520_add_section_type_to_sidebar_sections.rb
  db/migrate/20230411032053_insert_community_to_sidebar_sections.rb
  db/migrate/20230419001801_remove_enable_custom_sidebar_sections_setting.rb
  spec/models/category_spec.rb
  spec/models/tag_spec.rb
  spec/models/user_spec.rb
  spec/requests/sidebar_sections_controller_spec.rb
  spec/serializers/current_user_serializer_spec.rb
  spec/serializers/site_serializer_spec.rb
  spec/system/custom_sidebar_sections_spec.rb
Labels: personalisation

#21380 DEV: Fix tags filter with more than 2 tag names in value not working
  lib/topics_filter.rb
  spec/lib/topics_filter_spec.rb
Labels: personalisation

#21385 FIX: Thread mention read state and notification links
  plugins/chat/app/controllers/chat/api/thread_reads_controller.rb
  plugins/chat/app/jobs/regular/chat/notify_mentioned.rb
  plugins/chat/app/services/chat/action/mark_mentions_read.rb
  plugins/chat/app/services/chat/mark_all_user_channels_read.rb
  plugins/chat/app/services/chat/update_user_last_read.rb
  plugins/chat/app/services/chat/update_user_thread_last_read.rb
  plugins/chat/assets/javascripts/discourse/components/chat-thread.js
  plugins/chat/assets/javascripts/discourse/initializers/chat-user-menu.js
  plugins/chat/assets/javascripts/discourse/models/chat-channel.js
  plugins/chat/assets/javascripts/discourse/services/chat-api.js
  plugins/chat/assets/javascripts/discourse/widgets/chat-mention-notification-item.js
  plugins/chat/config/routes.rb
  plugins/chat/spec/jobs/regular/chat/notify_mentioned_spec.rb
  plugins/chat/spec/requests/chat/api/thread_reads_controller_spec.rb
  plugins/chat/spec/services/chat/update_user_thread_last_read_spec.rb
  plugins/chat/spec/system/user_menu_notifications/sidebar_spec.rb
Labels: chat

#21399 DEV: Speed up chat plugin system tests
  plugins/chat/spec/system/create_channel_spec.rb
  plugins/chat/spec/system/message_thread_indicator_spec.rb
  plugins/chat/spec/system/navigation_spec.rb
  plugins/chat/spec/system/page_objects/chat/chat.rb
  plugins/chat/spec/system/page_objects/chat/chat_channel.rb
Labels: chat

#21361 UX: implements draft threads
  plugins/chat/app/controllers/chat/chat_controller.rb
  plugins/chat/app/services/chat/publisher.rb
  plugins/chat/assets/javascripts/discourse/components/chat-channel.js
  plugins/chat/assets/javascripts/discourse/components/chat-composer.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-composer.js
  plugins/chat/assets/javascripts/discourse/components/chat-drawer/thread.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-message-actions-desktop.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-message-actions-desktop.js
  plugins/chat/assets/javascripts/discourse/components/chat-message-actions-mobile.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-message-in-reply-to-indicator.js
  plugins/chat/assets/javascripts/discourse/components/chat-message-thread-indicator.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-message.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-message.js
  plugins/chat/assets/javascripts/discourse/components/chat-thread.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-thread.js
  plugins/chat/assets/javascripts/discourse/components/chat/composer/channel.js
  plugins/chat/assets/javascripts/discourse/components/chat/composer/thread.js
  plugins/chat/assets/javascripts/discourse/helpers/format-chat-date.js
  plugins/chat/assets/javascripts/discourse/lib/chat-message-interactor.js
  plugins/chat/assets/javascripts/discourse/lib/chat-threads-manager.js
  plugins/chat/assets/javascripts/discourse/models/chat-channel.js
  plugins/chat/assets/javascripts/discourse/models/chat-message.js
  plugins/chat/assets/javascripts/discourse/models/chat-thread.js
  plugins/chat/assets/javascripts/discourse/routes/chat-channel-thread.js
  plugins/chat/assets/javascripts/discourse/services/chat-api.js
  plugins/chat/assets/javascripts/discourse/services/chat-channel-composer.js
  plugins/chat/assets/javascripts/discourse/services/chat-channel-pane-subscriptions-manager.js
  plugins/chat/assets/javascripts/discourse/services/chat-channel-pane.js
  plugins/chat/assets/javascripts/discourse/services/chat-channel-thread-composer.js
  plugins/chat/assets/javascripts/discourse/services/chat-channel-thread-pane-subscriptions-manager.js
  plugins/chat/assets/javascripts/discourse/services/chat-channel-thread-pane.js
  plugins/chat/assets/javascripts/discourse/services/chat-composer.js
  plugins/chat/assets/javascripts/discourse/services/chat-pane-base-subscriptions-manager.js
  plugins/chat/assets/javascripts/discourse/services/chat-staged-thread-mapping.js
  plugins/chat/assets/javascripts/discourse/services/chat-state-manager.js
  plugins/chat/assets/javascripts/discourse/templates/chat-channel-thread.hbs
  plugins/chat/assets/stylesheets/common/chat-thread.scss
  plugins/chat/lib/chat/message_creator.rb
  plugins/chat/spec/components/chat/message_creator_spec.rb
  plugins/chat/spec/requests/chat_controller_spec.rb
  plugins/chat/spec/services/chat/publisher_spec.rb
  plugins/chat/spec/system/archive_channel_spec.rb
  plugins/chat/spec/system/browse_page_spec.rb
  plugins/chat/spec/system/channel_thread_message_echoing_spec.rb
  plugins/chat/spec/system/chat_message/channel_spec.rb
  plugins/chat/spec/system/chat_message/thread_spec.rb
  plugins/chat/spec/system/deleted_message_spec.rb
  plugins/chat/spec/system/message_thread_indicator_spec.rb
  plugins/chat/spec/system/page_objects/chat/chat.rb
  plugins/chat/spec/system/page_objects/chat/chat_channel.rb
  plugins/chat/spec/system/page_objects/chat/chat_side_panel.rb
  plugins/chat/spec/system/page_objects/chat/chat_thread.rb
  plugins/chat/spec/system/page_objects/chat_drawer/chat_drawer.rb
  plugins/chat/spec/system/reply_to_message/drawer_spec.rb
  plugins/chat/spec/system/reply_to_message/full_page_spec.rb
  plugins/chat/spec/system/reply_to_message/mobile_spec.rb
  plugins/chat/spec/system/reply_to_message/smoke_spec.rb
  plugins/chat/spec/system/shortcuts/chat_composer_spec.rb
  plugins/chat/spec/system/single_thread_spec.rb
Labels: chat

#21406 UX: preloads a thread when hovering thread indicator
  plugins/chat/assets/javascripts/discourse/components/chat-message-thread-indicator.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-message-thread-indicator.js
  plugins/chat/assets/javascripts/discourse/components/chat-thread.js
  plugins/chat/assets/javascripts/discourse/lib/chat-preload-link.js
  plugins/chat/assets/javascripts/discourse/services/chat-api.js
  plugins/chat/spec/system/thread_preload_spec.rb
Labels: chat

#21407 Revert "UX: preloads a thread when hovering thread indicator (#21406)"
  plugins/chat/assets/javascripts/discourse/components/chat-message-thread-indicator.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-message-thread-indicator.js
  plugins/chat/assets/javascripts/discourse/components/chat-thread.js
  plugins/chat/assets/javascripts/discourse/lib/chat-preload-link.js
  plugins/chat/assets/javascripts/discourse/services/chat-api.js
  plugins/chat/spec/system/thread_preload_spec.rb
Labels: chat

#21408 UX: scroll to bottom when message is staged
  plugins/chat/assets/javascripts/discourse/components/chat-thread.js
Labels: chat

#21388 DEV: Create and update chat message mentions earlier
  plugins/chat/app/models/chat/message.rb
  plugins/chat/lib/chat/message_creator.rb
  plugins/chat/lib/chat/message_updater.rb
  plugins/chat/lib/chat/notifier.rb
  plugins/chat/lib/chat/parsed_mentions.rb
  plugins/chat/spec/lib/chat/parsed_mentions_spec.rb
  plugins/chat/spec/models/chat/message_spec.rb
Labels: chat

#21410 FIX: Incorrect unread count shown in channel when message deleted
  plugins/chat/app/services/chat/action/reset_user_last_read_channel_message.rb
  plugins/chat/app/services/chat/message_destroyer.rb
  plugins/chat/app/services/chat/trash_message.rb
  plugins/chat/spec/services/actions/reset_user_last_read_channel_message_spec.rb
  plugins/chat/spec/services/chat/message_destroyer_spec.rb
  plugins/chat/spec/services/chat/trash_message_spec.rb
Labels: chat

#21398 FIX: flaky sidebar-user-community-section-test
  app/assets/javascripts/discourse/app/components/sidebar/more-section-links.hbs
  app/assets/javascripts/discourse/app/components/sidebar/more-section-links.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-user-community-section-test.js
  app/assets/stylesheets/common/base/sidebar-more-section-links.scss
Labels: personalisation

#21430 FIX: jumpy more sidebar section
  app/assets/javascripts/discourse/app/components/sidebar/more-section-links.hbs
  app/assets/stylesheets/common/base/sidebar-more-section-links.scss
Labels: personalisation

#21432 DEV: Support excluding categories with the `category:` filter
  lib/topics_filter.rb
  spec/lib/topics_filter_spec.rb
  spec/requests/list_controller_spec.rb
Labels: personalisation

#21415 FIX: correct link on original message
  plugins/chat/assets/javascripts/discourse/lib/chat-message-interactor.js
  plugins/chat/spec/system/chat_message/channel_spec.rb
  plugins/chat/spec/system/chat_message/thread_spec.rb
  plugins/chat/spec/system/page_objects/chat/chat_thread.rb
Labels: chat

#21413 DEV: Correct the app-events service injections
  app/assets/javascripts/discourse/app/models/rest.js
  app/assets/javascripts/discourse/tests/helpers/qunit-helpers.js
  plugins/chat/assets/javascripts/discourse/initializers/chat-setup.js
  plugins/chat/test/javascripts/components/chat-composer-uploads-test.js
Labels: chat

#21418 DEV: converts models to native class
  plugins/chat/app/controllers/chat/api/chatables_controller.rb
  plugins/chat/app/serializers/chat/direct_message_serializer.rb
  plugins/chat/assets/javascripts/discourse/components/chat-channel-archive-modal-inner.js
  plugins/chat/assets/javascripts/discourse/components/chat-channel-archive-status.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-channel-archive-status.js
  plugins/chat/assets/javascripts/discourse/components/chat-channel-leave-btn.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-channel-leave-btn.js
  plugins/chat/assets/javascripts/discourse/components/chat-channel-row.js
  plugins/chat/assets/javascripts/discourse/components/chat-channel-selection-row.js
  plugins/chat/assets/javascripts/discourse/components/chat-channel-selector-modal-inner.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-channel-selector-modal-inner.js
  plugins/chat/assets/javascripts/discourse/components/chat-channel-settings-view.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-channel-settings-view.js
  plugins/chat/assets/javascripts/discourse/components/chat-channel-title.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-channel-title.js
  plugins/chat/assets/javascripts/discourse/components/chat-channel-unread-indicator.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-channel.js
  plugins/chat/assets/javascripts/discourse/components/chat-composer.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-draft-channel-screen.js
  plugins/chat/assets/javascripts/discourse/components/chat-replying-indicator.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-replying-indicator.js
  plugins/chat/assets/javascripts/discourse/components/chat-selection-manager.js
  plugins/chat/assets/javascripts/discourse/components/direct-message-creator.js
  plugins/chat/assets/javascripts/discourse/initializers/chat-setup.js
  plugins/chat/assets/javascripts/discourse/initializers/chat-sidebar.js
  plugins/chat/assets/javascripts/discourse/models/chat-channel-archive.js
  plugins/chat/assets/javascripts/discourse/models/chat-channel.js
  plugins/chat/assets/javascripts/discourse/models/chat-direct-message.js
  plugins/chat/assets/javascripts/discourse/models/chat-message.js
  plugins/chat/assets/javascripts/discourse/models/user-chat-channel-membership.js
  plugins/chat/assets/javascripts/discourse/services/chat-channels-manager.js
  plugins/chat/assets/javascripts/discourse/services/chat-subscriptions-manager.js
  plugins/chat/assets/javascripts/discourse/services/chat.js
  plugins/chat/spec/system/channel_selector_modal_spec.rb
  plugins/chat/spec/system/drawer_spec.rb
  plugins/chat/test/javascripts/components/chat-channel-card-test.js
  plugins/chat/test/javascripts/components/chat-channel-leave-btn-test.js
  plugins/chat/test/javascripts/components/chat-channel-metadata-test.js
  plugins/chat/test/javascripts/components/chat-channel-preview-card-test.js
  plugins/chat/test/javascripts/components/chat-channel-row-test.js
  plugins/chat/test/javascripts/components/chat-channel-title-test.js
  plugins/chat/test/javascripts/components/chat-message-test.js
  plugins/chat/test/javascripts/components/chat-replying-indicator-test.js
  plugins/chat/test/javascripts/components/chat-retention-reminder-text-test.js
  plugins/chat/test/javascripts/components/direct-message-creator-test.js
  plugins/chat/test/javascripts/helpers/chat-pretenders.js
  plugins/chat/test/javascripts/helpers/mock-presence-channel.js
  plugins/chat/test/javascripts/unit/services/chat-guardian-test.js
Labels: chat

#21434 DEV: group mentions related specs into context
  plugins/chat/spec/components/chat/message_creator_spec.rb
Labels: chat

#21436 DEV: more resilient spec
  plugins/chat/spec/system/channel_members_page_spec.rb
Labels: chat

#21440 UI: thread panel sizing/spacing on mobile
  plugins/chat/assets/stylesheets/mobile/chat-side-panel.scss
  plugins/chat/assets/stylesheets/mobile/chat-thread.scss
  plugins/chat/assets/stylesheets/mobile/index.scss
Labels: chat

#21405 DEV: `tag:` filter on `/filter` only supported alphabets and numbers
  lib/topics_filter.rb
  spec/lib/topics_filter_spec.rb
Labels: personalisation

#21427 DEV: Fix `category:` filter only supported alphabets and numbers
  app/models/category.rb
  lib/topics_filter.rb
  spec/lib/topics_filter_spec.rb
Labels: personalisation

#21447 FIX: Ensure order when moving chat messages to another channel
  plugins/chat/lib/chat/message_mover.rb
Labels: chat

#21441 FIX: makes mouse events passive
  plugins/chat/assets/javascripts/discourse/components/chat-message.hbs
Labels: chat

#21445 DEV: glimmerify chat-channel-status
  plugins/chat/assets/javascripts/discourse/components/chat-channel-archive-status.js
  plugins/chat/assets/javascripts/discourse/components/chat-channel-status.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-channel-status.js
  plugins/chat/test/javascripts/components/chat-channel-status-test.js
Labels: chat

#21439 FIX: no event when threading is disabled
  plugins/chat/lib/chat/message_creator.rb
  plugins/chat/spec/components/chat/message_creator_spec.rb
  plugins/chat/spec/requests/chat_controller_spec.rb
Labels: chat

#21452 FIX: ensures `all_mentioned_user_ids` is not used as identifier
  plugins/chat/lib/chat/notifier.rb
  plugins/chat/spec/lib/chat/notifier_spec.rb
Labels: chat

#21451 FIX: more precise chat-replying-indicator
  plugins/chat/assets/javascripts/discourse/components/chat-replying-indicator.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-replying-indicator.js
  plugins/chat/test/javascripts/components/chat-replying-indicator-test.js
Labels: chat

#21457 FIX: minor thread changes on mobile
  plugins/chat/assets/javascripts/discourse/components/chat-side-panel.hbs
  plugins/chat/assets/stylesheets/common/chat-thread.scss
Labels: chat

#21461 FIX: prevents fast channel switching to cause an error
  plugins/chat/assets/javascripts/discourse/components/chat-replying-indicator.js
Labels: chat

#21462 DEV: more resilient upload spec
  plugins/chat/spec/system/uploads_spec.rb
Labels: chat

#20213 FIX: Don't autojoin users when they have ready-only permissions
  lib/guardian/category_guardian.rb
  plugins/chat/app/jobs/regular/auto_join_channel_batch.rb
  plugins/chat/app/jobs/regular/chat/auto_join_channel_batch.rb
  plugins/chat/app/serializers/chat/channel_serializer.rb
  plugins/chat/app/serializers/chat/structured_channel_serializer.rb
  plugins/chat/assets/javascripts/discourse/components/chat-channel-preview-card.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-channel-preview-card.js
  plugins/chat/assets/javascripts/discourse/models/chat-channel.js
  plugins/chat/assets/stylesheets/common/chat-channel-preview-card.scss
  plugins/chat/lib/chat/channel_fetcher.rb
  plugins/chat/spec/jobs/regular/chat/auto_join_channel_batch_spec.rb
  plugins/chat/spec/requests/chat_controller_spec.rb
  plugins/chat/spec/serializer/chat/structured_channel_serializer_spec.rb
  plugins/chat/spec/system/jit_messages_spec.rb
  plugins/chat/spec/system/visit_channel_spec.rb
  plugins/chat/test/javascripts/components/chat-channel-preview-card-test.js
  spec/lib/category_guardian_spec.rb
Labels: chat

#21482 DEV: Fix thread excerpt word break
  plugins/chat/assets/stylesheets/common/chat-thread-original-message.scss
Labels: chat

#21484 FIX: Chat NotificationLevels extension breaking in prod
  plugins/chat/app/models/chat/user_chat_thread_membership.rb
  plugins/chat/lib/chat/notification_levels.rb
  plugins/chat/lib/chat/notification_levels_extension.rb
  plugins/chat/plugin.rb
Labels: chat

#21488 DEV: fix flakey spec in handle_category_udpated
  plugins/chat/spec/services/auto_remove/handle_category_updated_spec.rb
Labels: chat

#21485 FEATURE: chat-replying indicator for threads
  plugins/chat/assets/javascripts/discourse/components/chat-composer.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-composer.js
  plugins/chat/assets/javascripts/discourse/components/chat-replying-indicator.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-replying-indicator.js
  plugins/chat/assets/javascripts/discourse/components/chat-thread.hbs
  plugins/chat/assets/javascripts/discourse/components/chat/composer/channel.js
  plugins/chat/assets/javascripts/discourse/components/chat/composer/thread.js
  plugins/chat/assets/javascripts/discourse/services/chat-composer-presence-manager.js
  plugins/chat/assets/stylesheets/common/chat-thread.scss
  plugins/chat/test/javascripts/components/chat-replying-indicator-test.js
Labels: chat

#21492 FIX: rely only on one keyboard computation solution
  plugins/chat/assets/javascripts/discourse/components/chat-vh.js
Labels: chat

#21505 FIX: keyboard on android
  plugins/chat/assets/javascripts/discourse/components/chat-vh.js
Labels: chat

#21438 DEV: Create a chat_mention record when self mentioning
  plugins/chat/lib/chat/notifier.rb
  plugins/chat/lib/chat/parsed_mentions.rb
  plugins/chat/spec/components/chat/message_creator_spec.rb
  plugins/chat/spec/components/chat/message_updater_spec.rb
  plugins/chat/spec/lib/chat/parsed_mentions_spec.rb
Labels: chat

#21506 FIX: messages selection with shift + click
  plugins/chat/assets/javascripts/discourse/lib/chat-message-interactor.js
  plugins/chat/assets/javascripts/discourse/routes/chat-channel-thread.js
  plugins/chat/spec/system/channel_message_selection_spec.rb
  plugins/chat/spec/system/page_objects/chat/chat_thread.rb
Labels: chat

#21486 DEV: When deleting a chat message, do not delete mention records
  plugins/chat/app/services/chat/trash_message.rb
  plugins/chat/spec/services/chat/trash_message_spec.rb
Labels: chat

#19466 DEV: Rework `static` controllers/routes
  app/assets/javascripts/discourse/app/components/watch-read.js
  app/assets/javascripts/discourse/app/controllers/login-page.js
  app/assets/javascripts/discourse/app/controllers/static.js
  app/assets/javascripts/discourse/app/lib/static-route-builder.js
  app/assets/javascripts/discourse/app/routes/app-route-map.js
  app/assets/javascripts/discourse/app/routes/application.js
  app/assets/javascripts/discourse/app/routes/build-static-route.js
  app/assets/javascripts/discourse/app/routes/conduct.js
  app/assets/javascripts/discourse/app/routes/faq.js
  app/assets/javascripts/discourse/app/routes/forgot-password.js
  app/assets/javascripts/discourse/app/routes/guidelines.js
  app/assets/javascripts/discourse/app/routes/login.js
  app/assets/javascripts/discourse/app/routes/privacy.js
  app/assets/javascripts/discourse/app/routes/rules.js
  app/assets/javascripts/discourse/app/routes/signup.js
  app/assets/javascripts/discourse/app/routes/tos.js
  app/assets/javascripts/discourse/app/templates/faq.hbs
  app/assets/javascripts/discourse/app/templates/login.hbs
  app/assets/javascripts/discourse/app/templates/privacy.hbs
  app/assets/javascripts/discourse/app/templates/static.hbs
  app/assets/javascripts/discourse/app/templates/tos.hbs
  app/assets/javascripts/discourse/tests/acceptance/static-test.js
  app/assets/javascripts/discourse/tests/fixtures/static-fixtures.js
  config/routes.rb
Labels: 3.1

#21512 FIX: close panel earlier
  plugins/chat/assets/javascripts/discourse/routes/chat-channel-thread.js
  plugins/chat/assets/javascripts/discourse/routes/chat-channel-threads.js
Labels: chat

#21509 FIX: prevents subscribing with an old id
  plugins/chat/assets/javascripts/discourse/components/chat-channel.js
  plugins/chat/spec/system/dates_separators_spec.rb
  plugins/chat/spec/system/sticky_date_spec.rb
Labels: chat

#21515 DEV: fix flakey spec
  plugins/chat/spec/services/auto_remove/handle_chat_allowed_groups_change_spec.rb
Labels: chat

#21529 FIX: Thread reply indicator overflow
  plugins/chat/assets/stylesheets/common/chat-message-thread-indicator.scss
Labels: chat

#21536 FIX: always listen on window resize
  plugins/chat/assets/javascripts/discourse/components/chat-vh.js
Labels: chat

#21538 FIX: do not set VH while zooming
  plugins/chat/assets/javascripts/discourse/components/chat-vh.js
Labels: chat

#21534 DEV: Skip flaky tests
  plugins/chat/spec/system/chat_composer_spec.rb
  plugins/chat/spec/system/uploads_spec.rb
Labels: chat

#21547 DEV: attempts to fix flakey spec
  plugins/chat/spec/system/navigating_to_message_spec.rb
Labels: chat

#21545 UX thread list
  plugins/chat/assets/stylesheets/common/chat-thread-list-item.scss
  plugins/chat/assets/stylesheets/common/chat-thread-list.scss
  plugins/chat/spec/system/thread_list/full_page_spec.rb
Labels: chat

#21516 UX: opens side panel early to avoid jitter
  plugins/chat/assets/javascripts/discourse/routes/chat-channel-thread.js
  plugins/chat/assets/javascripts/discourse/routes/chat-channel-threads.js
Labels: chat

#21549 Revert "DEV: attempts to fix flakey spec (#21547)"
  plugins/chat/spec/system/navigating_to_message_spec.rb
Labels: chat

#21557 FIX: hides global notice on chat
  plugins/chat/assets/stylesheets/common/core-extensions.scss
Labels: chat

#21575 FIX: Add new chat threads icon and move thread list button to right
  lib/svg_sprite.rb
  plugins/chat/assets/javascripts/discourse/components/chat-drawer/header/thread-list-button.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-full-page-header.hbs
  vendor/assets/svg-icons/discourse-additional.svg
Labels: chat

#21577 FIX: Drawer styles for chat thread icon
  plugins/chat/assets/javascripts/discourse/components/chat-drawer/header/thread-list-button.hbs
  plugins/chat/assets/stylesheets/common/chat-drawer.scss
Labels: chat

#21550 DEV: Rearchitect chat tracking state
  plugins/chat/app/models/chat/channel.rb
  plugins/chat/app/models/chat/thread.rb
  plugins/chat/app/models/chat/user_chat_channel_membership.rb
  plugins/chat/app/queries/chat/channel_unreads_query.rb
  plugins/chat/app/queries/chat/thread_unreads_query.rb
  plugins/chat/app/serializers/chat/base_channel_membership_serializer.rb
  plugins/chat/app/serializers/chat/structured_channel_serializer.rb
  plugins/chat/app/services/chat/publisher.rb
  plugins/chat/app/services/chat/tracking_state.rb
  plugins/chat/app/services/service/base.rb
  plugins/chat/assets/javascripts/discourse/components/chat-channel-row.js
  plugins/chat/assets/javascripts/discourse/components/chat-channel-unread-indicator.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-drawer/header/channel-title.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-header-icon-unread-indicator.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-header-icon-unread-indicator.js
  plugins/chat/assets/javascripts/discourse/initializers/chat-setup.js
  plugins/chat/assets/javascripts/discourse/initializers/chat-sidebar.js
  plugins/chat/assets/javascripts/discourse/models/chat-channel.js
  plugins/chat/assets/javascripts/discourse/models/chat-tracking-state.js
  plugins/chat/assets/javascripts/discourse/models/user-chat-channel-membership.js
  plugins/chat/assets/javascripts/discourse/services/chat-channels-manager.js
  plugins/chat/assets/javascripts/discourse/services/chat-subscriptions-manager.js
  plugins/chat/assets/javascripts/discourse/services/chat-tracking-state-manager.js
  plugins/chat/assets/javascripts/discourse/services/chat.js
  plugins/chat/lib/chat/channel_fetcher.rb
  plugins/chat/spec/fabricators/chat_fabricator.rb
  plugins/chat/spec/lib/chat/channel_fetcher_spec.rb
  plugins/chat/spec/queries/chat/channel_unreads_query_spec.rb
  plugins/chat/spec/queries/chat/thread_unreads_query_spec.rb
  plugins/chat/spec/services/chat/tracking_state_spec.rb
  plugins/chat/test/javascripts/acceptance/hashtag-css-generator-test.js
  plugins/chat/test/javascripts/chat-fixtures.js
  plugins/chat/test/javascripts/components/chat-channel-metadata-test.js
  plugins/chat/test/javascripts/components/chat-channel-row-test.js
  plugins/chat/test/javascripts/helpers/chat-pretenders.js
Labels: chat

#21587 FIX: show scrollbars under firefox in chat
  plugins/chat/assets/stylesheets/mixins/chat-scrollbar.scss
Labels: chat

#21588 UX: implements new composer design
  plugins/chat/assets/javascripts/discourse/components/chat-composer-dropdown.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-composer.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-composer.js
  plugins/chat/assets/javascripts/discourse/components/chat/composer/button.hbs
  plugins/chat/assets/javascripts/discourse/components/chat/composer/button.js
  plugins/chat/assets/stylesheets/common/chat-composer-button.scss
  plugins/chat/assets/stylesheets/common/chat-composer-dropdown.scss
  plugins/chat/assets/stylesheets/common/chat-composer.scss
  plugins/chat/assets/stylesheets/common/chat-replying-indicator.scss
  plugins/chat/assets/stylesheets/common/index.scss
  plugins/chat/assets/stylesheets/mobile/chat-composer.scss
Labels: chat

#21589 FIX: allows notch to have composer bg color
  plugins/chat/assets/stylesheets/common/chat-composer.scss
  plugins/chat/assets/stylesheets/common/chat-height-mixin.scss
  plugins/chat/assets/stylesheets/common/chat-threads-list.scss
Labels: chat

#21592 FIX: followups to composer notch adjustments
  plugins/chat/assets/stylesheets/common/base-common.scss
  plugins/chat/assets/stylesheets/common/chat-browse.scss
  plugins/chat/assets/stylesheets/common/chat-tabs.scss
Labels: chat

#21595 UI: removes thread margins
  plugins/chat/assets/stylesheets/common/chat-thread.scss
Labels: chat

#21596 FIX: Sync channel tracking state properly on presence change
  plugins/chat/assets/javascripts/discourse/services/chat.js
Labels: chat

#21597 FIX: compensate for lack of replying indicator on draft
  plugins/chat/assets/stylesheets/common/chat-draft-channel.scss
Labels: chat

#21603 UX: chat composer styling on focus
  plugins/chat/assets/stylesheets/common/chat-composer.scss
Labels: chat

#21604 UX: Sections not collapsable in "header dropdown" navigation menu
  app/assets/javascripts/discourse/app/components/sidebar/anonymous/sections.hbs
  app/assets/javascripts/discourse/app/components/sidebar/common/custom-section.hbs
  app/assets/javascripts/discourse/app/components/sidebar/common/custom-sections.hbs
  app/assets/javascripts/discourse/app/components/sidebar/hamburger-dropdown.hbs
  app/assets/javascripts/discourse/app/components/sidebar/hamburger-dropdown.js
  app/assets/javascripts/discourse/app/components/sidebar/user/sections.hbs
  app/assets/javascripts/discourse/tests/acceptance/sidebar-user-test.js
  app/assets/stylesheets/desktop/menu-panel.scss
Labels: personalisation

#21610 FIX: ensures chat composer docks to topic composer
  plugins/chat/assets/stylesheets/common/chat-height-mixin.scss
Labels: chat

#21614 FIX: ensures replying indicator has limited height
  plugins/chat/assets/stylesheets/common/chat-replying-indicator.scss
Labels: chat

#21613 FIX: more resilient bottom of message check
  plugins/chat/assets/javascripts/discourse/components/chat-channel.js
Labels: chat

#21617 FIX: various fixes to chat styleguide
  plugins/chat/assets/javascripts/discourse/components/styleguide/chat-composer-message-details.js
  plugins/chat/assets/javascripts/discourse/components/styleguide/chat-composer.js
  plugins/chat/assets/javascripts/discourse/components/styleguide/chat-message.js
  plugins/chat/assets/javascripts/discourse/components/styleguide/chat-thread-original-message.js
  plugins/styleguide/assets/javascripts/discourse/components/toggle-color-mode.js
Labels: chat

#21628 UX: Improve display of short site description in header dropdown
  app/assets/javascripts/discourse/app/components/sidebar/common/custom-section.hbs
  app/assets/javascripts/discourse/app/components/sidebar/section.hbs
  app/assets/javascripts/discourse/app/lib/sidebar/community-section.js
  app/assets/stylesheets/desktop/menu-panel.scss
  app/assets/stylesheets/mobile/menu-panel.scss
Labels: personalisation

#21616 DEV: Avoid infinite calling of computeDatesSeparators
  plugins/chat/assets/javascripts/discourse/components/chat-channel.js
Labels: chat

#21634 UX: minor fix with new composer in reply/edit
  plugins/chat/assets/stylesheets/common/chat-composer.scss
Labels: chat

#21636 FIX: ensures message has been added before scroll
  plugins/chat/assets/javascripts/discourse/components/chat-channel.js
  plugins/chat/assets/javascripts/discourse/components/chat-thread.js
Labels: chat

#21637 FIX: adds missing margin on desktop draft message
  plugins/chat/assets/stylesheets/common/chat-draft-channel.scss
Labels: chat

#21639 UX: General chat composer tweaks
  plugins/chat/assets/stylesheets/common/chat-composer-dropdown.scss
  plugins/chat/assets/stylesheets/common/chat-composer.scss
Labels: chat

#21651 UX: Add custom section button should not be shown to anon users
  app/assets/javascripts/discourse/app/components/sidebar/footer.hbs
  spec/system/custom_sidebar_sections_spec.rb
  spec/system/page_objects/components/sidebar.rb
Labels: personalisation

#21631 FIX: Clicking on edited notification should open edit history modal
  app/assets/javascripts/discourse/app/initializers/edit-notification-clicks-tracker.js
  app/assets/javascripts/discourse/app/lib/notification-types-manager.js
  app/assets/javascripts/discourse/app/lib/notification-types/edited.js
  app/assets/javascripts/discourse/app/lib/user-menu/notification-item.js
  app/assets/javascripts/discourse/tests/acceptance/edit-notification-click-test.js
Labels: personalisation

#21661 DEV: Fix plugin:spec task return code
  lib/tasks/plugin.rake
  plugins/chat/app/models/chat/message.rb
  plugins/chat/spec/components/chat/message_creator_spec.rb
  plugins/chat/spec/jobs/regular/chat/notify_watching_spec.rb
  plugins/chat/spec/models/chat/message_spec.rb
  plugins/chat/spec/serializer/chat/structured_channel_serializer_spec.rb
  plugins/chat/spec/support/api/schemas/user_chat_channel_membership.json
Labels: chat

#21653 DEV: Remove `prefixElementColors` args for section link component
  app/assets/javascripts/discourse/app/components/sidebar/anonymous/categories-section.hbs
  app/assets/javascripts/discourse/app/components/sidebar/section-link-prefix.hbs
  app/assets/javascripts/discourse/app/components/sidebar/section-link-prefix.js
  app/assets/javascripts/discourse/app/components/sidebar/section-link.hbs
  app/assets/javascripts/discourse/app/components/sidebar/section-link.js
  app/assets/javascripts/discourse/app/components/sidebar/user/categories-section.hbs
  app/assets/javascripts/discourse/app/lib/sidebar/user/categories-section/category-section-link.js
Labels: personalisation

#21656 DEV: Add experimental registerCustomCategorySectionLinkPrefix api
  app/assets/javascripts/discourse/app/lib/plugin-api.js
  app/assets/javascripts/discourse/app/lib/sidebar/user/categories-section/category-section-link.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-plugin-api-test.js
Labels: personalisation

#21641 UI: chat composer step 2
  plugins/chat/assets/javascripts/discourse/components/chat-composer-dropdown.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-composer-inline-buttons.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-composer-inline-buttons.js
  plugins/chat/assets/javascripts/discourse/components/chat-composer.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-composer.js
  plugins/chat/assets/javascripts/discourse/components/chat/composer/separator.hbs
  plugins/chat/assets/javascripts/discourse/components/chat/composer/separator.js
  plugins/chat/assets/javascripts/discourse/initializers/chat-setup.js
  plugins/chat/assets/stylesheets/common/chat-composer-button.scss
  plugins/chat/assets/stylesheets/common/chat-composer-inline-button.scss
  plugins/chat/assets/stylesheets/common/chat-composer-separator.scss
  plugins/chat/assets/stylesheets/common/chat-composer.scss
  plugins/chat/assets/stylesheets/common/index.scss
  plugins/chat/assets/stylesheets/desktop/base-desktop.scss
  plugins/chat/spec/system/chat_composer_spec.rb
  plugins/chat/spec/system/message_notifications_mobile_spec.rb
  plugins/chat/spec/system/navigating_to_message_spec.rb
  plugins/chat/spec/system/page_objects/chat/chat_channel.rb
  plugins/chat/spec/system/page_objects/chat/components/composer.rb
  plugins/chat/test/javascripts/components/chat-composer-inline-buttons-test.js
Labels: chat

#21679 FIX: correct replying indicator padding
  plugins/chat/assets/stylesheets/common/chat-composer.scss
Labels: chat

#21664 DEV: endpoint to reset community community-section
  app/controllers/sidebar_sections_controller.rb
  app/models/sidebar_section.rb
  app/models/sidebar_url.rb
  config/routes.rb
  lib/guardian/sidebar_guardian.rb
  spec/models/sidebar_section_spec.rb
  spec/requests/sidebar_sections_controller_spec.rb
Labels: personalisation

#21665 DEV: edited links are set in specific order
  app/controllers/sidebar_sections_controller.rb
  spec/requests/sidebar_sections_controller_spec.rb
Labels: personalisation

#21666 DEV: specs to ensure that only admin can edit Community section
  lib/guardian/sidebar_guardian.rb
  spec/requests/sidebar_sections_controller_spec.rb
Labels: personalisation

#21690 DEV: regroups composer button code
  plugins/chat/assets/javascripts/discourse/components/chat-composer.hbs
  plugins/chat/assets/stylesheets/common/chat-composer-dropdown.scss
  plugins/chat/assets/stylesheets/common/chat-composer.scss
Labels: chat

#21691 DEV: Bump thread page size to 100
  plugins/chat/assets/javascripts/discourse/components/chat-thread.js
Labels: chat

#21692 FIX: Page size check for thread messages
  plugins/chat/app/controllers/chat/chat_controller.rb
Labels: chat

#21693 DEV: Fix chat pagination spec
  plugins/chat/spec/requests/chat_controller_spec.rb
Labels: chat

#21695 DEV: attempts to make deleted spec not flakey
  plugins/chat/assets/javascripts/discourse/components/chat-message.hbs
  plugins/chat/spec/system/deleted_message_spec.rb
Labels: chat

#21698 FIX: keeps panel size when changing content
  plugins/chat/assets/javascripts/discourse/components/chat-side-panel.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-side-panel.js
Labels: chat

#21697 FIX: Update client lastReadMessageId on trashed message
  plugins/chat/app/models/chat/channel.rb
  plugins/chat/app/models/chat/thread.rb
  plugins/chat/app/services/chat/publisher.rb
  plugins/chat/assets/javascripts/discourse/services/chat-channel-pane-subscriptions-manager.js
  plugins/chat/assets/javascripts/discourse/services/chat-channel-thread-pane-subscriptions-manager.js
  plugins/chat/assets/javascripts/discourse/services/chat-pane-base-subscriptions-manager.js
  plugins/chat/spec/services/chat/publisher_spec.rb
  plugins/chat/spec/services/chat/trash_message_spec.rb
  plugins/chat/spec/system/deleted_message_spec.rb
Labels: chat

#21701 FIX: ensure sidepanel size is correctly applied when showing
  plugins/chat/assets/javascripts/discourse/components/chat-side-panel.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-side-panel.js
  plugins/chat/assets/javascripts/discourse/modifiers/chat/resizable-node.js
Labels: chat

#21705 DEV: attempts to increase wait for a flakey spec
  plugins/chat/spec/system/unfollow_dm_channel_spec.rb
Labels: chat

#21687 FIX: allow published pages to be added to sidebar
  app/assets/javascripts/discourse/app/controllers/sidebar-section-form.js
  app/models/sidebar_url.rb
  spec/models/sidebar_url_spec.rb
  spec/system/custom_sidebar_sections_spec.rb
Labels: personalisation

#21675 DEV: Add experimental plugin API to replace tag icon in sidebar
  app/assets/javascripts/discourse/app/components/sidebar/anonymous/tags-section.hbs
  app/assets/javascripts/discourse/app/components/sidebar/section-link-prefix.js
  app/assets/javascripts/discourse/app/components/sidebar/section-link.js
  app/assets/javascripts/discourse/app/components/sidebar/user/tags-section.hbs
  app/assets/javascripts/discourse/app/lib/plugin-api.js
  app/assets/javascripts/discourse/app/lib/sidebar/user/tags-section/base-tag-section-link.js
  app/assets/javascripts/discourse/app/lib/sidebar/user/tags-section/pm-tag-section-link.js
  app/assets/javascripts/discourse/app/lib/sidebar/user/tags-section/tag-section-link.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-plugin-api-test.js
Labels: personalisation

#21718 DEV: Reinstate Chat::MessageCreator skipped thread specs
  plugins/chat/spec/components/chat/message_creator_spec.rb
Labels: chat

#21721 FIX: Do not error if admin/owner checks target message
  plugins/chat/app/services/chat/channel_view_builder.rb
  plugins/chat/spec/services/chat/channel_view_builder_spec.rb
Labels: chat

#20564 FEATURE: Add user status to inline mentions in chat
  app/assets/javascripts/discourse/app/models/user.js
  app/assets/javascripts/discourse/tests/helpers/create-pretender.js
  plugins/chat/app/controllers/chat/chat_controller.rb
  plugins/chat/app/queries/chat/messages_query.rb
  plugins/chat/app/serializers/chat/message_serializer.rb
  plugins/chat/assets/javascripts/discourse/components/chat-composer.js
  plugins/chat/assets/javascripts/discourse/components/chat-message.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-message.js
  plugins/chat/assets/javascripts/discourse/models/chat-message.js
  plugins/chat/assets/javascripts/discourse/routes/chat.js
  plugins/chat/spec/components/chat/message_creator_spec.rb
  plugins/chat/spec/components/chat/message_updater_spec.rb
  plugins/chat/spec/requests/chat_controller_spec.rb
  plugins/chat/spec/system/chat_channel_spec.rb
  plugins/chat/test/javascripts/acceptance/user-status-on-mentions-test.js
  plugins/chat/test/javascripts/components/chat-channel-test.js
Labels: chat

#21724 FIX: improves draft for channels
  plugins/chat/assets/javascripts/discourse/components/chat-channel.js
  plugins/chat/assets/javascripts/discourse/components/chat-composer-message-details.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-composer.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-composer.js
  plugins/chat/assets/javascripts/discourse/components/chat/composer/channel.js
  plugins/chat/assets/javascripts/discourse/models/chat-channel.js
  plugins/chat/assets/javascripts/discourse/models/chat-message.js
  plugins/chat/assets/javascripts/discourse/services/chat-channel-composer.js
  plugins/chat/assets/javascripts/discourse/services/chat-channel-thread-composer.js
  plugins/chat/assets/javascripts/discourse/services/chat-composer.js
  plugins/chat/assets/javascripts/discourse/services/chat-drafts-manager.js
  plugins/chat/assets/javascripts/discourse/services/chat.js
  plugins/chat/spec/system/chat_composer_draft_spec.rb
  plugins/chat/spec/system/chat_composer_spec.rb
  plugins/chat/spec/system/page_objects/chat/components/composer.rb
  plugins/chat/spec/system/page_objects/chat/components/composer_message_details.rb
  plugins/chat/test/javascripts/unit/services/chat-drafts-manager-test.js
Labels: chat

#21727 DEV: implements initial messages component
  plugins/chat/assets/javascripts/discourse/components/chat-message.hbs
  plugins/chat/spec/system/chat_channel_spec.rb
  plugins/chat/spec/system/deleted_message_spec.rb
  plugins/chat/spec/system/message_notifications_with_sidebar_spec.rb
  plugins/chat/spec/system/page_objects/chat/chat.rb
  plugins/chat/spec/system/page_objects/chat/chat_channel.rb
  plugins/chat/spec/system/page_objects/chat/chat_thread.rb
  plugins/chat/spec/system/page_objects/chat/components/message.rb
  plugins/chat/spec/system/page_objects/chat/components/messages.rb
Labels: chat

#21717 PERF: Strict loading for SidebarSection queries
  app/assets/javascripts/discourse/app/controllers/sidebar-section-form.js
  app/controllers/sidebar_sections_controller.rb
  app/models/sidebar_section.rb
  app/serializers/current_user_serializer.rb
  app/serializers/sidebar_section_serializer.rb
  app/serializers/site_serializer.rb
  config/environments/production.rb
  spec/models/sidebar_section_spec.rb
Labels: personalisation

#21734 DEV: Minor improvements to SidebarSectionsController spec
  app/controllers/sidebar_sections_controller.rb
  spec/requests/sidebar_sections_controller_spec.rb
Labels: personalisation

#21739 FIX: correctly nullifies active message
  plugins/chat/assets/javascripts/discourse/components/chat-message-actions-desktop.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-message-actions-desktop.js
Labels: chat

#21741 FIX: prevents saving draft in incorrect channel
  plugins/chat/assets/javascripts/discourse/components/chat-composer.js
  plugins/chat/assets/javascripts/discourse/components/chat/composer/channel.js
Labels: chat

#21731 FEATURE: apply hashtag styles to autocomplete
  app/assets/javascripts/discourse/app/lib/hashtag-autocomplete.js
  app/assets/javascripts/discourse/app/templates/hashtag-autocomplete.hbr
  app/assets/stylesheets/common/components/hashtag.scss
  plugins/chat/assets/javascripts/discourse/lib/hashtag-types/channel.js
  plugins/chat/test/javascripts/acceptance/hashtag-css-generator-test.js
Labels: chat

#21726 DEV: Add policy objects to services
  plugins/chat/app/controllers/chat/api_controller.rb
  plugins/chat/app/policies/policy_base.rb
  plugins/chat/app/services/service/base.rb
  plugins/chat/lib/chat/steps_inspector.rb
  plugins/chat/lib/service_runner.rb
  plugins/chat/spec/lib/chat/steps_inspector_spec.rb
  plugins/chat/spec/lib/service_runner_spec.rb
Labels: chat

#21746 DEV: Replace `HideModalTrigger` with JS logic
  app/assets/javascripts/discourse/app/components/hide-modal-trigger.js
  app/assets/javascripts/discourse/app/routes/application.js
  app/assets/javascripts/discourse/app/templates/hide-modal.hbs
Labels: js-modernization

#21759 UX: Drop display of `short_site_description` site settings in sidebar
  app/assets/javascripts/discourse/app/components/sidebar/common/custom-section.hbs
  app/assets/javascripts/discourse/app/components/sidebar/section.hbs
  app/assets/javascripts/discourse/app/lib/sidebar/community-section.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-anonymous-community-section-test.js
Labels: personalisation

#21761 UI: minor spacing adjustment in message details
  plugins/chat/assets/stylesheets/common/chat-composer.scss
Labels: chat

#21763 DEV: waits for transition in move message spec
  plugins/chat/spec/system/move_message_to_channel_spec.rb
Labels: chat

#21762 FIX: Chat deleted last read message and tracking state issues
  plugins/chat/app/controllers/chat/api/channels_controller.rb
  plugins/chat/app/models/chat/tracking_state_report.rb
  plugins/chat/app/services/chat/channel_view_builder.rb
  plugins/chat/app/services/chat/publisher.rb
  plugins/chat/assets/javascripts/discourse/components/chat-channel.js
  plugins/chat/assets/javascripts/discourse/services/chat-api.js
  plugins/chat/spec/services/chat/channel_view_builder_spec.rb
  plugins/chat/spec/services/chat/publisher_spec.rb
  plugins/chat/spec/system/deleted_message_spec.rb
Labels: chat

#21760 DEV: Support custom icon when adding custom link to sidebar via plugin API
  app/assets/javascripts/discourse/app/lib/plugin-api.js
  app/assets/javascripts/discourse/app/lib/sidebar/custom-community-section-links.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-user-community-section-test.js
Labels: personalisation

#21764 FIX: do not attempt to mark as read a staged message
  plugins/chat/assets/javascripts/discourse/components/chat-channel.js
Labels: chat

#21765 DEV: Add explicit order for chat mentioned users
  plugins/chat/app/serializers/chat/message_serializer.rb
Labels: chat

#21767 PERF: N+1 query for chat message serializer on mentions
  plugins/chat/app/queries/chat/messages_query.rb
  plugins/chat/app/serializers/chat/message_serializer.rb
  plugins/chat/spec/models/chat/message_spec.rb
Labels: chat

#21755 PERF: sends publish_new_channel only when not followed
  plugins/chat/app/controllers/chat/chat_controller.rb
  plugins/chat/spec/requests/chat_controller_spec.rb
  plugins/chat/spec/system/unfollow_dm_channel_spec.rb
Labels: chat

#21772 UX: closes drawer on esc if input is not focused
  plugins/chat/assets/javascripts/discourse/components/chat-composer.js
  plugins/chat/assets/javascripts/discourse/initializers/chat-keyboard-shortcuts.js
  plugins/chat/spec/system/drawer_spec.rb
  plugins/chat/spec/system/page_objects/chat/chat.rb
  plugins/chat/spec/system/shortcuts/drawer_spec.rb
Labels: chat

#21773 FIX: Move thread storage out of chatApi.thread() call
  plugins/chat/assets/javascripts/discourse/lib/chat-threads-manager.js
  plugins/chat/assets/javascripts/discourse/services/chat-api.js
Labels: chat

#21789 DEV: ensures chat browse spec is waiting for search
  plugins/chat/spec/system/browse_page_spec.rb
  plugins/chat/spec/system/page_objects/chat/browse_page.rb
  plugins/chat/spec/system/page_objects/chat/chat.rb
Labels: chat

#21668 FEATURE: modal for admins to edit Community section
  app/assets/javascripts/discourse/app/components/sidebar/common/custom-section.hbs
  app/assets/javascripts/discourse/app/components/sidebar/more-section-link.hbs
  app/assets/javascripts/discourse/app/components/sidebar/section-form-link.hbs
  app/assets/javascripts/discourse/app/components/sidebar/section-form-link.js
  app/assets/javascripts/discourse/app/controllers/sidebar-section-form.js
  app/assets/javascripts/discourse/app/lib/sidebar/base-community-section-link.js
  app/assets/javascripts/discourse/app/lib/sidebar/common/community-section/about-section-link.js
  app/assets/javascripts/discourse/app/lib/sidebar/common/community-section/badges-section-link.js
  app/assets/javascripts/discourse/app/lib/sidebar/common/community-section/everything-section-link.js
  app/assets/javascripts/discourse/app/lib/sidebar/common/community-section/faq-section-link.js
  app/assets/javascripts/discourse/app/lib/sidebar/common/community-section/groups-section-link.js
  app/assets/javascripts/discourse/app/lib/sidebar/common/community-section/users-section-link.js
  app/assets/javascripts/discourse/app/lib/sidebar/community-section.js
  app/assets/javascripts/discourse/app/lib/sidebar/user/community-section/admin-section-link.js
  app/assets/javascripts/discourse/app/lib/sidebar/user/community-section/my-posts-section-link.js
  app/assets/javascripts/discourse/app/lib/sidebar/user/community-section/review-section-link.js
  app/assets/javascripts/discourse/app/templates/modal/sidebar-section-form.hbs
  app/assets/javascripts/discourse/tests/acceptance/sidebar-user-community-section-test.js
  app/assets/javascripts/discourse/tests/fixtures/session-fixtures.js
  app/assets/javascripts/discourse/tests/fixtures/site-fixtures.js
  app/assets/stylesheets/common/base/sidebar-custom-section.scss
  app/assets/stylesheets/common/base/sidebar.scss
  app/controllers/sidebar_sections_controller.rb
  config/locales/client.en.yml
  spec/system/custom_sidebar_sections_spec.rb
  spec/system/page_objects/components/sidebar.rb
  spec/system/page_objects/components/sidebar_header_dropdown.rb
  spec/system/page_objects/modals/sidebar_section_form.rb
Labels: personalisation

#21723 DEV: Remove old ChatController routes for messages & lookup
  plugins/chat/app/controllers/chat/chat_controller.rb
  plugins/chat/app/queries/chat/messages_query.rb
  plugins/chat/app/serializers/chat/thread_serializer.rb
  plugins/chat/app/services/chat/channel_view_builder.rb
  plugins/chat/assets/javascripts/discourse/components/chat-channel.js
  plugins/chat/assets/javascripts/discourse/components/chat-thread.js
  plugins/chat/assets/javascripts/discourse/services/chat-api.js
  plugins/chat/config/routes.rb
  plugins/chat/spec/requests/chat/api/channels_controller_spec.rb
  plugins/chat/spec/requests/chat_controller_spec.rb
  plugins/chat/spec/services/chat/channel_view_builder_spec.rb
Labels: chat

#21782 FIX: ensures chat-thread is not overflowing
  plugins/chat/assets/stylesheets/common/chat-side-panel.scss
Labels: chat

#21802 UX: add support for flagged chat message in reviewqueue
  app/assets/stylesheets/common/base/reviewables.scss
  config/locales/client.en.yml
  plugins/chat/assets/javascripts/discourse/components/reviewable-chat-message.js
Labels: chat

#21809 FIX: auto fill was not happening on first load
  plugins/chat/app/queries/chat/messages_query.rb
  plugins/chat/assets/javascripts/discourse/components/chat-channel.js
  plugins/chat/assets/javascripts/discourse/services/chat-api.js
  plugins/chat/spec/queries/chat/messages_query_spec.rb
  plugins/chat/spec/system/chat_channel_spec.rb
  plugins/chat/spec/system/page_objects/chat/components/messages.rb
Labels: chat

#21808 FIX: Create original message user thread membership
  plugins/chat/assets/javascripts/discourse/components/chat-thread.hbs
  plugins/chat/lib/chat/message_creator.rb
  plugins/chat/spec/components/chat/message_creator_spec.rb
  plugins/chat/spec/system/reply_to_message/full_page_spec.rb
Labels: chat

#21810 DEV: Fix and improve chat system test for editing name and slug
  plugins/chat/assets/javascripts/discourse/controllers/chat-channel-edit-name-slug.js
  plugins/chat/spec/system/channel_about_page_spec.rb
  plugins/chat/spec/system/page_objects/chat/chat_channel_about.rb
  plugins/chat/spec/system/page_objects/modals/chat_edit_modal.rb
Labels: chat

#21783 DEV: adds sendChatMessage client API
  plugins/chat/assets/javascripts/discourse/lib/chat-composer-buttons.js
  plugins/chat/assets/javascripts/discourse/pre-initializers/chat-plugin-api.js
  plugins/chat/assets/javascripts/discourse/services/chat-api.js
  plugins/chat/test/javascripts/unit/utility/plugin-api-test.js
Labels: chat

#21811 FIX: Page size edge case for null last_read_message_id
  plugins/chat/app/services/chat/channel_view_builder.rb
  plugins/chat/spec/services/chat/channel_view_builder_spec.rb
Labels: chat

#21814 DEV: faster browse page spec
  plugins/chat/spec/system/page_objects/chat/browse_page.rb
Labels: chat

#21819 DEV: Remove unnecessary wait for chat transcript system test
  plugins/chat/spec/system/transcript_spec.rb
Labels: chat

#21820 DEV: Speed chat channel system test
  plugins/chat/spec/system/page_objects/chat/components/message.rb
  plugins/chat/spec/system/page_objects/chat/components/messages.rb
Labels: chat

#21753 DEV: fix and enable flaky specs
  plugins/chat/spec/mailers/user_notifications_spec.rb
Labels: chat

#21785 UX: deletes a message when editing to blank
  plugins/chat/assets/javascripts/discourse/components/chat-composer.js
  plugins/chat/assets/javascripts/discourse/components/chat-message.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-message.js
  plugins/chat/assets/javascripts/discourse/components/chat-thread.hbs
  plugins/chat/assets/javascripts/discourse/components/chat/composer/channel.js
  plugins/chat/assets/javascripts/discourse/components/chat/composer/thread.js
  plugins/chat/assets/javascripts/discourse/lib/chat-messages-manager.js
  plugins/chat/assets/javascripts/discourse/models/chat-channel.js
  plugins/chat/assets/javascripts/discourse/models/chat-message.js
  plugins/chat/assets/javascripts/discourse/models/chat-thread.js
  plugins/chat/assets/javascripts/discourse/services/chat-channel-pane.js
  plugins/chat/assets/javascripts/discourse/services/chat-channel-thread-composer.js
  plugins/chat/assets/javascripts/discourse/services/chat-channel-thread-pane.js
  plugins/chat/spec/system/bookmark_message_spec.rb
  plugins/chat/spec/system/chat/composer/shortcuts/channel_spec.rb
  plugins/chat/spec/system/chat/composer/shortcuts/thread_spec.rb
  plugins/chat/spec/system/chat_channel_spec.rb
  plugins/chat/spec/system/chat_composer_spec.rb
  plugins/chat/spec/system/hashtag_autocomplete_spec.rb
  plugins/chat/spec/system/page_objects/chat/chat_channel.rb
  plugins/chat/spec/system/page_objects/chat/chat_thread.rb
  plugins/chat/spec/system/page_objects/chat/components/composer.rb
  plugins/chat/spec/system/page_objects/chat/components/composer_message_details.rb
  plugins/chat/spec/system/page_objects/chat/components/message.rb
  plugins/chat/spec/system/page_objects/chat/components/messages.rb
  plugins/chat/spec/system/reply_to_message/mobile_spec.rb
  plugins/chat/spec/system/shortcuts/chat_composer_spec.rb
  plugins/chat/spec/system/single_thread_spec.rb
  plugins/chat/spec/system/transcript_spec.rb
Labels: chat

#21777 FIX: call composer reset with correct params
  app/assets/javascripts/discourse/app/mixins/uppy-upload.js
  plugins/chat/app/controllers/chat/chat_controller.rb
  plugins/chat/assets/javascripts/discourse/components/chat-channel.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-channel.js
  plugins/chat/assets/javascripts/discourse/components/chat-composer.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-composer.js
  plugins/chat/assets/javascripts/discourse/components/chat-thread.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-thread.js
  plugins/chat/assets/javascripts/discourse/components/chat/composer/channel.js
  plugins/chat/assets/javascripts/discourse/models/chat-message.js
  plugins/chat/assets/javascripts/discourse/services/chat-channel-composer.js
  plugins/chat/assets/javascripts/discourse/services/chat-composer.js
  plugins/chat/spec/system/chat_composer_draft_spec.rb
  plugins/chat/spec/system/message_thread_indicator_spec.rb
  plugins/chat/spec/system/page_objects/chat/chat_channel.rb
  plugins/chat/spec/system/page_objects/chat/chat_thread.rb
  plugins/chat/spec/system/page_objects/chat/components/composer.rb
  plugins/chat/spec/system/page_objects/chat/components/composer_message_details.rb
  plugins/chat/spec/system/reply_to_message/drawer_spec.rb
  plugins/chat/spec/system/reply_to_message/mobile_spec.rb
  plugins/chat/spec/system/uploads_spec.rb
Labels: chat

#21826 DEV: Rescue the timeout error for a better spec cleanup
  lib/turbo_tests/runner.rb
  plugins/chat/spec/system/browse_page_spec.rb
  spec/rails_helper.rb
Labels: chat

#21839 FIX: recover by showing drawer index on 404
  plugins/chat/assets/javascripts/discourse/services/chat-drawer-router.js
Labels: chat

#21841 FIX: removes destroyed mentioned used
  plugins/chat/app/serializers/chat/message_serializer.rb
Labels: chat

#21843 FIX: correctly uses getURL to open full page
  plugins/chat/assets/javascripts/discourse/components/chat-drawer.js
Labels: chat
