Repository discourse/discourse, pull requests merged in 2023-10, with the labels that each got.

#22798 DEV: Convert ChangePostNoticeModal to DModal and Glimmer component
  app/assets/javascripts/discourse/app/components/modal/change-post-notice.hbs
  app/assets/javascripts/discourse/app/components/modal/change-post-notice.js
  app/assets/javascripts/discourse/app/controllers/change-post-notice.js
  app/assets/javascripts/discourse/app/controllers/topic.js
  app/assets/javascripts/discourse/app/templates/modal/change-post-notice.hbs
Labels: js-modernization

#23770 UX: enhances chat copy features
  app/assets/stylesheets/common/float-kit/d-toasts.scss
  plugins/chat/assets/javascripts/discourse/components/chat-message.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/selection-manager.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/selection-manager.hbs
  plugins/chat/assets/javascripts/discourse/lib/chat-message-interactor.js
  plugins/chat/config/locales/client.en.yml
  plugins/chat/plugin.rb
  plugins/chat/spec/system/chat_message/channel_spec.rb
  plugins/chat/spec/system/chat_message/thread_spec.rb
  plugins/chat/spec/system/deleted_message_spec.rb
  plugins/chat/spec/system/flag_message_spec.rb
  plugins/chat/spec/system/page_objects/chat/chat_channel.rb
  plugins/chat/spec/system/page_objects/chat/chat_thread.rb
  plugins/chat/spec/system/page_objects/chat/components/message.rb
  plugins/chat/spec/system/page_objects/chat/components/messages.rb
  plugins/chat/spec/system/restore_message_spec.rb
  plugins/chat/spec/system/thread_list/full_page_spec.rb
  plugins/chat/spec/system/transcript_spec.rb
  plugins/chat/spec/system/uploads_spec.rb
  spec/system/page_objects/components/toasts.rb
Labels: chat

#23771 DEV: enforces system user membership
  plugins/chat/app/services/chat/create_message.rb
  plugins/chat/spec/services/chat/create_message_spec.rb
Labels: chat

#23791 FIX: long press chat message test failure
  app/assets/javascripts/discourse/app/services/capabilities.js
  plugins/chat/spec/system/chat_message/channel_spec.rb
  plugins/chat/spec/system/chat_message/thread_spec.rb
  plugins/chat/spec/system/page_objects/chat/components/message.rb
Labels: chat

#23792 DEV: Revert hide_plugin for chat
  plugins/chat/plugin.rb
Labels: chat

#23793 FIX: correctly checks user activation on use
  app/assets/javascripts/discourse/app/services/capabilities.js
  app/assets/javascripts/discourse/app/widgets/post-menu.js
  plugins/chat/assets/javascripts/discourse/components/chat-message-actions-mobile.gjs
  plugins/chat/assets/javascripts/discourse/lib/chat-message-interactor.js
Labels: chat

#23801 DEV: Fix random typos
  app/assets/javascripts/discourse/app/services/search.js
  app/assets/javascripts/discourse/tests/unit/lib/lightbox/process-html-test.js
  plugins/chat/spec/system/new_message_spec.rb
  public/javascripts/media-optimization-worker.js
  spec/serializers/tag_serializer_spec.rb
Labels: chat

#23805 DEV: skip mobile copy link spec
  plugins/chat/spec/system/chat_message/channel_spec.rb
Labels: chat

#23769 DEV: Improve `addToolbarPopupMenuOptionsCallback` plugin api
  app/assets/javascripts/discourse/app/controllers/composer.js
  app/assets/javascripts/discourse/app/lib/composer/custom-popup-menu-options.js
  app/assets/javascripts/discourse/app/lib/plugin-api.js
  app/assets/javascripts/discourse/app/services/composer.js
  app/assets/javascripts/discourse/tests/helpers/qunit-helpers.js
  docs/CHANGELOG-JAVASCRIPT-PLUGIN-API.md
  plugins/discourse-details/assets/javascripts/initializers/apply-details.js
  plugins/discourse-details/test/javascripts/acceptance/details-button-test.js
  plugins/poll/assets/javascripts/discourse/initializers/add-poll-ui-builder.js
  plugins/poll/test/javascripts/acceptance/poll-breakdown-test.js
  plugins/poll/test/javascripts/acceptance/poll-builder-disabled-test.js
  plugins/poll/test/javascripts/acceptance/poll-builder-enabled-test.js
  plugins/poll/test/javascripts/acceptance/poll-in-reply-history-test.js
  plugins/poll/test/javascripts/acceptance/poll-quote-test.js
  plugins/poll/test/javascripts/acceptance/poll-results-test.js
  plugins/poll/test/javascripts/acceptance/polls-bar-chart-test-desktop.js
  plugins/poll/test/javascripts/acceptance/polls-bar-chart-test-mobile.js
Labels: platform

#23563 DEV: Increase tests' stability by avoiding testing tooltips
  plugins/chat/test/javascripts/acceptance/user-status-on-mentions-test.js
Labels: chat

#23516 DEV: Increase tests' stability by testing tooltips separately
  plugins/chat/test/javascripts/components/chat-channel-test.js
Labels: chat

#23776 UX: remove excerpt + style change to thread list item
  plugins/chat/app/queries/chat/thread_participant_query.rb
  plugins/chat/app/services/chat/lookup_channel_threads.rb
  plugins/chat/assets/javascripts/discourse/components/chat/thread-list/item.hbs
  plugins/chat/assets/stylesheets/common/chat-thread-list-item.scss
  plugins/chat/spec/queries/chat/thread_participant_query_spec.rb
Labels: chat

#23819 UX: keep timestamp on single line
  plugins/chat/assets/stylesheets/common/chat-message-info.scss
Labels: chat

#23821 UX: flat design for thread list
  plugins/chat/assets/stylesheets/common/chat-thread-list-item.scss
  plugins/chat/assets/stylesheets/mobile/chat-threads-list.scss
Labels: chat

#23823 UX: thread list fixes for alignment and more spacing on mobile
  plugins/chat/assets/stylesheets/common/chat-thread-header.scss
  plugins/chat/assets/stylesheets/common/chat-thread-list-item.scss
  plugins/chat/assets/stylesheets/mobile/chat-threads-list.scss
Labels: chat

#23752 FEATURE: Remove support for legacy navigation menu
  app/assets/javascripts/discourse/app/components/site-header.js
  app/assets/javascripts/discourse/app/controllers/application.js
  app/assets/javascripts/discourse/app/lib/plugin-api.js
  app/assets/javascripts/discourse/app/templates/preferences.hbs
  app/assets/javascripts/discourse/app/widgets/header.js
  app/assets/javascripts/discourse/config/deprecation-workflow.js
  app/assets/javascripts/discourse/tests/acceptance/enforce-second-factor-test.js
  app/assets/javascripts/discourse/tests/acceptance/hamburger-menu-test.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-user-test.js
  app/assets/javascripts/discourse/tests/integration/components/site-header-test.js
  app/controllers/reviewable_claimed_topics_controller.rb
  app/controllers/users_controller.rb
  app/models/admin_dashboard_data.rb
  app/models/navigation_menu_site_setting.rb
  app/models/site_setting.rb
  app/models/topic_tracking_state.rb
  app/models/user.rb
  app/serializers/concerns/user_sidebar_mixin.rb
  app/serializers/site_serializer.rb
  app/serializers/web_hook_user_serializer.rb
  config/locales/server.ar.yml
  config/locales/server.de.yml
  config/locales/server.en.yml
  config/locales/server.es.yml
  config/locales/server.fi.yml
  config/locales/server.fr.yml
  config/locales/server.he.yml
  config/locales/server.id.yml
  config/locales/server.it.yml
  config/locales/server.ja.yml
  config/locales/server.nl.yml
  config/locales/server.pl_PL.yml
  config/locales/server.pt_BR.yml
  config/locales/server.ru.yml
  config/locales/server.sv.yml
  config/locales/server.tr_TR.yml
  config/locales/server.uk.yml
  config/locales/server.zh_CN.yml
  db/migrate/20231004020328_migrate_legacy_navigation_menu_site_setting.rb
  plugins/chat/spec/system/list_channels/no_sidebar_spec.rb
  plugins/chat/spec/system/sidebars_spec.rb
  spec/models/admin_dashboard_data_spec.rb
  spec/models/topic_tracking_state_spec.rb
  spec/models/user_spec.rb
  spec/requests/api/schemas/json/user_get_response.json
  spec/requests/api/users_spec.rb
  spec/requests/notifications_controller_spec.rb
  spec/serializers/current_user_serializer_spec.rb
  spec/serializers/site_serializer_spec.rb
  spec/serializers/topic_tracking_state_item_serializer_spec.rb
  spec/serializers/web_hook_user_serializer_spec.rb
  spec/support/user_sidebar_serializer_attributes.rb
  spec/system/page_objects/components/legacy_header_dropdown.rb
  spec/system/viewing_sidebar_spec.rb
Labels: chat, personalisation

#23070 FEATURE: granular webhooks
  app/assets/javascripts/admin/addon/components/webhook-event-chooser.hbs
  app/assets/javascripts/admin/addon/components/webhook-event-chooser.js
  app/assets/javascripts/admin/addon/controllers/admin-web-hooks-edit.js
  app/assets/javascripts/admin/addon/routes/admin-web-hooks.js
  app/assets/javascripts/admin/addon/templates/web-hooks-edit.hbs
  app/assets/stylesheets/common/admin/api.scss
  app/controllers/admin/web_hooks_controller.rb
  app/models/concerns/has_destroyed_web_hook.rb
  app/models/web_hook.rb
  app/models/web_hook_event_type.rb
  app/models/web_hook_event_types_hook.rb
  config/locales/client.en.yml
  db/fixtures/007_web_hook_event_types.rb
  db/migrate/20230807033021_add_group_to_web_hook_event_type.rb
  db/migrate/20230807040058_move_web_hooks_to_new_event_ids.rb
  lib/post_destroyer.rb
  plugins/chat/config/locales/client.en.yml
  plugins/chat/lib/chat/outgoing_web_hook_extension.rb
  plugins/chat/spec/fabricators/outgoing_chat_message_web_hook_fabricator.rb
  spec/fabricators/web_hook_fabricator.rb
  spec/jobs/emit_web_hook_event_spec.rb
  spec/models/web_hook_spec.rb
  spec/requests/admin/web_hooks_controller_spec.rb
Labels: chat, staff-experience

#23829 FIX: properly create a mention when followed by dots
  plugins/chat/app/models/chat/message.rb
  plugins/chat/spec/models/chat/message_spec.rb
Labels: chat

#23843 DEV: prevents flakey spec with dots
  plugins/chat/spec/fabricators/chat_fabricator.rb
Labels: chat

#23845 FIX: uses correct label on mobile view for members
  plugins/chat/assets/javascripts/discourse/components/chat-channel-settings.gjs
Labels: chat

#23844 FIX: correctly reset active message on destroy
  plugins/chat/assets/javascripts/discourse/components/chat-message.gjs
Labels: chat

#23849 FIX: minor chat styleguide fixes
  plugins/chat/assets/javascripts/discourse/components/styleguide/organisms/chat.hbs
  plugins/chat/assets/javascripts/discourse/models/chat-message.js
  plugins/chat/assets/stylesheets/common/chat-message.scss
Labels: chat

#23847 UX: makes avatar non interactive in thread participants list
  plugins/chat/assets/javascripts/discourse/components/chat-channel-title.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-composer-message-details.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-message-actions-mobile.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-message-in-reply-to-indicator.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-message-thread-indicator.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-message.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-thread-participants.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-user-avatar.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-user-info.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/message-creator/user-row.hbs
  plugins/chat/assets/javascripts/discourse/components/chat/message-creator/user-selection.hbs
  plugins/chat/assets/javascripts/discourse/components/chat/message/avatar.hbs
  plugins/chat/assets/javascripts/discourse/components/chat/thread-list/item.hbs
  plugins/chat/assets/javascripts/discourse/components/chat/user-avatar.hbs
  plugins/chat/assets/javascripts/discourse/components/chat/user-avatar.js
  plugins/chat/assets/stylesheets/common/chat-thread-list-item.scss
  plugins/chat/spec/fabricators/chat_fabricator.rb
  plugins/chat/spec/system/page_objects/chat/components/thread_indicator.rb
  plugins/chat/test/javascripts/components/chat-thread-participants-test.js
  plugins/chat/test/javascripts/components/chat-user-avatar-test.js
Labels: chat

#23838 DEV: Add meta_topic_id plugin metadata
  app/assets/javascripts/admin/addon/models/admin-plugin.js
  app/serializers/admin_plugin_serializer.rb
  lib/plugin/metadata.rb
  plugins/chat/plugin.rb
  spec/lib/plugin/metadata_spec.rb
Labels: chat

#23866 UX: place (edited) on same line
  plugins/chat/assets/javascripts/discourse/components/chat-message-collapser.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-message-text.hbs
  plugins/chat/assets/stylesheets/common/chat-message.scss
Labels: chat

#23882 UX: prevent (edited) and following from being copied
  plugins/chat/assets/stylesheets/common/chat-message.scss
Labels: chat

#23895 FIX: ensures threads list button is not showing
  plugins/chat/assets/javascripts/discourse/components/chat-full-page-header.js
Labels: chat

#23361 UX: opens thread on channel with unread threads
  plugins/chat/assets/javascripts/discourse/components/chat-drawer/threads.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-thread-list.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/thread-list.hbs
  plugins/chat/assets/javascripts/discourse/routes/chat-channel.js
  plugins/chat/assets/javascripts/discourse/templates/chat-channel-threads.hbs
  plugins/chat/spec/system/chat_channel_spec.rb
  plugins/chat/spec/system/message_notifications_mobile_spec.rb
  plugins/chat/spec/system/page_objects/chat/chat.rb
  plugins/chat/spec/system/page_objects/chat/chat_side_panel.rb
  plugins/chat/spec/system/thread_list/full_page_spec.rb
  plugins/chat/spec/system/thread_tracking/full_page_spec.rb
Labels: chat

#23790 Consistently import `escape` from `discourse-common`
  app/assets/javascripts/admin/addon/components/themes-list-item.js
  app/assets/javascripts/discourse-common/addon/lib/avatar-utils.js
  app/assets/javascripts/discourse/app/components/composer-action-title.js
  app/assets/javascripts/discourse/app/components/modal/login.js
  app/assets/javascripts/discourse/app/components/user-tip.gjs
  app/assets/javascripts/discourse/app/lib/render-tag.js
  app/assets/javascripts/discourse/app/lib/sidebar/user/tags-section/base-tag-section-link.js
  app/assets/javascripts/discourse/app/lib/utilities.js
  app/assets/javascripts/discourse/app/services/client-error-handler.js
  app/assets/javascripts/discourse/app/widgets/post-cooked.js
Labels: js-modernization

#23917 DEV: flakey members list spec
  plugins/chat/spec/system/channel_members_page_spec.rb
Labels: chat

#23454 FEATURE: Add Revise... option for queued post reviewable
  app/assets/javascripts/discourse/app/components/modal/revise-and-reject-post-reviewable.hbs
  app/assets/javascripts/discourse/app/components/modal/revise-and-reject-post-reviewable.js
  app/assets/javascripts/discourse/app/components/reviewable-item.js
  app/assets/stylesheets/common/base/_index.scss
  app/assets/stylesheets/common/base/revise-and-reject-post-reviewable.scss
  app/controllers/reviewables_controller.rb
  app/models/reviewable.rb
  app/models/reviewable_queued_post.rb
  app/models/reviewable_user.rb
  config/locales/client.en.yml
  config/locales/server.en.yml
  config/site_settings.yml
  spec/models/reviewable_queued_post_spec.rb
  spec/system/page_objects/modals/base.rb
  spec/system/page_objects/pages/review.rb
  spec/system/reviewables_spec.rb
Labels: staff-experience

#23918 UX: improves reminder setting text
  plugins/chat/assets/javascripts/discourse/components/chat-channel-settings.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-retention-reminder-text.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-retention-reminder.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-retention-reminder.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-retention-reminder.js
  plugins/chat/config/locales/client.en.yml
  plugins/chat/test/javascripts/components/chat-retention-reminder-test.js
  plugins/chat/test/javascripts/components/chat-retention-reminder-text-test.js
Labels: chat

#23928 DEV: simplify reply to message smoke spec
  plugins/chat/spec/system/reply_to_message/smoke_spec.rb
Labels: chat

#23927 FIX: revert (edited) layout in chat message
  plugins/chat/assets/javascripts/discourse/components/chat-message-collapser.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-message-text.hbs
  plugins/chat/assets/stylesheets/common/chat-message.scss
Labels: chat

#23941 UX: CMD-K style fix
  plugins/chat/assets/stylesheets/common/chat-message-creator.scss
Labels: chat

#23951 DEV: Add category style deprecation check warning
  app/models/admin_dashboard_data.rb
  config/locales/server.en.yml
  spec/models/admin_dashboard_data_spec.rb
Labels: staff-experience

#23756 DEV: Convert remaining core services to native class syntax
  app/assets/javascripts/dialog-holder/addon/services/dialog.js
  app/assets/javascripts/discourse/app/services/logs-notice.js
  app/assets/javascripts/discourse/app/services/pm-topic-tracking-state.js
  app/assets/javascripts/discourse/app/services/store.js
Labels: js-modernization

#23952 DEV: Add new experimental admin UI route and sidebar
  app/assets/javascripts/admin/addon/controllers/admin-revamp.js
  app/assets/javascripts/admin/addon/routes/admin-revamp-config-area.js
  app/assets/javascripts/admin/addon/routes/admin-revamp-config.js
  app/assets/javascripts/admin/addon/routes/admin-revamp-lobby.js
  app/assets/javascripts/admin/addon/routes/admin-revamp.js
  app/assets/javascripts/admin/addon/routes/admin-route-map.js
  app/assets/javascripts/admin/addon/templates/admin-revamp-config-area.hbs
  app/assets/javascripts/admin/addon/templates/admin-revamp-config.hbs
  app/assets/javascripts/admin/addon/templates/admin-revamp-lobby.hbs
  app/assets/javascripts/admin/addon/templates/admin-revamp.hbs
  app/assets/javascripts/discourse/app/components/sidebar.js
  app/assets/javascripts/discourse/app/components/sidebar/api-section.hbs
  app/assets/javascripts/discourse/app/components/sidebar/api-sections.js
  app/assets/javascripts/discourse/app/instance-initializers/admin-sidebar.js
  app/assets/javascripts/discourse/app/lib/plugin-api.js
  app/assets/javascripts/discourse/app/lib/sidebar/base-custom-sidebar-panel.js
  app/assets/javascripts/discourse/app/lib/sidebar/common/community-section/section.js
  app/assets/javascripts/discourse/app/lib/sidebar/user/community-section/admin-revamp-section-link.js
  app/assets/javascripts/discourse/app/services/sidebar-state.js
  app/assets/javascripts/discourse/app/services/site-settings.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-plugin-api-test.js
  app/assets/stylesheets/common/admin/admin_base.scss
  app/assets/stylesheets/common/admin/admin_revamp.scss
  app/models/sidebar_url.rb
  config/routes.rb
  config/site_settings.yml
  docs/CHANGELOG-JAVASCRIPT-PLUGIN-API.md
  plugins/chat/assets/javascripts/discourse/initializers/chat-sidebar.js
  plugins/chat/assets/javascripts/discourse/lib/init-sidebar-state.js
  plugins/chat/assets/javascripts/discourse/routes/chat.js
  plugins/chat/assets/javascripts/discourse/services/chat-state-manager.js
  plugins/chat/assets/javascripts/discourse/services/chat.js
  spec/models/sidebar_section_spec.rb
  spec/system/admin_revamp_sidebar_navigation_spec.rb
Labels: chat

#24013 DEV: Fix `ember/prefer-ember-test-helpers`
  app/assets/javascripts/discourse/tests/integration/components/d-editor-test.js
Labels: js-modernization

#24011 DEV: Fix `ember/require-valid-css-selector-in-test-helpers`
  app/assets/javascripts/discourse/tests/acceptance/user-preferences-second-factor-backup-test.js
  app/assets/javascripts/discourse/tests/acceptance/user-preferences-second-factor-test.js
Labels: js-modernization

#24010 DEV: Fix `ember/no-incorrect-calls-with-inline-anonymous-functions`
  app/assets/javascripts/discourse/app/components/user-status-picker.js
  app/assets/javascripts/discourse/app/services/composer.js
Labels: js-modernization

#24008 DEV: Fix `ember/no-settled-after-test-helper`
  app/assets/javascripts/discourse/tests/acceptance/search-test.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-narrow-desktop-test.js
  app/assets/javascripts/discourse/tests/helpers/qunit-helpers.js
  app/assets/javascripts/discourse/tests/integration/components/d-lightbox-test.js
Labels: js-modernization

#24007 DEV: Fix `ember/require-super-in-lifecycle-hooks`
  app/assets/javascripts/admin/addon/components/ace-editor.js
  app/assets/javascripts/admin/addon/components/admin-graph.js
  app/assets/javascripts/admin/addon/components/modal/install-theme.js
  app/assets/javascripts/admin/addon/components/modal/merge-users-progress.js
  app/assets/javascripts/discourse/app/components/d-modal-body.js
  app/assets/javascripts/discourse/app/components/discourse-banner.js
  app/assets/javascripts/discourse/app/components/mobile-nav.js
  app/assets/javascripts/discourse/app/components/modal/bookmark.js
  app/assets/javascripts/discourse/app/components/mount-widget.js
  app/assets/javascripts/discourse/app/components/pending-post.js
  app/assets/javascripts/discourse/app/components/scrolling-post-stream.js
  app/assets/javascripts/discourse/app/components/sidebar.js
  app/assets/javascripts/discourse/app/components/sidebar/more-section-links.js
  app/assets/javascripts/discourse/app/components/sidebar/section-link.js
  app/assets/javascripts/discourse/app/components/sidebar/section.js
  app/assets/javascripts/discourse/app/components/sidebar/user/messages-section.js
  app/assets/javascripts/discourse/app/components/sidebar/user/tags-section.js
  app/assets/javascripts/discourse/app/components/site-header.js
  app/assets/javascripts/discourse/app/components/table-header-toggle.js
  app/assets/javascripts/discourse/app/components/topic-entrance.js
  app/assets/javascripts/discourse/app/components/topic-timeline/container.js
  app/assets/javascripts/discourse/app/components/user-status-picker.js
  app/assets/javascripts/discourse/app/lib/plugin-api.js
  app/assets/javascripts/discourse/tests/acceptance/topic-post-decorate-cooked-test.js
  app/assets/javascripts/discourse/tests/integration/components/widgets/render-glimmer-test.js
  app/assets/javascripts/discourse/tests/integration/helpers/raw-test.gjs
Labels: js-modernization

#24017 DEV: Modernize chat helper definitions
  plugins/chat/assets/javascripts/discourse/helpers/format-chat-date.js
  plugins/chat/assets/javascripts/discourse/helpers/tonable-emoji-title.js
  plugins/chat/assets/javascripts/discourse/helpers/tonable-emoji-url.js
Labels: chat

#24015 PERF: Stop eagerly-loading core helper modules
  app/assets/javascripts/discourse-common/addon/lib/raw-handlebars-helpers.js
  app/assets/javascripts/discourse/app/instance-initializers/auto-load-modules.js
Labels: js-modernization

#24029 UX: unify ai representing icon
  app/assets/javascripts/discourse/app/components/summary-box.js
  lib/svg_sprite.rb
  plugins/chat/assets/javascripts/discourse/initializers/chat-setup.js
  vendor/assets/svg-icons/discourse-additional.svg
Labels: chat

#24028 DEV: Fix lazy_load_categories for uncategorized topic lists
  app/models/topic_list.rb
Labels: platform

#24044 DEV: skips two flakey specs
  plugins/chat/spec/system/channel_members_page_spec.rb
  plugins/chat/spec/system/navigation_spec.rb
Labels: chat

#24032 DEV: Introduce `Theme#get_setting`
  app/models/theme.rb
  spec/models/theme_spec.rb
Labels: platform

#24038 DEV: Use `@discourse/lint-configs`
  .eslintrc
  .eslintrc.cjs
  .prettierrc
  .prettierrc.cjs
  .template-lintrc.js
  app/assets/javascripts/discourse/app/components/cook-text.gjs
  app/assets/javascripts/discourse/app/components/fast-edit.gjs
  app/assets/javascripts/discourse/app/components/form-template-field/wrapper.gjs
  app/assets/javascripts/discourse/app/components/groups-form-membership-fields.js
  app/assets/javascripts/discourse/app/components/post-text-selection-toolbar.gjs
  app/assets/javascripts/discourse/app/components/post-text-selection.gjs
  app/assets/javascripts/discourse/app/components/user-tip.gjs
  app/assets/javascripts/discourse/package.json
  app/assets/javascripts/discourse/tests/integration/components/ace-editor-test.js
  app/assets/javascripts/discourse/tests/integration/components/d-button-test.js
  app/assets/javascripts/discourse/tests/integration/components/load-more-test.js
  app/assets/javascripts/discourse/tests/integration/components/select-kit/email-group-user-chooser-test.js
  app/assets/javascripts/discourse/tests/integration/components/sidebar/section-link-test.js
  app/assets/javascripts/discourse/tests/integration/components/sidebar/section-test.js
  app/assets/javascripts/discourse/tests/integration/components/themes-list-test.js
  app/assets/javascripts/discourse/tests/integration/components/user-status-message-test.js
  app/assets/javascripts/discourse/tests/unit/lib/ember-events-test.js
  app/assets/javascripts/float-kit/addon/components/d-float-body.gjs
  app/assets/javascripts/float-kit/addon/components/d-inline-menu.gjs
  app/assets/javascripts/float-kit/addon/components/d-inline-tooltip.gjs
  app/assets/javascripts/float-kit/addon/components/d-menu.gjs
  app/assets/javascripts/float-kit/addon/components/d-popover.gjs
  app/assets/javascripts/float-kit/addon/components/d-tooltip.gjs
  app/assets/javascripts/theme-transpiler/transpiler.js
  app/assets/javascripts/yarn.lock
  package.json
  plugins/chat/assets/javascripts/discourse/components/chat-channel-members.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-channel-message-emoji-picker.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-channel-row.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-message-actions-desktop.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-message-actions-mobile.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-message-reaction.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-message.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-thread-list.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-thread-participants.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-user-info.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/form.gjs
  plugins/chat/assets/javascripts/discourse/components/dc-filter-input.gjs
  yarn.lock
Labels: chat

#24043 UX: Fixes for mobile "create account" modal
  app/assets/javascripts/discourse/app/templates/modal/create-account.hbs
  app/assets/stylesheets/common/base/login.scss
  app/assets/stylesheets/mobile/login.scss
Labels: CSS

#24064 FIX: Update path for spoiler-alert plugin
  plugins/chat/assets/javascripts/discourse/initializers/chat-plugin-decorators.js
Labels: chat

#24006 DEV: Cleanup autoimport-related config from ember-cli-build
  app/assets/javascripts/admin/package.json
  app/assets/javascripts/discourse-plugins/package.json
  app/assets/javascripts/discourse/ember-cli-build.js
  app/assets/javascripts/wizard/package.json
Labels: js-modernization

#24067 FIX: ensures users can open channel invites
  plugins/chat/app/controllers/chat/api/channels_invites_controller.rb
  plugins/chat/app/controllers/chat/chat_controller.rb
  plugins/chat/app/services/chat/create_thread.rb
  plugins/chat/app/services/chat/invite_users_to_channel.rb
  plugins/chat/assets/javascripts/discourse/components/chat-channel.js
  plugins/chat/assets/javascripts/discourse/components/full-page-chat.hbs
  plugins/chat/assets/javascripts/discourse/initializers/chat-user-menu.js
  plugins/chat/assets/javascripts/discourse/services/chat-api.js
  plugins/chat/assets/javascripts/discourse/widgets/chat-invitation-notification-item.js
  plugins/chat/config/routes.rb
  plugins/chat/spec/requests/chat/api/channels_invites_controller_spec.rb
  plugins/chat/spec/requests/chat_controller_spec.rb
  plugins/chat/spec/services/chat/invite_users_to_channel_spec.rb
  plugins/chat/spec/system/invite_users_to_channel_spec.rb
  plugins/chat/spec/system/message_notifications_with_sidebar_spec.rb
  plugins/chat/test/javascripts/components/chat-notices-test.js
Labels: chat

#24072 DEV: Change anonymous_posting_min_trust_level to a group-based setting
  app/assets/javascripts/admin/addon/routes/admin-revamp.js
  app/assets/javascripts/discourse/app/components/user-menu/profile-tab-content.js
  app/assets/javascripts/discourse/app/lib/constants.js
  app/assets/javascripts/discourse/app/lib/sidebar/user/community-section/admin-revamp-section-link.js
  app/assets/javascripts/discourse/app/services/site-settings.js
  app/assets/javascripts/discourse/tests/acceptance/user-menu-test.js
  app/assets/javascripts/discourse/tests/fixtures/session-fixtures.js
  app/assets/javascripts/discourse/tests/helpers/component-test.js
  app/assets/javascripts/discourse/tests/helpers/site-settings.js
  app/services/anonymous_shadow_creator.rb
  config/locales/server.en.yml
  config/site_settings.yml
  db/migrate/20231024034031_migrate_tl_to_group_settings_anonymous_posting_min_tl.rb
  lib/site_settings/deprecated_settings.rb
  lib/tasks/javascript.rake
  lib/validators/at_least_one_group_validator.rb
  plugins/chat/assets/javascripts/discourse/services/chat.js
  plugins/discourse-narrative-bot/spec/user_spec.rb
  spec/requests/application_controller_spec.rb
  spec/requests/users_controller_spec.rb
  spec/services/anonymous_shadow_creator_spec.rb
Labels: chat

#23580 FEATURE: Add onebox support for chat threads
  plugins/chat/assets/stylesheets/common/chat-onebox.scss
  plugins/chat/assets/stylesheets/common/chat-transcript.scss
  plugins/chat/config/locales/server.en.yml
  plugins/chat/lib/chat/engine.rb
  plugins/chat/lib/chat/onebox_handler.rb
  plugins/chat/lib/onebox/templates/discourse_chat_channel.mustache
  plugins/chat/lib/onebox/templates/discourse_chat_message.mustache
  plugins/chat/lib/onebox/templates/discourse_chat_thread.mustache
  plugins/chat/spec/lib/chat/onebox_handler_spec.rb
Labels: chat

#24103 FIX: Optimize a slow query when mentioning groups in chat messages
  plugins/chat/lib/chat/parsed_mentions.rb
Labels: chat

#24115 UX: improves support of window resize in chat
  plugins/chat/assets/javascripts/discourse/components/chat-side-panel.hbs
  plugins/chat/assets/javascripts/discourse/modifiers/chat/resizable-node.js
  plugins/chat/assets/stylesheets/common/chat-side-panel.scss
Labels: chat

#24133 DEV: adds a `:chat_thread_created` trigger
  plugins/chat/app/services/chat/create_thread.rb
  plugins/chat/spec/services/chat/create_thread_spec.rb
Labels: chat

#24135 UX: remove border radius and box shadow
  plugins/chat/assets/stylesheets/common/chat-message-actions.scss
Labels: chat

#24088 FIX: Alter "Take Action" default behaviour to hide post
  app/assets/javascripts/discourse/app/components/modal/flag.hbs
  app/assets/javascripts/discourse/app/components/modal/flag.js
  app/assets/javascripts/discourse/tests/acceptance/flag-post-test.js
  config/locales/client.en.yml
  lib/post_action_creator.rb
  spec/lib/post_action_creator_spec.rb
  spec/system/flagging_post_spec.rb
  spec/system/page_objects/modals/base.rb
  spec/system/page_objects/modals/flag.rb
  spec/system/page_objects/pages/topic.rb
Labels: ⚠ DO NOT MERGE

#24159 FIX: correctly display escaped thread titles
  plugins/chat/assets/javascripts/discourse/components/chat/thread-list/item.hbs
  plugins/chat/assets/javascripts/discourse/components/chat/thread-list/item.js
  plugins/chat/assets/javascripts/discourse/components/chat/thread/header.hbs
  plugins/chat/assets/javascripts/discourse/components/chat/thread/header.js
  plugins/chat/assets/javascripts/discourse/lib/fabricators.js
  plugins/chat/assets/javascripts/discourse/models/chat-thread.js
  plugins/chat/test/javascripts/components/chat-thread-header-test.js
  plugins/chat/test/javascripts/components/chat-thread-list-item-test.js
Labels: chat

#24172 FiX: Update date url for thread oneboxes
  plugins/chat/lib/onebox/templates/discourse_chat_message.mustache
  plugins/chat/spec/lib/chat/onebox_handler_spec.rb
Labels: chat

#24122 FIX: Further optimize mentioning groups in chat messages
  plugins/chat/lib/chat/notifier.rb
  plugins/chat/lib/chat/parsed_mentions.rb
Labels: chat
