Repository discourse/discourse, pull requests merged in 2024-02, with the labels that each got.

#25514 FIX: use feedback_category placeholder in i18n string
  config/locales/server.en.yml
  lib/seed_data/topics.rb
Labels: i18n

#25518 FIX: better supports ipad and hub footer nav
  app/assets/javascripts/discourse/app/components/footer-nav.js
  app/assets/stylesheets/common/base/menu-panel.scss
  app/assets/stylesheets/common/base/topic.scss
  app/assets/stylesheets/common/components/footer-nav.scss
  app/assets/stylesheets/common/loading-slider.scss
  plugins/chat/assets/stylesheets/common/chat-height-mixin.scss
  plugins/chat/assets/stylesheets/mobile/chat-footer.scss
Labels: chat

#25503 FEATURE: adds a link to original message
  plugins/chat/assets/javascripts/discourse/chat-route-map.js
  plugins/chat/assets/javascripts/discourse/components/chat-message.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/message/info.gjs
  plugins/chat/assets/javascripts/discourse/models/chat-message.js
  plugins/chat/assets/javascripts/discourse/routes/chat-channel-near-message-with-thread.js
  plugins/chat/assets/stylesheets/common/chat-message-info.scss
  plugins/chat/config/locales/client.en.yml
  plugins/chat/spec/system/single_thread_spec.rb
Labels: chat, i18n

#25535 DEV: Remove TagGuardian#can_create_tag? fallback
  lib/guardian/tag_guardian.rb
  plugins/chat/spec/lib/chat/channel_archive_service_spec.rb
Labels: chat

#25523 FIX: only use mention styling for valid mentions in chat
  plugins/chat/assets/stylesheets/common/chat-message.scss
Labels: chat

#25543 UX: Chat Sizing on Mobile
  plugins/chat/assets/stylesheets/common/chat-channel-name.scss
  plugins/chat/assets/stylesheets/common/chat-user-threads.scss
  plugins/chat/assets/stylesheets/mobile/chat-channel-row.scss
  plugins/chat/assets/stylesheets/mobile/chat-index.scss
Labels: chat

#25542 FIX: prevents discourse header to go under ipad navigation
  app/assets/stylesheets/common/base/header.scss
  plugins/chat/assets/stylesheets/common/base-common.scss
Labels: chat

#25540 FEATURE: allow disabling user activity tab for non admin users
  app/assets/javascripts/discourse/app/components/user-nav.hbs
  app/assets/javascripts/discourse/app/controllers/user.js
  app/assets/javascripts/discourse/app/templates/user.hbs
  app/assets/javascripts/discourse/app/templates/user/summary.hbs
  app/serializers/user_summary_serializer.rb
  config/locales/server.en.yml
  config/site_settings.yml
  lib/guardian/user_guardian.rb
  spec/lib/guardian/user_guardian_spec.rb
  spec/serializers/user_summary_serializer_spec.rb
Labels: i18n

#25552 FEATURE: Permalinks for users
  app/assets/javascripts/admin/addon/components/permalink-form.js
  app/assets/javascripts/admin/addon/templates/permalinks.hbs
  app/models/permalink.rb
  app/serializers/permalink_serializer.rb
  config/locales/client.en.yml
  db/migrate/20240204204532_add_user_to_permalink.rb
  spec/models/permalink_spec.rb
  spec/requests/admin/permalinks_controller_spec.rb
Labels: i18n

#25527 DEV: Update min trust level to tag topics migration to groups
  config/site_settings.yml
  db/migrate/20240112073149_fill_tag_topic_allowed_groups_based_on_deprecated_settings.rb
  db/migrate/20240201170412_fix_tag_topic_allowed_groups_setting.rb
Labels: staff-experience

#25550 DEV: Correct some tl to group site setting changes
  config/site_settings.yml
  db/migrate/20231107055903_migrate_min_trust_level_for_here_mention_to_group.rb
  db/migrate/20240202204030_fix_here_mention_allowed_groups_setting.rb
Labels: staff-experience

#25570 Update client.en.yml to rename email settings menu item
  config/locales/client.en.yml
Labels: i18n

#25537 FIX: Save previous chat state when navigating with the sidebar
  app/assets/javascripts/discourse/app/components/sidebar/switch-panel-buttons.js
  plugins/chat/assets/javascripts/discourse/initializers/chat-sidebar.js
  plugins/chat/spec/system/navigation_spec.rb
  plugins/chat/spec/system/page_objects/chat/chat.rb
  plugins/chat/spec/system/separate_sidebar_mode_spec.rb
Labels: chat

#25468 FIX: Visits for TL3 actually means "Posts Read: unique days"
  app/assets/javascripts/admin/addon/templates/user-tl3-requirements.hbs
  config/locales/client.en.yml
Labels: i18n

#25498 FEATURE: Add new 'illegal' flag reason
  app/models/post_action_type.rb
  config/locales/client.en.yml
  config/locales/server.en.yml
  lib/post_action_creator.rb
  spec/models/post_action_spec.rb
Labels: i18n

#25587 UX: add padding to bottom of mobile chat channel settings page
  plugins/chat/assets/stylesheets/mobile/chat-channel-settings.scss
Labels: chat

#25601 FIX: Always allow staff (admins & mods) to post links
  config/locales/server.en.yml
  lib/guardian/post_guardian.rb
  spec/lib/guardian_spec.rb
Labels: i18n

#25603 FIX: Translation missing for Illegal flag on topic
  app/assets/stylesheets/common/base/modal.scss
  config/locales/client.en.yml
  config/locales/server.en.yml
Labels: i18n

#25538 DEV: Introduce experimental `type: objects` theme setting
  app/models/theme_setting.rb
  config/locales/server.ar.yml
  config/locales/server.da.yml
  config/locales/server.de.yml
  config/locales/server.en.yml
  config/locales/server.es.yml
  config/locales/server.fi.yml
  config/locales/server.fr.yml
  config/locales/server.gl.yml
  config/locales/server.he.yml
  config/locales/server.hr.yml
  config/locales/server.hu.yml
  config/locales/server.id.yml
  config/locales/server.it.yml
  config/locales/server.ja.yml
  config/locales/server.ko.yml
  config/locales/server.lt.yml
  config/locales/server.nl.yml
  config/locales/server.pl_PL.yml
  config/locales/server.pt.yml
  config/locales/server.pt_BR.yml
  config/locales/server.ru.yml
  config/locales/server.sv.yml
  config/locales/server.tr_TR.yml
  config/locales/server.uk.yml
  config/locales/server.ur.yml
  config/locales/server.vi.yml
  config/locales/server.zh_CN.yml
  config/site_settings.yml
  db/migrate/20240202032242_add_json_value_to_theme_settings.rb
  lib/theme_settings_manager.rb
  lib/theme_settings_parser.rb
  spec/fixtures/theme_settings/valid_settings.yaml
  spec/lib/theme_settings_manager_spec.rb
  spec/models/theme_field_spec.rb
  spec/models/theme_setting_spec.rb
Labels: i18n

#25606 FIX: Always preload admin plugin list for admin in sidebar
  app/assets/javascripts/admin/addon/controllers/admin.js
  app/assets/javascripts/admin/addon/routes/admin-revamp.js
  app/assets/javascripts/admin/addon/routes/admin.js
  app/assets/javascripts/discourse/app/lib/sidebar/admin-sidebar.js
  app/assets/javascripts/discourse/app/lib/sidebar/user/community-section/admin-revamp-section-link.js
  app/assets/javascripts/discourse/tests/acceptance/admin-sidebar-section-test.js
  app/controllers/admin/admin_controller.rb
  app/controllers/admin/plugins_controller.rb
  app/controllers/application_controller.rb
  app/serializers/current_user_serializer.rb
  config/site_settings.yml
  plugins/chat/spec/requests/application_controller_spec.rb
  spec/requests/application_controller_spec.rb
Labels: chat

#25617 FIX: Look up all channel hashtags
  plugins/chat/lib/chat/channel_fetcher.rb
  plugins/chat/spec/services/hashtag_autocomplete_service_spec.rb
Labels: chat

#25625 FIX: Change max_image_megapixels logic
  config/locales/server.en.yml
  lib/upload_creator.rb
  spec/models/upload_spec.rb
Labels: i18n

#25638 DEV: Chat hashtag test
  plugins/chat/spec/lib/chat/channel_hashtag_data_source_spec.rb
  plugins/chat/spec/services/hashtag_autocomplete_service_spec.rb
Labels: chat

#25526 FEATURE: Async load of category and chat hashtags
  app/assets/javascripts/discourse/app/instance-initializers/hashtag-css-generator.js
  app/assets/javascripts/discourse/app/lib/hashtag-autocomplete.js
  app/assets/javascripts/discourse/app/lib/hashtag-decorator.js
  app/assets/javascripts/discourse/app/lib/hashtag-types/base.js
  app/assets/javascripts/discourse/app/lib/hashtag-types/category.js
  app/assets/javascripts/discourse/tests/acceptance/css-generator-test.js
  app/assets/javascripts/discourse/tests/acceptance/hashtag-autocomplete-test.js
  app/assets/stylesheets/common/components/hashtag.scss
  app/controllers/hashtags_controller.rb
  app/services/category_hashtag_data_source.rb
  app/services/hashtag_autocomplete_service.rb
  config/routes.rb
  plugins/chat/assets/javascripts/discourse/lib/hashtag-types/channel.js
  plugins/chat/lib/chat/channel_hashtag_data_source.rb
  plugins/chat/spec/lib/chat/channel_hashtag_data_source_spec.rb
  plugins/chat/spec/system/hashtag_autocomplete_spec.rb
  plugins/chat/test/javascripts/acceptance/hashtag-css-generator-test.js
  spec/lib/pretty_text/helpers_spec.rb
  spec/requests/hashtags_controller_spec.rb
  spec/services/category_hashtag_data_source_spec.rb
  spec/services/hashtag_autocomplete_service_spec.rb
  spec/system/hashtag_autocomplete_spec.rb
Labels: chat

#25565 FIX: sort chat channels by mentions, unread and channel title
  plugins/chat/assets/javascripts/discourse/services/chat-channels-manager.js
  plugins/chat/spec/system/list_channels/mobile_spec.rb
Labels: chat

#25644 DEV: Fix test
  plugins/chat/spec/lib/chat/channel_hashtag_data_source_spec.rb
Labels: chat

#25646 UX: Make refresh notice copy more friendly
  config/locales/client.en.yml
Labels: i18n

#25656 FIX: sort chat channels by slug
  plugins/chat/assets/javascripts/discourse/services/chat-channels-manager.js
  plugins/chat/spec/system/list_channels/mobile_spec.rb
Labels: chat

#25645 UX: set zindex of chat action menu higher
  plugins/chat/assets/stylesheets/common/chat-message-actions.scss
Labels: chat

#25658 UX: Onebox container sizing
  plugins/chat/assets/stylesheets/common/chat-message-images.scss
Labels: chat

#25647 DEV: allows to a context when creating a message
  plugins/chat/app/services/chat/create_message.rb
  plugins/chat/assets/javascripts/discourse/components/chat-channel.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-thread.gjs
  plugins/chat/assets/javascripts/discourse/lib/extract-current-topic-info.js
  plugins/chat/assets/javascripts/discourse/pre-initializers/chat-plugin-api.js
  plugins/chat/assets/javascripts/discourse/services/chat-api.js
  plugins/chat/lib/chat/types/array.rb
  plugins/chat/spec/lib/chat/types/array_spec.rb
  plugins/chat/spec/services/chat/create_message_spec.rb
  plugins/chat/spec/system/drawer_spec.rb
Labels: chat

#25628 DEV: Convert User model to native class syntax
  app/assets/javascripts/discourse/app/components/user-card-contents.js
  app/assets/javascripts/discourse/app/components/user-info.js
  app/assets/javascripts/discourse/app/models/user.js
  app/assets/javascripts/discourse/app/routes/user.js
  app/assets/javascripts/discourse/app/widgets/post-cooked.js
  app/assets/javascripts/discourse/app/widgets/poster-name.js
  app/assets/javascripts/discourse/tests/helpers/qunit-helpers.js
  app/assets/javascripts/discourse/tests/unit/models/user-test.js
  plugins/chat/assets/javascripts/discourse/components/chat-channel-row.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-message.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/message/info.gjs
  plugins/chat/assets/javascripts/discourse/initializers/chat-sidebar.js
Labels: chat

#25670 FIX: Touch up illegal flag type translations
  app/assets/javascripts/discourse/app/components/flag-action-type.js
  config/locales/server.en.yml
Labels: i18n

#25680 FIX: Allow several chat channels to have an empty slug
  plugins/chat/db/migrate/20240214135517_fix_chat_channel_slug_index.rb
  plugins/chat/spec/services/chat/create_category_channel_spec.rb
Labels: chat

#25669 FEATURE: backlink to the site from Logster
  Gemfile.lock
  config/initializers/100-logster.rb
  config/locales/server.en.yml
Labels: i18n

#25689 DEV: Skip consistently flaky tests on CI
  plugins/chat/spec/system/drawer_spec.rb
Labels: chat

#25696 UX: prevent groupname from wrapping (first)
  plugins/chat/assets/stylesheets/common/chat-message-creator.scss
Labels: chat

#25698 UX: Chat browse redesign
  plugins/chat/assets/javascripts/discourse/components/chat-channel-card.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/navbar/new-channel-button.gjs
  plugins/chat/assets/stylesheets/common/chat-browse.scss
  plugins/chat/assets/stylesheets/common/chat-channel-card.scss
  plugins/chat/assets/stylesheets/common/chat-navbar.scss
  plugins/chat/assets/stylesheets/common/dc-filter-input.scss
  plugins/chat/config/locales/client.en.yml
  plugins/chat/spec/system/channel_settings_page_spec.rb
  plugins/chat/test/javascripts/components/chat-channel-card-test.js
Labels: chat, i18n

#24799 DEV: Do not require session confirmation for new users
  app/controllers/users_controller.rb
  spec/requests/users_controller_spec.rb
  spec/system/email_change_spec.rb
  spec/system/user_page/user_preferences_security_spec.rb
Labels: Stale

#25624 DEV: First pass of ThemeSettingsObjectValidator
  config/locales/server.en.yml
  lib/theme_settings_object_validator.rb
  spec/lib/theme_settings_object_validator_spec.rb
Labels: i18n, platform

#25664 FEATURE: Add experimental option for strict-dynamic CSP
  app/assets/javascripts/bootstrap-json/index.js
  app/helpers/application_helper.rb
  app/helpers/defer_script_helper.rb
  app/helpers/splash_screen_helper.rb
  app/models/theme.rb
  app/models/theme_field.rb
  app/views/common/_discourse_splash.html.erb
  app/views/common/_google_tag_manager_head.html.erb
  app/views/common/_google_universal_analytics.html.erb
  app/views/layouts/application.html.erb
  config/application.rb
  config/initializers/006-mini_profiler.rb
  config/initializers/099-anon-cache.rb
  config/locales/server.en.yml
  config/site_settings.yml
  lib/content_security_policy/builder.rb
  lib/content_security_policy/default.rb
  lib/content_security_policy/extension.rb
  lib/content_security_policy/middleware.rb
  lib/middleware/csp_script_nonce_injector.rb
  spec/helpers/application_helper_spec.rb
  spec/models/theme_field_spec.rb
  spec/requests/application_controller_spec.rb
  spec/support/system_helpers.rb
  spec/system/content_security_policy_spec.rb
Labels: i18n

#25720 UX: better card alignment
  plugins/chat/assets/stylesheets/common/chat-channel-card.scss
Labels: chat

#25721 DEV: Change min_trust_level_to_allow_profile_background to trust level setting
  config/locales/server.en.yml
  config/site_settings.yml
  db/migrate/20240216073624_fill_profile_background_allowed_groups_based_on_deprecated_setting.rb
  lib/guardian/user_guardian.rb
  lib/site_settings/deprecated_settings.rb
  spec/lib/guardian/user_guardian_spec.rb
  spec/services/user_updater_spec.rb
Labels: i18n

#25735 DEV: Make more group-based settings client: false
  app/assets/javascripts/admin/addon/routes/admin-route-map.js
  app/assets/javascripts/discourse/app/models/topic.js
  app/serializers/current_user_serializer.rb
  config/site_settings.yml
  db/migrate/20240219012001_remove_enable_experimental_admin_ui_groups_site_settings.rb
  plugins/chat/assets/javascripts/discourse/initializers/chat-setup.js
  plugins/chat/assets/javascripts/discourse/services/chat.js
  plugins/chat/config/settings.yml
  plugins/chat/lib/chat/guardian_extensions.rb
  plugins/chat/plugin.rb
Labels: chat

#25718 DEV: Add property value validation to ThemeSettingsObjectValidator
  config/locales/server.en.yml
  lib/theme_settings_object_validator.rb
  spec/lib/theme_settings_object_validator_spec.rb
Labels: i18n, platform

#25739 FIX: Correct category name for auto_join_users_info in chat
  plugins/chat/assets/javascripts/discourse/components/chat/modal/create-channel.js
Labels: chat

#25719 DEV: Support validations options for string and numeral types
  config/locales/server.en.yml
  lib/theme_settings_object_validator.rb
  spec/lib/theme_settings_object_validator_spec.rb
Labels: i18n, platform

#25736 DEV: chat streaming
  config/initializers/000-zeitwerk.rb
  plugins/chat/app/controllers/chat/api/channels_messages_streaming_controller.rb
  plugins/chat/app/helpers/chat/with_service_helper.rb
  plugins/chat/app/serializers/chat/message_serializer.rb
  plugins/chat/app/services/chat/create_message.rb
  plugins/chat/app/services/chat/list_channel_thread_messages.rb
  plugins/chat/app/services/chat/stop_message_streaming.rb
  plugins/chat/app/services/chat/update_message.rb
  plugins/chat/app/services/chat/update_thread.rb
  plugins/chat/assets/javascripts/discourse/components/chat-message.gjs
  plugins/chat/assets/javascripts/discourse/lib/chat-channel-subscription-manager.js
  plugins/chat/assets/javascripts/discourse/lib/chat-channel-thread-subscription-manager.js
  plugins/chat/assets/javascripts/discourse/models/chat-message.js
  plugins/chat/assets/javascripts/discourse/services/chat-api.js
  plugins/chat/assets/stylesheets/common/chat-message-text.scss
  plugins/chat/assets/stylesheets/common/index.scss
  plugins/chat/config/routes.rb
  plugins/chat/db/migrate/20240213175713_add_streaming_to_message.rb
  plugins/chat/lib/chat_sdk/channel.rb
  plugins/chat/lib/chat_sdk/message.rb
  plugins/chat/lib/chat_sdk/thread.rb
  plugins/chat/plugin.rb
  plugins/chat/spec/fabricators/chat_fabricator.rb
  plugins/chat/spec/lib/chat_sdk/channel_spec.rb
  plugins/chat/spec/lib/chat_sdk/message_spec.rb
  plugins/chat/spec/lib/chat_sdk/thread_spec.rb
  plugins/chat/spec/requests/chat/api/channels_messages_streaming_controller_spec.rb
  plugins/chat/spec/services/chat/create_message_spec.rb
  plugins/chat/spec/services/chat/stop_message_streaming_spec.rb
  plugins/chat/spec/services/chat/update_thread_spec.rb
Labels: chat

#25743 FEATURE: Back button for schema theme settings
  app/assets/javascripts/admin/addon/components/admin-theme-setting-schema.gjs
  app/assets/javascripts/discourse/tests/integration/components/admin-theme-setting-schema-test.gjs
  config/locales/client.en.yml
Labels: i18n

#25766 DEV: skip test for chat link with missing param
  plugins/chat/spec/system/chat_new_message_spec.rb
Labels: chat

#25764 DEV: Centralise logic for validating a theme setting value
  app/models/theme_field.rb
  app/models/theme_setting.rb
  config/locales/server.en.yml
  lib/theme_settings_manager.rb
  lib/theme_settings_manager/enum.rb
  lib/theme_settings_manager/float.rb
  lib/theme_settings_manager/integer.rb
  lib/theme_settings_manager/string.rb
  lib/theme_settings_validator.rb
  spec/models/theme_field_spec.rb
Labels: i18n, platform

#25761 DEV: Set a bytesize limit for `ThemeSetting#json_value`
  app/models/theme_setting.rb
  config/locales/server.en.yml
  spec/models/theme_setting_spec.rb
Labels: i18n, platform

#25760 DEV: Support category type in theme setting object schema
  config/locales/server.en.yml
  lib/theme_settings_object_validator.rb
  spec/lib/theme_settings_object_validator_spec.rb
Labels: i18n, platform

#25762 FEATURE: Add a checkbox for users to confirm before flagging as illegal
  app/assets/javascripts/discourse/app/components/flag-action-type.hbs
  app/assets/javascripts/discourse/app/components/flag-action-type.js
  app/assets/javascripts/discourse/app/components/modal/flag.hbs
  app/assets/javascripts/discourse/app/components/modal/flag.js
  app/assets/javascripts/discourse/app/models/post-action-type.js
  app/assets/stylesheets/common/base/modal.scss
  config/locales/client.en.yml
  spec/system/flagging_post_spec.rb
  spec/system/page_objects/modals/flag.rb
Labels: i18n

#25781 FIX: Admin sidebar was hiding chat/forum toggle button
  app/assets/javascripts/admin/addon/routes/admin.js
  plugins/chat/assets/javascripts/discourse/lib/init-sidebar-state.js
  plugins/chat/spec/system/admin_sidebar_navigation_spec.rb
  spec/system/admin_sidebar_navigation_spec.rb
Labels: chat

#25785 UX: chat channel title links to channel settings
  plugins/chat/assets/javascripts/discourse/components/chat/navbar/channel-title.gjs
  plugins/chat/spec/system/drawer_spec.rb
Labels: chat

#25786 DEV: Update deprecation banner to include id and remove Ember 5 link
  app/assets/javascripts/discourse/app/services/deprecation-warning-handler.js
  config/locales/client.en.yml
Labels: i18n

#25771 FIX: Category results should be ordered by term
  app/controllers/categories_controller.rb
  spec/requests/categories_controller_spec.rb
Labels: platform

#25574 DEV: Add more bulk-select-dropdown options
  app/assets/javascripts/discourse/app/components/modal/bulk-topic-actions.gjs
  app/assets/javascripts/select-kit/addon/components/bulk-select-topics-dropdown.js
  config/locales/client.en.yml
Labels: i18n, staff-experience

#25809 DEV: Do not process requests initiated by browser in a different example
  config/initializers/200-first_middlewares.rb
  plugins/chat/spec/system/chat_new_message_spec.rb
  plugins/chat/spec/system/single_thread_spec.rb
  spec/rails_helper.rb
Labels: chat

#25816 UX: tweaks for send button
  plugins/chat/assets/stylesheets/mobile/chat-composer.scss
Labels: chat

#25821 UX: chat composer > fix typing indicator and top padding (mobile)
  plugins/chat/assets/stylesheets/mobile/chat-composer.scss
Labels: chat

#25832 FIX: Prevent admin sidebar errors in safe mode
  app/assets/javascripts/discourse/app/lib/sidebar/admin-sidebar.js
  app/views/safe_mode/index.html.erb
  plugins/chat/spec/system/admin_sidebar_navigation_spec.rb
Labels: chat

#25836 UX: Chat > send btn alignment + hardcoded value fix
  plugins/chat/assets/stylesheets/mobile/chat-composer.scss
Labels: chat

#25840 DEV: adds a `chat_can_create_direct_message_channel` modifier
  plugins/chat/app/services/chat/create_direct_message_channel.rb
  plugins/chat/spec/services/chat/create_direct_message_channel_spec.rb
Labels: chat

#25839 DEV: Include deprecation link in warning banner
  app/assets/javascripts/discourse/app/services/deprecation-warning-handler.js
  config/locales/client.en.yml
Labels: i18n

#25214 DEV: Convert header to glimmer
  app/assets/javascripts/discourse/app/components/discourse-topic.js
  app/assets/javascripts/discourse/app/components/glimmer-header.gjs
  app/assets/javascripts/discourse/app/components/glimmer-header/auth-buttons.gjs
  app/assets/javascripts/discourse/app/components/glimmer-header/contents.gjs
  app/assets/javascripts/discourse/app/components/glimmer-header/dropdown.gjs
  app/assets/javascripts/discourse/app/components/glimmer-header/hamburger-dropdown-wrapper.gjs
  app/assets/javascripts/discourse/app/components/glimmer-header/icons.gjs
  app/assets/javascripts/discourse/app/components/glimmer-header/panel-portal.gjs
  app/assets/javascripts/discourse/app/components/glimmer-header/search-menu-wrapper.gjs
  app/assets/javascripts/discourse/app/components/glimmer-header/sidebar-toggle.gjs
  app/assets/javascripts/discourse/app/components/glimmer-header/topic/featured-link.gjs
  app/assets/javascripts/discourse/app/components/glimmer-header/topic/info.gjs
  app/assets/javascripts/discourse/app/components/glimmer-header/topic/participant.gjs
  app/assets/javascripts/discourse/app/components/glimmer-header/topic/status.gjs
  app/assets/javascripts/discourse/app/components/glimmer-header/user-dropdown.gjs
  app/assets/javascripts/discourse/app/components/glimmer-header/user-dropdown/notifications.gjs
  app/assets/javascripts/discourse/app/components/glimmer-header/user-dropdown/user-status-bubble.gjs
  app/assets/javascripts/discourse/app/components/glimmer-header/user-menu-wrapper.gjs
  app/assets/javascripts/discourse/app/components/glimmer-site-header.gjs
  app/assets/javascripts/discourse/app/components/legacy-header-icon-shim.gjs
  app/assets/javascripts/discourse/app/components/menu-panel.hbs
  app/assets/javascripts/discourse/app/components/search-menu-panel.hbs
  app/assets/javascripts/discourse/app/components/search-menu.hbs
  app/assets/javascripts/discourse/app/components/user-menu/items-list.hbs
  app/assets/javascripts/discourse/app/helpers/bound-avatar-template.js
  app/assets/javascripts/discourse/app/lib/plugin-api.js
  app/assets/javascripts/discourse/app/lib/render-topic-featured-link.js
  app/assets/javascripts/discourse/app/mixins/docking.js
  app/assets/javascripts/discourse/app/modifiers/close-on-click-outside.js
  app/assets/javascripts/discourse/app/services/header.js
  app/assets/javascripts/discourse/app/templates/application.hbs
  app/assets/javascripts/discourse/app/widgets/header.js
  app/assets/javascripts/discourse/app/widgets/sidebar-toggle.js
  app/assets/javascripts/discourse/app/widgets/user-status-bubble.js
  app/assets/javascripts/discourse/tests/helpers/qunit-helpers.js
  app/assets/javascripts/discourse/tests/integration/components/site-header-test.js
  app/assets/javascripts/discourse/tests/integration/components/widgets/header-test.js
  app/assets/stylesheets/common/base/header.scss
  app/assets/stylesheets/mobile/header.scss
  app/models/user.rb
  app/serializers/current_user_serializer.rb
  config/locales/server.en.yml
  config/site_settings.yml
  docs/CHANGELOG-JAVASCRIPT-PLUGIN-API.md
  spec/system/header_spec.rb
Labels: i18n

#25852 FIX: prevents exception when last reply has deleted user
  plugins/chat/app/serializers/chat/thread_preview_serializer.rb
  plugins/chat/spec/system/thread_preview_spec.rb
Labels: chat

#25830 FEATURE: Add scheduled Twitter login problem check - Part 1
  config/locales/server.en.yml
  lib/auth/twitter_authenticator.rb
  lib/problem_check.rb
  lib/problem_check/twitter_login.rb
  spec/jobs/problem_checks_spec.rb
  spec/lib/auth/twitter_authenticator_spec.rb
  spec/lib/problem_check/twitter_login_spec.rb
  spec/lib/problem_check_spec.rb
Labels: i18n

#25855 DEV: prevents flakey spec
  plugins/chat/spec/system/thread_preview_spec.rb
Labels: chat

#25774 DEV: allows stop/resume streaming on a message
  plugins/chat/app/services/chat/stop_message_streaming.rb
  plugins/chat/assets/stylesheets/common/chat-message-text.scss
  plugins/chat/lib/chat/guardian_extensions.rb
  plugins/chat/lib/chat_sdk/channel.rb
  plugins/chat/lib/chat_sdk/message.rb
  plugins/chat/lib/chat_sdk/thread.rb
  plugins/chat/spec/lib/chat/guardian_extensions_spec.rb
  plugins/chat/spec/lib/chat_sdk/message_spec.rb
Labels: chat

#24300 FEATURE: Hide user status when user is hiding public profile and presence
  app/controllers/users_controller.rb
  app/models/user_search.rb
  app/serializers/basic_user_serializer.rb
  app/serializers/basic_user_with_status_serializer.rb
  app/serializers/concerns/user_status_mixin.rb
  app/serializers/current_user_serializer.rb
  app/serializers/found_user_serializer.rb
  app/serializers/found_user_with_status_serializer.rb
  app/serializers/group_user_serializer.rb
  app/serializers/group_user_with_custom_fields_serializer.rb
  app/serializers/post_serializer.rb
  app/serializers/user_card_serializer.rb
  app/serializers/user_with_custom_fields_serializer.rb
  lib/presence_channel.rb
  plugins/chat/app/serializers/chat/chatable_user_serializer.rb
  plugins/chat/app/serializers/chat/chatables_serializer.rb
  plugins/chat/app/serializers/chat/direct_message_serializer.rb
  plugins/chat/app/serializers/chat/message_serializer.rb
  plugins/chat/app/serializers/chat/message_user_serializer.rb
  plugins/chat/app/serializers/chat/thread_original_message_serializer.rb
  plugins/chat/app/serializers/chat/user_with_custom_fields_and_status_serializer.rb
  plugins/chat/spec/requests/chat/api/channel_threads_controller_spec.rb
  plugins/chat/spec/serializer/chat/chat_message_serializer_spec.rb
  plugins/chat/spec/serializer/chat/chatable_user_serializer_spec.rb
  plugins/chat/spec/serializer/chat/direct_message_serializer_spec.rb
  plugins/chat/spec/serializer/chat/thread_original_message_serializer_spec.rb
  plugins/chat/spec/services/chat/update_message_spec.rb
  spec/serializers/basic_user_serializer_spec.rb
  spec/serializers/basic_user_with_status_serializer_spec.rb
  spec/serializers/concerns/user_status_mixin_spec.rb
  spec/serializers/found_user_serializer_spec.rb
  spec/serializers/group_user_with_custom_fields_serializer_spec.rb
  spec/serializers/post_serializer_spec.rb
  spec/serializers/user_with_custom_fields_serializer_spec.rb
Labels: chat

#25859 UX: remove margin on bookmark icon on chat msg
  plugins/chat/assets/stylesheets/common/chat-message-info.scss
Labels: chat

#25881 UX: fix border-radius for dropdown in chat msg actions
  plugins/chat/assets/stylesheets/common/chat-message-actions.scss
Labels: chat

#25885 DEV: Update chat `addToHeaderIcons` to pass component
  plugins/chat/assets/javascripts/discourse/components/chat/header/icon.gjs
  plugins/chat/assets/javascripts/discourse/initializers/chat-setup.js
  plugins/chat/assets/javascripts/discourse/widgets/chat-header-icon.js
Labels: chat

#25888 DEV: Add loading spinner to install theme modal
  app/assets/javascripts/admin/addon/components/modal/install-theme.hbs
  config/locales/client.en.yml
Labels: i18n, staff-experience

#25833 DEV: Validate default value for `type: objects` theme settings
  config/locales/server.en.yml
  lib/theme_settings_object_validator.rb
  lib/theme_settings_validator.rb
  spec/fixtures/theme_settings/invalid_settings.yaml
  spec/lib/theme_settings_object_validator_spec.rb
  spec/models/theme_field_spec.rb
Labels: i18n, platform

#25831 FEATURE: Add user status to chat members list
  plugins/chat/app/serializers/chat/user_channel_membership_serializer.rb
  plugins/chat/assets/javascripts/discourse/components/chat-user-display-name.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-user-info.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/routes/channel-info-members.gjs
  plugins/chat/assets/stylesheets/common/chat-channel-members.scss
  plugins/chat/spec/support/api/schemas/user_chat_channel_membership.json
  plugins/chat/spec/system/channel_members_page_spec.rb
  plugins/chat/test/javascripts/components/chat-user-display-name-test.js
Labels: chat

#25903 DEV: skip test for channel members user status
  plugins/chat/spec/system/channel_members_page_spec.rb
Labels: chat

#25907 DEV: Support topic, post, group, upload and tag type for theme objects setting
  config/locales/server.en.yml
  lib/theme_settings_object_validator.rb
  spec/lib/theme_settings_object_validator_spec.rb
Labels: i18n, platform

#25901 FIX: `ThemeSettingsValidator.validate_value` returning wrong error
  lib/theme_settings_validator.rb
  spec/lib/theme_settings_validator_spec.rb
Labels: platform

#25908 FIX: better handling of error on create DM
  plugins/chat/app/controllers/chat/api/direct_messages_controller.rb
  plugins/chat/assets/javascripts/discourse/components/chat/user-card-button.gjs
  plugins/chat/config/locales/server.en.yml
Labels: chat, i18n

#25906 FIX: add status to channel membership serializer
  plugins/chat/app/serializers/chat/user_channel_membership_serializer.rb
  plugins/chat/spec/support/api/schemas/user_chat_channel_membership.json
  plugins/chat/spec/system/channel_members_page_spec.rb
Labels: chat

#25911 DEV: Extensively use `exception: true` in `system()`
  lib/tasks/annotate.rake
  lib/tasks/db.rake
  lib/tasks/javascript.rake
  lib/tasks/qunit.rake
  lib/tasks/smoke_test.rake
  lib/tasks/svg_icons.rake
  migrations/spec/import_spec.rb
Labels: migrations-tooling

#25889 DEV: Add modifiers for plugins to customize PN translation arguments
  app/services/post_alerter.rb
  app/services/push_notification_pusher.rb
  plugins/chat/app/jobs/regular/chat/notify_watching.rb
  plugins/chat/spec/jobs/regular/chat/notify_watching_spec.rb
  spec/services/post_alerter_spec.rb
  spec/services/push_notification_pusher_spec.rb
Labels: chat

#25853 FEATURE: filter admin sidebar
  app/assets/javascripts/discourse/app/components/modal/keyboard-shortcuts-help.js
  app/assets/javascripts/discourse/app/components/sidebar/api-section.hbs
  app/assets/javascripts/discourse/app/components/sidebar/api-section.js
  app/assets/javascripts/discourse/app/components/sidebar/api-sections.hbs
  app/assets/javascripts/discourse/app/components/sidebar/filter-no-results.gjs
  app/assets/javascripts/discourse/app/components/sidebar/filter.gjs
  app/assets/javascripts/discourse/app/lib/keyboard-shortcuts.js
  app/assets/javascripts/discourse/app/lib/sidebar/admin-sidebar.js
  app/assets/javascripts/discourse/app/lib/sidebar/base-custom-sidebar-panel.js
  app/assets/javascripts/discourse/app/services/sidebar-state.js
  app/assets/stylesheets/common/base/menu-panel.scss
  app/assets/stylesheets/common/base/sidebar.scss
  config/locales/client.en.yml
  spec/system/admin_sidebar_navigation_spec.rb
  spec/system/page_objects/components/filter.rb
Labels: i18n, staff-experience

#25899 DEV: save/restore the previous sidebar panel state
  app/assets/javascripts/admin/addon/routes/admin.js
  app/assets/javascripts/discourse/app/services/sidebar-state.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-plugin-api-test.js
Labels: staff-experience

#25902 DEV: Validate objects when updating typed objects theme settings
  lib/theme_settings_manager/objects.rb
  lib/theme_settings_object_validator.rb
  spec/fixtures/theme_settings/objects_settings.yaml
  spec/lib/theme_settings_manager/objects_spec.rb
Labels: platform

#25904 DEV: Refactor `ThemeSettingsObjectValidator#validate`
  lib/theme_settings_object_validator.rb
Labels: platform

#25927 FEATURE: introduces chat_preferred_mobile_index setting
  plugins/chat/assets/javascripts/discourse/routes/chat-index.js
  plugins/chat/config/locales/server.en.yml
  plugins/chat/config/settings.yml
  plugins/chat/spec/system/list_channels/mobile_spec.rb
Labels: chat, i18n

#25433 DEV: Introduce a helper for handling events
  app/assets/javascripts/admin/addon/components/site-settings/integer.hbs
  app/assets/javascripts/admin/addon/templates/dashboard_reports.hbs
  app/assets/javascripts/discourse/app/components/edit-category-settings.hbs
  app/assets/javascripts/discourse/app/components/emoji-uploader.hbs
  app/assets/javascripts/discourse/app/components/future-date-input.hbs
  app/assets/javascripts/discourse/app/components/modal/reorder-categories.hbs
  app/assets/javascripts/discourse/app/components/modal/sidebar-section-form.hbs
  app/assets/javascripts/discourse/app/components/number-field.js
  app/assets/javascripts/discourse/app/components/search-advanced-options.hbs
  app/assets/javascripts/discourse/app/components/sidebar/section-form-link.hbs
  app/assets/javascripts/discourse/app/components/tag-info.hbs
  app/assets/javascripts/discourse/app/helpers/with-event-value.js
  app/assets/javascripts/discourse/app/templates/groups/index.hbs
  app/assets/javascripts/discourse/app/templates/users.hbs
  app/assets/javascripts/discourse/tests/integration/components/char-counter-test.js
  plugins/chat/assets/javascripts/discourse/components/chat-emoji-picker.hbs
  plugins/chat/assets/javascripts/discourse/components/chat/modal/create-channel.hbs
  plugins/chat/assets/javascripts/discourse/components/chat/modal/edit-channel-description.hbs
  plugins/styleguide/assets/javascripts/discourse/components/sections/molecules/char-counter.hbs
Labels: chat

#25929 UX: chat > general fixes
  plugins/chat/assets/stylesheets/common/chat-message-separator.scss
  plugins/chat/assets/stylesheets/desktop/chat-composer-uploads.scss
  plugins/chat/assets/stylesheets/mobile/chat-composer.scss
Labels: chat

#25905 FIX: Show deleted bookmark reminders in user bookmarks menu
  app/services/base_bookmarkable.rb
  app/services/post_bookmarkable.rb
  app/services/registered_bookmarkable.rb
  app/services/topic_bookmarkable.rb
  lib/bookmark_query.rb
  plugins/chat/lib/chat/message_bookmarkable.rb
  plugins/chat/spec/lib/chat/message_bookmarkable_spec.rb
  spec/requests/users_controller_spec.rb
  spec/services/base_bookmarkable_spec.rb
  spec/services/post_bookmarkable_spec.rb
  spec/services/topic_bookmarkable_spec.rb
Labels: chat

#25925 FIX: channel member status live updates
  plugins/chat/assets/javascripts/discourse/components/chat-user-info.gjs
  plugins/chat/test/javascripts/components/chat-user-info-test.js
Labels: chat

#25957 DEV: Fix random typos
  app/assets/javascripts/admin/addon/models/admin-plugin.js
  app/assets/javascripts/discourse/app/lib/plugin-api.js
  app/assets/javascripts/discourse/app/loader-shims.js
  app/assets/javascripts/discourse/tests/loader-shims.js
  plugins/chat/spec/system/chat_composer_draft_spec.rb
  spec/fabricators/post_fabricator.rb
  spec/lib/plugin/instance_spec.rb
  spec/models/post_spec.rb
  spec/requests/categories_controller_spec.rb
  spec/system/topic_page_spec.rb
Labels: chat

#25962 DEV: attempts to make last spec non flakey
  plugins/chat/spec/system/update_last_read_spec.rb
Labels: chat

#25965 DEV: Add push notification filtering to MessageBus alerts
  app/services/post_alerter.rb
  plugins/chat/app/jobs/regular/chat/notify_watching.rb
  plugins/chat/spec/jobs/regular/chat/notify_watching_spec.rb
  spec/services/post_alerter_spec.rb
Labels: chat

#25961 FIX: instantly removes group message when leaving
  plugins/chat/assets/javascripts/discourse/services/chat-api.js
  plugins/chat/assets/stylesheets/common/chat-channel-row.scss
  plugins/chat/spec/system/drawer/index_spec.rb
  plugins/chat/spec/system/page_objects/chat/components/channel_row.rb
  plugins/chat/spec/system/page_objects/chat_drawer/chat_drawer.rb
Labels: chat

#25978 FEATURE: Add recover api scopes
  app/models/api_key_scope.rb
  config/locales/client.en.yml
  spec/requests/admin/api_controller_spec.rb
Labels: i18n
