Repository discourse/discourse, pull requests merged in 2024-09, with the labels that each got.

#28661 DEV: Refactor complex initializers into classes
  app/assets/javascripts/discourse/app/instance-initializers/banner.js
  app/assets/javascripts/discourse/app/instance-initializers/live-development.js
  app/assets/javascripts/discourse/app/instance-initializers/logout.js
  app/assets/javascripts/discourse/app/instance-initializers/read-only.js
  app/assets/javascripts/discourse/app/instance-initializers/subscribe-user-notifications.js
  plugins/chat/assets/javascripts/discourse/initializers/chat-setup.js
  plugins/discourse-local-dates/assets/javascripts/initializers/discourse-local-dates.js
Labels: chat

#28639 FEATURE: Add ability to watch chat threads
  app/models/notification.rb
  plugins/chat/app/jobs/regular/chat/notify_watching.rb
  plugins/chat/app/models/chat/thread.rb
  plugins/chat/app/models/chat/tracking_state_report.rb
  plugins/chat/app/queries/chat/channel_unreads_query.rb
  plugins/chat/app/queries/chat/thread_unreads_query.rb
  plugins/chat/app/queries/chat/tracking_state_report_query.rb
  plugins/chat/app/services/chat/lookup_user_threads.rb
  plugins/chat/assets/javascripts/discourse/components/chat-channel-unread-indicator.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-channel.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-thread-list.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/footer/unread-indicator.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/message-creator/channel.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/thread-list/item.gjs
  plugins/chat/assets/javascripts/discourse/components/thread-unread-indicator/index.gjs
  plugins/chat/assets/javascripts/discourse/components/user-threads/index.gjs
  plugins/chat/assets/javascripts/discourse/initializers/chat-user-menu.js
  plugins/chat/assets/javascripts/discourse/lib/chat-notification-levels.js
  plugins/chat/assets/javascripts/discourse/models/chat-channel.js
  plugins/chat/assets/javascripts/discourse/models/chat-tracking-state.js
  plugins/chat/assets/javascripts/discourse/services/chat-subscriptions-manager.js
  plugins/chat/assets/javascripts/discourse/services/chat-tracking-state-manager.js
  plugins/chat/assets/javascripts/discourse/services/chat.js
  plugins/chat/config/locales/client.en.yml
  plugins/chat/lib/chat/notification_consolidation_extension.rb
  plugins/chat/plugin.rb
  plugins/chat/spec/jobs/regular/chat/notify_watching_spec.rb
  plugins/chat/spec/queries/chat/channel_unreads_query_spec.rb
  plugins/chat/spec/queries/chat/thread_unreads_query_spec.rb
  plugins/chat/spec/queries/chat/tracking_state_report_query_spec.rb
  plugins/chat/spec/services/chat/list_channel_messages_spec.rb
  plugins/chat/spec/services/chat/list_user_channels_spec.rb
  plugins/chat/spec/services/chat/mark_all_user_channels_read_spec.rb
  plugins/chat/spec/services/chat/publisher_spec.rb
  plugins/chat/spec/services/chat/tracking_state_spec.rb
  plugins/chat/spec/system/chat_footer_spec.rb
  plugins/chat/spec/system/page_objects/chat/components/thread_list.rb
  plugins/chat/spec/system/thread_tracking/drawer_spec.rb
  plugins/chat/spec/system/thread_tracking/full_page_spec.rb
  spec/requests/api/schemas/json/site_response.json
Labels: chat, i18n

#28570 DEV: the ability to define setting areas
  app/assets/javascripts/admin/addon/components/admin-config-areas/flags-settings.gjs
  app/controllers/admin/config/site_settings_controller.rb
  app/models/site_setting.rb
  config/site_settings.yml
  lib/site_setting_extension.rb
  plugins/chat/config/settings.yml
  spec/lib/site_setting_extension_spec.rb
  spec/requests/admin/config/site_settings_controller_spec.rb
  spec/system/admin_flags_spec.rb
Labels: chat

#28681 FIX: prevents PM to large groups
  app/models/group.rb
  config/locales/server.en.yml
  config/site_settings.yml
  lib/has_errors.rb
  lib/topic_creator.rb
  spec/lib/topic_creator_spec.rb
  spec/models/group_spec.rb
Labels: i18n

#28655 FEATURE: Support designating multiple groups as mods on category
  app/assets/javascripts/discourse/app/components/edit-category-settings.hbs
  app/assets/javascripts/discourse/app/components/edit-category-settings.js
  app/assets/javascripts/discourse/app/models/category.js
  app/assets/javascripts/discourse/app/models/topic.js
  app/controllers/categories_controller.rb
  app/controllers/reviewable_claimed_topics_controller.rb
  app/jobs/regular/notify_reviewable.rb
  app/models/about.rb
  app/models/category.rb
  app/models/category_moderation_group.rb
  app/models/group.rb
  app/models/reviewable.rb
  app/models/reviewable_flagged_post.rb
  app/models/reviewable_post.rb
  app/models/reviewable_queued_post.rb
  app/models/reviewable_user.rb
  app/serializers/category_serializer.rb
  db/migrate/20240828191047_create_category_moderation_groups.rb
  lib/guardian.rb
  lib/guardian/user_guardian.rb
  lib/post_action_creator.rb
  lib/topic_view.rb
  plugins/chat/spec/lib/chat/guardian_extensions_spec.rb
  plugins/chat/spec/system/move_message_to_channel_spec.rb
  plugins/discourse-presence/plugin.rb
  plugins/discourse-presence/spec/integration/presence_spec.rb
  spec/fabricators/category_moderation_group_fabricator.rb
  spec/jobs/notify_reviewable_spec.rb
  spec/jobs/refresh_users_reviewable_counts_spec.rb
  spec/lib/guardian/topic_guardian_spec.rb
  spec/lib/guardian/user_guardian_spec.rb
  spec/lib/guardian_spec.rb
  spec/lib/new_post_manager_spec.rb
  spec/lib/post_destroyer_spec.rb
  spec/lib/post_revisor_spec.rb
  spec/lib/topic_query_spec.rb
  spec/lib/validators/post_validator_spec.rb
  spec/models/about_spec.rb
  spec/models/category_spec.rb
  spec/models/post_action_spec.rb
  spec/models/reviewable_spec.rb
  spec/models/user_spec.rb
  spec/requests/categories_controller_spec.rb
  spec/requests/posts_controller_spec.rb
  spec/requests/reviewable_claimed_topics_controller_spec.rb
  spec/requests/topics_controller_spec.rb
  spec/serializers/category_serializer_spec.rb
  spec/serializers/post_serializer_spec.rb
  spec/serializers/topic_view_serializer_spec.rb
Labels: chat

#28723 UX: Update post_menu and post_menu_hidden_items copy
  config/locales/server.en.yml
Labels: i18n

#28725 DEV: Approved Post Webhook Event Category Update
  app/models/web_hook.rb
  app/models/web_hook_event_type.rb
  config/locales/client.en.yml
  db/fixtures/007_web_hook_event_types.rb
Labels: i18n

#28703 UX: Update Chat Group Name and Placeholder
  plugins/chat/app/models/chat/direct_message.rb
  plugins/chat/assets/javascripts/discourse/components/chat/composer/channel.js
  plugins/chat/config/locales/client.en.yml
  plugins/chat/spec/models/chat/direct_message_spec.rb
  plugins/chat/test/javascripts/components/chat-composer-placeholder-test.js
Labels: chat, i18n

#28728 DEV: remove CSS for consolidated DM notifications
  plugins/chat/assets/stylesheets/common/core-extensions.scss
Labels: chat

#28727 DEV: Deprecate `show_in_ui` argument of the `register_stat` API
  app/assets/javascripts/discourse/app/controllers/about.js
  app/assets/javascripts/discourse/app/lib/plugin-api.gjs
  app/assets/javascripts/discourse/app/templates/about.hbs
  app/assets/javascripts/discourse/tests/helpers/qunit-helpers.js
  lib/plugin/instance.rb
  plugins/chat/assets/javascripts/discourse/initializers/chat-setup.js
  plugins/chat/plugin.rb
Labels: chat

#28724 UX: Apply admin UI to Badges
  app/assets/javascripts/admin/addon/components/admin-page-action-button.gjs
  app/assets/javascripts/admin/addon/routes/admin-badges/index.js
  app/assets/javascripts/admin/addon/templates/admin-badges.hbs
  app/assets/javascripts/admin/addon/templates/admin-badges/award.hbs
  app/assets/javascripts/admin/addon/templates/admin-badges/index.hbs
  app/assets/javascripts/admin/addon/templates/admin-badges/show.hbs
  app/assets/javascripts/discourse/app/components/d-button.gjs
  app/assets/stylesheets/common/admin/admin_page_header.scss
  app/assets/stylesheets/common/admin/badges.scss
  config/locales/client.en.yml
Labels: i18n

#28749 DEV: Change recommended banner dimensions to 1100x300
  config/locales/client.en.yml
Labels: i18n

#28708 DEV: Drop `WithServiceHelper`
  app/controllers/admin/admin_controller.rb
  app/controllers/admin/config/about_controller.rb
  app/controllers/admin/config/flags_controller.rb
  app/controllers/admin/site_settings_controller.rb
  app/controllers/admin/staff_controller.rb
  app/controllers/admin/users_controller.rb
  app/helpers/with_service_helper.rb
  app/jobs/service_job.rb
  app/services/service/base.rb
  lib/service_runner.rb
  plugins/chat/app/controllers/chat/api/channel_messages_controller.rb
  plugins/chat/app/controllers/chat/api/channel_thread_messages_controller.rb
  plugins/chat/app/controllers/chat/api/channel_threads_controller.rb
  plugins/chat/app/controllers/chat/api/channel_threads_current_user_notifications_settings_controller.rb
  plugins/chat/app/controllers/chat/api/channel_threads_current_user_title_prompt_seen_controller.rb
  plugins/chat/app/controllers/chat/api/channels_controller.rb
  plugins/chat/app/controllers/chat/api/channels_current_user_membership_controller.rb
  plugins/chat/app/controllers/chat/api/channels_current_user_membership_follows_controller.rb
  plugins/chat/app/controllers/chat/api/channels_drafts_controller.rb
  plugins/chat/app/controllers/chat/api/channels_invites_controller.rb
  plugins/chat/app/controllers/chat/api/channels_memberships_controller.rb
  plugins/chat/app/controllers/chat/api/channels_messages_flags_controller.rb
  plugins/chat/app/controllers/chat/api/channels_messages_streaming_controller.rb
  plugins/chat/app/controllers/chat/api/channels_read_controller.rb
  plugins/chat/app/controllers/chat/api/channels_status_controller.rb
  plugins/chat/app/controllers/chat/api/channels_threads_drafts_controller.rb
  plugins/chat/app/controllers/chat/api/channels_threads_read_controller.rb
  plugins/chat/app/controllers/chat/api/chatables_controller.rb
  plugins/chat/app/controllers/chat/api/current_user_channels_controller.rb
  plugins/chat/app/controllers/chat/api/current_user_threads_controller.rb
  plugins/chat/app/controllers/chat/api/direct_messages_controller.rb
  plugins/chat/app/controllers/chat/api_controller.rb
  plugins/chat/app/controllers/chat/incoming_webhooks_controller.rb
  plugins/chat/app/jobs/regular/chat/auto_join_channel_batch.rb
  plugins/chat/lib/chat_sdk/channel.rb
  plugins/chat/lib/chat_sdk/message.rb
  plugins/chat/lib/chat_sdk/thread.rb
  spec/lib/service_runner_spec.rb
  spec/rails_helper.rb
Labels: chat

#28731 UX: chat drawer increase unread channel visibility
  plugins/chat/assets/javascripts/discourse/components/channel-name/index.gjs
  plugins/chat/assets/javascripts/discourse/components/channel-title/index.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-channel-metadata.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-channel-row.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/message-creator/channel.gjs
  plugins/chat/assets/javascripts/discourse/services/chat-channels-manager.js
  plugins/chat/assets/stylesheets/common/chat-channel-name.scss
  plugins/chat/assets/stylesheets/common/chat-channel-row.scss
  plugins/chat/assets/stylesheets/common/chat-message-creator.scss
  plugins/chat/spec/system/channel_settings_page_spec.rb
  plugins/chat/test/javascripts/components/channel-name-test.gjs
  plugins/chat/test/javascripts/components/chat-channel-metadata-test.js
Labels: chat

#28755 DEV: send_chat_message supports topic_tags_changed
  plugins/chat/plugin.rb
  plugins/chat/spec/plugin_spec.rb
Labels: chat

#28756 UX: fix spacing of emoji in chat channel title
  plugins/chat/assets/stylesheets/common/chat-channel-name.scss
Labels: chat

#28759 FIX: toggle chat drawer on channel thread list
  plugins/chat/assets/javascripts/discourse/components/chat/drawer-routes/channel-threads.gjs
Labels: chat

#28757 DEV: adds post_created_edited suport to chat
  plugins/automation/config/locales/client.en.yml
  plugins/automation/lib/discourse_automation/event_handlers.rb
  plugins/automation/lib/discourse_automation/triggers/post_created_edited.rb
  plugins/automation/spec/triggers/post_created_edited_spec.rb
  plugins/chat/plugin.rb
  plugins/chat/spec/plugin_spec.rb
Labels: chat, i18n

#28760 UX: update chat channel sorting
  plugins/chat/assets/javascripts/discourse/services/chat-channels-manager.js
Labels: chat

#28766 FEATURE: Add 'Edit this page' link at the top of the new /about page
  app/assets/javascripts/discourse/app/components/about-page.gjs
  config/locales/client.en.yml
  spec/system/about_page_spec.rb
  spec/system/page_objects/pages/about.rb
Labels: i18n

#28773 FIX: supports groups field in post_created_edited
  plugins/automation/admin/assets/javascripts/admin/components/automation-field.gjs
  plugins/automation/admin/assets/javascripts/admin/components/fields/da-groups-field.gjs
  plugins/automation/app/models/discourse_automation/field.rb
  plugins/automation/config/locales/client.en.yml
  plugins/automation/db/migrate/20240906091215_update_fields_for_post_created_edited_trigger.rb
  plugins/automation/lib/discourse_automation/event_handlers.rb
  plugins/automation/lib/discourse_automation/triggers/post_created_edited.rb
  plugins/automation/spec/triggers/post_created_edited_spec.rb
  plugins/automation/test/javascripts/integration/components/da-groups-field-test.js
Labels: i18n

#28781 Revert "FIX: supports groups field in post_created_edited (#28773)"
  plugins/automation/admin/assets/javascripts/admin/components/automation-field.gjs
  plugins/automation/admin/assets/javascripts/admin/components/fields/da-groups-field.gjs
  plugins/automation/app/models/discourse_automation/field.rb
  plugins/automation/config/locales/client.en.yml
  plugins/automation/db/migrate/20240906091215_update_fields_for_post_created_edited_trigger.rb
  plugins/automation/lib/discourse_automation/event_handlers.rb
  plugins/automation/lib/discourse_automation/triggers/post_created_edited.rb
  plugins/automation/spec/triggers/post_created_edited_spec.rb
  plugins/automation/test/javascripts/integration/components/da-groups-field-test.js
Labels: i18n

#28387 FEATURE: play chat sound when chat badge icon is shown
  plugins/chat/assets/javascripts/discourse/initializers/chat-audio.js
  plugins/chat/assets/javascripts/discourse/lib/chat-constants.js
  plugins/chat/assets/javascripts/discourse/services/chat-notification-manager.js
  plugins/chat/test/javascripts/unit/lib/chat-audio-test.js
Labels: chat

#28783 FIX: supports groups field in post_created_edited
  plugins/automation/admin/assets/javascripts/admin/components/automation-field.gjs
  plugins/automation/admin/assets/javascripts/admin/components/fields/da-groups-field.gjs
  plugins/automation/app/models/discourse_automation/field.rb
  plugins/automation/config/locales/client.en.yml
  plugins/automation/db/migrate/20240906142121_migrate_fields_from_group_to_groups.rb
  plugins/automation/lib/discourse_automation/event_handlers.rb
  plugins/automation/lib/discourse_automation/triggers/post_created_edited.rb
  plugins/automation/spec/triggers/post_created_edited_spec.rb
  plugins/automation/test/javascripts/integration/components/da-groups-field-test.js
Labels: i18n

#28787 FEATURE: Log tag group changes in staff action log
  app/assets/javascripts/admin/addon/components/modal/staff-action-log-change.hbs
  app/assets/javascripts/admin/addon/components/modal/staff-action-log-change.js
  app/assets/javascripts/admin/addon/controllers/admin-logs-staff-action-logs.js
  app/assets/javascripts/admin/addon/models/staff-action-log.js
  app/controllers/admin/staff_action_logs_controller.rb
  app/controllers/tag_groups_controller.rb
  app/models/user_history.rb
  app/services/staff_action_logger.rb
  config/locales/client.en.yml
  spec/requests/admin/staff_action_logs_controller_spec.rb
  spec/requests/tag_groups_controller_spec.rb
Labels: i18n

#28745 DEV: Changed text for approved post webhook event
  config/locales/client.en.yml
Labels: i18n

#28802 FEATURE: Added Category Experts unapproved post WebHook Event
  app/models/web_hook.rb
  app/models/web_hook_event_type.rb
  config/locales/client.en.yml
  db/fixtures/007_web_hook_event_types.rb
  spec/models/web_hook_event_type_spec.rb
Labels: i18n

#28729 FEATURE: Switch to new methods of pageview measurement and reporting
  app/assets/javascripts/admin/addon/components/admin-report-stacked-chart.gjs
  app/assets/javascripts/admin/addon/components/admin-report.hbs
  app/assets/javascripts/admin/addon/components/admin-report.js
  app/assets/javascripts/admin/addon/controllers/admin-dashboard-general.js
  app/assets/javascripts/admin/addon/templates/dashboard_general.hbs
  app/assets/stylesheets/common/admin/dashboard.scss
  app/controllers/admin/reports_controller.rb
  app/models/concerns/reports/consolidated_page_views.rb
  app/models/concerns/reports/consolidated_page_views_browser_detection.rb
  app/models/concerns/reports/site_traffic.rb
  app/models/report.rb
  config/locales/server.en.yml
  config/site_settings.yml
  spec/models/report_spec.rb
  spec/requests/admin/reports_controller_spec.rb
  spec/system/admin_dashboard_community_health_spec.rb
Labels: i18n

#28790 UX: Add a description on the about config area
  app/assets/javascripts/admin/addon/templates/config-about.hbs
  config/locales/client.en.yml
Labels: i18n

#28818 FIX: prevent chat channel not found ajax error
  plugins/chat/assets/javascripts/discourse/services/chat-notification-manager.js
Labels: chat

#28809 FEATURE: Add setting to exclude groups from /about page
  app/models/about.rb
  config/locales/server.en.yml
  config/site_settings.yml
  spec/models/about_spec.rb
Labels: i18n

#28839 FIX: use a custom prefix for custom flags
  app/assets/javascripts/admin/addon/components/admin-flags-form.gjs
  app/models/flag.rb
  config/locales/client.en.yml
  spec/lib/post_action_type_view_spec.rb
  spec/models/flag_spec.rb
  spec/models/post_action_spec.rb
  spec/system/admin_flags_spec.rb
Labels: i18n

#27902 removed periods from one-liner instructions on signup form
  config/locales/client.en.yml
Labels: i18n

#27993 updated sidebar links to security settings and spam settings
  config/locales/client.en.yml
Labels: i18n

#28884 FIX: Regression in short description in admin badges page
  app/assets/javascripts/admin/addon/templates/admin-badges.hbs
  config/locales/client.en.yml
Labels: i18n

#28890 DEV: Add a missing service injection
  plugins/chat/assets/javascripts/discourse/services/chat-emoji-reaction-store.js
  plugins/chat/test/javascripts/unit/lib/chat-emoji-reaction-store-test.js
Labels: chat

#28889 DEV: Remove duplicated tests
  plugins/chat/test/javascripts/unit/lib/get-reaction-text-test.js
Labels: chat

#28891 DEV: Fix random typos
  app/assets/javascripts/discourse/tests/integration/components/light-dark-img-test.gjs
  plugins/chat/assets/javascripts/discourse/lib/fabricators.js
  plugins/chat/test/javascripts/unit/models/chat-message-test.js
Labels: chat

#28898 UX: Add link to bootstrap mode docs
  config/locales/server.en.yml
  docs/ADMIN-QUICK-START-GUIDE.md
Labels: i18n

#28900 UX: update stying of chat composer focused state
  plugins/chat/assets/stylesheets/common/chat-composer.scss
  plugins/chat/assets/stylesheets/mobile/chat-composer.scss
Labels: chat

#28822 UX: sort chat channels by activity in desktop drawer
  plugins/chat/assets/javascripts/discourse/components/channels-list-public.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/drawer-routes/channels.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/routes/channels.gjs
  plugins/chat/assets/javascripts/discourse/services/chat-channels-manager.js
  plugins/chat/spec/system/list_channels/sidebar_spec.rb
Labels: chat

#28927 DEV: add spec for chat drawer channel lists
  plugins/chat/spec/system/list_channels/drawer_spec.rb
  plugins/chat/spec/system/page_objects/chat/components/channels_index.rb
  plugins/chat/spec/system/page_objects/chat_drawer/chat_drawer.rb
Labels: chat

#28843 FEATURE: allow names in chat channel title
  plugins/chat/app/models/chat/direct_message.rb
  plugins/chat/assets/javascripts/discourse/components/channel-name/index.gjs
  plugins/chat/spec/models/chat/direct_message_spec.rb
  plugins/chat/test/javascripts/components/channel-name-test.gjs
Labels: chat

#28904 UX: small colour change to chat composer insert button
  plugins/chat/assets/stylesheets/common/chat-composer-dropdown.scss
Labels: chat

#28916 FEATURE: Add ability to dismiss admin notices
  app/assets/javascripts/admin/addon/components/admin-notice.gjs
  app/assets/javascripts/admin/addon/components/dashboard-problems.gjs
  app/assets/javascripts/admin/addon/controllers/admin-dashboard.js
  app/assets/javascripts/admin/addon/templates/dashboard.hbs
  app/assets/javascripts/discourse/tests/acceptance/dashboard-test.js
  app/assets/stylesheets/common/admin/dashboard.scss
  app/controllers/admin/admin_notices_controller.rb
  app/models/problem_check_tracker.rb
  app/serializers/admin_notice_serializer.rb
  app/services/admin_notices/dismiss.rb
  config/locales/client.en.yml
  config/routes.rb
  spec/fabricators/admin_notice_fabricator.rb
  spec/models/problem_check_tracker_spec.rb
  spec/services/admin_notices/dismiss_spec.rb
  spec/system/admin_notices_spec.rb
  spec/system/page_objects/pages/admin_dashboard.rb
Labels: i18n

#28949 FEATURE: supports mark tag in chat messages
  plugins/chat/assets/javascripts/lib/discourse-markdown/chat-html-inline.js
  plugins/chat/assets/stylesheets/common/chat-message.scss
  plugins/chat/spec/system/chat/composer/channel_spec.rb
  plugins/chat/spec/system/chat_channel_spec.rb
  plugins/chat/spec/system/reply_to_message/full_page_spec.rb
  plugins/chat/test/javascripts/components/chat-message-test.js
Labels: chat

#28879 DEV: Introduce a `Service::ActionBase` class for service actions
  .licensed.yml
  Gemfile
  Gemfile.lock
  app/services/action/user/silence_all.rb
  app/services/action/user/suspend_all.rb
  app/services/action/user/trigger_post_action.rb
  app/services/user/action/silence_all.rb
  app/services/user/action/suspend_all.rb
  app/services/user/action/trigger_post_action.rb
  app/services/user/policy/not_already_silenced.rb
  app/services/user/policy/not_already_suspended.rb
  app/services/user/silence.rb
  app/services/user/suspend.rb
  lib/service.rb
  lib/service/action_base.rb
  lib/service/base.rb
  lib/service/policy_base.rb
  plugins/chat/app/services/chat/action/calculate_memberships_for_removal.rb
  plugins/chat/app/services/chat/action/create_memberships_for_auto_join.rb
  plugins/chat/app/services/chat/action/mark_mentions_read.rb
  plugins/chat/app/services/chat/action/publish_and_follow_direct_message_channel.rb
  plugins/chat/app/services/chat/action/publish_auto_removed_user.rb
  plugins/chat/app/services/chat/action/remove_memberships.rb
  plugins/chat/app/services/chat/action/reset_channels_last_message_ids.rb
  plugins/chat/app/services/chat/action/reset_user_last_read_channel_message.rb
  plugins/chat/app/services/chat/action/reset_user_last_read_thread_message.rb
  plugins/chat/app/services/chat/add_users_to_channel.rb
  plugins/chat/app/services/chat/channel/policy/message_creation.rb
  plugins/chat/app/services/chat/create_direct_message_channel.rb
  plugins/chat/app/services/chat/create_message.rb
  plugins/chat/app/services/chat/direct_message_channel/policy/can_communicate_all_parties.rb
  plugins/chat/app/services/chat/direct_message_channel/policy/max_users_excess.rb
  plugins/chat/spec/services/chat/channel/policy/message_creation_spec.rb
  spec/services/user/action/trigger_post_action_spec.rb
  spec/services/user/silence_spec.rb
  spec/services/user/suspend_spec.rb
Labels: chat

#28958 UX: remove alias from chat direct message channel titles
  plugins/chat/app/models/chat/direct_message.rb
  plugins/chat/spec/models/chat/direct_message_spec.rb
  plugins/chat/spec/system/sidebar_navigation_menu_spec.rb
Labels: chat

#28973 DEV: Disallow default params in service steps
  lib/service/base.rb
  plugins/chat/app/services/chat/search_chatable.rb
  spec/lib/service_spec.rb
Labels: chat

#29018 FEAT: Allow admin delete user's associated accounts
  app/assets/javascripts/admin/addon/controllers/admin-user-index.js
  app/assets/javascripts/admin/addon/models/admin-user.js
  app/assets/javascripts/admin/addon/templates/user-index.hbs
  app/controllers/admin/users_controller.rb
  app/models/user_history.rb
  app/services/staff_action_logger.rb
  config/locales/client.en.yml
  config/routes.rb
  lib/guardian/user_guardian.rb
  spec/requests/admin/users_controller_spec.rb
Labels: i18n

#29026 FIX: Unscoped plugin config page actions outlet
  app/assets/javascripts/admin/addon/components/admin-plugin-config-page.gjs
  app/assets/javascripts/admin/addon/models/admin-plugin.js
  plugins/chat/assets/javascripts/discourse/initializers/chat-admin-plugin-configuration-nav.js
Labels: chat

#28997 Proper description of the `allowed_iframes` setting
  config/locales/server.en.yml
Labels: i18n
