Repository discourse/discourse, pull requests merged in 2024-07, with the labels that each got.

#27492 DEV: Wiring for the admin about config page
  app/assets/javascripts/admin/addon/components/admin-config-area-card.gjs
  app/assets/javascripts/admin/addon/components/admin-config-area-cards/about/contact-information.gjs
  app/assets/javascripts/admin/addon/components/admin-config-area-cards/about/general-settings.gjs
  app/assets/javascripts/admin/addon/components/admin-config-area-cards/about/your-organization.gjs
  app/assets/javascripts/admin/addon/components/admin-config-areas/about.gjs
  app/assets/javascripts/admin/addon/routes/admin-config-about.js
  app/assets/javascripts/admin/addon/templates/config-about.hbs
  app/controllers/admin/config/about_controller.rb
  app/controllers/admin/site_settings_controller.rb
  config/locales/client.en.yml
  config/site_settings.yml
  lib/site_setting_extension.rb
  spec/lib/site_setting_extension_spec.rb
  spec/system/admin_about_config_area_spec.rb
  spec/system/page_objects/components/admin_about_config_area_contact_information_card.rb
  spec/system/page_objects/components/admin_about_config_area_general_settings_card.rb
  spec/system/page_objects/components/admin_about_config_area_your_organization_card.rb
  spec/system/page_objects/components/uppy_image_uploader.rb
  spec/system/page_objects/pages/admin_about_config_area.rb
Labels: i18n

#27659 DEV: Unhide enable_direct_s3_uploads setting
  config/locales/server.en.yml
  config/site_settings.yml
Labels: i18n

#27660 DEV: Resolve TODO comments for martin-brennan
  app/assets/javascripts/discourse/app/instance-initializers/register-media-optimization-upload-processor.js
  app/controllers/admin/emojis_controller.rb
  app/jobs/regular/sync_acls_for_uploads.rb
  config/locales/server.en.yml
  lib/backup_restore/s3_backup_store.rb
  lib/tasks/uploads.rake
  plugins/chat/app/controllers/chat/api/direct_messages_controller.rb
  plugins/chat/assets/javascripts/discourse/services/chat.js
  plugins/chat/config/routes.rb
  spec/system/bookmarks_spec.rb
  spec/system/composer_uploads_spec.rb
  spec/system/page_objects/pages/admin_site_settings.rb
Labels: chat, i18n

#27641 FIX: show group based notifications in chat summary email
  plugins/chat/lib/chat/user_notifications_extension.rb
  plugins/chat/spec/mailers/user_notifications_spec.rb
Labels: chat

#27668 DEV: Block accidental serialization of entire AR models
  app/controllers/admin/themes_controller.rb
  app/controllers/admin/web_hooks_controller.rb
  app/controllers/topics_controller.rb
  app/controllers/users_controller.rb
  app/jobs/regular/export_user_archive.rb
  app/serializers/admin_web_hook_serializer.rb
  app/serializers/site_serializer.rb
  app/serializers/theme_serializer.rb
  app/serializers/topic_view_bookmark_serializer.rb
  app/serializers/topic_view_serializer.rb
  app/serializers/web_hook_event_type_serializer.rb
  app/views/exceptions/not_found.html.erb
  lib/freedom_patches/active_record_disable_serialization.rb
  plugins/chat/spec/plugin_helper.rb
  spec/lib/topic_query_spec.rb
  spec/requests/admin/themes_controller_spec.rb
  spec/requests/api/notifications_spec.rb
  spec/requests/api/posts_spec.rb
  spec/serializers/site_serializer_spec.rb
Labels: chat

#27484 FEATURE: created edit and delete flags
  app/assets/javascripts/admin/addon/components/admin-config-areas/flags.gjs
  app/assets/javascripts/admin/addon/components/admin-config-header.gjs
  app/assets/javascripts/admin/addon/components/admin-flag-item.gjs
  app/assets/javascripts/admin/addon/components/admin-flags-form.gjs
  app/assets/javascripts/admin/addon/routes/admin-config-flags-edit.js
  app/assets/javascripts/admin/addon/routes/admin-route-map.js
  app/assets/javascripts/admin/addon/templates/config-flags-edit.hbs
  app/assets/javascripts/admin/addon/templates/config-flags-index.hbs
  app/assets/javascripts/admin/addon/templates/config-flags-new.hbs
  app/assets/javascripts/discourse/app/components/back-button.gjs
  app/assets/javascripts/discourse/app/lib/flag-targets/post-flag.js
  app/assets/javascripts/discourse/tests/fixtures/site-fixtures.js
  app/assets/stylesheets/common/admin/admin_config_area.scss
  app/assets/stylesheets/common/admin/flags.scss
  app/assets/stylesheets/mobile/admin_flags.scss
  app/controllers/admin/config/flags_controller.rb
  app/models/flag.rb
  app/models/post_action_type.rb
  app/models/reviewable.rb
  app/serializers/post_action_type_serializer.rb
  app/serializers/reviewable_score_type_serializer.rb
  app/serializers/site_serializer.rb
  app/services/flags/create_flag.rb
  app/services/flags/destroy_flag.rb
  app/services/flags/reorder_flag.rb
  app/services/flags/toggle_flag.rb
  app/services/flags/update_flag.rb
  config/locales/client.en.yml
  config/locales/server.en.yml
  config/routes.rb
  lib/discourse_plugin_registry.rb
  lib/guardian/flag_guardian.rb
  plugins/chat/assets/javascripts/discourse/lib/chat-message-flag.js
  plugins/chat/plugin.rb
  spec/requests/api/schemas/json/site_response.json
  spec/services/flags/create_flag_spec.rb
  spec/services/flags/destroy_flag_spec.rb
  spec/services/flags/reorder_flag_spec.rb
  spec/services/flags/toggle_flag_spec.rb
  spec/services/flags/update_flag_spec.rb
  spec/system/admin_flags_spec.rb
  spec/system/page_objects/pages/admin_flag_form.rb
  spec/system/page_objects/pages/admin_flags.rb
Labels: chat, i18n, staff-experience

#27685 FIX: Discrepency between admin page view reports
  app/models/report.rb
  spec/models/report_spec.rb
Labels: ⚠ DO NOT MERGE

#27696 FEATURE: add option to delete user associated account on password reset
  app/controllers/users_controller.rb
  config/locales/server.en.yml
  config/site_settings.yml
  spec/requests/users_controller_spec.rb
Labels: i18n

#27708 DEV: Upgrade Rails to version 7.1
  .licensed.yml
  Gemfile
  Gemfile.lock
  app/models/post_revision.rb
  app/models/reviewable.rb
  app/models/translation_override.rb
  app/models/user.rb
  app/services/staff_action_logger.rb
  config/application.rb
  config/environments/development.rb
  config/environments/test.rb
  config/initializers/002-freedom_patches.rb
  config/initializers/002-rails_failover.rb
  config/initializers/100-logster.rb
  config/initializers/100-quiet_logger.rb
  config/initializers/100-silence_logger.rb
  config/initializers/101-lograge.rb
  config/initializers/102-truncate-logs.rb
  config/initializers/new_framework_defaults_7_0.rb
  config/initializers/new_framework_defaults_7_1.rb
  config/locales/server.en.yml
  lib/discourse.rb
  lib/freedom_patches/rails_rack_logger_from_rails_7_2.rb
  lib/hijack.rb
  lib/middleware/discourse_public_exceptions.rb
  lib/site_setting_extension.rb
  plugins/chat/app/models/chat/category_channel.rb
  plugins/chat/app/models/chat/direct_message_channel.rb
  plugins/chat/spec/system/visit_channel_spec.rb
  spec/integration/invalid_request_spec.rb
  spec/integrity/middleware_order_spec.rb
  spec/lib/auth/default_current_user_provider_spec.rb
  spec/lib/email/message_builder_spec.rb
  spec/lib/hijack_spec.rb
  spec/lib/migration/safe_migrate_spec.rb
  spec/lib/site_setting_extension_spec.rb
  spec/models/admin_dashboard_data_spec.rb
  spec/models/user_spec.rb
  spec/rails_helper.rb
  spec/requests/application_controller_spec.rb
  spec/requests/categories_controller_spec.rb
  spec/requests/embed_controller_spec.rb
  spec/requests/session_controller_spec.rb
  spec/requests/uploads_controller_multisite_spec.rb
  spec/support/fake_logger.rb
  spec/support/i18n_helpers.rb
  spec/support/locales/dashboard.en.yml
  spec/support/locales/message_builder.en.yml
  spec/support/locales/problem_check.en.yml
Labels: chat, i18n

#27204 FEATURE: Add Instant Run-off Voting to Poll Plugin (Part 1: migrate existing plugin to Glimmer only)
  config/locales/client.en.yml
  plugins/poll/app/serializers/poll_serializer.rb
  plugins/poll/assets/javascripts/discourse/components/poll-breakdown-chart.gjs
  plugins/poll/assets/javascripts/discourse/components/poll-breakdown-chart.hbs
  plugins/poll/assets/javascripts/discourse/components/poll-breakdown-option.gjs
  plugins/poll/assets/javascripts/discourse/components/poll-breakdown-option.hbs
  plugins/poll/assets/javascripts/discourse/components/poll-buttons-dropdown.gjs
  plugins/poll/assets/javascripts/discourse/components/poll-info.gjs
  plugins/poll/assets/javascripts/discourse/components/poll-options.gjs
  plugins/poll/assets/javascripts/discourse/components/poll-results-pie.gjs
  plugins/poll/assets/javascripts/discourse/components/poll-results-standard.gjs
  plugins/poll/assets/javascripts/discourse/components/poll-voters.gjs
  plugins/poll/assets/javascripts/discourse/components/poll.gjs
  plugins/poll/assets/javascripts/discourse/widgets/discourse-poll.js
  plugins/poll/assets/stylesheets/common/poll.scss
  plugins/poll/config/locales/client.en.yml
  plugins/poll/lib/poll.rb
  plugins/poll/test/javascripts/acceptance/poll-breakdown-test.js
  plugins/poll/test/javascripts/acceptance/poll-pie-chart-test.js
  plugins/poll/test/javascripts/acceptance/poll-results-test.js
  plugins/poll/test/javascripts/component/poll-buttons-dropdown-test.js
  plugins/poll/test/javascripts/component/poll-info-test.js
  plugins/poll/test/javascripts/component/poll-options-test.js
  plugins/poll/test/javascripts/component/poll-results-pie-test.js
  plugins/poll/test/javascripts/component/poll-results-standard-test.js
  plugins/poll/test/javascripts/component/poll-test.js
  plugins/poll/test/javascripts/widgets/discourse-poll-option-test.js
  plugins/poll/test/javascripts/widgets/discourse-poll-standard-results-test.js
Labels: i18n

#27666 UX: Registration design and validation improvements
  app/assets/javascripts/discourse/app/components/modal/create-account.hbs
  app/assets/javascripts/discourse/app/components/user-fields/confirm.hbs
  app/assets/javascripts/discourse/app/components/user-fields/dropdown.hbs
  app/assets/javascripts/discourse/app/components/user-fields/multiselect.hbs
  app/assets/javascripts/discourse/app/components/user-fields/text.hbs
  app/assets/stylesheets/common/modal/login-modal.scss
  config/locales/client.en.yml
  spec/system/create_account_spec.rb
Labels: i18n

#27598 UX: Chat mobile menu styling update
  app/assets/stylesheets/mobile/float-kit/d-menu.scss
  plugins/chat/assets/stylesheets/mobile/chat-message-actions.scss
Labels: chat

#27737 DEV: skip flaky system chat spec
  plugins/chat/spec/system/message_thread_indicator_spec.rb
Labels: chat

#27640 DEV: Untangle the admin sidebar from the sidebar code
  app/assets/javascripts/discourse/app/components/sidebar/api-section.gjs
  app/assets/javascripts/discourse/app/components/sidebar/api-sections.gjs
  app/assets/javascripts/discourse/app/components/sidebar/back-to-forum.gjs
  app/assets/javascripts/discourse/app/components/sidebar/filter-no-results.gjs
  app/assets/javascripts/discourse/app/components/sidebar/footer.gjs
  app/assets/javascripts/discourse/app/components/sidebar/panel-header.gjs
  app/assets/javascripts/discourse/app/components/sidebar/section-header.gjs
  app/assets/javascripts/discourse/app/components/sidebar/section.gjs
  app/assets/javascripts/discourse/app/components/sidebar/toggle-all-sections.gjs
  app/assets/javascripts/discourse/app/lib/sidebar/admin-sidebar.js
  app/assets/javascripts/discourse/app/lib/sidebar/base-custom-sidebar-panel.js
  app/assets/javascripts/discourse/app/lib/sidebar/helpers.js
  app/assets/javascripts/discourse/app/services/sidebar-state.js
  app/assets/stylesheets/common/base/menu-panel.scss
  app/assets/stylesheets/common/base/sidebar.scss
  config/locales/client.en.yml
  spec/system/admin_sidebar_navigation_spec.rb
  spec/system/page_objects/components/navigation_menu/sidebar.rb
  spec/system/viewing_sidebar_spec.rb
Labels: i18n

#27609 FEATURE: Add Mechanism to redeliver all failed webhook events
  app/assets/javascripts/admin/addon/components/webhook-event.hbs
  app/assets/javascripts/admin/addon/components/webhook-events.hbs
  app/assets/javascripts/admin/addon/components/webhook-events.js
  app/controllers/admin/web_hooks_controller.rb
  app/jobs/scheduled/cleanup_redelivering_web_hook_events.rb
  app/jobs/scheduled/redeliver_web_hook_events.rb
  app/models/redelivering_webhook_event.rb
  app/models/web_hook.rb
  app/models/web_hook_event.rb
  app/serializers/admin_web_hook_event_serializer.rb
  config/locales/client.en.yml
  config/routes.rb
  db/migrate/20240627155730_create_redelivering_webhook_events.rb
  spec/fabricators/redelivering_webhook_event_fabricator.rb
  spec/jobs/cleanup_redelivering_web_hook_events_spec.rb
  spec/jobs/redeliver_web_hook_events_spec.rb
  spec/requests/admin/web_hooks_controller_spec.rb
Labels: i18n

#27760 FEATURE: Topic view stats report
  app/models/concerns/reports/topic_view_stats.rb
  app/models/report.rb
  config/locales/server.en.yml
  spec/fabricators/topic_view_stat_fabricator.rb
  spec/models/report_spec.rb
Labels: i18n

#27794 FIX: show too long message error on client
  plugins/chat/assets/javascripts/discourse/components/chat-channel.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-thread.gjs
  plugins/chat/config/locales/client.en.yml
  plugins/chat/spec/system/message_errors_spec.rb
  plugins/chat/spec/system/page_objects/chat/chat_channel.rb
  plugins/chat/spec/system/page_objects/chat/chat_thread.rb
  plugins/chat/spec/system/page_objects/chat/components/composer.rb
Labels: chat, i18n

#27705 FEATURE: Allow oneboxing private GitHub URLs
  config/locales/server.en.yml
  config/site_settings.yml
  lib/onebox/engine/github_actions_onebox.rb
  lib/onebox/engine/github_blob_onebox.rb
  lib/onebox/engine/github_commit_onebox.rb
  lib/onebox/engine/github_issue_onebox.rb
  lib/onebox/engine/github_pull_request_onebox.rb
  lib/onebox/engine/gitlab_blob_onebox.rb
  lib/onebox/engine/json.rb
  lib/onebox/mixins/git_blob_onebox.rb
  lib/onebox/mixins/github_auth_header.rb
  lib/oneboxer.rb
  spec/lib/onebox/engine/github_actions_onebox_spec.rb
  spec/lib/onebox/engine/github_blob_onebox_spec.rb
  spec/lib/onebox/engine/github_commit_onebox_spec.rb
  spec/lib/onebox/engine/github_issue_onebox_spec.rb
  spec/lib/onebox/engine/github_pull_request_onebox_spec.rb
Labels: i18n

#27804 FEATURE: email attachments in a details
  config/locales/server.en.yml
  lib/email/receiver.rb
  spec/lib/email/receiver_spec.rb
Labels: i18n

#27822 DEV: Fix the I18n integrity spec
  config/locales/server.en.yml
  spec/integrity/i18n_spec.rb
Labels: i18n

#27830 DEV: wait a bit for chat message to persist
  plugins/chat/spec/system/uploads_spec.rb
Labels: chat

#27862 DEV: migrates reviewable-created-by to gjs
  app/assets/javascripts/discourse/app/components/reviewable-created-by.gjs
  app/assets/javascripts/discourse/app/components/reviewable-created-by.hbs
  app/assets/javascripts/discourse/app/components/reviewable-created-by.js
  app/assets/javascripts/discourse/app/components/reviewable-flagged-post.hbs
  app/assets/javascripts/discourse/app/components/reviewable-post.hbs
  app/assets/javascripts/discourse/app/components/reviewable-queued-post.hbs
  app/assets/javascripts/discourse/app/templates/topic.hbs
  plugins/chat/assets/javascripts/discourse/components/reviewable-chat-message.gjs
Labels: chat

#27851 DEV: Include post and topic attributes in imported quotes
  script/bulk_import/generic_bulk.rb
Labels: migrations-tooling

#27876 FIX: ensures chat panel can't have an invalid width
  plugins/chat/assets/javascripts/discourse/components/chat-side-panel.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/routes/channel.gjs
  plugins/chat/assets/javascripts/discourse/services/chat-side-panel-size.js
  plugins/chat/assets/stylesheets/common/base-common.scss
  plugins/chat/assets/stylesheets/common/chat-notices.scss
Labels: chat

#27768 subject is frozen get errors when trying to remove tag or prefix
  script/import_scripts/mbox/importer.rb
Labels: migrations-tooling

#27875 FEATURE: prevent chat emails for messages created via SDK
  plugins/chat/app/services/chat/create_message.rb
  plugins/chat/db/migrate/20240711153837_add_created_by_sdk_to_chat_messages.rb
  plugins/chat/db/post_migrate/20240711154622_update_chat_messages_created_by_sdk.rb
  plugins/chat/lib/chat/mailer.rb
  plugins/chat/lib/chat_sdk/message.rb
  plugins/chat/spec/components/chat/mailer_spec.rb
  plugins/chat/spec/lib/chat_sdk/message_spec.rb
Labels: chat

#27889 FIX: update order of chat message service steps
  plugins/chat/app/services/chat/create_message.rb
Labels: chat

#27706 FEATURE: custom flag can require additional message
  app/assets/javascripts/admin/addon/components/admin-flags-form.gjs
  app/assets/javascripts/discourse/app/components/flag-action-type.js
  app/assets/javascripts/discourse/app/components/modal/flag.js
  app/assets/javascripts/discourse/app/models/post-action-type.js
  app/assets/javascripts/discourse/tests/fixtures/site-fixtures.js
  app/assets/javascripts/discourse/tests/helpers/site.js
  app/assets/stylesheets/common/admin/flags.scss
  app/models/concerns/reports/moderators_activity.rb
  app/models/flag.rb
  app/models/post.rb
  app/models/post_action_type.rb
  app/models/user.rb
  app/serializers/flag_serializer.rb
  app/serializers/post_action_type_serializer.rb
  app/services/flags/create_flag.rb
  app/services/flags/update_flag.rb
  config/locales/client.en.yml
  db/fixtures/003_flags.rb
  db/post_migrate/20240703232446_rename_flags_custom_type_to_require_message.rb
  lib/badge_queries.rb
  lib/flag_settings.rb
  lib/guardian/post_guardian.rb
  lib/post_action_creator.rb
  lib/post_revisor.rb
  spec/lib/flag_settings_spec.rb
  spec/models/post_action_spec.rb
  spec/requests/api/schemas/json/site_response.json
  spec/services/flags/create_flag_spec.rb
  spec/services/flags/update_flag_spec.rb
Labels: i18n

#27906 Revert "FEATURE: custom flag can require additional message"
  app/assets/javascripts/admin/addon/components/admin-flags-form.gjs
  app/assets/javascripts/discourse/app/components/flag-action-type.js
  app/assets/javascripts/discourse/app/components/modal/flag.js
  app/assets/javascripts/discourse/app/models/post-action-type.js
  app/assets/javascripts/discourse/tests/fixtures/site-fixtures.js
  app/assets/javascripts/discourse/tests/helpers/site.js
  app/assets/stylesheets/common/admin/flags.scss
  app/models/concerns/reports/moderators_activity.rb
  app/models/flag.rb
  app/models/post.rb
  app/models/post_action_type.rb
  app/models/user.rb
  app/serializers/flag_serializer.rb
  app/serializers/post_action_type_serializer.rb
  app/services/flags/create_flag.rb
  app/services/flags/update_flag.rb
  config/locales/client.en.yml
  db/fixtures/003_flags.rb
  db/post_migrate/20240703232446_rename_flags_custom_type_to_require_message.rb
  lib/badge_queries.rb
  lib/flag_settings.rb
  lib/guardian/post_guardian.rb
  lib/post_action_creator.rb
  lib/post_revisor.rb
  spec/lib/flag_settings_spec.rb
  spec/models/post_action_spec.rb
  spec/requests/api/schemas/json/site_response.json
  spec/services/flags/create_flag_spec.rb
  spec/services/flags/update_flag_spec.rb
Labels: i18n

#27887 FEATURE: Allow for multiple GitHub onebox tokens
  app/assets/javascripts/admin/addon/components/site-setting.hbs
  config/locales/server.en.yml
  config/site_settings.yml
  db/migrate/20240712050324_default_github_onebox_token.rb
  lib/onebox/engine/github_actions_onebox.rb
  lib/onebox/engine/github_blob_onebox.rb
  lib/onebox/engine/github_commit_onebox.rb
  lib/onebox/engine/github_issue_onebox.rb
  lib/onebox/engine/github_pull_request_onebox.rb
  lib/onebox/engine/gitlab_blob_onebox.rb
  lib/onebox/mixins/git_blob_onebox.rb
  lib/onebox/mixins/github_auth_header.rb
  lib/oneboxer.rb
  spec/lib/onebox/engine/github_actions_onebox_spec.rb
  spec/lib/onebox/engine/github_blob_onebox_spec.rb
  spec/lib/onebox/engine/github_commit_onebox_spec.rb
  spec/lib/onebox/engine/github_issue_onebox_spec.rb
  spec/lib/onebox/engine/github_pull_request_onebox_spec.rb
Labels: i18n

#27915 DEV: Temporarily skip failing test on CI
  plugins/chat/spec/services/chat/update_message_spec.rb
Labels: chat

#27916 FIX: Fix broken out of date themes admin notice
  app/models/problem_check.rb
  app/services/problem_check/out_of_date_themes.rb
  app/services/problem_check/unreachable_themes.rb
  config/locales/server.en.yml
Labels: i18n

#27918 DEV: skip flaky spec in CI
  plugins/chat/spec/system/uploads_spec.rb
Labels: chat

#27914 FIX: Show the SMTP authentication error for group UI
  app/services/email_settings_exception_handler.rb
  config/locales/server.en.yml
  spec/requests/groups_controller_spec.rb
  spec/services/email_settings_exception_handler_spec.rb
  spec/services/problem_check/group_email_credentials_spec.rb
Labels: i18n

#27934 FEATURE: Log topic slow mode changes
  app/controllers/topics_controller.rb
  app/models/user_history.rb
  app/services/staff_action_logger.rb
  config/locales/client.en.yml
  spec/requests/topics_controller_spec.rb
Labels: i18n

#27919 FEATURE: allows browse page in chat drawer
  plugins/chat/assets/javascripts/discourse/components/browse-channels.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-channel.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/drawer-routes/browse.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/drawer-routes/channel-info-members.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/drawer-routes/channel-info-settings.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/drawer-routes/channel-thread.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/drawer-routes/channel-threads.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/drawer-routes/channel.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/drawer-routes/channels.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/drawer-routes/direct-messages.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/drawer-routes/threads.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/navbar/back-button.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/routes/browse.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/routes/channel-info-members.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/routes/channel-info-nav.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/routes/channel-info-settings.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/routes/channel-info.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/routes/channel-thread.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/routes/channel-threads.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/routes/channel.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/routes/channels.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/routes/direct-messages.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/routes/threads.gjs
  plugins/chat/assets/javascripts/discourse/services/chat-channel-composer.js
  plugins/chat/assets/javascripts/discourse/services/chat-drawer-router.js
  plugins/chat/assets/javascripts/discourse/templates/chat-browse-all.hbs
  plugins/chat/assets/javascripts/discourse/templates/chat-browse-archived.hbs
  plugins/chat/assets/javascripts/discourse/templates/chat-browse-closed.hbs
  plugins/chat/assets/javascripts/discourse/templates/chat-browse-open.hbs
  plugins/chat/assets/javascripts/discourse/templates/chat-browse.hbs
  plugins/chat/assets/stylesheets/common/chat-browse.scss
  plugins/chat/assets/stylesheets/common/chat-drawer-routes.scss
  plugins/chat/assets/stylesheets/common/index.scss
  plugins/chat/assets/stylesheets/desktop/chat-navbar.scss
  plugins/chat/assets/stylesheets/mobile/base-mobile.scss
  plugins/chat/assets/stylesheets/mobile/chat-index.scss
  plugins/chat/assets/stylesheets/mobile/chat-message-thread-indicator.scss
  plugins/chat/spec/system/drawer/browse_spec.rb
  plugins/chat/spec/system/drawer/index_spec.rb
  plugins/chat/spec/system/hashtag_autocomplete_spec.rb
  plugins/chat/spec/system/message_notifications_mobile_spec.rb
  plugins/chat/spec/system/navigation_spec.rb
  plugins/chat/spec/system/page_objects/chat/browse.rb
  plugins/chat/spec/system/page_objects/chat/chat_channel_threads.rb
  plugins/chat/spec/system/page_objects/chat/chat_thread.rb
  plugins/chat/spec/system/page_objects/chat/components/channels_index.rb
  plugins/chat/spec/system/page_objects/chat/user_threads.rb
  plugins/chat/spec/system/page_objects/chat_drawer/chat_drawer.rb
  plugins/chat/spec/system/single_thread_spec.rb
Labels: chat

#27155 FEATURE: Add Ranked Choice Voting (using Instant Run-off Voting algorithm) to Poll Plugin (Part 2 add Ranked Choice)
  plugins/poll/app/controllers/polls_controller.rb
  plugins/poll/app/models/poll.rb
  plugins/poll/app/serializers/poll_serializer.rb
  plugins/poll/assets/javascripts/discourse/components/modal/poll-ui-builder.hbs
  plugins/poll/assets/javascripts/discourse/components/modal/poll-ui-builder.js
  plugins/poll/assets/javascripts/discourse/components/poll-buttons-dropdown.gjs
  plugins/poll/assets/javascripts/discourse/components/poll-option-ranked-choice-dropdown.gjs
  plugins/poll/assets/javascripts/discourse/components/poll-option-ranked-choice.gjs
  plugins/poll/assets/javascripts/discourse/components/poll-options.gjs
  plugins/poll/assets/javascripts/discourse/components/poll-results-ranked-choice.gjs
  plugins/poll/assets/javascripts/discourse/components/poll-results-standard.gjs
  plugins/poll/assets/javascripts/discourse/components/poll-results-tabs.gjs
  plugins/poll/assets/javascripts/discourse/components/poll-voters-ranked-choice.gjs
  plugins/poll/assets/javascripts/discourse/components/poll-voters.gjs
  plugins/poll/assets/javascripts/discourse/components/poll.gjs
  plugins/poll/assets/stylesheets/common/poll-ui-builder.scss
  plugins/poll/assets/stylesheets/common/poll.scss
  plugins/poll/config/locales/client.en.yml
  plugins/poll/config/locales/server.en.yml
  plugins/poll/config/settings.yml
  plugins/poll/db/migrate/20240416105733_add_rank_to_poll_votes.rb
  plugins/poll/lib/poll.rb
  plugins/poll/lib/ranked_choice.rb
  plugins/poll/plugin.rb
  plugins/poll/spec/fabricators/poll_fabricator.rb
  plugins/poll/spec/integration/poll_endpoints_spec.rb
  plugins/poll/spec/integration/user_merger_spec.rb
  plugins/poll/spec/lib/poll_spec.rb
  plugins/poll/spec/lib/ranked_choice_spec.rb
  plugins/poll/test/javascripts/component/poll-options-test.js
  plugins/poll/test/javascripts/component/poll-results-ranked-choice-test.js
  plugins/poll/test/javascripts/component/poll-results-tabs-test.js
Labels: i18n

#27908 FEATURE: custom flag can require additional message
  app/assets/javascripts/admin/addon/components/admin-flags-form.gjs
  app/assets/javascripts/discourse/app/components/flag-action-type.js
  app/assets/javascripts/discourse/app/components/modal/flag.js
  app/assets/javascripts/discourse/app/models/post-action-type.js
  app/assets/javascripts/discourse/tests/fixtures/site-fixtures.js
  app/assets/javascripts/discourse/tests/helpers/site.js
  app/assets/stylesheets/common/admin/flags.scss
  app/models/concerns/reports/moderators_activity.rb
  app/models/flag.rb
  app/models/post.rb
  app/models/post_action_type.rb
  app/models/user.rb
  app/serializers/flag_serializer.rb
  app/serializers/post_action_type_serializer.rb
  app/services/flags/create_flag.rb
  app/services/flags/update_flag.rb
  config/locales/client.en.yml
  db/fixtures/003_flags.rb
  db/migrate/20240714231226_duplicate_flags_custom_type_to_require_message.rb
  db/post_migrate/20240714231516_drop_custom_type_from_flags.rb
  lib/badge_queries.rb
  lib/flag_settings.rb
  lib/guardian/post_guardian.rb
  lib/post_action_creator.rb
  lib/post_revisor.rb
  spec/lib/flag_settings_spec.rb
  spec/models/post_action_spec.rb
  spec/requests/api/schemas/json/site_response.json
  spec/services/flags/create_flag_spec.rb
  spec/services/flags/update_flag_spec.rb
Labels: i18n

#27932 UX: Use a dropdown for SSL mode for group SMTP
  app/assets/javascripts/discourse/app/components/group-manage-email-settings.hbs
  app/assets/javascripts/discourse/app/components/group-manage-email-settings.js
  app/assets/javascripts/discourse/app/components/group-smtp-email-settings.gjs
  app/assets/javascripts/discourse/app/components/group-smtp-email-settings.hbs
  app/assets/javascripts/discourse/app/components/group-smtp-email-settings.js
  app/assets/javascripts/discourse/app/lib/constants.js
  app/assets/javascripts/discourse/app/lib/email-provider-default-settings.js
  app/assets/javascripts/discourse/app/models/group.js
  app/assets/javascripts/discourse/tests/acceptance/group-manage-email-settings-test.js
  app/assets/stylesheets/common/base/group.scss
  app/controllers/groups_controller.rb
  app/mailers/group_smtp_mailer.rb
  app/models/group.rb
  app/serializers/group_show_serializer.rb
  app/services/email_settings_validator.rb
  config/locales/client.en.yml
  db/migrate/20240715073605_add_smtp_ssl_mode_to_groups.rb
  db/post_migrate/20240717053710_drop_groups_smtp_ssl.rb
  lib/smtp_provider_overrides.rb
  lib/tasks/javascript.rake
  plugins/automation/spec/triggers/pm_created_spec.rb
  spec/fabricators/group_fabricator.rb
  spec/lib/email/receiver_spec.rb
  spec/mailers/group_smtp_mailer_spec.rb
  spec/models/group_spec.rb
  spec/requests/api/schemas/json/group_response.json
  spec/requests/groups_controller_spec.rb
  spec/services/email_settings_validator_spec.rb
  spec/services/post_alerter_spec.rb
Labels: i18n

#27947 FEATURE: Allow oneboxing private GitHub repo URLs and add private indicator to HTML
  config/locales/server.en.yml
  lib/onebox/engine/github_gist_onebox.rb
  lib/onebox/engine/github_issue_onebox.rb
  lib/onebox/engine/github_pull_request_onebox.rb
  lib/onebox/engine/github_repo_onebox.rb
  lib/onebox/templates/githubissue.mustache
  lib/onebox/templates/githubpullrequest.mustache
  lib/onebox/templates/githubrepo.mustache
  spec/fixtures/onebox/githubrepo.response
  spec/lib/onebox/engine/github_issue_onebox_spec.rb
  spec/lib/onebox/engine/github_pull_request_onebox_spec.rb
  spec/lib/onebox/engine/github_repo_onebox_spec.rb
Labels: i18n

#27985 DEV: adds an integer validation rule to form-kit
  app/assets/javascripts/discourse/app/form-kit/lib/validation-parser.js
  app/assets/javascripts/discourse/app/form-kit/lib/validator.js
  app/assets/javascripts/discourse/tests/unit/lib/form-kit/validation-parser-test.js
  app/assets/javascripts/discourse/tests/unit/lib/form-kit/validator-test.js
  config/locales/client.en.yml
Labels: i18n

#27986 DEV: Try until success for clipboard copies
  plugins/chat/spec/system/chat_message/channel_spec.rb
  plugins/chat/spec/system/chat_message/thread_spec.rb
  plugins/chat/spec/system/transcript_spec.rb
  spec/system/page_objects/cdp.rb
  spec/system/post_menu_spec.rb
  spec/system/post_selection_copy_quote_spec.rb
Labels: chat

#27992 FIX: do not reload identical route in drawer
  plugins/chat/assets/javascripts/discourse/routes/chat.js
  plugins/chat/assets/javascripts/discourse/services/chat-drawer-router.js
  plugins/chat/assets/javascripts/discourse/services/chat-state-manager.js
Labels: chat

#28004 FEATURE: Add creator and logging for CustomEmoji
  app/controllers/admin/emojis_controller.rb
  app/models/custom_emoji.rb
  app/models/user_history.rb
  app/services/staff_action_logger.rb
  config/locales/client.en.yml
  db/migrate/20240722025822_add_user_id_to_custom_emojis.rb
  spec/requests/admin/emojis_controller_spec.rb
Labels: i18n

#28006 UX: Change copy for FormKit "not an integer" error
  config/locales/client.en.yml
Labels: i18n

#27996 DEV: Initial parts for a redesigned /about page
  app/assets/javascripts/discourse/app/components/about-page.gjs
  app/assets/javascripts/discourse/app/templates/about.hbs
  app/assets/stylesheets/common/base/about.scss
  app/models/about.rb
  app/serializers/about_serializer.rb
  app/serializers/current_user_serializer.rb
  config/locales/client.en.yml
  config/site_settings.yml
  spec/system/about_page_spec.rb
  spec/system/page_objects/pages/about.rb
Labels: i18n

#27964 UX: Merge the simplified topic map
  app/assets/javascripts/discourse/app/components/topic-map.gjs
  app/assets/javascripts/discourse/app/components/topic-map/index.gjs
  app/assets/javascripts/discourse/app/components/topic-map/topic-map-expanded.gjs
  app/assets/javascripts/discourse/app/components/topic-map/topic-map-link.gjs
  app/assets/javascripts/discourse/app/components/topic-map/topic-map-summary.gjs
  app/assets/javascripts/discourse/app/components/topic-map/topic-participants.gjs
  app/assets/javascripts/discourse/app/components/topic-map/topic-views-chart.gjs
  app/assets/javascripts/discourse/app/components/topic-map/topic-views.gjs
  app/assets/javascripts/discourse/app/controllers/topic.js
  app/assets/javascripts/discourse/app/services/map-cache.js
  app/assets/javascripts/discourse/app/templates/topic.hbs
  app/assets/javascripts/discourse/app/widgets/post.js
  app/assets/javascripts/discourse/tests/acceptance/personal-message-test.js
  app/assets/javascripts/discourse/tests/acceptance/topic-test.js
  app/assets/javascripts/discourse/tests/acceptance/user-card-test.js
  app/assets/javascripts/discourse/tests/integration/components/widgets/post-test.js
  app/assets/stylesheets/common/base/personal-message.scss
  app/assets/stylesheets/common/base/topic-post.scss
  app/assets/stylesheets/common/base/topic.scss
  app/assets/stylesheets/common/components/_index.scss
  app/assets/stylesheets/common/components/topic-map.scss
  app/assets/stylesheets/desktop/topic-post.scss
  app/assets/stylesheets/mobile/topic-post.scss
  app/assets/stylesheets/mobile/topic.scss
  app/assets/stylesheets/wcag.scss
  config/locales/client.en.yml
  spec/system/page_objects/components/private_message_map.rb
  spec/system/page_objects/components/topic_map.rb
  spec/system/private_message_map_spec.rb
  spec/system/topic_map_spec.rb
Labels: i18n

#28003 FEATURE: Use new topic bulk actions menu for all sites
  app/assets/javascripts/discourse/app/components/modal/topic-bulk-actions.hbs
  app/assets/javascripts/discourse/app/components/modal/topic-bulk-actions.js
  app/assets/javascripts/discourse/app/components/topic-list.hbs
  app/assets/javascripts/discourse/app/components/topic-list.js
  app/assets/javascripts/discourse/app/components/topic-list/list.gjs
  app/assets/javascripts/discourse/app/components/topic-list/topic-list-header-column.gjs
  app/assets/javascripts/discourse/app/components/topic-list/topic-list-header.gjs
  app/assets/javascripts/discourse/app/controllers/full-page-search.js
  app/assets/javascripts/discourse/app/lib/plugin-api.gjs
  app/assets/javascripts/discourse/app/raw-templates/topic-list-header-column.hbr
  app/assets/javascripts/discourse/app/raw-templates/topic-list-header.hbr
  app/assets/javascripts/discourse/app/templates/full-page-search.hbs
  app/assets/javascripts/discourse/tests/acceptance/mobile-topic-bulk-actions-test.js
  app/assets/javascripts/discourse/tests/acceptance/search-full-test.js
  app/assets/javascripts/discourse/tests/acceptance/topic-bulk-actions-test.js
  app/assets/javascripts/discourse/tests/acceptance/user-activity-read-test.js
  app/assets/javascripts/discourse/tests/acceptance/user-activity-topic-test.js
  app/assets/javascripts/discourse/tests/helpers/qunit-helpers.js
  app/serializers/current_user_serializer.rb
  config/locales/server.en.yml
  config/site_settings.yml
  spec/system/search_spec.rb
  spec/system/topic_bulk_select_spec.rb
Labels: i18n

#28009 UX: FormKit error message followup
  config/locales/client.en.yml
Labels: i18n

#28033 FEATURE: Clean up previously logged information after permanently deleting posts
  app/models/user_history.rb
  app/services/staff_action_logger.rb
  config/locales/client.en.yml
  db/migrate/20240723030506_add_post_id_index_to_user_histories.rb
  lib/post_destroyer.rb
  spec/requests/posts_controller_spec.rb
  spec/requests/topics_controller_spec.rb
Labels: i18n

#28043 UX: change sidebar background to secondary
  plugins/chat/assets/stylesheets/desktop/chat-index-full-page.scss
Labels: chat

#28047 DEV: removes legacy modal code
  app/assets/javascripts/admin/addon/components/admin-penalty-post-action.js
  app/assets/javascripts/discourse/app/components/composer-body.js
  app/assets/javascripts/discourse/app/components/modal-footer-close.hbs
  app/assets/javascripts/discourse/app/components/modal-footer-close.js
  app/assets/javascripts/discourse/app/components/topic-navigation.js
  app/assets/javascripts/discourse/app/components/topic-title.gjs
  app/assets/javascripts/discourse/app/modifiers/trap-tab.js
  app/assets/javascripts/discourse/tests/setup-tests.js
  app/assets/stylesheets/common/admin/customize-install-theme.scss
  app/assets/stylesheets/common/admin/customize.scss
  app/assets/stylesheets/common/admin/emails.scss
  app/assets/stylesheets/common/admin/json_schema_editor.scss
  app/assets/stylesheets/common/admin/penalty.scss
  app/assets/stylesheets/common/base/directory.scss
  app/assets/stylesheets/common/base/edit-topic-timer-modal.scss
  app/assets/stylesheets/common/base/history.scss
  app/assets/stylesheets/common/base/modal.scss
  app/assets/stylesheets/common/base/reviewables.scss
  app/assets/stylesheets/common/base/revise-and-reject-post-reviewable.scss
  app/assets/stylesheets/common/base/sidebar.scss
  app/assets/stylesheets/common/base/topic-post.scss
  app/assets/stylesheets/common/base/user.scss
  app/assets/stylesheets/common/components/time-input.scss
  app/assets/stylesheets/common/modal/modal-overrides.scss
  app/assets/stylesheets/common/table-builder/insert-table-modal.scss
  app/assets/stylesheets/desktop/modal.scss
  app/assets/stylesheets/mobile/modal.scss
  plugins/chat/assets/stylesheets/common/chat-modal-create-channel.scss
  plugins/chat/assets/stylesheets/common/chat-modal-new-message.scss
  plugins/chat/assets/stylesheets/mobile/base-mobile.scss
  plugins/chat/assets/stylesheets/mobile/chat-modal-new-message.scss
  plugins/chat/assets/stylesheets/mobile/index.scss
  plugins/poll/assets/stylesheets/common/poll-breakdown.scss
  plugins/poll/assets/stylesheets/desktop/poll-ui-builder.scss
Labels: chat

#28053 UX: Allow adding content inline to the topic map
  app/assets/javascripts/discourse/app/components/topic-map/topic-map-summary.gjs
  app/assets/javascripts/discourse/tests/integration/components/widgets/post-test.js
  app/assets/stylesheets/common/components/topic-map.scss
  config/locales/client.en.yml
Labels: i18n

#28079 FIX: missing ? in plural translation
  config/locales/client.en.yml
Labels: i18n

#28082 FIX: better copy for one entry
  config/locales/client.en.yml
Labels: i18n

#28021 DEV: Migrate about config area to Form Kit
  app/assets/javascripts/admin/addon/components/admin-config-area-cards/about/contact-information.gjs
  app/assets/javascripts/admin/addon/components/admin-config-area-cards/about/general-settings.gjs
  app/assets/javascripts/admin/addon/components/admin-config-area-cards/about/your-organization.gjs
  app/assets/javascripts/discourse/app/form-kit/components/fk/control/custom.gjs
  app/assets/javascripts/discourse/app/form-kit/components/fk/field.gjs
  app/assets/javascripts/discourse/tests/integration/components/form-kit/controls/custom-test.gjs
  app/assets/stylesheets/common/form-kit/_container.scss
  app/assets/stylesheets/common/form-kit/_control-custom.scss
  app/assets/stylesheets/common/form-kit/_index.scss
  config/locales/client.en.yml
  spec/system/admin_about_config_area_spec.rb
  spec/system/page_objects/components/admin_about_config_area_contact_information_card.rb
  spec/system/page_objects/components/admin_about_config_area_general_settings_card.rb
  spec/system/page_objects/components/admin_about_config_area_your_organization_card.rb
  spec/system/page_objects/components/form_kit.rb
Labels: i18n

#28095 DEV: fix chat message grace edit period flaky
  plugins/chat/spec/services/chat/update_message_spec.rb
Labels: chat

#28103 DEV: Fix random typos
  app/assets/javascripts/discourse-common/addon/lib/raw-handlebars-helpers.js
  app/assets/javascripts/discourse/app/lib/plugin-api.gjs
  app/assets/javascripts/discourse/app/lib/swipe-events.js
  app/assets/javascripts/discourse/app/lib/wait-for-keyboard.js
  app/assets/javascripts/discourse/app/services/deprecation-warning-handler.js
  app/assets/javascripts/float-kit/addon/services/internal-tooltip.js
  plugins/chat/test/javascripts/components/chat-channel-row-test.js
Labels: chat

#28104 DEV: improve copy for instant-runoff polls
  plugins/poll/config/locales/server.en.yml
Labels: i18n

#28105 DEV: improve copy for self wiki groups
  config/locales/server.en.yml
Labels: i18n

#28106 UX: group admin new features by month
  app/assets/javascripts/admin/addon/components/admin-config-area-card.gjs
  app/assets/javascripts/admin/addon/components/dashboard-new-feature-item.gjs
  app/assets/javascripts/admin/addon/components/dashboard-new-features.gjs
  app/assets/javascripts/admin/addon/templates/dashboard-new-features.hbs
  app/assets/javascripts/admin/addon/templates/whats-new.hbs
  app/assets/stylesheets/common/admin/dashboard.scss
  app/assets/stylesheets/mobile/dashboard.scss
  config/locales/client.en.yml
  spec/system/admin_dashboard_new_features_spec.rb
  spec/system/page_objects/pages/admin_dashboard_new_features.rb
Labels: i18n

#28013 DEV: Update member access wizard step to use toggle group
  app/assets/javascripts/discourse/app/static/wizard/components/fields/index.js
  app/assets/javascripts/discourse/app/static/wizard/components/fields/radio.gjs
  app/assets/javascripts/discourse/app/static/wizard/components/wizard-field.gjs
  app/assets/stylesheets/wizard.scss
  config/locales/server.en.yml
  lib/wizard/builder.rb
  lib/wizard/step.rb
  spec/lib/wizard/step_updater_spec.rb
  spec/lib/wizard/wizard_builder_spec.rb
  spec/serializers/wizard_serializer_spec.rb
  spec/system/page_objects/pages/wizard.rb
  spec/system/wizard_spec.rb
Labels: i18n

#28037 FIX: Ensure JsLocaleHelper to not output deprecated translations
  app/jobs/scheduled/check_translation_overrides.rb
  app/models/translation_override.rb
  lib/i18n/i18n_interpolation_keys_finder.rb
  spec/lib/js_locale_helper_spec.rb
Labels: i18n

#28118 FIX: Don't escape MF variables in HTML links
  config/locales/client.en.yml
Labels: i18n

#28125 DEV: Refactor translation overrides a bit
  app/models/translation_override.rb
  lib/i18n/i18n_interpolation_keys_finder.rb
  spec/lib/js_locale_helper_spec.rb
Labels: i18n

#27953 DEV: rename chat preferred mobile index to chat preferred index
  db/migrate/20240717171840_rename_chat_preferred_mobile_index_setting.rb
  plugins/chat/assets/javascripts/discourse/components/channels-list-direct.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-footer.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/routes/channels.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/routes/direct-messages.gjs
  plugins/chat/assets/javascripts/discourse/controllers/chat.js
  plugins/chat/assets/javascripts/discourse/routes/chat-channels.js
  plugins/chat/assets/javascripts/discourse/routes/chat-direct-messages.js
  plugins/chat/assets/javascripts/discourse/routes/chat-index.js
  plugins/chat/assets/javascripts/discourse/services/chat-drawer-router.js
  plugins/chat/assets/stylesheets/desktop/chat-index-full-page.scss
  plugins/chat/config/locales/server.en.yml
  plugins/chat/config/settings.yml
  plugins/chat/spec/system/drawer/index_spec.rb
  plugins/chat/spec/system/list_channels/mobile_spec.rb
  plugins/chat/spec/system/navigation_spec.rb
  plugins/chat/spec/system/page_objects/chat/chat.rb
Labels: chat, i18n

#28159 DEV: Skip flaky topic map spec on CI
  plugins/chat/spec/system/navigation_spec.rb
  plugins/chat/spec/system/uploads_spec.rb
  spec/support/system_helpers.rb
  spec/system/network_disconnected_spec.rb
  spec/system/private_message_map_spec.rb
Labels: chat

#28169 FIX: system badges can be disabled
  app/assets/javascripts/admin/addon/templates/admin-badges/show.hbs
  config/locales/client.en.yml
  spec/system/admin_badges_spec.rb
Labels: i18n

#28171 FIX: system badges can be disabled (#28169)
  app/assets/javascripts/admin/addon/templates/admin-badges/show.hbs
  config/locales/client.en.yml
  spec/system/admin_badges_spec.rb
Labels: i18n

#28170 FIX: Remove chat default channel setting
  db/migrate/20240731143458_remove_chat_default_channel_id.rb
  plugins/chat/app/validators/chat/default_channel_validator.rb
  plugins/chat/assets/javascripts/discourse/routes/chat-channels.js
  plugins/chat/assets/javascripts/discourse/services/chat-drawer-router.js
  plugins/chat/config/locales/server.en.yml
  plugins/chat/config/settings.yml
  plugins/chat/spec/validators/chat_default_channel_validator_spec.rb
Labels: chat, i18n
