Repository discourse/discourse, pull requests merged in 2024-01, with the labels that each got.

#24896 DEV: patch @ember/test-helpers
  app/assets/javascripts/patches/@ember+test-helpers+2.9.4.patch
Labels: js-modernization

#23872 DEV: Add new chat metrics
  plugins/chat/lib/chat/statistics.rb
  plugins/chat/plugin.rb
  plugins/chat/spec/lib/chat/statistics_spec.rb
Labels: chat

#25213 FIX: Preload the right fields on categories
  plugins/chat/lib/chat/channel_fetcher.rb
Labels: chat

#25244 UX: Chat composer dropdown styling mobile
  plugins/chat/assets/javascripts/discourse/components/chat-composer-dropdown.gjs
  plugins/chat/assets/stylesheets/mobile/chat-composer-dropdown.scss
  plugins/chat/assets/stylesheets/mobile/index.scss
Labels: chat

#25258 DEV: Convert min_trust_level_to_tag_topics to groups
  config/locales/server.en.yml
  config/site_settings.yml
  db/migrate/20240112073149_fill_tag_topic_allowed_groups_based_on_deprecated_settings.rb
  lib/guardian/tag_guardian.rb
  lib/site_settings/deprecated_settings.rb
  plugins/chat/spec/lib/chat/channel_archive_service_spec.rb
  spec/integration/category_tag_spec.rb
  spec/jobs/export_user_archive_spec.rb
  spec/lib/discourse_tagging_spec.rb
  spec/lib/guardian_spec.rb
  spec/lib/new_post_manager_spec.rb
  spec/lib/post_creator_spec.rb
  spec/lib/post_revisor_spec.rb
  spec/lib/search_spec.rb
  spec/lib/topic_creator_spec.rb
  spec/lib/topics_bulk_action_spec.rb
  spec/models/post_mover_spec.rb
  spec/models/reviewable_queued_post_spec.rb
  spec/models/tag_spec.rb
  spec/models/tag_user_spec.rb
  spec/models/topic_embed_spec.rb
  spec/requests/posts_controller_spec.rb
  spec/services/post_alerter_spec.rb
Labels: chat

#25262 Revert "DEV: Convert min_trust_level_to_tag_topics to groups (#25258)"
  config/locales/server.en.yml
  config/site_settings.yml
  db/migrate/20240112073149_fill_tag_topic_allowed_groups_based_on_deprecated_settings.rb
  lib/guardian/tag_guardian.rb
  lib/site_settings/deprecated_settings.rb
  plugins/chat/spec/lib/chat/channel_archive_service_spec.rb
  spec/integration/category_tag_spec.rb
  spec/jobs/export_user_archive_spec.rb
  spec/lib/discourse_tagging_spec.rb
  spec/lib/guardian_spec.rb
  spec/lib/new_post_manager_spec.rb
  spec/lib/post_creator_spec.rb
  spec/lib/post_revisor_spec.rb
  spec/lib/search_spec.rb
  spec/lib/topic_creator_spec.rb
  spec/lib/topics_bulk_action_spec.rb
  spec/models/post_mover_spec.rb
  spec/models/reviewable_queued_post_spec.rb
  spec/models/tag_spec.rb
  spec/models/tag_user_spec.rb
  spec/models/topic_embed_spec.rb
  spec/requests/posts_controller_spec.rb
  spec/services/post_alerter_spec.rb
Labels: chat

#25276 FIX: correctly support safe-area-inset-bottom in footer
  plugins/chat/assets/stylesheets/mobile/chat-footer.scss
Labels: chat

#25252 DEV: Allow rebakes to generate optimized images at the same time
  app/models/optimized_image.rb
  lib/tasks/import.rake
  lib/tasks/posts.rake
  script/bulk_import/uploads_importer.rb
Labels: migrations-tooling

#25266 DEV: Add site setting for Discourse Discover
  config/locales/server.en.yml
  config/site_settings.yml
Labels: i18n

#25274 FEATURE: experiment with hot sort order
  app/controllers/list_controller.rb
  app/jobs/scheduled/update_topic_hot_scores.rb
  app/models/topic_hot_score.rb
  config/locales/client.en.yml
  config/routes.rb
  config/site_settings.yml
  db/migrate/20240116043702_create_topic_hot_scores.rb
  lib/discourse.rb
  lib/topic_query.rb
  spec/models/topic_hot_scores_spec.rb
Labels: i18n

#24752 DEV: Redesign chat mentions
  plugins/chat/app/jobs/regular/chat/notify_mentioned.rb
  plugins/chat/app/models/chat/all_mention.rb
  plugins/chat/app/models/chat/group_mention.rb
  plugins/chat/app/models/chat/here_mention.rb
  plugins/chat/app/models/chat/mention.rb
  plugins/chat/app/models/chat/message.rb
  plugins/chat/app/models/chat/user_mention.rb
  plugins/chat/app/queries/chat/messages_query.rb
  plugins/chat/app/serializers/chat/message_serializer.rb
  plugins/chat/app/serializers/chat/thread_original_message_serializer.rb
  plugins/chat/db/migrate/20231227160001_add_type_and_target_id_to_chat_mentions.rb
  plugins/chat/db/migrate/20231227160002_set_type_and_target_id_on_chat_mentions.rb
  plugins/chat/db/migrate/20231227160003_add_and_remove_indexes_on_chat_mentions.rb
  plugins/chat/db/post_migrate/20231227160004_set_type_and_target_id_on_chat_mentions_post_migrate.rb
  plugins/chat/db/post_migrate/20231227160005_make_type_on_chat_mentions_non_nullable.rb
  plugins/chat/lib/chat/group_extension.rb
  plugins/chat/lib/chat/mailer.rb
  plugins/chat/lib/chat/notifier.rb
  plugins/chat/lib/chat/parsed_mentions.rb
  plugins/chat/lib/chat/user_extension.rb
  plugins/chat/lib/chat/user_notifications_extension.rb
  plugins/chat/plugin.rb
  plugins/chat/spec/components/chat/mailer_spec.rb
  plugins/chat/spec/fabricators/chat_fabricator.rb
  plugins/chat/spec/jobs/regular/chat/channel_delete_spec.rb
  plugins/chat/spec/jobs/regular/chat/notify_mentioned_spec.rb
  plugins/chat/spec/lib/chat/message_mover_spec.rb
  plugins/chat/spec/mailers/user_notifications_spec.rb
  plugins/chat/spec/models/chat/message_spec.rb
  plugins/chat/spec/queries/chat/channel_unreads_query_spec.rb
  plugins/chat/spec/requests/chat/api/reads_controller_spec.rb
  plugins/chat/spec/requests/chat/api/thread_reads_controller_spec.rb
  plugins/chat/spec/serializer/chat/chat_message_serializer_spec.rb
  plugins/chat/spec/serializer/chat/chat_thread_original_message_serializer_spec.rb
  plugins/chat/spec/services/chat/mark_all_user_channels_read_spec.rb
  plugins/chat/spec/services/chat/trash_message_spec.rb
  plugins/chat/spec/services/chat/update_message_spec.rb
  plugins/chat/spec/services/chat/update_user_last_read_spec.rb
  plugins/chat/spec/services/chat/update_user_thread_last_read_spec.rb
  plugins/chat/spec/system/chat_channel_spec.rb
Labels: chat

#25282 DEV: Make lazy_load_categories setting use groups
  app/assets/javascripts/discourse/app/components/discovery/categories-display.gjs
  app/assets/javascripts/discourse/app/models/group.js
  app/assets/javascripts/discourse/app/models/user.js
  app/assets/javascripts/discourse/app/routes/build-category-route.js
  app/assets/javascripts/select-kit/addon/components/category-chooser.js
  app/assets/javascripts/select-kit/addon/components/category-drop.js
  app/assets/javascripts/select-kit/addon/components/category-selector.js
  app/models/category_list.rb
  app/serializers/site_serializer.rb
  app/serializers/topic_list_serializer.rb
  app/serializers/topic_view_serializer.rb
  config/locales/server.en.yml
  config/site_settings.yml
  db/migrate/20240116182229_migrate_lazy_load_categories_to_groups.rb
  lib/guardian.rb
  spec/models/category_list_spec.rb
  spec/requests/list_controller_spec.rb
  spec/requests/topics_controller_spec.rb
  spec/serializers/site_serializer_spec.rb
Labels: i18n

#25301 PERF: Avoid loading the whole record when we only need id
  plugins/chat/app/jobs/regular/chat/notify_mentioned.rb
Labels: chat

#25298 DEV: Convert min_trust_to_post_links to groups
  config/locales/server.en.yml
  config/site_settings.yml
  db/migrate/20240117090801_fill_post_links_allowed_groups_based_on_deprecated_settings.rb
  lib/guardian/post_guardian.rb
  lib/site_settings/deprecated_settings.rb
  spec/fabricators/post_fabricator.rb
  spec/lib/cooked_post_processor_spec.rb
  spec/lib/guardian_spec.rb
  spec/lib/post_destroyer_spec.rb
  spec/lib/post_revisor_spec.rb
  spec/models/post_mover_spec.rb
  spec/models/post_spec.rb
  spec/models/topic_link_click_spec.rb
  spec/models/topic_link_spec.rb
  spec/requests/admin/users_controller_spec.rb
  spec/serializers/user_summary_serializer_spec.rb
  spec/services/user_destroyer_spec.rb
Labels: i18n

#25310 FIX: errors when loading My Threads and Channel Threads
  plugins/chat/app/services/chat/lookup_channel_threads.rb
  plugins/chat/app/services/chat/lookup_user_threads.rb
Labels: chat

#25314 DEV: Add link to Discover page
  config/locales/server.en.yml
Labels: i18n

#25325 FEATURE: Add hot as a homepage option
  app/assets/javascripts/discourse/app/controllers/preferences/interface.js
  app/models/user_option.rb
  config/locales/client.en.yml
  config/site_settings.yml
Labels: i18n

#25299 DEV: Convert min_trust_level_for_user_api_key to groups
  app/controllers/user_api_keys_controller.rb
  config/locales/server.en.yml
  config/site_settings.yml
  db/migrate/20240117093148_fill_user_api_key_allowed_groups_based_on_deprecated_settings.rb
  lib/site_settings/deprecated_settings.rb
  spec/requests/user_api_keys_controller_spec.rb
Labels: i18n

#25189 FEATURE: Allow users to DM groups in chat
  plugins/chat/app/queries/chat/users_from_usernames_and_groups_query.rb
  plugins/chat/app/serializers/chat/chatable_group_serializer.rb
  plugins/chat/app/serializers/chat/chatables_serializer.rb
  plugins/chat/app/services/chat/add_users_to_channel.rb
  plugins/chat/app/services/chat/create_direct_message_channel.rb
  plugins/chat/app/services/chat/search_chatable.rb
  plugins/chat/assets/javascripts/discourse/components/chat/message-creator/add-members.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/message-creator/channel.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/message-creator/group.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/message-creator/lib/chatables-loader.js
  plugins/chat/assets/javascripts/discourse/components/chat/message-creator/list.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/message-creator/member.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/message-creator/members-count.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/message-creator/members-selector.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/message-creator/new-group.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/message-creator/search.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/message-creator/user.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/user-card-button.gjs
  plugins/chat/assets/javascripts/discourse/models/chat-chatable.js
  plugins/chat/assets/javascripts/discourse/services/chat-api.js
  plugins/chat/assets/javascripts/discourse/services/chat.js
  plugins/chat/assets/stylesheets/common/chat-message-creator.scss
  plugins/chat/config/locales/client.en.yml
  plugins/chat/spec/queries/chat/users_from_usernames_and_groups_query_spec.rb
  plugins/chat/spec/services/chat/add_users_to_channel_spec.rb
  plugins/chat/spec/services/chat/create_direct_message_channel_spec.rb
  plugins/chat/spec/services/chat/search_chatable_spec.rb
  plugins/chat/spec/system/chat_message_creator_spec.rb
  plugins/chat/spec/system/page_objects/chat/components/message_creator.rb
Labels: chat, i18n

#25327 FIX: Localize text in github oneboxes
  config/locales/server.en.yml
  lib/onebox/engine/github_blob_onebox.rb
  lib/onebox/engine/github_commit_onebox.rb
  lib/onebox/engine/github_gist_onebox.rb
  lib/onebox/engine/github_issue_onebox.rb
  lib/onebox/engine/github_pull_request_onebox.rb
  lib/onebox/engine/gitlab_blob_onebox.rb
  lib/onebox/mixins/git_blob_onebox.rb
  lib/onebox/templates/githubblob.mustache
  lib/onebox/templates/githubcommit.mustache
  lib/onebox/templates/githubgist.mustache
  lib/onebox/templates/githubissue.mustache
  lib/onebox/templates/githubpullrequest.mustache
  lib/onebox/templates/gitlabblob.mustache
Labels: i18n

#25334 DEV: Promote historic post_deploy migrations
  plugins/chat/db/migrate/20230116090324_drop_chat_drafts_over_max_length.rb
  plugins/chat/db/migrate/20230123025112_move_chat_uploads_to_upload_references_post.rb
  plugins/chat/db/migrate/20230227172543_make_chat_mention_notification_id_nullable.rb
  plugins/chat/db/migrate/20230403012844_drop_chat_uploads.rb
  plugins/discourse-lazy-videos/db/migrate/20230317194217_rebake_lazy_yt_posts.rb
Labels: chat

#25335 FEATURE: implements dates separators for threads
  plugins/chat/app/queries/chat/messages_query.rb
  plugins/chat/assets/javascripts/discourse/components/chat-channel.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-message-separator-date.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-message-separator-new.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-message-separator.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-message.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-thread.gjs
  plugins/chat/assets/javascripts/discourse/lib/dates-separators-positioner.js
  plugins/chat/assets/javascripts/discourse/models/chat-message.js
  plugins/chat/spec/system/single_thread_spec.rb
  plugins/chat/test/javascripts/components/chat-message-separator-date-test.js
  plugins/chat/test/javascripts/components/chat-message-separator-new-test.js
Labels: chat

#25336 FEATURE: save/retrieve scroll position in chat channel
  plugins/chat/assets/javascripts/discourse/components/chat-channel.gjs
  plugins/chat/assets/javascripts/discourse/modifiers/chat/scrollable-list.js
  plugins/chat/assets/javascripts/discourse/services/chat-channel-scroll-positions.js
  plugins/chat/spec/system/chat_channel_spec.rb
Labels: chat

#25337 FIX: ensures active message is cleared on threads opening
  plugins/chat/assets/javascripts/discourse/routes/chat-channel-threads.js
Labels: chat

#25338 FIX: fixed a bug where keyboard on ios was broken
  plugins/chat/assets/javascripts/discourse/components/chat-channel.gjs
  plugins/chat/assets/javascripts/discourse/lib/chat-ios-hacks.js
Labels: chat

#25339 FIX: correctly exclude muted channels from thread unreads
  plugins/chat/app/queries/chat/thread_unreads_query.rb
  plugins/chat/spec/queries/chat/thread_unreads_query_spec.rb
  plugins/chat/spec/queries/chat/tracking_state_report_query_spec.rb
Labels: chat

#25345 FIX: correctly save scroll position in channel
  plugins/chat/assets/javascripts/discourse/components/chat-channel.gjs
  plugins/chat/assets/javascripts/discourse/services/chat-channel-scroll-positions.js
  plugins/chat/spec/system/chat_channel_spec.rb
Labels: chat

#25331 UX: `user.account_possessive` was impossible to translate
  app/assets/javascripts/discourse/app/widgets/header.js
  config/locales/client.en.yml
Labels: i18n

#24484 DEV: Add script to generate base migration script for converter intermediate database
  .github/workflows/migration-tests.yml
  migrations/.gitignore
  migrations/common/intermediate_db_schema/000_base_schema.sql
  migrations/scripts/schema.yml
  migrations/scripts/schema_generator
Labels: migrations-tooling

#25363 DEV: Remove unused chat css
  plugins/chat/assets/stylesheets/common/chat-tabs.scss
  plugins/chat/assets/stylesheets/common/index.scss
Labels: chat

#25355 DEV: Move core plugin TL -> group settings
  plugins/discourse-narrative-bot/lib/discourse_narrative_bot/advanced_user_narrative.rb
  plugins/discourse-narrative-bot/spec/discourse_narrative_bot/advanced_user_narrative_spec.rb
  plugins/poll/assets/javascripts/discourse/initializers/add-poll-ui-builder.js
  plugins/poll/config/locales/server.en.yml
  plugins/poll/config/settings.yml
  plugins/poll/db/post_migrate/20240122015626_fill_poll_create_allowed_groups_based_on_deprecated_setting.rb
  plugins/poll/lib/post_validator.rb
  plugins/poll/plugin.rb
  plugins/poll/spec/controllers/polls_controller_spec.rb
  plugins/poll/spec/controllers/posts_controller_spec.rb
  plugins/poll/spec/lib/new_post_manager_spec.rb
  plugins/poll/spec/lib/poll_spec.rb
  plugins/poll/spec/models/poll_spec.rb
  plugins/poll/test/javascripts/acceptance/poll-builder-disabled-test.js
  plugins/poll/test/javascripts/acceptance/poll-builder-enabled-test.js
  plugins/styleguide/app/controllers/styleguide/styleguide_controller.rb
  plugins/styleguide/config/locales/server.en.yml
  plugins/styleguide/config/settings.yml
  plugins/styleguide/db/post_migrate/20240122015630_fill_styleguide_admin_only_groups.rb
  plugins/styleguide/spec/integration/access_spec.rb
Labels: i18n

#25358 FIX: Minor bookmark issues
  app/assets/javascripts/discourse/app/components/bookmark-icon.js
  app/assets/javascripts/discourse/app/models/bookmark.js
  app/assets/javascripts/discourse/tests/integration/components/bookmark-icon-test.js
  plugins/chat/assets/javascripts/discourse/components/chat-message-actions-desktop.gjs
Labels: chat

#25382 UX: remove legacy option copy in nav menu setting
  config/locales/server.en.yml
Labels: i18n

#25371 DEV: Implement text() for SidebarChatMyThreadsSection
  plugins/chat/assets/javascripts/discourse/initializers/chat-sidebar.js
Labels: chat

#25383 FIX: renders channels-list wrapper only once
  plugins/chat/assets/javascripts/discourse/components/channels-list-direct.gjs
  plugins/chat/assets/javascripts/discourse/components/channels-list-public.gjs
  plugins/chat/assets/javascripts/discourse/components/channels-list.gjs
Labels: chat

#25277 FIX: use site setting to show my threads chat footer tab
  plugins/chat/app/services/chat/update_channel.rb
  plugins/chat/assets/javascripts/discourse/components/chat-footer.gjs
  plugins/chat/config/settings.yml
  plugins/chat/db/migrate/20240118120825_add_threads_enabled_site_setting.rb
  plugins/chat/spec/services/chat/update_channel_spec.rb
  plugins/chat/spec/system/chat_footer_spec.rb
Labels: chat

#25263 UX: Add "filter for more" to icon picker
  app/assets/javascripts/discourse/tests/integration/components/select-kit/tag-drop-test.js
  app/assets/javascripts/select-kit/addon/components/filter-for-more.gjs
  app/assets/javascripts/select-kit/addon/components/icon-picker.js
  app/assets/javascripts/select-kit/addon/components/tag-drop.js
  app/assets/javascripts/select-kit/addon/components/tag-drop/more-tags-collection.hbs
  app/assets/javascripts/select-kit/addon/components/tag-drop/more-tags-collection.js
  app/assets/stylesheets/common/select-kit/select-kit.scss
  app/assets/stylesheets/common/select-kit/tag-drop.scss
  config/locales/client.en.yml
  plugins/styleguide/assets/javascripts/discourse/components/sections/atoms/dropdowns.hbs
Labels: i18n

#25385 DEV: remove user thread count route
  plugins/chat/app/controllers/chat/api/current_user_threads_controller.rb
  plugins/chat/assets/javascripts/discourse/services/chat-api.js
  plugins/chat/config/routes.rb
  plugins/chat/spec/requests/chat/api/current_user_threads_spec.rb
Labels: chat

#25399 DEV: remove pseudo-class selector in chat channel page object
  plugins/chat/spec/system/page_objects/chat/components/channel_index.rb
Labels: chat

#25405 DEV: removes flakey spec
  plugins/chat/spec/system/chat_channel_spec.rb
Labels: chat

#25238 DEV: Move min_trust_to_post_embedded_media to group setting
  config/locales/server.en.yml
  config/site_settings.yml
  db/post_migrate/20240112043325_fill_embedded_media_post_allowed_groups_based_on_deprecated_setting.rb
  lib/site_settings/deprecated_settings.rb
  lib/validators/post_validator.rb
  plugins/discourse-narrative-bot/lib/discourse_narrative_bot/new_user_narrative.rb
  plugins/discourse-narrative-bot/spec/discourse_narrative_bot/new_user_narrative_spec.rb
  spec/jobs/pull_hotlinked_images_spec.rb
  spec/jobs/user_email_spec.rb
  spec/lib/backup_restore/uploads_restorer_spec.rb
  spec/lib/cooked_post_processor_spec.rb
  spec/lib/email/sender_spec.rb
  spec/lib/search_spec.rb
  spec/lib/shrink_uploaded_image_spec.rb
  spec/lib/upload_recovery_spec.rb
  spec/lib/validators/post_validator_spec.rb
  spec/models/post_spec.rb
  spec/models/trust_level3_requirements_spec.rb
  spec/models/upload_spec.rb
  spec/models/user_search_spec.rb
  spec/requests/topics_controller_spec.rb
  spec/requests/users_controller_spec.rb
Labels: i18n

#25396 DEV: Move admin sidebar out of initializer
  app/assets/javascripts/admin/addon/components/admin-config-area-sidebar-experiment.js
  app/assets/javascripts/admin/addon/routes/admin-revamp.js
  app/assets/javascripts/admin/addon/routes/admin.js
  app/assets/javascripts/discourse/app/lib/plugin-api.js
  app/assets/javascripts/discourse/app/lib/sidebar/admin-sidebar.js
  app/assets/javascripts/discourse/app/lib/sidebar/custom-sections.js
  app/assets/javascripts/discourse/app/lib/sidebar/panels.js
  app/assets/javascripts/discourse/app/services/sidebar-state.js
  app/assets/javascripts/discourse/tests/helpers/qunit-helpers.js
  plugins/chat/assets/javascripts/discourse/lib/init-sidebar-state.js
  plugins/chat/assets/javascripts/discourse/services/chat-state-manager.js
Labels: chat

#25384 FEATURE: display last message on mobile
  plugins/chat/assets/javascripts/discourse/components/channel-icon/index.gjs
  plugins/chat/assets/javascripts/discourse/components/channel-name/index.gjs
  plugins/chat/assets/javascripts/discourse/components/channel-title/index.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-channel-metadata.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-channel-row.gjs
  plugins/chat/assets/stylesheets/common/chat-channel-icon.scss
  plugins/chat/assets/stylesheets/common/chat-channel-name.scss
  plugins/chat/assets/stylesheets/common/chat-channel-row.scss
  plugins/chat/assets/stylesheets/common/chat-channel-title.scss
  plugins/chat/assets/stylesheets/common/index.scss
  plugins/chat/assets/stylesheets/mobile/chat-channel-row.scss
  plugins/chat/spec/system/channel_settings_page_spec.rb
  plugins/chat/spec/system/list_channels/mobile_spec.rb
  plugins/chat/test/javascripts/components/channel-icon-test.gjs
  plugins/chat/test/javascripts/components/channel-name-test.gjs
  plugins/chat/test/javascripts/components/channel-title-test.gjs
  plugins/chat/test/javascripts/components/channel-title-test.js
  plugins/chat/test/javascripts/components/chat-channel-metadata-test.js
  plugins/chat/test/javascripts/components/chat-channel-preview-card-test.js
  plugins/chat/test/javascripts/components/chat-channel-row-test.js
Labels: chat

#25245 WIP: Experiemental Bulk Topic Actions Dropdown
  app/assets/javascripts/discourse/app/components/modal/bulk-topic-actions.gjs
  app/assets/javascripts/discourse/app/components/modal/topic-bulk-actions.js
  app/assets/javascripts/discourse/app/components/topic-list.hbs
  app/assets/javascripts/discourse/app/components/topic-list.js
  app/assets/javascripts/discourse/app/lib/bulk-select-helper.js
  app/assets/javascripts/discourse/app/models/topic.js
  app/assets/javascripts/discourse/app/raw-templates/topic-bulk-select-dropdown.hbr
  app/assets/javascripts/discourse/app/raw-templates/topic-list-header-column.hbr
  app/assets/javascripts/discourse/app/raw-templates/topic-list-header.hbr
  app/assets/javascripts/discourse/app/raw-views/topic-bulk-select-dropdown.gjs
  app/assets/javascripts/select-kit/addon/components/bulk-select-topics-dropdown.js
  app/assets/stylesheets/common/modal/modal-overrides.scss
  app/assets/stylesheets/desktop/topic-list.scss
  app/serializers/current_user_serializer.rb
  config/locales/client.en.yml
  config/site_settings.yml
  spec/system/page_objects/components/topic_list.rb
  spec/system/page_objects/components/topic_list_header.rb
  spec/system/topic_bulk_select_spec.rb
Labels: i18n, staff-experience

#25273 DEV: Convert min_trust_level_to_tag_topics to groups
  config/locales/server.en.yml
  config/site_settings.yml
  db/migrate/20240112073149_fill_tag_topic_allowed_groups_based_on_deprecated_settings.rb
  lib/guardian/tag_guardian.rb
  lib/site_settings/deprecated_settings.rb
  plugins/chat/spec/lib/chat/channel_archive_service_spec.rb
  spec/integration/category_tag_spec.rb
  spec/jobs/export_user_archive_spec.rb
  spec/lib/discourse_tagging_spec.rb
  spec/lib/guardian_spec.rb
  spec/lib/new_post_manager_spec.rb
  spec/lib/post_creator_spec.rb
  spec/lib/post_revisor_spec.rb
  spec/lib/search_spec.rb
  spec/lib/topic_creator_spec.rb
  spec/lib/topics_bulk_action_spec.rb
  spec/models/post_mover_spec.rb
  spec/models/reviewable_queued_post_spec.rb
  spec/models/tag_spec.rb
  spec/models/tag_user_spec.rb
  spec/models/topic_embed_spec.rb
  spec/models/topic_tracking_state_spec.rb
  spec/requests/posts_controller_spec.rb
  spec/requests/users_controller_spec.rb
  spec/services/post_alerter_spec.rb
Labels: chat, i18n

#25436 DEV: remove chat footer thread count reference
  plugins/chat/assets/javascripts/discourse/components/chat-footer.gjs
Labels: chat

#25439 UX: chat > channel info: show member count on tab
  plugins/chat/assets/javascripts/discourse/components/chat/routes/channel-info.gjs
  plugins/chat/assets/stylesheets/common/chat-channel-info.scss
Labels: chat

#25446 FIX: allows to translate yesterday
  plugins/chat/assets/javascripts/discourse/components/chat-channel-metadata.gjs
  plugins/chat/config/locales/client.en.yml
Labels: chat, i18n

#25452 Make site setting descriptions easier to understand
  config/locales/server.en.yml
Labels: i18n

#25397 DEV: Clean up hashtag code
  app/assets/javascripts/discourse/app/components/composer-editor.js
  app/assets/javascripts/discourse/app/components/d-editor.js
  app/assets/javascripts/discourse/app/instance-initializers/hashtag-css-generator.js
  app/assets/javascripts/discourse/app/instance-initializers/hashtag-post-decorations.js
  app/assets/javascripts/discourse/app/lib/hashtag-autocomplete.js
  app/assets/javascripts/discourse/app/lib/hashtag-decorator.js
  app/assets/javascripts/discourse/app/lib/hashtag-type-registry.js
  app/assets/javascripts/discourse/app/lib/link-hashtags.js
  app/assets/javascripts/discourse/app/lib/plugin-api.js
  app/assets/javascripts/discourse/tests/helpers/qunit-helpers.js
  plugins/chat/assets/javascripts/discourse/initializers/chat-decorators.js
  plugins/chat/assets/javascripts/discourse/lib/transform-auto-links.js
Labels: chat

#25438 FEATURE: Mobile Chat Notification Badges
  plugins/chat/assets/javascripts/discourse/components/chat-footer.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/footer/unread-indicator.gjs
  plugins/chat/assets/javascripts/discourse/services/chat-tracking-state-manager.js
  plugins/chat/assets/stylesheets/common/base-common.scss
  plugins/chat/assets/stylesheets/mobile/base-mobile.scss
  plugins/chat/assets/stylesheets/mobile/chat-footer.scss
  plugins/chat/spec/system/chat_footer_spec.rb
Labels: chat

#25457 DEV: use chat tracking state manager for unread threads
  plugins/chat/assets/javascripts/discourse/components/channels-list-public.gjs
Labels: chat

#25415 DEV: Automatically update groups for test users with explicit TL
  plugins/chat/spec/integration/auto_channel_user_removal_spec.rb
  spec/fabricators/user_fabricator.rb
  spec/integration/flags_spec.rb
  spec/integration/same_ip_spammers_spec.rb
  spec/integration/spam_rules_spec.rb
  spec/integration/watched_words_spec.rb
  spec/lib/email/receiver_spec.rb
  spec/lib/guardian/topic_guardian_spec.rb
  spec/lib/guardian/user_guardian_spec.rb
  spec/lib/guardian_spec.rb
  spec/lib/new_post_manager_spec.rb
  spec/lib/topic_creator_spec.rb
  spec/lib/topic_query_spec.rb
  spec/mailers/invite_mailer_spec.rb
  spec/models/post_spec.rb
  spec/models/reviewable_score_spec.rb
  spec/models/topic_spec.rb
  spec/requests/invites_controller_spec.rb
  spec/requests/posts_controller_spec.rb
  spec/requests/topics_controller_spec.rb
  spec/requests/user_api_keys_controller_spec.rb
  spec/requests/users_controller_spec.rb
  spec/services/anonymous_shadow_creator_spec.rb
  spec/services/user_updater_spec.rb
  spec/system/composer/post_validation_spec.rb
Labels: chat

#25459 DEV: Add admin warning for sites on Ember 3
  app/models/admin_dashboard_data.rb
  config/locales/server.en.yml
Labels: i18n

#25411 DEV: add site setting to disable watched word checking in user fields
  app/models/user.rb
  config/locales/server.en.yml
  config/site_settings.yml
  spec/models/user_spec.rb
Labels: i18n

#25404 DEV: Update confirm-email flows to use central 2fa and ember rendering
  app/assets/javascripts/confirm-new-email/bootstrap.js
  app/assets/javascripts/confirm-new-email/confirm-new-email.js
  app/assets/javascripts/discourse/app/controllers/confirm-new-email.js
  app/assets/javascripts/discourse/app/controllers/confirm-old-email.js
  app/assets/javascripts/discourse/app/controllers/second-factor-auth.js
  app/assets/javascripts/discourse/app/routes/app-route-map.js
  app/assets/javascripts/discourse/app/routes/confirm-new-email.js
  app/assets/javascripts/discourse/app/routes/confirm-old-email.js
  app/assets/javascripts/discourse/app/templates/confirm-new-email.hbs
  app/assets/javascripts/discourse/app/templates/confirm-old-email.hbs
  app/controllers/users_email_controller.rb
  app/views/users_email/show_confirm_new_email.html.erb
  app/views/users_email/show_confirm_old_email.html.erb
  config/initializers/assets.rb
  config/locales/client.en.yml
  config/locales/server.en.yml
  config/routes.rb
  lib/second_factor/actions/confirm_email.rb
  spec/requests/users_email_controller_spec.rb
  spec/system/email_change_spec.rb
Labels: i18n

#25456 FIX: Make long thread titles readable
  plugins/chat/assets/javascripts/discourse/components/chat-thread.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/drawer-routes/channel-thread.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/drawer-routes/threads.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/navbar/index.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/navbar/title.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/routes/channel-thread.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/thread/header.gjs
  plugins/chat/assets/stylesheets/common/base-common.scss
  plugins/chat/assets/stylesheets/common/chat-channel.scss
  plugins/chat/assets/stylesheets/common/chat-height-mixin.scss
  plugins/chat/assets/stylesheets/common/chat-navbar.scss
  plugins/chat/assets/stylesheets/common/chat-thread.scss
  plugins/chat/assets/stylesheets/common/chat-threads-list.scss
  plugins/chat/assets/stylesheets/mobile/chat-navbar.scss
Labels: chat

#25470 FIX: Hide 'My Threads' if no followed channels have threads
  plugins/chat/assets/javascripts/discourse/components/channels-list-public.gjs
  plugins/chat/assets/javascripts/discourse/components/user-threads/index.gjs
  plugins/chat/assets/javascripts/discourse/initializers/chat-sidebar.js
  plugins/chat/assets/stylesheets/common/chat-user-threads.scss
  plugins/chat/config/locales/client.en.yml
  plugins/chat/spec/system/page_objects/chat_drawer/chat_drawer.rb
  plugins/chat/spec/system/page_objects/sidebar/sidebar.rb
  plugins/chat/spec/system/user_threads_spec.rb
Labels: chat, i18n

#25461 FIX: Chat messages exporter
  plugins/chat/lib/chat/messages_exporter.rb
  plugins/chat/spec/lib/chat/messages_exporter_spec.rb
Labels: chat

#25489 Fix typos
  config/locales/client.en.yml
Labels: i18n

#25458 FIX: chat channel row indicator should only show urgent count
  plugins/chat/assets/javascripts/discourse/components/chat-channel-unread-indicator.gjs
  plugins/chat/spec/system/message_notifications_mobile_spec.rb
Labels: chat

#25501 UX: shows PWA/Hub footer navigation on chat
  app/assets/stylesheets/common/base/menu-panel.scss
  app/assets/stylesheets/common/components/footer-nav.scss
  app/assets/stylesheets/common/loading-slider.scss
  plugins/chat/assets/stylesheets/common/chat-height-mixin.scss
  plugins/chat/assets/stylesheets/mobile/base-mobile.scss
  plugins/chat/assets/stylesheets/mobile/chat-footer.scss
Labels: chat

#25505 FIX: missing translation of guidelines_topic.body
  config/locales/server.en.yml
  lib/seed_data/topics.rb
  spec/lib/seed_data/topics_spec.rb
Labels: i18n
