Repository discourse/discourse, pull requests merged in 2024-03, with the labels that each got.

#25984 DEV: attempts to fix flakey spec
  plugins/chat/spec/system/page_objects/chat/components/channel_row.rb
Labels: chat

#25996 Update typographer markdown settings text on server.en.yml
  config/locales/server.en.yml
Labels: i18n

#26003 FEATURE: Allow specific groups to view raw email
  app/assets/javascripts/discourse/app/lib/transform-post.js
  app/serializers/current_user_serializer.rb
  config/locales/server.en.yml
  config/site_settings.yml
  lib/guardian/post_guardian.rb
  spec/requests/posts_controller_spec.rb
Labels: i18n

#25829 UX: Site setting descriptions initial pass
  config/locales/server.en.yml
Labels: i18n

#26008 DEV: skip flakey last read spec
  plugins/chat/spec/system/update_last_read_spec.rb
Labels: chat

#26009 DEV: quit session asap
  plugins/chat/spec/system/reply_to_message/smoke_spec.rb
Labels: chat

#25524 DEV: Update rubocop-discourse to latest version
  .rubocop.yml
  Gemfile.lock
  plugins/chat/app/controllers/chat/api/category_chatables_controller.rb
  plugins/chat/app/controllers/chat/api/channels_controller.rb
  plugins/chat/app/controllers/chat/api/channels_current_user_notifications_settings_controller.rb
  plugins/chat/app/controllers/chat/api/hints_controller.rb
  plugins/chat/app/controllers/chat/api_controller.rb
  plugins/chat/app/controllers/chat/base_controller.rb
  plugins/chat/plugin.rb
  plugins/discourse-local-dates/plugin.rb
  plugins/discourse-narrative-bot/lib/discourse_narrative_bot/post_guardian_extension.rb
  plugins/discourse-narrative-bot/plugin.rb
  plugins/poll/lib/post_extension.rb
  plugins/poll/lib/user_extension.rb
  plugins/poll/plugin.rb
  plugins/styleguide/plugin.rb
  spec/lib/auth/default_current_user_provider_spec.rb
  spec/lib/composer_messages_finder_spec.rb
  spec/mailers/rejection_mailer_spec.rb
  spec/models/theme_spec.rb
  spec/models/user_search_spec.rb
  spec/requests/users_controller_spec.rb
  spec/serializers/basic_user_serializer_spec.rb
  spec/serializers/concerns/user_status_mixin_spec.rb
  spec/serializers/found_user_serializer_spec.rb
  spec/serializers/post_serializer_spec.rb
  spec/system/group_activity_spec.rb
Labels: chat

#26011 DEV: Modifier for Chat::Mailer to skip summary email for users
  plugins/chat/lib/chat/mailer.rb
  plugins/chat/spec/components/chat/mailer_spec.rb
Labels: chat

#25916 FEATURE: Introduce APIs for manipulating header icons
  app/assets/javascripts/discourse/app/components/glimmer-header/icons.gjs
  app/assets/javascripts/discourse/app/lib/dag.js
  app/assets/javascripts/discourse/app/lib/plugin-api.gjs
  app/assets/javascripts/discourse/app/widgets/header.js
  app/assets/javascripts/discourse/tests/unit/lib/dag-test.js
  docs/CHANGELOG-JAVASCRIPT-PLUGIN-API.md
  plugins/chat/assets/javascripts/discourse/initializers/chat-setup.js
Labels: chat

#26022 FIX: active webhook types exclude inactive plugins
  app/models/web_hook_event_type.rb
  spec/models/web_hook_event_type_spec.rb
Labels: staff-experience

#26025 FEATURE: site setting to include post in penalty messages
  app/assets/javascripts/admin/addon/components/modal/penalize-user.js
  app/assets/javascripts/discourse/tests/acceptance/flag-post-test.js
  config/locales/server.en.yml
  config/site_settings.yml
Labels: i18n

#26026 FEATURE: site setting to include post in penalty messages
  app/assets/javascripts/admin/addon/components/modal/penalize-user.js
  app/assets/javascripts/discourse/tests/acceptance/flag-post-test.js
  config/locales/server.en.yml
  config/site_settings.yml
Labels: i18n

#26010 FIX: correctly shows as disabled a user who can't chat
  plugins/chat/app/serializers/chat/chatable_user_serializer.rb
  plugins/chat/lib/chat/channel_fetcher.rb
  plugins/chat/lib/chat/guardian_extensions.rb
  plugins/chat/spec/integration/outgoing_web_hooks_spec.rb
  plugins/chat/spec/serializer/chat/chatable_user_serializer_spec.rb
  plugins/chat/spec/system/channel_members_page_spec.rb
  plugins/chat/spec/system/chat_message_creator_spec.rb
Labels: chat

#25928 UX: chat message creator scss cleanup + design tweak to username display
  app/assets/javascripts/float-kit/addon/components/d-tooltip.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/message-creator/group.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/message-creator/user.gjs
  plugins/chat/assets/stylesheets/common/chat-message-creator.scss
  plugins/chat/spec/system/chat_message_creator_spec.rb
Labels: chat

#25971 DEV: Improve uploads_importer script
  script/bulk_import/uploads_importer.rb
  script/bulk_import/uploads_importer.yml
Labels: migrations-tooling

#25979 DEV: More bulk select modal enhancements
  app/assets/javascripts/discourse/app/components/modal/bulk-topic-actions.gjs
  app/assets/stylesheets/common/modal/modal-overrides.scss
  config/locales/client.en.yml
Labels: i18n, staff-experience

#26034 UX: fix fontsize and weight for prioritize username setting
  plugins/chat/assets/stylesheets/common/chat-message-creator.scss
Labels: chat

#26033 FIX: do not show threads with no replies
  plugins/chat/app/serializers/chat/thread_serializer.rb
  plugins/chat/app/services/chat/create_message.rb
  plugins/chat/assets/javascripts/discourse/components/chat-thread-list.gjs
  plugins/chat/assets/javascripts/discourse/models/chat-thread.js
  plugins/chat/assets/javascripts/discourse/services/chat-subscriptions-manager.js
  plugins/chat/spec/services/chat/create_message_spec.rb
  plugins/chat/spec/system/thread_list/full_page_spec.rb
Labels: chat

#25972 DEV: Improve generic import script
  script/bulk_import/base.rb
  script/bulk_import/generic_bulk.rb
Labels: migrations-tooling

#26006 DEV: Open theme settings objects editor from admin customize theme page
  app/assets/javascripts/admin/addon/components/site-setting.hbs
  app/assets/javascripts/admin/addon/components/site-settings/string.hbs
  app/assets/javascripts/admin/addon/controllers/admin-customize-themes-schema.js
  app/assets/javascripts/admin/addon/mixins/setting-component.js
  app/assets/javascripts/admin/addon/routes/admin-customize-themes-schema.js
  app/assets/javascripts/admin/addon/routes/admin-customize-themes-show-schema.js
  app/assets/javascripts/admin/addon/routes/admin-customize-themes-show.js
  app/assets/javascripts/admin/addon/routes/admin-route-map.js
  app/assets/javascripts/admin/addon/templates/customize-themes-schema.hbs
  app/assets/javascripts/admin/addon/templates/customize-themes-show-schema.hbs
  app/assets/javascripts/admin/addon/templates/customize-themes-show.hbs
  app/assets/javascripts/discourse/app/components/modal/json-schema-editor.hbs
  app/assets/javascripts/discourse/app/components/modal/json-schema-editor.js
  app/serializers/theme_settings_serializer.rb
  config/locales/client.en.yml
  lib/theme_settings_manager/objects.rb
  spec/serializers/theme_settings_serializer_spec.rb
  spec/system/admin_customize_themes_spec.rb
  spec/system/page_objects/pages/admin_customize_themes.rb
Labels: i18n, platform

#26054 DEV: rely on default session in smoke spec
  plugins/chat/spec/system/reply_to_message/smoke_spec.rb
Labels: chat

#26035 FEATURE: Add "+ subcategories" option back
  app/assets/javascripts/discourse/app/helpers/category-link.js
  app/assets/javascripts/discourse/app/models/category.js
  app/assets/javascripts/discourse/tests/integration/components/select-kit/category-selector-test.js
  app/assets/javascripts/select-kit/addon/components/category-row.gjs
  app/assets/javascripts/select-kit/addon/components/category-selector.js
  app/assets/stylesheets/common/select-kit/category-selector.scss
  config/locales/client.en.yml
Labels: i18n, platform

#26082 DEV: Remove the need for splat operator in services
  plugins/chat/app/services/chat/add_users_to_channel.rb
  plugins/chat/app/services/chat/auto_join_channel_batch.rb
  plugins/chat/app/services/chat/auto_remove/handle_category_updated.rb
  plugins/chat/app/services/chat/auto_remove/handle_chat_allowed_groups_change.rb
  plugins/chat/app/services/chat/auto_remove/handle_destroyed_group.rb
  plugins/chat/app/services/chat/auto_remove/handle_user_removed_from_group.rb
  plugins/chat/app/services/chat/create_category_channel.rb
  plugins/chat/app/services/chat/create_direct_message_channel.rb
  plugins/chat/app/services/chat/create_message.rb
  plugins/chat/app/services/chat/create_thread.rb
  plugins/chat/app/services/chat/flag_message.rb
  plugins/chat/app/services/chat/invite_users_to_channel.rb
  plugins/chat/app/services/chat/leave_channel.rb
  plugins/chat/app/services/chat/list_channel_messages.rb
  plugins/chat/app/services/chat/list_channel_thread_messages.rb
  plugins/chat/app/services/chat/lookup_channel_threads.rb
  plugins/chat/app/services/chat/lookup_thread.rb
  plugins/chat/app/services/chat/lookup_user_threads.rb
  plugins/chat/app/services/chat/mark_all_user_channels_read.rb
  plugins/chat/app/services/chat/restore_message.rb
  plugins/chat/app/services/chat/search_chatable.rb
  plugins/chat/app/services/chat/stop_message_streaming.rb
  plugins/chat/app/services/chat/tracking_state.rb
  plugins/chat/app/services/chat/trash_channel.rb
  plugins/chat/app/services/chat/trash_message.rb
  plugins/chat/app/services/chat/unfollow_channel.rb
  plugins/chat/app/services/chat/update_channel.rb
  plugins/chat/app/services/chat/update_channel_status.rb
  plugins/chat/app/services/chat/update_message.rb
  plugins/chat/app/services/chat/update_thread.rb
  plugins/chat/app/services/chat/update_thread_notification_settings.rb
  plugins/chat/app/services/chat/update_user_last_read.rb
  plugins/chat/app/services/chat/update_user_thread_last_read.rb
  plugins/chat/app/services/chat/upsert_draft.rb
  plugins/chat/app/services/service.rb
  plugins/chat/app/services/service/base.rb
Labels: chat

#26051 FEATURE: Enable strict-dynamic Content-Security-Policy by default
  config/locales/server.en.yml
  config/site_settings.yml
  lib/content_security_policy/builder.rb
  spec/integration/content_security_policy_spec.rb
  spec/lib/content_security_policy_spec.rb
  spec/requests/application_controller_spec.rb
Labels: i18n

#26095 FIX: improves linking of thread messages
  plugins/chat/assets/javascripts/discourse/components/chat-message-thread-indicator.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-message.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/message/info.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/message/left-gutter.gjs
  plugins/chat/assets/javascripts/discourse/helpers/format-chat-date.js
  plugins/chat/assets/stylesheets/common/chat-message-thread-indicator.scss
  plugins/chat/test/javascripts/unit/helpers/format-chat-date-test.js
Labels: chat

#26069 A11Y: Update bulk selection keyboard shortcuts
  app/assets/javascripts/discourse/app/components/modal/keyboard-shortcuts-help.js
  app/assets/javascripts/discourse/app/lib/keyboard-shortcuts.js
  app/assets/javascripts/discourse/tests/acceptance/keyboard-shortcuts-test.js
  config/locales/client.en.yml
  spec/system/page_objects/components/topic_list.rb
  spec/system/page_objects/components/topic_list_header.rb
  spec/system/topic_bulk_select_spec.rb
  spec/system/topic_page_spec.rb
Labels: i18n

#26012 UX: Chat avatar is-online styling
  plugins/chat/assets/stylesheets/common/base-common.scss
  plugins/chat/assets/stylesheets/common/chat-channel-icon.scss
  plugins/chat/assets/stylesheets/common/chat-channel-title.scss
  plugins/chat/assets/stylesheets/common/chat-user-avatar.scss
Labels: chat

#26107 FIX: Use user's locale for chat push notifications
  plugins/chat/app/jobs/regular/chat/notify_watching.rb
Labels: chat

#26072 FEATURE: Silence Close Notifications User Setting
  app/assets/javascripts/discourse/app/controllers/preferences/tracking.js
  app/assets/javascripts/discourse/app/models/user.js
  app/assets/javascripts/discourse/app/templates/preferences/tracking.hbs
  app/models/post_timing.rb
  app/models/user_option.rb
  app/serializers/user_option_serializer.rb
  app/services/topic_status_updater.rb
  app/services/user_updater.rb
  config/locales/client.en.yml
  db/migrate/20240307231053_add_topics_unread_when_closed_to_user_options.rb
  spec/requests/api/schemas/json/user_get_response.json
  spec/system/page_objects/pages/topic.rb
  spec/system/topics_unread_when_closed_spec.rb
Labels: i18n

#26109 UX: Change default action label from "Message" to "Send Message" when sending a message
  config/locales/client.en.yml
Labels: i18n

#25568 UX: remove last reply from My Threads preview + restyle
  plugins/chat/assets/javascripts/discourse/components/channel-icon/index.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/thread/header.gjs
  plugins/chat/assets/javascripts/discourse/components/user-threads/index.gjs
  plugins/chat/assets/javascripts/discourse/components/user-threads/preview.gjs
  plugins/chat/assets/stylesheets/mobile/chat-user-threads.scss
  plugins/chat/spec/system/user_threads_spec.rb
Labels: chat

#26123 UX: chat thread last replied user avatar
  plugins/chat/assets/javascripts/discourse/components/channel-icon/index.gjs
Labels: chat

#26023 FIX: code "block" detection before showing autocomplete
  app/assets/javascripts/discourse/app/components/composer-editor.js
  app/assets/javascripts/discourse/app/components/d-editor.js
  app/assets/javascripts/discourse/app/lib/autocomplete.js
  app/assets/javascripts/discourse/app/lib/hashtag-autocomplete.js
  app/assets/javascripts/discourse/app/lib/utilities.js
  app/assets/javascripts/discourse/tests/acceptance/composer-editor-mentions-test.js
  app/assets/javascripts/discourse/tests/acceptance/emoji-test.js
  app/assets/javascripts/discourse/tests/acceptance/hashtag-autocomplete-test.js
  app/assets/javascripts/discourse/tests/helpers/component-test.js
  app/assets/javascripts/discourse/tests/helpers/qunit-helpers.js
  app/assets/javascripts/discourse/tests/unit/lib/autocomplete-test.js
  app/assets/javascripts/discourse/tests/unit/lib/utilities-test.js
  plugins/chat/test/javascripts/acceptance/user-status-on-mentions-test.js
Labels: javascript, chat

#26140 UX: Improve error handling for DiscourseConnect
  app/controllers/session_controller.rb
  config/locales/server.en.yml
  lib/discourse_connect_base.rb
  spec/requests/session_controller_spec.rb
Labels: i18n

#26142 DEV: Update the description for `include_in_discourse_discover`
  config/locales/server.en.yml
Labels: i18n

#26133 DEV: Add save button to editing typed objects theme setting route
  app/assets/javascripts/admin/addon/components/schema-theme-setting/editor.gjs
  app/assets/javascripts/admin/addon/components/site-setting.hbs
  app/assets/javascripts/admin/addon/mixins/setting-component.js
  app/assets/javascripts/admin/addon/mixins/setting-object.js
  app/assets/javascripts/admin/addon/routes/admin-customize-themes-show-schema.js
  app/assets/javascripts/admin/addon/templates/customize-themes-show-schema.hbs
  app/assets/javascripts/discourse/app/lib/computed.js
  app/assets/javascripts/discourse/tests/fixtures/theme-setting-schema-data.js
  app/assets/javascripts/discourse/tests/integration/components/admin-schema-theme-setting/editor-test.gjs
  spec/system/admin_customize_themes_spec.rb
  spec/system/admin_editing_objects_typed_theme_setting_spec.rb
  spec/system/page_objects/pages/admin_customize_themes.rb
  spec/system/page_objects/pages/admin_objects_theme_setting_editor.rb
Labels: platform

#26047 EXPERIMENTAL: restructure admin sidebar menu
  app/assets/javascripts/admin/addon/templates/backups-index.hbs
  app/assets/javascripts/admin/addon/templates/emojis.hbs
  app/assets/javascripts/discourse/app/components/sidebar/api-section.hbs
  app/assets/javascripts/discourse/app/lib/sidebar/admin-nav-map.js
  app/assets/javascripts/discourse/app/lib/sidebar/admin-sidebar.js
  app/assets/javascripts/discourse/tests/acceptance/admin-sidebar-section-test.js
  app/assets/stylesheets/common/admin/admin_emojis.scss
  config/locales/client.en.yml
  lib/svg_sprite.rb
  spec/system/admin_sidebar_navigation_spec.rb
Labels: i18n, staff-experience

#26024 DEV: Single admin plugin page for consistent admin plugin UX
  app/assets/javascripts/admin/addon/components/admin-plugin-config-area.gjs
  app/assets/javascripts/admin/addon/components/admin-plugin-config-page.gjs
  app/assets/javascripts/admin/addon/controllers/admin-plugins.js
  app/assets/javascripts/admin/addon/models/admin-plugin.js
  app/assets/javascripts/admin/addon/routes/admin-plugins-show.js
  app/assets/javascripts/admin/addon/routes/admin-route-map.js
  app/assets/javascripts/admin/addon/templates/plugins-show-settings.hbs
  app/assets/javascripts/admin/addon/templates/plugins-show.hbs
  app/assets/javascripts/admin/addon/templates/plugins.hbs
  app/assets/javascripts/discourse/app/components/back-button.gjs
  app/assets/javascripts/discourse/app/components/nav-item.gjs
  app/assets/javascripts/discourse/app/lib/sidebar/admin-sidebar.js
  app/assets/javascripts/discourse/tests/integration/components/admin-plugin-config-area-test.js
  app/assets/stylesheets/common/admin/plugins.scss
  app/assets/stylesheets/common/components/buttons.scss
  app/controllers/admin/plugins_controller.rb
  app/serializers/admin_plugin_serializer.rb
  config/locales/client.en.yml
  config/routes.rb
  lib/plugin/instance.rb
  plugins/chat/plugin.rb
  plugins/chat/spec/plugin_spec.rb
  plugins/chat/spec/requests/application_controller_spec.rb
  plugins/discourse-details/assets/stylesheets/details.scss
  spec/lib/plugin/instance_spec.rb
  spec/requests/admin/plugins_controller_spec.rb
Labels: chat, i18n

#26148 FEATURE: filter additional keywords for the sidebar
  app/assets/javascripts/admin/addon/components/admin-config-area-sidebar-experiment.js
  app/assets/javascripts/admin/addon/components/admin-plugins-list-item.gjs
  app/assets/javascripts/admin/addon/models/admin-plugin.js
  app/assets/javascripts/admin/addon/routes/admin.js
  app/assets/javascripts/admin/addon/services/admin-sidebar-state-manager.js
  app/assets/javascripts/discourse/app/components/sidebar/api-section.js
  app/assets/javascripts/discourse/app/lib/sidebar/admin-sidebar.js
  app/assets/javascripts/discourse/tests/acceptance/admin-plugins-test.js
  app/assets/javascripts/discourse/tests/acceptance/admin-sidebar-section-test.js
  app/assets/stylesheets/common/admin/plugins.scss
  app/controllers/application_controller.rb
  plugins/chat/spec/requests/application_controller_spec.rb
  spec/requests/application_controller_spec.rb
  spec/system/admin_plugins_list_spec.rb
  spec/system/admin_sidebar_navigation_spec.rb
Labels: chat, staff-experience

#26122 DEV: Move non scheduled problem checks to classes
  app/models/admin_dashboard_data.rb
  app/models/problem_check.rb
  app/services/problem_check/email_polling_errored_recently.rb
  app/services/problem_check/facebook_config.rb
  app/services/problem_check/failing_emails.rb
  app/services/problem_check/force_https.rb
  app/services/problem_check/github_config.rb
  app/services/problem_check/google_analytics_version.rb
  app/services/problem_check/google_oauth2_config.rb
  app/services/problem_check/host_names.rb
  app/services/problem_check/image_magick.rb
  app/services/problem_check/missing_mailgun_api_key.rb
  app/services/problem_check/out_of_date_themes.rb
  app/services/problem_check/rails_env.rb
  app/services/problem_check/ram.rb
  app/services/problem_check/s3_backup_config.rb
  app/services/problem_check/s3_cdn.rb
  app/services/problem_check/s3_upload_config.rb
  app/services/problem_check/subfolder_ends_in_slash.rb
  app/services/problem_check/translation_overrides.rb
  app/services/problem_check/twitter_config.rb
  app/services/problem_check/unreachable_themes.rb
  app/services/problem_check/watched_words.rb
  config/locales/server.en.yml
  lib/mem_info.rb
  spec/models/admin_dashboard_data_spec.rb
  spec/models/problem_check_spec.rb
  spec/services/problem_check/email_polling_errored_recently_spec.rb
  spec/services/problem_check/facebook_config_spec.rb
  spec/services/problem_check/failing_emails_spec.rb
  spec/services/problem_check/force_https_spec.rb
  spec/services/problem_check/github_config_spec.rb
  spec/services/problem_check/google_analytics_version_spec.rb
  spec/services/problem_check/google_oauth2_config_spec.rb
  spec/services/problem_check/group_email_credentials_spec.rb
  spec/services/problem_check/host_names_spec.rb
  spec/services/problem_check/image_magick_spec.rb
  spec/services/problem_check/missing_mailgun_api_key_spec.rb
  spec/services/problem_check/out_of_date_themes_spec.rb
  spec/services/problem_check/rails_env_spec.rb
  spec/services/problem_check/ram_spec.rb
  spec/services/problem_check/s3_backup_config_spec.rb
  spec/services/problem_check/s3_cdn_spec.rb
  spec/services/problem_check/s3_upload_config_spec.rb
  spec/services/problem_check/subfolder_ends_in_slash_spec.rb
  spec/services/problem_check/translation_overrides_spec.rb
  spec/services/problem_check/twitter_config_spec.rb
  spec/services/problem_check/twitter_login_spec.rb
  spec/services/problem_check/unreachable_themes_spec.rb
  spec/services/problem_check/watched_words_spec.rb
  spec/support/problem_check_matcher.rb
Labels: i18n

#26168 FIX: improvements for the admin sidebar
  app/assets/javascripts/admin/addon/templates/customize.hbs
  app/assets/javascripts/discourse/app/lib/sidebar/admin-nav-map.js
  config/locales/client.en.yml
Labels: i18n

#26161 UX: fix chat navbar header alignment
  plugins/chat/assets/stylesheets/mobile/chat-navbar.scss
Labels: chat

#26171 UX: fix chat title margin on drawer and side panel
  plugins/chat/assets/stylesheets/common/chat-navbar.scss
  plugins/chat/assets/stylesheets/common/chat-side-panel.scss
Labels: chat

#26178 DEV: Improve localizability for a few labels
  app/assets/javascripts/discourse/app/components/user-preferences/user-passkeys.gjs
  config/locales/client.en.yml
Labels: i18n

#26183 DEV: Add API scopes for post revisions
  app/models/api_key_scope.rb
  config/locales/client.en.yml
  spec/requests/admin/api_controller_spec.rb
Labels: i18n

#26172 DEV: Support description for properties in objects schema
  app/assets/javascripts/admin/addon/components/schema-theme-setting/editor.gjs
  app/assets/javascripts/admin/addon/components/schema-theme-setting/field.gjs
  app/assets/javascripts/discourse/tests/fixtures/theme-setting-schema-data.js
  app/assets/javascripts/discourse/tests/integration/components/admin-schema-theme-setting/editor-test.gjs
  app/assets/stylesheets/common/admin/admin_base.scss
  app/assets/stylesheets/common/admin/schema_field.scss
  app/serializers/theme_settings_serializer.rb
  spec/fixtures/theme_locales/objects_settings/en.yaml
  spec/fixtures/theme_settings/objects_settings.yaml
  spec/serializers/theme_settings_serializer_spec.rb
  spec/system/admin_editing_objects_typed_theme_setting_spec.rb
  spec/system/page_objects/pages/admin_objects_theme_setting_editor.rb
Labels: platform

#26154 FEATURE: Allow site settings to be edited throughout admin UI
  app/assets/javascripts/admin/addon/components/admin-plugin-filtered-site-settings.gjs
  app/assets/javascripts/admin/addon/components/admin-site-settings-filter-controls.gjs
  app/assets/javascripts/admin/addon/components/site-settings/string.hbs
  app/assets/javascripts/admin/addon/controllers/admin-plugins-show-settings.js
  app/assets/javascripts/admin/addon/controllers/admin-site-settings.js
  app/assets/javascripts/admin/addon/models/site-setting.js
  app/assets/javascripts/admin/addon/routes/admin-plugins-show-settings.js
  app/assets/javascripts/admin/addon/templates/plugins-show-settings.hbs
  app/assets/javascripts/admin/addon/templates/site-settings.hbs
  app/assets/javascripts/discourse/app/lib/site-setting-filter.js
  app/assets/javascripts/discourse/tests/acceptance/admin-site-settings-test.js
  app/assets/javascripts/discourse/tests/fixtures/site-settings.js
  app/assets/javascripts/discourse/tests/unit/controllers/admin-site-settings-test.js
  app/assets/stylesheets/common/admin/plugins.scss
  app/controllers/admin/site_settings_controller.rb
  lib/site_setting_extension.rb
  plugins/chat/spec/lib/site_setting_extension_spec.rb
  spec/models/site_setting_spec.rb
  spec/system/admin_site_setting_search_spec.rb
  spec/system/page_objects/pages/admin_settings.rb
Labels: chat

#26194 UX: First pass styling experimental objects typed setting editor
  app/assets/javascripts/admin/addon/components/schema-theme-setting/editor.gjs
  app/assets/javascripts/admin/addon/templates/customize-themes-show-schema.hbs
  app/assets/javascripts/discourse/tests/integration/components/admin-schema-theme-setting/editor-test.gjs
  app/assets/stylesheets/common/admin/admin_base.scss
  app/assets/stylesheets/common/admin/customize_themes_show_schema.scss
  app/assets/stylesheets/common/admin/schema_theme_setting_editor.scss
  config/locales/client.en.yml
  spec/system/page_objects/pages/admin_objects_theme_setting_editor.rb
Labels: i18n, platform

#26135 FEATURE: add chat direct message button to user profile
  app/assets/stylesheets/mobile/user.scss
  plugins/chat/assets/javascripts/discourse/components/chat/direct-message-button.gjs
  plugins/chat/assets/javascripts/discourse/connectors/user-card-below-message-button/chat-button.hbs
  plugins/chat/assets/javascripts/discourse/connectors/user-profile-controls/chat-button.hbs
  plugins/chat/assets/stylesheets/common/core-extensions.scss
  plugins/chat/spec/system/user_card_spec.rb
  plugins/chat/spec/system/user_profile_spec.rb
  plugins/chat/test/javascripts/components/chat-user-card-button-test.js
Labels: chat

#26155 PERF: defer loading channels
  plugins/chat/app/controllers/chat/api/current_user_channels_controller.rb
  plugins/chat/app/services/chat/list_channel_messages.rb
  plugins/chat/app/services/chat/list_user_channels.rb
  plugins/chat/assets/javascripts/discourse/components/channels-list-public.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-footer.gjs
  plugins/chat/assets/javascripts/discourse/initializers/chat-setup.js
  plugins/chat/assets/javascripts/discourse/initializers/chat-sidebar.js
  plugins/chat/assets/javascripts/discourse/routes/chat-index.js
  plugins/chat/assets/javascripts/discourse/services/chat-channels-manager.js
  plugins/chat/assets/javascripts/discourse/services/chat-state-manager.js
  plugins/chat/assets/javascripts/discourse/services/chat.js
  plugins/chat/lib/chat/engine.rb
  plugins/chat/plugin.rb
  plugins/chat/spec/plugin_spec.rb
  plugins/chat/spec/requests/chat/api/current_user_channels_spec.rb
  plugins/chat/spec/requests/core_ext/latest_performance_spec.rb
  plugins/chat/spec/services/chat/list_channel_messages_spec.rb
  plugins/chat/spec/services/chat/list_user_channels_spec.rb
  plugins/chat/spec/system/chat_channel_spec.rb
  plugins/chat/spec/system/chat_new_message_spec.rb
  plugins/chat/spec/system/drawer_spec.rb
  plugins/chat/spec/system/mention_warnings_spec.rb
  plugins/chat/spec/system/navigation_spec.rb
  plugins/chat/spec/system/removing_channel_spec.rb
  plugins/chat/test/javascripts/acceptance/hashtag-css-generator-test.js
  plugins/chat/test/javascripts/acceptance/mentions-test.js
  plugins/chat/test/javascripts/acceptance/user-status-on-mentions-test.js
  plugins/chat/test/javascripts/components/chat-channel-test.js
Labels: chat

#26227 UX: chat > fix lock icon in original message link
  plugins/chat/assets/stylesheets/common/chat-message-info.scss
Labels: chat

#26229 DEV: Clean up mobileView/desktopView uses
  app/assets/javascripts/discourse/app/components/basic-topic-list.js
  app/assets/javascripts/discourse/app/components/bookmark-list.hbs
  app/assets/javascripts/discourse/app/components/composer-container.hbs
  app/assets/javascripts/discourse/app/components/composer-editor.js
  app/assets/javascripts/discourse/app/components/discourse-banner.hbs
  app/assets/javascripts/discourse/app/components/discourse-topic.js
  app/assets/javascripts/discourse/app/components/glimmer-header.gjs
  app/assets/javascripts/discourse/app/components/glimmer-header/topic/info.gjs
  app/assets/javascripts/discourse/app/components/glimmer-site-header.gjs
  app/assets/javascripts/discourse/app/components/mobile-nav.js
  app/assets/javascripts/discourse/app/components/modal/history.hbs
  app/assets/javascripts/discourse/app/components/modal/history/revision.hbs
  app/assets/javascripts/discourse/app/components/modal/history/revision.js
  app/assets/javascripts/discourse/app/components/modal/share-topic.js
  app/assets/javascripts/discourse/app/components/sidebar/section-form-link.hbs
  app/assets/javascripts/discourse/app/components/topic-list-item.js
  app/assets/javascripts/discourse/app/components/topic-progress.js
  app/assets/javascripts/discourse/app/controllers/edit-category-tabs.js
  app/assets/javascripts/discourse/app/controllers/review-index.js
  app/assets/javascripts/discourse/app/instance-initializers/mobile-keyboard.js
  app/assets/javascripts/discourse/app/models/composer.js
  app/assets/javascripts/discourse/app/models/nav-item.js
  app/assets/javascripts/discourse/app/models/topic-tracking-state.js
  app/assets/javascripts/discourse/app/routes/discovery-categories.js
  app/assets/javascripts/discourse/app/services/composer.js
  app/assets/javascripts/discourse/app/services/navigation-menu.js
  app/assets/javascripts/discourse/app/templates/edit-category-tabs.hbs
  app/assets/javascripts/discourse/app/templates/user-invited-show.hbs
  app/assets/javascripts/discourse/app/widgets/header-topic-info.js
  app/assets/javascripts/discourse/app/widgets/header.js
  app/assets/javascripts/discourse/app/widgets/topic-admin-menu.js
  app/assets/javascripts/select-kit/addon/components/select-kit.js
  app/assets/javascripts/select-kit/addon/components/select-kit/select-kit-row.js
  plugins/chat/assets/javascripts/discourse/components/chat-channel-leave-btn.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/header/icon.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/thread/header.gjs
  plugins/chat/assets/javascripts/discourse/services/chat-state-manager.js
  plugins/chat/test/javascripts/components/chat-channel-leave-btn-test.js
  plugins/discourse-local-dates/assets/javascripts/discourse/components/modal/local-dates-create.hbs
Labels: chat

#26239 DEV: Fix typos in a chat service tests
  plugins/chat/test/javascripts/unit/services/chat-channel-info-route-origin-manager-test.js
Labels: chat

#26235 FIX: Do not lose admin sidebar when opening chat drawer
  app/assets/javascripts/admin/addon/routes/admin-revamp.js
  app/assets/javascripts/admin/addon/routes/admin.js
  app/assets/javascripts/admin/addon/services/admin-sidebar-state-manager.js
  plugins/chat/assets/javascripts/discourse/services/chat-state-manager.js
  plugins/chat/spec/system/admin_sidebar_navigation_spec.rb
Labels: chat

#26255 FIX: Add missing chat message illegal flag text
  plugins/chat/config/locales/client.en.yml
Labels: chat, i18n

#26237 FIX: hide chat btn from user card when chat disabled
  plugins/chat/plugin.rb
  plugins/chat/spec/plugin_spec.rb
Labels: chat

#26260 FIX: do not use return in block
  app/models/concerns/has_custom_fields.rb
  plugins/chat/app/services/chat/list_channel_messages.rb
  plugins/chat/spec/services/chat/list_channel_messages_spec.rb
  spec/lib/concern/has_custom_fields_spec.rb
Labels: chat

#26259 FIX: Error encountered when adding child object in object setting editor
  app/assets/javascripts/admin/addon/components/schema-theme-setting/editor.gjs
  app/assets/javascripts/discourse/tests/integration/components/admin-schema-theme-setting/editor-test.gjs
Labels: platform

#26257 DEV: Add validation message to string fields in theme object editor
  app/assets/javascripts/admin/addon/components/schema-theme-setting/field-input-description.gjs
  app/assets/javascripts/admin/addon/components/schema-theme-setting/field.gjs
  app/assets/javascripts/admin/addon/components/schema-theme-setting/types/boolean.gjs
  app/assets/javascripts/admin/addon/components/schema-theme-setting/types/category.gjs
  app/assets/javascripts/admin/addon/components/schema-theme-setting/types/enum.gjs
  app/assets/javascripts/admin/addon/components/schema-theme-setting/types/float.gjs
  app/assets/javascripts/admin/addon/components/schema-theme-setting/types/group.gjs
  app/assets/javascripts/admin/addon/components/schema-theme-setting/types/integer.gjs
  app/assets/javascripts/admin/addon/components/schema-theme-setting/types/string.gjs
  app/assets/javascripts/admin/addon/components/schema-theme-setting/types/tag.gjs
  app/assets/javascripts/discourse/tests/integration/components/admin-schema-theme-setting/editor-test.gjs
  app/assets/stylesheets/common/admin/schema_field.scss
  config/locales/client.en.yml
  spec/system/page_objects/pages/admin_objects_theme_setting_editor.rb
Labels: i18n, platform

#26284 DEV: Add validation message to integer fields in theme object editor
  app/assets/javascripts/admin/addon/components/schema-theme-setting/types/integer.gjs
  app/assets/javascripts/discourse/tests/integration/components/admin-schema-theme-setting/editor-test.gjs
  config/locales/client.en.yml
Labels: i18n

#26293 DEV: Improve UX when user profiles are hidden from public
  app/assets/javascripts/discourse/app/controllers/exception.js
  app/assets/javascripts/discourse/app/lib/url.js
  app/assets/javascripts/discourse/app/mixins/card-contents-base.js
  app/assets/javascripts/discourse/app/routes/application.js
  app/assets/javascripts/discourse/app/routes/user.js
  config/locales/client.en.yml
  spec/system/user_page/hide_from_public_spec.rb
Labels: i18n

#26312 UX: Improve group selector in theme objects editor
  app/assets/javascripts/admin/addon/components/schema-theme-setting/types/group.gjs
  app/assets/javascripts/discourse/tests/helpers/select-kit-helper.js
  app/assets/javascripts/discourse/tests/integration/components/admin-schema-theme-setting/editor-test.gjs
Labels: platform

#26314 FIX: Validate tags using `Tag#name` instead of `Tag#id` in `ThemeSettingsObjectValidator`
  config/locales/server.en.yml
  lib/theme_settings_object_validator.rb
  spec/lib/theme_settings_object_validator_spec.rb
Labels: i18n, platform

#26309 UX: Improve layout of theme objects setting editor
  app/assets/stylesheets/common/admin/schema_field.scss
Labels: platform

#26315 DEV: Change `tag` type to `tags` type for theme object schema
  app/assets/javascripts/admin/addon/components/schema-theme-setting/field.gjs
  app/assets/javascripts/admin/addon/components/schema-theme-setting/types/tag.gjs
  app/assets/javascripts/admin/addon/components/schema-theme-setting/types/tags.gjs
  app/assets/javascripts/discourse/tests/fixtures/theme-setting-schema-data.js
  app/assets/javascripts/discourse/tests/integration/components/admin-schema-theme-setting/editor-test.gjs
  app/assets/stylesheets/common/admin/schema_field.scss
  config/locales/client.en.yml
  config/locales/server.en.yml
  lib/theme_settings_object_validator.rb
  spec/lib/theme_settings_object_validator_spec.rb
Labels: i18n

#26318 UX: Ensure all header buttons are consistently sized
  app/assets/javascripts/discourse/app/components/d-button.gjs
  app/assets/javascripts/discourse/app/components/glimmer-header/dropdown.gjs
  app/assets/javascripts/discourse/app/widgets/header.js
  plugins/chat/assets/javascripts/discourse/components/chat/header/icon.gjs
Labels: chat

#26319 FIX: Remove broken narrative-bot search context logic
  plugins/discourse-narrative-bot/assets/javascripts/initializers/new-user-narrative.js
  plugins/discourse-narrative-bot/config/locales/server.en.yml
  plugins/discourse-narrative-bot/lib/discourse_narrative_bot/new_user_narrative.rb
Labels: i18n

#26328 UI: better modal backdrop opacity fading
  app/assets/javascripts/discourse/app/components/d-modal.gjs
  app/assets/stylesheets/common/base/modal.scss
  plugins/chat/spec/system/page_objects/chat/chat_channel.rb
  spec/system/page_objects/components/navigation_menu/base.rb
Labels: chat

#26340 FIX: Broken translation in tags input field objects setting editor
  app/assets/javascripts/admin/addon/components/schema-theme-setting/types/tags.gjs
  app/assets/javascripts/discourse/tests/integration/components/admin-schema-theme-setting/editor-test.gjs
  config/locales/client.en.yml
Labels: i18n, platform

#26224 DEV: Bulk Actions Dropdown Plugin API
  app/assets/javascripts/discourse/app/components/modal/bulk-topic-actions.gjs
  app/assets/javascripts/discourse/app/lib/plugin-api.gjs
  app/assets/javascripts/select-kit/addon/components/bulk-select-topics-dropdown.js
Labels: staff-experience

#26354 DEV: Load theme objects typed setting metadata when routing to editor
  app/assets/javascripts/admin/addon/components/schema-theme-setting/editor.gjs
  app/assets/javascripts/admin/addon/models/theme-settings.js
  app/assets/javascripts/admin/addon/routes/admin-customize-themes-show-schema.js
  app/controllers/admin/themes_controller.rb
  app/serializers/theme_objects_setting_metadata_serializer.rb
  app/serializers/theme_serializer.rb
  app/serializers/theme_settings_serializer.rb
  config/routes.rb
  spec/requests/admin/themes_controller_spec.rb
  spec/serializers/theme_objects_setting_metadata_serializer_spec.rb
  spec/serializers/theme_settings_serializer_spec.rb
  spec/system/admin_editing_objects_typed_theme_setting_spec.rb
  spec/system/page_objects/pages/admin_objects_theme_setting_editor.rb
Labels: platform

#26324 FEATURE: Simplify crawler content for non-canonical post URLs
  app/views/topics/show.html.erb
  config/locales/server.en.yml
  lib/topic_view.rb
  spec/requests/topics_controller_spec.rb
  spec/views/topics/show.html.erb_spec.rb
Labels: i18n

#26361 FEATURE: allow re-scoping chat user search via a plugin
  app/models/user.rb
  plugins/chat/app/services/chat/search_chatable.rb
  plugins/chat/spec/services/chat/search_chatable_spec.rb
  spec/models/user_spec.rb
Labels: chat

#26339 DEV: Change category type to categories type for theme object schema
  app/assets/javascripts/admin/addon/components/schema-theme-setting/editor.gjs
  app/assets/javascripts/admin/addon/components/schema-theme-setting/field.gjs
  app/assets/javascripts/admin/addon/components/schema-theme-setting/types/categories.gjs
  app/assets/javascripts/admin/addon/components/schema-theme-setting/types/category.gjs
  app/assets/javascripts/discourse/tests/fixtures/theme-setting-schema-data.js
  app/assets/javascripts/discourse/tests/helpers/select-kit-helper.js
  app/assets/javascripts/discourse/tests/integration/components/admin-schema-theme-setting/editor-test.gjs
  app/serializers/theme_objects_setting_metadata_serializer.rb
  config/locales/client.en.yml
  config/locales/server.en.yml
  lib/theme_settings_manager/objects.rb
  lib/theme_settings_object_validator.rb
  spec/fixtures/theme_settings/objects_settings.yaml
  spec/lib/theme_settings_manager/objects_spec.rb
  spec/lib/theme_settings_object_validator_spec.rb
  spec/requests/admin/themes_controller_spec.rb
  spec/serializers/theme_objects_setting_metadata_serializer_spec.rb
  spec/serializers/theme_settings_serializer_spec.rb
  spec/system/admin_editing_objects_typed_theme_setting_spec.rb
Labels: i18n, platform

#26358 FEATURE: the ability to expand/collapse all admin sections
  app/assets/javascripts/discourse/app/components/sidebar/admin-header.gjs
  app/assets/javascripts/discourse/app/components/sidebar/api-section.hbs
  app/assets/javascripts/discourse/app/components/sidebar/api-sections.hbs
  app/assets/javascripts/discourse/app/components/sidebar/back-to-forum.gjs
  app/assets/javascripts/discourse/app/components/sidebar/section.hbs
  app/assets/javascripts/discourse/app/components/sidebar/section.js
  app/assets/javascripts/discourse/app/components/sidebar/toggle-all-sections.gjs
  app/assets/javascripts/discourse/app/lib/sidebar/admin-sidebar.js
  app/assets/javascripts/discourse/app/lib/sidebar/base-custom-sidebar-section.js
  app/assets/javascripts/discourse/app/services/sidebar-state.js
  app/assets/javascripts/discourse/tests/acceptance/admin-sidebar-section-test.js
  app/assets/stylesheets/common/base/menu-panel.scss
  app/assets/stylesheets/common/base/sidebar.scss
  config/locales/client.en.yml
  plugins/chat/spec/system/admin_sidebar_navigation_spec.rb
  spec/system/admin_sidebar_navigation_spec.rb
  spec/system/page_objects/components/navigation_menu/sidebar.rb
Labels: chat, i18n, staff-experience

#26372 DEV: improves keyboard sizing
  app/assets/javascripts/discourse/app/components/d-document.js
  app/assets/javascripts/discourse/app/components/d-virtual-height.gjs
  app/assets/javascripts/discourse/app/instance-initializers/mobile-keyboard.js
  app/assets/javascripts/discourse/app/lib/body-scroll-lock.js
  app/assets/javascripts/discourse/app/lib/zoom-check.js
  app/assets/javascripts/discourse/app/templates/application.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-channel.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-composer.js
  plugins/chat/assets/javascripts/discourse/components/chat-message.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-thread.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-vh.js
  plugins/chat/assets/javascripts/discourse/lib/chat-ios-hacks.js
  plugins/chat/assets/javascripts/discourse/services/chat-channel-composer.js
  plugins/chat/assets/javascripts/discourse/services/chat-thread-composer.js
  plugins/chat/assets/javascripts/discourse/templates/chat.hbs
  plugins/chat/assets/stylesheets/common/chat-height-mixin.scss
Labels: chat

#26392 FIX: allow direct message when max dm users set to 1
  plugins/chat/app/services/chat/create_direct_message_channel.rb
  plugins/chat/spec/services/chat/create_direct_message_channel_spec.rb
Labels: chat

#26394 DEV: adds a has-preloaded-chat-channels body-class
  plugins/chat/assets/javascripts/discourse/connectors/above-site-header/chat-body-class.gjs
  plugins/chat/spec/system/page_objects/chat/chat.rb
  plugins/chat/spec/system/visit_channel_spec.rb
Labels: chat

#26380 DEV: Better error message when user is not allowed to user tags
  config/locales/server.en.yml
  lib/discourse_tagging.rb
Labels: i18n

#26417 DEV: Change group type to groups type for theme object schema
  app/assets/javascripts/admin/addon/components/schema-theme-setting/field.gjs
  app/assets/javascripts/admin/addon/components/schema-theme-setting/types/group.gjs
  app/assets/javascripts/admin/addon/components/schema-theme-setting/types/groups.gjs
  app/assets/javascripts/discourse/tests/fixtures/theme-setting-schema-data.js
  app/assets/javascripts/discourse/tests/integration/components/admin-schema-theme-setting/editor-test.gjs
  config/locales/client.en.yml
  config/locales/server.en.yml
  lib/theme_settings_object_validator.rb
  spec/lib/theme_settings_object_validator_spec.rb
Labels: i18n

#26296 update desc of personal message enabled groups setting
  config/locales/server.en.yml
Labels: i18n

#26269 Improved description of `allow_anonymous_likes`
  config/locales/server.en.yml
Labels: i18n

#26424 DEV: Various bulk-select dropdown tweaks
  app/assets/javascripts/discourse/app/components/modal/bulk-topic-actions.gjs
  app/assets/javascripts/discourse/app/raw-templates/topic-list-header-column.hbr
  app/assets/javascripts/select-kit/addon/components/bulk-select-topics-dropdown.js
  config/locales/client.en.yml
  config/locales/server.en.yml
  config/site_settings.yml
Labels: i18n

#26437 Fix typo
  config/locales/server.en.yml
Labels: i18n

#26439 chore: remove repetitive words
  app/assets/javascripts/discourse/app/controllers/topic.js
  lib/presence_channel.rb
  script/import_scripts/phpbb3/settings.yml
  spec/requests/users_controller_spec.rb
Labels: migrations-tooling
