Repository discourse/discourse, pull requests merged in 2024-04, with the labels that each got.

#26438 FIX: messages list shouldn't scroll on new message
  plugins/chat/assets/javascripts/discourse/components/chat-channel.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-thread.gjs
  plugins/chat/spec/system/chat_channel_spec.rb
Labels: chat

#26456 DEV: Fix case inconsistency in translation file
  app/assets/javascripts/discourse/app/lib/form-template-validation.js
  config/locales/client.en.yml
  spec/system/composer/template_validation_spec.rb
Labels: i18n

#26462 FIX: body scroll lock textarea
  plugins/chat/assets/javascripts/discourse/components/chat-composer.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-composer.js
Labels: chat

#26465 UX: tweaks enable defer setting copy
  config/locales/client.en.yml
Labels: i18n

#26396 UX: rename the word "Upgrade" to "Update" in the UI.
  app/assets/javascripts/admin/addon/components/version-checks.hbs
  app/assets/stylesheets/common/admin/dashboard.scss
  config/locales/client.en.yml
  config/locales/server.en.yml
  lib/discourse_updates.rb
Labels: i18n

#26291 DEV: allow themes to render their own custom homepage
  app/assets/javascripts/discourse/app/controllers/preferences/interface.js
  app/assets/javascripts/discourse/app/models/user.js
  app/assets/javascripts/discourse/app/routes/app-route-map.js
  app/assets/javascripts/discourse/app/templates/discovery/custom.hbs
  app/controllers/application_controller.rb
  app/controllers/custom_homepage_controller.rb
  app/helpers/application_helper.rb
  app/models/theme_modifier_set.rb
  app/models/user_option.rb
  app/serializers/user_serializer.rb
  app/serializers/web_hook_user_serializer.rb
  app/services/user_updater.rb
  app/views/default/custom.html.erb
  config/locales/client.en.yml
  config/routes.rb
  db/migrate/20240326200232_add_custom_homepage_theme_modifiers.rb
  lib/homepage_constraint.rb
  lib/homepage_helper.rb
  spec/lib/homepage_helper_spec.rb
  spec/requests/api/schemas/json/user_get_response.json
  spec/services/user_updater_spec.rb
  spec/system/homepage_spec.rb
Labels: i18n, platform

#26468 UX: changes defer copy to mark unread
  config/locales/client.en.yml
Labels: i18n

#26479 DEV: Fix flaky system test
  plugins/chat/spec/system/document_title_spec.rb
Labels: chat

#26478 FEATURE: ignore manually deactivated users when purging
  app/assets/javascripts/discourse/app/lib/site-setting-filter.js
  app/assets/javascripts/discourse/tests/fixtures/site-settings.js
  app/models/user.rb
  config/locales/server.en.yml
  lib/site_setting_extension.rb
  spec/models/user_spec.rb
  spec/system/admin_site_setting_search_spec.rb
Labels: i18n

#26445 DEV: Use Category.findById instead of Array.find
  app/assets/javascripts/discourse/app/controllers/edit-category-tabs.js
  app/assets/javascripts/discourse/app/models/composer.js
  app/assets/javascripts/discourse/app/models/user-drafts-stream.js
  app/assets/javascripts/discourse/app/routes/about.js
  app/assets/javascripts/discourse/app/services/composer.js
  plugins/chat/assets/javascripts/discourse/components/chat/modal/create-channel.js
Labels: chat

#26342 DEV: Make category object more Ember friendly
  app/assets/javascripts/discourse/app/controllers/edit-category-tabs.js
  app/assets/javascripts/discourse/app/models/category-list.js
  app/assets/javascripts/discourse/app/models/category.js
  app/assets/javascripts/discourse/app/models/site.js
  app/assets/javascripts/discourse/app/models/topic.js
  app/assets/javascripts/discourse/tests/acceptance/d-styles-test.js
  app/assets/javascripts/discourse/tests/acceptance/hashtag-css-generator-test.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-user-categories-section-test.js
  app/assets/javascripts/discourse/tests/integration/components/reorder-categories-test.gjs
  app/assets/javascripts/discourse/tests/unit/models/category-test.js
  app/assets/javascripts/discourse/tests/unit/models/site-test.js
  plugins/chat/test/javascripts/acceptance/hashtag-css-generator-test.js
Labels: chat, platform

#26480 UX: Improvements to user tips
  app/assets/javascripts/discourse/app/components/bootstrap-mode-notice.hbs
  app/assets/javascripts/discourse/app/components/header/user-dropdown/notifications.gjs
  app/assets/javascripts/discourse/app/components/topic-timeline.hbs
  app/assets/javascripts/discourse/app/components/topic-timeline/container.hbs
  app/assets/javascripts/discourse/app/components/user-tip-container.gjs
  app/assets/javascripts/discourse/app/components/user-tip.gjs
  app/assets/javascripts/discourse/app/instance-initializers/user-tips.js
  app/assets/javascripts/discourse/app/services/user-tips.js
  app/assets/javascripts/discourse/app/widgets/header-user-tip-shim.js
  app/assets/javascripts/discourse/app/widgets/post-menu.js
  app/assets/javascripts/discourse/app/widgets/post.js
  app/assets/stylesheets/common/base/user-tips.scss
  app/assets/stylesheets/common/float-kit/d-tooltip.scss
  app/services/user_updater.rb
  config/locales/client.en.yml
  spec/services/user_updater_spec.rb
  spec/system/user_tips_spec.rb
Labels: i18n

#26505 updated bootstrap site setting to refer to getting started button
  config/locales/server.en.yml
Labels: i18n

#26513 DEV: fix flakey spec
  plugins/chat/spec/system/chat_channel_spec.rb
Labels: chat

#26469 DEV: Correctly pluralize error messages
  app/models/username_validator.rb
  config/locales/server.en.yml
  lib/theme_settings_object_validator.rb
  lib/validators/string_setting_validator.rb
  lib/validators/stripped_length_validator.rb
  spec/lib/theme_settings_object_validator_spec.rb
  spec/lib/theme_settings_validator_spec.rb
  spec/models/username_validator_spec.rb
  spec/requests/users_controller_spec.rb
Labels: ⚠ DO NOT MERGE, i18n

#26506 DEV: Move chat service objects into core
  app/helpers/with_service_helper.rb
  app/services/service.rb
  app/services/service/base.rb
  lib/steps_inspector.rb
  plugins/chat/app/controllers/chat/api_controller.rb
  plugins/chat/app/controllers/chat/incoming_webhooks_controller.rb
  plugins/chat/app/helpers/chat/with_service_helper.rb
  plugins/chat/app/jobs/service_job.rb
  plugins/chat/lib/chat/steps_inspector.rb
  plugins/chat/lib/chat_sdk/channel.rb
  plugins/chat/lib/chat_sdk/message.rb
  plugins/chat/lib/chat_sdk/thread.rb
  plugins/chat/spec/plugin_helper.rb
  plugins/chat/spec/support/chat_service_matcher.rb
  spec/lib/steps_inspector_spec.rb
  spec/support/service_matchers.rb
Labels: chat

#23071 FEATURE: Redesigned bookmark modal and menu
  app/assets/javascripts/discourse/app/components/bookmark-list.js
  app/assets/javascripts/discourse/app/components/bookmark-menu.gjs
  app/assets/javascripts/discourse/app/components/modal/bookmark.hbs
  app/assets/javascripts/discourse/app/components/modal/bookmark.js
  app/assets/javascripts/discourse/app/controllers/topic.js
  app/assets/javascripts/discourse/app/instance-initializers/bookmark-menu.js
  app/assets/javascripts/discourse/app/lib/bookmark-form-data.js
  app/assets/javascripts/discourse/app/lib/bookmark.js
  app/assets/javascripts/discourse/app/lib/post-bookmark-manager.js
  app/assets/javascripts/discourse/app/lib/time-shortcut.js
  app/assets/javascripts/discourse/app/lib/time-utils.js
  app/assets/javascripts/discourse/app/services/bookmark-api.js
  app/assets/javascripts/discourse/app/templates/topic.hbs
  app/assets/javascripts/discourse/app/widgets/bookmark-menu.js
  app/assets/javascripts/discourse/app/widgets/post-menu.js
  app/assets/javascripts/discourse/tests/integration/components/float-kit/d-menu-test.js
  app/assets/javascripts/discourse/tests/integration/components/float-kit/d-tooltip-test.js
  app/assets/javascripts/float-kit/addon/components/d-menu.gjs
  app/assets/javascripts/float-kit/addon/components/d-tooltip.gjs
  app/assets/javascripts/float-kit/addon/lib/constants.js
  app/assets/javascripts/float-kit/addon/lib/float-kit-instance.js
  app/assets/stylesheets/common/components/_index.scss
  app/assets/stylesheets/common/components/bookmark-menu.scss
  app/serializers/current_user_serializer.rb
  config/locales/client.en.yml
  config/locales/server.en.yml
  plugins/chat/assets/javascripts/discourse/lib/chat-message-interactor.js
  plugins/discourse-local-dates/spec/system/local_dates_spec.rb
  spec/system/bookmarks_spec.rb
  spec/system/page_objects/components/bookmark_menu.rb
  spec/system/page_objects/pages/topic.rb
Labels: chat, i18n

#26534 UX: better copy for reminder set
  config/locales/client.en.yml
Labels: i18n

#26270 DEV: Replace Category.findById with Category.asyncFindByIds in easy cases
  app/assets/javascripts/discourse-common/addon/utils/multi-cache.js
  app/assets/javascripts/discourse/app/components/modal/history.js
  app/assets/javascripts/discourse/app/models/category.js
  app/assets/javascripts/discourse/app/models/group.js
Labels: platform

#26535 FEATURE: Add message to bulk close topics
  app/assets/javascripts/discourse/app/components/modal/bulk-topic-actions.gjs
  app/assets/stylesheets/common/modal/modal-overrides.scss
  app/controllers/topics_controller.rb
  config/locales/client.en.yml
  lib/topics_bulk_action.rb
  spec/system/page_objects/components/topic_list_header.rb
  spec/system/topic_bulk_select_spec.rb
Labels: i18n, staff-experience

#26538 UX: chat > deleted msg styling
  plugins/chat/assets/stylesheets/common/chat-message.scss
Labels: chat

#26391 FEATURE: enable new admin sidebar by default
  config/site_settings.yml
  db/migrate/20240327043323_disable_admin_sidebar_for_existing_sites.rb
Labels: staff-experience

#26554 FIX: do not autofocus input on edit in mobile
  plugins/chat/assets/javascripts/discourse/services/chat-channel-composer.js
  plugins/chat/assets/javascripts/discourse/services/chat-thread-composer.js
Labels: chat

#26565 DEV: Correctly pluralize strings
  config/locales/client.en.yml
  config/locales/server.en.yml
Labels: i18n

#26566 DEV: Reduce the usage of "(s)" in strings
  config/locales/client.en.yml
  config/locales/server.en.yml
Labels: i18n

#26546 FEATURE: confirmation when a public section is updated
  app/assets/javascripts/discourse/app/components/modal/sidebar-section-form.js
  config/locales/client.en.yml
  spec/system/custom_sidebar_sections_spec.rb
  spec/system/editing_sidebar_community_section_spec.rb
  spec/system/page_objects/modals/sidebar_section_form.rb
Labels: i18n, staff-experience

#26552 FEATURE: Add 'Create topic' automation script
  plugins/automation/admin/assets/javascripts/admin/components/placeholders-list.gjs
  plugins/automation/config/locales/client.en.yml
  plugins/automation/config/locales/server.en.yml
  plugins/automation/lib/discourse_automation/scripts.rb
  plugins/automation/lib/discourse_automation/scripts/topic.rb
  plugins/automation/plugin.rb
  plugins/automation/spec/scripts/topic_spec.rb
Labels: i18n

#26549 DEV: Rename with_secure_uploads? to should_secure_uploads? on Post
  app/models/post.rb
  lib/cooked_post_processor.rb
  lib/pretty_text.rb
  lib/tasks/uploads.rake
  lib/upload_security.rb
  plugins/chat/lib/chat/message_processor.rb
  spec/lib/cooked_post_processor_spec.rb
  spec/models/post_spec.rb
Labels: chat

#26571 DEV: Allow enum typed theme objects property to be optional
  app/assets/javascripts/admin/addon/components/schema-theme-setting/types/enum.gjs
  app/assets/javascripts/discourse/tests/integration/components/admin-schema-theme-setting/editor-test.gjs
  lib/theme_settings_object_validator.rb
  spec/lib/theme_settings_object_validator_spec.rb
Labels: platform

#26491 UX: Fix alignment issues around user status
  app/assets/javascripts/discourse/app/widgets/post-user-status.js
  app/assets/javascripts/float-kit/addon/components/d-tooltip.gjs
  app/assets/stylesheets/common/base/sidebar-section-link.scss
  app/assets/stylesheets/common/base/topic-post.scss
  app/assets/stylesheets/common/float-kit/d-tooltip.scss
  plugins/chat/assets/javascripts/discourse/components/chat/message/info.gjs
  plugins/chat/assets/stylesheets/common/chat-message-info.scss
  plugins/chat/assets/stylesheets/common/sidebar-extensions.scss
Labels: chat

#26567 FEATURE: Consolidate link notifications
  app/assets/javascripts/discourse-common/addon/lib/icon-library.js
  app/assets/javascripts/discourse/app/lib/notification-types-manager.js
  app/assets/javascripts/discourse/app/lib/notification-types/linked-consolidated.js
  app/assets/javascripts/discourse/tests/fixtures/concerns/notification-types.js
  app/assets/javascripts/discourse/tests/unit/lib/notification-types/linked-consolidated-test.js
  app/models/notification.rb
  app/services/notifications/consolidation_planner.rb
  config/locales/client.en.yml
  config/locales/server.en.yml
  config/site_settings.yml
  spec/requests/api/schemas/json/site_response.json
  spec/services/notifications/consolidation_planner_spec.rb
Labels: i18n

#26579 UX: Display JIT when user list is empty
  app/assets/javascripts/discourse/app/templates/users.hbs
  config/locales/client.en.yml
Labels: i18n

#26467 DEV: Introduce default 'auto' mode for glimmer header
  app/assets/javascripts/discourse/app/components/header/contents.gjs
  app/assets/javascripts/discourse/app/components/header/hamburger-dropdown-wrapper.gjs
  app/assets/javascripts/discourse/app/components/header/user-dropdown/user-status-bubble.gjs
  app/assets/javascripts/discourse/app/controllers/application.js
  app/assets/javascripts/discourse/app/instance-initializers/narrow-desktop.js
  app/assets/javascripts/discourse/app/lib/plugin-api.gjs
  app/assets/javascripts/discourse/app/modifiers/close-on-click-outside.js
  app/assets/javascripts/discourse/app/services/header.js
  app/assets/javascripts/discourse/app/templates/application.hbs
  app/assets/javascripts/discourse/tests/acceptance/do-not-disturb-test.js
  app/assets/javascripts/discourse/tests/acceptance/edit-notification-click-test.js
  app/assets/javascripts/discourse/tests/acceptance/header-api-test.gjs
  app/assets/javascripts/discourse/tests/acceptance/mobile-pan-test.js
  app/assets/javascripts/discourse/tests/acceptance/search-test.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-anonymous-user-test.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-narrow-desktop-test.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-user-test.js
  app/assets/javascripts/discourse/tests/acceptance/user-menu-test.js
  app/assets/javascripts/discourse/tests/acceptance/user-status-test.js
  app/assets/javascripts/pretty-text/addon/emoji.js
  app/models/user.rb
  app/serializers/current_user_serializer.rb
  config/locales/server.en.yml
  config/site_settings.yml
  spec/system/header_spec.rb
Labels: i18n

#26591 DEV: allows chat to render specific html tags
  plugins/chat/app/models/chat/message.rb
  plugins/chat/assets/javascripts/lib/discourse-markdown/chat-html-block.js
  plugins/chat/assets/javascripts/lib/discourse-markdown/chat-html-inline.js
  plugins/chat/spec/lib/chat/pretty_text_spec.rb
Labels: chat

#26593 FIX: only allows kbd and not details
  plugins/chat/app/models/chat/message.rb
  plugins/chat/assets/javascripts/lib/discourse-markdown/chat-html-block.js
  plugins/chat/spec/lib/chat/chat_pretty_text_spec.rb
  plugins/chat/spec/lib/chat/core_pretty_text_spec.rb
Labels: chat

#26590 DEV: Fix flaky test when moving threads
  plugins/chat/spec/system/move_message_to_channel_spec.rb
Labels: chat

#26551 DEV: Import script should insert more data into `user_stats` table
  lib/tasks/import.rake
  script/bulk_import/generic_bulk.rb
Labels: migrations-tooling

#24800 DEV: Drop chat_mention.notification_id column
  plugins/chat/app/models/chat/mention.rb
  plugins/chat/db/post_migrate/20240408140000_drop_notification_id_from_chat_mentions.rb
Labels: chat

#25022 DEV: Drop user_id from chat_mentions
  plugins/chat/app/models/chat/mention.rb
  plugins/chat/db/post_migrate/20240410130000_drop_user_id_from_chat_mentions.rb
Labels: chat

#26609 FEATURE: User Notifications Links Page
  app/assets/javascripts/discourse/app/lib/notification-types/linked-consolidated.js
  app/assets/javascripts/discourse/app/models/user-action.js
  app/assets/javascripts/discourse/app/routes/app-route-map.js
  app/assets/javascripts/discourse/app/routes/user-notifications-links.js
  app/assets/javascripts/discourse/app/templates/user/notifications.hbs
  app/assets/javascripts/discourse/tests/unit/lib/notification-types/linked-consolidated-test.js
  app/models/user_action.rb
  app/services/user_action_manager.rb
  config/locales/client.en.yml
Labels: i18n

#26602 FEATURE: Bulk topic tagging allowing restricted operations on sole categories
  app/assets/javascripts/discourse/app/components/modal/bulk-topic-actions.gjs
  app/assets/javascripts/discourse/app/lib/bulk-select-helper.js
  app/assets/stylesheets/common/modal/modal-overrides.scss
  config/locales/client.en.yml
  spec/system/page_objects/components/category_badge.rb
  spec/system/page_objects/components/topic_list.rb
  spec/system/page_objects/components/topic_list_header.rb
  spec/system/page_objects/modals/topic_bulk_actions.rb
  spec/system/topic_bulk_select_spec.rb
Labels: i18n

#26616 FIX: ensures reply is unlocking body scroll
  plugins/chat/assets/javascripts/discourse/components/chat-message-actions-mobile.gjs
Labels: chat

#26618 UX: Emoji alignment fixes, followup to #26491
  app/assets/stylesheets/common/base/sidebar-section-link.scss
  plugins/chat/assets/stylesheets/common/chat-channel-name.scss
  plugins/chat/assets/stylesheets/common/chat-message-info.scss
  plugins/chat/assets/stylesheets/common/sidebar-extensions.scss
Labels: chat

#26613 DEV: Move more service code to core
  config/initializers/100-active-support-type-extensions.rb
  lib/active_support_type_extensions/array.rb
  plugins/chat/lib/chat/types/array.rb
  plugins/chat/plugin.rb
  plugins/chat/spec/plugin_helper.rb
  spec/lib/active_support_type_extensions/array_spec.rb
  spec/rails_helper.rb
Labels: chat

#26645 FEATURE: Merge user associated accounts
  app/services/user_merger.rb
  config/locales/server.en.yml
  spec/fabricators/user_associated_account_fabricator.rb
  spec/services/user_merger_spec.rb
Labels: i18n

#26648 FEATURE: Add 'New users only' option to user_updated trigger
  plugins/automation/app/models/discourse_automation/automation.rb
  plugins/automation/config/locales/client.en.yml
  plugins/automation/lib/discourse_automation/event_handlers.rb
  plugins/automation/lib/discourse_automation/triggers/user_updated.rb
  plugins/automation/plugin.rb
  plugins/automation/spec/models/automation_spec.rb
  plugins/automation/spec/triggers/user_updated_spec.rb
Labels: i18n

#26644 FEATURE: direct link to components for admin sidebar
  app/assets/javascripts/admin/addon/components/themes-list.js
  app/assets/javascripts/admin/addon/routes/admin-customize-theme-components.js
  app/assets/javascripts/admin/addon/routes/admin-customize-themes.js
  app/assets/javascripts/admin/addon/routes/admin-route-map.js
  app/assets/javascripts/admin/addon/templates/admin.hbs
  app/assets/javascripts/admin/addon/templates/customize.hbs
  app/assets/javascripts/discourse/app/lib/sidebar/admin-nav-map.js
  app/assets/javascripts/discourse/tests/integration/components/themes-list-test.js
  config/locales/client.en.yml
  config/routes.rb
  spec/system/admin_customize_themes_spec.rb
  spec/system/page_objects/pages/admin_customize_themes.rb
Labels: i18n, staff-experience

#26612 FEATURE: mandatory fields for group site setting
  app/assets/javascripts/admin/addon/components/site-settings/group-list.hbs
  app/assets/javascripts/discourse/tests/integration/components/group-list-setting-test.js
  app/assets/javascripts/select-kit/addon/components/multi-select.hbs
  app/assets/javascripts/select-kit/addon/components/selected-choice.hbs
  app/assets/javascripts/select-kit/addon/components/selected-choice.js
  app/assets/stylesheets/common/select-kit/multi-select.scss
  app/services/site_settings_task.rb
  config/locales/client.en.yml
  config/locales/server.en.yml
  config/site_settings.yml
  lib/guardian.rb
  lib/site_setting_extension.rb
  spec/lib/guardian_spec.rb
  spec/lib/site_setting_extension_spec.rb
  spec/requests/admin/site_settings_controller_spec.rb
Labels: i18n

#26657 FEATURE: Make admin sidebar keywords translateable
  app/assets/javascripts/admin/addon/routes/admin.js
  app/assets/javascripts/admin/addon/services/admin-sidebar-state-manager.js
  app/assets/javascripts/discourse/app/lib/sidebar/admin-nav-map.js
  app/assets/javascripts/discourse/app/lib/sidebar/admin-sidebar.js
  config/locales/client.en.yml
Labels: i18n

#26672 FEATURE: Show additional filter links in admin sidebar for no results
  app/assets/javascripts/admin/addon/components/admin-site-settings-filter-controls.gjs
  app/assets/javascripts/admin/addon/routes/admin-users-list-show.js
  app/assets/javascripts/discourse/app/components/sidebar/filter-no-results.gjs
  config/locales/client.en.yml
  spec/system/admin_sidebar_navigation_spec.rb
Labels: i18n

#26281 FEATURE: Allow users to sign in using LinkedIn OpenID Connect
  config/locales/client.en.yml
  config/locales/server.en.yml
  config/site_settings.yml
  lib/auth.rb
  lib/auth/linkedin_oidc_authenticator.rb
  lib/discourse.rb
  lib/svg_sprite.rb
  lib/validators/linkedin_oidc_credentials_validator.rb
  spec/lib/auth/linkedin_oidc_authenticator_spec.rb
  spec/lib/validators/linkedin_oidc_credentials_validator_spec.rb
Labels: i18n

#26691 FIX: ensures last read is updated on exit
  plugins/chat/assets/javascripts/discourse/components/chat-channel.gjs
Labels: chat

#26692 FIX: messages are already reversed
  plugins/chat/assets/javascripts/discourse/components/chat-channel.gjs
Labels: chat

#26601 DEV: Add `getCategoryIdByName` helper function to theme migrations
  app/services/theme_settings_migrations_runner.rb
  spec/services/theme_settings_migrations_runner_spec.rb
Labels: platform

#26696 FEATURE: after wizard admin is redirected to the guide page
  app/assets/javascripts/discourse/app/components/bootstrap-mode-notice.hbs
  app/assets/javascripts/discourse/app/components/bootstrap-mode-notice.js
  app/assets/javascripts/discourse/app/templates/wizard/step.gjs
  app/models/user.rb
  config/locales/client.en.yml
  db/migrate/20240422015830_remove_admin_guide_tooltip_from_seen_popups.rb
  docs/ADMIN-QUICK-START-GUIDE.md
  spec/requests/api/schemas/json/site_response.json
  spec/system/page_objects/pages/wizard.rb
  spec/system/user_tips_spec.rb
  spec/system/wizard_spec.rb
Labels: i18n

#26708 FEATURE: include themes and components keywords to the admin sidebar
  app/assets/javascripts/admin/addon/services/admin-sidebar-state-manager.js
  app/assets/javascripts/discourse/app/lib/sidebar/admin-sidebar.js
  spec/system/admin_sidebar_navigation_spec.rb
Labels: staff-experience

#26737 FIX: Improve handling of 'PublicExceptions' when bootstrap_error_pages enabled
  app/controllers/application_controller.rb
  lib/read_only_mixin.rb
  spec/system/bootstrap_error_pages_spec.rb
Labels: stable

#26702 FEATURE: implements last read message for threads
  plugins/chat/app/controllers/chat/api/channels_read_controller.rb
  plugins/chat/app/controllers/chat/api/channels_threads_read_controller.rb
  plugins/chat/app/models/chat/thread.rb
  plugins/chat/app/models/chat/user_chat_thread_membership.rb
  plugins/chat/app/services/chat/list_channel_thread_messages.rb
  plugins/chat/app/services/chat/update_user_channel_last_read.rb
  plugins/chat/app/services/chat/update_user_thread_last_read.rb
  plugins/chat/assets/javascripts/discourse/components/chat-channel.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-messages-container.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-messages-scroller.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-thread.gjs
  plugins/chat/assets/javascripts/discourse/lib/chat-channel-subscription-manager.js
  plugins/chat/assets/javascripts/discourse/modifiers/chat/scrollable-list.js
  plugins/chat/assets/javascripts/discourse/services/chat-api.js
  plugins/chat/assets/stylesheets/common/base-common.scss
  plugins/chat/assets/stylesheets/common/chat-channel.scss
  plugins/chat/assets/stylesheets/common/chat-messages-scroller.scss
  plugins/chat/assets/stylesheets/common/chat-thread.scss
  plugins/chat/assets/stylesheets/common/index.scss
  plugins/chat/assets/stylesheets/mobile/chat-channel.scss
  plugins/chat/assets/stylesheets/mobile/chat-thread.scss
  plugins/chat/config/routes.rb
  plugins/chat/spec/requests/chat/api/channels_read_controller_spec.rb
  plugins/chat/spec/requests/chat/api/channels_threads_read_controller_spec.rb
  plugins/chat/spec/requests/chat/api/thread_reads_controller_spec.rb
  plugins/chat/spec/services/chat/lookup_channel_threads_spec.rb
  plugins/chat/spec/services/chat/update_user_channel_last_read_spec.rb
  plugins/chat/spec/services/chat/update_user_thread_last_read_spec.rb
  plugins/chat/spec/system/chat_channel_spec.rb
  plugins/chat/spec/system/page_objects/chat/components/messages.rb
  plugins/chat/spec/system/single_thread_spec.rb
  plugins/chat/spec/system/update_last_read_spec.rb
Labels: chat

#26647 FEATURE: Add experimental tracking of 'real browser' pageviews
  app/assets/javascripts/discourse/app/instance-initializers/message-bus.js
  app/assets/javascripts/discourse/app/instance-initializers/page-tracking.js
  app/assets/javascripts/discourse/scripts/pageview.js
  app/controllers/pageview_controller.rb
  app/models/application_request.rb
  app/models/concerns/reports/consolidated_page_views_browser_detection.rb
  app/models/report.rb
  app/views/exceptions/not_found.html.erb
  app/views/layouts/no_ember.html.erb
  app/views/layouts/publish.html.erb
  config/initializers/004-message_bus.rb
  config/locales/server.en.yml
  config/routes.rb
  lib/middleware/request_tracker.rb
  spec/lib/middleware/request_tracker_spec.rb
  spec/system/request_tracker_spec.rb
Labels: i18n

#26712 PERF: Reduce overhead from chat message excerpt
  plugins/chat/app/models/chat/message.rb
  plugins/chat/app/models/chat/thread.rb
  plugins/chat/app/serializers/chat/in_reply_to_serializer.rb
  plugins/chat/app/serializers/chat/message_serializer.rb
  plugins/chat/app/serializers/chat/thread_original_message_serializer.rb
  plugins/chat/app/serializers/chat/thread_preview_serializer.rb
  plugins/chat/app/services/chat/create_message.rb
  plugins/chat/app/services/chat/update_message.rb
  plugins/chat/db/migrate/20240422042830_add_excerpt_to_chat_messages.rb
  plugins/chat/spec/integration/outgoing_web_hooks_spec.rb
  plugins/chat/spec/models/chat/message_spec.rb
  plugins/chat/spec/plugin_helper.rb
  plugins/chat/spec/serializer/chat/chat_message_serializer_spec.rb
  plugins/chat/spec/serializer/chat/in_reply_to_serializer_spec.rb
  plugins/chat/spec/services/chat/create_message_spec.rb
  plugins/chat/spec/services/chat/update_message_spec.rb
  plugins/chat/spec/system/chat/composer/channel_spec.rb
  plugins/chat/spec/system/chat_channel_spec.rb
  plugins/chat/spec/system/chat_composer_draft_spec.rb
Labels: chat

#26754 UX:minor tweaks to user notifications dropdown
  app/assets/javascripts/select-kit/addon/components/user-notifications-dropdown.js
  config/locales/client.en.yml
Labels: i18n

#26755 DEV: drop ignored columns
  plugins/chat/app/models/chat/channel.rb
  plugins/chat/db/post_migrate/20240425133407_drop_chat_channels_last_message_sent_at.rb
Labels: chat

#26765 FIX: build chat message excerpt for thread preview
  plugins/chat/app/models/chat/null_message.rb
  plugins/chat/app/serializers/chat/thread_original_message_serializer.rb
  plugins/chat/app/serializers/chat/thread_preview_serializer.rb
  plugins/chat/spec/models/chat/null_message_spec.rb
  plugins/chat/spec/system/message_thread_indicator_spec.rb
  plugins/chat/spec/system/thread_list/full_page_spec.rb
Labels: chat

#26769 FIX: do not increment reply count manually
  plugins/chat/app/services/chat/publisher.rb
  plugins/chat/assets/javascripts/discourse/components/user-threads/index.gjs
  plugins/chat/assets/javascripts/discourse/models/chat-thread-preview.js
  plugins/chat/assets/javascripts/discourse/services/chat-subscriptions-manager.js
  plugins/chat/spec/system/reply_to_message/smoke_spec.rb
  plugins/chat/spec/system/user_threads_spec.rb
Labels: chat

#26772 FIX: ensures last read is updated on new message
  plugins/chat/assets/javascripts/discourse/components/chat-channel.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-thread.gjs
  plugins/chat/assets/javascripts/discourse/helpers/first-visible-message-id.js
  plugins/chat/assets/javascripts/discourse/modifiers/chat/scrollable-list.js
  plugins/chat/spec/system/update_last_read_spec.rb
Labels: chat

#26776 DEV: Update htmlSafe imports
  app/assets/javascripts/admin/addon/components/schema-theme-setting/field.gjs
  app/assets/javascripts/admin/addon/components/site-settings/description.gjs
  app/assets/javascripts/discourse/app/components/modal/bulk-topic-actions.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-composer-message-details.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-message-in-reply-to-indicator.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-message-text.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-message-thread-indicator.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/drawer-routes/channel-threads.gjs
  plugins/chat/assets/javascripts/discourse/components/reviewable-chat-message.gjs
Labels: chat

#26709 FIX: Better tracking of topic visibility changes
  app/assets/javascripts/discourse/app/components/topic-status.js
  app/assets/javascripts/discourse/app/lib/constants.js
  app/assets/javascripts/discourse/app/models/topic.js
  app/assets/javascripts/discourse/app/raw-views/topic-status.js
  app/controllers/topics_controller.rb
  app/jobs/regular/make_embedded_topic_visible.rb
  app/models/post.rb
  app/models/topic.rb
  app/serializers/listable_topic_serializer.rb
  app/serializers/topic_view_serializer.rb
  app/services/topic_status_updater.rb
  config/locales/client.en.yml
  db/migrate/20240423013808_add_visibility_reason_id_to_topics.rb
  lib/post_action_creator.rb
  lib/tasks/javascript.rake
  lib/topics_bulk_action.rb
  spec/models/post_action_spec.rb
  spec/models/post_spec.rb
  spec/requests/topics_controller_spec.rb
  spec/services/topic_status_updater_spec.rb
Labels: i18n

#26617 FEATURE: encourage users to set chat thread titles
  app/models/user_option.rb
  plugins/chat/app/controllers/chat/api/channel_threads_current_user_title_prompt_seen_controller.rb
  plugins/chat/app/models/chat/thread.rb
  plugins/chat/app/models/chat/user_chat_thread_membership.rb
  plugins/chat/app/serializers/chat/base_thread_membership_serializer.rb
  plugins/chat/app/services/chat/mark_thread_title_prompt_seen.rb
  plugins/chat/assets/javascripts/discourse/components/chat-thread-title-prompt.js
  plugins/chat/assets/javascripts/discourse/components/chat-thread.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/modal/thread-settings.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/navbar/title.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/thread/header.gjs
  plugins/chat/assets/javascripts/discourse/controllers/preferences-chat.js
  plugins/chat/assets/javascripts/discourse/initializers/chat-user-options.js
  plugins/chat/assets/javascripts/discourse/lib/chat-constants.js
  plugins/chat/assets/javascripts/discourse/models/user-chat-thread-membership.js
  plugins/chat/assets/javascripts/discourse/services/chat-api.js
  plugins/chat/assets/stylesheets/mobile/chat-modal-thread-settings.scss
  plugins/chat/assets/stylesheets/mobile/chat-thread.scss
  plugins/chat/assets/stylesheets/mobile/index.scss
  plugins/chat/config/locales/client.en.yml
  plugins/chat/config/routes.rb
  plugins/chat/db/migrate/20240409060201_add_thread_title_prompt_to_user_chat_thread_memberships.rb
  plugins/chat/db/migrate/20240409093348_add_show_thread_title_prompts_to_user_options.rb
  plugins/chat/lib/chat/user_option_extension.rb
  plugins/chat/plugin.rb
  plugins/chat/spec/models/user_option_spec.rb
  plugins/chat/spec/requests/chat/api/channel_threads_current_user_notification_settings_controller_spec.rb
  plugins/chat/spec/requests/chat/api/channel_threads_current_user_title_prompt_seen_controller_spec.rb
  plugins/chat/spec/services/chat/mark_thread_title_prompt_seen_spec.rb
Labels: chat, i18n

#26632 FEATURE: Allow watched words to be created as a group
  app/assets/javascripts/admin/addon/components/watched-word-form.hbs
  app/assets/javascripts/admin/addon/components/watched-word-form.js
  app/assets/javascripts/admin/addon/models/watched-word.js
  app/assets/javascripts/discourse/tests/acceptance/admin-watched-words-test.js
  app/assets/javascripts/discourse/tests/helpers/create-pretender.js
  app/assets/javascripts/select-kit/addon/components/watched-words.js
  app/assets/stylesheets/common/admin/staff_logs.scss
  app/controllers/admin/watched_words_controller.rb
  app/models/user_history.rb
  app/models/watched_word.rb
  app/models/watched_word_group.rb
  app/serializers/watched_word_serializer.rb
  config/locales/client.en.yml
  db/migrate/20230515103515_create_watched_word_groups.rb
  db/migrate/20230515131111_add_watched_word_group_id_to_watched_words.rb
  spec/fabricators/watched_word_group_fabricator.rb
  spec/models/watched_word_group_spec.rb
  spec/requests/admin/watched_words_controller_spec.rb
Labels: i18n

#26805 FIX: correctly check the user id of the original message
  plugins/chat/assets/javascripts/discourse/components/chat-thread-title-prompt.js
  plugins/chat/assets/javascripts/discourse/components/chat-thread.gjs
Labels: chat

#26699 DEV: Import script should use case-insensitive check for tag names
  script/bulk_import/generic_bulk.rb
Labels: migrations-tooling

#26779 DEV: Add support for `user_associated_accounts` to import script
  script/bulk_import/base.rb
  script/bulk_import/generic_bulk.rb
Labels: migrations-tooling

#26827 FIX: prevents long URL to overflow thread title
  plugins/chat/assets/stylesheets/common/chat-user-threads.scss
Labels: chat
