Repository discourse/discourse, pull requests merged in 2024-08, with the labels that each got.

#28178 DEV: Add validation for allowed iframes setting
  config/locales/server.en.yml
  config/site_settings.yml
  db/migrate/20240731190511_update_invalid_allowed_iframe_values.rb
  lib/validators/allowed_iframes_validator.rb
  spec/lib/oneboxer_spec.rb
Labels: i18n

#28176 FEATURE: Added trigger for topic tags changed
  plugins/automation/config/locales/client.en.yml
  plugins/automation/config/locales/server.en.yml
  plugins/automation/lib/discourse_automation/event_handlers.rb
  plugins/automation/lib/discourse_automation/triggers.rb
  plugins/automation/lib/discourse_automation/triggers/topic_tags_changed.rb
  plugins/automation/plugin.rb
  plugins/automation/spec/triggers/topic_tags_changed_spec.rb
Labels: i18n

#28205 DEV: Catch transformer errors
  app/assets/javascripts/discourse/app/lib/transformer.js
  app/assets/javascripts/discourse/tests/unit/lib/transformer-test.js
  config/locales/client.en.yml
Labels: i18n

#28212 FIX: make the check better for drawer router
  plugins/chat/assets/javascripts/discourse/services/chat-drawer-router.js
Labels: chat

#28187 UX: move admin flag form to form-kit
  app/assets/javascripts/admin/addon/components/admin-flags-form.gjs
  app/assets/javascripts/discourse/app/form-kit/components/fk/checkbox-group.gjs
  app/assets/javascripts/discourse/app/form-kit/components/fk/control/checkbox.gjs
  app/assets/javascripts/discourse/app/form-kit/components/fk/control/radio-group.gjs
  app/assets/javascripts/discourse/app/form-kit/components/fk/fieldset.gjs
  app/assets/javascripts/discourse/app/form-kit/components/fk/form.gjs
  app/assets/javascripts/discourse/app/form-kit/components/fk/input-group.gjs
  app/assets/javascripts/discourse/app/form-kit/components/fk/submit.gjs
  app/assets/javascripts/discourse/tests/helpers/form-kit-assertions.js
  app/assets/javascripts/discourse/tests/integration/components/form-kit/layout/checkbox-group-test.gjs
  app/assets/javascripts/discourse/tests/integration/components/form-kit/layout/fieldset-test.gjs
  app/assets/javascripts/discourse/tests/integration/components/form-kit/layout/submit-test.gjs
  app/assets/stylesheets/common/admin/flags.scss
  app/assets/stylesheets/common/form-kit/_alert.scss
  app/assets/stylesheets/common/form-kit/_checkbox-group.scss
  app/assets/stylesheets/common/form-kit/_control-checkbox.scss
  app/assets/stylesheets/common/form-kit/_control-radio-group.scss
  app/assets/stylesheets/common/form-kit/_control-radio.scss
  app/assets/stylesheets/common/form-kit/_control-textarea.scss
  app/assets/stylesheets/common/form-kit/_fieldset.scss
  app/assets/stylesheets/common/form-kit/_index.scss
  app/assets/stylesheets/mobile/admin_flags.scss
  config/locales/client.en.yml
  plugins/styleguide/assets/javascripts/discourse/components/sections/atoms/05-forms.hbs
  spec/system/admin_flags_spec.rb
  spec/system/page_objects/modals/flag.rb
  spec/system/page_objects/pages/admin_flag_form.rb
  spec/system/page_objects/pages/admin_flags.rb
Labels: i18n

#28222 DEV: Enable glimmer header by default
  app/assets/javascripts/discourse/app/lib/plugin-api.gjs
  app/assets/javascripts/discourse/app/services/header.js
  config/locales/server.en.yml
  config/site_settings.yml
Labels: i18n

#28199 UX: respect current locale on topic map views date format
  app/assets/javascripts/discourse-i18n/src/index.js
  app/assets/javascripts/discourse/app/components/topic-map/topic-views-chart.gjs
  app/assets/javascripts/discourse/app/components/topic-map/topic-views.gjs
  app/assets/javascripts/discourse/tests/unit/lib/i18n-test.js
Labels: i18n

#28214 DEV: Add site age and site activities section to the redesigned about page
  app/assets/javascripts/discourse/app/components/about-page.gjs
  app/assets/stylesheets/common/base/about.scss
  app/models/about.rb
  app/serializers/about_serializer.rb
  config/locales/client.en.yml
  lib/discourse.rb
  lib/svg_sprite.rb
  spec/system/about_page_spec.rb
  spec/system/page_objects/components/about_page_site_activity.rb
  spec/system/page_objects/components/about_page_site_activity_item.rb
  spec/system/page_objects/pages/about.rb
Labels: i18n

#28240 FEATURE: Absolute Numbers in Poll
  plugins/poll/assets/javascripts/discourse/components/poll-buttons-dropdown.gjs
  plugins/poll/assets/javascripts/discourse/components/poll-results-standard.gjs
  plugins/poll/assets/javascripts/discourse/components/poll-results-tabs.gjs
  plugins/poll/assets/javascripts/discourse/components/poll.gjs
  plugins/poll/assets/stylesheets/common/poll.scss
  plugins/poll/config/locales/client.en.yml
  plugins/poll/test/javascripts/component/poll-buttons-dropdown-test.js
  plugins/poll/test/javascripts/component/poll-results-standard-test.js
Labels: i18n

#28228 FEATURE: Add option to immediately delete stub topics upon merge
  app/models/post_mover.rb
  config/locales/server.en.yml
  config/site_settings.yml
  db/migrate/20240807024301_update_delete_merged_stub_topics_after_days_setting.rb
  spec/models/post_mover_spec.rb
Labels: i18n

#28266 UX: Change bookmark menu label from "Custom..." to "More options…"
  app/assets/javascripts/discourse/app/components/bookmark-menu.gjs
  config/locales/client.en.yml
Labels: i18n

#28276 DEV: adds logo page component
  plugins/chat/spec/system/admin_sidebar_navigation_spec.rb
  plugins/chat/spec/system/chat_channel_spec.rb
  plugins/chat/spec/system/navigation_spec.rb
  plugins/chat/spec/system/page_objects/chat_drawer/chat_drawer.rb
  plugins/chat/spec/system/separate_sidebar_mode_spec.rb
  spec/support/system_helpers.rb
  spec/system/homepage_spec.rb
  spec/system/page_objects/components/logo.rb
  spec/system/page_objects/pages/search.rb
  spec/system/request_tracker_spec.rb
  spec/system/scroll_manager_service_spec.rb
  spec/system/search_spec.rb
  spec/system/user_page/user_preferences_profile_spec.rb
Labels: chat

#28252 FEATURE: "Hot" replacing "Top" as default in the top menu
  app/assets/javascripts/discourse/app/controllers/preferences/interface.js
  app/assets/javascripts/discourse/tests/acceptance/assets-version-test.js
  app/assets/javascripts/discourse/tests/acceptance/tags-test.js
  app/assets/javascripts/discourse/tests/acceptance/topic-discovery-test.js
  app/assets/javascripts/discourse/tests/acceptance/topic-discovery-tracked-test.js
  app/assets/javascripts/discourse/tests/fixtures/site-fixtures.js
  app/assets/javascripts/discourse/tests/helpers/site.js
  app/models/user_option.rb
  config/locales/server.en.yml
  config/site_settings.yml
  spec/system/homepage_spec.rb
  spec/system/page_objects/components/select_kit.rb
  spec/system/user_page/user_preferences_interface_spec.rb
Labels: i18n

#28284 DEV: adds chat-drawer-before-content plugin outlet
  plugins/chat/assets/javascripts/discourse/components/chat-drawer.hbs
  plugins/chat/assets/javascripts/discourse/services/chat-drawer-router.js
Labels: chat

#28283 DEV: correctly position below-direct-chat-channels
  plugins/chat/assets/javascripts/discourse/components/channels-list-direct.gjs
Labels: chat

#28301 UX: Add sidebar DM list back when public channels are disabled
  plugins/chat/assets/javascripts/discourse/controllers/chat.js
Labels: chat

#27873 DEV: Enable Rails 7.1 defaults
  app/models/post_revision.rb
  config/application.rb
  config/initializers/new_framework_defaults_7_1.rb
  lib/i18n/duplicate_key_finder.rb
  spec/integration/invalid_request_spec.rb
  spec/lib/i18n/discourse_i18n_spec.rb
  spec/models/category_list_spec.rb
Labels: i18n

#28273 DEV: Add admins and moderators sections to the redesigned /about page
  app/assets/javascripts/discourse/app/components/about-page-user.gjs
  app/assets/javascripts/discourse/app/components/about-page-users.gjs
  app/assets/javascripts/discourse/app/components/about-page.gjs
  app/assets/javascripts/discourse/app/components/legacy-about-page-users.gjs
  app/assets/javascripts/discourse/app/templates/about.hbs
  app/assets/stylesheets/common/base/about.scss
  config/locales/client.en.yml
  spec/system/about_page_spec.rb
  spec/system/page_objects/components/about_page_users_list.rb
  spec/system/page_objects/pages/about.rb
Labels: i18n

#28215 UX: Small topic map improvements and fixes
  app/assets/javascripts/discourse/app/components/topic-map/topic-map-summary.gjs
  app/assets/javascripts/discourse/app/controllers/topic.js
  app/assets/javascripts/discourse/app/lib/transform-post.js
  app/assets/javascripts/discourse/app/widgets/post.js
  app/assets/javascripts/discourse/tests/integration/components/widgets/post-test.js
  app/assets/stylesheets/common/components/topic-map.scss
  config/locales/server.en.yml
  config/site_settings.yml
  plugins/styleguide/assets/javascripts/discourse/lib/dummy-data.js
Labels: i18n

#28206 DEV: Convert account activation pages to use Ember
  app/assets/javascripts/discourse/app/routes/activate-account.js
  app/assets/javascripts/discourse/app/routes/app-route-map.js
  app/assets/javascripts/discourse/app/templates/activate-account.gjs
  app/assets/javascripts/discourse/scripts/activate-account.js
  app/assets/javascripts/discourse/scripts/auto-redirect.js
  app/controllers/users_controller.rb
  app/views/users/activate_account.html.erb
  app/views/users/perform_account_activation.html.erb
  config/locales/client.en.yml
  config/locales/server.en.yml
  spec/requests/users_controller_spec.rb
  spec/system/login_spec.rb
  spec/system/page_objects/pages/activate_account.rb
  spec/system/page_objects/pages/invite_form.rb
  spec/system/signup_spec.rb
Labels: i18n

#28322 FEATURE: participating users statistics
  app/models/stat.rb
  lib/statistics.rb
  plugins/chat/spec/lib/statistics_spec.rb
  spec/lib/discourse_hub_spec.rb
  spec/lib/plugin/instance_spec.rb
  spec/lib/statistics_spec.rb
  spec/requests/site_controller_spec.rb
Labels: chat

#28345 UX: remove baseline alignment from chat timestamp
  plugins/chat/assets/stylesheets/common/base-common.scss
Labels: chat

#28332 PERF: Reduce memory footprint of `Chat::AutoRemove::HandleCategoryUpdated`
  plugins/chat/app/services/chat/auto_remove/handle_category_updated.rb
Labels: chat

#28321 DEV: Removal of create_post_for_category_and_tag_changes setting
  config/locales/client.en.yml
  config/locales/server.en.yml
  config/site_settings.yml
  lib/post_revisor.rb
  spec/lib/post_revisor_spec.rb
Labels: i18n

#28386 FIX: delay chat notify watching job
  plugins/chat/lib/chat/notifier.rb
Labels: chat

#28347 FIX: Make cancel and reset buttons work for `file_size_restriction` settings
  app/assets/javascripts/admin/addon/components/emoji-value-list.hbs
  app/assets/javascripts/admin/addon/components/emoji-value-list.js
  app/assets/javascripts/admin/addon/components/file-size-input.gjs
  app/assets/javascripts/admin/addon/components/secret-value-list.hbs
  app/assets/javascripts/admin/addon/components/secret-value-list.js
  app/assets/javascripts/admin/addon/components/site-setting.hbs
  app/assets/javascripts/admin/addon/components/site-settings/bool.hbs
  app/assets/javascripts/admin/addon/components/site-settings/category-list.gjs
  app/assets/javascripts/admin/addon/components/site-settings/category.hbs
  app/assets/javascripts/admin/addon/components/site-settings/color.hbs
  app/assets/javascripts/admin/addon/components/site-settings/compact-list.hbs
  app/assets/javascripts/admin/addon/components/site-settings/emoji-list.hbs
  app/assets/javascripts/admin/addon/components/site-settings/enum.hbs
  app/assets/javascripts/admin/addon/components/site-settings/file-size-restriction.gjs
  app/assets/javascripts/admin/addon/components/site-settings/file-types-list.gjs
  app/assets/javascripts/admin/addon/components/site-settings/group-list.hbs
  app/assets/javascripts/admin/addon/components/site-settings/host-list.hbs
  app/assets/javascripts/admin/addon/components/site-settings/integer.gjs
  app/assets/javascripts/admin/addon/components/site-settings/list.hbs
  app/assets/javascripts/admin/addon/components/site-settings/named-list.hbs
  app/assets/javascripts/admin/addon/components/site-settings/secret-list.hbs
  app/assets/javascripts/admin/addon/components/site-settings/simple-list.hbs
  app/assets/javascripts/admin/addon/components/site-settings/string.hbs
  app/assets/javascripts/admin/addon/components/site-settings/tag-group-list.hbs
  app/assets/javascripts/admin/addon/components/site-settings/tag-list.hbs
  app/assets/javascripts/admin/addon/components/site-settings/upload.hbs
  app/assets/javascripts/admin/addon/components/site-settings/uploaded-image-list.hbs
  app/assets/javascripts/admin/addon/components/site-settings/url-list.hbs
  app/assets/javascripts/admin/addon/components/site-settings/value-list.hbs
  app/assets/javascripts/admin/addon/mixins/setting-component.js
  app/assets/javascripts/discourse/tests/integration/components/file-size-input-test.js
  app/assets/javascripts/discourse/tests/integration/components/secret-value-list-test.js
  app/assets/javascripts/discourse/tests/integration/components/site-setting-test.js
  app/assets/stylesheets/common/components/file-size-input.scss
  config/locales/client.en.yml
Labels: i18n

#28381 PERF: Reduce memory footprint of `Chat::AutoRemove::HandleCategoryUpdated.call`
  plugins/chat/app/services/chat/action/calculate_memberships_for_removal.rb
  plugins/chat/app/services/chat/auto_remove/handle_category_updated.rb
  plugins/chat/app/services/chat/auto_remove/handle_destroyed_group.rb
  plugins/chat/app/services/chat/auto_remove/handle_user_removed_from_group.rb
Labels: chat

#28393 PERF: Reduce mem allocation of `Chat::AutoRemove::HandleCategoryUpdated`
  plugins/chat/app/services/chat/auto_remove/handle_category_updated.rb
Labels: chat

#28392 PERF: automatically join users to channels more efficiently
  plugins/chat/app/jobs/scheduled/chat/auto_join_users.rb
  plugins/chat/spec/jobs/scheduled/auto_join_users_spec.rb
Labels: chat

#28051 UX: Apply admin interface guidelines to Backups page
  app/assets/javascripts/admin/addon/components/admin-backups-actions.gjs
  app/assets/javascripts/admin/addon/components/admin-filtered-site-settings.gjs
  app/assets/javascripts/admin/addon/components/admin-page-action-button.gjs
  app/assets/javascripts/admin/addon/components/admin-page-header.gjs
  app/assets/javascripts/admin/addon/components/admin-page-subheader.gjs
  app/assets/javascripts/admin/addon/components/admin-plugin-config-metadata.gjs
  app/assets/javascripts/admin/addon/controllers/admin-backups-index.js
  app/assets/javascripts/admin/addon/controllers/admin-backups-settings.js
  app/assets/javascripts/admin/addon/controllers/admin-backups.js
  app/assets/javascripts/admin/addon/routes/admin-backups-settings.js
  app/assets/javascripts/admin/addon/routes/admin-backups.js
  app/assets/javascripts/admin/addon/routes/admin-plugins-show-settings.js
  app/assets/javascripts/admin/addon/routes/admin-route-map.js
  app/assets/javascripts/admin/addon/templates/backups-index.hbs
  app/assets/javascripts/admin/addon/templates/backups-logs.hbs
  app/assets/javascripts/admin/addon/templates/backups-settings.hbs
  app/assets/javascripts/admin/addon/templates/backups.hbs
  app/assets/javascripts/admin/addon/templates/dashboard.hbs
  app/assets/javascripts/admin/addon/templates/plugins-show-settings.hbs
  app/assets/javascripts/discourse/app/components/uppy-backup-uploader.hbs
  app/assets/stylesheets/common/admin/admin_base.scss
  app/assets/stylesheets/common/admin/admin_config_area.scss
  app/assets/stylesheets/common/admin/admin_page_header.scss
  app/assets/stylesheets/common/admin/backups.scss
  app/assets/stylesheets/common/admin/dashboard.scss
  config/locales/client.en.yml
  config/routes.rb
  spec/system/admin_backups_spec.rb
  spec/system/page_objects/admin_backups.rb
  spec/system/page_objects/pages/admin_site_settings.rb
Labels: i18n

#28403 DEV: better highlighting of mentions
  app/assets/javascripts/discourse/app/instance-initializers/highlight-users.js
  app/assets/javascripts/discourse/app/lib/transformer/registry.js
  app/assets/javascripts/discourse/app/widgets/post-cooked.js
  app/assets/javascripts/discourse/tests/acceptance/transformers/mentions-class-test.js
  app/assets/javascripts/discourse/tests/fixtures/topic.js
  app/assets/stylesheets/common/foundation/mixins.scss
  plugins/chat/assets/javascripts/discourse/components/chat-message.gjs
  plugins/chat/assets/javascripts/discourse/initializers/chat-setup.js
  plugins/chat/assets/stylesheets/common/chat-message.scss
  plugins/chat/lib/chat/parsed_mentions.rb
  plugins/chat/spec/lib/chat/parsed_mentions_spec.rb
  plugins/chat/spec/system/chat_channel_spec.rb
Labels: chat

#28400 DEV: Allow custom site activity items in the new /about page
  app/assets/javascripts/discourse/app/components/about-page.gjs
  app/assets/javascripts/discourse/app/lib/plugin-api.gjs
  app/assets/javascripts/discourse/tests/helpers/qunit-helpers.js
  app/assets/javascripts/discourse/tests/integration/components/about-page-test.gjs
  docs/CHANGELOG-JAVASCRIPT-PLUGIN-API.md
  lib/plugin/instance.rb
  plugins/chat/assets/javascripts/discourse/initializers/chat-setup.js
  plugins/chat/config/locales/client.en.yml
  plugins/chat/plugin.rb
  plugins/chat/spec/system/about_page_site_acitivity_spec.rb
  spec/system/page_objects/components/about_page_site_activity.rb
  spec/system/page_objects/components/about_page_site_activity_item.rb
Labels: chat, i18n

#28382 FEATURE: Add estimated number of global and EU visitors to the about page
  app/assets/javascripts/discourse/app/components/about-page.gjs
  app/assets/javascripts/discourse/app/controllers/about.js
  app/assets/javascripts/discourse/app/templates/about.hbs
  app/assets/stylesheets/common/base/about.scss
  app/models/application_request.rb
  app/models/stat.rb
  config/locales/client.en.yml
  config/locales/server.en.yml
  config/site_settings.yml
  lib/statistics.rb
  spec/lib/statistics_spec.rb
  spec/system/about_page_spec.rb
  spec/system/page_objects/components/about_page_site_activity.rb
  spec/system/page_objects/components/about_page_site_activity_item.rb
Labels: i18n

#28452 UX: Fix restore info link on admin backups page
  app/assets/javascripts/admin/addon/controllers/admin-backups-index.js
  app/assets/javascripts/admin/addon/templates/backups-index.hbs
  config/locales/client.en.yml
Labels: i18n

#28454 UX: Apply new admin UI guidelines to What's New
  app/assets/javascripts/admin/addon/templates/whats-new.hbs
  config/locales/client.en.yml
Labels: i18n

#28464 FIX: skip 1:1s when chat search returns users
  plugins/chat/app/services/chat/search_chatable.rb
Labels: chat

#28483 DEV: Put back the `model` step in HandleCategoryUpdated service
  plugins/chat/app/services/chat/auto_remove/handle_category_updated.rb
Labels: chat

#28490 FIX: adds chat-draw-expanded class to body
  plugins/chat/assets/javascripts/discourse/components/chat-drawer.hbs
  plugins/chat/assets/javascripts/discourse/initializers/chat-setup.js
  plugins/chat/spec/system/drawer_spec.rb
Labels: chat

#28514 DEV: Small copyedit to visitors stats notice
  config/locales/client.en.yml
Labels: i18n

#28491 DEV: Convert select-kit subclasses to native class syntax
  app/assets/javascripts/discourse/app/components/auth-token-dropdown.js
  app/assets/javascripts/discourse/app/components/bookmark-actions-dropdown.js
  app/assets/javascripts/discourse/app/components/bulk-group-member-dropdown.js
  app/assets/javascripts/discourse/app/components/email-dropdown.js
  app/assets/javascripts/discourse/app/components/group-member-dropdown.js
  app/assets/javascripts/discourse/app/components/security-key-dropdown.js
  app/assets/javascripts/discourse/app/components/tags-admin-dropdown.js
  app/assets/javascripts/discourse/app/components/token-based-auth-dropdown.js
  app/assets/javascripts/discourse/app/components/two-factor-backup-dropdown.js
  app/assets/javascripts/discourse/app/components/user-nav/messages-dropdown.js
  app/assets/javascripts/discourse/app/components/user-preferences/passkey-options-dropdown.js
  plugins/chat/assets/javascripts/discourse/components/chat-channel-chooser.js
  plugins/chat/assets/javascripts/discourse/components/chat-thread-tracking-dropdown.js
  plugins/chat/assets/javascripts/select-kit/addons/components/thread-notifications-button.js
Labels: chat

#28453 FEATURE: Allow showing site text search in selected locale
  app/assets/javascripts/admin/addon/components/site-text-summary.gjs
  app/assets/javascripts/admin/addon/components/site-text-summary.hbs
  app/assets/javascripts/admin/addon/components/site-text-summary.js
  app/assets/javascripts/admin/addon/controllers/admin-site-text-index.js
  app/assets/javascripts/admin/addon/routes/admin-site-text-index.js
  app/assets/javascripts/admin/addon/templates/site-text-index.hbs
  app/assets/stylesheets/common/admin/admin_base.scss
  app/controllers/admin/site_texts_controller.rb
  config/locales/client.en.yml
  spec/requests/admin/site_texts_controller_spec.rb
  spec/system/admin_site_texts_spec.rb
  spec/system/page_objects/pages/admin_site_texts.rb
Labels: i18n

#28527 FIX: prevent desktop notification callbacks on mobile
  app/assets/javascripts/discourse/app/instance-initializers/subscribe-user-notifications.js
  plugins/chat/assets/javascripts/discourse/services/chat-notification-manager.js
Labels: chat

#28479 UX: flag settings tab to follow UI guidelines
  app/assets/javascripts/admin/addon/components/admin-config-areas/flags-settings.gjs
  app/assets/javascripts/admin/addon/components/admin-config-areas/flags.gjs
  app/assets/javascripts/admin/addon/controllers/admin-config-flags-settings.js
  app/assets/javascripts/admin/addon/controllers/admin-config-flags.js
  app/assets/javascripts/admin/addon/routes/admin-config-flags-edit.js
  app/assets/javascripts/admin/addon/routes/admin-config-flags-settings.js
  app/assets/javascripts/admin/addon/routes/admin-route-map.js
  app/assets/javascripts/admin/addon/templates/config-flags-settings.hbs
  app/assets/javascripts/admin/addon/templates/config-flags.hbs
  app/assets/stylesheets/common/admin/settings.scss
  config/locales/client.en.yml
  spec/system/admin_flags_spec.rb
  spec/system/page_objects/components/admin-header.rb
  spec/system/page_objects/pages/admin_flags.rb
Labels: i18n

#28574 UX: explain choices priorities
  plugins/poll/assets/javascripts/discourse/components/poll-options.gjs
  plugins/poll/assets/javascripts/discourse/components/poll.gjs
  plugins/poll/config/locales/client.en.yml
  plugins/poll/test/javascripts/component/poll-options-test.js
Labels: i18n

#28571 DEV: Migrate `Chat::NotificationMention#notification_id` to `bigint`
  plugins/chat/app/models/chat/mention_notification.rb
  plugins/chat/db/migrate/20240827040131_add_new_notification_id_to_chat_mention_notifications.rb
  plugins/chat/db/migrate/20240827040550_copy_chat_mention_notifications_notification_id_values.rb
  plugins/chat/db/migrate/20240827040810_copy_chat_mention_notifications_notification_id_indexes.rb
  plugins/chat/db/migrate/20240827040811_swap_bigint_chat_mention_notifications_notification_id.rb
Labels: chat

#28575 DEV: changes identifier from card to usercard
  app/assets/javascripts/discourse/app/mixins/card-contents-base.js
  app/assets/stylesheets/common/components/user-card.scss
  app/assets/stylesheets/mobile/components/user-card.scss
  plugins/chat/assets/stylesheets/desktop/base-desktop.scss
Labels: chat

#28488 UX: highlight the chat channel/DM only when chat is expanded
  plugins/chat/assets/javascripts/discourse/initializers/chat-sidebar.js
Labels: chat

#28587 Fix: revert removal of create_post_for_category_and_tag_changes setting"
  config/locales/client.en.yml
  config/locales/server.en.yml
  config/site_settings.yml
  lib/post_revisor.rb
  spec/lib/post_revisor_spec.rb
Labels: i18n

#27694 UX: Add progress bar to the registration flow
  app/assets/javascripts/discourse/app/components/modal/create-account.hbs
  app/assets/javascripts/discourse/app/components/modal/create-account.js
  app/assets/javascripts/discourse/app/components/modal/login.hbs
  app/assets/javascripts/discourse/app/components/modal/login.js
  app/assets/javascripts/discourse/app/components/modal/login/welcome-header.hbs
  app/assets/javascripts/discourse/app/components/signup-progress-bar.gjs
  app/assets/javascripts/discourse/app/components/welcome-header.gjs
  app/assets/javascripts/discourse/app/controllers/account-created-index.js
  app/assets/javascripts/discourse/app/controllers/invites-show.js
  app/assets/javascripts/discourse/app/routes/invites-show.js
  app/assets/javascripts/discourse/app/templates/account-created.hbs
  app/assets/javascripts/discourse/app/templates/account-created/edit-email.hbs
  app/assets/javascripts/discourse/app/templates/account-created/index.hbs
  app/assets/javascripts/discourse/app/templates/account-created/resent.hbs
  app/assets/javascripts/discourse/app/templates/activate-account.gjs
  app/assets/javascripts/discourse/app/templates/invites/show.hbs
  app/assets/javascripts/discourse/tests/acceptance/invite-accept-test.js
  app/assets/stylesheets/common/base/activation.scss
  app/assets/stylesheets/common/base/login.scss
  app/assets/stylesheets/common/components/_index.scss
  app/assets/stylesheets/common/components/powered-by-discourse.scss
  app/assets/stylesheets/common/components/signup-progress-bar.scss
  app/assets/stylesheets/common/components/welcome-header.scss
  app/assets/stylesheets/common/login/invite-signup.scss
  app/assets/stylesheets/common/modal/login-modal.scss
  app/assets/stylesheets/desktop/invite-signup.scss
  app/assets/stylesheets/mobile/components/_index.scss
  app/assets/stylesheets/mobile/components/welcome-header.scss
  app/assets/stylesheets/mobile/login-modal.scss
  config/locales/client.en.yml
  public/images/envelope.svg
  spec/system/page_objects/pages/activate_account.rb
  spec/system/user_activation_spec.rb
Labels: i18n

#28599 DEV: Use `run_successfully` matcher in service specs
  app/services/update_site_setting.rb
  plugins/chat/spec/services/chat/add_users_to_channel_spec.rb
  plugins/chat/spec/services/chat/auto_join_channel_batch_spec.rb
  plugins/chat/spec/services/chat/create_category_channel_spec.rb
  plugins/chat/spec/services/chat/create_direct_message_channel_spec.rb
  plugins/chat/spec/services/chat/create_message_spec.rb
  plugins/chat/spec/services/chat/create_thread_spec.rb
  plugins/chat/spec/services/chat/flag_message_spec.rb
  plugins/chat/spec/services/chat/invite_users_to_channel_spec.rb
  plugins/chat/spec/services/chat/leave_channel_spec.rb
  plugins/chat/spec/services/chat/list_channel_messages_spec.rb
  plugins/chat/spec/services/chat/list_channel_thread_messages_spec.rb
  plugins/chat/spec/services/chat/list_user_channels_spec.rb
  plugins/chat/spec/services/chat/lookup_channel_threads_spec.rb
  plugins/chat/spec/services/chat/lookup_thread_spec.rb
  plugins/chat/spec/services/chat/lookup_user_threads_spec.rb
  plugins/chat/spec/services/chat/mark_all_user_channels_read_spec.rb
  plugins/chat/spec/services/chat/mark_thread_title_prompt_seen_spec.rb
  plugins/chat/spec/services/chat/restore_message_spec.rb
  plugins/chat/spec/services/chat/search_chatable_spec.rb
  plugins/chat/spec/services/chat/stop_message_streaming_spec.rb
  plugins/chat/spec/services/chat/trash_channel_spec.rb
  plugins/chat/spec/services/chat/trash_message_spec.rb
  plugins/chat/spec/services/chat/trash_messages_spec.rb
  plugins/chat/spec/services/chat/unfollow_channel_spec.rb
  plugins/chat/spec/services/chat/update_channel_spec.rb
  plugins/chat/spec/services/chat/update_channel_status_spec.rb
  plugins/chat/spec/services/chat/update_message_spec.rb
  plugins/chat/spec/services/chat/update_thread_notification_settings_spec.rb
  plugins/chat/spec/services/chat/update_thread_spec.rb
  plugins/chat/spec/services/chat/update_user_channel_last_read_spec.rb
  plugins/chat/spec/services/chat/update_user_thread_last_read_spec.rb
  plugins/chat/spec/services/chat/upsert_draft_spec.rb
  spec/services/flags/create_flag_spec.rb
  spec/services/flags/destroy_flag_spec.rb
  spec/services/flags/reorder_flag_spec.rb
  spec/services/flags/toggle_flag_spec.rb
  spec/services/flags/update_flag_spec.rb
  spec/services/update_site_setting_spec.rb
  spec/support/service_matchers.rb
Labels: chat

#28615 FEATURE: Post created/edited trigger can skip posts created via email
  plugins/automation/config/locales/client.en.yml
  plugins/automation/lib/discourse_automation/event_handlers.rb
  plugins/automation/lib/discourse_automation/triggers/post_created_edited.rb
  plugins/automation/spec/triggers/post_created_edited_spec.rb
Labels: i18n

#28611 DEV: Update remaining core plugin components to native-class syntax
  plugins/chat/assets/javascripts/discourse/components/chat-channel-chooser-header.js
  plugins/chat/assets/javascripts/discourse/components/chat-channel-chooser-row.js
  plugins/chat/assets/javascripts/discourse/components/chat-composer-uploads.js
  plugins/chat/assets/javascripts/discourse/components/chat-drawer.js
  plugins/chat/assets/javascripts/discourse/components/chat-to-topic-selector.js
  plugins/chat/assets/javascripts/discourse/components/collapser.js
  plugins/discourse-local-dates/assets/javascripts/discourse/components/modal/local-dates-create.js
  plugins/discourse-presence/assets/javascripts/discourse/components/composer-presence-display.js
  plugins/discourse-presence/assets/javascripts/discourse/components/topic-presence-display.js
  plugins/styleguide/assets/javascripts/discourse/components/styleguide-icons.js
  plugins/styleguide/assets/javascripts/discourse/components/styleguide-markdown.js
  plugins/styleguide/assets/javascripts/discourse/components/styleguide-section.js
Labels: chat

#28643 FIX: Chat emoji picker positioning
  plugins/chat/assets/javascripts/discourse/components/chat-channel-message-emoji-picker.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-emoji-picker.js
Labels: chat

#28630 UX: Add descriptions to auto groups and auto group indicator
  app/assets/javascripts/discourse/app/templates/group.hbs
  app/assets/stylesheets/common/base/groups.scss
  app/serializers/basic_group_serializer.rb
  config/locales/client.en.yml
  config/locales/server.en.yml
Labels: i18n

#28478 UX: Change admin plugins list to follow UI guidelines
  app/assets/javascripts/admin/addon/controllers/admin-plugins-index.js
  app/assets/javascripts/admin/addon/controllers/admin-plugins.js
  app/assets/javascripts/admin/addon/routes/admin-backups-logs.js
  app/assets/javascripts/admin/addon/routes/admin-backups-settings.js
  app/assets/javascripts/admin/addon/routes/admin-plugins-index.js
  app/assets/javascripts/admin/addon/routes/admin-plugins.js
  app/assets/javascripts/admin/addon/services/admin-plugin-nav-manager.js
  app/assets/javascripts/admin/addon/templates/plugins-index.hbs
  app/assets/javascripts/admin/addon/templates/plugins.hbs
  app/assets/stylesheets/common/admin/admin_base.scss
  app/assets/stylesheets/common/admin/plugins.scss
  app/assets/stylesheets/common/base/alert.scss
  config/locales/client.en.yml
  plugins/automation/spec/system/admin_plugins_list_spec.rb
  spec/system/admin_plugins_list_spec.rb
  spec/system/page_objects/components/d_toggle_switch.rb
  spec/system/page_objects/pages/admin_plugins_list.rb
Labels: i18n

#28662 DEV: Unhide the experimental_redesigned_about_page_groups setting
  config/locales/server.en.yml
  config/site_settings.yml
Labels: i18n
