Repository discourse/discourse, pull requests merged in 2024-11, with the labels that each got.

#29522 FEATURE - Add username column to custom emoji table
  app/assets/javascripts/admin/addon/templates/emojis.hbs
  app/assets/javascripts/discourse/tests/integration/components/emoji-uploader-test.js
  app/models/emoji.rb
  app/serializers/emoji_serializer.rb
  config/locales/client.en.yml
  spec/requests/admin/emojis_controller_spec.rb
  spec/serializers/emoji_serializer_spec.rb
Labels: i18n

#29549 DEV: Add 'custom' WebHook event type group
  app/models/web_hook_event_type.rb
  config/locales/client.en.yml
Labels: i18n

#29554 DEV: Convert more `equal` assertions
  app/assets/javascripts/discourse/tests/acceptance/admin-site-settings-test.js
  app/assets/javascripts/discourse/tests/acceptance/admin-users-list-test.js
  app/assets/javascripts/discourse/tests/acceptance/composer-editor-mentions-test.js
  app/assets/javascripts/discourse/tests/acceptance/flag-post-test.js
  app/assets/javascripts/discourse/tests/acceptance/group-manage-membership-test.js
  app/assets/javascripts/discourse/tests/acceptance/post-inline-mentions-test.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-user-community-section-test.js
  app/assets/javascripts/discourse/tests/acceptance/themes-test.js
  app/assets/javascripts/discourse/tests/acceptance/user-preferences-account-test.js
  app/assets/javascripts/discourse/tests/integration/components/form-template-field/wrapper-test.js
  app/assets/javascripts/discourse/tests/integration/components/number-field-test.js
  app/assets/javascripts/discourse/tests/integration/components/select-kit/category-selector-test.js
  app/assets/javascripts/discourse/tests/integration/components/select-kit/email-group-user-chooser-test.js
  app/assets/javascripts/discourse/tests/integration/components/select-kit/mini-tag-chooser-test.js
  app/assets/javascripts/discourse/tests/integration/components/select-kit/multi-select-test.js
  app/assets/javascripts/discourse/tests/unit/controllers/admin-user-badges-test.js
  app/assets/javascripts/discourse/tests/unit/lib/case-converter-test.js
  app/assets/javascripts/discourse/tests/unit/lib/download-calendar-test.js
  app/assets/javascripts/discourse/tests/unit/lib/formatter-test.js
  app/assets/javascripts/discourse/tests/unit/lib/text-test.js
  app/assets/javascripts/discourse/tests/unit/models/category-test.js
  app/assets/javascripts/discourse/tests/unit/models/composer-test.js
  app/assets/javascripts/discourse/tests/unit/models/topic-tracking-state-test.js
  plugins/automation/test/javascripts/integration/components/da-email-group-user-field-test.js
  plugins/chat/test/javascripts/acceptance/chat-composer-test.js
  plugins/chat/test/javascripts/components/chat-channel-test.js
  plugins/chat/test/javascripts/unit/helpers/format-chat-date-test.gjs
  plugins/chat/test/javascripts/unit/helpers/tonable-emoji-title-test.gjs
  plugins/chat/test/javascripts/unit/helpers/tonable-emoji-title-test.js
  plugins/chat/test/javascripts/unit/lib/chat-composer-buttons-test.js
  plugins/chat/test/javascripts/unit/lib/slugify-channel-test.js
  plugins/chat/test/javascripts/unit/utility/plugin-api-test.js
  plugins/discourse-local-dates/test/javascripts/unit/discourse-local-dates-test.js
Labels: chat

#29552 FEATURE: adds support for headings in chat
  plugins/chat/app/models/chat/message.rb
  plugins/chat/spec/lib/chat/chat_pretty_text_spec.rb
  plugins/chat/spec/models/chat/message_spec.rb
Labels: chat

#29542 DEV: start/stop reply implementation
  plugins/chat/app/services/chat/start_reply.rb
  plugins/chat/app/services/chat/stop_reply.rb
  plugins/chat/lib/chat_sdk/channel.rb
  plugins/chat/plugin.rb
  plugins/chat/spec/lib/chat_sdk/channel_spec.rb
  plugins/chat/spec/services/chat/start_reply_spec.rb
  plugins/chat/spec/services/chat/stop_reply_spec.rb
Labels: chat

#29565 UX: logs when an automation is destroyed
  plugins/automation/app/controllers/discourse_automation/admin_automations_controller.rb
  plugins/automation/app/services/discourse_automation/destroy_automation.rb
  plugins/automation/config/locales/client.en.yml
  plugins/automation/config/routes.rb
  plugins/automation/spec/requests/admin_discourse_automation_automations_spec.rb
  plugins/automation/spec/services/destroy_automation_spec.rb
Labels: i18n

#29566 DEV: sets an icon_upload_id on a channel
  plugins/chat/app/models/chat/channel.rb
  plugins/chat/app/serializers/chat/channel_serializer.rb
  plugins/chat/app/services/chat/create_category_channel.rb
  plugins/chat/app/services/chat/create_direct_message_channel.rb
  plugins/chat/app/services/chat/update_channel.rb
  plugins/chat/assets/javascripts/discourse/components/channel-icon/index.gjs
  plugins/chat/assets/javascripts/discourse/initializers/chat-sidebar.js
  plugins/chat/assets/javascripts/discourse/models/chat-channel.js
  plugins/chat/assets/stylesheets/common/chat-channel-icon.scss
  plugins/chat/db/migrate/20241104053309_add_icon_upload_id_to_chat_channel.rb
  plugins/chat/lib/chat/channel_fetcher.rb
  plugins/chat/spec/services/chat/create_category_channel_spec.rb
  plugins/chat/spec/services/chat/create_direct_message_channel_spec.rb
  plugins/chat/spec/services/chat/update_channel_spec.rb
Labels: chat

#29556 DEV: Convert more `notOk` assertions
  app/assets/javascripts/discourse/tests/acceptance/admin-sidebar-section-test.js
  app/assets/javascripts/discourse/tests/acceptance/admin-user-index-test.js
  app/assets/javascripts/discourse/tests/acceptance/category-edit-security-test.js
  app/assets/javascripts/discourse/tests/acceptance/composer-test.js
  app/assets/javascripts/discourse/tests/acceptance/dashboard-test.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-user-messages-section-test.js
  app/assets/javascripts/discourse/tests/integration/components/form-template-field/wrapper-test.js
  app/assets/javascripts/discourse/tests/integration/components/select-kit/category-chooser-test.js
  app/assets/javascripts/discourse/tests/integration/components/select-kit/combo-box-test.js
  app/assets/javascripts/discourse/tests/integration/components/select-kit/dropdown-select-box-test.js
  app/assets/javascripts/discourse/tests/integration/components/select-kit/future-date-input-test.js
  app/assets/javascripts/discourse/tests/integration/components/select-kit/multi-select-test.js
  app/assets/javascripts/discourse/tests/integration/components/select-kit/single-select-test.js
  app/assets/javascripts/discourse/tests/integration/components/themes-list-test.js
  app/assets/javascripts/discourse/tests/integration/components/user-info-test.js
  app/assets/javascripts/discourse/tests/integration/components/user-menu/bookmarks-list-test.js
  app/assets/javascripts/discourse/tests/integration/components/widgets/post-small-action-test.js
  app/assets/javascripts/discourse/tests/integration/components/widgets/widget-test.js
  app/assets/javascripts/discourse/tests/unit/controllers/admin-user-badges-test.js
  app/assets/javascripts/discourse/tests/unit/lib/dag-test.js
  app/assets/javascripts/discourse/tests/unit/lib/lightbox/helpers/preload-item-images-test.js
  app/assets/javascripts/discourse/tests/unit/lib/sanitizer-test.js
  app/assets/javascripts/discourse/tests/unit/lib/time-shortcut-test.js
  app/assets/javascripts/discourse/tests/unit/lib/uploads-test.js
  app/assets/javascripts/discourse/tests/unit/models/tag-test.js
  app/assets/javascripts/discourse/tests/unit/models/topic-test.js
  app/assets/javascripts/discourse/tests/unit/models/topic-tracking-state-test.js
  app/assets/javascripts/discourse/tests/unit/models/user-badge-test.js
  app/assets/javascripts/discourse/tests/unit/models/user-test.js
  app/assets/javascripts/discourse/tests/unit/services/header-test.js
  plugins/chat/test/javascripts/acceptance/chat-live-pane-collapse-test.js
  plugins/chat/test/javascripts/unit/services/chat-emoji-picker-manager-test.js
  plugins/chat/test/javascripts/unit/services/chat-guardian-test.js
  plugins/chat/test/javascripts/unit/services/chat-state-manager-test.js
  plugins/chat/test/javascripts/unit/utility/plugin-api-test.js
  plugins/discourse-local-dates/test/javascripts/lib/date-with-zone-helper-test.js
Labels: chat

#29568 DEV: Use `hasAttribute`/`hasAria`/`hasStyle` in tests
  app/assets/javascripts/discourse/tests/acceptance/admin-site-settings-test.js
  app/assets/javascripts/discourse/tests/acceptance/composer-actions-test.js
  app/assets/javascripts/discourse/tests/acceptance/composer-test.js
  app/assets/javascripts/discourse/tests/acceptance/emoji-picker-test.js
  app/assets/javascripts/discourse/tests/acceptance/group-index-test.js
  app/assets/javascripts/discourse/tests/acceptance/meta-tag-updater-test.js
  app/assets/javascripts/discourse/tests/acceptance/mobile-discovery-test.js
  app/assets/javascripts/discourse/tests/acceptance/post-controls-test.js
  app/assets/javascripts/discourse/tests/acceptance/search-test.js
  app/assets/javascripts/discourse/tests/acceptance/tags-test.js
  app/assets/javascripts/discourse/tests/acceptance/topic-discovery-test.js
  app/assets/javascripts/discourse/tests/acceptance/topic-list-plugin-api-test.js
  app/assets/javascripts/discourse/tests/acceptance/topic-test.js
  app/assets/javascripts/discourse/tests/acceptance/user-menu-test.js
  app/assets/javascripts/discourse/tests/integration/components/d-button-test.js
  app/assets/javascripts/discourse/tests/integration/components/d-editor-test.js
  app/assets/javascripts/discourse/tests/integration/components/d-lightbox-test.js
  app/assets/javascripts/discourse/tests/integration/components/d-toggle-switch-test.js
  app/assets/javascripts/discourse/tests/integration/components/emoji-picker-test.js
  app/assets/javascripts/discourse/tests/integration/components/float-kit/d-menu-test.js
  app/assets/javascripts/discourse/tests/integration/components/select-kit/dropdown-select-box-test.js
  app/assets/javascripts/discourse/tests/integration/components/select-kit/single-select-test.js
  app/assets/javascripts/discourse/tests/integration/components/user-avatar-flair-test.js
  app/assets/javascripts/discourse/tests/integration/components/user-menu/menu-test.js
  app/assets/javascripts/discourse/tests/integration/components/user-menu/notifications-list-test.js
  app/assets/javascripts/discourse/tests/integration/components/widgets/avatar-flair-test.js
  app/assets/javascripts/discourse/tests/integration/components/widgets/post-test.js
  app/assets/javascripts/discourse/tests/unit/lib/text-direction-test.js
  app/assets/javascripts/discourse/tests/unit/lib/upload-short-url-test.js
  plugins/chat/test/javascripts/components/chat-upload-test.js
  plugins/discourse-local-dates/test/javascripts/acceptance/local-dates-composer-test.js
Labels: chat

#29536 DEV: Remove old translations for site settings
  config/locales/server.ar.yml
  config/locales/server.de.yml
  config/locales/server.en.yml
  config/locales/server.es.yml
  config/locales/server.fi.yml
  config/locales/server.fr.yml
  config/locales/server.he.yml
  config/locales/server.hu.yml
  config/locales/server.it.yml
  config/locales/server.ja.yml
  config/locales/server.nl.yml
  config/locales/server.pl_PL.yml
  config/locales/server.pt_BR.yml
  config/locales/server.ro.yml
  config/locales/server.ru.yml
  config/locales/server.sk.yml
  config/locales/server.tr_TR.yml
  config/locales/server.uk.yml
  config/locales/server.zh_CN.yml
Labels: i18n

#29583 DEV: Move all experimental settings into new setting category
  config/locales/client.en.yml
  config/locales/server.en.yml
  config/site_settings.yml
Labels: i18n

#29586 FIX: Chat uploads over-secured in some situations
  plugins/chat/plugin.rb
  plugins/chat/spec/plugin_spec.rb
Labels: chat

#29618 UX: update `create_post_for_category_and_tag_changes` to include that it needs whispers enabled to work
  config/locales/server.en.yml
Labels: i18n

#29521 DEV: Refactor the `Chat::CreateThread` service a bit
  plugins/chat/app/controllers/chat/api/channel_threads_controller.rb
  plugins/chat/app/services/chat/create_thread.rb
  plugins/chat/spec/requests/chat/api/channel_threads_controller_spec.rb
  plugins/chat/spec/services/chat/create_thread_spec.rb
Labels: chat

#29477 DEV: Fix mismatched column types
  plugins/chat/db/migrate/20241029192512_alter_chat_ids_to_bigint.rb
  plugins/chat/spec/plugin_helper.rb
Labels: chat

#29611 FIX: Use dualstack S3 endpoint for direct uploads
  app/models/site_setting.rb
  lib/s3_helper.rb
  spec/lib/backup_restore/s3_backup_store_spec.rb
  spec/lib/backup_restore/shared_examples_for_backup_store.rb
  spec/lib/s3_helper_spec.rb
  spec/models/optimized_image_spec.rb
  spec/requests/admin/backups_controller_spec.rb
  spec/requests/uploads_controller_spec.rb
  spec/support/system_helpers.rb
  spec/support/uploads_helpers.rb
Labels: ⚠ DO NOT MERGE

#29633 UX: do not hide topic composer in mobile chat
  plugins/chat/assets/stylesheets/mobile/chat-footer.scss
Labels: chat

#29585 DEV: only supports headings in messages for bots
  plugins/chat/app/models/chat/message.rb
  plugins/chat/assets/javascripts/discourse/components/chat-message.gjs
  plugins/chat/spec/models/chat/message_spec.rb
  plugins/chat/test/javascripts/components/chat-message-test.js
Labels: chat

#29651 FIX: ensures thread panel closes on escape
  plugins/chat/assets/javascripts/discourse/services/chat-thread-pane.js
  plugins/chat/spec/system/chat/composer/shortcuts/thread_spec.rb
Labels: chat

#29653 FIX: correctly render unicode in channel page title
  plugins/chat/app/serializers/chat/channel_serializer.rb
  plugins/chat/assets/javascripts/discourse/models/chat-channel.js
  plugins/chat/assets/javascripts/discourse/routes/chat-channel-decorator.js
  plugins/chat/spec/serializer/chat/channel_serializer_spec.rb
  plugins/chat/spec/system/chat_channel_spec.rb
Labels: chat

#29656 FIX: correctly account for composer height in PWA
  plugins/chat/assets/stylesheets/common/chat-height-mixin.scss
Labels: chat

#29641 FIX: Add back the option to create invite without emailing
  app/assets/javascripts/discourse/app/components/modal/create-invite.gjs
  app/assets/javascripts/discourse/tests/helpers/form-kit-helper.js
  app/assets/javascripts/discourse/tests/integration/components/create-invite-test.gjs
  config/locales/client.en.yml
  spec/system/create_invite_spec.rb
  spec/system/page_objects/modals/create_invite.rb
Labels: i18n

#29658 DEV: cook grid bbcode in chat
  plugins/chat/app/models/chat/message.rb
  plugins/chat/spec/models/chat/message_spec.rb
Labels: chat

#29659 FIX: supports escape sequence in chat
  plugins/chat/app/models/chat/message.rb
  plugins/chat/spec/models/chat/message_spec.rb
Labels: chat

#29331 FEATURE: Add more bulk dismiss buttons with confirmation
  app/assets/javascripts/discourse/app/components/bulk-select-topics-dropdown.gjs
  app/assets/stylesheets/common/base/modal.scss
  config/locales/client.en.yml
  spec/system/page_objects/modals/topic_bulk_actions.rb
  spec/system/topic_bulk_select_spec.rb
Labels: i18n

#29617 UX: update chat channel sorting to include unread threads
  plugins/chat/assets/javascripts/discourse/components/chat-channel-unread-indicator.gjs
  plugins/chat/assets/javascripts/discourse/services/chat-channels-manager.js
  plugins/chat/spec/fabricators/chat_fabricator.rb
  plugins/chat/spec/system/list_channels/drawer_spec.rb
  plugins/chat/spec/system/page_objects/chat/components/channels_index.rb
  plugins/chat/spec/system/page_objects/chat_drawer/chat_drawer.rb
Labels: chat

#29638 DEV: Convert `assert.true(exists())` to qunit-dom
  app/assets/javascripts/discourse/tests/acceptance/composer-messages-test.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-user-categories-section-test.js
  app/assets/javascripts/discourse/tests/integration/components/widgets/render-glimmer-test.js
  plugins/chat/test/javascripts/components/channel-icon-test.gjs
  plugins/chat/test/javascripts/components/channel-name-test.gjs
  plugins/chat/test/javascripts/components/chat-channel-card-test.js
  plugins/chat/test/javascripts/components/chat-channel-preview-card-test.js
  plugins/chat/test/javascripts/components/chat-composer-dropdown-test.js
  plugins/chat/test/javascripts/components/chat-composer-upload-test.js
  plugins/chat/test/javascripts/components/chat-emoji-avatar-test.js
  plugins/chat/test/javascripts/components/chat-message-avatar-test.js
  plugins/chat/test/javascripts/components/chat-message-info-test.js
  plugins/chat/test/javascripts/components/chat-message-reaction-test.js
  plugins/chat/test/javascripts/components/chat-message-test.js
  plugins/chat/test/javascripts/components/chat-message-text-test.js
  plugins/chat/test/javascripts/components/chat-upload-test.js
  plugins/chat/test/javascripts/components/collapser-test.js
  plugins/chat/test/javascripts/components/dc-filter-input-test.js
  plugins/chat/test/javascripts/integration/components/user-menu/chat-notifications-list-test.js
  plugins/poll/test/javascripts/acceptance/poll-builder-enabled-test.js
Labels: chat

#29672 DEV: Update `visible`/`invisible` uses to qunit-dom
  app/assets/javascripts/discourse/tests/acceptance/category-banner-test.js
  app/assets/javascripts/discourse/tests/acceptance/category-edit-test.js
  app/assets/javascripts/discourse/tests/acceptance/composer-image-preview-test.js
  app/assets/javascripts/discourse/tests/acceptance/composer-onebox-test.js
  app/assets/javascripts/discourse/tests/acceptance/composer-test.js
  app/assets/javascripts/discourse/tests/acceptance/groups-index-test.js
  app/assets/javascripts/discourse/tests/acceptance/review-test.js
  app/assets/javascripts/discourse/tests/acceptance/tags-test.js
  app/assets/javascripts/discourse/tests/acceptance/topic-test.js
  app/assets/javascripts/discourse/tests/acceptance/user-drafts-stream-test.js
  plugins/chat/test/javascripts/acceptance/chat-live-pane-collapse-test.js
  plugins/chat/test/javascripts/components/chat-message-collapser-test.js
  plugins/chat/test/javascripts/components/collapser-test.js
Labels: chat

#29677 DEV: Use selectors instead of `query()` where possible
  app/assets/javascripts/discourse/tests/acceptance/emoji-test.js
  app/assets/javascripts/discourse/tests/acceptance/group-manage-logs-test.js
  app/assets/javascripts/discourse/tests/acceptance/hashtag-autocomplete-test.js
  app/assets/javascripts/discourse/tests/acceptance/user-preferences-account-test.js
  app/assets/javascripts/discourse/tests/integration/components/site-setting-test.js
  app/assets/javascripts/discourse/tests/integration/components/widgets/widget-test.js
  plugins/chat/test/javascripts/components/chat-notices-test.js
Labels: chat

#29615 DEV: Convert admin emojis UI to new layout
  app/assets/javascripts/admin/addon/controllers/admin-emojis-index.js
  app/assets/javascripts/admin/addon/controllers/admin-emojis-new.js
  app/assets/javascripts/admin/addon/controllers/admin-emojis-settings.js
  app/assets/javascripts/admin/addon/controllers/admin-emojis.js
  app/assets/javascripts/admin/addon/routes/admin-emojis-settings.js
  app/assets/javascripts/admin/addon/routes/admin-emojis.js
  app/assets/javascripts/admin/addon/routes/admin-route-map.js
  app/assets/javascripts/admin/addon/templates/emojis-index.hbs
  app/assets/javascripts/admin/addon/templates/emojis-new.hbs
  app/assets/javascripts/admin/addon/templates/emojis-settings.hbs
  app/assets/javascripts/admin/addon/templates/emojis.hbs
  config/locales/client.en.yml
  config/routes.rb
  spec/fabricators/custom_emoji_fabricator.rb
  spec/system/admin_customize_emojis_spec.rb
  spec/system/page_objects/admin_emojis.rb
Labels: i18n

#29700 FIX: flakey due to 0 width/height images
  plugins/chat/test/javascripts/components/chat-message-collapser-test.js
Labels: chat

#29678 DEV: Use qunit-dom instead of raw `href`/`title` comparisons
  app/assets/javascripts/discourse/tests/acceptance/admin-site-settings-test.js
  app/assets/javascripts/discourse/tests/acceptance/categories-test.js
  app/assets/javascripts/discourse/tests/acceptance/emoji-picker-test.js
  app/assets/javascripts/discourse/tests/acceptance/lightbox-test.js
  app/assets/javascripts/discourse/tests/acceptance/share-topic-test.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-plugin-api-test.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-user-categories-section-test.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-user-community-section-test.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-user-tags-section-test.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-user-test.js
  app/assets/javascripts/discourse/tests/acceptance/topic-discovery-tracked-test.js
  app/assets/javascripts/discourse/tests/acceptance/topic-test.js
  app/assets/javascripts/discourse/tests/acceptance/user-drafts-stream-test.js
  app/assets/javascripts/discourse/tests/acceptance/user-menu-test.js
  app/assets/javascripts/discourse/tests/acceptance/user-preferences-interface-test.js
  app/assets/javascripts/discourse/tests/acceptance/user-profile-summary-test.js
  app/assets/javascripts/discourse/tests/acceptance/user-status-test.js
  app/assets/javascripts/discourse/tests/acceptance/user-test.js
  app/assets/javascripts/discourse/tests/integration/components/badge-button-test.js
  app/assets/javascripts/discourse/tests/integration/components/bookmark-icon-test.js
  app/assets/javascripts/discourse/tests/integration/components/user-menu/bookmarks-list-test.js
  app/assets/javascripts/discourse/tests/integration/components/user-menu/likes-list-test.js
  app/assets/javascripts/discourse/tests/integration/components/user-menu/menu-item-test.js
  app/assets/javascripts/discourse/tests/integration/components/user-menu/messages-list-test.js
  app/assets/javascripts/discourse/tests/integration/components/user-menu/notifications-list-test.js
  app/assets/javascripts/discourse/tests/integration/components/user-menu/reviewables-list-test.js
  app/assets/javascripts/discourse/tests/unit/lib/category-badge-test.js
  app/assets/javascripts/discourse/tests/unit/lib/formatter-test.js
  plugins/chat/test/javascripts/components/chat-channel-leave-btn-test.js
  plugins/chat/test/javascripts/components/chat-message-collapser-test.js
  plugins/chat/test/javascripts/components/chat-upload-test.js
Labels: chat

#29680 DEV: Use the new `hasHtml`/`includesHtml` from qunit-dom
  app/assets/javascripts/discourse/tests/acceptance/composer-actions-test.js
  app/assets/javascripts/discourse/tests/acceptance/composer-messages-test.js
  app/assets/javascripts/discourse/tests/acceptance/composer-onebox-test.js
  app/assets/javascripts/discourse/tests/acceptance/composer-test.js
  app/assets/javascripts/discourse/tests/acceptance/composer-topic-links-test.js
  app/assets/javascripts/discourse/tests/acceptance/d-styles-test.js
  app/assets/javascripts/discourse/tests/acceptance/emoji-test.js
  app/assets/javascripts/discourse/tests/acceptance/forgot-password-test.js
  app/assets/javascripts/discourse/tests/acceptance/hashtag-css-generator-test.js
  app/assets/javascripts/discourse/tests/acceptance/modal/login/login-with-email-and-hide-email-address-taken-test.js
  app/assets/javascripts/discourse/tests/acceptance/modal/login/login-with-email-test.js
  app/assets/javascripts/discourse/tests/acceptance/password-reset-test.js
  app/assets/javascripts/discourse/tests/acceptance/reports-test.js
  app/assets/javascripts/discourse/tests/acceptance/review-test.js
  app/assets/javascripts/discourse/tests/acceptance/topic-move-posts-test.js
  app/assets/javascripts/discourse/tests/acceptance/topic-test.js
  app/assets/javascripts/discourse/tests/acceptance/user-drafts-stream-test.js
  app/assets/javascripts/discourse/tests/acceptance/user-preferences-account-test.js
  app/assets/javascripts/discourse/tests/acceptance/user-preferences-second-factor-test.js
  app/assets/javascripts/discourse/tests/integration/components/composer-editor-test.gjs
  app/assets/javascripts/discourse/tests/integration/components/cook-text-test.js
  app/assets/javascripts/discourse/tests/integration/components/d-editor-test.js
  app/assets/javascripts/discourse/tests/integration/components/widgets/widget-dropdown-test.js
  app/assets/javascripts/discourse/tests/integration/helpers/d-icon-test.js
  app/assets/javascripts/discourse/tests/unit/lib/click-track-test.js
  app/assets/javascripts/discourse/tests/unit/lib/formatter-test.js
  app/assets/javascripts/discourse/tests/unit/lib/link-mentions-test.js
  plugins/chat/test/javascripts/acceptance/hashtag-css-generator-test.js
  plugins/chat/test/javascripts/components/chat-message-collapser-test.js
  plugins/chat/test/javascripts/components/chat-message-test.js
  plugins/chat/test/javascripts/components/chat-modal-archive-channel-test.js
  plugins/chat/test/javascripts/components/chat-modal-delete-channel-test.js
  plugins/chat/test/javascripts/components/chat-modal-move-message-to-channel-test.js
  plugins/chat/test/javascripts/components/chat-thread-header-test.js
  plugins/chat/test/javascripts/components/chat-thread-list-item-test.js
Labels: chat

#29701 UX: fix link to Highlight JS demo
  config/locales/server.en.yml
Labels: i18n

#28670 DEV: Modernize the post menu from widgets to Glimmer components
  app/assets/javascripts/discourse-common/addon/deprecation-workflow.js
  app/assets/javascripts/discourse/app/components/admin-post-menu.gjs
  app/assets/javascripts/discourse/app/components/bookmark-menu.gjs
  app/assets/javascripts/discourse/app/components/d-button.gjs
  app/assets/javascripts/discourse/app/components/post/menu.gjs
  app/assets/javascripts/discourse/app/components/post/menu/button-config.gjs
  app/assets/javascripts/discourse/app/components/post/menu/button-wrapper.gjs
  app/assets/javascripts/discourse/app/components/post/menu/buttons/admin.gjs
  app/assets/javascripts/discourse/app/components/post/menu/buttons/bookmark.gjs
  app/assets/javascripts/discourse/app/components/post/menu/buttons/copy-link.gjs
  app/assets/javascripts/discourse/app/components/post/menu/buttons/delete.gjs
  app/assets/javascripts/discourse/app/components/post/menu/buttons/edit.gjs
  app/assets/javascripts/discourse/app/components/post/menu/buttons/flag.gjs
  app/assets/javascripts/discourse/app/components/post/menu/buttons/like.gjs
  app/assets/javascripts/discourse/app/components/post/menu/buttons/read.gjs
  app/assets/javascripts/discourse/app/components/post/menu/buttons/replies.gjs
  app/assets/javascripts/discourse/app/components/post/menu/buttons/reply.gjs
  app/assets/javascripts/discourse/app/components/post/menu/buttons/share.gjs
  app/assets/javascripts/discourse/app/components/post/menu/buttons/show-more.gjs
  app/assets/javascripts/discourse/app/components/small-user-list.gjs
  app/assets/javascripts/discourse/app/instance-initializers/bookmark-menu.js
  app/assets/javascripts/discourse/app/lib/dag.js
  app/assets/javascripts/discourse/app/lib/plugin-api.gjs
  app/assets/javascripts/discourse/app/lib/post-action-feedback.js
  app/assets/javascripts/discourse/app/lib/transform-post.js
  app/assets/javascripts/discourse/app/lib/transformer.js
  app/assets/javascripts/discourse/app/lib/transformer/registry.js
  app/assets/javascripts/discourse/app/models/post.js
  app/assets/javascripts/discourse/app/models/topic-details.js
  app/assets/javascripts/discourse/app/widgets/actions-summary.js
  app/assets/javascripts/discourse/app/widgets/post-menu.js
  app/assets/javascripts/discourse/app/widgets/post-stream.js
  app/assets/javascripts/discourse/app/widgets/post.js
  app/assets/javascripts/discourse/tests/acceptance/post-controls-test.js
  app/assets/javascripts/discourse/tests/integration/components/widgets/post-menu-test.js
  app/assets/javascripts/discourse/tests/integration/components/widgets/post-stream-test.js
  app/assets/javascripts/discourse/tests/integration/components/widgets/post-test-with-glimmer-post-menu-test.js
  app/assets/javascripts/discourse/tests/integration/components/widgets/post-test.js
  app/assets/javascripts/discourse/tests/unit/lib/dag-test.js
  app/assets/javascripts/discourse/tests/unit/lib/transformer-test.js
  app/assets/stylesheets/common/base/topic-post.scss
  app/assets/stylesheets/desktop/topic-post.scss
  app/assets/stylesheets/wcag.scss
  app/serializers/current_user_serializer.rb
  config/locales/client.en.yml
  config/locales/server.en.yml
  config/site_settings.yml
  spec/system/page_objects/modals/base.rb
  spec/system/page_objects/pages/topic.rb
  spec/system/post_menu_spec.rb
Labels: i18n

#29193 PERF: auto join & leave chat channels
  plugins/chat/app/jobs/regular/chat/auto_join_channel_batch.rb
  plugins/chat/app/jobs/regular/chat/auto_join_channel_memberships.rb
  plugins/chat/app/jobs/regular/chat/auto_remove_membership_handle_category_updated.rb
  plugins/chat/app/jobs/regular/chat/auto_remove_membership_handle_chat_allowed_groups_change.rb
  plugins/chat/app/jobs/regular/chat/auto_remove_membership_handle_destroyed_group.rb
  plugins/chat/app/jobs/regular/chat/auto_remove_membership_handle_user_removed_from_group.rb
  plugins/chat/app/jobs/scheduled/chat/auto_join_users.rb
  plugins/chat/app/models/chat/category_channel.rb
  plugins/chat/app/queries/chat/channel_memberships_query.rb
  plugins/chat/app/services/chat/action/calculate_memberships_for_removal.rb
  plugins/chat/app/services/chat/action/create_memberships_for_auto_join.rb
  plugins/chat/app/services/chat/action/publish_and_follow_direct_message_channel.rb
  plugins/chat/app/services/chat/action/publish_auto_removed_user.rb
  plugins/chat/app/services/chat/action/remove_memberships.rb
  plugins/chat/app/services/chat/auto_join_channel_batch.rb
  plugins/chat/app/services/chat/auto_join_channels.rb
  plugins/chat/app/services/chat/auto_leave_channels.rb
  plugins/chat/app/services/chat/auto_remove/handle_category_updated.rb
  plugins/chat/app/services/chat/auto_remove/handle_chat_allowed_groups_change.rb
  plugins/chat/app/services/chat/auto_remove/handle_destroyed_group.rb
  plugins/chat/app/services/chat/auto_remove/handle_user_removed_from_group.rb
  plugins/chat/app/services/chat/create_category_channel.rb
  plugins/chat/app/services/chat/publisher.rb
  plugins/chat/app/services/chat/update_channel.rb
  plugins/chat/lib/chat/channel_membership_manager.rb
  plugins/chat/lib/chat/seeder.rb
  plugins/chat/plugin.rb
  plugins/chat/spec/components/chat/seeder_spec.rb
  plugins/chat/spec/integration/auto_channel_user_removal_spec.rb
  plugins/chat/spec/jobs/regular/chat/auto_join_channel_batch_spec.rb
  plugins/chat/spec/jobs/regular/chat/auto_join_channel_memberships_spec.rb
  plugins/chat/spec/jobs/scheduled/auto_join_users_spec.rb
  plugins/chat/spec/models/chat/category_channel_spec.rb
  plugins/chat/spec/plugin_spec.rb
  plugins/chat/spec/queries/chat/channel_memberships_query_spec.rb
  plugins/chat/spec/requests/core_ext/users_controller_spec.rb
  plugins/chat/spec/services/actions/create_memberships_for_auto_join_spec.rb
  plugins/chat/spec/services/actions/publish_and_follow_direct_message_channel_spec.rb
  plugins/chat/spec/services/auto_remove/handle_category_updated_spec.rb
  plugins/chat/spec/services/auto_remove/handle_chat_allowed_groups_change_spec.rb
  plugins/chat/spec/services/auto_remove/handle_destroyed_group_spec.rb
  plugins/chat/spec/services/auto_remove/handle_user_removed_from_group_spec.rb
  plugins/chat/spec/services/chat/auto_join_channel_batch_spec.rb
  plugins/chat/spec/services/chat/auto_join_channels_spec.rb
  plugins/chat/spec/services/chat/auto_leave_channels_spec.rb
  plugins/chat/spec/services/chat/create_category_channel_spec.rb
  plugins/chat/spec/services/chat/update_channel_spec.rb
Labels: chat

#29478 DEV: vBulletin 3 import script
  script/import_scripts/vbulletin3.rb
Labels: migrations-tooling

#29731 DEV: Fix ruby linting
  script/import_scripts/vbulletin3.rb
Labels: migrations-tooling

#29721 DEV: Don’t replace Rails logger in specs
  plugins/automation/spec/scripts/topic_spec.rb
  plugins/automation/spec/scripts/user_group_membership_through_badge_spec.rb
  plugins/automation/spec/scripts/zapier_webhook_spec.rb
  plugins/chat/spec/lib/chat/channel_archive_service_spec.rb
  spec/lib/discourse_hub_spec.rb
  spec/lib/discourse_ip_info_spec.rb
  spec/lib/discourse_spec.rb
  spec/lib/email/processor_spec.rb
  spec/lib/middleware/discourse_public_exceptions_spec.rb
  spec/lib/middleware/request_tracker_spec.rb
  spec/lib/mini_scheduler_long_running_job_logger_spec.rb
  spec/lib/sidekiq_long_running_job_logger_spec.rb
  spec/models/report_spec.rb
  spec/rails_helper.rb
  spec/requests/application_controller_spec.rb
  spec/requests/csp_reports_controller_spec.rb
  spec/services/user_stat_count_updater_spec.rb
Labels: chat

#29632 UX: Split `hide_profile_and_presence` user option
  app/assets/javascripts/admin/addon/mixins/setting-component.js
  app/assets/javascripts/discourse/app/components/user-menu/profile-tab-content.hbs
  app/assets/javascripts/discourse/app/components/user-menu/profile-tab-content.js
  app/assets/javascripts/discourse/app/controllers/preferences/interface.js
  app/assets/javascripts/discourse/app/models/user.js
  app/assets/javascripts/discourse/app/templates/preferences/interface.hbs
  app/assets/javascripts/discourse/tests/fixtures/user-fixtures.js
  app/assets/stylesheets/common/base/menu-panel.scss
  app/models/user_option.rb
  app/serializers/concerns/user_status_mixin.rb
  app/serializers/current_user_option_serializer.rb
  app/serializers/user_option_serializer.rb
  app/services/site_setting_update_existing_users.rb
  app/services/user_updater.rb
  config/locales/client.en.yml
  config/locales/server.en.yml
  config/site_settings.yml
  db/migrate/20241030210727_split_hide_profile_and_presence.rb
  lib/guardian/user_guardian.rb
  lib/tasks/import.rake
  plugins/chat/assets/javascripts/discourse/services/chat.js
  plugins/chat/spec/requests/core_ext/users_controller_spec.rb
  plugins/chat/spec/serializer/chat/chatables_serializer_spec.rb
  plugins/discourse-presence/assets/javascripts/discourse/services/composer-presence-manager.js
  script/bulk_import/base.rb
  spec/lib/guardian/user_guardian_spec.rb
  spec/models/user_option_spec.rb
  spec/models/user_spec.rb
  spec/requests/api/schemas/json/user_get_response.json
  spec/requests/list_controller_spec.rb
  spec/requests/posts_controller_spec.rb
  spec/requests/user_actions_controller_spec.rb
  spec/requests/user_badges_controller_spec.rb
  spec/requests/users_controller_spec.rb
  spec/serializers/concerns/user_status_mixin_spec.rb
Labels: chat, i18n, migrations-tooling

#29737 FIX: Hide presence toggle icon is backwards
  app/assets/javascripts/discourse/app/components/user-menu/profile-tab-content.hbs
  app/assets/stylesheets/common/base/menu-panel.scss
  config/locales/client.en.yml
Labels: i18n

#29743 DEV: restore AutoJoinChannelBatch job as a no-op to clear queue
  plugins/chat/app/jobs/regular/chat/auto_join_channel_batch.rb
Labels: chat

#29740 DEV: fix chat:*:populate rake tasks
  plugins/chat/lib/discourse_dev/category_channel.rb
  plugins/chat/lib/tasks/chat.rake
Labels: chat

#29634 UX: redesign admin permalinks page
  app/assets/javascripts/admin/addon/adapters/permalink.js
  app/assets/javascripts/admin/addon/components/admin-permalink-form.gjs
  app/assets/javascripts/admin/addon/controllers/admin-permalinks-index.js
  app/assets/javascripts/admin/addon/models/permalink.js
  app/assets/javascripts/admin/addon/routes/admin-permalinks-edit.js
  app/assets/javascripts/admin/addon/routes/admin-route-map.js
  app/assets/javascripts/admin/addon/templates/permalinks-edit.hbs
  app/assets/javascripts/admin/addon/templates/permalinks-index.hbs
  app/assets/javascripts/admin/addon/templates/permalinks-new.hbs
  app/assets/javascripts/admin/addon/templates/permalinks.hbs
  app/assets/javascripts/discourse/app/form-kit/components/fk/control/conditional-content/content.gjs
  app/assets/javascripts/discourse/app/form-kit/components/fk/control/image.gjs
  app/assets/javascripts/discourse/app/form-kit/components/fk/form.gjs
  app/assets/javascripts/discourse/tests/helpers/form-kit-assertions.js
  app/assets/javascripts/discourse/tests/integration/components/form-kit/controls/image-test.gjs
  app/assets/javascripts/discourse/tests/integration/components/form-kit/form-test.gjs
  app/assets/stylesheets/common/admin/customize.scss
  app/controllers/admin/permalinks_controller.rb
  app/models/permalink.rb
  config/locales/client.en.yml
  config/routes.rb
  spec/models/permalink_spec.rb
  spec/requests/admin/permalinks_controller_spec.rb
  spec/requests/application_controller_spec.rb
  spec/requests/categories_controller_spec.rb
  spec/requests/permalinks_controller_spec.rb
  spec/system/admin_permalinks_page_spec.rb
  spec/system/page_objects/pages/admin_permalink_form.rb
  spec/system/page_objects/pages/admin_permalinks.rb
Labels: i18n, staff-experience

#29739 FEATURE: add mention count to threads
  plugins/chat/app/queries/chat/channel_unreads_query.rb
  plugins/chat/app/queries/chat/thread_unreads_query.rb
  plugins/chat/assets/javascripts/discourse/components/chat-channel-unread-indicator.gjs
  plugins/chat/assets/javascripts/discourse/components/thread-unread-indicator/index.gjs
  plugins/chat/spec/queries/chat/channel_unreads_query_spec.rb
  plugins/chat/spec/queries/chat/thread_unreads_query_spec.rb
Labels: chat

#29757 FIX: chat bookmarks in drawer mode
  plugins/chat/assets/javascripts/discourse/routes/chat.js
  plugins/chat/spec/system/bookmark_message_spec.rb
  spec/system/page_objects/components/user_menu.rb
Labels: chat

#29747 FIX: Styleguide errors and add smoke test for component pages
  plugins/chat/assets/javascripts/discourse/components/styleguide/chat-thread-list-item.hbs
  plugins/chat/assets/javascripts/discourse/components/styleguide/chat-thread-list-item.js
  plugins/styleguide/assets/javascripts/discourse/components/sections/atoms/05-forms.hbs
  plugins/styleguide/assets/javascripts/discourse/components/sections/molecules/post-menu.hbs
  plugins/styleguide/assets/javascripts/discourse/components/sections/organisms/01-topic-map.hbs
  plugins/styleguide/assets/javascripts/discourse/lib/dummy-data.js
  plugins/styleguide/spec/system/smoke_test_spec.rb
Labels: chat

#29774 UX: Update CTA button label to 'Add Emoji' for clarity
  config/locales/client.en.yml
Labels: i18n

#29734 FEATURE: Add keyboard shortcuts for jumping to unread channels
  app/assets/javascripts/discourse/app/components/modal/keyboard-shortcuts-help.js
  app/assets/stylesheets/common/components/keyboard_shortcuts.scss
  config/locales/client.en.yml
  plugins/chat/assets/javascripts/discourse/initializers/chat-keyboard-shortcuts.js
  plugins/chat/assets/javascripts/discourse/services/chat-channels-manager.js
  plugins/chat/assets/javascripts/discourse/services/chat.js
  plugins/chat/config/locales/client.en.yml
  plugins/chat/spec/system/shortcuts/sidebar_spec.rb
Labels: chat, i18n

#29812 UX: Add title & adjust dnd image
  app/assets/javascripts/discourse/app/components/header/user-dropdown/notifications.gjs
  app/assets/stylesheets/common/base/discourse.scss
  config/locales/client.en.yml
Labels: i18n

#29798 UX: consistent flags page
  app/assets/javascripts/admin/addon/templates/config-flags-index.hbs
  app/assets/javascripts/admin/addon/templates/config-flags.hbs
  spec/system/admin_flags_spec.rb
Labels: staff-experience

#29782 DEV: adds blocks support to chat messages
  app/assets/stylesheets/common/components/buttons.scss
  plugins/chat/app/controllers/chat/api/channel_messages_controller.rb
  plugins/chat/app/controllers/chat/api/channels_messages_interactions_controller.rb
  plugins/chat/app/models/chat/message.rb
  plugins/chat/app/models/chat/message_interaction.rb
  plugins/chat/app/serializers/chat/block_serializer.rb
  plugins/chat/app/serializers/chat/blocks/elements/button_serializer.rb
  plugins/chat/app/serializers/chat/blocks/elements/text_serializer.rb
  plugins/chat/app/serializers/chat/message_interaction_serializer.rb
  plugins/chat/app/serializers/chat/message_serializer.rb
  plugins/chat/app/services/chat/create_message.rb
  plugins/chat/app/services/chat/create_message_interaction.rb
  plugins/chat/assets/javascripts/discourse/components/chat-message.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-message/blocks/actions.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-message/blocks/block.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-message/blocks/element.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-message/blocks/elements/button.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-message/blocks/index.gjs
  plugins/chat/assets/javascripts/discourse/models/chat-message.js
  plugins/chat/assets/javascripts/discourse/services/chat-api.js
  plugins/chat/assets/stylesheets/common/chat-message-blocks.scss
  plugins/chat/assets/stylesheets/common/index.scss
  plugins/chat/config/routes.rb
  plugins/chat/db/migrate/20241110120303_add_blocks_to_chat_messages.rb
  plugins/chat/db/migrate/20241111022618_create_chat_message_interactions.rb
  plugins/chat/lib/chat/message_blocks_validator.rb
  plugins/chat/lib/chat/schemas/message_blocks.rb
  plugins/chat/spec/fabricators/chat_fabricator.rb
  plugins/chat/spec/models/chat/message_spec.rb
  plugins/chat/spec/requests/chat/api/channel_messages_controller_spec.rb
  plugins/chat/spec/services/chat/create_message_interaction_spec.rb
  plugins/chat/spec/services/chat/create_message_spec.rb
  plugins/chat/spec/system/chat_message_interaction_spec.rb
Labels: chat

#29816 UX: Add AdminConfigAreaEmptyList component
  app/assets/javascripts/admin/addon/components/admin-config-area-empty-list.gjs
  app/assets/javascripts/admin/addon/templates/permalinks-index.hbs
  app/assets/stylesheets/common/admin/admin_config_area.scss
  app/assets/stylesheets/common/admin/customize.scss
  app/assets/stylesheets/common/admin/plugins.scss
  config/locales/client.en.yml
Labels: i18n

#29714 DEV: Modernize admin emoji JavaScript
  app/assets/javascripts/admin/addon/components/admin-config-areas/emojis-list.gjs
  app/assets/javascripts/admin/addon/components/admin-config-areas/emojis-new.gjs
  app/assets/javascripts/admin/addon/components/admin-config-areas/emojis-settings.gjs
  app/assets/javascripts/admin/addon/components/emoji-uploader.hbs
  app/assets/javascripts/admin/addon/components/emoji-uploader.js
  app/assets/javascripts/admin/addon/controllers/admin-emojis-index.js
  app/assets/javascripts/admin/addon/controllers/admin-emojis-new.js
  app/assets/javascripts/admin/addon/controllers/admin-emojis-settings.js
  app/assets/javascripts/admin/addon/controllers/admin-emojis.js
  app/assets/javascripts/admin/addon/routes/admin-emojis-settings.js
  app/assets/javascripts/admin/addon/routes/admin-emojis.js
  app/assets/javascripts/admin/addon/services/admin-emojis.js
  app/assets/javascripts/admin/addon/templates/emojis-index.hbs
  app/assets/javascripts/admin/addon/templates/emojis-new.hbs
  app/assets/javascripts/admin/addon/templates/emojis-settings.hbs
  app/assets/javascripts/admin/addon/templates/emojis.hbs
  app/assets/stylesheets/common/admin/admin_emojis.scss
  app/models/site_setting.rb
  config/locales/client.en.yml
  config/site_settings.yml
Labels: i18n

#29810 Fix the import votes for posts table to the new 'post_voting_votes' table
  script/bulk_import/generic_bulk.rb
Labels: migrations-tooling

#29822 FIX: Simplify max-height calculation for chat composer
  plugins/chat/assets/stylesheets/common/chat-composer.scss
Labels: chat

#29777 FIX: migrations-tooling CLI didn't work anymore
  migrations/bin/cli
  migrations/lib/cli/convert_command.rb
  migrations/lib/cli/import_command.rb
  migrations/lib/cli/upload_command.rb
  migrations/lib/migrations.rb
Labels: migrations-tooling

#29839 DEV: supports blocks in chat message sdk
  plugins/chat/lib/chat_sdk/message.rb
  plugins/chat/spec/lib/chat_sdk/message_spec.rb
Labels: chat

#29833 PERF: optimize chat user membership cleanup when removing a single user
  plugins/chat/app/services/chat/auto_leave_channels.rb
  plugins/chat/spec/integration/auto_channel_user_removal_spec.rb
  plugins/chat/spec/services/chat/auto_leave_channels_spec.rb
Labels: chat

#29844 FIX: serializes interaction for direct messages
  plugins/chat/app/serializers/chat/message_interaction_serializer.rb
  plugins/chat/spec/fabricators/chat_fabricator.rb
  plugins/chat/spec/serializer/chat/message_interaction_serializer_spec.rb
  plugins/chat/spec/support/api/schemas/message_interaction.json
Labels: chat

#29845 DEV: Revert ember-template-lint CI command change
  package.json
  plugins/chat/assets/javascripts/discourse/components/chat-message.gjs
Labels: chat

#29856 Update server.en.yml to fix typo in tl1 description
  config/locales/server.en.yml
Labels: i18n

#29854 Update client.en.yml to improve link text on invite popup
  config/locales/client.en.yml
Labels: i18n

#29867 DEV: Make sure chat migration is in plugin directory
  plugins/chat/db/migrate/20241120182858_add_index_to_chat_messages_on_chat_channel_id.rb
Labels: chat

#29857 Update client.en.yml to change "locale" to "language" in a setting de…
  config/locales/client.en.yml
Labels: i18n

#29887 FIX: hide chat button in user card
  app/assets/javascripts/discourse/app/lib/fabricators.js
  plugins/chat/assets/javascripts/discourse/components/chat/direct-message-button.gjs
  plugins/chat/test/javascripts/components/chat-user-card-button-test.js
Labels: chat

#29850 UX: improved collapsed drawer state/interactions
  app/assets/javascripts/discourse/app/components/composer-toggles.js
  plugins/chat/assets/javascripts/discourse/components/chat-drawer.hbs
  plugins/chat/assets/javascripts/discourse/components/chat/navbar/back-button.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/navbar/channel-title.gjs
  plugins/chat/assets/stylesheets/common/chat-drawer.scss
  plugins/chat/assets/stylesheets/common/chat-navbar.scss
Labels: chat

#29843 DEV: Modernize admin user fields
  app/assets/javascripts/admin/addon/components/admin-config-areas/user-fields-list.gjs
  app/assets/javascripts/admin/addon/components/admin-user-field-item.gjs
  app/assets/javascripts/admin/addon/components/admin-user-field-item.hbs
  app/assets/javascripts/admin/addon/components/admin-user-field-item.js
  app/assets/javascripts/admin/addon/components/admin-user-fields-form.gjs
  app/assets/javascripts/admin/addon/controllers/admin-user-fields.js
  app/assets/javascripts/admin/addon/models/user-field.js
  app/assets/javascripts/admin/addon/routes/admin-route-map.js
  app/assets/javascripts/admin/addon/routes/admin-user-fields-edit.js
  app/assets/javascripts/admin/addon/routes/admin-user-fields-new.js
  app/assets/javascripts/admin/addon/routes/admin-user-fields.js
  app/assets/javascripts/admin/addon/services/admin-user-fields.js
  app/assets/javascripts/admin/addon/templates/user-fields-edit.hbs
  app/assets/javascripts/admin/addon/templates/user-fields-index.hbs
  app/assets/javascripts/admin/addon/templates/user-fields-new.hbs
  app/assets/javascripts/admin/addon/templates/user-fields.hbs
  app/assets/javascripts/discourse/app/lib/constants.js
  app/assets/stylesheets/common/admin/admin_base.scss
  app/assets/stylesheets/common/admin/admin_table.scss
  app/assets/stylesheets/common/admin/user_fields.scss
  app/controllers/admin/user_fields_controller.rb
  app/models/user_field.rb
  config/locales/client.bs_BA.yml
  config/locales/client.cs.yml
  config/locales/client.en.yml
  config/routes.rb
  lib/tasks/javascript.rake
  spec/system/admin_user_fields_spec.rb
  spec/system/page_objects/pages/admin_user_fields.rb
Labels: i18n

#29913 FIX: correctly link to settings in full page
  plugins/chat/assets/javascripts/discourse/components/chat/navbar/channel-title.gjs
Labels: chat

#29744 FEATURE: Add bulk destroy to admin users list
  app/assets/javascripts/admin/addon/components/bulk-user-delete-confirmation.gjs
  app/assets/javascripts/admin/addon/controllers/admin-users-list-show.js
  app/assets/javascripts/admin/addon/routes/admin-users-list-show.js
  app/assets/javascripts/admin/addon/templates/users-list-show.hbs
  app/assets/javascripts/discourse/app/components/responsive-table.hbs
  app/assets/javascripts/discourse/tests/acceptance/admin-users-list-test.js
  app/assets/stylesheets/common/admin/admin_base.scss
  app/assets/stylesheets/common/admin/admin_bulk_users_delete_modal.scss
  app/assets/stylesheets/common/admin/users.scss
  app/controllers/admin/users_controller.rb
  app/serializers/admin_user_list_serializer.rb
  app/serializers/admin_user_serializer.rb
  app/services/user/bulk_destroy.rb
  config/locales/client.en.yml
  config/locales/server.en.yml
  config/routes.rb
  spec/requests/admin/users_controller_spec.rb
  spec/serializers/admin_user_list_serializer_spec.rb
  spec/system/admin_users_list_spec.rb
  spec/system/page_objects/components/d_menu.rb
  spec/system/page_objects/modals/bulk_user_delete_confirmation.rb
  spec/system/page_objects/pages/admin_users.rb
Labels: i18n

#29910 UX: chat drawer hover effect width calc fix
  plugins/chat/assets/stylesheets/common/chat-navbar.scss
Labels: chat

#29931 DEV: Change admin emoji delete button from icon to text
  app/assets/javascripts/admin/addon/components/admin-config-areas/emojis-list.gjs
  app/assets/stylesheets/common/admin/admin_base.scss
  app/assets/stylesheets/common/admin/admin_emojis.scss
  config/locales/client.en.yml
  spec/system/page_objects/admin_emojis.rb
Labels: i18n

#29546 DEV: Remove the `experimental_` prefix for fullpage login
  app/assets/javascripts/discourse/app/controllers/login.js
  app/assets/javascripts/discourse/app/instance-initializers/auth-complete.js
  app/assets/javascripts/discourse/app/routes/application.js
  app/assets/javascripts/discourse/app/routes/login.js
  app/assets/javascripts/discourse/app/routes/signup.js
  app/assets/javascripts/discourse/app/templates/login.hbs
  config/locales/server.en.yml
  config/site_settings.yml
  db/migrate/20241104132424_rename_full_page_site_setting.rb
  spec/system/login_spec.rb
  spec/system/signup_spec.rb
  spec/system/social_authentication_spec.rb
Labels: i18n

#29929 FIX: Preserve history when routing to `/filter` route
  app/assets/javascripts/discourse/app/routes/discovery-filter.js
  config/locales/client.en.yml
Labels: i18n

#29927 UX: Remove lounge category from badge description
  config/locales/server.en.yml
Labels: i18n

#29911 FEATURE: Allow admins to force refresh "What's new?"
  app/assets/javascripts/admin/addon/components/admin-config-area-empty-list.gjs
  app/assets/javascripts/admin/addon/components/dashboard-new-features.gjs
  app/assets/javascripts/admin/addon/controllers/admin-whats-new.js
  app/assets/javascripts/admin/addon/templates/whats-new.hbs
  app/controllers/admin/dashboard_controller.rb
  config/locales/client.en.yml
  lib/discourse_updates.rb
  spec/lib/discourse_updates_spec.rb
  spec/requests/admin/dashboard_controller_spec.rb
Labels: i18n

#29954 UX: update minwidth to chat sidepanel + better title word-break fn
  plugins/chat/assets/stylesheets/common/chat-navbar.scss
  plugins/chat/assets/stylesheets/desktop/chat-side-panel.scss
Labels: chat

#29950 DEV: Autofix (w/ manual follow up) various qunit lints
  app/assets/javascripts/discourse-common/addon/lib/object.js
  app/assets/javascripts/discourse/tests/acceptance/categories-test.js
  app/assets/javascripts/discourse/tests/acceptance/category-chooser-test.js
  app/assets/javascripts/discourse/tests/acceptance/composer-edit-conflict-test.js
  app/assets/javascripts/discourse/tests/acceptance/composer-test.js
  app/assets/javascripts/discourse/tests/acceptance/composer-uploads-uppy-test.js
  app/assets/javascripts/discourse/tests/acceptance/do-not-disturb-test.js
  app/assets/javascripts/discourse/tests/acceptance/user-preferences-notifications-test.js
  app/assets/javascripts/discourse/tests/integration/components/dismiss-new-test.js
  app/assets/javascripts/discourse/tests/integration/components/float-kit/d-menu-test.js
  app/assets/javascripts/discourse/tests/integration/components/float-kit/d-tooltip-test.js
  app/assets/javascripts/discourse/tests/integration/components/plugin-outlet-test.gjs
  app/assets/javascripts/discourse/tests/integration/components/text-field-test.js
  app/assets/javascripts/discourse/tests/integration/components/topic-list-item-test.js
  app/assets/javascripts/discourse/tests/integration/components/widgets/post-test-with-glimmer-post-menu-test.js
  app/assets/javascripts/discourse/tests/integration/components/widgets/post-test.js
  app/assets/javascripts/discourse/tests/unit/controllers/admin-customize-themes-show-test.js
  app/assets/javascripts/discourse/tests/unit/controllers/preferences-account-test.js
  app/assets/javascripts/discourse/tests/unit/controllers/preferences-second-factor-test.js
  app/assets/javascripts/discourse/tests/unit/controllers/user-notifications-test.js
  app/assets/javascripts/discourse/tests/unit/lib/allow-lister-test.js
  app/assets/javascripts/discourse/tests/unit/lib/category-badge-test.js
  app/assets/javascripts/discourse/tests/unit/lib/click-track-test.js
  app/assets/javascripts/discourse/tests/unit/lib/computed-test.js
  app/assets/javascripts/discourse/tests/unit/lib/get-url-test.js
  app/assets/javascripts/discourse/tests/unit/lib/icon-library-test.js
  app/assets/javascripts/discourse/tests/unit/lib/lightbox/helpers/create-download-link-test.js
  app/assets/javascripts/discourse/tests/unit/lib/lightbox/helpers/get-swipe-direction-test.js
  app/assets/javascripts/discourse/tests/unit/lib/lightbox/helpers/open-image-in-new-tab-test.js
  app/assets/javascripts/discourse/tests/unit/lib/lightbox/helpers/preload-item-images-test.js
  app/assets/javascripts/discourse/tests/unit/lib/lightbox/helpers/site-theme-color-test.js
  app/assets/javascripts/discourse/tests/unit/lib/oneboxer-test.js
  app/assets/javascripts/discourse/tests/unit/lib/preload-store-test.js
  app/assets/javascripts/discourse/tests/unit/lib/pretty-text-test.js
  app/assets/javascripts/discourse/tests/unit/lib/text-direction-test.js
  app/assets/javascripts/discourse/tests/unit/lib/uppy-media-optimization-plugin-test.js
  app/assets/javascripts/discourse/tests/unit/lib/utilities-test.js
  app/assets/javascripts/discourse/tests/unit/models/badge-test.js
  app/assets/javascripts/discourse/tests/unit/models/composer-test.js
  app/assets/javascripts/discourse/tests/unit/models/post-stream-test.js
  app/assets/javascripts/discourse/tests/unit/models/post-test.js
  app/assets/javascripts/discourse/tests/unit/models/report-test.js
  app/assets/javascripts/discourse/tests/unit/models/rest-model-test.js
  app/assets/javascripts/discourse/tests/unit/models/result-set-test.js
  app/assets/javascripts/discourse/tests/unit/models/topic-details-test.js
  app/assets/javascripts/discourse/tests/unit/models/topic-test.js
  app/assets/javascripts/discourse/tests/unit/models/topic-tracking-state-test.js
  app/assets/javascripts/discourse/tests/unit/models/user-badge-test.js
  app/assets/javascripts/discourse/tests/unit/models/user-stream-test.js
  app/assets/javascripts/discourse/tests/unit/models/user-test.js
  app/assets/javascripts/discourse/tests/unit/models/wizard-field-test.js
  app/assets/javascripts/discourse/tests/unit/services/presence-test.js
  plugins/automation/test/javascripts/integration/components/da-boolean-field-test.js
  plugins/automation/test/javascripts/integration/components/da-date-time-field-test.js
  plugins/chat/test/javascripts/components/chat-composer-upload-test.js
  plugins/chat/test/javascripts/unit/models/chat-message-test.js
  plugins/chat/test/javascripts/unit/services/chat-emoji-picker-manager-test.js
  plugins/chat/test/javascripts/unit/services/chat-state-manager-test.js
Labels: chat

#29541 UI: hides channel with visible panel on narrow screen
  plugins/chat/assets/stylesheets/desktop/chat-channel.scss
  plugins/chat/assets/stylesheets/desktop/index.scss
Labels: chat

#29964 PERF: Optimize query for finding users with unread chat messages
  plugins/chat/lib/chat/mailer.rb
Labels: chat

#29982 FIX: Localization for custom signup form descriptions
  app/assets/javascripts/discourse/app/components/fullname-input.gjs
  app/assets/javascripts/discourse/app/components/modal/create-account.hbs
  app/assets/javascripts/discourse/app/components/modal/create-account.js
  app/assets/javascripts/discourse/app/controllers/signup.js
  app/assets/javascripts/discourse/app/templates/signup.hbs
  app/assets/javascripts/discourse/tests/acceptance/create-account-test.js
  config/locales/server.en.yml
  config/site_settings.yml
Labels: i18n

#29998 UI: simplify chat thread title
  plugins/chat/assets/javascripts/discourse/components/chat-thread-heading.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-thread.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/drawer-routes/browse.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/drawer-routes/channel-thread.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/navbar/index.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/navbar/title.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/thread/header.gjs
  plugins/chat/assets/stylesheets/common/chat-navbar.scss
  plugins/chat/assets/stylesheets/common/chat-thread-heading.scss
  plugins/chat/assets/stylesheets/common/index.scss
  plugins/chat/assets/stylesheets/mobile/chat-navbar.scss
  plugins/chat/test/javascripts/components/chat-thread-heading-test.gjs
Labels: chat

#30005 FIX: do not show as clickable the thread header
  plugins/chat/assets/javascripts/discourse/components/chat/thread/header.gjs
Labels: chat

#30006 FIX: increase chat thread title limit
  plugins/chat/assets/javascripts/discourse/components/chat/modal/thread-settings.gjs
Labels: chat

#30007 FIX: word break long continuous thread titles
  plugins/chat/assets/stylesheets/common/chat-thread-heading.scss
Labels: chat

#30012 DEV: Extensively use qunit-dom's hasText
  app/assets/javascripts/discourse/tests/acceptance/admin-user-emails-test.js
  app/assets/javascripts/discourse/tests/acceptance/admin-users-list-test.js
  app/assets/javascripts/discourse/tests/acceptance/category-edit-security-test.js
  app/assets/javascripts/discourse/tests/acceptance/composer-test.js
  app/assets/javascripts/discourse/tests/acceptance/custom-html-template-test.js
  app/assets/javascripts/discourse/tests/acceptance/group-manage-email-settings-test.js
  app/assets/javascripts/discourse/tests/acceptance/groups-new-test.js
  app/assets/javascripts/discourse/tests/acceptance/review-test.js
  app/assets/javascripts/discourse/tests/acceptance/search-test.js
  app/assets/javascripts/discourse/tests/acceptance/topic-edit-timer-test.js
  app/assets/javascripts/discourse/tests/acceptance/topic-test.js
  app/assets/javascripts/discourse/tests/acceptance/user-preferences-security-test.js
  app/assets/javascripts/discourse/tests/acceptance/user-private-messages-test.js
  app/assets/javascripts/discourse/tests/integration/components/form-template-field/dropdown-test.js
  app/assets/javascripts/discourse/tests/integration/components/form-template-field/multi-select-test.js
  app/assets/javascripts/discourse/tests/integration/components/select-kit/api-test.js
  app/assets/javascripts/discourse/tests/integration/components/select-kit/category-chooser-test.js
  app/assets/javascripts/discourse/tests/integration/components/select-kit/category-drop-test.js
  app/assets/javascripts/discourse/tests/integration/components/select-kit/category-selector-test.js
  app/assets/javascripts/discourse/tests/integration/components/select-kit/mini-tag-chooser-test.js
  app/assets/javascripts/discourse/tests/integration/components/themes-list-item-test.js
  app/assets/javascripts/discourse/tests/integration/components/time-shortcut-picker-test.js
  app/assets/javascripts/discourse/tests/integration/components/widgets/post-test-with-glimmer-post-menu-test.js
  app/assets/javascripts/discourse/tests/integration/components/widgets/post-test.js
  app/assets/javascripts/discourse/tests/integration/components/widgets/widget-dropdown-test.js
  app/assets/javascripts/discourse/tests/unit/lib/category-badge-test.js
  app/assets/javascripts/discourse/tests/unit/lib/highlight-syntax-test.js
  app/assets/javascripts/discourse/tests/unit/lib/link-mentions-test.js
  plugins/chat/test/javascripts/components/channel-icon-test.gjs
  plugins/chat/test/javascripts/components/channel-name-test.gjs
  plugins/chat/test/javascripts/components/chat-channel-preview-card-test.js
  plugins/chat/test/javascripts/components/chat-message-collapser-test.js
  plugins/chat/test/javascripts/components/chat-notices-test.js
  plugins/chat/test/javascripts/components/chat-replying-indicator-test.js
  plugins/chat/test/javascripts/components/chat-user-display-name-test.js
  plugins/poll/test/javascripts/acceptance/poll-results-test.js
  plugins/poll/test/javascripts/component/poll-results-standard-test.js
Labels: chat

#30010 DEV: Make the `logIn` helper replace current-user service
  app/assets/javascripts/discourse/tests/helpers/qunit-helpers.js
  app/assets/javascripts/discourse/tests/unit/lib/url-test.js
  app/assets/javascripts/discourse/tests/unit/services/document-title-test.js
  app/assets/javascripts/discourse/tests/unit/services/user-tips-test.js
  plugins/chat/test/javascripts/unit/utility/plugin-api-test.js
Labels: chat
