Repository discourse/discourse, pull requests merged in 2024-05, with the labels that each got.

#26834 FIX: add excerpt fallback for chat message replies
  plugins/chat/app/serializers/chat/in_reply_to_serializer.rb
  plugins/chat/spec/serializer/chat/in_reply_to_serializer_spec.rb
Labels: chat

#26848 DEV: allows to disable strip_whitespaces in messages
  plugins/chat/app/models/chat/message.rb
  plugins/chat/app/services/chat/create_message.rb
  plugins/chat/app/services/chat/update_message.rb
  plugins/chat/lib/chat_sdk/message.rb
  plugins/chat/spec/lib/chat_sdk/message_spec.rb
  plugins/chat/spec/services/chat/create_message_spec.rb
  plugins/chat/spec/services/chat/update_message_spec.rb
Labels: chat

#26852 DEV: Eager load chat's scheduled jobs in development mode
  plugins/chat/lib/chat/engine.rb
Labels: chat

#26853 DEV: Update chat scheduled job loading to match skeleton
  plugins/chat/lib/chat/engine.rb
Labels: chat

#26861 DEV: adds first_messages/last_messages to thread SDK
  plugins/chat/app/queries/chat/messages_query.rb
  plugins/chat/app/services/chat/list_channel_thread_messages.rb
  plugins/chat/lib/chat_sdk/thread.rb
  plugins/chat/spec/lib/chat_sdk/thread_spec.rb
  plugins/chat/spec/queries/chat/messages_query_spec.rb
  plugins/chat/spec/services/chat/list_channel_thread_messages_spec.rb
Labels: chat

#26816 DEV: Uploads import script can download files
  lib/upload_markdown.rb
  script/bulk_import/uploads_importer.rb
  script/bulk_import/uploads_importer.yml
Labels: migrations-tooling

#26882 FIX: correctly pass topic/posts context
  plugins/chat/assets/javascripts/discourse/lib/extract-current-topic-info.js
  plugins/chat/spec/system/send_message_spec.rb
Labels: chat

#26884 FIX: an existing member of a channel is allowed to join
  plugins/chat/app/services/chat/create_message.rb
  plugins/chat/spec/requests/chat/api/messages_controller_spec.rb
  plugins/chat/spec/services/chat/create_message_spec.rb
Labels: chat

#26881 DEV: Fix random typos
  app/assets/javascripts/discourse/app/lib/dag.js
  app/assets/javascripts/discourse/app/models/topic-tracking-state.js
  app/assets/javascripts/discourse/app/services/composer.js
  app/controllers/users_controller.rb
  plugins/chat/spec/requests/chat/api/channel_messages_controller_spec.rb
  plugins/chat/spec/services/chat/trash_message_spec.rb
  plugins/discourse-lazy-videos/test/javascripts/components/lazy-video-test.js
  spec/lib/discourse_webauthn/authentication_service_spec.rb
  spec/lib/discourse_webauthn/registration_service_spec.rb
Labels: chat

#26888 DEV: Convert count-i18n to gjs
  app/assets/javascripts/discourse/app/components/count-i18n.gjs
  app/assets/javascripts/discourse/app/components/count-i18n.hbs
  app/assets/javascripts/discourse/app/components/count-i18n.js
  app/assets/javascripts/discourse/app/templates/user-topics-list.hbs
Labels: i18n

#26890 UX: hide user count in original message link
  plugins/chat/assets/stylesheets/common/chat-message-info.scss
Labels: chat

#26895 FIX: only show discourse-ai CTA to admins
  plugins/chat/assets/javascripts/discourse/components/chat/modal/thread-settings.gjs
  plugins/chat/test/javascripts/components/thread-settings-test.gjs
Labels: chat

#26900 FIX: allows bots to create/update/stream messages
  plugins/chat/app/controllers/chat/api/channel_messages_controller.rb
  plugins/chat/app/controllers/chat/api/channels_messages_streaming_controller.rb
  plugins/chat/app/services/chat/create_message.rb
  plugins/chat/app/services/chat/stop_message_streaming.rb
  plugins/chat/app/services/chat/update_message.rb
  plugins/chat/lib/chat_sdk/message.rb
  plugins/chat/spec/lib/chat_sdk/message_spec.rb
  plugins/chat/spec/models/chat/message_spec.rb
  plugins/chat/spec/requests/chat/api/channel_messages_controller_spec.rb
  plugins/chat/spec/requests/chat/api/channel_threads_controller_spec.rb
  plugins/chat/spec/requests/chat/api/channels_messages_streaming_controller_spec.rb
  plugins/chat/spec/requests/chat/api/messages_controller_spec.rb
  plugins/chat/spec/services/chat/create_message_spec.rb
  plugins/chat/spec/services/chat/stop_message_streaming_spec.rb
  plugins/chat/spec/services/chat/update_message_spec.rb
Labels: chat

#26823 DEV: allows for multiple menus/tooltips
  app/assets/javascripts/discourse/app/components/post-text-selection.gjs
  app/assets/javascripts/discourse/app/components/user-tip.gjs
  app/assets/javascripts/discourse/app/lib/user-status-message.js
  app/assets/javascripts/discourse/app/modifiers/close-on-click-outside.js
  app/assets/javascripts/discourse/app/templates/application.hbs
  app/assets/javascripts/discourse/tests/integration/components/float-kit/d-menu-test.js
  app/assets/javascripts/discourse/tests/integration/components/float-kit/d-tooltip-test.js
  app/assets/javascripts/discourse/tests/integration/components/user-info-test.js
  app/assets/javascripts/discourse/tests/integration/components/user-status-message-test.js
  app/assets/javascripts/discourse/tests/integration/components/widgets/post-test.js
  app/assets/javascripts/float-kit/addon/components/d-float-body.gjs
  app/assets/javascripts/float-kit/addon/components/d-float-portal.gjs
  app/assets/javascripts/float-kit/addon/components/d-headless-menu.gjs
  app/assets/javascripts/float-kit/addon/components/d-headless-tooltip.gjs
  app/assets/javascripts/float-kit/addon/components/d-inline-float.gjs
  app/assets/javascripts/float-kit/addon/components/d-inline-menu.gjs
  app/assets/javascripts/float-kit/addon/components/d-inline-tooltip.gjs
  app/assets/javascripts/float-kit/addon/components/d-menu.gjs
  app/assets/javascripts/float-kit/addon/components/d-menus.gjs
  app/assets/javascripts/float-kit/addon/components/d-tooltip.gjs
  app/assets/javascripts/float-kit/addon/components/d-tooltips.gjs
  app/assets/javascripts/float-kit/addon/lib/d-menu-instance.js
  app/assets/javascripts/float-kit/addon/lib/d-tooltip-instance.js
  app/assets/javascripts/float-kit/addon/lib/float-kit-instance.js
  app/assets/javascripts/float-kit/addon/modifiers/close-on-click-outside.js
  app/assets/javascripts/float-kit/addon/services/menu.js
  app/assets/javascripts/float-kit/addon/services/tooltip.js
  app/assets/javascripts/float-kit/app/components/d-headless-menu.js
  app/assets/javascripts/float-kit/app/components/d-headless-tooltip.js
  app/assets/javascripts/float-kit/app/components/d-inline-menu.js
  app/assets/javascripts/float-kit/app/components/d-inline-tooltip.js
  app/assets/javascripts/float-kit/app/components/d-menus.js
  app/assets/javascripts/float-kit/app/components/d-tooltips.js
  app/assets/stylesheets/common/float-kit/d-tooltip.scss
  plugins/chat/assets/javascripts/discourse/components/chat-message-reaction.gjs
  plugins/chat/test/javascripts/components/chat-channel-test.js
  plugins/discourse-local-dates/assets/javascripts/initializers/discourse-local-dates.js
  spec/system/user_tips_spec.rb
Labels: chat

#26926 FEATURE: Remove "Enable Sidebar" step from setup wizard
  config/locales/server.en.yml
  lib/wizard/builder.rb
  spec/lib/wizard/wizard_builder_spec.rb
Labels: i18n

#26938 FIX: ensures chat notifications links work with subfolder
  plugins/chat/assets/javascripts/discourse/initializers/chat-user-menu.js
  plugins/chat/spec/system/user_menu_notifications/sidebar_spec.rb
Labels: chat

#26876 UX: Merge the redesign experiment for embedded replies
  app/assets/javascripts/discourse/app/widgets/embedded-post.js
  app/assets/stylesheets/desktop/topic-post.scss
  app/assets/stylesheets/mobile/topic-post.scss
  config/locales/client.en.yml
Labels: i18n

#26944 UX: link to /latest in welcome topic template
  config/locales/server.en.yml
Labels: i18n

#26847 FIX: Use MaxMind supplied permalinks to download MaxMind databases
  app/services/problem_check/maxmind_db_configuration.rb
  config/discourse_defaults.conf
  config/locales/server.en.yml
  lib/discourse_ip_info.rb
  lib/discourse_ip_info_spec.rb
  lib/file_helper.rb
  spec/services/problem_check/maxmind_db_configuration_spec.rb
Labels: i18n

#26818 UX: expand threads list tap area on mobile
  plugins/chat/assets/javascripts/discourse/components/channel-title/index.gjs
  plugins/chat/assets/javascripts/discourse/components/thread-title/index.gjs
  plugins/chat/assets/javascripts/discourse/components/thread-unread-indicator/index.gjs
  plugins/chat/assets/javascripts/discourse/components/user-threads/index.gjs
  plugins/chat/assets/javascripts/discourse/components/user-threads/preview.gjs
  plugins/chat/assets/stylesheets/common/chat-user-threads.scss
  plugins/chat/assets/stylesheets/mobile/chat-user-threads.scss
Labels: chat

#26948 DEV: bots are always allowed to chat
  plugins/chat/lib/chat/guardian_extensions.rb
  plugins/chat/spec/lib/chat/guardian_extensions_spec.rb
  plugins/chat/spec/serializer/chat/direct_message_serializer_spec.rb
Labels: chat

#26969 FIX: add missing translations for staff action logs.
  app/controllers/admin/watched_words_controller.rb
  app/services/staff_action_logger.rb
  config/locales/client.en.yml
  spec/requests/admin/watched_words_controller_spec.rb
Labels: i18n

#26994 DEV: Use site setting mandatory_values for chat allowed groups
  plugins/chat/config/locales/server.en.yml
  plugins/chat/config/settings.yml
  plugins/chat/lib/chat/guardian_extensions.rb
  plugins/chat/spec/lib/chat/guardian_extensions_spec.rb
Labels: chat, i18n

#26955 Update server.en.yml
  config/locales/server.en.yml
Labels: i18n

#26883 FEATURE: add HTML replacements
  app/assets/javascripts/admin/addon/components/admin-watched-word.hbs
  app/assets/javascripts/admin/addon/components/admin-watched-word.js
  app/assets/javascripts/admin/addon/components/watched-word-form.hbs
  app/assets/javascripts/admin/addon/components/watched-word-form.js
  app/assets/javascripts/admin/addon/models/watched-word.js
  app/assets/javascripts/discourse-markdown-it/src/features/watched-words.js
  app/controllers/admin/watched_words_controller.rb
  app/models/watched_word.rb
  app/serializers/watched_word_serializer.rb
  app/services/word_watcher.rb
  config/locales/client.en.yml
  config/locales/server.en.yml
  db/migrate/20240506125839_add_html_to_watched_words.rb
Labels: i18n

#27009 UX: Use a different JIT message when there are no search results in the users directory
  app/assets/javascripts/discourse/app/templates/users.hbs
  app/assets/javascripts/discourse/tests/acceptance/users-test.js
  config/locales/client.en.yml
Labels: i18n

#27022 FIX: deep linking to a message in a thread
  plugins/chat/assets/javascripts/discourse/components/chat-thread.gjs
  plugins/chat/spec/system/bookmark_message_spec.rb
  plugins/chat/spec/system/page_objects/chat/chat_thread.rb
Labels: chat

#27026 FIX: Sidebar mode switching on subfolder
  app/assets/javascripts/discourse/app/components/sidebar/switch-panel-buttons.gjs
  plugins/chat/assets/javascripts/discourse/initializers/chat-sidebar.js
  plugins/chat/assets/javascripts/discourse/routes/chat.js
  plugins/chat/assets/javascripts/discourse/services/chat-state-manager.js
  plugins/chat/spec/system/separate_sidebar_mode_spec.rb
Labels: chat

#27047 DEV: Remove legacy styles for LazyYT
  plugins/chat/assets/stylesheets/common/chat-message-images.scss
Labels: chat

#27023 FIX: chat replies are not always in a thread
  plugins/chat/app/models/chat/message.rb
  plugins/chat/spec/requests/chat/api/messages_controller_spec.rb
  plugins/chat/spec/system/user_menu_notifications/sidebar_spec.rb
Labels: chat

#26868 FEATURE: Extend embeddable hosts with Individual tags and author assignments
  app/assets/javascripts/admin/addon/components/embeddable-host.hbs
  app/assets/javascripts/admin/addon/components/embeddable-host.js
  app/assets/javascripts/admin/addon/templates/embedding.hbs
  app/assets/stylesheets/common/admin/customize.scss
  app/controllers/admin/embeddable_hosts_controller.rb
  app/models/embeddable_host.rb
  app/models/embeddable_host_tag.rb
  app/models/tag.rb
  app/models/topic_embed.rb
  app/models/user.rb
  app/serializers/embeddable_host_serializer.rb
  config/locales/client.en.yml
  db/migrate/20240430051551_add_user_id_to_embeddable_hosts.rb
  db/migrate/20240430052017_create_embeddable_host_tags.rb
  spec/fabricators/embeddable_host_tag_fabricator.rb
  spec/models/embeddable_host_tag_spec.rb
  spec/models/topic_embed_spec.rb
  spec/requests/admin/embeddable_hosts_controller_spec.rb
  spec/system/admin_embeddable_hosts_spec.rb
Labels: i18n

#27052 DEV: update thread title prompt migration
  plugins/chat/db/migrate/20240409093348_add_show_thread_title_prompts_to_user_options.rb
  plugins/chat/db/post_migrate/20240516145911_update_user_options_for_thread_title_prompts.rb
Labels: chat

#26914 FIX: Add check for existing provider_uids to generic import
  script/bulk_import/generic_bulk.rb
Labels: migrations-tooling

#27063 FEATURE: Extend PM recipient bulk imports
  script/bulk_import/base.rb
  script/bulk_import/generic_bulk.rb
Labels: migrations-tooling

#27067 FIX: customize chat dropdown labels
  plugins/chat/assets/javascripts/discourse/controllers/preferences-chat.js
Labels: chat

#27057 DEV: Update bulk-invite logs and PM template
  app/jobs/regular/bulk_invite.rb
  config/locales/server.en.yml
  spec/jobs/bulk_invite_spec.rb
Labels: i18n

#27072 FIX: My Thread's last reply excerpt on mobile
  plugins/chat/assets/javascripts/discourse/components/user-threads/preview.gjs
  plugins/chat/spec/system/page_objects/chat/user_threads.rb
  plugins/chat/spec/system/user_threads_spec.rb
Labels: chat

#27082 FIX: ensures topic info is dynamic with scroll
  plugins/chat/assets/javascripts/discourse/lib/extract-current-topic-info.js
Labels: chat

#27089 FIX: improves chat audio notification reliability
  plugins/chat/assets/javascripts/discourse/controllers/preferences-chat.js
  plugins/chat/assets/javascripts/discourse/services/chat-audio-manager.js
Labels: chat

#26951 DEV: move post flags into database
  app/assets/javascripts/discourse/app/components/flag-action-type.js
  app/assets/javascripts/discourse/app/lib/transform-post.js
  app/models/flag.rb
  app/models/post_action_type.rb
  app/serializers/post_action_type_serializer.rb
  app/serializers/reviewable_score_type_serializer.rb
  app/serializers/site_serializer.rb
  app/serializers/topic_flag_type_serializer.rb
  config/locales/client.en.yml
  db/fixtures/003_flags.rb
  db/migrate/20181031165343_add_flag_stats_to_user.rb
  db/migrate/20240423054323_create_flags.rb
  lib/flag_settings.rb
  lib/guardian.rb
  lib/guardian/flag_guardian.rb
  plugins/chat/assets/javascripts/discourse/lib/chat-message-flag.js
  plugins/chat/spec/services/chat/flag_message_spec.rb
  plugins/discourse-narrative-bot/spec/discourse_narrative_bot/new_user_narrative_spec.rb
  spec/fabricators/flag_fabricator.rb
  spec/fabricators/flag_post_action_fabricator.rb
  spec/lib/composer_messages_finder_spec.rb
  spec/lib/guardian/flag_guardian_spec.rb
  spec/lib/post_revisor_spec.rb
  spec/models/flag_spec.rb
  spec/models/trust_level3_requirements_spec.rb
  spec/services/auto_silence_spec.rb
  spec/system/composer/dont_feed_the_trolls_popup_spec.rb
  spec/system/flagging_post_spec.rb
Labels: chat, i18n

#27102 Revert "DEV: move post flags into database"
  app/assets/javascripts/discourse/app/components/flag-action-type.js
  app/assets/javascripts/discourse/app/lib/transform-post.js
  app/models/flag.rb
  app/models/post_action_type.rb
  app/serializers/post_action_type_serializer.rb
  app/serializers/reviewable_score_type_serializer.rb
  app/serializers/site_serializer.rb
  app/serializers/topic_flag_type_serializer.rb
  config/locales/client.en.yml
  db/fixtures/003_flags.rb
  db/migrate/20181031165343_add_flag_stats_to_user.rb
  db/migrate/20240423054323_create_flags.rb
  lib/flag_settings.rb
  lib/guardian.rb
  lib/guardian/flag_guardian.rb
  plugins/chat/assets/javascripts/discourse/lib/chat-message-flag.js
  plugins/chat/spec/services/chat/flag_message_spec.rb
  plugins/discourse-narrative-bot/spec/discourse_narrative_bot/new_user_narrative_spec.rb
  spec/fabricators/flag_fabricator.rb
  spec/fabricators/flag_post_action_fabricator.rb
  spec/lib/composer_messages_finder_spec.rb
  spec/lib/guardian/flag_guardian_spec.rb
  spec/lib/post_revisor_spec.rb
  spec/models/flag_spec.rb
  spec/models/trust_level3_requirements_spec.rb
  spec/services/auto_silence_spec.rb
  spec/system/composer/dont_feed_the_trolls_popup_spec.rb
  spec/system/flagging_post_spec.rb
Labels: chat, i18n

#26743 DEV: Implement glimmer topic-list
  app/assets/javascripts/discourse/app/components/basic-topic-list.hbs
  app/assets/javascripts/discourse/app/components/categories-topic-list.hbs
  app/assets/javascripts/discourse/app/components/discovery/topics.hbs
  app/assets/javascripts/discourse/app/components/new-list-header-controls-wrapper.gjs
  app/assets/javascripts/discourse/app/components/parent-category-row.hbs
  app/assets/javascripts/discourse/app/components/topic-list.js
  app/assets/javascripts/discourse/app/components/topic-list/action-list.gjs
  app/assets/javascripts/discourse/app/components/topic-list/activity-column.gjs
  app/assets/javascripts/discourse/app/components/topic-list/featured-topic.gjs
  app/assets/javascripts/discourse/app/components/topic-list/latest-topic-list-item.gjs
  app/assets/javascripts/discourse/app/components/topic-list/list.gjs
  app/assets/javascripts/discourse/app/components/topic-list/new-list-header-controls.gjs
  app/assets/javascripts/discourse/app/components/topic-list/participant-groups.gjs
  app/assets/javascripts/discourse/app/components/topic-list/post-count-or-badges.gjs
  app/assets/javascripts/discourse/app/components/topic-list/posters-column.gjs
  app/assets/javascripts/discourse/app/components/topic-list/posts-count-column.gjs
  app/assets/javascripts/discourse/app/components/topic-list/topic-bulk-select-dropdown.gjs
  app/assets/javascripts/discourse/app/components/topic-list/topic-entrance.gjs
  app/assets/javascripts/discourse/app/components/topic-list/topic-excerpt.gjs
  app/assets/javascripts/discourse/app/components/topic-list/topic-link.gjs
  app/assets/javascripts/discourse/app/components/topic-list/topic-list-header-column.gjs
  app/assets/javascripts/discourse/app/components/topic-list/topic-list-header.gjs
  app/assets/javascripts/discourse/app/components/topic-list/topic-list-item.gjs
  app/assets/javascripts/discourse/app/components/topic-list/unread-indicator.gjs
  app/assets/stylesheets/common/topic-entrance.scss
  app/assets/stylesheets/desktop/category-list.scss
  app/serializers/current_user_serializer.rb
  config/locales/server.en.yml
  config/site_settings.yml
  plugins/styleguide/assets/javascripts/discourse/components/sections/molecules/topic-list-item.hbs
  spec/system/page_objects/components/category_list.rb
  spec/system/page_objects/pages/topic.rb
  spec/system/topic_list/glimmer_spec.rb
Labels: i18n

#27112 FIX: play audio sound on message in non group DMs
  plugins/chat/assets/javascripts/discourse/services/chat-audio-manager.js
  plugins/chat/assets/javascripts/discourse/services/chat-channel-notification-sound.js
  plugins/chat/assets/javascripts/discourse/services/chat-subscriptions-manager.js
  plugins/chat/test/javascripts/unit/services/chat-channel-notification-sound-test.js
Labels: chat

#27099 DEV: Fix flaky spec when creating a chat message from params
  plugins/chat/spec/system/chat_new_message_spec.rb
Labels: chat

#27127 FIX: correctly check for disabled notifications, tab and is idle
  app/assets/javascripts/discourse/app/lib/desktop-notifications.js
  plugins/chat/assets/javascripts/discourse/services/chat-channel-notification-sound.js
  plugins/chat/test/javascripts/unit/services/chat-channel-notification-sound-test.js
Labels: chat

#27035 FIX: send activity summaries based on "last seen"
  app/jobs/regular/user_email.rb
  app/jobs/scheduled/enqueue_digest_emails.rb
  app/mailers/user_notifications.rb
  app/models/user_option.rb
  app/views/user_notifications/digest.text.erb
  config/locales/server.en.yml
  spec/jobs/enqueue_digest_emails_spec.rb
  spec/jobs/user_email_spec.rb
Labels: i18n

#27131 UX: removes blinking indicator while streaming message
  plugins/chat/assets/stylesheets/common/chat-message-text.scss
Labels: chat

#26586 FEATURE: Allow to bulk delete chat messages
  plugins/chat/app/controllers/chat/api/channel_messages_controller.rb
  plugins/chat/app/services/chat/trash_message.rb
  plugins/chat/app/services/chat/trash_messages.rb
  plugins/chat/assets/javascripts/discourse/components/chat-channel.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-thread.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/modal/delete-messages-confirm.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/selection-manager.gjs
  plugins/chat/assets/javascripts/discourse/services/chat-api.js
  plugins/chat/config/locales/client.en.yml
  plugins/chat/config/routes.rb
  plugins/chat/spec/services/chat/trash_messages_spec.rb
  plugins/chat/spec/system/deleted_message_spec.rb
  plugins/chat/spec/system/page_objects/chat/components/selection_management.rb
Labels: chat, i18n

#27116 DEV: Update Discover URL
  config/locales/server.en.yml
Labels: i18n

#27134 FIX: chat activity indicator wasn't working for threads
  plugins/chat/app/models/chat/user_chat_channel_membership.rb
  plugins/chat/assets/javascripts/discourse/components/chat/header/icon/unread-indicator.gjs
  plugins/chat/spec/system/message_notifications_with_sidebar_spec.rb
  plugins/chat/spec/system/message_thread_indicator_spec.rb
Labels: chat

#26974 UX: Group membership PMs thread
  app/controllers/groups_controller.rb
  config/locales/server.en.yml
  spec/requests/groups_controller_spec.rb
Labels: i18n

#26856 FEATURE: Add bulk action to bookmark
  app/assets/javascripts/discourse/app/components/bookmark-list.hbs
  app/assets/javascripts/discourse/app/components/bookmark-list.js
  app/assets/javascripts/discourse/app/controllers/user-activity-bookmarks.js
  app/assets/javascripts/discourse/app/lib/bulk-select-helper.js
  app/assets/javascripts/discourse/app/models/bookmark.js
  app/assets/javascripts/discourse/app/templates/user/bookmarks.hbs
  app/assets/javascripts/discourse/tests/acceptance/user-bookmark-bulk-actions-test.js
  app/assets/javascripts/select-kit/addon/components/bulk-select-bookmarks-dropdown.js
  app/assets/stylesheets/common/base/_bookmark-list.scss
  app/assets/stylesheets/common/base/_index.scss
  app/controllers/bookmarks_controller.rb
  config/locales/client.en.yml
  config/routes.rb
  lib/bookmark_reminder_notification_handler.rb
  lib/bookmarks_bulk_action.rb
  spec/lib/bookmarks_bulk_action_spec.rb
  spec/requests/bookmarks_controller_spec.rb
Labels: i18n

#27115 FIX: correctly handles near-message-with-thread route in drawer
  plugins/chat/assets/javascripts/discourse/routes/chat.js
  plugins/chat/assets/javascripts/discourse/services/chat-drawer-router.js
  plugins/chat/spec/system/single_thread_spec.rb
Labels: chat

#27141 FIX: set active thread on correct channel
  plugins/chat/assets/javascripts/discourse/routes/chat-channel-thread.js
Labels: chat

#26192 DEV: Database backed admin notices
  app/controllers/admin/dashboard_controller.rb
  app/controllers/static_controller.rb
  app/jobs/regular/run_problem_check.rb
  app/jobs/scheduled/poll_mailbox.rb
  app/models/admin_dashboard_data.rb
  app/models/admin_notice.rb
  app/models/problem_check.rb
  app/models/problem_check_tracker.rb
  app/serializers/admin_notice_serializer.rb
  app/services/problem_check/bad_favicon_url.rb
  app/services/problem_check/email_polling_errored_recently.rb
  app/services/problem_check/facebook_config.rb
  app/services/problem_check/failing_emails.rb
  app/services/problem_check/force_https.rb
  app/services/problem_check/github_config.rb
  app/services/problem_check/google_analytics_version.rb
  app/services/problem_check/google_oauth2_config.rb
  app/services/problem_check/group_email_credentials.rb
  app/services/problem_check/host_names.rb
  app/services/problem_check/image_magick.rb
  app/services/problem_check/inline_problem_check.rb
  app/services/problem_check/maxmind_db_configuration.rb
  app/services/problem_check/missing_mailgun_api_key.rb
  app/services/problem_check/out_of_date_themes.rb
  app/services/problem_check/poll_pop3_auth_error.rb
  app/services/problem_check/poll_pop3_timeout.rb
  app/services/problem_check/problem.rb
  app/services/problem_check/rails_env.rb
  app/services/problem_check/ram.rb
  app/services/problem_check/s3_backup_config.rb
  app/services/problem_check/s3_cdn.rb
  app/services/problem_check/s3_upload_config.rb
  app/services/problem_check/sidekiq_check.rb
  app/services/problem_check/subfolder_ends_in_slash.rb
  app/services/problem_check/translation_overrides.rb
  app/services/problem_check/twitter_config.rb
  app/services/problem_check/twitter_login.rb
  app/services/problem_check/unreachable_themes.rb
  app/services/problem_check/watched_words.rb
  config/locales/server.en.yml
  db/migrate/20240311015942_create_admin_notices.rb
  db/migrate/20240401054228_add_details_to_problem_check_trackers.rb
  db/migrate/20240517014119_add_target_to_problem_check_trackers.rb
  db/migrate/20240517051933_disambiguate_problem_check_tracker_uniqueness.rb
  spec/fabricators/admin_notice_fabricator.rb
  spec/jobs/poll_mailbox_spec.rb
  spec/jobs/run_problem_check_spec.rb
  spec/models/admin_dashboard_data_spec.rb
  spec/models/admin_notice_spec.rb
  spec/models/problem_check_tracker_spec.rb
  spec/requests/admin/dashboard_controller_spec.rb
  spec/requests/static_controller_spec.rb
  spec/services/problem_check/group_email_credentials_spec.rb
  spec/services/problem_check/maxmind_db_configuration_spec.rb
  spec/services/problem_check_spec.rb
Labels: i18n

#27124 UX: Disable plugin list settings button for some plugins
  app/assets/javascripts/admin/addon/components/admin-plugins-list-item.gjs
  app/assets/javascripts/admin/addon/models/admin-plugin.js
  app/assets/javascripts/discourse/tests/integration/components/admin-plugins-list-item-test.js
  app/serializers/admin_plugin_serializer.rb
  config/locales/client.en.yml
  spec/serializers/admin_plugin_serializer_spec.rb
Labels: i18n

#27125 DEV: move post flags into database
  app/assets/javascripts/discourse/app/components/flag-action-type.js
  app/assets/javascripts/discourse/app/lib/transform-post.js
  app/models/flag.rb
  app/models/post_action_type.rb
  app/serializers/post_action_type_serializer.rb
  app/serializers/reviewable_score_type_serializer.rb
  app/serializers/site_serializer.rb
  app/serializers/topic_flag_type_serializer.rb
  config/locales/client.en.yml
  db/fixtures/003_flags.rb
  db/migrate/20181031165343_add_flag_stats_to_user.rb
  db/migrate/20240423054323_create_flags.rb
  lib/flag_settings.rb
  lib/guardian.rb
  lib/guardian/flag_guardian.rb
  lib/plugin/instance.rb
  plugins/chat/assets/javascripts/discourse/lib/chat-message-flag.js
  plugins/chat/spec/services/chat/flag_message_spec.rb
  plugins/discourse-narrative-bot/spec/discourse_narrative_bot/new_user_narrative_spec.rb
  spec/fabricators/flag_fabricator.rb
  spec/fabricators/flag_post_action_fabricator.rb
  spec/lib/composer_messages_finder_spec.rb
  spec/lib/guardian/flag_guardian_spec.rb
  spec/lib/plugin/instance_spec.rb
  spec/lib/post_revisor_spec.rb
  spec/models/flag_spec.rb
  spec/models/trust_level3_requirements_spec.rb
  spec/services/auto_silence_spec.rb
  spec/system/composer/dont_feed_the_trolls_popup_spec.rb
  spec/system/flagging_post_spec.rb
Labels: chat, i18n

#27151 FIX: correct in_thread? message logic
  plugins/chat/app/models/chat/message.rb
  plugins/chat/spec/models/chat/message_spec.rb
Labels: chat

#27079 FEATURE: Allow adding required fields for existing users - Part 1
  app/assets/javascripts/admin/addon/components/admin-user-field-item.hbs
  app/assets/javascripts/admin/addon/components/admin-user-field-item.js
  app/assets/stylesheets/common/admin/customize.scss
  app/controllers/admin/user_fields_controller.rb
  app/models/user_field.rb
  app/serializers/user_field_serializer.rb
  config/locales/client.en.yml
  db/migrate/20240520060901_add_requirement_to_user_fields.rb
  spec/fabricators/user_field_fabricator.rb
  spec/models/user_field_spec.rb
  spec/requests/admin/user_fields_controller_spec.rb
  spec/requests/users_controller_spec.rb
  spec/system/admin_user_fields_spec.rb
  spec/system/page_objects/modals/signup.rb
  spec/system/page_objects/pages/admin_user_fields.rb
  spec/system/signup_spec.rb
Labels: i18n

#27088 FEATURE: add agree and edit
  app/assets/javascripts/discourse/app/components/reviewable-item.js
  app/models/reviewable_flagged_post.rb
  config/locales/server.en.yml
  spec/models/reviewable_flagged_post_spec.rb
  spec/system/reviewables_spec.rb
Labels: i18n

#26998 FIX: load existing dm channel via url
  plugins/chat/app/models/chat/direct_message.rb
  plugins/chat/app/services/chat/create_direct_message_channel.rb
  plugins/chat/assets/javascripts/discourse/components/chat/message-creator/new-group.gjs
  plugins/chat/assets/javascripts/discourse/services/chat.js
  plugins/chat/spec/requests/chat/api/direct_messages_controller_spec.rb
  plugins/chat/spec/system/chat_new_message_spec.rb
Labels: chat

#27158 UX: reduces idle time to 0 on chat
  app/assets/javascripts/discourse/app/lib/desktop-notifications.js
  plugins/chat/assets/javascripts/discourse/initializers/chat-audio.js
  plugins/chat/assets/javascripts/discourse/services/chat-audio-manager.js
  plugins/chat/assets/javascripts/discourse/services/chat-channel-notification-sound.js
  plugins/chat/assets/javascripts/discourse/services/chat-subscriptions-manager.js
  plugins/chat/test/javascripts/unit/services/chat-channel-notification-sound-test.js
Labels: chat

#27114 DEV: Add support for various fields in generic bulk importer
  script/bulk_import/base.rb
  script/bulk_import/generic_bulk.rb
Labels: migrations-tooling

#26258 DEV: Catch missing translations during test runs
  app/models/user_email.rb
  config/environments/test.rb
  config/locales/server.en.yml
  db/migrate/20150728210202_migrate_old_moderator_posts.rb
  lib/archetype.rb
  lib/freedom_patches/translate_accelerator.rb
  plugins/automation/spec/requests/admin_discourse_automation_automations_spec.rb
  plugins/automation/spec/serializers/automation_serializer_spec.rb
  plugins/automation/spec/system/smoke_test_spec.rb
  plugins/automation/spec/triggers/stalled_wiki_spec.rb
  plugins/discourse-narrative-bot/spec/discourse_narrative_bot/track_selector_spec.rb
  spec/jobs/check_translation_overrides_spec.rb
  spec/jobs/regular/bulk_user_title_update_spec.rb
  spec/lib/archetype_spec.rb
  spec/lib/freedom_patches/translate_accelerator_spec.rb
  spec/lib/js_locale_helper_spec.rb
  spec/lib/plugin/instance_spec.rb
  spec/lib/site_setting_extension_spec.rb
  spec/models/incoming_links_report_spec.rb
  spec/models/translation_override_spec.rb
  spec/models/user_spec.rb
  spec/rails_helper.rb
  spec/requests/admin/site_texts_controller_spec.rb
  spec/requests/extra_locales_controller_spec.rb
  spec/requests/users_controller_spec.rb
  spec/script/import_scripts/base_spec.rb
  spec/services/badge_granter_spec.rb
  spec/services/problem_check/translation_overrides_spec.rb
  spec/support/i18n_helpers.rb
Labels: i18n

#27176 UX: also plays notification sounds in group channels
  plugins/chat/assets/javascripts/discourse/services/chat-channel-notification-sound.js
  plugins/chat/test/javascripts/unit/services/chat-channel-notification-sound-test.js
Labels: chat

#27180 FIX: missing appEvents param for onNotification
  plugins/chat/assets/javascripts/discourse/services/chat-notification-manager.js
Labels: chat

#27197 FEATURE: topic_view_stats table with daily fidelity
  app/controllers/topic_view_stats_controller.rb
  app/models/topic.rb
  app/models/topic_view_item.rb
  app/models/topic_view_stat.rb
  config/locales/server.en.yml
  config/routes.rb
  db/migrate/20240527015009_add_topic_view_stats.rb
  spec/models/topic_view_item_spec.rb
  spec/requests/topic_view_stats_controller_spec.rb
Labels: i18n

#25311 DEV: Add reviewable id data attribute and plugin outlet for reviewabl…
  app/assets/javascripts/discourse/app/templates/topic.hbs
Labels: Stale

#24368 DEV: Refactor to add Custom emoji sanitization
  app/controllers/admin/emojis_controller.rb
  app/models/emoji.rb
  lib/plugin/instance.rb
Labels: Stale

#27208 UX: add text-overflow for channel members list
  plugins/chat/assets/stylesheets/common/chat-channel-members.scss
Labels: chat

#27200 DEV: remove obsolete needs_review score type
  plugins/chat/plugin.rb
Labels: chat

#27171 FEATURE: admin can disable flags
  app/assets/javascripts/admin/addon/components/admin-flag-item.gjs
  app/assets/javascripts/admin/addon/components/admin-flags.gjs
  app/assets/javascripts/admin/addon/routes/admin-route-map.js
  app/assets/javascripts/admin/addon/templates/config-flags-index.hbs
  app/assets/javascripts/admin/addon/templates/flags-index.hbs ./config
  app/assets/javascripts/discourse/app/components/modal/flag.js
  app/assets/javascripts/discourse/app/lib/sidebar/admin-nav-map.js
  app/assets/javascripts/discourse/tests/fixtures/site-fixtures.js
  app/assets/stylesheets/common/admin/admin_base.scss
  app/assets/stylesheets/common/admin/flags.scss
  app/controllers/admin/admin_controller.rb
  app/controllers/admin/config/flags_controller.rb
  app/controllers/admin/staff_controller.rb
  app/models/flag.rb
  app/models/post_action_type.rb
  app/models/reviewable_score.rb
  app/serializers/post_action_type_serializer.rb
  app/serializers/toggle_flag.rb
  config/locales/client.en.yml
  config/routes.rb
  db/fixtures/003_flags.rb
  db/migrate/20240527055057_add_score_type_to_flags.rb
  lib/guardian/flag_guardian.rb
  lib/guardian/post_guardian.rb
  spec/lib/guardian/flag_guardian_spec.rb
  spec/lib/guardian_spec.rb
  spec/requests/api/schemas/json/site_response.json
  spec/services/toggle_flag_spec.rb
  spec/system/admin_flags_spec.rb
  spec/system/page_objects/pages/admin_flags.rb
  spec/system/page_objects/pages/topic.rb
Labels: i18n

#27244 UX: Chat footer unread indicator
  plugins/chat/assets/javascripts/discourse/components/chat-footer.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/footer/unread-indicator.gjs
  plugins/chat/assets/stylesheets/common/base-common.scss
  plugins/chat/assets/stylesheets/common/chat-footer.scss
  plugins/chat/assets/stylesheets/mobile/chat-footer.scss
  plugins/chat/spec/system/chat_footer_spec.rb
Labels: chat

#27229 DEV: Convert choose-topic to glimmer
  app/assets/javascripts/discourse/app/components/choose-topic.hbs
  app/assets/javascripts/discourse/app/components/choose-topic.js
  app/assets/javascripts/discourse/app/components/modal/feature-topic-on-profile.hbs
  app/assets/javascripts/discourse/app/components/modal/move-to-topic.hbs
  app/assets/javascripts/discourse/app/components/modal/move-to-topic.js
  plugins/chat/assets/javascripts/discourse/components/chat-to-topic-selector.hbs
  plugins/chat/assets/javascripts/discourse/components/chat/modal/archive-channel.gjs
Labels: chat

#27248 DEV: Prevent possible Ember rendering error on Chat::DeleteChannel modal
  plugins/chat/assets/javascripts/discourse/components/chat/modal/delete-channel.gjs
Labels: chat

#27246 Removed EXPERIMENTAL from new admin sidebar setting desc
  config/locales/server.en.yml
Labels: i18n

#27258 UX: Show shortcut for admin sidebar filter
  app/assets/javascripts/discourse/app/components/sidebar/filter.gjs
  app/assets/stylesheets/common/base/sidebar.scss
  config/locales/client.en.yml
Labels: i18n

#27259 FIX: allows listing messages of any thread
  plugins/chat/app/controllers/chat/api/channel_thread_messages_controller.rb
  plugins/chat/app/services/chat/list_channel_thread_messages.rb
  plugins/chat/lib/chat_sdk/thread.rb
  plugins/chat/spec/requests/chat/api/channel_thread_messages_controller_spec.rb
  plugins/chat/spec/services/chat/list_channel_thread_messages_spec.rb
Labels: chat

#27285 Update server.en.yml
  config/locales/server.en.yml
Labels: i18n

#27286 Update server.en.yml
  config/locales/server.en.yml
Labels: i18n
