Repository discourse/discourse, pull requests merged in 2024-10, with the labels that each got.

#29042 DEV: Fix optionalService in decorator form
  app/assets/javascripts/discourse/app/components/reviewable-item.js
  app/assets/javascripts/discourse/app/components/topic-timeline.js
  app/assets/javascripts/discourse/app/controllers/user.js
  app/assets/javascripts/discourse/app/lib/optional-service.js
  app/assets/javascripts/discourse/tests/unit/utils/optional-service-test.js
  plugins/chat/assets/javascripts/discourse/components/chat-message.gjs
Labels: chat

#28477 DEV: Add a skeleton for section landing page & items
  app/assets/javascripts/admin/addon/components/admin-section-landing-item.gjs
  app/assets/javascripts/admin/addon/components/admin-section-landing-wrapper.gjs
  app/assets/javascripts/admin/addon/routes/admin-route-map.js
  app/assets/javascripts/admin/addon/templates/section-account.hbs
  app/assets/stylesheets/common/admin/admin_base.scss
  app/assets/stylesheets/common/admin/admin_section_landing_page.scss
  app/controllers/admin/section_controller.rb
  config/locales/client.en.yml
  config/routes.rb
Labels: i18n

#29043 DEV: Have `contract` take a block in services
  app/services/flags/create_flag.rb
  app/services/flags/reorder_flag.rb
  app/services/flags/toggle_flag.rb
  app/services/flags/update_flag.rb
  app/services/update_site_setting.rb
  app/services/user/silence.rb
  app/services/user/suspend.rb
  lib/service.rb
  lib/service/base.rb
  lib/service/contract_base.rb
  plugins/chat/app/services/chat/add_users_to_channel.rb
  plugins/chat/app/services/chat/auto_join_channel_batch.rb
  plugins/chat/app/services/chat/auto_remove/handle_category_updated.rb
  plugins/chat/app/services/chat/auto_remove/handle_destroyed_group.rb
  plugins/chat/app/services/chat/auto_remove/handle_user_removed_from_group.rb
  plugins/chat/app/services/chat/create_category_channel.rb
  plugins/chat/app/services/chat/create_direct_message_channel.rb
  plugins/chat/app/services/chat/create_message.rb
  plugins/chat/app/services/chat/create_thread.rb
  plugins/chat/app/services/chat/flag_message.rb
  plugins/chat/app/services/chat/invite_users_to_channel.rb
  plugins/chat/app/services/chat/leave_channel.rb
  plugins/chat/app/services/chat/list_channel_messages.rb
  plugins/chat/app/services/chat/list_channel_thread_messages.rb
  plugins/chat/app/services/chat/lookup_channel_threads.rb
  plugins/chat/app/services/chat/lookup_thread.rb
  plugins/chat/app/services/chat/lookup_user_threads.rb
  plugins/chat/app/services/chat/mark_thread_title_prompt_seen.rb
  plugins/chat/app/services/chat/restore_message.rb
  plugins/chat/app/services/chat/search_chatable.rb
  plugins/chat/app/services/chat/stop_message_streaming.rb
  plugins/chat/app/services/chat/tracking_state.rb
  plugins/chat/app/services/chat/trash_message.rb
  plugins/chat/app/services/chat/trash_messages.rb
  plugins/chat/app/services/chat/unfollow_channel.rb
  plugins/chat/app/services/chat/update_channel.rb
  plugins/chat/app/services/chat/update_channel_status.rb
  plugins/chat/app/services/chat/update_message.rb
  plugins/chat/app/services/chat/update_thread.rb
  plugins/chat/app/services/chat/update_thread_notification_settings.rb
  plugins/chat/app/services/chat/update_user_channel_last_read.rb
  plugins/chat/app/services/chat/update_user_thread_last_read.rb
  plugins/chat/app/services/chat/upsert_draft.rb
  spec/lib/service/runner_spec.rb
  spec/lib/steps_inspector_spec.rb
Labels: chat

#28864 FIX: Import script didn't set `public` attribute of polls
  script/bulk_import/generic_bulk.rb
Labels: migrations-tooling

#29056 UX: change twitter share link to X
  app/assets/javascripts/discourse/app/instance-initializers/sharing-sources.js
  config/locales/client.en.yml
Labels: i18n

#29054 DEV: Make params explicit for services in controllers
  app/controllers/admin/admin_notices_controller.rb
  app/controllers/admin/config/flags_controller.rb
  app/controllers/admin/site_settings_controller.rb
  app/controllers/admin/users_controller.rb
  app/controllers/application_controller.rb
  lib/service/runner.rb
  plugins/chat/app/controllers/chat/api/channel_messages_controller.rb
  plugins/chat/app/controllers/chat/api/channel_thread_messages_controller.rb
  plugins/chat/app/controllers/chat/api/channel_threads_controller.rb
  plugins/chat/app/controllers/chat/api/channel_threads_current_user_notifications_settings_controller.rb
  plugins/chat/app/controllers/chat/api/channel_threads_current_user_title_prompt_seen_controller.rb
  plugins/chat/app/controllers/chat/api/channels_controller.rb
  plugins/chat/app/controllers/chat/api/channels_current_user_membership_controller.rb
  plugins/chat/app/controllers/chat/api/channels_current_user_membership_follows_controller.rb
  plugins/chat/app/controllers/chat/api/channels_drafts_controller.rb
  plugins/chat/app/controllers/chat/api/channels_invites_controller.rb
  plugins/chat/app/controllers/chat/api/channels_memberships_controller.rb
  plugins/chat/app/controllers/chat/api/channels_messages_flags_controller.rb
  plugins/chat/app/controllers/chat/api/channels_messages_streaming_controller.rb
  plugins/chat/app/controllers/chat/api/channels_read_controller.rb
  plugins/chat/app/controllers/chat/api/channels_status_controller.rb
  plugins/chat/app/controllers/chat/api/channels_threads_drafts_controller.rb
  plugins/chat/app/controllers/chat/api/channels_threads_read_controller.rb
  plugins/chat/app/controllers/chat/api/chatables_controller.rb
  plugins/chat/app/controllers/chat/api/current_user_channels_controller.rb
  plugins/chat/app/controllers/chat/api/current_user_threads_controller.rb
  plugins/chat/app/controllers/chat/api/direct_messages_controller.rb
  plugins/chat/app/controllers/chat/incoming_webhooks_controller.rb
Labels: chat

#28943 DEV: cleanup chat desktop notification data
  plugins/chat/app/jobs/regular/chat/notify_mentioned.rb
  plugins/chat/app/jobs/regular/chat/notify_watching.rb
  plugins/chat/assets/javascripts/discourse/initializers/chat-audio.js
  plugins/chat/assets/javascripts/discourse/services/chat-notification-manager.js
  plugins/chat/spec/jobs/regular/chat/notify_mentioned_spec.rb
  plugins/chat/spec/system/user_menu_notifications/sidebar_spec.rb
  plugins/chat/test/javascripts/unit/lib/chat-audio-test.js
Labels: chat

#29082 UX: chat index mini refactor
  plugins/chat/assets/stylesheets/common/index.scss
  plugins/chat/assets/stylesheets/desktop/chat-side-panel.scss
  plugins/chat/assets/stylesheets/desktop/index.scss
  plugins/chat/assets/stylesheets/mobile/chat-footer.scss
  plugins/chat/assets/stylesheets/mobile/chat-index.scss
  plugins/chat/assets/stylesheets/mobile/chat-side-panel.scss
  plugins/chat/assets/stylesheets/mobile/index.scss
Labels: chat

#29086 UX: Improve bottom padding to chat index on mobile
  plugins/chat/assets/stylesheets/common/chat-index.scss
  plugins/chat/assets/stylesheets/mobile/chat-index.scss
Labels: chat

#29096 UX: add padding bottom to chat index list
  plugins/chat/assets/stylesheets/common/chat-index.scss
Labels: chat

#29104 DEV: Fix flaky chat system tests
  plugins/chat/spec/system/page_objects/chat/chat_thread.rb
Labels: chat

#29039 FIX: flaky flags system spec
  app/assets/javascripts/admin/addon/components/admin-flag-item.gjs
  app/models/post_action_type.rb
  spec/system/admin_flags_spec.rb
  spec/system/page_objects/pages/admin_flag_form.rb
  spec/system/page_objects/pages/admin_flags.rb
Labels: staff-experience

#29040 UX: Automatically collapse admin page header buttons on mobile
  app/assets/javascripts/admin/addon/components/admin-backups-actions.gjs
  app/assets/javascripts/admin/addon/components/admin-page-action-button.gjs
  app/assets/javascripts/admin/addon/components/admin-page-header.gjs
  app/assets/javascripts/admin/addon/components/admin-page-subheader.gjs
  app/assets/javascripts/admin/addon/components/admin-plugin-config-page.gjs
  app/assets/javascripts/admin/addon/models/admin-plugin.js
  app/assets/javascripts/admin/addon/templates/backups-index.hbs
  app/assets/javascripts/discourse/app/components/uppy-backup-uploader.hbs
  app/assets/javascripts/discourse/app/lib/admin-plugin-header-actions.js
  app/assets/javascripts/discourse/app/lib/plugin-api.gjs
  app/assets/javascripts/discourse/tests/helpers/qunit-helpers.js
  app/assets/javascripts/discourse/tests/integration/components/admin-page-header-test.gjs
  app/assets/javascripts/discourse/tests/integration/components/admin-page-subheader-test.gjs
  app/assets/stylesheets/common/admin/admin_page_header.scss
  app/assets/stylesheets/common/admin/badges.scss
  plugins/chat/admin/assets/javascripts/admin/components/chat-admin-plugin-actions.gjs
  plugins/chat/admin/assets/javascripts/discourse/templates/admin-plugins/show/discourse-chat-incoming-webhooks/index.hbs
  plugins/chat/assets/javascripts/discourse/initializers/chat-admin-plugin-configuration-nav.js
Labels: chat

#29080 DEV: consolidate chat channel notification settings
  plugins/chat/app/controllers/chat/api/channels_current_user_notifications_settings_controller.rb
  plugins/chat/app/jobs/regular/chat/notify_mentioned.rb
  plugins/chat/app/jobs/regular/chat/notify_watching.rb
  plugins/chat/app/models/chat/user_chat_channel_membership.rb
  plugins/chat/app/serializers/chat/base_channel_membership_serializer.rb
  plugins/chat/app/services/chat/add_users_to_channel.rb
  plugins/chat/app/services/chat/create_direct_message_channel.rb
  plugins/chat/assets/javascripts/discourse/components/chat/routes/channel-info-settings.gjs
  plugins/chat/assets/javascripts/discourse/models/user-chat-channel-membership.js
  plugins/chat/assets/javascripts/discourse/services/chat-api.js
  plugins/chat/config/locales/client.en.yml
  plugins/chat/db/migrate/20241003122030_add_notification_level_to_user_chat_channel_memberships.rb
  plugins/chat/spec/fabricators/chat_fabricator.rb
  plugins/chat/spec/jobs/regular/chat/notify_mentioned_spec.rb
  plugins/chat/spec/jobs/regular/chat/notify_watching_spec.rb
  plugins/chat/spec/lib/chat/channel_fetcher_spec.rb
  plugins/chat/spec/requests/chat/api/channels_current_user_notifications_settings_controller_spec.rb
  plugins/chat/spec/serializer/chat/structured_channel_serializer_spec.rb
  plugins/chat/spec/services/chat/create_direct_message_channel_spec.rb
  plugins/chat/spec/services/chat/message_destroyer_spec.rb
  plugins/chat/spec/support/api/schemas/category_chat_channel.json
  plugins/chat/spec/support/api/schemas/user_chat_channel_membership.json
  plugins/chat/spec/system/channel_settings_page_spec.rb
Labels: chat, i18n

#29119 UX: new sidebar styling
  app/assets/stylesheets/common/base/sidebar-section-link.scss
  app/assets/stylesheets/common/base/sidebar-section.scss
  app/assets/stylesheets/common/base/sidebar.scss
  plugins/chat/assets/stylesheets/common/chat-user-threads.scss
  plugins/chat/spec/system/sidebar_navigation_menu_spec.rb
Labels: chat

#28697 DEV: Generic bulk chat import support
  script/bulk_import/base.rb
  script/bulk_import/generic_bulk.rb
Labels: migrations-tooling

#29083 FIX: adds post_quote as placeholder
  plugins/automation/lib/discourse_automation/scriptable.rb
  plugins/automation/spec/lib/scriptable_spec.rb
  plugins/chat/plugin.rb
  plugins/chat/spec/plugin_spec.rb
Labels: chat

#29126 UX: fix overflow on thread index pages (mobile)
  plugins/chat/assets/stylesheets/mobile/chat-index.scss
Labels: chat

#29117 DEV: Call Discourse.redis.flushdb after the end of each test
  lib/redis_snapshot.rb
  plugins/chat/spec/jobs/regular/chat/process_message_spec.rb
  plugins/chat/spec/requests/chat/incoming_webhooks_controller_spec.rb
  spec/helpers/redis_snapshot_helper.rb
  spec/integration/rate_limiting_spec.rb
  spec/jobs/jobs_base_spec.rb
  spec/jobs/update_topic_hot_scores_spec.rb
  spec/lib/auth/default_current_user_provider_spec.rb
  spec/lib/middleware/anonymous_cache_spec.rb
  spec/lib/middleware/request_tracker_spec.rb
  spec/lib/mini_scheduler_long_running_job_logger_spec.rb
  spec/lib/post_action_creator_spec.rb
  spec/lib/post_revisor_spec.rb
  spec/lib/site_settings/deprecated_settings_spec.rb
  spec/lib/topic_query_spec.rb
  spec/models/about_spec.rb
  spec/models/global_setting_spec.rb
  spec/models/invite_spec.rb
  spec/models/post_action_spec.rb
  spec/models/topic_spec.rb
  spec/multisite/flags_spec.rb
  spec/multisite/request_tracker_spec.rb
  spec/rails_helper.rb
  spec/requests/admin/backups_controller_spec.rb
  spec/requests/api/rate_limits_spec.rb
  spec/requests/application_controller_spec.rb
  spec/requests/bookmarks_controller_spec.rb
  spec/requests/groups_controller_spec.rb
  spec/requests/invites_controller_spec.rb
  spec/requests/omniauth_callbacks_controller_spec.rb
  spec/requests/presence_controller_spec.rb
  spec/requests/search_controller_spec.rb
  spec/requests/session_controller_spec.rb
  spec/requests/slugs_controller_spec.rb
  spec/requests/topics_controller_spec.rb
  spec/requests/uploads_controller_spec.rb
  spec/requests/users_controller_spec.rb
  spec/serializers/topic_view_serializer_spec.rb
Labels: chat

#29122 FEATURE: add `trigger_with_pms` option to `topic tags changed` automation trigger
  plugins/automation/config/locales/client.en.yml
  plugins/automation/lib/discourse_automation/event_handlers.rb
  plugins/automation/lib/discourse_automation/triggers/topic_tags_changed.rb
  plugins/automation/spec/triggers/topic_tags_changed_spec.rb
Labels: i18n

#29144 FIX: Don't override other sidebar panels when opening/closing the chat drawer
  plugins/chat/assets/javascripts/discourse/lib/init-sidebar-state.js
  plugins/chat/assets/javascripts/discourse/services/chat-state-manager.js
Labels: chat

#28746 DEV: Migrate user passwords data to UserPassword table
  app/models/user.rb
  app/models/user_password.rb
  app/services/user_password_expirer.rb
  config/locales/server.en.yml
  db/migrate/20240903024211_add_trigger_to_users_to_sync_user_passwords.rb
  db/migrate/20240903024311_backfill_user_passwords_from_users.rb
  db/post_migrate/20240910090759_make_password_columns_from_users_read_only.rb
  lib/validators/password_validator.rb
  lib/validators/user_password_validator.rb
  spec/fabricators/user_password_fabricator.rb
  spec/lib/validators/password_validator_spec.rb
  spec/lib/validators/user_password_validator_spec.rb
  spec/models/invite_redeemer_spec.rb
  spec/models/user_password_spec.rb
  spec/models/user_spec.rb
  spec/requests/session_controller_spec.rb
  spec/services/user_password_expirer_spec.rb
  spec/system/login_spec.rb
Labels: i18n

#29150 UX: fix missing text overflow ellipsis in chat index pages
  plugins/chat/assets/stylesheets/common/chat-channel-name.scss
Labels: chat

#29157 UX: chat index flex issues
  plugins/chat/assets/javascripts/discourse/components/channel-name/index.gjs
  plugins/chat/assets/stylesheets/common/chat-channel-name.scss
Labels: chat

#29162 FIX: Imports of upload-only chat messages
  script/bulk_import/base.rb
  script/bulk_import/generic_bulk.rb
Labels: migrations-tooling

#28961 DEV: Set bigint sequences to start at MAX_INT
  plugins/automation/db/migrate/20241010155139_alter_automation_ids_to_bigint.rb
  plugins/chat/lib/chat/message_mover.rb
  plugins/chat/spec/plugin_helper.rb
  spec/rails_helper.rb
Labels: chat

#29139 FIX: Plugin JS failing to load would break admin interface
  app/assets/javascripts/admin/addon/controllers/admin-plugins-index.js
  app/assets/javascripts/admin/addon/controllers/admin-plugins.js
  app/assets/javascripts/discourse/app/lib/admin-utilities.js
  app/assets/javascripts/discourse/app/lib/sidebar/admin-sidebar.js
  app/controllers/application_controller.rb
  app/serializers/admin_plugin_serializer.rb
  lib/plugin/instance.rb
  plugins/chat/spec/requests/application_controller_spec.rb
  spec/serializers/admin_plugin_serializer_spec.rb
Labels: chat

#29170 FEATURE: enable threading in chat DM channels
  plugins/chat/app/controllers/chat/api/channels_controller.rb
  plugins/chat/app/models/chat/direct_message_channel.rb
  plugins/chat/assets/javascripts/discourse/components/chat/routes/channel-info-settings.gjs
  plugins/chat/lib/chat/guardian_extensions.rb
  plugins/chat/spec/fabricators/chat_fabricator.rb
  plugins/chat/spec/lib/chat/guardian_extensions_spec.rb
  plugins/chat/spec/models/chat/direct_message_channel_spec.rb
  plugins/chat/spec/system/channel_settings_page_spec.rb
Labels: chat

#29174 Add link to meta to forwarded emails behaviour desc
  config/locales/server.en.yml
Labels: i18n

#29186 UX: change thread button in chat nav to use btn-transparent
  plugins/chat/assets/javascripts/discourse/components/chat/navbar/threads-list-button.gjs
Labels: chat

#29192 FIX: trashed channel thread view bug
  plugins/chat/lib/chat/guardian_extensions.rb
  plugins/chat/spec/requests/chat/api/channel_threads_controller_spec.rb
Labels: chat

#29191 DEV: Improve error messages for legacy theme helpers in gjs
  app/assets/javascripts/discourse/app/helpers/theme-i18n.js
  app/assets/javascripts/discourse/app/helpers/theme-setting.js
Labels: i18n

#29202 UX: Bump up chat delete messages limit
  plugins/chat/app/services/chat/trash_messages.rb
  plugins/chat/assets/javascripts/discourse/components/chat/selection-manager.gjs
Labels: chat

#28550 DEV: Drop old notification id columns
  app/models/notification.rb
  app/models/shelved_notification.rb
  app/models/user.rb
  app/models/user_badge.rb
  db/post_migrate/20240829140226_drop_old_notification_id_columns.rb
  plugins/chat/app/models/chat/mention_notification.rb
  plugins/chat/db/post_migrate/20240829140227_drop_chat_mention_notifications_old_id_column.rb
Labels: chat

#29226 Build(deps-dev): Bump rubocop from 1.66.1 to 1.67.0
  Gemfile.lock
  app/controllers/topics_controller.rb
  script/import_scripts/jive_api.rb
Labels: migrations-tooling

#28710 DEV: Refactor uppy component mixins into standalone classes
  app/assets/javascripts/discourse/app/components/composer-editor.js
  app/assets/javascripts/discourse/app/components/uppy-image-uploader.js
  app/assets/javascripts/discourse/app/lib/uppy/composer-upload.js
  app/assets/javascripts/discourse/app/lib/uppy/s3-multipart.js
  app/assets/javascripts/discourse/app/lib/uppy/upload-debugging.js
  app/assets/javascripts/discourse/app/lib/uppy/uppy-upload.js
  app/assets/javascripts/discourse/app/lib/uppy/wrapper.js
  app/assets/javascripts/discourse/app/mixins/composer-video-thumbnail-uppy.js
  app/assets/javascripts/discourse/app/mixins/uppy-upload.js
  app/assets/javascripts/discourse/app/services/composer.js
  plugins/chat/assets/javascripts/discourse/components/chat-composer-uploads.js
Labels: chat

#29232 UX: consistent chat message date format
  plugins/chat/assets/javascripts/discourse/helpers/format-chat-date.js
  plugins/chat/config/locales/client.en.yml
Labels: chat, i18n

#29233 DEV: Allow `ChatSDK.create` to take extra parameters
  plugins/chat/lib/chat_sdk/message.rb
Labels: chat

#29236 DEV: move chat time formats to core locales
  config/locales/client.en.yml
  plugins/chat/assets/javascripts/discourse/helpers/format-chat-date.js
  plugins/chat/config/locales/client.en.yml
Labels: chat, i18n

#29225 UX: Multiple fixes to theme card rendering
  app/assets/javascripts/admin/addon/components/admin-config-area-card.gjs
  app/assets/javascripts/admin/addon/components/themes-grid-card.gjs
  app/assets/javascripts/admin/addon/components/themes-grid.gjs
  app/assets/javascripts/admin/addon/models/theme.js
  app/assets/stylesheets/common/components/theme-card.scss
  config/locales/client.en.yml
Labels: i18n

#29246 FIX: _uploadDropTargetOptions is now public
  plugins/chat/assets/javascripts/discourse/components/chat-composer-uploads.js
  plugins/chat/spec/system/uploads_spec.rb
Labels: chat

#29251 DEV: Don’t provide an array to site settings group lists in specs
  plugins/chat/spec/lib/chat/channel_fetcher_spec.rb
  plugins/chat/spec/lib/chat/guardian_extensions_spec.rb
  plugins/chat/spec/lib/chat/message_bookmarkable_spec.rb
  plugins/chat/spec/lib/chat_sdk/message_spec.rb
  plugins/chat/spec/requests/chat/api/channels_messages_flags_controller_spec.rb
  plugins/chat/spec/requests/core_ext/bookmarks_controller_spec.rb
  plugins/chat/spec/requests/core_ext/notifications_controller_spec.rb
  plugins/chat/spec/requests/core_ext/users_controller_spec.rb
  plugins/chat/spec/services/auto_remove/handle_user_removed_from_group_spec.rb
  plugins/chat/spec/services/chat/create_message_spec.rb
  plugins/chat/spec/services/chat/invite_users_to_channel_spec.rb
  plugins/chat/spec/services/chat/stop_message_streaming_spec.rb
  plugins/chat/spec/services/chat/update_user_channel_last_read_spec.rb
  plugins/chat/spec/services/chat/update_user_thread_last_read_spec.rb
Labels: chat

#29252 DEV: Fix regression in uppy-mixin
  app/assets/javascripts/discourse/app/mixins/uppy-upload.js
  plugins/chat/assets/javascripts/discourse/components/chat-composer-uploads.js
Labels: chat

#29253 DEV: Extract leave logic to the `Chat::Channel` models
  plugins/chat/app/models/chat/channel.rb
  plugins/chat/app/models/chat/direct_message_channel.rb
  plugins/chat/app/services/chat/leave_channel.rb
  plugins/chat/spec/models/chat/category_channel_spec.rb
  plugins/chat/spec/models/chat/direct_message_channel_spec.rb
Labels: chat

#29255 DEV: Improve `array` type in service contracts
  lib/active_support_type_extensions/array.rb
  plugins/chat/app/services/chat/auto_remove/handle_chat_allowed_groups_change.rb
  spec/lib/active_support_type_extensions/array_spec.rb
Labels: chat

#29276 DEV: serialize image upload thumbnail
  app/serializers/upload_serializer.rb
  app/serializers/upload_thumbnail_serializer.rb
  plugins/chat/plugin.rb
  spec/requests/api/schemas/json/upload_create_response.json
Labels: chat

#28974 UX: Simplify invite modal
  app/assets/javascripts/discourse/app/components/copy-button.hbs
  app/assets/javascripts/discourse/app/components/copy-button.js
  app/assets/javascripts/discourse/app/components/d-modal.gjs
  app/assets/javascripts/discourse/app/components/future-date-input.hbs
  app/assets/javascripts/discourse/app/components/future-date-input.js
  app/assets/javascripts/discourse/app/components/modal/create-invite.gjs
  app/assets/javascripts/discourse/app/components/modal/create-invite.hbs
  app/assets/javascripts/discourse/app/components/modal/create-invite.js
  app/assets/javascripts/discourse/app/lib/pwa-utils.js
  app/assets/javascripts/discourse/app/templates/user-invited-show.hbs
  app/assets/javascripts/discourse/tests/acceptance/create-invite-modal-test.js
  app/assets/stylesheets/common/base/modal.scss
  app/assets/stylesheets/common/base/share_link.scss
  app/assets/stylesheets/mobile/modal.scss
  config/locales/client.en.yml
  spec/system/create_invite_spec.rb
  spec/system/page_objects/components/form_kit.rb
  spec/system/page_objects/modals/base.rb
  spec/system/page_objects/modals/create_invite.rb
  spec/system/page_objects/pages/user_invited_pending.rb
Labels: i18n

#29285 DEV: Refactor some services from chat
  plugins/chat/app/services/chat/add_users_to_channel.rb
  plugins/chat/app/services/chat/auto_remove/handle_category_updated.rb
  plugins/chat/app/services/chat/auto_remove/handle_destroyed_group.rb
  plugins/chat/app/services/chat/auto_remove/handle_user_removed_from_group.rb
  plugins/chat/app/services/chat/flag_message.rb
  plugins/chat/app/services/chat/list_channel_messages.rb
  plugins/chat/app/services/chat/search_chatable.rb
  plugins/chat/app/services/chat/update_channel.rb
  plugins/chat/app/services/chat/update_channel_status.rb
  plugins/chat/spec/requests/chat/api/channel_messages_controller_spec.rb
  plugins/chat/spec/services/auto_remove/handle_category_updated_spec.rb
  plugins/chat/spec/services/auto_remove/handle_destroyed_group_spec.rb
  plugins/chat/spec/services/chat/create_direct_message_channel_spec.rb
  plugins/chat/spec/services/chat/create_thread_spec.rb
  plugins/chat/spec/services/chat/flag_message_spec.rb
  plugins/chat/spec/services/chat/invite_users_to_channel_spec.rb
  plugins/chat/spec/services/chat/search_chatable_spec.rb
  plugins/chat/spec/services/chat/stop_message_streaming_spec.rb
  plugins/chat/spec/services/chat/trash_message_spec.rb
  plugins/chat/spec/services/chat/trash_messages_spec.rb
  plugins/chat/spec/services/chat/update_channel_status_spec.rb
  plugins/chat/spec/services/chat/update_thread_notification_settings_spec.rb
  plugins/chat/spec/services/chat/update_thread_spec.rb
  plugins/chat/spec/services/chat/upsert_draft_spec.rb
Labels: chat

#29306 FEATURE: auto_action_type field for flags
  app/assets/javascripts/admin/addon/components/admin-flags-form.gjs
  app/serializers/flag_serializer.rb
  app/services/flags/create_flag.rb
  app/services/flags/update_flag.rb
  config/locales/client.en.yml
  spec/requests/api/schemas/json/site_response.json
  spec/services/flags/create_flag_spec.rb
  spec/services/flags/update_flag_spec.rb
Labels: i18n

#29244 FEATURE: allow admins to enable announced experimental features
  app/assets/javascripts/admin/addon/components/dashboard-new-feature-item.gjs
  app/assets/stylesheets/common/admin/dashboard.scss
  app/controllers/admin/dashboard_controller.rb
  app/services/experiments/toggle.rb
  config/locales/client.en.yml
  config/routes.rb
  lib/discourse_updates.rb
  spec/lib/discourse_updates_spec.rb
  spec/multisite/jobs_spec.rb
  spec/services/experiments/toggle_spec.rb
  spec/system/admin_dashboard_new_features_spec.rb
  spec/system/page_objects/pages/admin_new_features.rb
Labels: i18n

#29308 FEATURE: Revive legacy pageview reports
  app/controllers/admin/reports_controller.rb
  app/models/concerns/reports/consolidated_page_views.rb
  app/models/report.rb
  config/locales/server.en.yml
  spec/requests/admin/reports_controller_spec.rb
Labels: i18n

#29313 DEV: Stop injecting a service result object in the caller object
  app/controllers/admin/config/flags_controller.rb
  app/controllers/admin/site_settings_controller.rb
  app/controllers/admin/users_controller.rb
  app/services/experiments/toggle.rb
  lib/service/runner.rb
  plugins/chat/app/controllers/chat/api/channel_messages_controller.rb
  plugins/chat/app/controllers/chat/api/channel_thread_messages_controller.rb
  plugins/chat/app/controllers/chat/api/channel_threads_controller.rb
  plugins/chat/app/controllers/chat/api/channel_threads_current_user_notifications_settings_controller.rb
  plugins/chat/app/controllers/chat/api/channel_threads_current_user_title_prompt_seen_controller.rb
  plugins/chat/app/controllers/chat/api/channels_controller.rb
  plugins/chat/app/controllers/chat/api/channels_current_user_membership_follows_controller.rb
  plugins/chat/app/controllers/chat/api/channels_read_controller.rb
  plugins/chat/app/controllers/chat/api/channels_status_controller.rb
  plugins/chat/app/controllers/chat/api/chatables_controller.rb
  plugins/chat/app/controllers/chat/api/current_user_channels_controller.rb
  plugins/chat/app/controllers/chat/api/current_user_threads_controller.rb
  plugins/chat/app/controllers/chat/api/direct_messages_controller.rb
  plugins/chat/app/jobs/regular/chat/auto_join_channel_batch.rb
  plugins/chat/lib/chat_sdk/channel.rb
  plugins/chat/lib/chat_sdk/message.rb
  plugins/chat/lib/chat_sdk/thread.rb
  plugins/chat/spec/plugin_helper.rb
  plugins/chat/spec/requests/chat/api/current_user_threads_spec.rb
  spec/lib/service/runner_spec.rb
Labels: chat

#29334 FIX: Prevent 'NaN' display by hiding visitor stats on /about until they're ready
  app/assets/javascripts/discourse/app/components/about-page.gjs
  app/assets/javascripts/discourse/app/controllers/about.js
  app/assets/javascripts/discourse/app/templates/about.hbs
  app/assets/javascripts/discourse/tests/integration/components/about-page-test.gjs
  config/locales/server.en.yml
Labels: i18n

#29344 DEV: More specs for chat excerpts
  plugins/chat/spec/system/chat_channel_spec.rb
Labels: chat

#29345 UX: Add link to /about in the about config page
  app/assets/javascripts/admin/addon/templates/config-about.hbs
  config/locales/client.en.yml
Labels: i18n

#29294 DEV: refactor textarea text manipulation mixin
  app/assets/javascripts/discourse/app/components/d-editor.hbs
  app/assets/javascripts/discourse/app/components/d-editor.js
  app/assets/javascripts/discourse/app/lib/textarea-text-manipulation.js
  plugins/chat/assets/javascripts/discourse/lib/textarea-interactor.js
Labels: chat

#29339 DEV: Update chat-composer-uploads uppy usage
  app/assets/javascripts/discourse/app/lib/uppy/uppy-upload.js
  plugins/chat/assets/javascripts/discourse/components/chat-composer-uploads.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-composer-uploads.js
Labels: chat

#29361 FIX: reword auto action type field for flags
  app/assets/javascripts/admin/addon/components/admin-flags-form.gjs
  config/locales/client.en.yml
Labels: i18n

#29360 UX: Consistent styling for admin tables on mobile
  app/assets/javascripts/admin/addon/components/admin-config-areas/flags.gjs
  app/assets/javascripts/admin/addon/components/admin-flag-item.gjs
  app/assets/javascripts/admin/addon/components/admin-plugins-list-item.gjs
  app/assets/javascripts/admin/addon/components/admin-plugins-list.gjs
  app/assets/javascripts/admin/addon/templates/backups-index.hbs
  app/assets/stylesheets/common/admin/admin_table.scss
  app/assets/stylesheets/common/admin/backups.scss
  app/assets/stylesheets/common/admin/flags.scss
  app/assets/stylesheets/common/admin/plugins.scss
  plugins/chat/admin/assets/javascripts/admin/components/admin-chat-incoming-webhooks-list.gjs
Labels: chat

#29239 FEATURE: Introduce an optimized style for category page
  app/assets/javascripts/discourse/app/components/categories-only-optimized.hbs
  app/assets/javascripts/discourse/app/components/categories-only-optimized.js
  app/assets/javascripts/discourse/app/components/discovery/categories-display.gjs
  app/assets/javascripts/discourse/app/components/parent-category-row-optimized.hbs
  app/assets/javascripts/discourse/app/components/parent-category-row-optimized.js
  app/assets/javascripts/discourse/app/templates/mobile/components/categories-only-optimized.hbs
  app/assets/javascripts/discourse/app/templates/mobile/components/parent-category-row-optimized.hbs
  app/assets/stylesheets/mobile/topic-list.scss
  app/models/category_list.rb
  app/models/category_page_style.rb
  config/locales/client.en.yml
  spec/requests/categories_controller_spec.rb
Labels: i18n

#29374 DEV: Delete plugin specific webhook event types
  app/models/web_hook.rb
  app/models/web_hook_event_type.rb
  config/locales/client.en.yml
  db/fixtures/007_web_hook_event_types.rb
  db/migrate/20241024093027_remove_category_experts_web_hook_event_types.rb
  spec/models/web_hook_event_type_spec.rb
Labels: i18n

#28680 UX: Visual adjustments to login/signup forms
  app/assets/javascripts/discourse/app/components/modal/create-account.hbs
  app/assets/javascripts/discourse/app/components/modal/login.hbs
  app/assets/javascripts/discourse/app/components/modal/login.js
  app/assets/javascripts/discourse/app/components/modal/login/footer.hbs
  app/assets/javascripts/discourse/app/components/signup-progress-bar.gjs
  app/assets/javascripts/discourse/app/components/welcome-header.gjs
  app/assets/javascripts/discourse/app/controllers/invites-show.js
  app/assets/javascripts/discourse/app/mixins/name-validation.js
  app/assets/javascripts/discourse/app/templates/activate-account.gjs
  app/assets/javascripts/discourse/app/templates/invites/show.hbs
  app/assets/javascripts/discourse/app/templates/login.hbs
  app/assets/javascripts/discourse/app/templates/signup.hbs
  app/assets/stylesheets/common/base/login-signup-page.scss
  app/assets/stylesheets/common/base/static-login.scss
  app/assets/stylesheets/common/components/signup-progress-bar.scss
  app/assets/stylesheets/common/modal/login-modal.scss
  app/assets/stylesheets/desktop/login-signup-page.scss
  app/assets/stylesheets/mobile/_index.scss
  app/assets/stylesheets/mobile/components/welcome-header.scss
  app/assets/stylesheets/mobile/login-modal.scss
  app/assets/stylesheets/mobile/login-signup-page.scss
  app/assets/stylesheets/mobile/signup-progress-bar.scss
  config/locales/client.en.yml
Labels: i18n

#29375 DEV: Replace `params` by the contract object in services
  app/controllers/admin/site_settings_controller.rb
  app/controllers/admin/users_controller.rb
  app/services/experiments/toggle.rb
  app/services/flags/create_flag.rb
  app/services/flags/reorder_flag.rb
  app/services/flags/toggle_flag.rb
  app/services/flags/update_flag.rb
  app/services/site_setting/update.rb
  app/services/user/action/silence_all.rb
  app/services/user/action/suspend_all.rb
  app/services/user/action/trigger_post_action.rb
  app/services/user/silence.rb
  app/services/user/suspend.rb
  lib/service.rb
  lib/service/base.rb
  lib/service/contract_base.rb
  lib/service/steps_inspector.rb
  plugins/chat/app/jobs/regular/chat/auto_join_channel_batch.rb
  plugins/chat/app/services/chat/action/create_memberships_for_auto_join.rb
  plugins/chat/app/services/chat/add_users_to_channel.rb
  plugins/chat/app/services/chat/auto_join_channel_batch.rb
  plugins/chat/app/services/chat/auto_remove/handle_category_updated.rb
  plugins/chat/app/services/chat/auto_remove/handle_chat_allowed_groups_change.rb
  plugins/chat/app/services/chat/auto_remove/handle_destroyed_group.rb
  plugins/chat/app/services/chat/auto_remove/handle_user_removed_from_group.rb
  plugins/chat/app/services/chat/create_category_channel.rb
  plugins/chat/app/services/chat/create_direct_message_channel.rb
  plugins/chat/app/services/chat/create_message.rb
  plugins/chat/app/services/chat/create_thread.rb
  plugins/chat/app/services/chat/flag_message.rb
  plugins/chat/app/services/chat/invite_users_to_channel.rb
  plugins/chat/app/services/chat/leave_channel.rb
  plugins/chat/app/services/chat/list_channel_messages.rb
  plugins/chat/app/services/chat/list_channel_thread_messages.rb
  plugins/chat/app/services/chat/lookup_channel_threads.rb
  plugins/chat/app/services/chat/lookup_thread.rb
  plugins/chat/app/services/chat/lookup_user_threads.rb
  plugins/chat/app/services/chat/mark_thread_title_prompt_seen.rb
  plugins/chat/app/services/chat/restore_message.rb
  plugins/chat/app/services/chat/search_chatable.rb
  plugins/chat/app/services/chat/stop_message_streaming.rb
  plugins/chat/app/services/chat/tracking_state.rb
  plugins/chat/app/services/chat/trash_message.rb
  plugins/chat/app/services/chat/trash_messages.rb
  plugins/chat/app/services/chat/unfollow_channel.rb
  plugins/chat/app/services/chat/update_channel.rb
  plugins/chat/app/services/chat/update_channel_status.rb
  plugins/chat/app/services/chat/update_message.rb
  plugins/chat/app/services/chat/update_thread.rb
  plugins/chat/app/services/chat/update_thread_notification_settings.rb
  plugins/chat/app/services/chat/update_user_channel_last_read.rb
  plugins/chat/app/services/chat/update_user_thread_last_read.rb
  plugins/chat/app/services/chat/upsert_draft.rb
  plugins/chat/spec/services/actions/create_memberships_for_auto_join_spec.rb
  plugins/chat/spec/services/chat/search_chatable_spec.rb
  spec/lib/service/runner_spec.rb
  spec/lib/service/steps_inspector_spec.rb
  spec/services/user/action/trigger_post_action_spec.rb
  spec/services/user/silence_spec.rb
  spec/services/user/suspend_spec.rb
Labels: chat

#29387 UX: Update /about config page copy
  app/assets/javascripts/admin/addon/components/admin-config-area-cards/about/your-organization.gjs
  config/locales/client.en.yml
Labels: i18n

#29079 FEATURE: Allow themes to define screenshots
  app/assets/javascripts/admin/addon/components/themes-grid-card.gjs
  app/models/remote_theme.rb
  app/models/theme_field.rb
  app/serializers/theme_serializer.rb
  config/locales/server.en.yml
  config/site_settings.yml
  spec/models/remote_theme_spec.rb
  spec/serializers/theme_serializer_spec.rb
Labels: i18n

#29434 FEATURE: Add user preference to disable smart lists
  app/assets/javascripts/admin/addon/mixins/setting-component.js
  app/assets/javascripts/discourse/app/components/d-editor.js
  app/assets/javascripts/discourse/app/controllers/preferences/interface.js
  app/assets/javascripts/discourse/app/models/user.js
  app/assets/javascripts/discourse/app/templates/preferences/interface.hbs
  app/assets/javascripts/discourse/tests/fixtures/session-fixtures.js
  app/assets/javascripts/discourse/tests/fixtures/user-fixtures.js
  app/assets/javascripts/discourse/tests/integration/components/d-editor-test.js
  app/models/user_option.rb
  app/serializers/current_user_option_serializer.rb
  app/serializers/user_option_serializer.rb
  app/services/site_setting_update_existing_users.rb
  app/services/user_updater.rb
  config/locales/client.en.yml
  config/locales/server.en.yml
  config/site_settings.yml
  db/migrate/20241028021339_add_smart_list_user_preference.rb
  lib/tasks/import.rake
  script/bulk_import/base.rb
  spec/models/user_option_spec.rb
  spec/models/user_spec.rb
  spec/requests/api/schemas/json/user_get_response.json
Labels: i18n, migrations-tooling

#29397 DEV: Upgrade Uppy to v4
  app/assets/javascripts/discourse-common/package.json
  app/assets/javascripts/discourse/app/lib/uploads.js
  app/assets/javascripts/discourse/app/lib/uppy/composer-upload.js
  app/assets/javascripts/discourse/app/lib/uppy/s3-multipart.js
  app/assets/javascripts/discourse/app/lib/uppy/upload-debugging.js
  app/assets/javascripts/discourse/app/lib/uppy/uppy-upload.js
  app/assets/javascripts/discourse/package.json
  app/assets/javascripts/discourse/tests/acceptance/composer-uploads-uppy-test.js
  app/assets/javascripts/discourse/tests/unit/lib/uploads-test.js
  app/assets/stylesheets/common/admin/admin_emojis.scss
  plugins/chat/assets/stylesheets/common/base-common.scss
  plugins/chat/assets/stylesheets/common/chat-upload-drop-zone.scss
  plugins/chat/test/javascripts/components/chat-composer-uploads-test.js
  pnpm-lock.yaml
Labels: chat

#29418 UX: Add description config area card
  app/assets/javascripts/admin/addon/components/admin-config-area-card.gjs
  app/assets/javascripts/admin/addon/components/admin-config-areas/about.gjs
  config/locales/client.en.yml
Labels: i18n

#29245 UX: Look and feel changes
  app/assets/javascripts/admin/addon/components/admin-config-areas/look-and-feel-themes.gjs
  app/assets/javascripts/admin/addon/components/modal/install-theme.js
  app/assets/javascripts/admin/addon/components/themes-grid-card.gjs
  app/assets/javascripts/admin/addon/components/themes-grid.gjs
  app/assets/javascripts/admin/addon/routes/admin-config-look-and-feel-index.js
  app/assets/javascripts/admin/addon/routes/admin-config-look-and-feel.js
  app/assets/javascripts/admin/addon/templates/config-look-and-feel-themes.hbs
  app/assets/javascripts/admin/addon/templates/config-look-and-feel.hbs
  app/assets/javascripts/discourse/app/components/global-notice.js
  app/assets/javascripts/discourse/app/instance-initializers/live-development.js
  app/assets/stylesheets/common/components/theme-card.scss
  config/locales/client.en.yml
Labels: i18n

#29388 DEV: use service worker for chat sound
  app/assets/javascripts/discourse/app/lib/utilities.js
  app/assets/javascripts/discourse/app/services/capabilities.js
  app/assets/javascripts/service-worker.js.erb
  plugins/chat/assets/javascripts/discourse/initializers/chat-audio.js
  plugins/chat/test/javascripts/unit/lib/chat-audio-test.js
Labels: chat

#29441 DEV: Make service contracts immutable
  lib/service/base.rb
  lib/service/contract_base.rb
  plugins/chat/app/services/chat/create_message.rb
  plugins/chat/app/services/chat/search_chatable.rb
  plugins/chat/app/services/chat/update_message.rb
Labels: chat

#29466 UX: fix emoji spacing in chat members user status
  plugins/chat/assets/stylesheets/common/chat-channel-members.scss
Labels: chat

#29443 DEV: Remove hash-like access from service contracts
  app/services/admin_notices/dismiss.rb
  app/services/experiments/toggle.rb
  app/services/flags/create_flag.rb
  app/services/flags/destroy_flag.rb
  app/services/flags/reorder_flag.rb
  app/services/flags/toggle_flag.rb
  app/services/flags/update_flag.rb
  app/services/site_setting/update.rb
  app/services/user/silence.rb
  app/services/user/suspend.rb
  lib/service/contract_base.rb
  plugins/chat/app/services/chat/add_users_to_channel.rb
  plugins/chat/app/services/chat/auto_join_channel_batch.rb
  plugins/chat/app/services/chat/auto_remove/handle_category_updated.rb
  plugins/chat/app/services/chat/auto_remove/handle_chat_allowed_groups_change.rb
  plugins/chat/app/services/chat/auto_remove/handle_destroyed_group.rb
  plugins/chat/app/services/chat/auto_remove/handle_user_removed_from_group.rb
  plugins/chat/app/services/chat/create_category_channel.rb
  plugins/chat/app/services/chat/create_direct_message_channel.rb
  plugins/chat/app/services/chat/create_message.rb
  plugins/chat/app/services/chat/create_thread.rb
  plugins/chat/app/services/chat/flag_message.rb
  plugins/chat/app/services/chat/invite_users_to_channel.rb
  plugins/chat/app/services/chat/leave_channel.rb
  plugins/chat/app/services/chat/list_channel_messages.rb
  plugins/chat/app/services/chat/list_channel_thread_messages.rb
  plugins/chat/app/services/chat/lookup_channel_threads.rb
  plugins/chat/app/services/chat/lookup_thread.rb
  plugins/chat/app/services/chat/lookup_user_threads.rb
  plugins/chat/app/services/chat/mark_thread_title_prompt_seen.rb
  plugins/chat/app/services/chat/restore_message.rb
  plugins/chat/app/services/chat/search_chatable.rb
  plugins/chat/app/services/chat/stop_message_streaming.rb
  plugins/chat/app/services/chat/trash_channel.rb
  plugins/chat/app/services/chat/trash_message.rb
  plugins/chat/app/services/chat/trash_messages.rb
  plugins/chat/app/services/chat/unfollow_channel.rb
  plugins/chat/app/services/chat/update_channel_status.rb
  plugins/chat/app/services/chat/update_message.rb
  plugins/chat/app/services/chat/update_thread.rb
  plugins/chat/app/services/chat/update_thread_notification_settings.rb
  plugins/chat/app/services/chat/update_user_channel_last_read.rb
  plugins/chat/app/services/chat/update_user_thread_last_read.rb
  plugins/chat/app/services/chat/upsert_draft.rb
  plugins/chat/spec/services/chat/lookup_channel_threads_spec.rb
  plugins/chat/spec/services/chat/search_chatable_spec.rb
  plugins/chat/spec/services/chat/trash_channel_spec.rb
  plugins/chat/spec/services/chat/update_channel_status_spec.rb
  spec/services/admin_notices/dismiss_spec.rb
  spec/services/flags/destroy_flag_spec.rb
Labels: chat

#29448 FEATURE: Add invite link to the sidebar
  app/assets/javascripts/discourse/app/lib/sidebar/common/community-section/section.js
  app/assets/javascripts/discourse/app/lib/sidebar/user/community-section/invite-section-link.js
  app/assets/javascripts/discourse/app/routes/app-route-map.js
  app/assets/javascripts/discourse/app/routes/new-invite.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-user-community-section-test.js
  app/assets/javascripts/discourse/tests/fixtures/session-fixtures.js
  app/assets/javascripts/discourse/tests/fixtures/site-fixtures.js
  app/controllers/new_invite_controller.rb
  app/models/sidebar_url.rb
  config/locales/client.en.yml
  config/routes.rb
  db/migrate/20241025045928_add_invites_link_to_sidebar.rb
  spec/models/category_spec.rb
  spec/models/sidebar_section_spec.rb
  spec/models/tag_spec.rb
  spec/system/editing_sidebar_community_section_spec.rb
Labels: i18n

#29480 edited description of must_approve_users
  config/locales/server.en.yml
Labels: i18n

#29486 DEV: Site setting keyword changes
  config/locales/server.en.yml
  lib/site_setting_extension.rb
  spec/lib/site_setting_extension_spec.rb
Labels: i18n

#29414 FIX: show chat thread notifications for direct message channels
  plugins/chat/app/queries/chat/thread_unreads_query.rb
  plugins/chat/app/services/chat/list_user_channels.rb
  plugins/chat/app/services/chat/lookup_user_threads.rb
  plugins/chat/assets/javascripts/discourse/components/chat-channel-unread-indicator.gjs
  plugins/chat/assets/javascripts/discourse/initializers/chat-sidebar.js
  plugins/chat/assets/javascripts/discourse/models/chat-channel.js
  plugins/chat/assets/javascripts/discourse/services/chat-channels-manager.js
  plugins/chat/assets/javascripts/discourse/services/chat-tracking-state-manager.js
  plugins/chat/spec/services/chat/create_thread_spec.rb
  plugins/chat/spec/system/chat_footer_spec.rb
Labels: chat

#29500 FEATURE: Add 'Community title' field to about config page
  app/assets/javascripts/admin/addon/components/admin-config-area-cards/about/general-settings.gjs
  app/assets/javascripts/admin/addon/components/admin-config-areas/about.gjs
  app/assets/javascripts/admin/addon/routes/admin-config-about.js
  app/controllers/admin/config/about_controller.rb
  config/locales/client.en.yml
  spec/system/admin_about_config_area_spec.rb
  spec/system/page_objects/components/admin_about_config_area_general_settings_card.rb
Labels: i18n

#29442 DEV: Add import support for Topic Voting plugin
  script/bulk_import/base.rb
  script/bulk_import/generic_bulk.rb
Labels: migrations-tooling

#29292 DEV: Refactor `uploads_importer` script
  migrations/.gitignore
  migrations/bin/cli
  migrations/config/upload.yml.sample
  migrations/db/uploads_db_schema/100-base-schema.sql
  migrations/lib/cli/upload_command.rb
  migrations/lib/migrations.rb
  migrations/lib/settings_parser.rb
  migrations/lib/uploader/site_settings.rb
  migrations/lib/uploader/tasks/base.rb
  migrations/lib/uploader/tasks/fixer.rb
  migrations/lib/uploader/tasks/optimizer.rb
  migrations/lib/uploader/tasks/uploader.rb
  migrations/lib/uploader/uploads.rb
Labels: migrations-tooling

#29398 DEV: Refactor header offset calculations
  app/assets/javascripts/discourse/app/components/glimmer-site-header.gjs
  app/assets/stylesheets/common/base/menu-panel.scss
  app/assets/stylesheets/common/base/sidebar.scss
  app/assets/stylesheets/desktop/menu-panel.scss
  plugins/chat/assets/stylesheets/common/base-common.scss
  plugins/chat/assets/stylesheets/common/chat-composer.scss
  plugins/chat/assets/stylesheets/common/chat-height-mixin.scss
  plugins/chat/assets/stylesheets/desktop/chat-index-full-page.scss
Labels: chat

#29518 DEV: Remove unused translation string
  config/locales/server.en.yml
Labels: i18n

#29504 FEATURE: add custom fields to chat (channel/message/thread)
  plugins/chat/app/models/chat/channel.rb
  plugins/chat/app/models/chat/channel_custom_field.rb
  plugins/chat/app/models/chat/message.rb
  plugins/chat/app/models/chat/message_custom_field.rb
  plugins/chat/app/models/chat/thread.rb
  plugins/chat/app/models/chat/thread_custom_field.rb
  plugins/chat/db/migrate/20241031050638_add_custom_fields_to_chat.rb
  plugins/chat/spec/models/chat/channel_spec.rb
  plugins/chat/spec/models/chat/message_spec.rb
  plugins/chat/spec/models/chat/thread_spec.rb
Labels: chat

#29505 UX: Use correct case for "Add Flag" button
  config/locales/client.en.yml
Labels: i18n
