Repository discourse/discourse, pull requests merged in 2024-12, with the labels that each got.

#30017 DEV: Finish qunit-dom hasText migration
  app/assets/javascripts/discourse/tests/acceptance/admin-badges-award-test.js
  app/assets/javascripts/discourse/tests/acceptance/admin-install-theme-modal-test.js
  app/assets/javascripts/discourse/tests/acceptance/admin-user-index-test.js
  app/assets/javascripts/discourse/tests/acceptance/admin-watched-words-test.js
  app/assets/javascripts/discourse/tests/acceptance/category-edit-security-test.js
  app/assets/javascripts/discourse/tests/acceptance/category-edit-test.js
  app/assets/javascripts/discourse/tests/acceptance/composer-actions-test.js
  app/assets/javascripts/discourse/tests/acceptance/composer-hyperlink-test.js
  app/assets/javascripts/discourse/tests/acceptance/composer-uploads-uppy-test.js
  app/assets/javascripts/discourse/tests/acceptance/do-not-disturb-test.js
  app/assets/javascripts/discourse/tests/acceptance/edit-notification-click-test.js
  app/assets/javascripts/discourse/tests/acceptance/group-test.js
  app/assets/javascripts/discourse/tests/acceptance/search-test.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-anonymous-categories-section-test.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-anonymous-community-section-test.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-user-categories-section-test.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-user-community-section-test.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-user-messages-section-test.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-user-tags-section-test.js
  app/assets/javascripts/discourse/tests/acceptance/topic-discovery-tracked-test.js
  app/assets/javascripts/discourse/tests/acceptance/topic-test.js
  app/assets/javascripts/discourse/tests/acceptance/user-drafts-stream-test.js
  app/assets/javascripts/discourse/tests/acceptance/user-menu-test.js
  app/assets/javascripts/discourse/tests/acceptance/user-preferences-account-test.js
  app/assets/javascripts/discourse/tests/acceptance/user-private-messages-test.js
  app/assets/javascripts/discourse/tests/acceptance/user-test.js
  app/assets/javascripts/discourse/tests/acceptance/users-test.js
  app/assets/javascripts/discourse/tests/integration/components/admin-plugin-config-area-test.js
  app/assets/javascripts/discourse/tests/integration/components/d-navigation-test.js
  app/assets/javascripts/discourse/tests/integration/components/pending-post-test.js
  app/assets/javascripts/discourse/tests/integration/components/search-menu-test.gjs
  app/assets/javascripts/discourse/tests/integration/components/select-kit/mini-tag-chooser-test.js
  app/assets/javascripts/discourse/tests/integration/components/user-menu/bookmarks-list-test.js
  app/assets/javascripts/discourse/tests/integration/components/user-menu/likes-list-test.js
  app/assets/javascripts/discourse/tests/integration/components/user-menu/menu-item-test.js
  app/assets/javascripts/discourse/tests/integration/components/user-menu/menu-test.js
  app/assets/javascripts/discourse/tests/integration/components/user-menu/messages-list-test.js
  app/assets/javascripts/discourse/tests/integration/components/user-menu/notifications-list-test.js
  app/assets/javascripts/discourse/tests/integration/components/user-menu/other-notifications-list-test.js
  app/assets/javascripts/discourse/tests/integration/components/user-menu/replies-notifications-list-test.js
  app/assets/javascripts/discourse/tests/unit/utils/decorators-test.js
  plugins/chat/test/javascripts/components/chat-channel-card-test.js
  plugins/chat/test/javascripts/components/chat-message-info-test.js
  plugins/chat/test/javascripts/integration/components/user-menu/chat-notifications-list-test.js
  plugins/poll/test/javascripts/component/poll-buttons-dropdown-test.js
  plugins/poll/test/javascripts/component/poll-info-test.js
  plugins/poll/test/javascripts/component/poll-results-ranked-choice-test.js
Labels: chat

#30018 DEV: Use qunit-dom's `hasValue` wherever possible
  app/assets/javascripts/discourse/tests/acceptance/admin-install-theme-modal-test.js
  app/assets/javascripts/discourse/tests/acceptance/admin-penalize-user-test.js
  app/assets/javascripts/discourse/tests/acceptance/composer-editor-mentions-test.js
  app/assets/javascripts/discourse/tests/acceptance/composer-image-grid-test.js
  app/assets/javascripts/discourse/tests/acceptance/composer-image-preview-test.js
  app/assets/javascripts/discourse/tests/acceptance/composer-test.js
  app/assets/javascripts/discourse/tests/acceptance/composer-topic-links-test.js
  app/assets/javascripts/discourse/tests/acceptance/composer-uploads-uppy-test.js
  app/assets/javascripts/discourse/tests/acceptance/emoji-picker-test.js
  app/assets/javascripts/discourse/tests/acceptance/group-manage-email-settings-test.js
  app/assets/javascripts/discourse/tests/acceptance/group-test.js
  app/assets/javascripts/discourse/tests/acceptance/new-message-test.js
  app/assets/javascripts/discourse/tests/acceptance/search-mobile-test.js
  app/assets/javascripts/discourse/tests/acceptance/search-test.js
  app/assets/javascripts/discourse/tests/acceptance/tags-test.js
  app/assets/javascripts/discourse/tests/acceptance/topic-quote-button-test.js
  app/assets/javascripts/discourse/tests/acceptance/topic-test.js
  app/assets/javascripts/discourse/tests/acceptance/user-drafts-stream-test.js
  app/assets/javascripts/discourse/tests/integration/components/date-time-input-range-test.js
  app/assets/javascripts/discourse/tests/integration/components/date-time-input-test.js
  app/assets/javascripts/discourse/tests/integration/components/form-template-field/dropdown-test.js
  app/assets/javascripts/discourse/tests/integration/components/form-template-field/multi-select-test.js
  app/assets/javascripts/discourse/tests/integration/components/invite-panel-test.js
  app/assets/javascripts/discourse/tests/integration/components/secret-value-list-test.js
  app/assets/javascripts/discourse/tests/integration/components/simple-list-test.js
  app/assets/javascripts/discourse/tests/integration/components/value-list-test.js
  app/assets/javascripts/discourse/tests/unit/lib/autocomplete-test.js
  plugins/chat/test/javascripts/acceptance/chat-composer-test.js
  plugins/discourse-details/test/javascripts/acceptance/details-button-test.js
  plugins/discourse-local-dates/test/javascripts/acceptance/local-dates-quoting-test.js
  plugins/spoiler-alert/test/javascripts/acceptance/spoiler-button-test.js
Labels: chat

#29873 UX: admins users page follows admin ux guideline
  app/assets/javascripts/admin/addon/routes/admin-user-index.js
  app/assets/javascripts/admin/addon/templates/users-list-show.hbs
  app/assets/javascripts/admin/addon/templates/users-list.hbs
  app/assets/javascripts/discourse/tests/acceptance/admin-users-list-test.js
  app/assets/stylesheets/common/admin/admin_base.scss
  config/locales/client.en.yml
  spec/system/admin_user_spec.rb
  spec/system/admin_users_list_spec.rb
  spec/system/page_objects/pages/admin_users.rb
Labels: i18n

#30023 DEV: Fix random typos
  app/assets/javascripts/discourse/app/lib/plugin-api.gjs
  app/assets/javascripts/discourse/tests/acceptance/category-edit-security-test.js
  app/assets/javascripts/discourse/tests/integration/components/admin-schema-theme-setting/editor-test.gjs
  plugins/chat/spec/lib/chat_sdk/thread_spec.rb
  spec/lib/topic_query_spec.rb
  spec/system/edit_category_security_spec.rb
Labels: chat

#29999 DEV: Correctly lint bundled plugins admin directory
  package.json
  plugins/automation/admin/assets/javascripts/admin/components/automation-field.gjs
  plugins/automation/admin/assets/javascripts/admin/components/fields/da-choices-field.gjs
  plugins/automation/admin/assets/javascripts/admin/components/fields/da-key-value-field.gjs
  plugins/automation/admin/assets/javascripts/admin/components/fields/da-period-field.gjs
  plugins/automation/admin/assets/javascripts/admin/components/fields/da-pms-field.gjs
  plugins/automation/admin/assets/javascripts/admin/components/fields/da-user-field.gjs
  plugins/automation/admin/assets/javascripts/admin/controllers/admin-plugins-discourse-automation-edit.js
  plugins/automation/admin/assets/javascripts/admin/controllers/admin-plugins-discourse-automation-index.js
  plugins/chat/admin/assets/javascripts/admin/components/admin-chat-incoming-webhooks-list.gjs
  plugins/chat/admin/assets/javascripts/admin/components/chat-admin-plugin-actions.gjs
  plugins/chat/admin/assets/javascripts/admin/components/chat-incoming-webhook-edit-form.gjs
  plugins/chat/admin/assets/javascripts/discourse/routes/admin-plugins-show-discourse-chat-incoming-webhooks-index.js
Labels: chat

#29997 DEV: Apply new Rubocop linting on services
  Gemfile.lock
  app/services/admin_notices/dismiss.rb
  app/services/experiments/toggle.rb
  app/services/flags/create_flag.rb
  app/services/flags/destroy_flag.rb
  app/services/flags/reorder_flag.rb
  app/services/flags/toggle_flag.rb
  app/services/flags/update_flag.rb
  app/services/site_setting/update.rb
  app/services/user/silence.rb
  app/services/user/suspend.rb
  plugins/chat/app/services/chat/add_users_to_channel.rb
  plugins/chat/app/services/chat/create_category_channel.rb
  plugins/chat/app/services/chat/create_direct_message_channel.rb
  plugins/chat/app/services/chat/create_message.rb
  plugins/chat/app/services/chat/create_thread.rb
  plugins/chat/app/services/chat/flag_message.rb
  plugins/chat/app/services/chat/invite_users_to_channel.rb
  plugins/chat/app/services/chat/leave_channel.rb
  plugins/chat/app/services/chat/list_channel_messages.rb
  plugins/chat/app/services/chat/list_channel_thread_messages.rb
  plugins/chat/app/services/chat/lookup_channel_threads.rb
  plugins/chat/app/services/chat/lookup_thread.rb
  plugins/chat/app/services/chat/lookup_user_threads.rb
  plugins/chat/app/services/chat/mark_thread_title_prompt_seen.rb
  plugins/chat/app/services/chat/restore_message.rb
  plugins/chat/app/services/chat/search_chatable.rb
  plugins/chat/app/services/chat/tracking_state.rb
  plugins/chat/app/services/chat/trash_channel.rb
  plugins/chat/app/services/chat/trash_message.rb
  plugins/chat/app/services/chat/trash_messages.rb
  plugins/chat/app/services/chat/unfollow_channel.rb
  plugins/chat/app/services/chat/update_channel_status.rb
  plugins/chat/app/services/chat/update_message.rb
  plugins/chat/app/services/chat/update_thread.rb
  plugins/chat/app/services/chat/update_thread_notification_settings.rb
  plugins/chat/app/services/chat/upsert_draft.rb
  spec/lib/service/steps_inspector_spec.rb
Labels: chat

#29696 FEATURE: Show when a badge has been granted for a post
  app/assets/javascripts/admin/addon/controllers/admin-badges/show.js
  app/assets/javascripts/admin/addon/templates/admin-badges/show.hbs
  app/assets/javascripts/discourse/app/components/badge-button.gjs
  app/assets/javascripts/discourse/app/components/user-badge.gjs
  app/assets/javascripts/discourse/app/lib/transform-post.js
  app/assets/javascripts/discourse/app/widgets/poster-name.js
  app/assets/javascripts/discourse/tests/integration/components/badge-button-test.js
  app/assets/javascripts/discourse/tests/integration/components/widgets/poster-name-test.js
  app/assets/stylesheets/common/base/topic-post.scss
  app/models/badge.rb
  app/models/user_badge.rb
  app/serializers/badge_serializer.rb
  app/serializers/post_serializer.rb
  app/serializers/web_hook_post_serializer.rb
  config/locales/client.en.yml
  config/locales/server.en.yml
  config/site_settings.yml
  db/migrate/20241121000131_add_post_header_to_badge.rb
  lib/topic_view.rb
  spec/requests/api/schemas/json/badge_create_response.json
  spec/requests/api/schemas/json/badge_list_response.json
  spec/requests/api/schemas/json/badge_update_response.json
  spec/requests/api/schemas/json/post_update_response.json
  spec/requests/api/schemas/json/topic_create_response.json
  spec/serializers/post_serializer_spec.rb
  spec/system/grant_badge_spec.rb
Labels: i18n

#30054 FIX: attempt to simplify chat navbar spacing
  plugins/chat/assets/stylesheets/common/chat-navbar.scss
  plugins/chat/assets/stylesheets/desktop/chat-navbar.scss
  plugins/chat/assets/stylesheets/desktop/index.scss
  plugins/chat/assets/stylesheets/mobile/chat-navbar.scss
Labels: chat

#29901 Update server.en.yml to change crawling site setting description...
  config/locales/server.en.yml
Labels: i18n

#30092 UX: Improve error when trying to edit globally shadowed setting
  app/controllers/admin/site_settings_controller.rb
  app/services/site_setting/update.rb
  config/locales/server.en.yml
  spec/requests/admin/site_settings_controller_spec.rb
  spec/services/site_setting/update_spec.rb
Labels: i18n

#30098 DEV: Deleted the "ChatComposerPresenceManager"...
  plugins/chat/assets/javascripts/discourse/components/chat-channel.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-composer.js
  plugins/chat/assets/javascripts/discourse/components/chat-thread.gjs
  plugins/chat/assets/javascripts/discourse/services/chat-composer-presence-manager.js
  plugins/discourse-presence/assets/javascripts/discourse/components/composer-presence-display.gjs
  plugins/discourse-presence/assets/javascripts/discourse/components/topic-presence-display.gjs
  plugins/discourse-presence/assets/javascripts/discourse/services/composer-presence-manager.js
Labels: chat

#30123 DEV: update more deprecated font awesome icon names
  app/assets/javascripts/discourse/app/components/group-card-contents.js
  app/assets/javascripts/discourse/tests/acceptance/group-manage-email-settings-test.js
  app/assets/javascripts/discourse/tests/acceptance/search-full-test.js
  app/assets/javascripts/discourse/tests/fixtures/badges-fixture.js
  app/assets/javascripts/discourse/tests/fixtures/group-fixtures.js
  app/assets/javascripts/discourse/tests/fixtures/user-fixtures.js
  app/assets/javascripts/discourse/tests/integration/components/user-avatar-flair-test.js
  app/assets/javascripts/discourse/tests/integration/components/widgets/avatar-flair-test.js
  app/models/badge.rb
  app/views/users/omniauth_callbacks/confirm_request.html.erb
  db/fixtures/006_badges.rb
  db/migrate/20241205035402_change_default_for_badges_icon.rb
  plugins/chat/assets/javascripts/discourse/components/chat-message.gjs
  plugins/chat/plugin.rb
  spec/lib/svg_sprite/svg_sprite_spec.rb
Labels: chat

#30124 FIX: improve chat channel sorting for DMs
  plugins/chat/assets/javascripts/discourse/components/chat-channel-metadata.gjs
  plugins/chat/assets/javascripts/discourse/models/chat-channel.js
  plugins/chat/assets/javascripts/discourse/services/chat-channels-manager.js
  plugins/chat/spec/system/list_channels/drawer_spec.rb
Labels: chat

#30127 UX: make channel name bold for unread threads
  plugins/chat/assets/javascripts/discourse/components/chat-channel-row.gjs
Labels: chat

#30125 UX: Move revoked API key status to dedicated column
  app/assets/javascripts/admin/addon/templates/api-keys-index.hbs
  app/assets/stylesheets/common/admin/admin_table.scss
  app/assets/stylesheets/common/admin/api.scss
  config/locales/client.en.yml
Labels: i18n

#30126 DEV: adds default option to form-kit select
  app/assets/javascripts/discourse/app/form-kit/components/fk/control/select.gjs
  app/assets/javascripts/discourse/tests/integration/components/create-invite-test.gjs
  app/assets/javascripts/discourse/tests/integration/components/form-kit/controls/select-test.gjs
  config/locales/client.en.yml
Labels: i18n

#30142 DEV: Drop `experimental_topics_filter` site setting take 2
  config/locales/server.en.yml
  config/site_settings.yml
  db/migrate/20241206002425_drop_experimental_topics_filter_site_setting.rb
Labels: i18n

#30152 UX: fix channel name style for unread threads
  plugins/chat/assets/javascripts/discourse/components/chat-channel-row.gjs
Labels: chat

#30157 DEV: Add workaround for chrome crash
  plugins/chat/assets/javascripts/discourse/lib/chat-message-interactor.js
Labels: chat

#30158 FIX: lower thread panel min-width
  plugins/chat/assets/stylesheets/desktop/chat-side-panel.scss
Labels: chat

#30163 DEV: Update more deprecated Font Awesome icon names
  app/assets/javascripts/admin/addon/components/admin-flags-form.gjs
  app/assets/javascripts/admin/addon/components/themes-grid-card.gjs
  app/assets/javascripts/admin/addon/components/version-checks.hbs
  app/assets/javascripts/admin/addon/templates/user-index.hbs
  app/assets/javascripts/discourse/app/components/post/menu/buttons/read.gjs
  app/assets/javascripts/discourse/app/components/post/menu/buttons/show-more.gjs
  plugins/chat/admin/assets/javascripts/admin/components/admin-chat-incoming-webhooks-list.gjs
  plugins/poll/plugin.rb
Labels: chat

#29981 FEATURE: Restrict profile visibility of low-trust users
  lib/guardian/user_guardian.rb
  plugins/chat/spec/system/user_profile_spec.rb
  spec/lib/guardian/user_guardian_spec.rb
  spec/requests/list_controller_spec.rb
  spec/requests/posts_controller_spec.rb
  spec/requests/user_actions_controller_spec.rb
  spec/requests/user_badges_controller_spec.rb
  spec/requests/users_controller_spec.rb
  spec/serializers/user_serializer_spec.rb
Labels: chat

#29993 FEATURE: Add an option to block IPs and emails to bulk user delete
  app/assets/javascripts/admin/addon/components/bulk-user-delete-confirmation.gjs
  app/controllers/admin/users_controller.rb
  app/services/user/bulk_destroy.rb
  config/locales/client.en.yml
  spec/requests/admin/users_controller_spec.rb
  spec/system/admin_users_list_spec.rb
  spec/system/page_objects/modals/bulk_user_delete_confirmation.rb
Labels: i18n

#30180 FIX: chat channel sort order consistency in sidebar
  plugins/chat/assets/javascripts/discourse/components/channels-list-public.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/drawer-routes/channels.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/routes/channels.gjs
  plugins/chat/assets/javascripts/discourse/services/chat-channels-manager.js
  plugins/chat/spec/system/list_channels/sidebar_spec.rb
Labels: chat

#30196 UX: Copy for feature feed toggle
  app/assets/javascripts/admin/addon/components/dashboard-new-feature-item.gjs
  config/locales/client.en.yml
Labels: i18n

#30197 FEATURE: add support for "Flagged By" filter in reviewable
  app/assets/javascripts/discourse/app/controllers/review-index.js
  app/assets/javascripts/discourse/app/routes/review-index.js
  app/assets/javascripts/discourse/app/templates/review-index.hbs
  app/controllers/reviewables_controller.rb
  app/models/reviewable.rb
  config/locales/client.en.yml
  spec/requests/reviewables_controller_spec.rb
Labels: i18n

#30131 DEV: Upgrade dependencies to Ember 5.12
  .prettierignore
  app/assets/javascripts/admin/package.json
  app/assets/javascripts/discourse-common/addon/deprecation-workflow.js
  app/assets/javascripts/discourse-common/package.json
  app/assets/javascripts/discourse-widget-hbs/package.json
  app/assets/javascripts/discourse/app/initializers/deprecation-this-property-fallback-handler.js
  app/assets/javascripts/discourse/app/instance-initializers/component-templates.js
  app/assets/javascripts/discourse/app/lib/source-identifier.js
  app/assets/javascripts/discourse/ember-cli-build.js
  app/assets/javascripts/discourse/package.json
  app/assets/javascripts/discourse/tests/integration/component-templates-test.gjs
  app/assets/javascripts/discourse/tests/unit/lib/ember-action-modifer-test.js
  app/assets/javascripts/discourse/tests/unit/lib/ember-events-test.js
  app/assets/javascripts/ember-production-deprecations/index.js
  app/assets/javascripts/ember-production-deprecations/package.json
  app/assets/javascripts/ember-production-deprecations/vendor/ember-production-deprecations/deprecate-shim.js
  app/assets/javascripts/float-kit/package.json
  app/assets/javascripts/pretty-text/package.json
  app/assets/javascripts/select-kit/package.json
  app/assets/javascripts/theme-transpiler/package.json
  app/models/theme.rb
  package.json
  patches/ember-source@5.12.0.patch
  plugins/chat/assets/javascripts/discourse/components/chat-composer.hbs
  pnpm-lock.yaml
  pnpm-workspace.yaml
  spec/lib/discourse_js_processor_spec.rb
  spec/system/ember_deprecation_spec.rb
Labels: chat

#30194 UX: Hide admin header for edit/new webhook
  plugins/chat/admin/assets/javascripts/admin/components/admin-chat-incoming-webhooks-list.gjs
  plugins/chat/admin/assets/javascripts/admin/components/chat-incoming-webhook-edit-form.gjs
  plugins/chat/admin/assets/javascripts/discourse/routes/admin-plugins-show-discourse-chat-incoming-webhooks-edit.js
  plugins/chat/admin/assets/javascripts/discourse/templates/admin-plugins/show/discourse-chat-incoming-webhooks/edit.hbs
  plugins/chat/app/controllers/chat/admin/incoming_webhooks_controller.rb
  plugins/chat/assets/javascripts/discourse/admin-chat-route-map.js
  plugins/chat/plugin.rb
  plugins/chat/spec/system/admin/incoming_webhooks_spec.rb
Labels: chat

#29679 UX: Rename private to personal messages in the interface
  config/locales/client.en.yml
  config/locales/server.en.yml
  plugins/automation/config/locales/client.en.yml
  plugins/chat/config/locales/server.en.yml
  plugins/discourse-narrative-bot/config/locales/server.en.yml
Labels: chat, i18n

#30237 FIX: Link to group didn't work in locales other than English
  plugins/discourse-narrative-bot/config/locales/server.en.yml
  plugins/discourse-narrative-bot/lib/discourse_narrative_bot/new_user_narrative.rb
  plugins/discourse-narrative-bot/spec/discourse_narrative_bot/new_user_narrative_spec.rb
Labels: i18n

#30128 DEV: Improve services debugging
  lib/service/base.rb
  lib/service/runner.rb
  lib/service/steps_inspector.rb
  plugins/chat/plugin.rb
  plugins/chat/spec/fabricators/chat_fabricator.rb
  plugins/chat/spec/plugin_helper.rb
  spec/lib/service/steps_inspector_spec.rb
  spec/support/service_matchers.rb
Labels: chat

#30161 Switch the glimmer post menu to auto and unsilence deprecations
  app/assets/javascripts/discourse-common/addon/deprecation-workflow.js
  app/assets/javascripts/discourse/app/lib/plugin-api.gjs
  app/assets/javascripts/discourse/app/widgets/post.js
  app/assets/javascripts/discourse/tests/acceptance/keyboard-shortcuts-test.js
  app/serializers/current_user_serializer.rb
  config/site_settings.yml
  db/migrate/20241211030039_remove_glimmer_post_menu_groups_setting.rb
Labels: ⚠ DO NOT MERGE

#30232 FIX: Show validation error on confirmation user fields
  app/assets/javascripts/discourse/app/components/user-fields/confirm.hbs
  app/assets/javascripts/discourse/app/mixins/user-fields-validation.js
  app/assets/javascripts/discourse/tests/acceptance/create-account-user-fields-test.js
  config/locales/client.en.yml
Labels: i18n

#30228 DEV: Unify params access in services
  lib/service/base.rb
  plugins/chat/app/services/chat/create_message.rb
  plugins/chat/app/services/chat/update_channel.rb
  spec/lib/service_spec.rb
Labels: chat

#30266 DEV: removes sidebar-extensions css
  plugins/chat/assets/stylesheets/common/index.scss
  plugins/chat/assets/stylesheets/common/sidebar-extensions.scss
  plugins/chat/assets/stylesheets/desktop/base-desktop.scss
  plugins/chat/assets/stylesheets/desktop/index.scss
  plugins/chat/assets/stylesheets/desktop/sidebar-extensions.scss
Labels: chat

#30264 DEV: Add spec to ensure banned phrases do not occur in en translations
  config/locales/client.en.yml
  config/locales/server.en.yml
  script/i18n_lint.rb
Labels: i18n

#30273 DEV: skip flaky chat specs
  plugins/chat/spec/lib/chat/duplicate_message_validator_spec.rb
Labels: chat

#30300 FIX: add server-side limit for DM channels
  plugins/chat/lib/chat/channel_fetcher.rb
  plugins/chat/spec/lib/chat/channel_fetcher_spec.rb
Labels: chat

#30298 DEV: replaces topic-notifications-options by DMenu
  app/assets/javascripts/discourse/app/components/category-notifications-tracking.gjs
  app/assets/javascripts/discourse/app/components/d-modal.gjs
  app/assets/javascripts/discourse/app/components/d-navigation.hbs
  app/assets/javascripts/discourse/app/components/group-notifications-tracking.gjs
  app/assets/javascripts/discourse/app/components/notifications-tracking.gjs
  app/assets/javascripts/discourse/app/components/tag-notifications-tracking.gjs
  app/assets/javascripts/discourse/app/components/topic-notifications-tracking.gjs
  app/assets/javascripts/discourse/app/templates/user-private-messages-group.hbs
  app/assets/javascripts/discourse/tests/acceptance/tags-test.js
  app/assets/javascripts/discourse/tests/acceptance/topic-notifications-button-test.js
  app/assets/javascripts/discourse/tests/acceptance/user-private-messages-test.js
  app/assets/javascripts/discourse/tests/helpers/notifications-tracking-assertions.js
  app/assets/javascripts/discourse/tests/helpers/notifications-tracking-helper.js
  app/assets/javascripts/discourse/tests/helpers/qunit-helpers.js
  app/assets/javascripts/discourse/tests/integration/components/notifications-tracking-test.gjs
  app/assets/javascripts/discourse/tests/integration/components/select-kit/topic-notifications-button-test.gjs
  app/assets/javascripts/discourse/tests/integration/components/select-kit/topic-notifications-options-test.gjs
  app/assets/javascripts/float-kit/addon/components/d-menu.gjs
  app/assets/javascripts/float-kit/addon/modifiers/close-on-escape.js
  app/assets/javascripts/select-kit/addon/components/category-notifications-button.js
  app/assets/javascripts/select-kit/addon/components/topic-notifications-button.gjs
  app/assets/stylesheets/common/components/_index.scss
  app/assets/stylesheets/common/components/notifications-tracking.scss
  app/assets/stylesheets/common/float-kit/d-menu.scss
  app/assets/stylesheets/common/select-kit/topic-notifications-button.scss
  app/assets/stylesheets/mobile/user.scss
  plugins/automation/admin/assets/javascripts/admin/components/fields/da-category-notification-level-field.gjs
  plugins/automation/test/javascripts/integration/components/da-category-notification-level-field-test.js
  plugins/chat/assets/javascripts/discourse/components/chat-thread-tracking-dropdown.js
  plugins/chat/assets/javascripts/discourse/components/chat/navbar/thread-tracking-dropdown.gjs
  plugins/chat/assets/javascripts/discourse/components/thread-notifications-tracking.gjs
  plugins/chat/assets/javascripts/select-kit/addons/components/thread-notifications-button.js
  plugins/chat/spec/system/page_objects/chat/chat_thread.rb
  plugins/styleguide/assets/javascripts/discourse/components/sections/atoms/dropdowns.hbs
  spec/system/page_objects/components/notifications_tracking.rb
  spec/system/page_objects/components/topic_view.rb
  spec/system/page_objects/pages/topic.rb
  spec/system/tag_notification_level_spec.rb
Labels: chat

#30291 UX: display groups link when disabled group directory
  app/assets/javascripts/discourse/app/lib/sidebar/admin-sidebar.js
  config/locales/client.en.yml
  spec/system/admin_sidebar_navigation_spec.rb
Labels: i18n

#30295 FEATURE: Reason and deleted content support in the review queue
  app/assets/javascripts/discourse/app/components/reviewable-item.js
  app/assets/javascripts/discourse/app/controllers/review-index.js
  app/assets/javascripts/discourse/app/routes/review-index.js
  app/assets/javascripts/discourse/app/templates/review-index.hbs
  app/assets/stylesheets/common/base/reviewables.scss
  app/controllers/reviewables_controller.rb
  app/models/reviewable.rb
  app/models/reviewable_score.rb
  app/serializers/reviewable_flagged_post_serializer.rb
  app/serializers/reviewable_score_type_serializer.rb
  config/locales/client.en.yml
  spec/requests/reviewables_controller_spec.rb
Labels: i18n

#30326 DEV: Remove empty `beforeEach` hooks
  app/assets/javascripts/discourse/tests/integration/components/admin-config-area-card-test.gjs
  plugins/chat/test/javascripts/components/chat-header-icon-test.js
Labels: chat

#30146 DEV: Introduce <DPageHeader /> and <DPageSubheader /> components
  app/assets/javascripts/admin/addon/components/admin-config-areas/look-and-feel-themes.gjs
  app/assets/javascripts/admin/addon/components/admin-page-action-button.gjs
  app/assets/javascripts/admin/addon/components/admin-plugin-config-page.gjs
  app/assets/javascripts/admin/addon/components/admin-section-landing-item.gjs
  app/assets/javascripts/admin/addon/templates/admin-badges.hbs
  app/assets/javascripts/admin/addon/templates/backups-index.hbs
  app/assets/javascripts/admin/addon/templates/backups.hbs
  app/assets/javascripts/admin/addon/templates/config-about.hbs
  app/assets/javascripts/admin/addon/templates/config-flags.hbs
  app/assets/javascripts/admin/addon/templates/config-look-and-feel.hbs
  app/assets/javascripts/admin/addon/templates/dashboard.hbs
  app/assets/javascripts/admin/addon/templates/emojis.hbs
  app/assets/javascripts/admin/addon/templates/permalinks-index.hbs
  app/assets/javascripts/admin/addon/templates/plugins-index.hbs
  app/assets/javascripts/admin/addon/templates/plugins.hbs
  app/assets/javascripts/admin/addon/templates/section-account.hbs
  app/assets/javascripts/admin/addon/templates/user-fields.hbs
  app/assets/javascripts/admin/addon/templates/users-list-show.hbs
  app/assets/javascripts/admin/addon/templates/users-list.hbs
  app/assets/javascripts/admin/addon/templates/whats-new.hbs
  app/assets/javascripts/discourse/app/components/d-page-action-button.gjs
  app/assets/javascripts/discourse/app/components/d-page-header.gjs
  app/assets/javascripts/discourse/app/components/d-page-subheader.gjs
  app/assets/javascripts/discourse/app/lib/plugin-api.gjs
  app/assets/javascripts/discourse/tests/acceptance/admin-users-list-test.js
  app/assets/javascripts/discourse/tests/integration/components/admin-page-subheader-test.gjs
  app/assets/javascripts/discourse/tests/integration/components/d-page-header-test.gjs
  app/assets/javascripts/discourse/tests/integration/components/d-page-subheader-test.gjs
  app/assets/stylesheets/common/admin/badges.scss
  app/assets/stylesheets/common/admin/customize.scss
  app/assets/stylesheets/common/admin/plugins.scss
  app/assets/stylesheets/common/components/_index.scss
  app/assets/stylesheets/common/components/d-page-header.scss
  plugins/chat/admin/assets/javascripts/discourse/templates/admin-plugins/show/discourse-chat-incoming-webhooks/index.hbs
  plugins/chat/spec/system/admin/incoming_webhooks_spec.rb
  spec/system/admin_flags_spec.rb
  spec/system/admin_user_fields_spec.rb
  spec/system/page_objects/components/admin_header.rb
  spec/system/page_objects/components/d_page_header.rb
  spec/system/page_objects/pages/admin_plugins_list.rb
  spec/system/page_objects/pages/admin_user_fields.rb
Labels: chat

#30338 DEV: Run prettier correctly for bundled-plugin test directories
  package.json
  plugins/chat/test/javascripts/components/chat-channel-leave-btn-test.js
  plugins/chat/test/javascripts/components/chat-channel-status-test.js
  plugins/chat/test/javascripts/components/chat-composer-placeholder-test.js
  plugins/chat/test/javascripts/components/chat-composer-upload-test.js
  plugins/chat/test/javascripts/components/chat-message-left-gutter-test.js
  plugins/chat/test/javascripts/components/chat-retention-reminder-test.js
  plugins/chat/test/javascripts/components/chat-retention-reminder-text-test.js
  plugins/discourse-local-dates/test/javascripts/acceptance/download-calendar-test.js
  plugins/discourse-local-dates/test/javascripts/unit/local-date-builder-test.js
  plugins/poll/test/javascripts/acceptance/poll-builder-enabled-test.js
  plugins/poll/test/javascripts/component/poll-options-test.js
Labels: chat

#30341 UX: Apply admin table to Automation settings page
  plugins/automation/admin/assets/javascripts/admin/templates/admin-plugins-discourse-automation-index.hbs
  plugins/automation/admin/assets/javascripts/admin/templates/admin-plugins-discourse-automation.hbs
  plugins/automation/assets/stylesheets/common/discourse-automation.scss
  plugins/automation/config/locales/client.en.yml
Labels: i18n

#30375 DEV: Introduce new 'glimmer topic list mode' site setting
  app/assets/javascripts/discourse/app/components/basic-topic-list.hbs
  app/assets/javascripts/discourse/app/components/basic-topic-list.js
  app/assets/javascripts/discourse/app/components/categories-topic-list.hbs
  app/assets/javascripts/discourse/app/components/discovery/topics.hbs
  app/assets/javascripts/discourse/app/components/new-list-header-controls-wrapper.gjs
  app/assets/javascripts/discourse/app/components/parent-category-row.hbs
  app/assets/javascripts/discourse/app/models/site.js
  app/assets/javascripts/discourse/app/models/user.js
  app/serializers/current_user_serializer.rb
  config/locales/server.en.yml
  config/site_settings.yml
  plugins/styleguide/assets/javascripts/discourse/components/sections/molecules/topic-list-item.hbs
  spec/system/topic_list/glimmer_spec.rb
Labels: i18n

#30365 UX: Admin sidebar link changes
  app/assets/javascripts/discourse/app/lib/sidebar/admin-nav-map.js
  app/assets/javascripts/discourse/app/lib/sidebar/admin-sidebar.js
  app/assets/javascripts/discourse/tests/acceptance/admin-sidebar-section-test.js
  config/locales/client.en.yml
  spec/system/admin_sidebar_navigation_spec.rb
Labels: i18n

#30393 UX: Site setting filter background inconsistencies
  app/assets/stylesheets/common/admin/admin_config_area.scss
  app/assets/stylesheets/common/admin/site-settings.scss
  config/locales/client.en.yml
Labels: i18n

#30400 DEV: Remove unnecessary optional chaining operators
  app/assets/javascripts/discourse/app/components/modal/history.js
  app/assets/javascripts/discourse/app/lib/uppy/uppy-upload.js
  plugins/chat/assets/javascripts/discourse/services/chat-drafts-manager.js
  plugins/chat/assets/javascripts/discourse/services/chat-guardian.js
Labels: chat

#30403 FIX: better handle race condition when a channel is deleted
  plugins/chat/plugin.rb
Labels: chat

#30407 DEV: Use object spread instead of Object.assign
  app/assets/javascripts/discourse-common/addon/lib/object.js
  app/assets/javascripts/discourse/app/lib/formatter.js
  app/assets/javascripts/discourse/app/lib/keyboard-shortcuts.js
  app/assets/javascripts/discourse/app/models/group.js
  app/assets/javascripts/discourse/tests/acceptance/composer-test.js
  plugins/chat/assets/javascripts/discourse/components/chat-channel.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-thread.gjs
  plugins/chat/assets/javascripts/discourse/lib/fabricators.js
  plugins/poll/assets/javascripts/discourse/components/poll.gjs
Labels: chat

#30415 DEV: Unify on-resize modifier situation
  app/assets/javascripts/discourse/app/components/horizontal-overflow-nav.hbs
  app/assets/javascripts/discourse/app/components/horizontal-overflow-nav.js
  app/assets/javascripts/discourse/app/modifiers/on-resize.js
  app/assets/javascripts/discourse/package.json
  plugins/chat/assets/javascripts/discourse/components/chat-messages-container.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/navbar/index.gjs
  pnpm-lock.yaml
Labels: chat

#30436 FEATURE: Unhide 'suppress_secured_categories_from_admin' setting
  config/locales/server.en.yml
  config/site_settings.yml
Labels: i18n

#30439 DEV: no services are used in this component
  plugins/chat/assets/javascripts/discourse/components/chat-channel-unread-indicator.gjs
Labels: chat

#30438 DEV: uses capybara helper has_field
  plugins/chat/spec/system/chat_composer_draft_spec.rb
  plugins/chat/spec/system/page_objects/chat/components/composer.rb
Labels: chat

#30441 DEV: correct test to visit category channel and not DM
  plugins/chat/spec/system/visit_channel_spec.rb
Labels: chat

#30444 DEV: waits for mark_read! to be applied
  plugins/chat/spec/system/list_channels/drawer_spec.rb
Labels: chat

#30447 UX: Remove chat hover effect from github status badge
  plugins/chat/assets/stylesheets/desktop/base-desktop.scss
Labels: chat

#30442 DEV: Don't use 0-delay for test-env discourseLater
  app/assets/javascripts/discourse/app/components/composer-editor.js
  app/assets/javascripts/discourse/app/components/topic-progress.js
  plugins/chat/assets/javascripts/discourse/services/chat-emoji-picker-manager.js
Labels: chat

#30450 UX: Remove rounded borders from full screen chat channel
  plugins/chat/assets/stylesheets/desktop/base-desktop.scss
Labels: chat

#30451 DEV: fixes safari bug with content including linebreaks
  plugins/chat/assets/stylesheets/common/chat-composer.scss
Labels: chat

#30433 FEATURE: support adobe analytics tags tracking
  app/helpers/common_helper.rb
  app/views/layouts/application.html.erb
  app/views/layouts/publish.html.erb
  config/locales/server.en.yml
  config/site_settings.yml
Labels: i18n

#30490 DEV: simplify restore message spec
  plugins/chat/spec/system/thread_list/full_page_spec.rb
Labels: chat

#30485 DEV: Ensure all site settings have a keyword entry
  config/locales/server.en.yml
  lefthook.yml
  lib/tasks/site_settings.rake
  spec/lib/site_setting_extension_spec.rb
Labels: i18n

#30471 FEATURE: Add option to hide full name input at signup
  app/assets/javascripts/discourse/app/components/fullname-input.gjs
  app/assets/javascripts/discourse/app/components/modal/create-account.hbs
  app/assets/javascripts/discourse/app/components/modal/create-account.js
  app/assets/javascripts/discourse/app/controllers/invites-show.js
  app/assets/javascripts/discourse/app/controllers/preferences/account.js
  app/assets/javascripts/discourse/app/controllers/signup.js
  app/assets/javascripts/discourse/app/mixins/name-validation.js
  app/assets/javascripts/discourse/app/templates/invites/show.hbs
  app/assets/javascripts/discourse/app/templates/signup.hbs
  app/assets/javascripts/discourse/tests/acceptance/create-account-test.js
  app/assets/javascripts/discourse/tests/acceptance/invite-accept-test.js
  app/assets/javascripts/discourse/tests/fixtures/site-fixtures.js
  app/models/full_name_requirement.rb
  app/serializers/site_serializer.rb
  app/services/user_anonymizer.rb
  config/locales/client.en.yml
  config/locales/server.en.yml
  config/site_settings.yml
  db/migrate/20241224191732_change_full_name_required_setting.rb
  lib/discourse_dev/config.rb
  lib/tasks/admin.rake
  lib/validators/user_full_name_validator.rb
  spec/lib/validators/user_full_name_validator_spec.rb
  spec/requests/api/schemas/json/site_response.json
  spec/services/anonymous_shadow_creator_spec.rb
  spec/services/user_anonymizer_spec.rb
  spec/system/social_authentication_spec.rb
Labels: i18n

#30501 DEV: Fix build
  config/locales/server.en.yml
Labels: i18n

#30508 FEATURE: allow disabling of anti spam profile hiding feature
  config/locales/server.en.yml
  config/site_settings.yml
  lib/guardian/user_guardian.rb
  spec/lib/guardian/user_guardian_spec.rb
Labels: i18n
