Repository discourse/discourse, pull requests merged in 2024-06, with the labels that each got.

#27236 FEATURE: Allow "move to inbox" and "move to archive" for private messages using new bulk topic dropdown
  app/assets/javascripts/discourse/app/components/bulk-select-topics-dropdown.gjs
  app/assets/javascripts/discourse/app/components/modal/bulk-topic-actions.gjs
  app/assets/javascripts/discourse/tests/integration/components/bulk-select-topics-dropdown-test.js
  config/locales/client.en.yml
  spec/fabricators/topic_fabricator.rb
  spec/system/topic_bulk_select_spec.rb
Labels: i18n

#27014 FIX: chat direct message group user limit is off by 1
  plugins/chat/app/controllers/chat/api/channels_memberships_controller.rb
  plugins/chat/app/services/chat/add_users_to_channel.rb
  plugins/chat/assets/javascripts/discourse/components/chat/message-creator/add-members.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/message-creator/new-group.gjs
  plugins/chat/spec/services/chat/add_users_to_channel_spec.rb
  plugins/chat/spec/system/chat_message_creator_spec.rb
Labels: chat

#27306 FIX: Lazy TikTok embeds height in chat
  plugins/chat/assets/stylesheets/common/chat-message-images.scss
Labels: chat

#27314 FEATURE: Allow site admin to mark a user's password as expired
  app/controllers/session_controller.rb
  app/controllers/users_controller.rb
  app/models/user.rb
  app/models/user_password.rb
  app/services/user_password_expirer.rb
  config/locales/server.en.yml
  db/migrate/20240603234529_create_user_passwords.rb
  lib/validators/password_validator.rb
  spec/fabricators/user_password_fabricator.rb
  spec/lib/validators/password_validator_spec.rb
  spec/models/user_password_spec.rb
  spec/requests/session_controller_spec.rb
  spec/services/user_password_expirer_spec.rb
  spec/system/login_spec.rb
Labels: i18n

#27316 UX: Use regular reset-password flow for expired passwords
  app/assets/javascripts/discourse/app/components/modal/login.hbs
  app/assets/javascripts/discourse/app/components/modal/login.js
  app/controllers/session_controller.rb
  config/locales/client.en.yml
  config/locales/server.en.yml
  spec/requests/session_controller_spec.rb
  spec/system/login_spec.rb
Labels: i18n

#27269 FEATURE: the ability to change the order of flags
  app/assets/javascripts/admin/addon/components/admin-flag-item.gjs
  app/assets/javascripts/admin/addon/components/admin-flags.gjs
  app/assets/javascripts/discourse/app/lib/constants.js
  app/assets/stylesheets/common/admin/flags.scss
  app/assets/stylesheets/mobile/_index.scss
  app/assets/stylesheets/mobile/admin_flags.scss
  app/controllers/admin/config/flags_controller.rb
  app/models/flag.rb
  app/models/post_action_type.rb
  app/services/reorder_flag.rb
  app/services/toggle_flag.rb
  config/locales/client.en.yml
  config/locales/server.en.yml
  config/routes.rb
  db/fixtures/003_flags.rb
  lib/guardian/flag_guardian.rb
  lib/tasks/javascript.rake
  spec/lib/guardian/flag_guardian_spec.rb
  spec/services/reorder_flag_spec.rb
  spec/system/admin_flags_spec.rb
  spec/system/page_objects/pages/admin_flags.rb
Labels: i18n, staff-experience

#27341 UX: Streamline reset password page
  app/assets/javascripts/discourse/app/components/header/auth-buttons.gjs
  app/assets/javascripts/discourse/app/components/header/icons.gjs
  app/assets/javascripts/discourse/app/controllers/password-reset.js
  app/assets/javascripts/discourse/app/helpers/hide-application-header-buttons.js
  app/assets/javascripts/discourse/app/mixins/password-validation.js
  app/assets/javascripts/discourse/app/services/header.js
  app/assets/javascripts/discourse/app/templates/password-reset.hbs
  app/assets/javascripts/discourse/app/widgets/header.js
  app/assets/javascripts/discourse/tests/acceptance/password-reset-test.js
  app/assets/javascripts/discourse/tests/unit/components/create-account-test.js
  app/assets/stylesheets/common/base/login.scss
  app/controllers/users_controller.rb
  config/locales/client.en.yml
  config/locales/server.en.yml
  spec/system/header_spec.rb
  spec/system/legacy_widget_header_spec.rb
  spec/system/login_spec.rb
Labels: i18n

#27342 FIX: Pluralisation for short password count
  app/assets/javascripts/discourse/app/mixins/password-validation.js
  app/assets/javascripts/discourse/tests/acceptance/password-reset-test.js
  app/assets/javascripts/discourse/tests/unit/components/create-account-test.js
  config/locales/client.en.yml
Labels: i18n

#27307 DEV: Improve user generic bulk importer anonymization
  script/bulk_import/generic_bulk.rb
Labels: migrations-tooling

#27346 FEATURE: load chat channel settings within drawer
  plugins/chat/assets/javascripts/discourse/components/chat/drawer-routes/members.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/drawer-routes/settings.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/modal/edit-channel-name.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/routes/channel-info-nav.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/routes/channel-info.gjs
  plugins/chat/assets/javascripts/discourse/routes/chat.js
  plugins/chat/assets/javascripts/discourse/services/chat-channels-manager.js
  plugins/chat/assets/javascripts/discourse/services/chat-drawer-router.js
  plugins/chat/assets/stylesheets/desktop/chat-index-drawer.scss
  plugins/chat/spec/system/drawer_spec.rb
  plugins/chat/spec/system/page_objects/chat_drawer/chat_drawer.rb
Labels: chat

#27340 DEV: Initial UI for admin config area for /about
  app/assets/javascripts/admin/addon/components/admin-config-area-card.gjs
  app/assets/javascripts/admin/addon/components/admin-config-area-cards/about/contact-information.gjs
  app/assets/javascripts/admin/addon/components/admin-config-area-cards/about/general-settings.gjs
  app/assets/javascripts/admin/addon/components/admin-config-area-cards/about/your-organization.gjs
  app/assets/javascripts/admin/addon/components/admin-config-areas/about.gjs
  app/assets/stylesheets/common/admin/admin_config_area.scss
  config/locales/client.en.yml
Labels: i18n

#27381 DEV: prevent duplication of chat drawer routes
  plugins/chat/assets/javascripts/discourse/routes/chat.js
  plugins/chat/assets/javascripts/discourse/services/chat-drawer-router.js
Labels: chat

#27332 FEATURE: Add Filter for Webhook Events by Status
  app/assets/javascripts/admin/addon/adapters/web-hook-event.js
  app/assets/javascripts/admin/addon/components/webhook-events.hbs
  app/assets/javascripts/admin/addon/components/webhook-events.js
  app/assets/javascripts/admin/addon/controllers/admin-web-hooks-show.js
  app/assets/javascripts/admin/addon/templates/web-hooks-show.hbs
  app/assets/stylesheets/common/admin/api.scss
  app/controllers/admin/web_hooks_controller.rb
  app/models/web_hook_event.rb
  config/locales/client.en.yml
  spec/fabricators/web_hook_event_fabricator.rb
  spec/requests/admin/web_hooks_controller_spec.rb
  spec/system/admin_web_hook_events_spec.rb
  spec/system/page_objects/pages/admin_web_hook_events.rb
Labels: i18n

#27304 DEV: Introduce hidden s3_inventory_bucket site setting
  app/jobs/regular/update_s3_inventory.rb
  app/jobs/scheduled/ensure_s3_uploads_existence.rb
  config/initializers/014-track-setting-changes.rb
  config/locales/server.en.yml
  config/site_settings.yml
  lib/file_store/s3_store.rb
  lib/s3_helper.rb
  lib/s3_inventory.rb
  lib/site_settings/validations.rb
  spec/jobs/ensure_s3_uploads_existence_spec.rb
  spec/jobs/update_s3_inventory_spec.rb
  spec/lib/s3_inventory_multisite_spec.rb
  spec/lib/s3_inventory_spec.rb
Labels: i18n

#27386 PERF: fix performance of chat email notifications
  plugins/chat/app/models/chat/direct_message_channel.rb
  plugins/chat/app/models/chat/mention_notification.rb
  plugins/chat/app/views/user_notifications/chat_summary.html.erb
  plugins/chat/app/views/user_notifications/chat_summary.text.erb
  plugins/chat/config/locales/server.en.yml
  plugins/chat/lib/chat/mailer.rb
  plugins/chat/lib/chat/user_email_extension.rb
  plugins/chat/lib/chat/user_notifications_extension.rb
  plugins/chat/plugin.rb
  plugins/chat/spec/components/chat/mailer_spec.rb
  plugins/chat/spec/fabricators/chat_fabricator.rb
  plugins/chat/spec/mailers/user_notifications_spec.rb
Labels: chat, i18n

#27385 UX: make chat drawer settings page full height
  plugins/chat/assets/javascripts/discourse/components/chat/routes/channel-info-settings.gjs
  plugins/chat/assets/stylesheets/common/chat-drawer.scss
Labels: chat

#27326 UX: Show message and chat buttons on hidden profiles
  app/serializers/hidden_profile_serializer.rb
  plugins/chat/plugin.rb
  plugins/chat/spec/requests/core_ext/users_controller_spec.rb
  spec/requests/users_controller_spec.rb
Labels: chat

#27402 FIX: correctly load channels in chat webhooks
  plugins/chat/assets/javascripts/discourse/routes/admin-plugins-chat.js
  plugins/chat/plugin.rb
  plugins/chat/spec/plugin_spec.rb
  plugins/chat/spec/requests/chat/admin/incoming_webhooks_controller_spec.rb
Labels: chat

#27414 DEV: new chat from url flaky test fix
  plugins/chat/spec/system/chat_new_message_spec.rb
Labels: chat

#27457 FIX: Check for textarea presence
  plugins/chat/assets/javascripts/discourse/services/chat-channel-composer.js
Labels: chat

#27462 FIX: Don't modify `FloatKitInstance`s arrays unless needed
  app/assets/javascripts/float-kit/addon/services/menu.js
  app/assets/javascripts/float-kit/addon/services/tooltip.js
  plugins/chat/test/javascripts/acceptance/chat-channel-reactions-test.js
Labels: chat

#27465 DEV: Clean up chat-message-reaction
  plugins/chat/assets/javascripts/discourse/components/chat-message-reaction.gjs
Labels: chat

#27468 FEATURE: show my threads from muted chat channels
  plugins/chat/app/services/chat/lookup_user_threads.rb
  plugins/chat/spec/services/chat/lookup_user_threads_spec.rb
  plugins/chat/spec/system/chat_footer_spec.rb
Labels: chat

#27467 DEV: Minor refactor of chat models
  plugins/chat/assets/javascripts/discourse/models/chat-channel.js
  plugins/chat/assets/javascripts/discourse/models/chat-direct-message.js
  plugins/chat/assets/javascripts/discourse/models/chat-message-reaction.js
  plugins/chat/assets/javascripts/discourse/models/chat-message.js
  plugins/chat/assets/javascripts/discourse/models/chat-thread-preview.js
  plugins/chat/assets/javascripts/discourse/models/chat-tracking-state.js
  plugins/chat/assets/javascripts/discourse/models/user-chat-channel-membership.js
  plugins/chat/assets/javascripts/discourse/models/user-chat-thread-membership.js
Labels: chat

#27481 DEV: Allow fetching specific site settings and introduce a service for updating site settings
  app/controllers/admin/site_settings_controller.rb
  app/services/site_setting_update_existing_users.rb
  app/services/update_site_setting.rb
  config/locales/server.en.yml
  lib/site_setting_extension.rb
  spec/requests/admin/site_settings_controller_spec.rb
  spec/services/update_site_setting_spec.rb
Labels: i18n

#27111 FIX: Make edit categories sidebar modal work more intuitively
  app/assets/javascripts/discourse/app/components/sidebar/edit-navigation-menu/categories-modal.gjs
  app/assets/javascripts/discourse/app/models/category.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-user-categories-section-test.js
  app/controllers/categories_controller.rb
  app/models/category.rb
  config/locales/client.en.yml
  config/routes.rb
  spec/models/category_spec.rb
  spec/requests/categories_controller_spec.rb
  spec/system/editing_sidebar_categories_navigation_spec.rb
Labels: i18n

#27491 UX: Move user-cards above composer
  app/assets/stylesheets/common/foundation/variables.scss
  plugins/chat/assets/stylesheets/common/chat-drawer.scss
  plugins/chat/assets/stylesheets/desktop/base-desktop.scss
Labels: chat

#27273 DEV: Upgrade Rails to 7.1
  .licensed.yml
  Gemfile
  Gemfile.lock
  app/models/post_revision.rb
  app/models/reviewable.rb
  app/models/translation_override.rb
  app/models/user.rb
  app/services/staff_action_logger.rb
  config/application.rb
  config/environments/development.rb
  config/environments/test.rb
  config/initializers/100-logster.rb
  config/initializers/new_framework_defaults_7_0.rb
  config/initializers/new_framework_defaults_7_1.rb
  config/locales/server.en.yml
  lib/discourse.rb
  lib/hijack.rb
  lib/middleware/discourse_public_exceptions.rb
  lib/site_setting_extension.rb
  plugins/chat/app/models/chat/category_channel.rb
  plugins/chat/app/models/chat/direct_message_channel.rb
  plugins/chat/spec/system/visit_channel_spec.rb
  spec/fixtures/mmdb/mmdb.tar.gz
  spec/integration/invalid_request_spec.rb
  spec/lib/auth/default_current_user_provider_spec.rb
  spec/lib/email/message_builder_spec.rb
  spec/lib/hijack_spec.rb
  spec/lib/migration/safe_migrate_spec.rb
  spec/lib/site_setting_extension_spec.rb
  spec/models/admin_dashboard_data_spec.rb
  spec/models/user_spec.rb
  spec/rails_helper.rb
  spec/requests/application_controller_spec.rb
  spec/requests/categories_controller_spec.rb
  spec/requests/embed_controller_spec.rb
  spec/requests/session_controller_spec.rb
  spec/requests/uploads_controller_multisite_spec.rb
  spec/support/fake_logger.rb
  spec/support/i18n_helpers.rb
  spec/support/locales/dashboard.en.yml
  spec/support/locales/message_builder.en.yml
  spec/support/locales/problem_check.en.yml
Labels: chat, i18n

#27490 Update server.en.yml
  config/locales/server.en.yml
Labels: i18n

#27522 DEV: Revert rails 7.1 upgrade
  .licensed.yml
  Gemfile
  Gemfile.lock
  app/models/post_revision.rb
  app/models/reviewable.rb
  app/models/translation_override.rb
  app/models/user.rb
  app/services/staff_action_logger.rb
  config/application.rb
  config/environments/development.rb
  config/environments/test.rb
  config/initializers/002-rails_failover.rb
  config/initializers/100-logster.rb
  config/initializers/100-quiet_logger.rb
  config/initializers/100-silence_logger.rb
  config/initializers/101-lograge.rb
  config/initializers/102-truncate-logs.rb
  config/initializers/new_framework_defaults_7_0.rb
  config/initializers/new_framework_defaults_7_1.rb
  config/locales/server.en.yml
  lib/discourse.rb
  lib/hijack.rb
  lib/middleware/discourse_public_exceptions.rb
  lib/site_setting_extension.rb
  plugins/chat/app/models/chat/category_channel.rb
  plugins/chat/app/models/chat/direct_message_channel.rb
  plugins/chat/spec/system/visit_channel_spec.rb
  spec/fixtures/mmdb/mmdb.tar.gz
  spec/integration/invalid_request_spec.rb
  spec/lib/auth/default_current_user_provider_spec.rb
  spec/lib/email/message_builder_spec.rb
  spec/lib/hijack_spec.rb
  spec/lib/migration/safe_migrate_spec.rb
  spec/lib/site_setting_extension_spec.rb
  spec/models/admin_dashboard_data_spec.rb
  spec/models/user_spec.rb
  spec/rails_helper.rb
  spec/requests/application_controller_spec.rb
  spec/requests/categories_controller_spec.rb
  spec/requests/embed_controller_spec.rb
  spec/requests/session_controller_spec.rb
  spec/requests/uploads_controller_multisite_spec.rb
  spec/support/fake_logger.rb
  spec/support/i18n_helpers.rb
  spec/support/locales/dashboard.en.yml
  spec/support/locales/message_builder.en.yml
  spec/support/locales/problem_check.en.yml
Labels: chat, i18n

#27506 FEATURE: optional 2FA enforcement
  app/assets/javascripts/discourse/app/controllers/preferences/second-factor.js
  app/assets/javascripts/discourse/app/templates/preferences-second-factor.hbs
  app/controllers/users/omniauth_callbacks_controller.rb
  config/locales/client.en.yml
  config/locales/server.en.yml
  config/site_settings.yml
  lib/site_settings/validations.rb
  spec/lib/site_settings/validations_spec.rb
  spec/requests/omniauth_callbacks_controller_spec.rb
Labels: i18n, staff-experience

#27315 FEATURE: Introduce site settings which require confirmation
  app/assets/javascripts/admin/addon/mixins/setting-component.js
  app/assets/javascripts/discourse/app/lib/constants.js
  config/locales/client.en.yml
  config/site_settings.yml
  lib/site_setting_extension.rb
  lib/site_settings/type_supervisor.rb
  lib/tasks/javascript.rake
  spec/lib/site_setting_extension_spec.rb
  spec/system/admin_site_setting_requires_confirmation_spec.rb
  spec/system/admin_site_setting_search_spec.rb
  spec/system/emojis/emoji_deny_list_spec.rb
  spec/system/page_objects/pages/admin_site_settings.rb
Labels: i18n

#27547 FIX: do not force configure 2FA when OAuth and not enforced
  app/controllers/application_controller.rb
  app/controllers/users/omniauth_callbacks_controller.rb
  spec/requests/application_controller_spec.rb
  spec/requests/omniauth_callbacks_controller_spec.rb
Labels: staff-experience

#27539 DEV: Upgrade Rails to version 7.1
  .licensed.yml
  Gemfile
  Gemfile.lock
  app/models/post_revision.rb
  app/models/reviewable.rb
  app/models/translation_override.rb
  app/models/user.rb
  app/services/staff_action_logger.rb
  config/application.rb
  config/environments/development.rb
  config/environments/test.rb
  config/initializers/002-rails_failover.rb
  config/initializers/100-logster.rb
  config/initializers/100-quiet_logger.rb
  config/initializers/100-silence_logger.rb
  config/initializers/101-lograge.rb
  config/initializers/102-truncate-logs.rb
  config/initializers/new_framework_defaults_7_0.rb
  config/initializers/new_framework_defaults_7_1.rb
  config/locales/server.en.yml
  lib/discourse.rb
  lib/hijack.rb
  lib/middleware/discourse_public_exceptions.rb
  lib/site_setting_extension.rb
  plugins/chat/app/models/chat/category_channel.rb
  plugins/chat/app/models/chat/direct_message_channel.rb
  plugins/chat/spec/system/visit_channel_spec.rb
  spec/integration/invalid_request_spec.rb
  spec/lib/auth/default_current_user_provider_spec.rb
  spec/lib/email/message_builder_spec.rb
  spec/lib/hijack_spec.rb
  spec/lib/migration/safe_migrate_spec.rb
  spec/lib/site_setting_extension_spec.rb
  spec/models/admin_dashboard_data_spec.rb
  spec/models/user_spec.rb
  spec/rails_helper.rb
  spec/requests/application_controller_spec.rb
  spec/requests/categories_controller_spec.rb
  spec/requests/embed_controller_spec.rb
  spec/requests/session_controller_spec.rb
  spec/requests/uploads_controller_multisite_spec.rb
  spec/support/fake_logger.rb
  spec/support/i18n_helpers.rb
  spec/support/locales/dashboard.en.yml
  spec/support/locales/message_builder.en.yml
  spec/support/locales/problem_check.en.yml
Labels: chat, i18n

#27552 Revert "DEV: Upgrade Rails to version 7.1 (#27539)"
  .licensed.yml
  Gemfile
  Gemfile.lock
  app/models/post_revision.rb
  app/models/reviewable.rb
  app/models/translation_override.rb
  app/models/user.rb
  app/services/staff_action_logger.rb
  config/application.rb
  config/environments/development.rb
  config/environments/test.rb
  config/initializers/002-rails_failover.rb
  config/initializers/100-logster.rb
  config/initializers/100-quiet_logger.rb
  config/initializers/100-silence_logger.rb
  config/initializers/101-lograge.rb
  config/initializers/102-truncate-logs.rb
  config/initializers/new_framework_defaults_7_0.rb
  config/initializers/new_framework_defaults_7_1.rb
  config/locales/server.en.yml
  lib/discourse.rb
  lib/hijack.rb
  lib/middleware/discourse_public_exceptions.rb
  lib/site_setting_extension.rb
  plugins/chat/app/models/chat/category_channel.rb
  plugins/chat/app/models/chat/direct_message_channel.rb
  plugins/chat/spec/system/visit_channel_spec.rb
  spec/integration/invalid_request_spec.rb
  spec/lib/auth/default_current_user_provider_spec.rb
  spec/lib/email/message_builder_spec.rb
  spec/lib/hijack_spec.rb
  spec/lib/migration/safe_migrate_spec.rb
  spec/lib/site_setting_extension_spec.rb
  spec/models/admin_dashboard_data_spec.rb
  spec/models/user_spec.rb
  spec/rails_helper.rb
  spec/requests/application_controller_spec.rb
  spec/requests/categories_controller_spec.rb
  spec/requests/embed_controller_spec.rb
  spec/requests/session_controller_spec.rb
  spec/requests/uploads_controller_multisite_spec.rb
  spec/support/fake_logger.rb
  spec/support/i18n_helpers.rb
  spec/support/locales/dashboard.en.yml
  spec/support/locales/message_builder.en.yml
  spec/support/locales/problem_check.en.yml
Labels: chat, i18n

#27527 UX: Remove or replace button transitions with variable
  app/assets/stylesheets/common/admin/admin_report.scss
  app/assets/stylesheets/common/base/_topic-list.scss
  app/assets/stylesheets/common/base/discourse.scss
  app/assets/stylesheets/common/base/groups.scss
  app/assets/stylesheets/common/base/header.scss
  app/assets/stylesheets/common/base/modal.scss
  app/assets/stylesheets/common/base/new-user.scss
  app/assets/stylesheets/common/components/buttons.scss
  app/assets/stylesheets/common/components/navs.scss
  app/assets/stylesheets/common/d-editor.scss
  app/assets/stylesheets/common/foundation/base.scss
  app/assets/stylesheets/wizard.scss
  plugins/chat/assets/stylesheets/common/chat-message-actions.scss
Labels: chat

#27566 Revert "DEV: Upgrade Rails to version 7.1 (#27539)"
  .licensed.yml
  Gemfile
  Gemfile.lock
  app/models/post_revision.rb
  app/models/reviewable.rb
  app/models/translation_override.rb
  app/models/user.rb
  app/services/staff_action_logger.rb
  config/application.rb
  config/environments/development.rb
  config/environments/test.rb
  config/initializers/002-freedom_patches.rb
  config/initializers/002-rails_failover.rb
  config/initializers/100-logster.rb
  config/initializers/100-quiet_logger.rb
  config/initializers/100-silence_logger.rb
  config/initializers/101-lograge.rb
  config/initializers/102-truncate-logs.rb
  config/initializers/new_framework_defaults_7_0.rb
  config/initializers/new_framework_defaults_7_1.rb
  config/locales/server.en.yml
  lib/discourse.rb
  lib/freedom_patches/rails_rack_logger_from_rails_7_2.rb
  lib/hijack.rb
  lib/middleware/discourse_public_exceptions.rb
  lib/site_setting_extension.rb
  plugins/chat/app/models/chat/category_channel.rb
  plugins/chat/app/models/chat/direct_message_channel.rb
  plugins/chat/spec/system/visit_channel_spec.rb
  spec/integration/invalid_request_spec.rb
  spec/lib/auth/default_current_user_provider_spec.rb
  spec/lib/email/message_builder_spec.rb
  spec/lib/hijack_spec.rb
  spec/lib/migration/safe_migrate_spec.rb
  spec/lib/site_setting_extension_spec.rb
  spec/models/admin_dashboard_data_spec.rb
  spec/models/user_spec.rb
  spec/rails_helper.rb
  spec/requests/application_controller_spec.rb
  spec/requests/categories_controller_spec.rb
  spec/requests/embed_controller_spec.rb
  spec/requests/session_controller_spec.rb
  spec/requests/uploads_controller_multisite_spec.rb
  spec/support/fake_logger.rb
  spec/support/i18n_helpers.rb
  spec/support/locales/dashboard.en.yml
  spec/support/locales/message_builder.en.yml
  spec/support/locales/problem_check.en.yml
Labels: chat, i18n

#27577 DEV: Convert some tests to qunit-dom
  app/assets/javascripts/discourse/tests/acceptance/about-test.js
  app/assets/javascripts/discourse/tests/acceptance/badges-test.js
  app/assets/javascripts/discourse/tests/acceptance/composer-form-template-test.js
  app/assets/javascripts/discourse/tests/acceptance/encoded-category-test.js
  app/assets/javascripts/discourse/tests/acceptance/invite-accept-test.js
  app/assets/javascripts/discourse/tests/acceptance/preferences-test.js
  app/assets/javascripts/discourse/tests/acceptance/search-full-test.js
  app/assets/javascripts/discourse/tests/integration/components/float-kit/d-tooltip-test.js
  plugins/chat/test/javascripts/components/chat-emoji-picker-test.js
  plugins/poll/test/javascripts/acceptance/poll-pie-chart-test.js
Labels: chat

#27567 DEV: Upgrade Rails to version 7.1
  .licensed.yml
  Gemfile
  Gemfile.lock
  app/models/post_revision.rb
  app/models/reviewable.rb
  app/models/translation_override.rb
  app/models/user.rb
  app/services/staff_action_logger.rb
  config/application.rb
  config/environments/development.rb
  config/environments/test.rb
  config/initializers/002-freedom_patches.rb
  config/initializers/002-rails_failover.rb
  config/initializers/100-logster.rb
  config/initializers/100-quiet_logger.rb
  config/initializers/100-silence_logger.rb
  config/initializers/101-lograge.rb
  config/initializers/102-truncate-logs.rb
  config/initializers/new_framework_defaults_7_0.rb
  config/initializers/new_framework_defaults_7_1.rb
  config/locales/server.en.yml
  lib/discourse.rb
  lib/freedom_patches/rails_rack_logger_from_rails_7_2.rb
  lib/hijack.rb
  lib/middleware/discourse_public_exceptions.rb
  lib/site_setting_extension.rb
  plugins/chat/app/models/chat/category_channel.rb
  plugins/chat/app/models/chat/direct_message_channel.rb
  plugins/chat/spec/system/visit_channel_spec.rb
  spec/integration/invalid_request_spec.rb
  spec/lib/auth/default_current_user_provider_spec.rb
  spec/lib/email/message_builder_spec.rb
  spec/lib/hijack_spec.rb
  spec/lib/migration/safe_migrate_spec.rb
  spec/lib/site_setting_extension_spec.rb
  spec/models/admin_dashboard_data_spec.rb
  spec/models/user_spec.rb
  spec/rails_helper.rb
  spec/requests/application_controller_spec.rb
  spec/requests/categories_controller_spec.rb
  spec/requests/embed_controller_spec.rb
  spec/requests/session_controller_spec.rb
  spec/requests/uploads_controller_multisite_spec.rb
  spec/support/fake_logger.rb
  spec/support/i18n_helpers.rb
  spec/support/locales/dashboard.en.yml
  spec/support/locales/message_builder.en.yml
  spec/support/locales/problem_check.en.yml
Labels: chat, i18n

#27555 FEATURE: add Untranslated filter to admin text customization
  app/assets/javascripts/admin/addon/controllers/admin-site-text-index.js
  app/assets/javascripts/admin/addon/routes/admin-site-text-index.js
  app/assets/javascripts/admin/addon/templates/site-text-index.hbs
  app/controllers/admin/site_texts_controller.rb
  config/locales/client.en.yml
  config/site_settings.yml
  lib/freedom_patches/translate_accelerator.rb
  spec/requests/admin/site_texts_controller_spec.rb
Labels: i18n

#27591 UX: revert chat footer changes partially
  plugins/chat/assets/javascripts/discourse/components/chat-footer.gjs
  plugins/chat/assets/stylesheets/common/chat-footer.scss
  plugins/chat/assets/stylesheets/mobile/chat-footer.scss
Labels: chat

#27572 UX: Use 'moderators' instead of 'staff'
  config/locales/server.en.yml
Labels: i18n

#27600 UX: Show chat and message buttons on your own profile
  app/serializers/user_card_serializer.rb
  plugins/chat/plugin.rb
  plugins/chat/spec/requests/core_ext/users_controller_spec.rb
  spec/serializers/user_card_serializer_spec.rb
Labels: chat

#27172 FEATURE: User fields required for existing users - Part 2
  app/assets/javascripts/admin/addon/components/admin-user-field-item.hbs
  app/assets/javascripts/admin/addon/components/admin-user-field-item.js
  app/assets/javascripts/discourse/app/components/user-menu/profile-tab-content.hbs
  app/assets/javascripts/discourse/app/components/user-nav.hbs
  app/assets/javascripts/discourse/app/controllers/preferences/profile.js
  app/assets/javascripts/discourse/app/routes/preferences-profile.js
  app/assets/javascripts/discourse/app/routes/preferences.js
  app/assets/javascripts/discourse/app/templates/preferences/profile.hbs
  app/assets/javascripts/discourse/tests/acceptance/user-menu-test.js
  app/controllers/application_controller.rb
  app/controllers/email_controller.rb
  app/controllers/extra_locales_controller.rb
  app/controllers/finish_installation_controller.rb
  app/controllers/highlight_js_controller.rb
  app/controllers/invites_controller.rb
  app/controllers/metadata_controller.rb
  app/controllers/offline_controller.rb
  app/controllers/pageview_controller.rb
  app/controllers/presence_controller.rb
  app/controllers/published_pages_controller.rb
  app/controllers/qunit_controller.rb
  app/controllers/robots_txt_controller.rb
  app/controllers/session_controller.rb
  app/controllers/site_controller.rb
  app/controllers/static_controller.rb
  app/controllers/stylesheets_controller.rb
  app/controllers/svg_sprite_controller.rb
  app/controllers/theme_javascripts_controller.rb
  app/controllers/uploads_controller.rb
  app/controllers/user_api_keys_controller.rb
  app/controllers/user_avatars_controller.rb
  app/controllers/users/omniauth_callbacks_controller.rb
  app/controllers/users_controller.rb
  app/controllers/users_email_controller.rb
  app/models/user.rb
  app/models/user_field.rb
  app/models/user_history.rb
  app/models/user_required_fields_version.rb
  app/serializers/current_user_serializer.rb
  app/services/user_updater.rb
  config/locales/client.en.yml
  config/locales/server.en.yml
  db/migrate/20240531053226_create_user_required_fields_version.rb
  plugins/chat/app/controllers/chat/incoming_webhooks_controller.rb
  spec/models/user_spec.rb
  spec/requests/application_controller_spec.rb
  spec/services/user_updater_spec.rb
  spec/system/admin_user_fields_spec.rb
  spec/system/page_objects/pages/admin_user_fields.rb
  spec/system/page_objects/pages/user_preferences_profile.rb
  spec/system/user_page/user_preferences_profile_spec.rb
Labels: chat, i18n

#27542 FEATURE: Add WebHookEventsDailyAggregate
  app/jobs/scheduled/aggregate_web_hooks_events.rb
  app/jobs/scheduled/purge_old_web_hook_events_daily_aggregate.rb
  app/models/web_hook.rb
  app/models/web_hook_events_daily_aggregate.rb
  config/locales/server.en.yml
  config/site_settings.yml
  db/migrate/20240619123052_create_web_hook_events_daily_aggregates.rb
  spec/models/web_hook_events_daily_aggregate_spec.rb
Labels: i18n

#27625 Revert "DEV: Upgrade Rails to version 7.1"
  .licensed.yml
  Gemfile
  Gemfile.lock
  app/models/post_revision.rb
  app/models/reviewable.rb
  app/models/translation_override.rb
  app/models/user.rb
  app/services/staff_action_logger.rb
  config/application.rb
  config/environments/development.rb
  config/environments/test.rb
  config/initializers/002-freedom_patches.rb
  config/initializers/002-rails_failover.rb
  config/initializers/100-logster.rb
  config/initializers/100-quiet_logger.rb
  config/initializers/100-silence_logger.rb
  config/initializers/101-lograge.rb
  config/initializers/102-truncate-logs.rb
  config/initializers/new_framework_defaults_7_0.rb
  config/initializers/new_framework_defaults_7_1.rb
  config/locales/server.en.yml
  lib/discourse.rb
  lib/freedom_patches/rails_rack_logger_from_rails_7_2.rb
  lib/hijack.rb
  lib/middleware/discourse_public_exceptions.rb
  lib/site_setting_extension.rb
  plugins/chat/app/models/chat/category_channel.rb
  plugins/chat/app/models/chat/direct_message_channel.rb
  plugins/chat/spec/system/visit_channel_spec.rb
  spec/integration/invalid_request_spec.rb
  spec/lib/auth/default_current_user_provider_spec.rb
  spec/lib/email/message_builder_spec.rb
  spec/lib/hijack_spec.rb
  spec/lib/migration/safe_migrate_spec.rb
  spec/lib/site_setting_extension_spec.rb
  spec/models/admin_dashboard_data_spec.rb
  spec/models/user_spec.rb
  spec/rails_helper.rb
  spec/requests/application_controller_spec.rb
  spec/requests/categories_controller_spec.rb
  spec/requests/embed_controller_spec.rb
  spec/requests/session_controller_spec.rb
  spec/requests/uploads_controller_multisite_spec.rb
  spec/support/fake_logger.rb
  spec/support/i18n_helpers.rb
  spec/support/locales/dashboard.en.yml
  spec/support/locales/message_builder.en.yml
  spec/support/locales/problem_check.en.yml
Labels: chat, i18n

#27631 FIX: only show relevent chat channel mentions in summary email
  plugins/chat/lib/chat/user_notifications_extension.rb
  plugins/chat/spec/mailers/user_notifications_spec.rb
Labels: chat

#27573 FEATURE: Add WebHookEventsDailyAggregate report page
  app/assets/javascripts/admin/addon/components/report-filters/group.hbs
  app/assets/javascripts/admin/addon/components/report-filters/list.hbs
  app/models/concerns/reports/web_hook_events_daily_aggregate.rb
  app/models/report.rb
  config/locales/client.en.yml
  config/locales/server.en.yml
Labels: i18n

#27646 FIX: User controls buttons order for admins
  plugins/chat/assets/stylesheets/common/core-extensions.scss
Labels: chat
