Repository discourse/discourse, pull requests merged in 2025-10, with the labels that each got.

#35107 UX: hide time in month view on mobile
  plugins/discourse-calendar/assets/stylesheets/common/full-calendar-ext.scss
Labels: discourse-calendar

#35069 FIX: notification reminder is deleted with bookmark
  app/models/bookmark.rb
  plugins/chat/spec/system/bookmark_message_spec.rb
  spec/models/bookmark_spec.rb
  spec/requests/users_controller_spec.rb
Labels: chat

#35038 DEV: Add support for converting and importing `topic_users`
  migrations/config/intermediate_db.yml
  migrations/db/intermediate_db_schema/100-base-schema.sql
  migrations/lib/converters/discourse/steps/topic_users.rb
  migrations/lib/database/intermediate_db/topic_user.rb
  migrations/lib/importer/steps/topic_users.rb
Labels: migrations-tooling

#35088 UX: Add "works with" explanation for Discourse ID logins
  app/assets/javascripts/discourse/app/components/login-buttons.gjs
  app/assets/javascripts/discourse/app/models/login-method.js
  app/assets/stylesheets/common/base/login-signup-page.scss
  app/assets/stylesheets/mobile/login-signup-page.scss
  config/locales/client.en.yml
  lib/svg_sprite.rb
Labels: i18n

#35015 FIX: hides redundant chat icon on mobile chat routes
  plugins/chat/assets/javascripts/discourse/components/chat/header/icon.gjs
  plugins/chat/spec/system/message_notifications_mobile_spec.rb
  plugins/chat/spec/system/navigation_spec.rb
  plugins/chat/spec/system/page_objects/chat/chat.rb
  plugins/chat/spec/system/page_objects/chat/components/footer.rb
  plugins/chat/test/javascripts/components/chat-header-icon-test.gjs
Labels: chat

#35112 DEV: Optimize IntermediateDB before running importer
  migrations/lib/importer/executor.rb
Labels: migrations-tooling

#34635 UX: Show remove password button without suspense
  app/assets/javascripts/discourse/app/controllers/preferences/security.js
  app/assets/javascripts/discourse/app/templates/preferences/security.gjs
  app/assets/javascripts/discourse/tests/acceptance/user-preferences-security-test.js
  app/controllers/users_controller.rb
  app/models/user.rb
  config/locales/client.en.yml
  spec/requests/users_controller_spec.rb
Labels: i18n

#35119 FIX: Allow saving category when color attributes are 3-digits hex
  app/assets/javascripts/admin/addon/components/color-input.gjs
  app/assets/javascripts/discourse/app/components/edit-category-general.gjs
  app/assets/javascripts/discourse/app/controllers/edit-category/tabs.js
  app/assets/javascripts/discourse/app/form-kit/components/fk/form.gjs
  app/assets/javascripts/discourse/app/templates/edit-category/tabs.gjs
  app/models/category.rb
  config/locales/client.en.yml
  spec/models/category_spec.rb
  spec/system/edit_category_general_spec.rb
  spec/system/page_objects/components/form_kit.rb
  spec/system/page_objects/pages/category.rb
Labels: i18n

#35150 FIX: Use persona's allowed groups for AI helper's custom prompts access
  plugins/discourse-ai/config/locales/server.en.yml
  plugins/discourse-ai/lib/ai_helper/entry_point.rb
  plugins/discourse-ai/spec/system/ai_helper/ai_composer_helper_spec.rb
Labels: i18n, discourse-ai

#35151 FIX: Don't link seeded LLMs on the features page
  plugins/discourse-ai/assets/javascripts/discourse/components/ai-feature-card.gjs
Labels: discourse-ai

#35141 FIX: notification reminder is deleted with bookmark
  app/models/bookmark.rb
  plugins/chat/spec/system/bookmark_message_spec.rb
  spec/models/bookmark_spec.rb
  spec/requests/users_controller_spec.rb
Labels: chat

#35127 DEV: Add options to run `only` or `skip` some steps in converter and importer
  migrations/bin/cli
  migrations/lib/cli/convert_command.rb
  migrations/lib/cli/exception_handler.rb
  migrations/lib/common/class_filter.rb
  migrations/lib/common/topological_sorter.rb
  migrations/lib/converters/base/converter.rb
  migrations/lib/importer/executor.rb
Labels: migrations-tooling

#35184 UX: update the copy in settings for the mobile logo
  config/locales/server.en.yml
Labels: i18n

#35200 FIX: Fix an issue in user-menu-billing to align with other buttons
  plugins/discourse-subscriptions/assets/javascripts/discourse/connectors/user-main-nav/billing.gjs
Labels: discourse-subscriptions

#34722 FEATURE: Allow editing theme-owned palettes
  app/assets/javascripts/admin/addon/components/admin-config-areas/color-palette.gjs
  app/assets/javascripts/admin/addon/components/color-palette-list-item.gjs
  app/assets/javascripts/admin/addon/models/color-scheme.js
  app/controllers/admin/color_schemes_controller.rb
  app/models/color_scheme.rb
  app/models/color_scheme_color.rb
  app/models/remote_theme.rb
  app/serializers/color_scheme_color_serializer.rb
  app/services/color_scheme_revisor.rb
  config/locales/client.en.yml
  config/locales/server.en.yml
  db/migrate/20250902221035_add_remote_copy_to_color_scheme.rb
  spec/helpers/application_helper_spec.rb
  spec/integration/remote_theme_color_schemes_spec.rb
  spec/lib/stylesheet/manager_spec.rb
  spec/models/color_scheme_spec.rb
  spec/requests/admin/color_schemes_controller_spec.rb
Labels: i18n

#35174 FEATURE: Split setting for allowing mods to manage categories and groups
  app/assets/javascripts/discourse/app/routes/new-category.js
  app/assets/javascripts/discourse/tests/acceptance/category-new-test.js
  config/locales/server.en.yml
  config/site_settings.yml
  db/migrate/20251003120819_split_moderators_manage_categories_and_groups_setting.rb
  lib/guardian/category_guardian.rb
  lib/guardian/group_guardian.rb
  spec/lib/guardian_spec.rb
  spec/models/site_spec.rb
  spec/requests/admin/groups_controller_spec.rb
  spec/requests/admin/users_controller_spec.rb
  spec/requests/groups_controller_spec.rb
  spec/serializers/category_serializer_spec.rb
Labels: i18n

#35191 DEV: Add priority handling and error management in `TopologicalSorter`
  migrations/lib/common/topological_sorter.rb
  migrations/lib/importer/step.rb
  migrations/spec/lib/common/topological_sorter_spec.rb
Labels: migrations-tooling

#35218 FIX: Skip triage on edits when unhandled flags exist
  plugins/discourse-ai/discourse_automation/llm_triage.rb
  plugins/discourse-ai/lib/automation.rb
  plugins/discourse-ai/spec/lib/discourse_automation/llm_triage_spec.rb
Labels: discourse-ai

#35220 DEV: Revert PG Vector 0.8.0 upgrade
  plugins/discourse-ai/db/migrate/20251002171950_upgrade_pgvector080.rb
  plugins/discourse-ai/lib/embeddings/schema.rb
Labels: discourse-ai

#35143 DEV: add ical format response for discourse-post-events index route
  plugins/discourse-calendar/app/controllers/discourse_post_event/events_controller.rb
  plugins/discourse-calendar/app/views/discourse_post_event/events/index.ics.erb
  plugins/discourse-calendar/config/routes.rb
  plugins/discourse-calendar/lib/discourse_post_event/event_finder.rb
  plugins/discourse-calendar/spec/lib/discourse_post_event/event_finder_spec.rb
  plugins/discourse-calendar/spec/requests/events_controller_spec.rb
Labels: discourse-calendar

#35249 DEV: Load chartjs via npm/webpack
  .github/dependabot.yml
  app/assets/javascripts/admin/addon/components/chart.gjs
  app/assets/javascripts/discourse/app/components/topic-map/topic-views-chart.gjs
  app/assets/javascripts/discourse/app/lib/load-chart-js.js
  app/assets/javascripts/discourse/app/lib/public-js-versions.js
  app/assets/javascripts/discourse/package.json
  app/assets/javascripts/discourse/tests/unit/lib/load-script-test.js
  lib/tasks/javascript.rake
  package.json
  plugins/discourse-data-explorer/assets/javascripts/discourse/components/data-explorer-bar-chart.gjs
  plugins/poll/assets/javascripts/discourse/components/modal/poll-breakdown.gjs
  plugins/poll/assets/javascripts/discourse/components/poll-breakdown-chart.gjs
  plugins/poll/assets/javascripts/discourse/components/poll-breakdown-option.gjs
  plugins/poll/assets/javascripts/discourse/components/poll-results-pie.gjs
  pnpm-lock.yaml
  public/javascripts/chart.js/3.5.1/chart.min.js
  public/javascripts/chartjs-plugin-datalabels/2.2.0/chartjs-plugin-datalabels.min.js
Labels: poll, discourse-data-explorer

#34900 FEATURE: Add oneboxes and lightboxes to localized posts
  db/migrate/20251008050307_delete_post_localizations_with_links.rb
  lib/cooked_post_processor.rb
  lib/cooked_processor_mixin.rb
  plugins/discourse-ai/lib/translation/localized_cooked_post_processor.rb
  plugins/discourse-ai/lib/translation/post_localizer.rb
  plugins/discourse-ai/spec/jobs/regular/detect_translate_post_spec.rb
  plugins/discourse-ai/spec/lib/translation/post_localizer_spec.rb
Labels: discourse-ai

#35250 DEV: Load magnific-popup via npm/webpack
  app/assets/javascripts/discourse/app/lib/lightbox.js
  app/assets/javascripts/discourse/app/lib/public-js-versions.js
  app/assets/javascripts/discourse/package.json
  app/assets/javascripts/discourse/tests/unit/lib/load-script-test.js
  lib/tasks/javascript.rake
  package.json
  plugins/chat/assets/javascripts/discourse/lib/lightbox.js
  pnpm-lock.yaml
  public/javascripts/magnific-popup/1.1.0/jquery.magnific-popup.min.js
Labels: chat

#35260 DEV: Fix broken pricing table system test in discourse-subscriptions
  plugins/discourse-subscriptions/spec/system/pricing_table_spec.rb
Labels: discourse-subscriptions

#35229 FEATURE: Introduce 'google_site_verification_token' site setting
  app/views/layouts/_head.html.erb
  config/locales/server.en.yml
  config/site_settings.yml
  spec/requests/application_controller_spec.rb
Labels: i18n

#35278 DEV: Update linting packages
  app/assets/javascripts/discourse/app/components/modal/flag.gjs
  app/assets/javascripts/discourse/app/components/topic-list/list.gjs
  app/assets/javascripts/discourse/app/controllers/application.js
  app/assets/javascripts/discourse/app/controllers/group/activity.js
  app/assets/javascripts/discourse/app/controllers/login.js
  app/assets/javascripts/discourse/app/lib/sidebar/base-community-section-link.js
  app/assets/javascripts/discourse/tests/acceptance/implicit-injections-test.js
  app/assets/javascripts/discourse/tests/unit/utils/optional-service-test.gjs
  package.json
  plugins/chat/assets/javascripts/discourse/components/chat/composer/channel.js
  plugins/chat/assets/javascripts/discourse/components/chat/composer/thread.js
  pnpm-lock.yaml
Labels: chat

#35285 FEATURE: Add the option to flag, delete and silence in LLM Triage
  plugins/discourse-ai/config/locales/server.en.yml
  plugins/discourse-ai/lib/automation.rb
  plugins/discourse-ai/lib/automation/llm_triage.rb
  plugins/discourse-ai/spec/lib/modules/automation/llm_triage_spec.rb
Labels: i18n, discourse-ai
