Repository discourse/discourse, pull requests merged in 2025-06, with the labels that each got.

#32978 DEV: Support `nullable` column property modification
  migrations/config/intermediate_db.yml
  migrations/config/json_schemas/db_schema.json
  migrations/db/intermediate_db_schema/100-base-schema.sql
  migrations/lib/database/intermediate_db/user.rb
  migrations/lib/database/intermediate_db/user_email.rb
  migrations/lib/database/schema/global_config.rb
  migrations/lib/database/schema/loader.rb
Labels: migrations-tooling

#32915 FIX: restore category text color field
  app/assets/javascripts/discourse/app/components/edit-category-general.gjs
  app/assets/javascripts/discourse/app/controllers/edit-category-tabs.js
  app/assets/javascripts/discourse/app/lib/constants.js
  app/assets/javascripts/discourse/tests/acceptance/category-new-test.js
  app/models/category.rb
  config/locales/client.en.yml
  lib/tasks/javascript.rake
Labels: i18n

#33018 UX: Update some delete confirmation dialogs
  app/assets/javascripts/admin/addon/components/admin-badges-show.gjs
  app/assets/javascripts/admin/addon/components/admin-config-areas/color-palette.gjs
  app/assets/javascripts/admin/addon/components/admin-config-areas/components.gjs
  app/assets/javascripts/admin/addon/components/admin-config-areas/user-fields-list.gjs
  app/assets/javascripts/admin/addon/components/form-template/form.gjs
  app/assets/javascripts/admin/addon/components/form-template/row-item.gjs
  app/assets/javascripts/admin/addon/controllers/admin-customize-colors-show.js
  app/assets/javascripts/admin/addon/controllers/admin-customize-themes-show.js
  app/assets/javascripts/admin/addon/controllers/admin-permalinks-index.js
  app/assets/javascripts/admin/addon/services/admin-emojis.js
  app/assets/javascripts/discourse/app/components/modal/sidebar-section-form.gjs
  app/assets/javascripts/discourse/app/components/user-stream.gjs
  app/assets/javascripts/discourse/app/controllers/edit-category-tabs.js
  app/assets/javascripts/discourse/tests/acceptance/user-drafts-stream-test.js
  config/locales/client.en.yml
  spec/system/admin_badges_spec.rb
  spec/system/admin_color_palette_config_area_spec.rb
  spec/system/admin_customize_components_config_area_spec.rb
  spec/system/admin_customize_emojis_spec.rb
  spec/system/page_objects/modals/sidebar_section_form.rb
  spec/system/page_objects/pages/admin_customize_themes.rb
  spec/system/page_objects/pages/admin_permalinks.rb
Labels: i18n

#33033 DEV: Require `created_at` on `users`
  migrations/config/intermediate_db.yml
  migrations/db/intermediate_db_schema/100-base-schema.sql
  migrations/lib/database/intermediate_db/user.rb
Labels: migrations-tooling

#33002 FIX: Ensure `copy_data` callbacks run even when all rows are skipped
  migrations/lib/importer/copy_step.rb
  migrations/lib/importer/discourse_db.rb
Labels: migrations-tooling

#32987 UX: Add subheader to admin themes page
  app/assets/javascripts/admin/addon/components/admin-config-areas/components.gjs
  app/assets/javascripts/admin/addon/components/admin-config-areas/themes.gjs
  app/assets/javascripts/discourse/tests/acceptance/admin-install-theme-modal-test.js
  app/assets/javascripts/discourse/tests/acceptance/themes-test.js
  config/locales/client.en.yml
  spec/system/admin_customize_themes_config_area_spec.rb
  spec/system/page_objects/pages/admin_customize_themes_config_area.rb
Labels: i18n

#32795 FEATURE: Theme-owned color palettes
  app/assets/javascripts/admin/addon/adapters/theme.js
  app/assets/javascripts/admin/addon/components/admin-config-areas/color-palette.gjs
  app/assets/javascripts/admin/addon/components/admin-site-settings-changes-banner.gjs
  app/assets/javascripts/admin/addon/components/changes-banner.gjs
  app/assets/javascripts/admin/addon/components/color-palette-editor.gjs
  app/assets/javascripts/admin/addon/controllers/admin-customize-themes-show-colors.js
  app/assets/javascripts/admin/addon/controllers/admin-customize-themes-show-index.js
  app/assets/javascripts/admin/addon/controllers/admin-customize-themes-show.js
  app/assets/javascripts/admin/addon/models/color-scheme-color.js
  app/assets/javascripts/admin/addon/models/color-scheme.js
  app/assets/javascripts/admin/addon/models/theme.js
  app/assets/javascripts/admin/addon/routes/admin-config-customize-themes.js
  app/assets/javascripts/admin/addon/routes/admin-customize-themes-show-colors.js
  app/assets/javascripts/admin/addon/routes/admin-customize-themes-show-index.js
  app/assets/javascripts/admin/addon/routes/admin-customize-themes-show.js
  app/assets/javascripts/admin/addon/routes/admin-route-map.js
  app/assets/javascripts/admin/addon/templates/customize-themes-show-colors.gjs
  app/assets/javascripts/admin/addon/templates/customize-themes-show-index.gjs
  app/assets/javascripts/admin/addon/templates/customize-themes-show.gjs
  app/assets/javascripts/discourse/app/components/d-page-header.gjs
  app/assets/javascripts/discourse/tests/integration/components/color-palette-editor-test.gjs
  app/assets/javascripts/discourse/tests/unit/controllers/admin-customize-themes-show-index-test.js
  app/assets/javascripts/discourse/tests/unit/controllers/admin-customize-themes-show-test.js
  app/assets/stylesheets/admin/color-palette-editor.scss
  app/assets/stylesheets/admin/customize.scss
  app/assets/stylesheets/admin/site-settings.scss
  app/controllers/admin/color_schemes_controller.rb
  app/controllers/admin/config/color_palettes_controller.rb
  app/controllers/admin/themes_controller.rb
  app/helpers/application_helper.rb
  app/models/color_scheme.rb
  app/models/color_scheme_setting.rb
  app/models/theme.rb
  app/serializers/color_scheme_color_serializer.rb
  app/serializers/theme_serializer.rb
  app/services/color_scheme_revisor.rb
  config/locales/client.en.yml
  config/routes.rb
  spec/models/theme_spec.rb
  spec/requests/admin/themes_controller_spec.rb
  spec/system/admin_customize_themes_spec.rb
  spec/system/admin_site_setting_bulk_action_spec.rb
  spec/system/admin_site_setting_category_bulk_action_spec.rb
  spec/system/page_objects/components/admin_changes_banner.rb
  spec/system/page_objects/components/color_palette_editor.rb
  spec/system/page_objects/components/d_page_header.rb
  spec/system/page_objects/pages/admin_base.rb
  spec/system/page_objects/pages/admin_customize_themes.rb
Labels: i18n

#33129 FIX: Stop blocking auto scroll on iOS
  plugins/chat/assets/javascripts/discourse/components/chat-channel.gjs
Labels: chat

#33076 FIX: Stop silently dropping first two rows during `load_mapping`
  migrations/lib/importer/shared_data.rb
Labels: migrations-tooling

#33148 FEATURE: Indicate if a localization might be outdated based on version number
  app/assets/javascripts/discourse/app/components/post/meta-data/language.gjs
  app/assets/javascripts/discourse/app/lib/transform-post.js
  app/assets/javascripts/discourse/app/widgets/post.js
  app/assets/javascripts/discourse/tests/integration/components/post/post-test.gjs
  app/serializers/post_serializer.rb
  config/locales/client.en.yml
  spec/serializers/post_serializer_spec.rb
Labels: i18n

#32583 FEATURE: rich editor link ui for editing it
  app/assets/javascripts/discourse/app/components/composer/toolbar-buttons.gjs
  app/assets/javascripts/discourse/app/components/d-editor.gjs
  app/assets/javascripts/discourse/app/components/modal/insert-hyperlink.gjs
  app/assets/javascripts/discourse/app/lib/composer/toolbar.js
  app/assets/javascripts/discourse/app/lib/roving-button-bar.js
  app/assets/javascripts/discourse/app/static/prosemirror/components/prosemirror-editor.gjs
  app/assets/javascripts/discourse/app/static/prosemirror/extensions/link-toolbar.js
  app/assets/javascripts/discourse/app/static/prosemirror/extensions/register-default.js
  app/assets/javascripts/discourse/app/static/prosemirror/lib/plugin-utils.js
  app/assets/javascripts/discourse/tests/acceptance/composer-hyperlink-test.js
  app/assets/javascripts/float-kit/addon/lib/d-menu-instance.js
  app/assets/javascripts/float-kit/addon/lib/update-position.js
  app/assets/stylesheets/common/d-editor.scss
  app/assets/stylesheets/common/rich-editor/rich-editor.scss
  config/locales/client.en.yml
  spec/system/composer/prosemirror_editor_spec.rb
  spec/system/page_objects/modals/insert_hyperlink.rb
Labels: i18n

#33168 FEATURE: Clear bookmark reminders from bookmark menu
  app/assets/javascripts/discourse/app/components/bookmark-menu.gjs
  app/assets/stylesheets/common/components/bookmark-menu.scss
  config/locales/client.en.yml
  spec/system/bookmarks_spec.rb
Labels: i18n

#32681 FEATURE: system themes
  app/assets/javascripts/admin/addon/components/color-palette-editor.gjs
  app/assets/javascripts/admin/addon/components/themes-grid.gjs
  app/assets/javascripts/admin/addon/templates/customize-themes-show-colors.gjs
  app/assets/javascripts/admin/addon/templates/customize-themes-show-index.gjs
  app/assets/javascripts/admin/addon/templates/customize-themes-show.gjs
  app/assets/javascripts/discourse/app/app.js
  app/assets/stylesheets/admin/color-palette-editor.scss
  app/controllers/admin/config/customize_controller.rb
  app/controllers/admin/themes_controller.rb
  app/models/concerns/reports/top_uploads.rb
  app/models/remote_theme.rb
  app/models/theme.rb
  app/serializers/theme_serializer.rb
  config/initializers/999-themes.rb
  config/locales/client.en.yml
  config/routes.rb
  config/site_settings.yml
  db/fixtures/600_themes.rb
  lib/system_themes_manager.rb
  lib/theme_resolver.rb
  spec/lib/s3_inventory_spec.rb
  spec/lib/stylesheet/manager_spec.rb
  spec/lib/system_themes_manager_spec.rb
  spec/lib/theme_settings_parser_spec.rb
  spec/models/draft_spec.rb
  spec/models/post_spec.rb
  spec/models/theme_field_spec.rb
  spec/models/theme_spec.rb
  spec/multisite/s3_store_spec.rb
  spec/requests/admin/themes_controller_spec.rb
  spec/system/admin_customize_themes_config_area_spec.rb
  spec/system/admin_customize_themes_spec.rb
  themes/foundation/.npmrc
  themes/foundation/about.json
  themes/foundation/locales/en.yml
  themes/foundation/screenshots/dark.png
  themes/foundation/screenshots/light.png
Labels: i18n

#33204 DEV: Import user title in generic_bulk
  script/bulk_import/base.rb
  script/bulk_import/generic_bulk.rb
Labels: migrations-tooling

#33082 DEV: Add an InterpolatedTranslation component.
  app/assets/javascripts/discourse-i18n/src/index.js
  app/assets/javascripts/discourse/app/components/interpolated-translation.gjs
  app/assets/javascripts/discourse/tests/integration/components/interpolated-translation-test.gjs
  app/assets/javascripts/discourse/tests/unit/lib/i18n-test.js
Labels: i18n

#33219 DEV: Use imports for select-kit components & deprecate string lookups
  app/assets/javascripts/select-kit/addon/components/category-drop.js
  app/assets/javascripts/select-kit/addon/components/category-selector.js
  app/assets/javascripts/select-kit/addon/components/color-palettes.js
  app/assets/javascripts/select-kit/addon/components/combo-box.js
  app/assets/javascripts/select-kit/addon/components/dropdown-select-box.js
  app/assets/javascripts/select-kit/addon/components/email-group-user-chooser.js
  app/assets/javascripts/select-kit/addon/components/flair-chooser.js
  app/assets/javascripts/select-kit/addon/components/font-selector.js
  app/assets/javascripts/select-kit/addon/components/future-date-input-selector.js
  app/assets/javascripts/select-kit/addon/components/homepage-style-selector.js
  app/assets/javascripts/select-kit/addon/components/list-setting.js
  app/assets/javascripts/select-kit/addon/components/mini-tag-chooser.js
  app/assets/javascripts/select-kit/addon/components/multi-select.gjs
  app/assets/javascripts/select-kit/addon/components/notifications-button.js
  app/assets/javascripts/select-kit/addon/components/notifications-filter.js
  app/assets/javascripts/select-kit/addon/components/period-chooser.js
  app/assets/javascripts/select-kit/addon/components/select-kit.js
  app/assets/javascripts/select-kit/addon/components/single-select.gjs
  app/assets/javascripts/select-kit/addon/components/tag-chooser.js
  app/assets/javascripts/select-kit/addon/components/tag-drop.js
  app/assets/javascripts/select-kit/addon/components/tag-group-chooser.js
  app/assets/javascripts/select-kit/addon/components/topic-chooser.js
  app/assets/javascripts/select-kit/addon/components/user-chooser.js
  plugins/chat/assets/javascripts/discourse/components/chat-channel-chooser.js
Labels: chat

#33233 DEV: Remove 'experimental' prefix from settings
  app/assets/javascripts/discourse/app/components/composer-action-title.gjs
  app/assets/javascripts/discourse/app/components/composer-editor.gjs
  app/assets/javascripts/discourse/app/components/header/icons.gjs
  app/assets/javascripts/discourse/app/components/modal/post-translations.gjs
  app/assets/javascripts/discourse/app/components/post/menu/buttons/add-translation.gjs
  app/assets/javascripts/discourse/app/models/category.js
  app/assets/javascripts/discourse/app/templates/edit-category-tabs.gjs
  app/controllers/categories_controller.rb
  app/models/category_list.rb
  app/models/site.rb
  app/models/site_setting.rb
  app/models/topic_list.rb
  app/serializers/current_user_serializer.rb
  app/serializers/post_serializer.rb
  app/serializers/topic_view_serializer.rb
  config/locales/client.en.yml
  config/locales/server.en.yml
  config/site_settings.yml
  db/migrate/20250617085536_remove_experimental_from_content_localization_settings.rb
  lib/content_localization.rb
  lib/guardian/localization_guardian.rb
  lib/validators/language_switcher_setting_validator.rb
  spec/lib/content_localization_spec.rb
  spec/lib/post_localization_creator_spec.rb
  spec/lib/post_localization_destroyer_spec.rb
  spec/lib/post_localization_updater_spec.rb
  spec/lib/topic_localization_creator_spec.rb
  spec/lib/topic_localization_destroyer_spec.rb
  spec/lib/topic_localization_updater_spec.rb
  spec/models/category_list_spec.rb
  spec/models/site_spec.rb
  spec/models/topic_spec.rb
  spec/requests/post_localizations_controller_spec.rb
  spec/requests/topic_localizations_controller_spec.rb
  spec/serializers/basic_post_serializer_spec.rb
  spec/serializers/basic_topic_serializer_spec.rb
  spec/serializers/listable_topic_serializer_spec.rb
  spec/serializers/post_serializer_spec.rb
  spec/serializers/topic_view_serializer_spec.rb
  spec/system/anon_language_switcher_spec.rb
  spec/system/edit_category_localizations_spec.rb
  spec/system/post_translation_spec.rb
  spec/system/topic_view/localized_content_spec.rb
Labels: i18n

#33269 FIX: add channel hashtag color when lazy load is disabled
  app/assets/javascripts/discourse/app/lib/hashtag-decorator.js
  plugins/chat/assets/javascripts/discourse/lib/hashtag-types/channel.js
Labels: chat

#33284 DEV: add channel hashtag style type
  plugins/chat/lib/chat/channel_hashtag_data_source.rb
  plugins/chat/spec/lib/chat/channel_hashtag_data_source_spec.rb
Labels: chat

#33288 FIX: chat message inline onebox url target
  plugins/chat/assets/javascripts/discourse/components/chat-message-text.gjs
  plugins/chat/assets/javascripts/discourse/initializers/chat-decorators.js
  plugins/chat/spec/system/chat_message_onebox_spec.rb
Labels: chat

#33176 DEV: Store avatar in `users` converter step
  migrations/lib/converters/discourse/steps/users.rb
  migrations/lib/converters/discourse/utilities/upload_creator.rb
  migrations/lib/database/connection.rb
  migrations/lib/database/intermediate_db/upload.rb
Labels: migrations-tooling

#33259 DEV: Import `uploads` from UploadsDB
  migrations/config/importer.yml
  migrations/lib/cli/import_command.rb
  migrations/lib/cli/upload_command.rb
  migrations/lib/importer/executor.rb
  migrations/lib/importer/mapping_type.rb
  migrations/lib/importer/steps/uploads.rb
  migrations/lib/uploader/uploads.rb
Labels: migrations-tooling

#33141 DEV: Partially refactor themes controller to services
  app/controllers/admin/themes_controller.rb
  app/models/theme.rb
  app/models/theme_field.rb
  app/services/themes/bulk_destroy.rb
  app/services/themes/create.rb
  app/services/themes/destroy.rb
  app/services/themes/get_translations.rb
  config/locales/server.en.yml
  spec/requests/admin/themes_controller_spec.rb
  spec/services/themes/bulk_destroy_spec.rb
  spec/services/themes/create_spec.rb
  spec/services/themes/destroy_spec.rb
  spec/services/themes/get_translations_spec.rb
Labels: i18n

#33308 FIX: Admin search labels doubled up with parent label
  app/assets/javascripts/admin/addon/services/admin-search-data-source.js
  app/assets/javascripts/discourse/tests/unit/services/admin-search-data-source-test.js
  plugins/chat/assets/javascripts/discourse/initializers/chat-admin-plugin-configuration-nav.js
  plugins/chat/config/locales/client.en.yml
Labels: chat, i18n

#32884 DEV: Refactor Chat::ListChannelMessages service a bit
  lib/service/base.rb
  plugins/chat/app/serializers/chat/messages_serializer.rb
  plugins/chat/app/services/chat/channel/policy/message_existence.rb
  plugins/chat/app/services/chat/list_channel_messages.rb
  plugins/chat/app/services/chat/list_channel_thread_messages.rb
  plugins/chat/spec/services/chat/channel/policy/message_existence_spec.rb
  plugins/chat/spec/services/chat/list_channel_messages_spec.rb
  plugins/chat/spec/services/chat/list_channel_thread_messages_spec.rb
Labels: chat

#33317 DEV: Add `--reset` option to `import` command
  migrations/bin/cli
  migrations/lib/cli/import_command.rb
  migrations/lib/importer.rb
  migrations/lib/importer/executor.rb
Labels: migrations-tooling

#33318 DEV: Allow multiple users to have the same email in IntermediateDB
  migrations/config/intermediate_db.yml
  migrations/db/intermediate_db_schema/100-base-schema.sql
  migrations/lib/database/intermediate_db/user_email.rb
  migrations/lib/importer/steps/user_emails.rb
  migrations/lib/importer/steps/users.rb
Labels: migrations-tooling

#33343 UX: Updated gear to plus icon in discobot tutorial
  plugins/discourse-narrative-bot/config/locales/server.en.yml
  plugins/discourse-narrative-bot/public/images/font-awesome-plus.png
Labels: i18n

#33019 DEV: Add `badges` converter and importer steps
  migrations/config/intermediate_db.yml
  migrations/db/intermediate_db_schema/100-base-schema.sql
  migrations/lib/converters/discourse/steps/badges.rb
  migrations/lib/database/intermediate_db/badge.rb
  migrations/lib/importer/copy_step.rb
  migrations/lib/importer/mapping_type.rb
  migrations/lib/importer/steps/badge_upload_references.rb
  migrations/lib/importer/steps/badges.rb
  migrations/spec/lib/database/intermediate_db/badge_spec.rb
Labels: migrations-tooling

#33349 FIX: Chat video thumbnails on iOS
  plugins/chat/assets/javascripts/discourse/components/chat-upload.gjs
Labels: chat

#33376 FIX: add missing last read sort order to full page search
  app/assets/javascripts/discourse/app/controllers/full-page-search.js
  config/locales/client.en.yml
  spec/system/page_objects/pages/search.rb
  spec/system/search_spec.rb
Labels: i18n
