Repository discourse/discourse, pull requests merged in 2025-01, with the labels that each got.

#30055 FEATURE: Improve wizard quality and rearrange steps
  app/assets/javascripts/discourse/app/static/wizard/components/fields/dropdown.gjs
  app/assets/javascripts/discourse/app/static/wizard/components/fields/dropdown.hbs
  app/assets/javascripts/discourse/app/static/wizard/components/fields/dropdown.js
  app/assets/javascripts/discourse/app/static/wizard/components/fields/image-previews/logo-small.js
  app/assets/javascripts/discourse/app/static/wizard/components/fields/image.hbs
  app/assets/javascripts/discourse/app/static/wizard/components/fields/image.js
  app/assets/javascripts/discourse/app/static/wizard/components/fields/radio.gjs
  app/assets/javascripts/discourse/app/static/wizard/components/fields/styling-preview/-homepage-preview.js
  app/assets/javascripts/discourse/app/static/wizard/components/fields/styling-preview/-preview-base.js
  app/assets/javascripts/discourse/app/static/wizard/components/fields/styling-preview/index.js
  app/assets/javascripts/discourse/app/static/wizard/lib/preview.js
  app/assets/javascripts/discourse/tests/helpers/select-kit-helper.js
  app/assets/javascripts/discourse/tests/integration/components/wizard-fields-dropdown-test.gjs
  app/assets/javascripts/select-kit/addon/components/font-selector.js
  app/assets/javascripts/select-kit/addon/components/font-selector/font-selector-row.js
  app/assets/javascripts/select-kit/addon/components/homepage-style-selector.js
  app/assets/javascripts/select-kit/addon/components/homepage-style-selector/homepage-style-selector-row.hbs
  app/assets/javascripts/select-kit/addon/components/homepage-style-selector/homepage-style-selector-row.js
  app/assets/javascripts/select-kit/addon/components/selected-font.gjs
  app/assets/stylesheets/wizard.scss
  app/models/color_scheme.rb
  app/models/site_setting.rb
  app/models/theme.rb
  config/locales/client.en.yml
  config/locales/server.en.yml
  lib/stylesheet/importer.rb
  lib/wizard/builder.rb
  spec/fabricators/topic_fabricator.rb
  spec/lib/wizard/wizard_builder_spec.rb
  spec/models/color_scheme_spec.rb
  spec/system/page_objects/pages/wizard.rb
  spec/system/wizard_spec.rb
Labels: i18n

#30532 UX: tweak suppress_secured_categories_from_admin setting description
  config/locales/server.en.yml
Labels: i18n

#30528 UX: Admin setting page consistency - Notifications
  app/assets/javascripts/admin/addon/controllers/admin-config-notifications-settings.js
  app/assets/javascripts/admin/addon/routes/admin-config-notifications.js
  app/assets/javascripts/admin/addon/routes/admin-route-map.js
  app/assets/javascripts/admin/addon/templates/config-notifications-settings.hbs
  app/assets/javascripts/discourse/app/lib/sidebar/admin-nav-map.js
  app/models/site_setting.rb
  config/locales/client.en.yml
  config/routes.rb
  config/site_settings.yml
  plugins/chat/config/settings.yml
Labels: chat, i18n

#30541 FIX: Dashboard report change tooltip was not translated
  app/assets/javascripts/admin/addon/models/report.js
  config/locales/client.en.yml
Labels: i18n

#30552 DEV: Update rubocop-discourse
  Gemfile.lock
  plugins/automation/spec/scripts/topic_spec.rb
  plugins/automation/spec/services/discourse_automation/destroy_spec.rb
  plugins/chat/spec/lib/chat_sdk/channel_spec.rb
  plugins/chat/spec/requests/core_ext/users_controller_spec.rb
  plugins/chat/spec/serializer/chat/chat_message_serializer_spec.rb
  plugins/chat/spec/serializer/chat/thread_original_message_serializer_spec.rb
  plugins/chat/spec/services/chat/auto_leave_channels_spec.rb
  plugins/chat/spec/services/chat/create_message_spec.rb
  plugins/chat/spec/services/chat/trash_messages_spec.rb
  plugins/chat/spec/services/chat/update_channel_spec.rb
  plugins/poll/spec/requests/topics_controller_spec.rb
Labels: chat

#30122 UX: admins embedding page follows admin ux guideline
  app/assets/javascripts/admin/addon/components/admin-config-area-card.gjs
  app/assets/javascripts/admin/addon/components/admin-embedding-host-form.gjs
  app/assets/javascripts/admin/addon/components/embeddable-host.gjs
  app/assets/javascripts/admin/addon/components/embeddable-host.hbs
  app/assets/javascripts/admin/addon/components/embeddable-host.js
  app/assets/javascripts/admin/addon/components/embedding-setting.hbs
  app/assets/javascripts/admin/addon/components/embedding-setting.js
  app/assets/javascripts/admin/addon/controllers/admin-embedding-crawlers.js
  app/assets/javascripts/admin/addon/controllers/admin-embedding-index.js
  app/assets/javascripts/admin/addon/controllers/admin-embedding-posts-and-topics.js
  app/assets/javascripts/admin/addon/controllers/admin-embedding-settings.js
  app/assets/javascripts/admin/addon/controllers/admin-embedding.js
  app/assets/javascripts/admin/addon/routes/admin-embedding-edit.js
  app/assets/javascripts/admin/addon/routes/admin-embedding-new.js
  app/assets/javascripts/admin/addon/routes/admin-route-map.js
  app/assets/javascripts/admin/addon/templates/embedding-crawlers.hbs
  app/assets/javascripts/admin/addon/templates/embedding-edit.hbs
  app/assets/javascripts/admin/addon/templates/embedding-index.hbs
  app/assets/javascripts/admin/addon/templates/embedding-new.hbs
  app/assets/javascripts/admin/addon/templates/embedding-posts-and-topics.hbs
  app/assets/javascripts/admin/addon/templates/embedding-settings.hbs
  app/assets/javascripts/admin/addon/templates/embedding.hbs
  app/assets/javascripts/admin/addon/templates/permalinks-index.hbs
  app/assets/javascripts/admin/addon/templates/permalinks.hbs
  app/assets/javascripts/discourse/tests/integration/components/admin-config-area-card-test.gjs
  app/assets/stylesheets/common/admin/customize.scss
  app/controllers/admin/embeddable_hosts_controller.rb
  app/controllers/admin/embedding_controller.rb
  app/models/embedding.rb
  app/models/site_setting.rb
  config/locales/client.en.yml
  config/routes.rb
  config/site_settings.yml
  spec/requests/admin/embedding_controller_spec.rb
  spec/system/admin_embeddable_hosts_spec.rb
  spec/system/page_objects/pages/admin_embedding.rb
  spec/system/page_objects/pages/admin_embedding_host_form.rb
  spec/system/page_objects/pages/admin_embedding_posts_and_topics.rb
Labels: i18n

#30519 FEATURE: add new setting to select view for category page on mobile
  app/assets/javascripts/discourse/app/components/discovery/categories-display.gjs
  app/assets/javascripts/discourse/tests/acceptance/categories-test.js
  app/controllers/categories_controller.rb
  app/models/mobile_category_page_style.rb
  config/locales/server.en.yml
  config/site_settings.yml
Labels: i18n

#30564 UX: Admin setting page consistency - Fonts
  app/assets/javascripts/admin/addon/controllers/admin-config-fonts-settings.js
  app/assets/javascripts/admin/addon/routes/admin-config-fonts.js
  app/assets/javascripts/admin/addon/routes/admin-route-map.js
  app/assets/javascripts/admin/addon/templates/config-fonts-settings.hbs
  app/assets/javascripts/discourse/app/lib/sidebar/admin-nav-map.js
  app/models/site_setting.rb
  config/locales/client.en.yml
  config/routes.rb
  config/site_settings.yml
Labels: i18n

#30567 UX: Admin setting page consistency - Site Logo
  app/assets/javascripts/admin/addon/controllers/admin-config-logo-settings.js
  app/assets/javascripts/admin/addon/routes/admin-config-logo.js
  app/assets/javascripts/admin/addon/routes/admin-route-map.js
  app/assets/javascripts/admin/addon/templates/config-logo-settings.hbs
  app/assets/javascripts/discourse/app/lib/sidebar/admin-nav-map.js
  config/locales/client.en.yml
  config/routes.rb
Labels: i18n

#30571 UX: Admin setting page consistency - Trust levels
  app/assets/javascripts/admin/addon/controllers/admin-config-trust-levels-settings.js
  app/assets/javascripts/admin/addon/routes/admin-config-trust-levels.js
  app/assets/javascripts/admin/addon/routes/admin-route-map.js
  app/assets/javascripts/admin/addon/templates/config-trust-levels-settings.hbs
  app/assets/javascripts/discourse/app/lib/sidebar/admin-nav-map.js
  config/locales/client.en.yml
  config/routes.rb
Labels: i18n

#30572 UX: Admin setting page consistency - Legal
  app/assets/javascripts/admin/addon/controllers/admin-config-legal-settings.js
  app/assets/javascripts/admin/addon/routes/admin-config-legal.js
  app/assets/javascripts/admin/addon/routes/admin-route-map.js
  app/assets/javascripts/admin/addon/templates/config-legal-settings.hbs
  app/assets/javascripts/discourse/app/lib/sidebar/admin-nav-map.js
  app/models/site_setting.rb
  config/locales/client.en.yml
  config/routes.rb
  config/site_settings.yml
Labels: i18n

#30573 UX: Admin setting page consistency - Search
  app/assets/javascripts/admin/addon/controllers/admin-config-search-settings.js
  app/assets/javascripts/admin/addon/routes/admin-config-search.js
  app/assets/javascripts/admin/addon/routes/admin-route-map.js
  app/assets/javascripts/admin/addon/templates/config-search-settings.hbs
  app/assets/javascripts/discourse/app/lib/sidebar/admin-nav-map.js
  config/locales/client.en.yml
  config/routes.rb
Labels: i18n

#30574 UX: Admin setting page consistency - Navigation
  app/assets/javascripts/admin/addon/controllers/admin-config-fonts-settings.js
  app/assets/javascripts/admin/addon/controllers/admin-config-navigation-settings.js
  app/assets/javascripts/admin/addon/routes/admin-config-navigation.js
  app/assets/javascripts/admin/addon/routes/admin-route-map.js
  app/assets/javascripts/admin/addon/templates/config-navigation-settings.hbs
  app/assets/javascripts/discourse/app/lib/sidebar/admin-nav-map.js
  app/models/site_setting.rb
  config/locales/client.en.yml
  config/routes.rb
  config/site_settings.yml
  plugins/chat/config/settings.yml
Labels: chat, i18n

#30581 UX: Minor copy edit for full name requirement setting options
  config/locales/client.en.yml
Labels: i18n

#30546 FIX: stuck notification for mentions within threads
  plugins/chat/app/models/chat/message.rb
  plugins/chat/app/queries/chat/channel_unreads_query.rb
  plugins/chat/app/queries/chat/thread_unreads_query.rb
  plugins/chat/assets/javascripts/discourse/components/chat-channel-unread-indicator.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/header/icon/unread-indicator.gjs
  plugins/chat/spec/models/chat/message_spec.rb
  plugins/chat/spec/queries/chat/channel_unreads_query_spec.rb
Labels: chat

#30391 FEATURE: Add trigger_on option to topic_tags_changed automation
  plugins/automation/config/locales/client.en.yml
  plugins/automation/lib/discourse_automation/event_handlers.rb
  plugins/automation/lib/discourse_automation/triggers/topic_tags_changed.rb
  plugins/automation/spec/triggers/topic_tags_changed_spec.rb
Labels: i18n

#30570 UX: More translations for admin dashboard
  app/assets/javascripts/admin/addon/models/report.js
  config/locales/client.en.yml
Labels: i18n

#30563 UX: Update email and security sidebar link copy
  config/locales/client.en.yml
  spec/system/admin_sidebar_navigation_spec.rb
Labels: i18n

#30597 DEV: Extend the reviewables:populate rake task in chat
  plugins/chat/lib/discourse_dev/message.rb
  plugins/chat/lib/discourse_dev/reviewable_message.rb
  plugins/chat/plugin.rb
Labels: chat

#30600 DEV: Fix build
  plugins/chat/plugin.rb
Labels: chat

#30578 UX: Admin setting page consistency - Group permissions (#30528)
  app/assets/javascripts/admin/addon/controllers/admin-config-group-permissions-settings.js
  app/assets/javascripts/admin/addon/routes/admin-config-group-permissions.js
  app/assets/javascripts/admin/addon/routes/admin-route-map.js
  app/assets/javascripts/admin/addon/templates/config-group-permissions-settings.gjs
  app/assets/javascripts/admin/addon/templates/config-trust-levels-settings.hbs
  app/assets/javascripts/discourse/app/lib/sidebar/admin-nav-map.js
  app/models/site_setting.rb
  config/locales/client.en.yml
  config/routes.rb
  config/site_settings.yml
  plugins/chat/config/settings.yml
  plugins/poll/config/settings.yml
  plugins/styleguide/config/settings.yml
Labels: chat, i18n

#30603 UX: Admin setting page consistency - Experimental
  app/assets/javascripts/admin/addon/controllers/admin-config-experimental-settings.js
  app/assets/javascripts/admin/addon/routes/admin-config-experimental.js
  app/assets/javascripts/admin/addon/routes/admin-route-map.js
  app/assets/javascripts/admin/addon/templates/config-experimental-settings.gjs
  app/assets/javascripts/discourse/app/lib/sidebar/admin-nav-map.js
  config/locales/client.en.yml
  config/locales/server.en.yml
  config/routes.rb
Labels: i18n

#30598 UX: Admin setting page consistency - Security
  app/assets/javascripts/admin/addon/controllers/admin-config-security-settings.js
  app/assets/javascripts/admin/addon/routes/admin-config-security.js
  app/assets/javascripts/admin/addon/routes/admin-route-map.js
  app/assets/javascripts/admin/addon/templates/config-security-settings.gjs
  app/assets/javascripts/discourse/app/lib/sidebar/admin-nav-map.js
  config/locales/client.en.yml
  config/routes.rb
Labels: i18n

#30592 FIX: consistent delete button for admin panel
  app/assets/javascripts/admin/addon/components/admin-flag-item.gjs
  app/assets/javascripts/admin/addon/components/admin-user-field-item.gjs
  app/assets/javascripts/admin/addon/components/embeddable-host.gjs
  app/assets/javascripts/admin/addon/templates/backups-index.hbs
  app/assets/javascripts/admin/addon/templates/permalinks-index.hbs
  app/assets/stylesheets/common/admin/admin_base.scss
  app/assets/stylesheets/common/admin/customize.scss
  app/assets/stylesheets/common/admin/flags.scss
  app/assets/stylesheets/common/admin/user_fields.scss
  config/locales/client.en.yml
  spec/system/page_objects/pages/admin_embedding.rb
Labels: i18n

#30606 UX: Admin setting page consistency - Spam
  app/assets/javascripts/admin/addon/controllers/admin-config-spam-settings.js
  app/assets/javascripts/admin/addon/routes/admin-config-spam.js
  app/assets/javascripts/admin/addon/routes/admin-route-map.js
  app/assets/javascripts/admin/addon/templates/config-spam-settings.gjs
  app/assets/javascripts/discourse/app/lib/sidebar/admin-nav-map.js
  config/locales/client.en.yml
  config/routes.rb
Labels: i18n

#30607 UX: Admin setting page consistency - Developer
  app/assets/javascripts/admin/addon/controllers/admin-config-developer-settings.js
  app/assets/javascripts/admin/addon/routes/admin-config-developer.js
  app/assets/javascripts/admin/addon/routes/admin-route-map.js
  app/assets/javascripts/admin/addon/templates/config-developer-settings.gjs
  app/assets/javascripts/discourse/app/lib/sidebar/admin-nav-map.js
  config/locales/client.en.yml
  config/routes.rb
  config/site_settings.yml
Labels: i18n

#30609 UX: Admin setting page consistency - Rate Limits
  app/assets/javascripts/admin/addon/controllers/admin-config-rate-limits-settings.js
  app/assets/javascripts/admin/addon/routes/admin-config-rate-limits.js
  app/assets/javascripts/admin/addon/routes/admin-route-map.js
  app/assets/javascripts/admin/addon/templates/config-rate-limits-settings.gjs
  app/assets/javascripts/discourse/app/lib/sidebar/admin-nav-map.js
  config/locales/client.en.yml
  config/routes.rb
Labels: i18n

#30610 UX: Admin setting page consistency - User API
  app/assets/javascripts/admin/addon/controllers/admin-config-user-api-settings.js
  app/assets/javascripts/admin/addon/routes/admin-config-user-api.js
  app/assets/javascripts/admin/addon/routes/admin-route-map.js
  app/assets/javascripts/admin/addon/templates/config-user-api-settings.gjs
  app/assets/javascripts/discourse/app/lib/sidebar/admin-nav-map.js
  config/locales/client.en.yml
  config/routes.rb
Labels: i18n

#30611 UX: Admin setting page consistency - Onebox
  app/assets/javascripts/admin/addon/controllers/admin-config-onebox-settings.js
  app/assets/javascripts/admin/addon/routes/admin-config-onebox.js
  app/assets/javascripts/admin/addon/routes/admin-route-map.js
  app/assets/javascripts/admin/addon/templates/config-onebox-settings.gjs
  app/assets/javascripts/discourse/app/lib/sidebar/admin-nav-map.js
  config/locales/client.en.yml
  config/routes.rb
Labels: i18n

#30613 FIX: Ensure popups from the chat composer dropdown gain focus
  plugins/chat/assets/javascripts/discourse/components/chat-composer-dropdown.gjs
Labels: chat

#30614 UX: Admin setting page consistency - Files and Other (#30572)
  app/assets/javascripts/admin/addon/components/admin-area-settings.gjs
  app/assets/javascripts/admin/addon/controllers/admin-config-files-settings.js
  app/assets/javascripts/admin/addon/controllers/admin-config-other-settings.js
  app/assets/javascripts/admin/addon/routes/admin-config-files.js
  app/assets/javascripts/admin/addon/routes/admin-config-other.js
  app/assets/javascripts/admin/addon/routes/admin-route-map.js
  app/assets/javascripts/admin/addon/templates/config-files-settings.gjs
  app/assets/javascripts/admin/addon/templates/config-other-settings.gjs
  app/assets/javascripts/discourse/app/lib/sidebar/admin-nav-map.js
  config/locales/client.en.yml
  config/routes.rb
Labels: i18n

#30612 FIX: Wizard improvements post-merge part 1
  app/assets/javascripts/discourse/app/static/wizard/components/fields/styling-preview/-homepage-preview.js
  app/assets/stylesheets/wizard.scss
  config/locales/client.en.yml
  lib/wizard/builder.rb
  spec/lib/wizard/step_updater_spec.rb
Labels: i18n

#30554 DEV: Update nokogiri to 1.18.1
  Gemfile.lock
  app/services/search_indexer.rb
  lib/discourse_diff.rb
  lib/excerpt_parser.rb
  lib/pretty_text.rb
  lib/retrieve_title.rb
  script/import_scripts/disqus.rb
Labels: migrations-tooling

#30361 Adding Import Support for Discourse Reactions Plugin
  script/bulk_import/base.rb
  script/bulk_import/generic_bulk.rb
Labels: migrations-tooling

#30623 DEV: skip flaky chat composer emoji spec
  plugins/chat/spec/system/chat_composer_spec.rb
Labels: chat

#30635 FEATURE: show silence reason when viewing silenced users
  app/assets/javascripts/admin/addon/controllers/admin-users-list-show.js
  app/assets/javascripts/admin/addon/templates/users-list-show.hbs
  app/assets/stylesheets/common/admin/users.scss
  app/controllers/admin/users_controller.rb
  app/serializers/admin_user_list_serializer.rb
  config/locales/client.en.yml
  lib/admin_user_index_query.rb
  spec/requests/admin/users_controller_spec.rb
  spec/requests/api/users_spec.rb
Labels: i18n

#30096 DEV: Convert admin API keys to conform to UI guidelines
  app/assets/javascripts/admin/addon/components/admin-config-areas/api-keys-list.hbs
  app/assets/javascripts/admin/addon/components/admin-config-areas/api-keys-new.gjs
  app/assets/javascripts/admin/addon/components/admin-config-areas/api-keys-show.gjs
  app/assets/javascripts/admin/addon/components/api-key-item.gjs
  app/assets/javascripts/admin/addon/controllers/admin-api-keys-show.js
  app/assets/javascripts/admin/addon/models/api-key.js
  app/assets/javascripts/admin/addon/routes/admin-api-keys-new.js
  app/assets/javascripts/admin/addon/routes/admin-api-keys.js
  app/assets/javascripts/admin/addon/templates/api-keys-index.hbs
  app/assets/javascripts/admin/addon/templates/api-keys-new.hbs
  app/assets/javascripts/admin/addon/templates/api-keys-show.hbs
  app/assets/javascripts/admin/addon/templates/api-keys.hbs
  app/assets/javascripts/admin/addon/templates/api.hbs
  app/assets/stylesheets/common/admin/admin_table.scss
  app/controllers/admin/api_controller.rb
  app/serializers/api_key_serializer.rb
  app/serializers/basic_api_key_serializer.rb
  config/locales/client.en.yml
  spec/system/admin_api_keys_spec.rb
  spec/system/page_objects/admin_api_keys.rb
Labels: i18n

#30638 DEV: removes non needed special case
  plugins/chat/assets/javascripts/discourse/components/chat-composer-dropdown.gjs
Labels: chat

#30644 REVERT: "DEV: Convert admin API keys to conform to UI guidelines"
  app/assets/javascripts/admin/addon/components/admin-config-areas/api-keys-list.hbs
  app/assets/javascripts/admin/addon/components/admin-config-areas/api-keys-new.gjs
  app/assets/javascripts/admin/addon/components/admin-config-areas/api-keys-show.gjs
  app/assets/javascripts/admin/addon/components/api-key-item.gjs
  app/assets/javascripts/admin/addon/controllers/admin-api-keys-show.js
  app/assets/javascripts/admin/addon/models/api-key.js
  app/assets/javascripts/admin/addon/routes/admin-api-keys-new.js
  app/assets/javascripts/admin/addon/routes/admin-api-keys.js
  app/assets/javascripts/admin/addon/templates/api-keys-index.hbs
  app/assets/javascripts/admin/addon/templates/api-keys-new.hbs
  app/assets/javascripts/admin/addon/templates/api-keys-show.hbs
  app/assets/javascripts/admin/addon/templates/api-keys.hbs
  app/assets/javascripts/admin/addon/templates/api.hbs
  app/assets/stylesheets/common/admin/admin_table.scss
  app/controllers/admin/api_controller.rb
  app/serializers/api_key_serializer.rb
  app/serializers/basic_api_key_serializer.rb
  config/locales/client.en.yml
  spec/system/admin_api_keys_spec.rb
  spec/system/page_objects/admin_api_keys.rb
Labels: i18n

#30660 DEV: Convert admin API keys to conform to UI guidelines
  app/assets/javascripts/admin/addon/components/admin-config-areas/api-keys-list.hbs
  app/assets/javascripts/admin/addon/components/admin-config-areas/api-keys-new.gjs
  app/assets/javascripts/admin/addon/components/admin-config-areas/api-keys-show.gjs
  app/assets/javascripts/admin/addon/components/api-key-item.gjs
  app/assets/javascripts/admin/addon/controllers/admin-api-keys-show.js
  app/assets/javascripts/admin/addon/models/api-key.js
  app/assets/javascripts/admin/addon/routes/admin-api-keys-new.js
  app/assets/javascripts/admin/addon/routes/admin-api-keys.js
  app/assets/javascripts/admin/addon/templates/admin.hbs
  app/assets/javascripts/admin/addon/templates/api-keys-index.hbs
  app/assets/javascripts/admin/addon/templates/api-keys-new.hbs
  app/assets/javascripts/admin/addon/templates/api-keys-show.hbs
  app/assets/javascripts/admin/addon/templates/api-keys.hbs
  app/assets/javascripts/admin/addon/templates/api.hbs
  app/assets/javascripts/discourse/app/lib/sidebar/admin-nav-map.js
  app/assets/stylesheets/common/admin/admin_table.scss
  app/controllers/admin/api_controller.rb
  app/serializers/api_key_serializer.rb
  app/serializers/basic_api_key_serializer.rb
  config/locales/client.en.yml
  spec/system/admin_api_keys_spec.rb
  spec/system/page_objects/admin_api_keys.rb
Labels: i18n

#30655 FEATURE: Add a `onebox_locale` site setting.
  app/models/onebox_locale_site_setting.rb
  config/locales/server.en.yml
  config/site_settings.yml
  lib/onebox/helpers.rb
  lib/oneboxer.rb
  spec/lib/oneboxer_spec.rb
  spec/models/onebox_locale_site_setting_spec.rb
Labels: i18n

#30669 DEV: Resolve this-property-fallback deprecation in chat test
  plugins/chat/test/javascripts/components/chat-user-card-button-test.js
Labels: chat

#30683 FIX: Add back missing API key 'peek' step
  app/assets/javascripts/admin/addon/components/admin-config-areas/api-keys-new.gjs
  app/assets/stylesheets/common/admin/api.scss
  config/locales/client.en.yml
  spec/system/admin_api_keys_spec.rb
  spec/system/page_objects/admin_api_keys.rb
Labels: i18n

#30687 DEV: update deprecated icon name archive to box-archive in chat plugin
  plugins/chat/assets/javascripts/discourse/models/chat-channel.js
Labels: chat

#30689 DEV: Add new admin UI header to site texts page
  app/assets/javascripts/admin/addon/templates/site-text-index.hbs
  app/assets/javascripts/admin/addon/templates/site-text.hbs
  app/assets/stylesheets/common/admin/customize.scss
  config/locales/client.en.yml
Labels: i18n

#30690 DEV: Add missing root breadcrumb to API keys page
  app/assets/javascripts/admin/addon/templates/api-keys.hbs
  config/locales/client.en.yml
Labels: i18n

#30686 UX: Add DPageHeader to watched words and color palettes
  app/assets/javascripts/admin/addon/templates/customize-colors-index.hbs
  app/assets/javascripts/admin/addon/templates/customize-colors.hbs
  app/assets/javascripts/admin/addon/templates/watched-words.hbs
  app/assets/stylesheets/common/admin/customize.scss
  config/locales/client.en.yml
Labels: i18n

#30696 FIX: simplify body scroll lock on iOS
  app/assets/javascripts/discourse/app/lib/body-scroll-lock.js
  app/assets/javascripts/discourse/app/modifiers/swipe.js
  plugins/chat/assets/javascripts/discourse/components/chat-composer.js
  plugins/chat/assets/stylesheets/common/chat-channel.scss
Labels: chat

#30697 FIX: removes blank spacing in message actions
  plugins/chat/assets/stylesheets/common/chat-message-actions.scss
Labels: chat

#30731 DEV: fix flaky chat new message spec
  plugins/chat/spec/system/chat_new_message_spec.rb
Labels: chat

#30277 FEATURE: add drafts dropdown menu
  app/assets/javascripts/discourse/app/components/create-topic-button.hbs
  app/assets/javascripts/discourse/app/components/d-navigation.hbs
  app/assets/javascripts/discourse/app/components/d-navigation.js
  app/assets/javascripts/discourse/app/components/discovery/navigation.hbs
  app/assets/javascripts/discourse/app/components/topic-drafts-dropdown.gjs
  app/assets/javascripts/discourse/app/lib/sidebar/common/community-section/section.js
  app/assets/javascripts/discourse/app/lib/sidebar/user/community-section/my-drafts-section-link.js
  app/assets/javascripts/discourse/app/services/composer.js
  app/assets/javascripts/discourse/tests/acceptance/composer-test.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-user-community-section-test.js
  app/assets/stylesheets/common/components/_index.scss
  app/assets/stylesheets/common/components/drafts-dropdown-menu.scss
  app/assets/stylesheets/desktop/components/_index.scss
  app/assets/stylesheets/desktop/components/drafts-dropdown-menu.scss
  app/models/sidebar_url.rb
  config/locales/client.en.yml
  spec/models/sidebar_section_spec.rb
  spec/system/drafts_dropdown_spec.rb
  spec/system/editing_sidebar_community_section_spec.rb
  spec/system/page_objects/components/drafts_menu.rb
  spec/system/page_objects/modals/discard_draft.rb
  spec/system/viewing_sidebar_spec.rb
Labels: i18n

#30593 FIX: ensure GroupChooser works with localized group names
  app/assets/javascripts/discourse/app/components/tag-groups-form.hbs
  app/assets/javascripts/discourse/app/components/tag-groups-form.js
  app/assets/javascripts/discourse/app/models/tag-group.js
  app/assets/javascripts/discourse/tests/acceptance/tag-groups-test.js
  app/models/group.rb
  app/models/tag_group.rb
  app/serializers/tag_group_serializer.rb
  config/locales/client.en.yml
  spec/serializers/tag_group_serializer_spec.rb
Labels: i18n

#30516 FIX: remove complicated 'chat_duplicate_message_sensitivity' site setting
  plugins/chat/lib/chat/duplicate_message_validator.rb
  plugins/chat/spec/fabricators/chat_fabricator.rb
  plugins/chat/spec/lib/chat/duplicate_message_validator_spec.rb
  plugins/chat/spec/models/chat/message_spec.rb
  plugins/chat/spec/plugin_helper.rb
  plugins/chat/spec/requests/chat/api/channels_archives_controller_spec.rb
  plugins/chat/spec/requests/chat/api/channels_status_controller_spec.rb
  plugins/chat/spec/services/chat/update_message_spec.rb
  plugins/chat/spec/system/message_notifications_mobile_spec.rb
  plugins/chat/spec/system/page_objects/chat/chat_channel.rb
  plugins/chat/spec/system/page_objects/chat/chat_thread.rb
Labels: chat

#30742 DEV: Enable `discourse-common-imports` eslint rule
  eslint.config.mjs
  package.json
  plugins/chat/assets/javascripts/discourse/components/channel-icon/index.gjs
  plugins/chat/assets/javascripts/discourse/components/channels-list-direct.gjs
  plugins/chat/assets/javascripts/discourse/components/channels-list-public.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-channel-card.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-channel-row.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-channel-status.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-composer-message-details.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-composer-upload.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-header.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-mention-warnings.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-message-in-reply-to-indicator.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-thread-heading.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/composer/button.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/form/row.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/header/icon.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/message-creator/group.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/message-creator/member.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/message-creator/members.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/message-creator/search-input.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/message/info.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/message/left-gutter.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/modal/thread-settings.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/navbar/back-button.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/navbar/browse-channels-button.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/navbar/close-thread-button.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/navbar/close-threads-button.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/navbar/threads-list-button.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/navbar/title.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/notices/mention_without_membership.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/routes/channel-info-members.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/routes/channel-info-settings.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/scroll-to-bottom-arrow.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/thread/header.gjs
  plugins/chat/assets/javascripts/discourse/connectors/user-preferences-nav/chat-preferences.gjs
  plugins/discourse-presence/assets/javascripts/discourse/services/composer-presence-manager.js
  plugins/poll/assets/javascripts/discourse/components/poll-buttons-dropdown.gjs
  plugins/poll/assets/javascripts/discourse/components/poll-info.gjs
  plugins/poll/assets/javascripts/discourse/components/poll-option-ranked-choice-dropdown.gjs
  plugins/poll/assets/javascripts/discourse/components/poll-options.gjs
  plugins/poll/assets/javascripts/discourse/components/poll-voters-ranked-choice.gjs
  plugins/poll/assets/javascripts/discourse/components/poll.gjs
  pnpm-lock.yaml
Labels: chat

#30747 UX: add placeholder title for drafts
  app/assets/javascripts/discourse/app/components/topic-drafts-dropdown.gjs
  config/locales/client.en.yml
Labels: i18n

#30749 FIX: Avoid loading reactions index when plugin is not installed
  script/bulk_import/base.rb
Labels: migrations-tooling

#30755 DEV: Revert the addition of keywords for all site settings.
  config/locales/server.en.yml
  lefthook.yml
  lib/tasks/site_settings.rake
  spec/lib/site_setting_extension_spec.rb
Labels: i18n

#30684 UX: Apply admin UI guidelines to Reports pages
  app/assets/javascripts/admin/addon/components/admin-report.hbs
  app/assets/javascripts/admin/addon/components/admin-report.js
  app/assets/javascripts/admin/addon/components/admin-reports.gjs
  app/assets/javascripts/admin/addon/components/admin-section-landing-item.gjs
  app/assets/javascripts/admin/addon/templates/reports-index.hbs
  app/assets/javascripts/admin/addon/templates/reports-show.hbs
  app/assets/javascripts/discourse/tests/acceptance/admin-sidebar-section-test.js
  app/assets/javascripts/discourse/tests/acceptance/dashboard-test.js
  app/assets/javascripts/discourse/tests/acceptance/reports-test.js
  app/assets/javascripts/discourse/tests/integration/components/admin-report-test.js
  app/assets/stylesheets/common/admin/admin_config_area.scss
  app/assets/stylesheets/common/admin/admin_report.scss
  config/locales/client.en.yml
Labels: i18n

#30685 DEV: Add problem check informing about admin layout deprecation
  app/models/problem_check.rb
  app/services/problem_check/admin_sidebar_deprecation.rb
  config/locales/server.en.yml
  spec/services/problem_check/admin_sidebar_deprecation_spec.rb
Labels: i18n

#30759 UX: Use `DPageHeader` on the Themes page
  app/assets/javascripts/admin/addon/templates/customize-themes.hbs
  config/locales/client.en.yml
Labels: i18n

#30762 UX: Use `DPageHeader` on the Components page
  app/assets/javascripts/admin/addon/templates/customize-themes.hbs
  config/locales/client.en.yml
Labels: i18n

#30732 FIX: Double trigger of close user menu
  app/assets/javascripts/discourse/app/components/header.gjs
  app/assets/javascripts/discourse/app/components/header/user-menu-wrapper.gjs
  config/locales/client.en.yml
  plugins/chat/spec/system/bookmark_message_spec.rb
Labels: chat, i18n

#30783 UX: Use `DPageHeader` on the Site Settings page
  app/assets/javascripts/admin/addon/templates/admin.hbs
  app/assets/javascripts/admin/addon/templates/site-settings.hbs
  config/locales/client.en.yml
Labels: i18n

#30781 UX: Use `DPageHeader` on the emails page
  app/assets/javascripts/admin/addon/controllers/admin-email-templates-edit.js
  app/assets/javascripts/admin/addon/controllers/admin-email-templates.js
  app/assets/javascripts/admin/addon/models/email-template.js
  app/assets/javascripts/admin/addon/routes/admin-email-templates-edit.js
  app/assets/javascripts/admin/addon/routes/admin-email-templates.js
  app/assets/javascripts/admin/addon/routes/admin-route-map.js
  app/assets/javascripts/admin/addon/templates/customize.hbs
  app/assets/javascripts/admin/addon/templates/email-templates-edit.hbs
  app/assets/javascripts/admin/addon/templates/email-templates.hbs
  app/assets/javascripts/admin/addon/templates/email.hbs
  app/assets/javascripts/discourse/app/adapters/email-template.js
  app/assets/javascripts/discourse/app/lib/sidebar/admin-nav-map.js
  app/assets/stylesheets/common/admin/customize.scss
  config/locales/client.en.yml
  config/routes.rb
  spec/requests/admin/email_templates_controller_spec.rb
Labels: i18n

#30784 UX: Use `DPageHeader` on the Email Style page
  app/assets/javascripts/admin/addon/components/email-styles-editor.hbs
  app/assets/javascripts/admin/addon/templates/customize-email-style.hbs
  app/assets/javascripts/discourse/app/components/nav-item.gjs
  config/locales/client.en.yml
Labels: i18n

#30763 UX: Wizard homepage dropdown improvements
  app/assets/javascripts/discourse/app/static/wizard/components/fields/dropdown.gjs
  app/assets/javascripts/discourse/app/static/wizard/components/fields/styling-preview/-homepage-preview.js
  app/assets/javascripts/discourse/app/static/wizard/components/fields/styling-preview/-preview-base.js
  app/assets/javascripts/discourse/tests/helpers/select-kit-helper.js
  app/assets/javascripts/discourse/tests/integration/components/wizard-fields-dropdown-test.gjs
  config/locales/client.en.yml
  lib/wizard/builder.rb
Labels: i18n

#30786 UX: Use `DPageHeader` on the Logs page
  app/assets/javascripts/admin/addon/templates/admin.hbs
  app/assets/javascripts/admin/addon/templates/logs.hbs
  app/assets/javascripts/discourse/app/lib/sidebar/admin-nav-map.js
  config/locales/client.en.yml
Labels: i18n

#30788 UX: Wizard and theme install modal improvements
  app/assets/javascripts/admin/addon/components/modal/install-theme.gjs
  app/assets/javascripts/discourse/app/controllers/application.js
  app/assets/javascripts/discourse/app/routes/wizard.js
  app/assets/javascripts/discourse/app/static/wizard/components/fields/styling-preview/-homepage-preview.js
  app/assets/javascripts/discourse/app/static/wizard/components/wizard-step.gjs
  app/assets/javascripts/discourse/app/static/wizard/models/wizard.js
  app/assets/javascripts/discourse/app/templates/application.hbs
  config/locales/client.en.yml
Labels: i18n

#30816 DEV: Convert a bunch of admin UI translations to follow convention
  config/locales/client.en.yml
Labels: i18n

#30809 DEV: Fix typo priviledges -> privileges
  config/locales/client.en.yml
Labels: i18n

#30817 FIX: ensures scrolls work in chat when touch is on text
  plugins/chat/assets/javascripts/discourse/lib/chat-ios-hacks.js
Labels: chat

#30793 DEV: Do not trigger floatkit 'hover' for touch events
  app/assets/javascripts/discourse/tests/acceptance/post-inline-mentions-test.js
  app/assets/javascripts/discourse/tests/integration/components/d-stat-tiles-test.gjs
  app/assets/javascripts/discourse/tests/integration/components/float-kit/d-tooltip-test.js
  app/assets/javascripts/discourse/tests/integration/components/user-info-test.js
  app/assets/javascripts/discourse/tests/integration/components/user-status-message-test.js
  app/assets/javascripts/float-kit/addon/lib/d-menu-instance.js
  app/assets/javascripts/float-kit/addon/lib/d-tooltip-instance.js
  app/assets/javascripts/float-kit/addon/lib/float-kit-instance.js
  plugins/chat/test/javascripts/components/chat-channel-test.js
Labels: chat

#30785 FEATURE: setting allowing tl0/anonymous flag illegal content
  app/assets/javascripts/discourse/app/components/flag-action-type.hbs
  app/assets/javascripts/discourse/app/components/modal/anonymous-flag.gjs
  app/assets/javascripts/discourse/app/components/modal/flag.js
  app/assets/javascripts/discourse/app/components/post/menu/buttons/flag.gjs
  app/assets/javascripts/discourse/app/routes/topic.js
  app/assets/javascripts/discourse/app/widgets/post-menu.js
  config/locales/client.en.yml
  config/locales/server.en.yml
  config/site_settings.yml
  lib/guardian/post_guardian.rb
  lib/site_settings/validations.rb
  spec/lib/guardian_spec.rb
  spec/lib/site_settings/validations_spec.rb
  spec/requests/admin/config/site_settings_controller_spec.rb
  spec/system/admin_flags_spec.rb
  spec/system/flagging_post_spec.rb
  spec/system/page_objects/modals/anonoymous_flag.rb
  spec/system/page_objects/pages/topic.rb
Labels: i18n

#30843 UX: makes smile the default emoji-picker icon
  app/assets/javascripts/discourse/app/components/emoji-picker/index.gjs
  app/assets/javascripts/discourse/app/components/user-status-picker.gjs
  app/assets/javascripts/discourse/app/instance-initializers/enable-emoji.js
  app/assets/javascripts/discourse/tests/acceptance/user-status-test.js
  plugins/chat/assets/javascripts/discourse/initializers/chat-setup.js
Labels: chat

#30746 FIX: re-adds favorite reactions on mobile
  plugins/chat/assets/javascripts/discourse/components/chat-message-actions-desktop.gjs
  plugins/chat/assets/javascripts/discourse/lib/chat-message-interactor.js
  plugins/chat/spec/system/react_to_message_spec.rb
Labels: chat

#30834 FEATURE: Chat thread inline oneboxes
  plugins/chat/config/locales/server.en.yml
  plugins/chat/lib/chat/inline_onebox_handler.rb
  plugins/chat/plugin.rb
  plugins/chat/spec/lib/chat/inline_onebox_handler_spec.rb
  plugins/chat/spec/plugin_spec.rb
Labels: chat, i18n

#29780 DEV: Add `Upload` to IntermediateDB
  Gemfile
  Gemfile.lock
  migrations/db/intermediate_db_schema/003-uploads.sql
  migrations/db/intermediate_db_schema/100-base-schema.sql
  migrations/lib/common/id.rb
  migrations/lib/database/intermediate_db/upload.rb
  migrations/lib/migrations.rb
Labels: migrations-tooling

#30449 DEV: Don't nest deferring calls
  app/assets/javascripts/discourse/app/components/composer-editor.js
  app/assets/javascripts/discourse/app/services/route-scroll-manager.js
  app/assets/javascripts/discourse/app/services/scroll-direction.js
  app/assets/javascripts/select-kit/addon/components/select-kit.js
  plugins/chat/assets/javascripts/discourse/lib/textarea-interactor.js
Labels: chat

#30845 FEATURE: Improve `use_email_for_username_and_name_suggestions`
  config/locales/server.en.yml
  lib/user_name_suggester.rb
  spec/lib/email/receiver_spec.rb
  spec/lib/user_name_suggester_spec.rb
Labels: i18n

#30897 UX: Remove `loading="lazy"` from avatars for improved UX
  app/assets/javascripts/discourse/app/lib/avatar-utils.js
  app/assets/javascripts/discourse/tests/acceptance/mobile-discovery-test.js
  app/assets/javascripts/discourse/tests/acceptance/topic-discovery-test.js
  app/assets/javascripts/discourse/tests/unit/lib/avatar-utils-test.js
  app/assets/javascripts/discourse/tests/unit/models/report-test.js
  plugins/chat/spec/integration/post_chat_quote_spec.rb
  plugins/chat/spec/models/chat/message_spec.rb
  spec/jobs/change_display_name_spec.rb
  spec/lib/pretty_text_spec.rb
  spec/lib/quote_rewriter_spec.rb
  spec/services/username_changer_spec.rb
Labels: chat

#30900 FIX: removes mousewheel edge case on messages
  plugins/chat/assets/javascripts/discourse/components/chat-message-actions-desktop.gjs
Labels: chat

#30822 UX: Improve git/code oneboxes
  app/assets/stylesheets/common/base/code_highlighting.scss
  app/assets/stylesheets/common/base/onebox.scss
  app/assets/stylesheets/common/printer-friendly.scss
  app/assets/stylesheets/mobile/topic-post.scss
  plugins/chat/assets/stylesheets/common/chat-message-images.scss
Labels: chat

#30904 DEV: Fix a warning in a chat spec
  plugins/chat/spec/system/chat_message_interaction_spec.rb
Labels: chat

#30019 DEV: Replace remaining uses of `query` helper
  app/assets/javascripts/discourse/app/lib/utilities.js
  app/assets/javascripts/discourse/tests/acceptance/composer-editor-mentions-test.js
  app/assets/javascripts/discourse/tests/acceptance/composer-image-preview-test.js
  app/assets/javascripts/discourse/tests/acceptance/composer-messages-test.js
  app/assets/javascripts/discourse/tests/acceptance/composer-test.js
  app/assets/javascripts/discourse/tests/acceptance/composer-uploads-uppy-test.js
  app/assets/javascripts/discourse/tests/acceptance/emoji-test.js
  app/assets/javascripts/discourse/tests/acceptance/fast-edit-test.js
  app/assets/javascripts/discourse/tests/acceptance/flag-post-test.js
  app/assets/javascripts/discourse/tests/acceptance/image-aspect-ratio-test.js
  app/assets/javascripts/discourse/tests/acceptance/post-inline-mentions-test.js
  app/assets/javascripts/discourse/tests/acceptance/post-table-wrapper-test.js
  app/assets/javascripts/discourse/tests/acceptance/preferences-test.js
  app/assets/javascripts/discourse/tests/acceptance/search-test.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-narrow-desktop-test.js
  app/assets/javascripts/discourse/tests/acceptance/topic-discovery-test.js
  app/assets/javascripts/discourse/tests/acceptance/topic-quote-button-test.js
  app/assets/javascripts/discourse/tests/acceptance/topic-user-status-test.js
  app/assets/javascripts/discourse/tests/acceptance/user-menu-test.js
  app/assets/javascripts/discourse/tests/acceptance/user-preferences-interface-test.js
  app/assets/javascripts/discourse/tests/acceptance/video-placeholder-test.js
  app/assets/javascripts/discourse/tests/helpers/qunit-helpers.js
  app/assets/javascripts/discourse/tests/integration/components/admin-theme-settings-editor-test.gjs
  app/assets/javascripts/discourse/tests/integration/components/d-editor-test.js
  app/assets/javascripts/discourse/tests/integration/components/date-input-test.js
  app/assets/javascripts/discourse/tests/integration/components/date-time-input-range-test.js
  app/assets/javascripts/discourse/tests/integration/components/date-time-input-test.js
  app/assets/javascripts/discourse/tests/integration/components/dialog-holder-test.js
  app/assets/javascripts/discourse/tests/integration/components/form-template-field/input-test.js
  app/assets/javascripts/discourse/tests/integration/components/form-template-field/textarea-test.js
  app/assets/javascripts/discourse/tests/integration/components/home-logo-test.gjs
  app/assets/javascripts/discourse/tests/integration/components/input-size-test.js
  app/assets/javascripts/discourse/tests/integration/components/light-dark-img-test.gjs
  app/assets/javascripts/discourse/tests/integration/components/plugin-outlet-decorator-test.gjs
  app/assets/javascripts/discourse/tests/integration/components/plugin-outlet-test.gjs
  app/assets/javascripts/discourse/tests/integration/components/search-menu-test.gjs
  app/assets/javascripts/discourse/tests/integration/components/select-kit/email-group-user-chooser-test.js
  app/assets/javascripts/discourse/tests/integration/components/select-kit/mini-tag-chooser-test.js
  app/assets/javascripts/discourse/tests/integration/components/select-kit/multi-select-test.js
  app/assets/javascripts/discourse/tests/integration/components/select-kit/single-select-test.js
  app/assets/javascripts/discourse/tests/integration/components/sidebar/section-link-test.js
  app/assets/javascripts/discourse/tests/integration/components/site-setting-test.js
  app/assets/javascripts/discourse/tests/integration/components/uppy-image-uploader-test.js
  app/assets/javascripts/discourse/tests/integration/components/user-info-test.js
  app/assets/javascripts/discourse/tests/integration/components/user-menu/menu-test.js
  app/assets/javascripts/discourse/tests/integration/components/user-status-message-test.js
  app/assets/javascripts/discourse/tests/integration/components/widgets/widget-dropdown-test.js
  plugins/chat/test/javascripts/acceptance/chat-composer-test.js
  plugins/chat/test/javascripts/components/channel-icon-test.gjs
  plugins/chat/test/javascripts/components/chat-composer-placeholder-test.js
  plugins/chat/test/javascripts/components/chat-message-reaction-test.js
  plugins/chat/test/javascripts/components/chat-upload-test.js
  plugins/discourse-details/test/javascripts/acceptance/details-button-test.js
  plugins/poll/test/javascripts/component/poll-buttons-dropdown-test.js
  plugins/spoiler-alert/test/javascripts/acceptance/spoiler-button-test.js
Labels: chat

#30916 FIX: Admin sidebar problem check missing -1 check
  app/services/problem_check/admin_sidebar_deprecation.rb
  config/locales/server.en.yml
  spec/services/problem_check/admin_sidebar_deprecation_spec.rb
Labels: i18n

#30923 FIX: ensures chat navbar is on top of content
  plugins/chat/assets/stylesheets/common/base-common.scss
Labels: chat

#30473 UX: adds chat send shortcut user preference
  app/assets/stylesheets/common/base/discourse.scss
  app/models/user_option.rb
  plugins/chat/assets/javascripts/discourse/components/chat-composer.js
  plugins/chat/assets/javascripts/discourse/controllers/preferences-chat.js
  plugins/chat/assets/javascripts/discourse/initializers/chat-user-options.js
  plugins/chat/assets/javascripts/discourse/templates/preferences/chat.hbs
  plugins/chat/config/locales/client.en.yml
  plugins/chat/db/migrate/20241226162229_add_chat_send_shortcut_preference.rb
  plugins/chat/lib/chat/user_option_extension.rb
  plugins/chat/plugin.rb
  plugins/chat/spec/system/chat_composer_spec.rb
  plugins/chat/spec/system/page_objects/chat/components/composer.rb
  plugins/chat/spec/system/user_chat_preferences_spec.rb
Labels: chat, i18n

#30325 Added duplication to name to prevent modification of frozen string exception
  script/import_scripts/base.rb
Labels: migrations-tooling

#30918 FEATURE: Allow admins to export users
  app/assets/javascripts/admin/addon/components/admin-user-exports-table.gjs
  app/assets/javascripts/admin/addon/models/user-export.js
  app/assets/javascripts/admin/addon/templates/user-index.hbs
  app/assets/javascripts/discourse/tests/helpers/create-pretender.js
  app/controllers/export_csv_controller.rb
  app/jobs/onceoff/clean_up_user_export_topics.rb
  app/jobs/regular/export_user_archive.rb
  app/models/user_export.rb
  app/serializers/admin_detailed_user_serializer.rb
  app/serializers/user_export_serializer.rb
  config/locales/client.en.yml
  config/routes.rb
  lib/guardian.rb
  spec/lib/guardian_spec.rb
  spec/models/user_export_spec.rb
  spec/requests/api/schemas/json/admin_user_response.json
  spec/requests/export_csv_controller_spec.rb
  spec/serializers/user_export_serializer_spec.rb
Labels: i18n

#30920 FEATURE: Add attribution to staff notice and rename functionality
  app/assets/javascripts/discourse/app/components/modal/change-post-notice.gjs
  app/assets/javascripts/discourse/app/components/modal/change-post-notice.hbs
  app/assets/javascripts/discourse/app/components/modal/change-post-notice.js
  app/assets/javascripts/discourse/app/lib/transform-post.js
  app/assets/javascripts/discourse/app/models/post.js
  app/assets/javascripts/discourse/app/widgets/post.js
  app/assets/javascripts/discourse/tests/integration/components/widgets/post-test.js
  app/assets/stylesheets/common/base/topic-post.scss
  app/controllers/posts_controller.rb
  app/serializers/post_serializer.rb
  app/serializers/post_stream_serializer_mixin.rb
  config/locales/client.en.yml
  spec/requests/api/posts_spec.rb
  spec/requests/posts_controller_spec.rb
  spec/serializers/post_serializer_spec.rb
  spec/system/post_menu_spec.rb
Labels: i18n

#30987 DEV: Promote historic post_deploy migrations for core plugins.
  plugins/automation/db/migrate/20240507112651_switch_topic_automation_custom_fields_to_json.rb
  plugins/automation/db/migrate/20240507112751_switch_user_automation_custom_fields_to_json.rb
  plugins/automation/db/migrate/20240507112851_switch_topic_automation_triggered_ids_custom_fields_to_json.rb
  plugins/automation/db/migrate/20240507112951_drop_automation_ids_custom_field_indexes.rb
  plugins/chat/db/migrate/20240408140000_drop_notification_id_from_chat_mentions.rb
  plugins/chat/db/migrate/20240410130000_drop_user_id_from_chat_mentions.rb
  plugins/chat/db/migrate/20240425133407_drop_chat_channels_last_message_sent_at.rb
  plugins/chat/db/migrate/20240516145911_update_user_options_for_thread_title_prompts.rb
  plugins/chat/db/migrate/20240711154622_update_chat_messages_created_by_sdk.rb
  plugins/poll/db/migrate/20240122015626_fill_poll_create_allowed_groups_based_on_deprecated_setting.rb
  plugins/styleguide/db/migrate/20240122015630_fill_styleguide_admin_only_groups.rb
Labels: chat

#30989 DEV: fix typo in admin.user.exports.started translation string
  config/locales/client.en.yml
Labels: i18n

#30974 FEATURE: Improve wizard font selection and set Inter as default font for new sites
  app/assets/javascripts/discourse/app/static/wizard/components/fields/dropdown.gjs
  app/assets/javascripts/discourse/app/static/wizard/components/fields/styling-preview/-preview-base.js
  app/assets/javascripts/discourse/app/static/wizard/models/wizard.js
  config/locales/server.en.yml
  config/site_settings.yml
  db/migrate/20250117065027_set_default_font_for_existing_sites.rb
  lib/wizard/builder.rb
  spec/lib/stylesheet/importer_spec.rb
  spec/lib/wizard/step_updater_spec.rb
  spec/lib/wizard/wizard_builder_spec.rb
  spec/system/page_objects/pages/wizard.rb
  spec/system/wizard_spec.rb
Labels: i18n

#30948 FIX: improves reliability of last visit line in chat
  plugins/chat/assets/javascripts/discourse/components/chat-channel.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-message-separator.gjs
  plugins/chat/assets/javascripts/discourse/components/styleguide/chat-message.hbs
  plugins/chat/assets/javascripts/discourse/components/styleguide/chat-message.js
  plugins/chat/assets/javascripts/discourse/models/chat-channel.js
  plugins/chat/assets/javascripts/discourse/models/chat-message.js
  plugins/chat/spec/system/last_visit_spec.rb
  plugins/chat/spec/system/page_objects/chat/chat_channel.rb
Labels: chat

#29879 DEV: implements model/afterModel/deactivate in drawer router
  plugins/chat/assets/javascripts/discourse/components/chat-drawer.hbs
  plugins/chat/assets/javascripts/discourse/components/chat/drawer-routes/browse.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/drawer-routes/channel-info-members.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/drawer-routes/channel-info-settings.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/drawer-routes/channel-thread.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/drawer-routes/channel-threads.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/drawer-routes/channel.gjs
  plugins/chat/assets/javascripts/discourse/routes/chat.js
  plugins/chat/assets/javascripts/discourse/services/chat-drawer-router.js
  plugins/chat/assets/javascripts/discourse/services/chat-subscriptions-manager.js
Labels: chat

#31013 FIX: correctly closes panels in threads
  plugins/chat/assets/javascripts/discourse/routes/chat-channel-thread.js
  plugins/chat/assets/javascripts/discourse/routes/chat-channel-threads.js
  plugins/chat/spec/system/navigation_spec.rb
Labels: chat

#31016 A11Y: Allow tabbing to members link in chat channel card
  plugins/chat/assets/javascripts/discourse/components/chat-channel-card.gjs
Labels: chat

#30865 FEATURE: new `fast_typing_threshold` site setting
  app/serializers/reviewable_score_serializer.rb
  config/locales/server.en.yml
  config/site_settings.yml
  db/migrate/20250119222805_fill_fast_typing_threshold_based_on_deprecated_setting.rb
  lib/new_post_manager.rb
  lib/site_settings/deprecated_settings.rb
  plugins/poll/spec/controllers/posts_controller_spec.rb
  spec/requests/posts_controller_spec.rb
Labels: i18n

#31012 DEV: Remove plugin sidebar rendering fallback
  app/assets/javascripts/admin/addon/components/admin-plugin-config-area.gjs
  app/assets/javascripts/admin/addon/components/admin-plugin-config-page.gjs
  app/assets/javascripts/admin/addon/controllers/admin-plugins.js
  app/assets/javascripts/admin/addon/services/admin-plugin-nav-manager.js
  app/assets/javascripts/discourse/app/lib/admin-plugin-config-nav.js
  app/assets/javascripts/discourse/app/lib/plugin-api.gjs
  app/assets/javascripts/discourse/tests/integration/components/admin-plugin-config-area-test.js
  plugins/chat/assets/javascripts/discourse/initializers/chat-admin-plugin-configuration-nav.js
Labels: chat

#31043 UX: Fix mobile chat DM row layout
  plugins/chat/assets/stylesheets/mobile/chat-channel-row.scss
Labels: chat

#30973 DEV: remove experimental lightbox
  app/assets/javascripts/discourse/app/components/d-lightbox.hbs
  app/assets/javascripts/discourse/app/components/d-lightbox.js
  app/assets/javascripts/discourse/app/components/d-lightbox/backdrop.hbs
  app/assets/javascripts/discourse/app/components/d-lightbox/body.hbs
  app/assets/javascripts/discourse/app/components/d-lightbox/carousel.hbs
  app/assets/javascripts/discourse/app/components/d-lightbox/footer.hbs
  app/assets/javascripts/discourse/app/components/d-lightbox/header.hbs
  app/assets/javascripts/discourse/app/components/d-lightbox/screen-reader-announcer.hbs
  app/assets/javascripts/discourse/app/components/uppy-image-uploader.hbs
  app/assets/javascripts/discourse/app/components/uppy-image-uploader.js
  app/assets/javascripts/discourse/app/instance-initializers/document-scrollbar-width.js
  app/assets/javascripts/discourse/app/instance-initializers/post-decorations.js
  app/assets/javascripts/discourse/app/lib/lightbox.js
  app/assets/javascripts/discourse/app/lib/lightbox/constants.js
  app/assets/javascripts/discourse/app/lib/lightbox/helpers.js
  app/assets/javascripts/discourse/app/lib/lightbox/helpers/create-download-link.js
  app/assets/javascripts/discourse/app/lib/lightbox/helpers/find-nearest-shared-parent.js
  app/assets/javascripts/discourse/app/lib/lightbox/helpers/get-swipe-direction.js
  app/assets/javascripts/discourse/app/lib/lightbox/helpers/open-image-in-new-tab.js
  app/assets/javascripts/discourse/app/lib/lightbox/helpers/preload-item-images.js
  app/assets/javascripts/discourse/app/lib/lightbox/helpers/scroll-parent-to-element-center.js
  app/assets/javascripts/discourse/app/lib/lightbox/helpers/set-carousel-scroll-position.js
  app/assets/javascripts/discourse/app/lib/lightbox/helpers/site-theme-color.js
  app/assets/javascripts/discourse/app/lib/lightbox/process-html.js
  app/assets/javascripts/discourse/app/services/lightbox.js
  app/assets/javascripts/discourse/app/templates/application.hbs
  app/assets/javascripts/discourse/tests/acceptance/d-lightbox-test.js
  app/assets/javascripts/discourse/tests/helpers/lightbox-helpers.js
  app/assets/javascripts/discourse/tests/integration/components/d-lightbox-test.js
  app/assets/javascripts/discourse/tests/unit/lib/lightbox/helpers/create-download-link-test.js
  app/assets/javascripts/discourse/tests/unit/lib/lightbox/helpers/find-nearest-shared-parent-test.js
  app/assets/javascripts/discourse/tests/unit/lib/lightbox/helpers/get-swipe-direction-test.js
  app/assets/javascripts/discourse/tests/unit/lib/lightbox/helpers/open-image-in-new-tab-test.js
  app/assets/javascripts/discourse/tests/unit/lib/lightbox/helpers/preload-item-images-test.js
  app/assets/javascripts/discourse/tests/unit/lib/lightbox/helpers/scroll-parent-to-element-to-center-test.js
  app/assets/javascripts/discourse/tests/unit/lib/lightbox/helpers/set-carousel-scroll-position-test.js
  app/assets/javascripts/discourse/tests/unit/lib/lightbox/helpers/site-theme-color-test.js
  app/assets/javascripts/discourse/tests/unit/lib/lightbox/process-html-test.js
  app/assets/javascripts/discourse/tests/unit/services/lightbox-test.js
  app/assets/stylesheets/common/components/_index.scss
  app/assets/stylesheets/common/components/d-lightbox.scss
  config/locales/client.en.yml
  config/locales/server.en.yml
  config/site_settings.yml
  plugins/chat/assets/javascripts/discourse/initializers/chat-decorators.js
Labels: chat, i18n

#31081 Improved desc of use_email_for_username_and_name_suggestions
  config/locales/server.en.yml
Labels: i18n

#31083 DEV: Change dIcon to icon in components
  app/assets/javascripts/admin/addon/components/admin-report.gjs
  app/assets/javascripts/admin/addon/components/admin-section-landing-item.gjs
  app/assets/javascripts/admin/addon/components/dashboard-new-feature-item.gjs
  app/assets/javascripts/admin/addon/components/install-theme-item.gjs
  app/assets/javascripts/admin/addon/components/modal/install-theme.gjs
  app/assets/javascripts/admin/addon/components/schema-theme-setting/editor/child-tree-node.gjs
  app/assets/javascripts/admin/addon/components/schema-theme-setting/editor/child-tree.gjs
  app/assets/javascripts/admin/addon/components/schema-theme-setting/editor/tree.gjs
  app/assets/javascripts/discourse/app/components/about-page.gjs
  app/assets/javascripts/discourse/app/components/actions-summary.gjs
  app/assets/javascripts/discourse/app/components/back-button.gjs
  app/assets/javascripts/discourse/app/components/badge-card.gjs
  app/assets/javascripts/discourse/app/components/post-list/item/index.gjs
  app/assets/javascripts/discourse/app/components/topic-label-content.gjs
  app/assets/javascripts/discourse/app/components/topic-map/private-message-map.gjs
  app/assets/javascripts/discourse/app/components/topic-map/topic-map-summary.gjs
  app/assets/javascripts/discourse/app/components/user-stream.gjs
  plugins/chat/assets/javascripts/discourse/components/channels-list-direct.gjs
  plugins/chat/assets/javascripts/discourse/components/channels-list-public.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-channel-card.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-channel-status.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-composer-message-details.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-composer-upload.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-mention-warnings.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-message-in-reply-to-indicator.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/composer/button.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/message/info.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/message/left-gutter.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/notices/mention_without_membership.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/scroll-to-bottom-arrow.gjs
  plugins/chat/assets/javascripts/discourse/connectors/user-preferences-nav/chat-preferences.gjs
Labels: chat

#31085 FEATURE: Localization admin settings config page
  app/assets/javascripts/admin/addon/controllers/admin-config-localization-settings.js
  app/assets/javascripts/admin/addon/routes/admin-config-localization.js
  app/assets/javascripts/admin/addon/routes/admin-route-map.js
  app/assets/javascripts/admin/addon/templates/config-localization-settings.gjs
  app/assets/javascripts/discourse/app/lib/sidebar/admin-nav-map.js
  app/controllers/admin/config/site_settings_controller.rb
  app/models/site_setting.rb
  config/locales/client.en.yml
  config/locales/server.en.yml
  config/routes.rb
  config/site_settings.yml
  plugins/discourse-local-dates/config/locales/server.en.yml
  plugins/discourse-local-dates/config/settings.yml
Labels: i18n

#31092 FIX: switch panel back to forum last known url
  app/assets/javascripts/discourse/app/components/sidebar/switch-panel-buttons.gjs
  app/assets/javascripts/discourse/app/lib/sidebar/custom-sections.js
  plugins/chat/spec/system/separate_sidebar_mode_spec.rb
Labels: chat
