Repository discourse/discourse, pull requests merged in 2025-08, with the labels that each got.

#34012 FIX: Ensure imported category slug is deduplicate
  script/bulk_import/base.rb
Labels: migrations-tooling

#34000 FEATURE: Add new edit_tags_allowed_groups setting
  app/assets/javascripts/discourse/app/components/d-navigation.gjs
  app/assets/javascripts/discourse/app/components/tag-info.gjs
  app/assets/javascripts/discourse/app/models/user.js
  app/assets/javascripts/discourse/tests/acceptance/tags-test.js
  app/controllers/tags_controller.rb
  app/serializers/current_user_serializer.rb
  config/locales/server.en.yml
  config/site_settings.yml
  lib/guardian/tag_guardian.rb
  spec/lib/guardian/tag_guardian_spec.rb
  spec/requests/tags_controller_spec.rb
  spec/system/page_objects/pages/tag.rb
  spec/system/tag_edit_spec.rb
Labels: i18n

#34053 FIX: Event notification translation for predefined attendance
  plugins/discourse-calendar/app/models/discourse_post_event/event.rb
  plugins/discourse-calendar/assets/javascripts/discourse/initializers/discourse-calendar.js
  plugins/discourse-calendar/config/locales/client.en.yml
  plugins/discourse-calendar/test/javascripts/acceptance/notifications-test.js
Labels: i18n, discourse-calendar

#34052 DEV: Drop old `enable_experimental_sidebar` user option
  app/models/user_option.rb
  db/post_migrate/20250804021210_drop_enable_experimental_sidebar_user_option.rb
  migrations/db/intermediate_db_schema/100-base-schema.sql
  migrations/lib/converters/discourse/steps/user_options.rb
  migrations/lib/database/intermediate_db/user_option.rb
Labels: migrations-tooling

#33967 FEATURE: Add dark color scheme setting for themes
  app/assets/javascripts/admin/addon/components/color-palette-list-item.gjs
  app/assets/javascripts/admin/addon/controllers/admin-customize-colors.js
  app/assets/javascripts/admin/addon/controllers/admin-customize-themes-show-index.js
  app/assets/javascripts/admin/addon/lib/color-scheme-manager.js
  app/assets/javascripts/admin/addon/routes/admin-customize-themes-show-index.js
  app/assets/javascripts/admin/addon/templates/customize-colors.gjs
  app/assets/javascripts/admin/addon/templates/customize-themes-show-index.gjs
  app/assets/javascripts/discourse/app/controllers/preferences/interface.js
  app/assets/javascripts/discourse/app/lib/color-scheme-picker.js
  app/assets/javascripts/discourse/app/lib/theme-selector.js
  app/assets/javascripts/discourse/tests/acceptance/user-preferences-interface-test.js
  app/controllers/admin/themes_controller.rb
  app/helpers/application_helper.rb
  app/models/theme.rb
  app/serializers/site_serializer.rb
  app/serializers/theme_serializer.rb
  config/locales/client.en.yml
  config/locales/server.en.yml
  config/site_settings.yml
  db/fixtures/600_themes.rb
  db/migrate/20250722074045_add_dark_color_scheme_id_to_themes.rb
  db/migrate/20250729044139_fill_in_dark_color_scheme_id.rb
  lib/stylesheet/manager.rb
  lib/system_themes_manager.rb
  plugins/styleguide/assets/javascripts/discourse/components/toggle-color-mode.gjs
  spec/helpers/application_helper_spec.rb
  spec/models/site_spec.rb
  spec/requests/api/schemas/json/site_response.json
  spec/requests/application_controller_spec.rb
  spec/serializers/site_serializer_spec.rb
  spec/serializers/theme_serializer_spec.rb
  spec/system/admin_color_palettes_features_spec.rb
  spec/system/admin_customize_themes_spec.rb
  spec/system/interface_color_selector_spec.rb
Labels: i18n, styleguide

#34051 FEATURE: User preference for editor Markdown monospace font
  app/assets/javascripts/admin/addon/lib/constants.js
  app/assets/javascripts/discourse/app/components/composer/textarea-editor.gjs
  app/assets/javascripts/discourse/app/components/d-editor.gjs
  app/assets/javascripts/discourse/app/controllers/preferences/interface.js
  app/assets/javascripts/discourse/app/models/user.js
  app/assets/javascripts/discourse/app/templates/preferences/interface.gjs
  app/assets/javascripts/discourse/tests/fixtures/session-fixtures.js
  app/assets/javascripts/discourse/tests/fixtures/user-fixtures.js
  app/assets/stylesheets/common/d-editor.scss
  app/models/site_setting.rb
  app/models/user_option.rb
  app/serializers/current_user_option_serializer.rb
  app/serializers/user_option_serializer.rb
  app/services/site_setting_update_existing_users.rb
  app/services/user_updater.rb
  config/locales/client.en.yml
  config/locales/server.en.yml
  config/site_settings.yml
  db/migrate/20250804005557_enable_markdown_monospace_font_user_option.rb
  lib/tasks/import.rake
  migrations/db/intermediate_db_schema/100-base-schema.sql
  migrations/lib/converters/discourse/steps/user_options.rb
  migrations/lib/database/intermediate_db/user_option.rb
  script/bulk_import/base.rb
  spec/models/user_option_spec.rb
  spec/models/user_spec.rb
  spec/requests/api/schemas/json/user_get_response.json
Labels: i18n, migrations-tooling

#34068 UX: Make AI streaming more efficient under glimmer post stream
  plugins/discourse-ai/assets/javascripts/discourse/lib/ai-streamer/progress-handlers.js
  plugins/discourse-ai/assets/javascripts/discourse/lib/ai-streamer/updaters/post-updater.js
Labels: discourse-ai

#34072 DEV: add text area option to custom user fields
  app/assets/javascripts/admin/addon/models/user-field.js
  app/assets/javascripts/discourse/app/components/user-field.gjs
  app/assets/javascripts/discourse/app/components/user-fields/textarea.gjs
  app/assets/stylesheets/common/base/login-signup-page.scss
  app/assets/stylesheets/common/base/user.scss
  app/models/user_field.rb
  config/locales/client.en.yml
  spec/requests/admin/user_fields_controller_spec.rb
Labels: i18n

#34082 FIX: Make sure strings are correctly escaped before seeding a persona for triage scripts
  plugins/discourse-ai/db/migrate/20250721080444_seed_personas_from_triage_scripts.rb
Labels: discourse-ai

#34084 FIX: do not perform null translation
  plugins/discourse-ai/db/migrate/20250721080444_seed_personas_from_triage_scripts.rb
Labels: discourse-ai

#34085 FIX: partial migrations
  plugins/discourse-ai/db/migrate/20250721080444_seed_personas_from_triage_scripts.rb
Labels: discourse-ai

#33980 DEV: use floatkit autocomplete for chat composer
  app/assets/javascripts/discourse/app/modifiers/d-autocomplete.js
  config/locales/server.en.yml
  config/site_settings.yml
  plugins/chat/assets/javascripts/discourse/components/chat-composer.gjs
  plugins/chat/spec/system/chat_composer_spec.rb
  plugins/chat/spec/system/hashtag_autocomplete_spec.rb
Labels: chat, i18n

#34092 UX: use success colour for solved icon in topic list
  plugins/discourse-solved/assets/stylesheets/solutions.scss
Labels: discourse-solved

#33682 FEATURE: add option to hide IP addresses from moderators
  app/assets/javascripts/admin/addon/routes/admin-logs-screened-ip-addresses.js
  app/assets/javascripts/admin/addon/templates/logs.gjs
  app/assets/javascripts/admin/addon/templates/user-index.gjs
  app/controllers/admin/screened_ip_addresses_controller.rb
  app/controllers/admin/users_controller.rb
  app/serializers/admin_user_serializer.rb
  app/serializers/current_user_serializer.rb
  app/serializers/user_history_serializer.rb
  config/locales/server.en.yml
  config/site_settings.yml
  lib/guardian.rb
  spec/lib/guardian_spec.rb
  spec/requests/api/schemas/json/admin_user_response.json
  spec/serializers/current_user_serializer_spec.rb
Labels: i18n

#34099 FIX: 'custom' prefix was removed. Cleanup llm_report's model field
  plugins/discourse-ai/db/migrate/20250805134853_report_runner_model_field_cleanup.rb
Labels: discourse-ai

#34087 DEV: attempt to de-flake concurrent spec
  plugins/discourse-ai/spec/lib/completions/cancel_manager_spec.rb
Labels: discourse-ai

#33959 FEATURE: Add date range selector to staff action log
  app/assets/javascripts/admin/addon/controllers/admin-logs-staff-action-logs.js
  app/assets/javascripts/admin/addon/routes/admin-logs-staff-action-logs.js
  app/assets/javascripts/admin/addon/templates/logs/staff-action-logs.gjs
  app/assets/stylesheets/admin/staff_logs.scss
  app/controllers/admin/staff_action_logs_controller.rb
  app/jobs/regular/export_csv_file.rb
  app/models/user_history.rb
  config/locales/client.en.yml
  spec/jobs/export_csv_file_spec.rb
  spec/models/user_history_spec.rb
  spec/requests/admin/staff_action_logs_controller_spec.rb
  spec/system/admin_staff_action_logs_spec.rb
  spec/system/page_objects/pages/admin_staff_action_logs.rb
Labels: i18n

#34132 FIX: Catch possible PG exception from `Chat::AutoJoinChannels`
  plugins/chat/app/services/chat/auto_join_channels.rb
  plugins/chat/plugin.rb
  plugins/chat/spec/services/chat/auto_join_channels_spec.rb
Labels: chat

#34124 DEV: Add new `user_options` column to intermediate DB schema
  migrations/lib/database/intermediate_db/user_option.rb
Labels: migrations-tooling

#34134 PERF: limit the number of upcoming dates generated
  plugins/discourse-calendar/app/serializers/discourse_post_event/event_summary_serializer.rb
  plugins/discourse-calendar/spec/serializers/discourse_post_event/event_summary_serializer_spec.rb
Labels: discourse-calendar

#34143 FIX: Make sure we don't add parts of the same chunk twice when dealing with ParserErrors
  plugins/discourse-ai/lib/completions/json_streaming_tracker.rb
  plugins/discourse-ai/spec/lib/completions/endpoints/anthropic_spec.rb
Labels: discourse-ai

#34117 FIX: AI search tool should respect new hyde setting
  plugins/discourse-ai/lib/personas/tools/search.rb
  plugins/discourse-ai/spec/lib/personas/tools/search_spec.rb
Labels: discourse-ai

#34145 FEATURE: Add support for matryoshka in Gemini embeddings
  plugins/discourse-ai/app/models/embedding_definition.rb
  plugins/discourse-ai/lib/inference/gemini_embeddings.rb
  plugins/discourse-ai/spec/lib/inference/gemini_embeddings_spec.rb
  plugins/discourse-ai/spec/models/embedding_definition_spec.rb
Labels: discourse-ai

#34153 UX: avoid prosemirror nodes w/ content and draggable:true
  app/assets/javascripts/discourse/app/static/prosemirror/extensions/html-block.js
  plugins/poll/assets/javascripts/lib/rich-editor-extension.js
Labels: poll

#34119 UX: add welcome banner page visibility setting
  app/assets/javascripts/discourse/app/components/welcome-banner.gjs
  app/assets/javascripts/discourse/tests/integration/components/welcome-banner-test.gjs
  app/models/welcome_banner_page_visibility.rb
  config/locales/client.en.yml
  config/locales/server.en.yml
  config/site_settings.yml
  spec/system/page_objects/components/welcome_banner.rb
  spec/system/welcome_banner_spec.rb
  themes/horizon/scss/welcome-banner.scss
Labels: i18n

#34168 FEATURE: support GPT-5
  plugins/discourse-ai/config/locales/client.en.yml
  plugins/discourse-ai/lib/completions/dialects/chat_gpt.rb
  plugins/discourse-ai/lib/completions/endpoints/aws_bedrock.rb
  plugins/discourse-ai/lib/completions/endpoints/open_ai.rb
  plugins/discourse-ai/lib/completions/llm.rb
  plugins/discourse-ai/spec/lib/completions/endpoints/open_ai_spec.rb
  plugins/discourse-ai/spec/system/llms/ai_llm_spec.rb
Labels: i18n, discourse-ai

#33380 DEV: Refactor `Chat::ListChannelThreadMessages` a bit
  plugins/chat/app/controllers/chat/api/channel_thread_messages_controller.rb
  plugins/chat/app/services/chat/list_channel_messages.rb
  plugins/chat/app/services/chat/list_channel_thread_messages.rb
  plugins/chat/app/services/chat/thread/policy/message_existence.rb
  plugins/chat/lib/discourse_dev/thread.rb
  plugins/chat/spec/requests/chat/api/channel_thread_messages_controller_spec.rb
  plugins/chat/spec/services/chat/list_channel_messages_spec.rb
  plugins/chat/spec/services/chat/list_channel_thread_messages_spec.rb
  plugins/chat/spec/services/chat/thread/policy/message_existence_spec.rb
Labels: chat

#34170 FIX: correct open ai endpoint call
  plugins/discourse-ai/lib/completions/endpoints/open_ai.rb
Labels: discourse-ai

#34163 UX: add [^n] rich editor footnote input rule
  plugins/footnote/assets/javascripts/lib/rich-editor-extension.js
  plugins/footnote/spec/system/rich_editor_extension_spec.rb
Labels: footnote

#34178 UX: Fix more-topics in the posters column case
  app/assets/stylesheets/common/components/more-topics.scss
  app/assets/stylesheets/desktop/topic-list.scss
  plugins/styleguide/assets/javascripts/discourse/components/sections/organisms/more-topics.gjs
  plugins/styleguide/assets/javascripts/discourse/lib/dummy-data.js
Labels: styleguide

#34179 FEATURE: Add support for 'minimal' reasoning effort in OpenAI models
  plugins/discourse-ai/app/models/llm_model.rb
  plugins/discourse-ai/lib/completions/endpoints/open_ai.rb
  plugins/discourse-ai/lib/completions/llm.rb
  plugins/discourse-ai/spec/lib/completions/endpoints/open_ai_spec.rb
Labels: discourse-ai

#34183 DEV: Clean up d-assign tests
  plugins/discourse-assign/test/javascripts/acceptance/assigned-topic-test.js
  plugins/discourse-assign/test/javascripts/acceptance/user-assignments-list-test.js
  plugins/discourse-assign/test/javascripts/acceptance/user-private-messages-assigned-test.js
Labels: discourse-assign

#34129 FEATURE: Add previews to color palette selectors
  app/assets/javascripts/admin/addon/components/color-palette-list-item.gjs
  app/assets/javascripts/admin/addon/templates/customize-themes-show-index.gjs
  app/assets/javascripts/discourse/app/components/color-palette-preview.gjs
  app/assets/javascripts/discourse/app/components/svg/single-color-palette-placeholder.gjs
  app/assets/javascripts/discourse/app/lib/color-transformations.js
  app/assets/javascripts/discourse/app/templates/preferences/interface.gjs
  app/assets/javascripts/discourse/tests/integration/components/color-palette-preview-test.gjs
  app/assets/javascripts/discourse/tests/integration/components/select-kit/color-palette-picker-test.gjs
  app/assets/javascripts/select-kit/addon/components/color-palette-picker.js
  app/assets/javascripts/select-kit/addon/components/color-palette-picker/color-palette-picker-row.gjs
  app/assets/stylesheets/common/select-kit/_index.scss
  app/assets/stylesheets/common/select-kit/color-palette-picker.scss
  config/locales/client.en.yml
  spec/system/admin_color_palettes_features_spec.rb
  spec/system/admin_customize_themes_spec.rb
Labels: i18n

#34167 DEV: remove experimental_sidebar_messages_count_enabled_groups
  app/assets/javascripts/discourse/app/components/user-nav/messages-dropdown.gjs
  app/assets/javascripts/discourse/app/controllers/user-private-messages.js
  app/assets/javascripts/discourse/app/lib/sidebar/user/community-section/my-messages-section-link.js
  app/serializers/current_user_serializer.rb
  config/locales/server.en.yml
  config/site_settings.yml
  db/migrate/20250808064354_remove_experimental_sidebar_messages_count_enabled_groups_site_setting.rb
  spec/system/viewing_sidebar_spec.rb
  spec/system/viewing_user_private_messages_spec.rb
Labels: i18n

#34166 DEV: Unify reviewable action definition.
  app/models/concerns/reviewable_action_builder.rb
  app/models/reviewable_flagged_post.rb
  app/models/reviewable_post.rb
  app/models/reviewable_queued_post.rb
  app/models/reviewable_user.rb
  config/locales/server.en.yml
  lib/reviewable/actions.rb
  spec/models/concerns/reviewable_action_builder_spec.rb
Labels: i18n

#34208 FIX: user autocomplete search cache pollution
  app/assets/javascripts/discourse/app/lib/user-search.js
  app/assets/javascripts/discourse/tests/unit/lib/user-search-test.js
  plugins/chat/assets/javascripts/discourse/components/chat-composer.gjs
  plugins/chat/spec/system/chat_composer_spec.rb
Labels: chat

#33558 DEV: Remove automatic_backups_enabled setting
  app/jobs/scheduled/schedule_backup.rb
  config/locales/server.en.yml
  config/site_settings.yml
  db/post_migrate/20250710074447_clear_backup_frequency_if_disabled.rb
  script/bulk_import/vanilla.rb
  script/bulk_import/vbulletin.rb
  script/bulk_import/vbulletin5.rb
  spec/lib/backup_restore/shared_examples_for_backup_store.rb
Labels: i18n, migrations-tooling

#34230 FIX: Assume buffer also carries stuff from previous chunks, not just the last one
  plugins/discourse-ai/lib/completions/json_streaming_tracker.rb
  plugins/discourse-ai/spec/lib/completions/endpoints/anthropic_spec.rb
Labels: discourse-ai

#34165 FEATURE: remove dark mode checkbox
  app/assets/javascripts/discourse/app/controllers/preferences/interface.js
  app/assets/javascripts/discourse/app/routes/preferences-interface.js
  app/assets/javascripts/discourse/app/templates/preferences/interface.gjs
  app/assets/javascripts/discourse/tests/acceptance/user-preferences-interface-test.js
  app/assets/stylesheets/common/base/user.scss
  app/models/theme.rb
  config/locales/client.en.yml
  spec/system/page_objects/pages/user_preferences_interface.rb
  spec/system/user_page/user_preferences_interface_spec.rb
Labels: i18n

#34240 UX: Improve copy for restricted category tags
  app/assets/javascripts/discourse/app/components/edit-category-tags.gjs
  app/assets/stylesheets/common/base/edit-category.scss
  config/locales/client.en.yml
Labels: i18n

#34245 FIX: Use a valid value for disabling backups using backup_frequency
  app/jobs/scheduled/schedule_backup.rb
  config/locales/server.en.yml
  config/site_settings.yml
  db/post_migrate/20250812033430_replace_null_with_zero_in_backup_frequency.rb
  script/bulk_import/vanilla.rb
  script/bulk_import/vbulletin.rb
  script/bulk_import/vbulletin5.rb
  spec/lib/backup_restore/shared_examples_for_backup_store.rb
Labels: i18n, migrations-tooling

#34251 UX: Improve wording of non-user-selectable option for colour palettes
  config/locales/client.en.yml
Labels: i18n

#34258 FIX: Border-radius should appear in the edit topic title input
  plugins/discourse-ai/assets/stylesheets/modules/ai-helper/common/ai-helper.scss
Labels: discourse-ai

#34259 DEV: Convert more tests to gjs/template tag
  app/assets/javascripts/discourse/tests/integration/components/select-kit/category-chooser-test.gjs
  app/assets/javascripts/discourse/tests/unit/utils/optional-service-test.gjs
  plugins/discourse-lazy-videos/test/javascripts/components/lazy-video-test.gjs
Labels: discourse-lazy-videos

#34231 DEV: Remove unused services from plugins/themes
  plugins/automation/admin/assets/javascripts/admin/components/automation-list.gjs
  plugins/chat/assets/javascripts/discourse/components/channels-list-direct.gjs
  plugins/chat/assets/javascripts/discourse/components/channels-list-public.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-channel-card.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-channel-leave-btn.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-channel-preview-card.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-channel-row.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-channel.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-composer-uploads.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-composer.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-drawer.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-footer.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-message-actions-mobile.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-message-in-reply-to-indicator.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-message.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-thread-list.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-thread.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/drawer-routes/browse.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/drawer-routes/channel.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/header/icon.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/message-creator/add-members.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/message-creator/channel.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/message-creator/group.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/modal/create-channel.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/modal/move-message-to-channel.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/navbar/new-channel-button.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/routes/channel-info-members.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/routes/channel-info-settings.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/routes/channel-info.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/routes/channels.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/routes/direct-messages.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/routes/threads.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/thread-list/header.gjs
  plugins/chat/assets/javascripts/discourse/components/full-page-chat.gjs
  plugins/chat/assets/javascripts/discourse/components/reviewable-chat-message.gjs
  plugins/chat/assets/javascripts/discourse/components/styleguide/chat-composer-message-details.gjs
  plugins/chat/assets/javascripts/discourse/components/styleguide/chat-thread-list-item.gjs
  plugins/chat/assets/javascripts/discourse/components/user-threads/index.gjs
  plugins/discourse-ai/assets/javascripts/discourse/components/ai-bot-conversations.gjs
  plugins/discourse-ai/assets/javascripts/discourse/components/ai-bot-header-icon.gjs
  plugins/discourse-ai/assets/javascripts/discourse/components/ai-full-page-search.gjs
  plugins/discourse-ai/assets/javascripts/discourse/components/ai-persona-editor.gjs
  plugins/discourse-ai/assets/javascripts/discourse/components/ai-spam.gjs
  plugins/discourse-ai/assets/javascripts/discourse/components/ai-split-topic-suggester.gjs
  plugins/discourse-ai/assets/javascripts/discourse/components/ai-usage.gjs
  plugins/discourse-ai/assets/javascripts/discourse/components/modal/ai-summary-modal.gjs
  plugins/discourse-ai/assets/javascripts/discourse/components/modal/chat-modal-channel-summary.gjs
  plugins/discourse-ai/assets/javascripts/discourse/components/modal/diff-modal.gjs
  plugins/discourse-ai/assets/javascripts/discourse/components/modal/share-modal.gjs
  plugins/discourse-calendar/assets/javascripts/discourse/components/discourse-post-event/invitees.gjs
  plugins/discourse-calendar/assets/javascripts/discourse/components/discourse-post-event/more-menu.gjs
  plugins/discourse-calendar/assets/javascripts/discourse/components/modal/post-event-invitees/index.gjs
  plugins/discourse-data-explorer/assets/javascripts/discourse/components/result-types/json.gjs
  plugins/discourse-gamification/admin/assets/javascripts/admin/components/admin-edit-leaderboard.gjs
  plugins/discourse-post-voting/assets/javascripts/discourse/components/post-voting-comment-actions.gjs
  plugins/styleguide/assets/javascripts/discourse/components/styleguide/calendar-date-time-input.gjs
  plugins/styleguide/assets/javascripts/discourse/components/toggle-color-mode.gjs
  themes/horizon/javascripts/discourse/components/card/topic-status-column.gjs
  themes/horizon/javascripts/discourse/components/user-color-palette-menu-item.gjs
  themes/horizon/javascripts/discourse/components/user-color-palette-selector.gjs
Labels: chat, styleguide, discourse-calendar, discourse-gamification, discourse-data-explorer, discourse-ai, discourse-post-voting

#34274 DEV: Promote historic core plugins post_deploy migrations
  plugins/chat/app/models/chat/mention_notification.rb
  plugins/chat/db/migrate/20240829140227_drop_chat_mention_notifications_old_id_column.rb
  plugins/discourse-ai/app/models/rag_document_fragment.rb
  plugins/discourse-ai/db/migrate/20240724174343_migrate_vision_llms.rb
  plugins/discourse-ai/db/migrate/20240729202857_migrate_persona_llm_override.rb
  plugins/discourse-ai/db/migrate/20240809162837_rename_ai_helper_enabled_setting.rb
  plugins/discourse-ai/db/migrate/20240809163303_rename_ai_helper_allowed_groups_setting.rb
  plugins/discourse-ai/db/migrate/20240912055831_drop_persona_id_from_rag_document_fragments.rb
  plugins/discourse-ai/db/migrate/20241008055831_drop_old_embeddings_indexes.rb
  plugins/discourse-ai/db/migrate/20241014041242_ai_persona_post_migrate_drop_cols.rb
  plugins/discourse-topic-voting/db/migrate/20240717071658_update_data_explorer_topic_voting_queries.rb
Labels: chat, discourse-ai, discourse-topic-voting

#34290 FEATURE: Opt-in to the responses API when using Azure
  plugins/discourse-ai/app/models/llm_model.rb
Labels: discourse-ai

#34222 UX: add background image setting for welcome banner
  app/assets/javascripts/discourse/app/components/welcome-banner.gjs
  app/assets/stylesheets/common/components/welcome-banner.scss
  app/assets/stylesheets/desktop/user.scss
  config/locales/server.en.yml
  config/site_settings.yml
  spec/system/page_objects/components/welcome_banner.rb
  spec/system/welcome_banner_spec.rb
Labels: i18n

#34285 DEV: Update jsconfig
  .github/workflows/linting.yml
  jsconfig.json
  package.json
  plugins/discourse-adplugin/assets/javascripts/discourse/initializers/initialize-ad-plugin.gjs
  script/build_jsconfig.rb
Labels: discourse-adplugin

#34283 DEV: raise error on missing name properties for user autocomplete results
  app/assets/javascripts/discourse/app/components/d-editor.gjs
  app/assets/javascripts/discourse/app/lib/search.js
  app/assets/javascripts/discourse/app/lib/user-search.js
  app/assets/javascripts/discourse/app/modifiers/d-autocomplete.js
  config/locales/client.en.yml
  plugins/chat/assets/javascripts/discourse/components/chat-composer.gjs
  plugins/discourse-ai/assets/javascripts/discourse/components/ai-bot-conversations.gjs
Labels: chat, i18n, discourse-ai

#34193 FEATURE: CRUD access for ai-artifacts (admin only)
  plugins/discourse-ai/app/controllers/discourse_ai/admin/ai_artifacts_controller.rb
  plugins/discourse-ai/app/serializers/ai_artifact_serializer.rb
  plugins/discourse-ai/config/routes.rb
  plugins/discourse-ai/spec/requests/admin/ai_artifacts_controller_spec.rb
Labels: discourse-ai

#33482 FIX: Improve automation on/off toggle
  plugins/automation/admin/assets/javascripts/admin/components/automation-enabled-toggle.gjs
  plugins/automation/admin/assets/javascripts/admin/components/automation-list.gjs
  plugins/automation/admin/assets/javascripts/admin/models/discourse-automation-automation.js
  plugins/automation/admin/assets/javascripts/discourse/controllers/admin-plugins/show/automation/edit.js
  plugins/automation/admin/assets/javascripts/discourse/routes/admin-plugins-show-automation-edit.js
  plugins/automation/admin/assets/javascripts/discourse/templates/admin-plugins/show/automation/edit.gjs
  plugins/automation/app/controllers/discourse_automation/admin_automations_controller.rb
  plugins/automation/app/models/discourse_automation/automation.rb
  plugins/automation/assets/stylesheets/common/discourse-automation.scss
  plugins/automation/config/locales/client.en.yml
  plugins/automation/config/locales/server.en.yml
  plugins/automation/lib/discourse_automation/scriptable.rb
  plugins/automation/lib/discourse_automation/triggerable.rb
  plugins/automation/spec/models/automation_spec.rb
  plugins/automation/spec/requests/admin_discourse_automation_automations_spec.rb
  plugins/automation/spec/system/automation_edit_page_spec.rb
  plugins/automation/spec/system/page_objects/discourse_automation/automation.rb
  plugins/automation/spec/system/smoke_test_spec.rb
  spec/system/page_objects/components/d_toggle_switch.rb
Labels: i18n

#34211 FEATURE: enable topic creation button for read only categories
  app/assets/javascripts/discourse/app/components/composer-container.gjs
  app/assets/javascripts/discourse/app/components/create-topic-button.gjs
  app/assets/javascripts/discourse/app/components/d-navigation.gjs
  app/assets/javascripts/discourse/app/controllers/discovery/list.js
  app/assets/javascripts/discourse/app/helpers/category-link.js
  app/assets/javascripts/discourse/app/models/composer.js
  app/assets/javascripts/discourse/app/services/composer.js
  app/assets/javascripts/discourse/tests/acceptance/category-banner-test.js
  app/assets/javascripts/discourse/tests/acceptance/tags-test.js
  app/assets/javascripts/select-kit/addon/components/category-chooser.js
  app/assets/javascripts/select-kit/addon/components/category-row.gjs
  app/assets/stylesheets/common/select-kit/category-row.scss
  config/locales/client.en.yml
  spec/system/composer/default_to_subcategory_spec.rb
  spec/system/drafts_dropdown_spec.rb
  themes/horizon/javascripts/discourse/components/sidebar-new-topic-button.gjs
  themes/horizon/spec/system/sidebar_topic_button_spec.rb
Labels: i18n

#34320 UX: user status emoji alignment in sidebar and chat mention
  app/assets/stylesheets/common/base/sidebar-section-link.scss
  plugins/chat/assets/stylesheets/common/chat-message.scss
Labels: chat

#34187 UX: Add admin report for associated accounts by login provider
  app/models/concerns/reports/associated_accounts_by_provider.rb
  app/models/report.rb
  config/locales/server.en.yml
  spec/models/concerns/reports/associated_accounts_by_provider_spec.rb
  spec/queries/reports/list_query_spec.rb
Labels: i18n

#34322 DEV: Remove unused code
  app/assets/javascripts/discourse/app/components/d-editor.gjs
  app/assets/javascripts/discourse/app/lib/category-hashtags.js
  app/assets/javascripts/discourse/app/lib/hashtag-autocomplete.js
  app/assets/javascripts/float-kit/addon/components/d-menu.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-composer.gjs
  plugins/discourse-ai/assets/javascripts/discourse/components/ai-bot-conversations.gjs
Labels: chat, discourse-ai

#34329 DEV: Update deprecated imports
  plugins/discourse-ai/assets/javascripts/discourse/lib/ai-helper-suggestions.js
  plugins/discourse-assign/assets/javascripts/discourse/components/topic-level-assign-menu.js
  plugins/discourse-assign/assets/javascripts/discourse/initializers/extend-for-assigns.js
  plugins/discourse-templates/assets/javascripts/discourse/services/d-templates.js
Labels: discourse-assign, discourse-ai, discourse-templates

#34257 DEV: Update "what's new" feed due to upstream changes
  app/assets/javascripts/admin/addon/components/dashboard-new-feature-item.gjs
  app/assets/javascripts/admin/addon/components/dashboard-new-features.gjs
  config/locales/client.en.yml
  lib/discourse_updates.rb
  spec/lib/discourse_updates_spec.rb
  spec/system/admin_dashboard_new_features_spec.rb
  spec/system/page_objects/pages/admin_new_features.rb
Labels: i18n

#34318 FIX: Edit color palette button pointing to wrong route
  app/assets/javascripts/admin/addon/controllers/admin-customize-themes-show-index.js
  app/assets/javascripts/admin/addon/templates/customize-themes-show-index.gjs
  config/locales/client.en.yml
  spec/system/admin_customize_themes_spec.rb
  spec/system/page_objects/pages/admin_customize_themes.rb
Labels: i18n

#34346 UX: Update copy from Active -> Default for themes + palettes
  app/assets/javascripts/admin/addon/components/color-palette-list-item.gjs
  app/assets/javascripts/admin/addon/components/themes-grid-card.gjs
  app/assets/stylesheets/common/components/theme-card.scss
  config/locales/client.en.yml
  spec/system/admin_color_palettes_features_spec.rb
  spec/system/admin_customize_themes_config_area_spec.rb
  spec/system/page_objects/pages/admin_customize_themes_config_area.rb
Labels: i18n

#34344 DEV: Remove redundant newlines in generated indexes
  migrations/lib/database/schema/table_writer.rb
Labels: migrations-tooling

#34376 FEATURE: Move theme site settings config page to a tab in the customize page
  app/assets/javascripts/admin/addon/components/admin-config-areas/themes.gjs
  app/assets/javascripts/admin/addon/components/theme-site-settings.gjs
  app/assets/javascripts/admin/addon/routes/admin-route-map.js
  app/assets/javascripts/admin/addon/templates/config-customize-theme-site-settings.gjs
  app/assets/javascripts/admin/addon/templates/config-customize.gjs
  app/assets/javascripts/admin/addon/templates/config-theme-site-settings.gjs
  app/assets/javascripts/admin/addon/templates/customize-themes-show-index.gjs
  app/assets/javascripts/discourse/app/lib/sidebar/admin-nav-map.js
  app/controllers/admin/config/customize_controller.rb
  app/controllers/admin/config/theme_site_settings_controller.rb
  config/locales/client.en.yml
  config/routes.rb
  spec/requests/admin/config/customize_controller_spec.rb
  spec/requests/admin/theme_site_settings_controller_spec.rb
  spec/system/admin_config_theme_site_settings_spec.rb
Labels: i18n

#34399 FIX: Relax Matrix room ID validation
  plugins/discourse-chat-integration/config/locales/client.en.yml
  plugins/discourse-chat-integration/lib/discourse_chat_integration/provider/matrix/matrix_provider.rb
  plugins/discourse-chat-integration/spec/lib/discourse_chat_integration/provider/matrix/matrix_provider_spec.rb
Labels: i18n, discourse-chat-integration

#34400 FEATURE: user and group filters
  app/assets/javascripts/discourse/app/components/discovery/filter-navigation-menu.gjs
  app/assets/javascripts/discourse/app/lib/filter-suggestions.js
  app/assets/javascripts/discourse/tests/unit/lib/filter-suggestions-test.js
  config/locales/server.en.yml
  lib/topics_filter.rb
  spec/lib/topics_filter_spec.rb
Labels: i18n

#34432 UX: fix the 'default_dark_badge' locale
  config/locales/client.en.yml
Labels: i18n

#34440 UX: fix cmd-k bottom padding
  app/assets/stylesheets/common/base/modal.scss
  plugins/chat/assets/stylesheets/common/chat-message-creator.scss
  plugins/chat/assets/stylesheets/common/chat-modal-new-message.scss
Labels: chat

#34210 Some fixes and updates for the FluxBB importer
  script/import_scripts/base.rb
  script/import_scripts/fluxbb.rb
Labels: migrations-tooling

#34373 FEATURE: Disable user tips + narrative bot welcome post for all sites (round 2)
  config/site_settings.yml
  plugins/discourse-narrative-bot/config/settings.yml
  plugins/discourse-narrative-bot/db/migrate/20250820052343_preserve_disable_narrative_bot_welcome_post_for_modified_translations.rb
  plugins/discourse-narrative-bot/spec/requests/discobot_welcome_post_spec.rb
  plugins/discourse-narrative-bot/spec/system/user_spec.rb
  plugins/discourse-narrative-bot/spec/user_spec.rb
Labels: discourse-narrative-bot

#34213 DEV: Allow impersonation without session swapping
  app/assets/javascripts/discourse/app/components/glimmer-site-header.gjs
  app/assets/javascripts/discourse/app/components/impersonation-notice.gjs
  app/assets/stylesheets/common/base/header.scss
  app/controllers/admin/impersonate_controller.rb
  app/jobs/scheduled/clear_expired_impersonations.rb
  app/models/user.rb
  app/models/user_auth_token.rb
  app/models/user_history.rb
  app/serializers/current_user_serializer.rb
  app/services/staff_action_logger.rb
  config/locales/client.en.yml
  config/locales/server.en.yml
  config/routes.rb
  config/site_settings.yml
  db/migrate/20250811070948_add_impersonated_user_fields_to_user_auth_token.rb
  lib/auth/current_user_provider.rb
  lib/auth/default_current_user_provider.rb
  lib/current_user.rb
  lib/impersonator_constraint.rb
  spec/models/user_auth_token_spec.rb
  spec/requests/admin/impersonate_controller_spec.rb
  spec/system/impersonation_spec.rb
Labels: i18n

#34149 UX: improvements to rich editor spoiler
  app/assets/javascripts/discourse-markdown-it/src/features/bbcode-block.js
  app/assets/javascripts/discourse/app/components/d-editor.gjs
  app/assets/javascripts/discourse/app/lib/composer/rich-editor-extensions.js
  app/assets/javascripts/discourse/app/lib/textarea-text-manipulation.js
  app/assets/javascripts/discourse/app/static/prosemirror/components/prosemirror-editor.gjs
  app/assets/javascripts/discourse/app/static/prosemirror/core/commands.js
  app/assets/javascripts/discourse/app/static/prosemirror/core/keymap.js
  app/assets/javascripts/discourse/app/static/prosemirror/extensions/html-inline.js
  app/assets/javascripts/discourse/app/static/prosemirror/extensions/register-default.js
  app/assets/javascripts/discourse/app/static/prosemirror/extensions/trailing-inline-space.js
  app/assets/javascripts/discourse/app/static/prosemirror/lib/text-manipulation.js
  app/assets/javascripts/discourse/tests/integration/components/prosemirror-editor/html-inline-test.js
  app/assets/stylesheets/common/toolbar-popup-menu-options.scss
  plugins/spoiler-alert/assets/javascripts/initializers/spoiler-alert.js
  plugins/spoiler-alert/assets/javascripts/lib/discourse-markdown/spoiler-alert.js
  plugins/spoiler-alert/assets/javascripts/lib/rich-editor-extension.js
  plugins/spoiler-alert/assets/stylesheets/discourse_spoiler_alert.scss
  plugins/spoiler-alert/spec/system/composer_spoiler_spec.rb
  plugins/spoiler-alert/test/javascripts/integration/rich-editor-extension-test.js
  spec/system/composer/prosemirror_editor_spec.rb
Labels: spoiler-alert

#33984 DEV: Add support for converting and importing `tags`
  migrations/config/intermediate_db.yml
  migrations/db/intermediate_db_schema/006-tag_synonyms.sql
  migrations/db/intermediate_db_schema/100-base-schema.sql
  migrations/lib/converters/discourse/steps/tags.rb
  migrations/lib/database/connection.rb
  migrations/lib/database/intermediate_db/tag.rb
  migrations/lib/database/intermediate_db/tag_synonym.rb
  migrations/lib/importer/mapping_type.rb
  migrations/lib/importer/steps/base/tags.rb
  migrations/lib/importer/steps/tag_synonyms.rb
  migrations/lib/importer/steps/tags.rb
  migrations/spec/lib/database/intermediate_db/tag_spec.rb
  migrations/spec/lib/database/intermediate_db/tag_synonym_spec.rb
Labels: migrations-tooling

#34456 UX: Improve default badge positioning on admin themes/colors index
  app/assets/javascripts/admin/addon/components/color-palette-list-item.gjs
  app/assets/javascripts/admin/addon/components/themes-grid-card.gjs
  app/assets/stylesheets/admin/color_palettes.scss
  app/assets/stylesheets/common/components/theme-card.scss
  config/locales/client.en.yml
  spec/system/admin_color_palettes_features_spec.rb
  spec/system/admin_customize_themes_config_area_spec.rb
  spec/system/page_objects/pages/admin_customize_themes_config_area.rb
Labels: i18n

#34481 UX: remove "(Sign in with Apple)" as suffix as we're already including it as prefix
  plugins/discourse-apple-auth/config/locales/server.en.yml
Labels: i18n, discourse-apple-auth

#34488 DEV: Vendor-in built-in-components
  app/assets/javascripts/discourse/app/components/d-textarea.js
  app/assets/javascripts/discourse/app/components/ember-text-field.gjs
  app/assets/javascripts/discourse/app/components/text-field.js
  app/assets/javascripts/discourse/app/components/textarea.gjs
  app/assets/javascripts/discourse/package.json
  plugins/automation/admin/assets/javascripts/admin/components/fields/da-message-field.gjs
  plugins/discourse-assign/assets/javascripts/discourse/components/assignment.gjs
  pnpm-lock.yaml
Labels: discourse-assign

#34448 FEATURE: Use embeddings to find similar topics to the one being composed
  app/models/topic.rb
  plugins/discourse-ai/lib/embeddings/entry_point.rb
  plugins/discourse-ai/lib/embeddings/semantic_search.rb
  plugins/discourse-ai/spec/lib/modules/embeddings/entry_point_spec.rb
  spec/models/topic_spec.rb
Labels: discourse-ai

#34515 UX: add class to inline-footnote to display as inline-block
  plugins/footnote/assets/javascripts/api-initializers/inline-footnotes.gjs
  plugins/footnote/assets/stylesheets/footnotes.scss
Labels: footnote

#34171 DEV: Unify `ListChannelMessages`/`ListChannelThreadMessages` behaviors
  plugins/chat/app/controllers/chat/api/channel_messages_controller.rb
  plugins/chat/app/services/chat/list_channel_messages.rb
  plugins/chat/spec/requests/chat/api/channel_messages_controller_spec.rb
  plugins/chat/spec/services/chat/list_channel_messages_spec.rb
Labels: chat

#33510 FEATURE: Better composer controls for "Save & close (X)" and "Discard"
  app/assets/javascripts/discourse/app/components/composer-container.gjs
  app/assets/javascripts/discourse/app/components/composer-toggles.gjs
  app/assets/javascripts/discourse/app/models/composer.js
  app/assets/javascripts/discourse/app/services/composer.js
  app/assets/javascripts/discourse/tests/acceptance/assets-version-test.js
  app/assets/javascripts/discourse/tests/acceptance/composer-test.js
  app/assets/stylesheets/common/base/compose.scss
  config/locales/client.en.yml
  spec/system/composer/category_templates_spec.rb
  spec/system/composer/discard_draft_spec.rb
  spec/system/composer/drafts_spec.rb
  spec/system/page_objects/components/composer.rb
  themes/horizon/javascripts/discourse/components/composer-peek-mode-toggle.gjs
Labels: ⚠ DO NOT MERGE, i18n

#34122 DEV: Deprecate `Site.mobileView/desktopView` during initialization
  app/assets/javascripts/admin/addon/controllers/admin-embedding-index.js
  app/assets/javascripts/discourse/app/components/bookmark-menu.gjs
  app/assets/javascripts/discourse/app/components/d-modal.gjs
  app/assets/javascripts/discourse/app/components/modal/bookmark.gjs
  app/assets/javascripts/discourse/app/components/modal/feature-topic.gjs
  app/assets/javascripts/discourse/app/components/modal/fullscreen-code.gjs
  app/assets/javascripts/discourse/app/components/post-text-selection.gjs
  app/assets/javascripts/discourse/app/components/post/meta-data/poster-name.gjs
  app/assets/javascripts/discourse/app/components/topic-map/topic-map-summary.gjs
  app/assets/javascripts/discourse/app/instance-initializers/codeblock-buttons.js
  app/assets/javascripts/discourse/app/instance-initializers/post-decorations.js
  app/assets/javascripts/discourse/app/instance-initializers/subscribe-user-notifications.js
  app/assets/javascripts/discourse/app/lib/codeblock-buttons.js
  app/assets/javascripts/discourse/app/lib/mobile.js
  app/assets/javascripts/discourse/app/lib/plugin-api.gjs
  app/assets/javascripts/discourse/app/lib/transformer/registry.js
  app/assets/javascripts/discourse/app/lib/uppy/composer-upload.js
  app/assets/javascripts/discourse/app/models/site.js
  app/assets/javascripts/discourse/app/modifiers/swipe.js
  app/assets/javascripts/discourse/app/services/capabilities.js
  app/assets/javascripts/discourse/app/services/composer.js
  app/assets/javascripts/select-kit/addon/components/select-kit/select-kit-collection.gjs
  lib/mobile_detection.rb
  plugins/chat/assets/javascripts/discourse/components/chat-composer-uploads.gjs
  plugins/chat/assets/javascripts/discourse/initializers/chat-setup.js
  plugins/chat/assets/javascripts/discourse/services/chat-notification-manager.js
  plugins/chat/test/javascripts/acceptance/chat-channel-reactions-test.js
  plugins/chat/test/javascripts/acceptance/chat-composer-test.js
  plugins/chat/test/javascripts/acceptance/chat-live-pane-collapse-test.js
  plugins/chat/test/javascripts/acceptance/chat-live-pane-test.js
  plugins/chat/test/javascripts/acceptance/hashtag-css-generator-test.js
  plugins/discourse-ai/assets/javascripts/discourse/components/ai-bot-conversations.gjs
  plugins/discourse-ai/assets/javascripts/discourse/initializers/ai-gist-connector.gjs
  plugins/discourse-assign/assets/javascripts/discourse/components/topic-level-assign-menu.js
  plugins/discourse-calendar/assets/javascripts/discourse/initializers/discourse-calendar.js
  plugins/discourse-reactions/assets/javascripts/discourse/components/discourse-reactions-counter.gjs
  plugins/discourse-reactions/assets/javascripts/discourse/components/discourse-reactions-reaction-button.gjs
  plugins/discourse-subscriptions/assets/javascripts/discourse/components/campaign-banner.gjs
  plugins/discourse-user-notes/assets/javascripts/discourse/initializers/enable-user-notes.gjs
Labels: chat, discourse-reactions, discourse-calendar, discourse-assign, discourse-subscriptions, discourse-ai, discourse-user-notes

#34525 DEV: Only run embeddings test if there's a valid embedding model
  plugins/discourse-ai/config/locales/server.en.yml
  plugins/discourse-ai/lib/configuration/embedding_defs_validator.rb
  plugins/discourse-ai/spec/configuration/embedding_defs_validator_spec.rb
Labels: i18n, discourse-ai

#34467 DEV: Remove dual mode support for palettes and drop theme-owned palettes
  app/assets/javascripts/admin/addon/components/admin-config-areas/color-palette.gjs
  app/assets/javascripts/admin/addon/controllers/admin-customize-themes-show-colors.js
  app/assets/javascripts/admin/addon/lib/color-scheme-manager.js
  app/assets/javascripts/admin/addon/models/color-scheme-color.js
  app/assets/javascripts/admin/addon/models/color-scheme.js
  app/assets/javascripts/admin/addon/models/theme.js
  app/assets/javascripts/admin/addon/routes/admin-config-color-palettes.js
  app/assets/javascripts/admin/addon/routes/admin-customize-themes-show-colors.js
  app/assets/javascripts/admin/addon/routes/admin-route-map.js
  app/assets/javascripts/admin/addon/templates/customize-themes-show-colors.gjs
  app/assets/javascripts/admin/addon/templates/customize-themes-show-index.gjs
  app/assets/javascripts/admin/addon/templates/customize-themes-show.gjs
  app/assets/javascripts/discourse/app/lib/sidebar/admin-sidebar.js
  app/assets/javascripts/discourse/tests/acceptance/admin-customize-themes-show-test.gjs
  app/assets/javascripts/discourse/tests/integration/components/color-palette-preview-test.gjs
  app/assets/javascripts/discourse/tests/integration/components/select-kit/color-palette-picker-test.gjs
  app/controllers/admin/color_schemes_controller.rb
  app/controllers/admin/config/color_palettes_controller.rb
  app/controllers/admin/themes_controller.rb
  app/controllers/stylesheets_controller.rb
  app/helpers/application_helper.rb
  app/models/color_scheme.rb
  app/models/color_scheme_color.rb
  app/models/color_scheme_setting.rb
  app/models/theme.rb
  app/models/theme_color_scheme.rb
  app/serializers/color_scheme_color_serializer.rb
  app/serializers/theme_serializer.rb
  app/services/color_scheme_revisor.rb
  config/locales/client.en.yml
  config/routes.rb
  config/site_settings.yml
  db/post_migrate/20250821150220_remove_use_overhauled_theme_color_palette_setting.rb
  db/post_migrate/20250821155127_drop_dark_hex_from_color_scheme_color.rb
  db/post_migrate/20250821155615_drop_theme_color_scheme.rb
  lib/stylesheet/importer.rb
  lib/stylesheet/manager.rb
  lib/stylesheet/manager/builder.rb
  spec/helpers/application_helper_spec.rb
  spec/lib/stylesheet/manager_spec.rb
  spec/models/theme_spec.rb
  spec/requests/admin/color_schemes_controller_spec.rb
  spec/requests/admin/themes_controller_spec.rb
  spec/system/admin_color_palette_config_area_spec.rb
  spec/system/admin_customize_themes_spec.rb
Labels: i18n

#34507 FIX: use CDN url for chat
  plugins/chat/assets/javascripts/discourse/components/chat-composer-upload.gjs
  plugins/chat/test/javascripts/components/chat-composer-upload-test.gjs
Labels: chat

#34279 DEV: Centralise user action definitions for reviewables.
  app/models/concerns/reviewable_action_builder.rb
  app/models/reviewable.rb
  app/models/reviewable_flagged_post.rb
  app/models/reviewable_post.rb
  app/models/reviewable_queued_post.rb
  app/models/reviewable_user.rb
  config/locales/server.en.yml
  spec/models/concerns/reviewable_action_builder_spec.rb
  spec/models/reviewable_flagged_post_spec.rb
  spec/models/reviewable_post_spec.rb
  spec/models/reviewable_queued_post_spec.rb
Labels: i18n

#34518 UX: restyling of the solved popup
  app/assets/stylesheets/common/base/topic.scss
  app/assets/stylesheets/common/components/buttons.scss
  plugins/discourse-solved/assets/javascripts/discourse/connectors/topic-navigation/no-answer.gjs
Labels: discourse-solved

#34326 WIP: Add Discourse ID challenge endpoint and registration service
  app/controllers/metadata_controller.rb
  app/services/discourse_id/register.rb
  config/locales/server.en.yml
  config/routes.rb
  lib/tasks/admin.rake
  spec/requests/metadata_controller_spec.rb
  spec/services/discourse_id/register_spec.rb
Labels: i18n

#34536 FIX: correctly start weeks en Monday
  plugins/discourse-calendar/assets/javascripts/discourse/routes/upcoming-events-base-route.js
  plugins/discourse-calendar/spec/system/upcoming_events_spec.rb
Labels: discourse-calendar

#34190 DEV: Add support for converting and importing `badge_groupings`
  migrations/config/intermediate_db.yml
  migrations/db/intermediate_db_schema/100-base-schema.sql
  migrations/lib/converters/discourse/steps/badge_groupings.rb
  migrations/lib/database/intermediate_db/badge_grouping.rb
  migrations/lib/importer/mapping_type.rb
  migrations/lib/importer/steps/badge_groupings.rb
  migrations/spec/lib/database/intermediate_db/badge_grouping_spec.rb
Labels: migrations-tooling

#34526 FIX: Correctly order events in upcoming events list
  plugins/discourse-calendar/assets/javascripts/discourse/components/upcoming-events-list.gjs
  plugins/discourse-calendar/test/javascripts/integration/components/upcoming-events-list-test.gjs
Labels: discourse-calendar

#34541 FIX: use CDN url for chat
  plugins/chat/assets/javascripts/discourse/components/chat-composer-upload.gjs
  plugins/chat/test/javascripts/components/chat-composer-upload-test.gjs
Labels: chat

#34509 DEV: Improve errors for failed impersonation
  app/assets/javascripts/admin/addon/controllers/admin-user-index.js
  config/locales/client.en.yml
  spec/system/impersonation_spec.rb
Labels: i18n

#34553 PERF: do not hydrate all candidates in big relation
  plugins/discourse-ai/lib/embeddings/semantic_search.rb
Labels: discourse-ai

#34561 DEV: new API endpoint for data explorer query running
  plugins/discourse-data-explorer/app/controllers/discourse_data_explorer/query_controller.rb
  plugins/discourse-data-explorer/config/routes.rb
  plugins/discourse-data-explorer/plugin.rb
  plugins/discourse-data-explorer/spec/integration/custom_api_key_scopes_spec.rb
  plugins/discourse-data-explorer/spec/requests/query_controller_spec.rb
Labels: discourse-data-explorer

#34571 FIX: prevent group chat when cannot see group members
  plugins/chat/app/services/chat/search_chatable.rb
  plugins/chat/spec/services/chat/search_chatable_spec.rb
Labels: chat

#34591 FIX: supports html entities in chat
  plugins/chat/app/models/chat/message.rb
  plugins/chat/spec/lib/chat/core_pretty_text_spec.rb
Labels: chat

#34558 FEATURE: Update US Holidays
  plugins/discourse-calendar/vendor/holidays/definitions/us.yaml
  plugins/discourse-calendar/vendor/holidays/lib/generated_definitions/MANIFEST
  plugins/discourse-calendar/vendor/holidays/lib/generated_definitions/REGIONS.rb
  plugins/discourse-calendar/vendor/holidays/lib/generated_definitions/northamerica.rb
  plugins/discourse-calendar/vendor/holidays/lib/generated_definitions/us.rb
  plugins/discourse-calendar/vendor/holidays/test/defs/test_defs_northamerica.rb
  plugins/discourse-calendar/vendor/holidays/test/defs/test_defs_us.rb
  plugins/discourse-calendar/vendor/holidays/test/defs/test_defs_zw.rb
Labels: discourse-calendar

#34614 DEV: more reliable calendar navigation specs
  plugins/discourse-calendar/assets/javascripts/discourse/components/upcoming-events-calendar.gjs
  plugins/discourse-calendar/spec/system/upcoming_events_spec.rb
Labels: discourse-calendar

#34616 FIX: Add missing translation for stop_impersonating
  config/locales/client.en.yml
Labels: i18n

#34621 FIX: ensures events have correct duration
  plugins/discourse-calendar/app/models/discourse_post_event/event.rb
  plugins/discourse-calendar/app/serializers/discourse_post_event/basic_event_serializer.rb
  plugins/discourse-calendar/app/serializers/discourse_post_event/event_serializer.rb
  plugins/discourse-calendar/assets/javascripts/discourse/components/category-calendar.gjs
  plugins/discourse-calendar/assets/javascripts/discourse/components/upcoming-events-calendar.gjs
  plugins/discourse-calendar/assets/javascripts/discourse/models/discourse-post-event-event.js
  plugins/discourse-calendar/spec/models/discourse_post_event/event_spec.rb
  plugins/discourse-calendar/spec/serializers/discourse_post_event/event_serializer_spec.rb
  plugins/discourse-calendar/spec/system/page_objects/discourse_calendar/upcoming_events.rb
  plugins/discourse-calendar/spec/system/upcoming_events_spec.rb
Labels: discourse-calendar

#34628 DEV: Disable reset password button for staged users
  app/assets/javascripts/discourse/app/controllers/preferences/security.js
  app/assets/javascripts/discourse/app/templates/preferences/security.gjs
  config/locales/client.en.yml
  spec/system/user_page/user_preferences_security_spec.rb
Labels: i18n

#34570 FEATURE: add support for google image model
  plugins/discourse-ai/config/locales/client.en.yml
  plugins/discourse-ai/lib/completions/dialects/chat_gpt.rb
  plugins/discourse-ai/lib/completions/dialects/dialect.rb
  plugins/discourse-ai/lib/completions/dialects/gemini.rb
  plugins/discourse-ai/lib/completions/endpoints/base.rb
  plugins/discourse-ai/lib/completions/endpoints/gemini.rb
  plugins/discourse-ai/lib/completions/llm.rb
  plugins/discourse-ai/lib/completions/prompt_messages_builder.rb
  plugins/discourse-ai/spec/lib/completions/dialects/dialect_spec.rb
  plugins/discourse-ai/spec/lib/completions/dialects/gemini_spec.rb
  plugins/discourse-ai/spec/lib/completions/endpoints/gemini_spec.rb
  plugins/discourse-ai/spec/lib/completions/prompt_messages_builder_spec.rb
Labels: i18n, discourse-ai
