Repository discourse/discourse, pull requests merged in 2025-05, with the labels that each got.

#32508 UX: display search input and open modal on click
  app/assets/javascripts/admin/addon/components/admin-search.gjs
  app/assets/javascripts/admin/addon/components/modal/admin-search.gjs
  app/assets/javascripts/admin/addon/services/admin-sidebar-state-manager.js
  app/assets/javascripts/discourse/app/components/sidebar/panel-header.gjs
  app/assets/javascripts/discourse/app/components/sidebar/search.gjs
  app/assets/javascripts/discourse/app/lib/sidebar/admin-nav-map.js
  app/assets/javascripts/discourse/app/lib/sidebar/admin-sidebar.js
  app/assets/javascripts/discourse/app/lib/sidebar/base-custom-sidebar-panel.js
  app/assets/javascripts/discourse/tests/acceptance/admin-site-settings-test.js
  app/assets/stylesheets/admin/search.scss
  app/assets/stylesheets/common/base/menu-panel.scss
  app/assets/stylesheets/common/base/sidebar.scss
  config/locales/client.en.yml
  spec/system/admin_search_spec.rb
  spec/system/admin_sidebar_navigation_spec.rb
  spec/system/page_objects/components/navigation_menu/sidebar.rb
  spec/system/page_objects/modals/admin_search.rb
Labels: i18n

#32544 FIX: shorten search everything to search
  config/locales/client.en.yml
Labels: i18n

#31099 DEV: Add `user-field-components` value transformer
  app/assets/javascripts/discourse/app/components/user-field.gjs
  app/assets/javascripts/discourse/app/lib/transformer/registry.js
Labels: Stale

#32334 UX: Add more info to theme cards
  app/assets/javascripts/admin/addon/components/themes-grid-card.gjs
  app/assets/javascripts/admin/addon/components/themes-grid-placeholder.gjs
  app/assets/javascripts/discourse/app/lib/sidebar/admin-nav-map.js
  app/assets/javascripts/discourse/tests/acceptance/themes-test.js
  app/assets/stylesheets/common/components/theme-card.scss
  config/locales/client.en.yml
  docs/ADMIN-QUICK-START-GUIDE.md
  lib/svg_sprite.rb
  spec/system/admin_customize_themes_config_area_spec.rb
  spec/system/admin_sidebar_navigation_spec.rb
  spec/system/page_objects/pages/admin_customize_themes_config_area.rb
Labels: i18n

#32523 DEV: Don't allow context-free system post destruction
  app/controllers/topics_controller.rb
  app/services/destroy_task.rb
  app/services/group_message.rb
  app/services/user_destroyer.rb
  config/locales/server.en.yml
  lib/imap/sync.rb
  lib/post_destroyer.rb
  lib/seed_data/topics.rb
  spec/lib/imap/sync_spec.rb
  spec/lib/post_destroyer_spec.rb
  spec/models/post_spec.rb
  spec/requests/reviewable_claimed_topics_controller_spec.rb
  spec/requests/topics_controller_spec.rb
  spec/serializers/topic_view_details_serializer_spec.rb
  spec/serializers/web_hook_post_serializer_spec.rb
  spec/services/username_changer_spec.rb
  spec/system/topic_page_spec.rb
Labels: i18n

#32645 DEV: correctly returns contract error
  plugins/chat/lib/chat_sdk/thread.rb
  plugins/chat/spec/lib/chat_sdk/thread_spec.rb
Labels: chat

#32647 FIX: Link to browser support section of website
  app/assets/javascripts/discourse/scripts/browser-update.js
  config/locales/client.en.yml
Labels: i18n

#32654 FIX: Purge ExtraLocalesController cache correctly for multisite
  config/initializers/100-i18n.rb
Labels: i18n

#32652 DEV: Refactor image compression for iOS
  app/assets/javascripts/discourse/app/lib/media-optimization-utils.js
  app/assets/javascripts/discourse/app/services/media-optimization-worker.js
  config/locales/server.en.yml
  lib/upload_creator.rb
  public/javascripts/media-optimization-worker.js
  spec/models/upload_spec.rb
Labels: i18n

#32656 DEV: Fix small issues in the Glimmer Post Stream
  app/assets/javascripts/discourse/app/components/post/meta-data/date.gjs
  app/assets/javascripts/discourse/app/components/post/small-action.gjs
  app/assets/javascripts/discourse/app/lib/post-cooked-html-decorators/mentions.gjs
  app/assets/javascripts/discourse/app/lib/user-status-message.js
  app/assets/javascripts/discourse/app/models/post-stream.js
  app/assets/javascripts/discourse/tests/acceptance/post-inline-mentions-test.js
  app/assets/javascripts/discourse/tests/integration/components/post/post-test.gjs
  plugins/chat/test/javascripts/components/chat-channel-test.gjs
Labels: chat

#32668 DEV: revert long press changes
  plugins/chat/assets/javascripts/discourse/modifiers/chat/on-long-press.js
  plugins/chat/spec/system/page_objects/chat/chat_channel.rb
  plugins/chat/spec/system/page_objects/chat/components/message.rb
  plugins/chat/spec/system/page_objects/chat/components/messages.rb
  plugins/chat/spec/system/react_to_message_spec.rb
Labels: chat

#32401 UX: search CSS refactor + fixes
  app/assets/javascripts/discourse/app/components/search-menu/results.gjs
  app/assets/javascripts/discourse/app/components/search-menu/results/assistant-item.gjs
  app/assets/javascripts/discourse/app/components/search-menu/results/recent-searches.gjs
  app/assets/stylesheets/common/base/header.scss
  app/assets/stylesheets/common/base/menu-panel.scss
  app/assets/stylesheets/common/base/search-menu.scss
  app/assets/stylesheets/common/components/welcome-banner.scss
  app/assets/stylesheets/common/foundation/variables.scss
  app/assets/stylesheets/desktop/components/header-search.scss
  config/locales/client.en.yml
Labels: i18n

#32706 FEATURE: porting type object to site settings
  app/assets/javascripts/admin/addon/components/schema-setting/editor.gjs
  app/assets/javascripts/admin/addon/components/schema-setting/editor/child-tree-node.gjs
  app/assets/javascripts/admin/addon/components/schema-setting/editor/child-tree.gjs
  app/assets/javascripts/admin/addon/components/schema-setting/editor/tree-node.gjs
  app/assets/javascripts/admin/addon/components/schema-setting/editor/tree.gjs
  app/assets/javascripts/admin/addon/components/schema-setting/field-input-description.gjs
  app/assets/javascripts/admin/addon/components/schema-setting/field.gjs
  app/assets/javascripts/admin/addon/components/schema-setting/number-field.gjs
  app/assets/javascripts/admin/addon/components/schema-setting/types/boolean.gjs
  app/assets/javascripts/admin/addon/components/schema-setting/types/categories.gjs
  app/assets/javascripts/admin/addon/components/schema-setting/types/enum.gjs
  app/assets/javascripts/admin/addon/components/schema-setting/types/float.gjs
  app/assets/javascripts/admin/addon/components/schema-setting/types/groups.gjs
  app/assets/javascripts/admin/addon/components/schema-setting/types/integer.gjs
  app/assets/javascripts/admin/addon/components/schema-setting/types/models.gjs
  app/assets/javascripts/admin/addon/components/schema-setting/types/string.gjs
  app/assets/javascripts/admin/addon/components/schema-setting/types/tags.gjs
  app/assets/javascripts/admin/addon/components/schema-theme-setting/types/float.gjs
  app/assets/javascripts/admin/addon/components/schema-theme-setting/types/integer.gjs
  app/assets/javascripts/admin/addon/mixins/setting-component.js
  app/assets/javascripts/admin/addon/models/site-setting.js
  app/assets/javascripts/admin/addon/routes/admin-route-map.js
  app/assets/javascripts/admin/addon/routes/admin-schema.js
  app/assets/javascripts/admin/addon/templates/admin-schema.gjs
  app/assets/javascripts/admin/addon/templates/customize-themes-show-schema.gjs
  app/assets/javascripts/discourse/tests/fixtures/theme-setting-schema-data.js
  app/assets/javascripts/discourse/tests/integration/components/admin-schema-setting/editor-test.gjs
  app/assets/stylesheets/admin/admin_base.scss
  app/assets/stylesheets/admin/customize_show_schema.scss
  app/assets/stylesheets/admin/schema_setting_editor.scss
  app/controllers/admin/site_settings_controller.rb
  config/locales/client.en.yml
  config/locales/server.en.yml
  config/routes.rb
  lib/schema_settings_object_validator.rb
  lib/site_settings/type_supervisor.rb
  lib/theme_settings_manager/objects.rb
  lib/theme_settings_validator.rb
  lib/validators/objects_setting_validator.rb
  spec/lib/site_settings/type_supervisor_spec.rb
  spec/lib/theme_settings_object_validator_spec.rb
  spec/system/admin_editing_objects_typed_theme_setting_spec.rb
  spec/system/page_objects/pages/admin_objects_theme_setting_editor.rb
Labels: i18n

#32442 FEATURE: Add the group show endpoint to search groups by id instead of only the slug name
  app/controllers/groups_controller.rb
  app/models/group.rb
  config/locales/server.en.yml
  config/routes.rb
  db/post_migrate/20250513161753_rename_by_id_group.rb
  spec/models/group_spec.rb
  spec/requests/api/groups_spec.rb
  spec/requests/groups_controller_spec.rb
Labels: i18n

#32659 DEV: Port the about page extra groups functionality into core
  app/assets/javascripts/admin/addon/components/admin-config-area-cards/about/extra-groups.gjs
  app/assets/javascripts/admin/addon/components/admin-config-areas/about.gjs
  app/assets/javascripts/discourse/app/components/about-page-extra-groups.gjs
  app/assets/javascripts/discourse/app/components/about-page.gjs
  app/assets/stylesheets/common/base/about.scss
  app/controllers/admin/config/about_controller.rb
  config/locales/client.en.yml
  config/locales/server.en.yml
  config/site_settings.yml
  spec/system/about_page_spec.rb
  spec/system/admin_about_config_area_spec.rb
  spec/system/page_objects/components/admin_about_config_area_group_listing_card.rb
  spec/system/page_objects/components/form_kit.rb
  spec/system/page_objects/pages/about.rb
  spec/system/page_objects/pages/admin_about_config_area.rb
Labels: i18n

#32700 UX: split admin logo and fonts to separate pages
  app/assets/javascripts/admin/addon/components/admin-font-chooser.gjs
  app/assets/javascripts/admin/addon/components/admin-fonts-form.gjs
  app/assets/javascripts/admin/addon/components/admin-logo-form.gjs
  app/assets/javascripts/admin/addon/routes/admin-config-fonts.js
  app/assets/javascripts/admin/addon/routes/admin-config-logo-and-fonts.js
  app/assets/javascripts/admin/addon/routes/admin-config-logo.js
  app/assets/javascripts/admin/addon/routes/admin-route-map.js
  app/assets/javascripts/admin/addon/templates/config-fonts.gjs
  app/assets/javascripts/admin/addon/templates/config-logo-and-fonts.gjs
  app/assets/javascripts/admin/addon/templates/config-logo.gjs
  app/assets/javascripts/discourse/app/components/modal/update-default-text-size.gjs
  app/assets/javascripts/discourse/app/lib/sidebar/admin-nav-map.js
  app/controllers/admin/config/fonts_controller.rb
  config/locales/client.en.yml
  config/routes.rb
  docs/ADMIN-QUICK-START-GUIDE.md
  lib/svg_sprite.rb
  spec/system/admin_fonts_spec.rb
  spec/system/admin_logo_and_fonts_spec.rb
  spec/system/admin_logo_spec.rb
  spec/system/page_objects/components/admin_fonts_form.rb
  spec/system/page_objects/components/admin_logo_form.rb
  spec/system/page_objects/pages/admin_fonts.rb
  spec/system/page_objects/pages/admin_logo.rb
  spec/system/page_objects/pages/admin_logo_and_fonts.rb
Labels: i18n

#32629 DEV: Show login-required splash in root route (take 2)
  app/assets/javascripts/discourse/app/controllers/discovery/login-required.js
  app/assets/javascripts/discourse/app/lib/homepage-router-overrides.js
  app/assets/javascripts/discourse/app/routes/app-route-map.js
  app/assets/javascripts/discourse/app/routes/application.js
  app/assets/javascripts/discourse/app/routes/discourse.js
  app/assets/javascripts/discourse/app/routes/discovery-index.js
  app/assets/javascripts/discourse/app/routes/discovery-login-required.js
  app/assets/javascripts/discourse/app/routes/discovery.js
  app/assets/javascripts/discourse/app/routes/login.js
  app/assets/javascripts/discourse/app/routes/topic.js
  app/assets/javascripts/discourse/app/templates/discovery/login-required.gjs
  app/assets/javascripts/discourse/app/templates/login.gjs
  app/assets/javascripts/discourse/tests/acceptance/login-required-test.js
  app/assets/javascripts/discourse/tests/acceptance/static-test.js
  app/controllers/application_controller.rb
  app/controllers/categories_controller.rb
  app/controllers/custom_homepage_controller.rb
  app/controllers/home_page_controller.rb
  app/helpers/application_helper.rb
  app/views/default/blank.html.erb
  app/views/home_page/custom.erb
  config/locales/server.en.yml
  config/routes.rb
  lib/homepage_helper.rb
  spec/lib/homepage_helper_spec.rb
  spec/requests/application_controller_spec.rb
  spec/requests/home_page_controller_spec.rb
  spec/requests/list_controller_spec.rb
  spec/system/login_spec.rb
  spec/system/social_authentication_spec.rb
Labels: i18n

#32779 DEV: attempts to use capybara choose
  plugins/chat/spec/system/user_chat_preferences_spec.rb
Labels: chat

#32781 DEV: flaky spec
  plugins/chat/spec/system/transcript_spec.rb
Labels: chat

#32790 FIX: simplify test to remove flaky part
  plugins/chat/spec/system/thread_tracking/full_page_spec.rb
Labels: chat

#32810 PERF: fixes N+1 for automation plugin
  plugins/automation/app/controllers/discourse_automation/admin_automations_controller.rb
  plugins/automation/app/models/discourse_automation/automation.rb
  plugins/automation/app/models/discourse_automation/field.rb
  plugins/automation/app/serializers/discourse_automation/automation_serializer.rb
  plugins/automation/config/locales/server.en.yml
Labels: i18n

#32813 FIX: Add missing translation for reviewable post action
  config/locales/server.en.yml
Labels: i18n

#32772 UX: better error message when social login fails
  app/controllers/users/omniauth_callbacks_controller.rb
  app/views/application/_header.html.erb
  config/initializers/009-omniauth.rb
  config/locales/server.en.yml
  lib/auth/authenticator.rb
  lib/auth/discord_authenticator.rb
  lib/auth/facebook_authenticator.rb
  lib/auth/github_authenticator.rb
  lib/auth/google_oauth2_authenticator.rb
  lib/auth/linkedin_oidc_authenticator.rb
  lib/auth/twitter_authenticator.rb
  lib/discourse.rb
  spec/requests/omniauth_callbacks_controller_spec.rb
  spec/views/omniauth_callbacks/failure.html.erb_spec.rb
Labels: i18n

#32836 DEV: Update linting
  .template-lintrc.cjs
  app/assets/stylesheets/admin/admin_base.scss
  app/assets/stylesheets/admin/dashboard.scss
  app/assets/stylesheets/admin/penalty.scss
  app/assets/stylesheets/common/base/dialog.scss
  app/assets/stylesheets/common/base/edit-category.scss
  app/assets/stylesheets/common/base/lightbox.scss
  app/assets/stylesheets/common/base/login-signup-page.scss
  app/assets/stylesheets/common/base/magnific-popup.scss
  app/assets/stylesheets/common/base/menu-panel.scss
  app/assets/stylesheets/common/base/onebox.scss
  app/assets/stylesheets/common/base/popup-menu.scss
  app/assets/stylesheets/common/base/search-menu.scss
  app/assets/stylesheets/common/base/sidebar.scss
  app/assets/stylesheets/common/base/topic-admin-menu.scss
  app/assets/stylesheets/common/base/topic-post.scss
  app/assets/stylesheets/common/base/user.scss
  app/assets/stylesheets/common/components/buttons.scss
  app/assets/stylesheets/common/components/composer-toggle-switch.scss
  app/assets/stylesheets/common/components/emoji-picker.scss
  app/assets/stylesheets/common/components/footer-nav.scss
  app/assets/stylesheets/common/components/hashtag.scss
  app/assets/stylesheets/common/components/user-card.scss
  app/assets/stylesheets/common/float-kit/d-menu.scss
  app/assets/stylesheets/common/foundation/color_transformations.scss
  app/assets/stylesheets/common/foundation/mixins.scss
  app/assets/stylesheets/common/select-kit/toolbar-popup-menu-options.scss
  app/assets/stylesheets/common/table-builder/jspreadsheet-theme.scss
  app/assets/stylesheets/desktop/menu-panel.scss
  app/assets/stylesheets/desktop/topic-list.scss
  app/assets/stylesheets/mobile/components/user-card.scss
  app/assets/stylesheets/mobile/form-kit/_control-menu.scss
  app/assets/stylesheets/mobile/menu-panel.scss
  app/assets/stylesheets/publish.scss
  app/assets/stylesheets/qunit-custom.scss
  app/assets/stylesheets/vendor/normalize.scss
  app/assets/stylesheets/vendor/pikaday.scss
  app/assets/stylesheets/wizard.scss
  package.json
  plugins/chat/assets/stylesheets/common/base-common.scss
  plugins/chat/assets/stylesheets/common/chat-channel-icon.scss
  plugins/chat/assets/stylesheets/common/chat-channel-title.scss
  plugins/chat/assets/stylesheets/common/chat-composer-upload.scss
  plugins/chat/assets/stylesheets/common/chat-composer.scss
  plugins/chat/assets/stylesheets/common/chat-drawer.scss
  plugins/chat/assets/stylesheets/common/chat-index.scss
  plugins/chat/assets/stylesheets/common/chat-skeleton.scss
  plugins/chat/assets/stylesheets/common/chat-upload-drop-zone.scss
  plugins/chat/assets/stylesheets/desktop/base-desktop.scss
  plugins/chat/assets/stylesheets/mobile/chat-composer-upload.scss
  plugins/chat/assets/stylesheets/mobile/chat-message-actions.scss
  plugins/discourse-details/assets/stylesheets/details.scss
  plugins/discourse-lazy-videos/assets/stylesheets/lazy-videos.scss
  plugins/poll/assets/stylesheets/common/poll-breakdown.scss
  plugins/spoiler-alert/assets/stylesheets/discourse_spoiler_alert.scss
  pnpm-lock.yaml
Labels: chat

#32855 DEV: Use ampersand for themes and components admin section
  config/locales/client.en.yml
Labels: i18n

#32844 FEATURE: trigger an event when chat channel is trashed
  plugins/chat/app/services/chat/trash_channel.rb
  plugins/chat/spec/services/chat/trash_channel_spec.rb
Labels: chat

#32837 FIX: bring back sidebar filter
  app/assets/javascripts/discourse/app/components/sidebar/filter-no-results.gjs
  app/assets/javascripts/discourse/app/components/sidebar/filter.gjs
  app/assets/javascripts/discourse/app/components/sidebar/panel-header.gjs
  app/assets/javascripts/discourse/app/lib/sidebar/admin-sidebar.js
  app/assets/javascripts/discourse/app/lib/sidebar/base-custom-sidebar-panel.js
  app/assets/stylesheets/common/base/menu-panel.scss
  app/assets/stylesheets/common/base/sidebar.scss
  config/locales/client.en.yml
  spec/system/admin_sidebar_navigation_spec.rb
  spec/system/page_objects/components/filter.rb
Labels: i18n

#32771 DEV: Refactor Chat::LookupChannelThreads to follow best practices
  plugins/chat/app/services/chat/action/fetch_threads.rb
  plugins/chat/app/services/chat/lookup_channel_threads.rb
  plugins/chat/spec/services/actions/fetch_threads_spec.rb
  plugins/chat/spec/services/chat/lookup_channel_threads_spec.rb
Labels: chat

#32859 DEV: Introduce experimental viewport-based mobile mode
  app/assets/javascripts/discourse/app/components/d-styles.gjs
  app/assets/javascripts/discourse/app/components/sidebar/footer.gjs
  app/assets/javascripts/discourse/app/instance-initializers/mobile.js
  app/assets/javascripts/discourse/app/lib/mobile.js
  app/assets/javascripts/discourse/app/models/site.js
  app/assets/javascripts/discourse/app/static/dev-tools/toolbar.gjs
  app/assets/javascripts/discourse/tests/integration/components/d-modal-test.gjs
  app/assets/javascripts/discourse/tests/integration/components/float-kit/d-menu-test.gjs
  app/assets/javascripts/discourse/tests/integration/components/float-kit/d-toast-test.gjs
  app/assets/javascripts/discourse/tests/integration/components/float-kit/d-tooltip-test.gjs
  app/assets/javascripts/discourse/tests/integration/components/home-logo-test.gjs
  app/assets/javascripts/discourse/tests/integration/components/navigation-bar-test.gjs
  app/assets/javascripts/discourse/tests/integration/components/notifications-tracking-test.gjs
  app/assets/javascripts/discourse/tests/unit/controllers/preferences-account-test.js
  app/assets/javascripts/discourse/tests/unit/controllers/topic-test.js
  app/helpers/application_helper.rb
  app/views/common/_discourse_stylesheet.html.erb
  config/locales/server.en.yml
  config/site_settings.yml
  plugins/chat/test/javascripts/components/chat-channel-leave-btn-test.gjs
  plugins/chat/test/javascripts/components/chat-channel-row-test.gjs
  plugins/chat/test/javascripts/components/chat-header-icon-test.gjs
  plugins/chat/test/javascripts/unit/services/chat-state-manager-test.js
  spec/system/mobile_mode_spec.rb
Labels: chat, i18n

#32891 FIX: allows zooming of images in chat
  plugins/chat/assets/javascripts/discourse/lib/lightbox.js
Labels: chat

#32913 FIX: back to forum button should lead to forum and not chat
  app/assets/javascripts/discourse/app/components/sidebar/back-to-forum.gjs
  plugins/chat/spec/system/sidebar_navigation_menu_spec.rb
Labels: chat

#32909 FEATURE: Improve emoji diversity rendering
  app/assets/javascripts/discourse/app/components/emoji-picker/content.gjs
  app/assets/javascripts/discourse/app/services/emoji-store.js
  app/assets/javascripts/discourse/tests/integration/components/emoji-picker-test.gjs
  app/assets/javascripts/discourse/tests/unit/lib/pretty-text/emoji-test.js
  app/assets/javascripts/discourse/tests/unit/services/emoji-store-test.js
  app/assets/javascripts/pretty-text/addon/emoji.js
  plugins/chat/assets/javascripts/discourse/lib/chat-message-interactor.js
  plugins/chat/test/javascripts/unit/lib/chat-message-interactor-test.js
Labels: chat

#32933 UX: update composer educational tips copy
  config/locales/server.en.yml
Labels: i18n

#32934 DEV: update composer similar topics limit
  app/models/topic.rb
  config/locales/server.en.yml
  config/site_settings.yml
Labels: i18n

#32922 FIX: Skip importing solved topics when plugin isn't installed
  script/bulk_import/generic_bulk.rb
Labels: migrations-tooling

#32930 UX: Improve color descriptions
  config/locales/client.en.yml
Labels: i18n

#32972 FIX: Composite primary key output
  migrations/lib/database/schema/table_writer.rb
Labels: migrations-tooling

#32979 FIX: removes shift which is not necessary anymore
  plugins/chat/assets/stylesheets/common/chat-scroll-to-bottom.scss
Labels: chat

#32964 FEATURE: allow customizing default timezone for email.
  plugins/discourse-local-dates/assets/javascripts/lib/discourse-markdown/discourse-local-dates.js
  plugins/discourse-local-dates/config/locales/server.en.yml
  plugins/discourse-local-dates/config/settings.yml
  plugins/discourse-local-dates/db/migrate/20250529021721_add_utc_to_setting.rb
  plugins/discourse-local-dates/spec/integration/local_dates_spec.rb
  plugins/discourse-local-dates/spec/lib/pretty_text_spec.rb
Labels: i18n

#33006 FIX: improvements for admin search
  app/assets/javascripts/admin/addon/services/admin-search-data-source.js
  app/assets/javascripts/discourse/tests/unit/services/admin-search-data-source-test.js
  config/locales/client.en.yml
Labels: i18n

#32946 DEV: Add converter & importer for `permalink_normalizations`
  migrations/db/intermediate_db_schema/005-permalink_normalizations.sql
  migrations/lib/converters/discourse/steps/permalink_normalizations.rb
  migrations/lib/database/intermediate_db/permalink_normalization.rb
  migrations/lib/importer/steps/permalink_normalizations.rb
  migrations/spec/lib/database/intermediate_db/permalink_normalization_spec.rb
Labels: migrations-tooling
