Repository discourse/discourse, pull requests merged in 2025-09, with the labels that each got.

#34663 DEV: Debug timeout of `.join` on AI cancel_manager_spec
  plugins/discourse-ai/spec/lib/completions/cancel_manager_spec.rb
Labels: discourse-ai

#34647 DEV: Remove "example" converter
  migrations/lib/converters/example/converter.rb
  migrations/lib/converters/example/settings.yml
  migrations/lib/converters/example/steps/step1.rb
  migrations/lib/converters/example/steps/step2.rb
  migrations/lib/converters/example/steps/step3.rb
  migrations/lib/converters/example/steps/subdirectory/step4.rb
Labels: migrations-tooling

#34596 FIX: in chat messages, filter uploads by `UserUpload`, not by `Upload.user`
  plugins/chat/app/services/chat/create_message.rb
  plugins/chat/app/services/chat/update_message.rb
  plugins/chat/spec/services/chat/create_message_spec.rb
  plugins/chat/spec/services/chat/update_message_spec.rb
  spec/fabricators/upload_fabricator.rb
Labels: chat

#34640 FIX: Include subcategories in upcoming events list, add `after` param
  plugins/discourse-calendar/assets/javascripts/discourse/components/upcoming-events-list.gjs
Labels: discourse-calendar

#34313 FEATURE: introduce max attendees for events
  plugins/discourse-calendar/app/controllers/discourse_post_event/invitees_controller.rb
  plugins/discourse-calendar/app/models/discourse_post_event/event.rb
  plugins/discourse-calendar/app/models/discourse_post_event/invitee.rb
  plugins/discourse-calendar/app/serializers/discourse_post_event/event_serializer.rb
  plugins/discourse-calendar/app/serializers/discourse_post_event/event_stats_serializer.rb
  plugins/discourse-calendar/assets/javascripts/discourse/components/discourse-post-event/status.gjs
  plugins/discourse-calendar/assets/javascripts/discourse/components/modal/post-event-builder.gjs
  plugins/discourse-calendar/assets/javascripts/discourse/lib/raw-event-helper.js
  plugins/discourse-calendar/assets/javascripts/discourse/models/discourse-post-event-event.js
  plugins/discourse-calendar/assets/javascripts/discourse/services/discourse-post-event-api.js
  plugins/discourse-calendar/config/locales/client.en.yml
  plugins/discourse-calendar/config/locales/server.en.yml
  plugins/discourse-calendar/db/migrate/20250811120000_add_max_attendees_to_events.rb
  plugins/discourse-calendar/jobs/regular/discourse_post_event/bulk_invite.rb
  plugins/discourse-calendar/lib/discourse_post_event/event_parser.rb
  plugins/discourse-calendar/spec/fabricators/invitee_fabricator.rb
  plugins/discourse-calendar/spec/models/discourse_post_event/event_spec.rb
  plugins/discourse-calendar/spec/requests/events_controller_spec.rb
  plugins/discourse-calendar/spec/requests/invitees_controller_spec.rb
  plugins/discourse-calendar/spec/serializers/discourse_post_event/event_serializer_spec.rb
  plugins/discourse-calendar/spec/system/post_event_spec.rb
Labels: i18n, discourse-calendar

#34673 FEATURE: Add run query param to group data explorer reports
  plugins/discourse-data-explorer/assets/javascripts/discourse/controllers/group-reports-show.js
  plugins/discourse-data-explorer/assets/javascripts/discourse/routes/group-reports-show.js
  plugins/discourse-data-explorer/assets/javascripts/discourse/templates/group-reports-show.gjs
  plugins/discourse-data-explorer/test/javascripts/acceptance/run-query-test.js
Labels: discourse-data-explorer

#34680 FIX: Correct user deletion wording
  config/locales/client.en.yml
Labels: i18n

#34123 FEATURE: managed auth can override avatars
  app/assets/javascripts/discourse/app/templates/preferences/account.gjs
  app/controllers/uploads_controller.rb
  app/controllers/users_controller.rb
  config/locales/server.en.yml
  config/site_settings.yml
  lib/auth/managed_authenticator.rb
  spec/lib/auth/managed_authenticator_spec.rb
  spec/requests/uploads_controller_spec.rb
  spec/requests/users_controller_spec.rb
Labels: i18n

#34674 UX: Some translation progress chart refinements
  plugins/discourse-ai/app/controllers/discourse_ai/admin/ai_translations_controller.rb
  plugins/discourse-ai/assets/javascripts/discourse/components/ai-translations.gjs
  plugins/discourse-ai/config/locales/client.en.yml
  plugins/discourse-ai/config/locales/server.en.yml
  plugins/discourse-ai/spec/requests/admin/ai_translations_controller_spec.rb
  plugins/discourse-ai/spec/system/admin_ai_translations_spec.rb
Labels: i18n, discourse-ai

#34716 DEV: Remove remnant puts
  plugins/discourse-lazy-videos/spec/lib/discourse_lazy_videos/crawler_post_end_spec.rb
Labels: discourse-lazy-videos

#34705 DEV: add automation trigger on-close-topic
  plugins/automation/config/locales/server.en.yml
  plugins/automation/lib/discourse_automation/event_handlers.rb
  plugins/automation/lib/discourse_automation/triggers.rb
  plugins/automation/lib/discourse_automation/triggers/topic_closed.rb
  plugins/automation/plugin.rb
  plugins/automation/spec/lib/discourse_automation/event_handlers_spec.rb
Labels: i18n

#34742 DEV: Skip a broken spec
  plugins/chat/spec/system/channel_members_page_spec.rb
Labels: chat

#34749 DEV: Skip flaky d-assign spec
  plugins/discourse-assign/spec/system/assign_topic_spec.rb
  plugins/spoiler-alert/spec/system/composer_spoiler_spec.rb
Labels: discourse-assign, spoiler-alert

#34425 DEV: Add Intermediate DB support for `user_associated_accounts`
  migrations/config/intermediate_db.yml
  migrations/db/intermediate_db_schema/100-base-schema.sql
  migrations/lib/converters/discourse/steps/user_associated_accounts.rb
  migrations/lib/database/intermediate_db/user_associated_account.rb
  migrations/lib/importer/steps/user_associated_accounts.rb
Labels: migrations-tooling

#34714 UX: Polish for topic list controls
  app/assets/javascripts/discourse/app/components/bulk-select-toggle.gjs
  app/assets/javascripts/discourse/app/components/d-navigation.gjs
  app/assets/javascripts/discourse/app/components/notifications-tracking.gjs
  config/locales/client.en.yml
  themes/horizon/scss/hiddenstuff.scss
Labels: i18n

#34798 FIX: ensures quick reactions usage shows in frequently
  plugins/chat/assets/javascripts/discourse/components/chat-message.gjs
  plugins/chat/assets/javascripts/discourse/lib/chat-message-interactor.js
  plugins/chat/spec/system/page_objects/chat/chat_channel.rb
  plugins/chat/spec/system/react_to_message_spec.rb
Labels: chat

#34799 PERF: do not fetch thread data when we have it
  plugins/chat/assets/javascripts/discourse/lib/chat-channel-subscription-manager.js
  plugins/chat/assets/javascripts/discourse/lib/chat-threads-manager.js
  plugins/chat/assets/javascripts/discourse/services/chat-channels-manager.js
Labels: chat

#34801 FIX: ensures event serializer has tags info
  plugins/discourse-calendar/app/serializers/discourse_post_event/basic_event_serializer.rb
  plugins/discourse-calendar/assets/javascripts/discourse/components/category-calendar.gjs
  plugins/discourse-calendar/assets/javascripts/discourse/components/upcoming-events-calendar.gjs
  plugins/discourse-calendar/spec/models/discourse_post_event/event_spec.rb
  plugins/discourse-calendar/spec/system/upcoming_events_spec.rb
  plugins/discourse-calendar/test/javascripts/acceptance/category-events-calendar-test.js
Labels: discourse-calendar

#34806 FIX: LLM config must be valid before running a test
  plugins/discourse-ai/app/controllers/discourse_ai/admin/ai_llms_controller.rb
  plugins/discourse-ai/assets/javascripts/discourse/components/ai-llm-editor-form.gjs
  plugins/discourse-ai/config/locales/client.en.yml
  plugins/discourse-ai/config/locales/server.en.yml
  plugins/discourse-ai/spec/requests/admin/ai_llms_controller_spec.rb
Labels: i18n, discourse-ai

#34819 DEV: stop talking about pipe delimited lists in docs
  config/locales/server.en.yml
Labels: i18n

#34825 FIX: Do not send empty content when detecting language
  plugins/discourse-ai/lib/translation/language_detector.rb
  plugins/discourse-ai/lib/translation/post_locale_detector.rb
  plugins/discourse-ai/spec/lib/translation/language_detector_spec.rb
  plugins/discourse-ai/spec/lib/translation/post_locale_detector_spec.rb
Labels: discourse-ai

#34667 DEV: rename topic_id to timerable_id for BaseTimer
  app/models/base_timer.rb
  app/models/topic.rb
  app/models/topic_timer.rb
  app/services/user_merger.rb
  db/migrate/20250902014817_add_timerable_id_to_topic_timer.rb
  db/migrate/20250902072941_sync_timerable_id_topic_id.rb
  db/migrate/20250916082012_mark_timerable_id_non_nullable.rb
  lib/tasks/topics.rake
  plugins/discourse-calendar/jobs/regular/discourse_post_event/bump_topic.rb
  spec/jobs/close_topic_spec.rb
  spec/jobs/open_topic_spec.rb
  spec/jobs/toggle_topic_closed_spec.rb
Labels: discourse-calendar

#34840 FEATURE: disable chat DM threads by default
  plugins/chat/app/models/chat/direct_message_channel.rb
  plugins/chat/spec/fabricators/chat_fabricator.rb
  plugins/chat/spec/models/chat/direct_message_channel_spec.rb
  plugins/chat/spec/services/chat/create_thread_spec.rb
  plugins/chat/spec/system/channel_settings_page_spec.rb
  plugins/chat/spec/system/chat_footer_spec.rb
  plugins/chat/spec/system/list_channels/drawer_spec.rb
  plugins/chat/spec/system/message_notifications_with_sidebar_spec.rb
Labels: chat

#34828 FEATURE: Ability to re-order objects in site setting type objects form
  app/assets/javascripts/admin/addon/components/schema-setting/editor.gjs
  app/assets/javascripts/discourse/tests/integration/components/admin-schema-setting/editor-test.gjs
  config/locales/client.en.yml
Labels: i18n

#34842 FEATURE: add configurable age penalty for semantic related topics
  plugins/discourse-ai/config/locales/server.en.yml
  plugins/discourse-ai/config/settings.yml
  plugins/discourse-ai/lib/embeddings/schema.rb
  plugins/discourse-ai/lib/embeddings/semantic_related.rb
  plugins/discourse-ai/spec/lib/modules/embeddings/semantic_related_spec.rb
Labels: i18n, discourse-ai

#34841 PERF: removes N+1 when loading events list
  plugins/discourse-calendar/app/controllers/discourse_post_event/events_controller.rb
  plugins/discourse-calendar/app/models/discourse_post_event/event.rb
  plugins/discourse-calendar/app/serializers/discourse_post_event/basic_event_serializer.rb
  plugins/discourse-calendar/app/serializers/discourse_post_event/event_topic_serializer.rb
  plugins/discourse-calendar/lib/discourse_post_event/event_finder.rb
  plugins/discourse-calendar/spec/fabricators/event_fabricator.rb
  plugins/discourse-calendar/spec/requests/events_controller_spec.rb
Labels: discourse-calendar

#34873 FIX: supports description for post events in rich editor
  plugins/discourse-calendar/assets/javascripts/discourse/pre-initializers/rich-editor-extension.js
  plugins/discourse-calendar/test/javascripts/integration/components/rich-editor-extension-test.js
Labels: discourse-calendar

#34679 FIX: Horizon topic activity username sometimes blank
  themes/horizon/javascripts/discourse/components/card/topic-activity-column.gjs
  themes/horizon/test/acceptance/topic-activity-column-test.gjs
Labels: merge-post-meetup

#34681 FEATURE: Do not bump topic on post edit
  lib/post_revisor.rb
  spec/lib/post_revisor_spec.rb
  spec/models/topic_spec.rb
Labels: ⚠ DO NOT MERGE, merge-post-meetup

#34871 DEV: Show back to queue link in header on new review UI
  app/assets/javascripts/discourse/app/templates/review-index.gjs
  app/assets/javascripts/discourse/app/templates/review-show.gjs
  app/assets/javascripts/discourse/app/templates/review.gjs
  app/assets/stylesheets/common/base/reviewables.scss
  config/locales/client.en.yml
Labels: i18n

#34668 FIX: Force composer markdown mode in email template editing
  app/assets/javascripts/admin/addon/controllers/admin-email-templates-edit.js
  app/assets/javascripts/admin/addon/templates/email-templates-edit.gjs
  app/assets/javascripts/discourse/app/components/d-editor.gjs
  app/assets/javascripts/discourse/app/lib/object.js
  config/locales/client.en.yml
  plugins/chat/spec/system/rich_editor_extension_transcript_spec.rb
  spec/system/admin_email_templates_spec.rb
  spec/system/page_objects/components/composer.rb
  spec/system/page_objects/pages/admin_email_templates.rb
Labels: chat, i18n

#34944 UX: Update copy
  plugins/discourse-ai/config/locales/client.en.yml
Labels: i18n, discourse-ai

#34942 UX: Use admin table classes for Calendar Holidays list
  plugins/discourse-calendar/assets/javascripts/discourse/components/admin-holidays-list-item.gjs
  plugins/discourse-calendar/assets/javascripts/discourse/components/admin-holidays-list.gjs
  plugins/discourse-calendar/assets/javascripts/discourse/components/region-input.js
  plugins/discourse-calendar/assets/javascripts/discourse/templates/admin-plugins/show/discourse-calendar-holidays.gjs
  plugins/discourse-calendar/assets/stylesheets/common/discourse-calendar-holidays.scss
  plugins/discourse-calendar/config/locales/client.en.yml
  plugins/discourse-calendar/test/javascripts/acceptance/admin-holidays-test.js
  plugins/discourse-calendar/test/javascripts/integration/components/admin-holidays-list-item-test.gjs
Labels: i18n, discourse-calendar

#34845 DEV: Sync IntermediateDB to support `user_fields.show_on_signup`
  migrations/db/intermediate_db_schema/100-base-schema.sql
  migrations/lib/database/intermediate_db/user_field.rb
Labels: migrations-tooling

#34978 DEV: Resolve flaky chat preferences spec
  plugins/chat/spec/system/page_objects/pages/user_preferences_chat.rb
  spec/support/system_helpers.rb
Labels: chat

#34913 DEV: Update user note to allow customization
  app/assets/javascripts/discourse/app/lib/transformer/registry.js
  plugins/discourse-user-notes/assets/javascripts/discourse/components/modal/user-notes.gjs
  plugins/discourse-user-notes/assets/javascripts/discourse/components/user-note.gjs
  plugins/discourse-user-notes/assets/javascripts/discourse/initializers/enable-user-notes.gjs
Labels: discourse-user-notes

#34987 DEV: Fix random typos
  app/assets/javascripts/discourse/app/components/bookmark-menu.gjs
  app/assets/javascripts/discourse/app/components/post-stream.gjs
  app/assets/javascripts/discourse/app/components/post/quoted-content.gjs
  app/assets/javascripts/discourse/app/components/user-stream.gjs
  app/assets/javascripts/discourse/app/lib/sidebar/base-community-section-link.js
  app/assets/javascripts/discourse/app/services/composer.js
  app/assets/javascripts/discourse/tests/integration/components/decorated-html-test.gjs
  app/assets/javascripts/discourse/tests/integration/components/prosemirror-editor/code-block-test.js
  plugins/discourse-ai/assets/javascripts/discourse/connectors/composer-fields/persona-llm-selector.gjs
  plugins/discourse-ai/lib/automation/llm_triage.rb
  plugins/discourse-calendar/app/models/discourse_post_event/event.rb
  plugins/discourse-lazy-videos/lib/discourse_lazy_videos/lazy_vimeo.rb
  plugins/discourse-microsoft-auth/lib/microsoft_auth_revoker.rb
  plugins/discourse-reactions/spec/requests/custom_reactions_controller_spec.rb
  plugins/poll/lib/poll.rb
Labels: discourse-reactions, poll, discourse-calendar, discourse-lazy-videos, discourse-microsoft-auth, discourse-ai

#34990 DEV: Remove an obsolete poll migration task
  plugins/poll/lib/tasks/migrate_old_polls.rake
Labels: poll

#34986 DEV: Fix PostDestroyer deprecations in specs
  plugins/discourse-assign/spec/plugin_spec.rb
  plugins/discourse-calendar/spec/models/calendar_event_spec.rb
  plugins/discourse-calendar/spec/serializers/discourse_post_event/post_serializer_spec.rb
  plugins/discourse-policy/spec/serializers/post_serializer_spec.rb
  plugins/discourse-reactions/spec/requests/custom_reactions_controller_spec.rb
  plugins/discourse-solved/spec/integration/solved_spec.rb
Labels: discourse-reactions, discourse-calendar, discourse-assign, discourse-solved, discourse-policy

#34999 UX: Redesign 404
  app/assets/stylesheets/common/base/not-found.scss
  app/controllers/application_controller.rb
  app/views/exceptions/not_found.html.erb
  config/locales/server.en.yml
  themes/horizon/scss/buttons.scss
Labels: i18n

#35005 UX: Use search padding for discoveries
  plugins/discourse-ai/assets/stylesheets/modules/ai-bot/common/ai-discobot-discoveries.scss
Labels: discourse-ai

#34963 DEV: Replace Ember's deprecated `mapBy` with standard `.map`
  app/assets/javascripts/admin/addon/components/admin-report-radar.gjs
  app/assets/javascripts/admin/addon/components/admin-report-stacked-chart.gjs
  app/assets/javascripts/admin/addon/components/admin-report-stacked-line-chart.gjs
  app/assets/javascripts/admin/addon/components/emoji-value-list.gjs
  app/assets/javascripts/admin/addon/components/site-settings/category-list.gjs
  app/assets/javascripts/admin/addon/controllers/admin-user/index.js
  app/assets/javascripts/admin/addon/routes/admin-user/index.js
  app/assets/javascripts/admin/addon/services/admin-plugin-nav-manager.js
  app/assets/javascripts/discourse/app/components/choose-message.gjs
  app/assets/javascripts/discourse/app/components/choose-topic.gjs
  app/assets/javascripts/discourse/app/components/composer-user-selector.gjs
  app/assets/javascripts/discourse/app/components/modal/delete-themes-confirm.gjs
  app/assets/javascripts/discourse/app/components/modal/json-schema-editor.gjs
  app/assets/javascripts/discourse/app/components/time-shortcut-picker.gjs
  app/assets/javascripts/discourse/app/controllers/full-page-search.js
  app/assets/javascripts/discourse/app/controllers/group/index.js
  app/assets/javascripts/discourse/app/deprecation-workflow.js
  app/assets/javascripts/discourse/app/helpers/route-action.js
  app/assets/javascripts/discourse/app/lib/bulk-select-helper.js
  app/assets/javascripts/discourse/app/lib/register-topic-footer-dropdown.js
  app/assets/javascripts/discourse/app/lib/uploads.js
  app/assets/javascripts/discourse/app/models/bookmark.js
  app/assets/javascripts/discourse/app/models/post-stream.js
  app/assets/javascripts/discourse/app/models/topic.js
  app/assets/javascripts/discourse/tests/integration/components/select-kit/email-group-user-chooser-test.gjs
  app/assets/javascripts/discourse/tests/unit/lib/time-shortcut-test.js
  app/assets/javascripts/discourse/tests/unit/models/category-test.js
  app/assets/javascripts/discourse/tests/unit/models/site-test.js
  app/assets/javascripts/select-kit/addon/components/category-selector.js
  app/assets/javascripts/select-kit/addon/components/multi-select.gjs
  app/assets/javascripts/select-kit/addon/components/topic-chooser.js
  plugins/automation/admin/assets/javascripts/admin/components/fields/da-categories-field.gjs
  plugins/automation/admin/assets/javascripts/admin/components/fields/da-email-group-user-field.gjs
  plugins/chat/assets/javascripts/discourse/components/channel-name/index.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-composer.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-replying-indicator.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/message-creator/add-members.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/message-creator/lib/iterate-list.js
  plugins/chat/assets/javascripts/discourse/components/chat/message-creator/new-group.gjs
  plugins/chat/assets/javascripts/discourse/components/styleguide/chat-modal-move-message-to-channel.gjs
  plugins/chat/assets/javascripts/discourse/lib/chat-composer-buttons.js
  plugins/chat/assets/javascripts/discourse/lib/get-reaction-text.js
  plugins/chat/assets/javascripts/discourse/services/chat-channel-pane.js
  plugins/chat/assets/javascripts/discourse/services/chat-thread-pane.js
  plugins/chat/assets/javascripts/discourse/services/chat.js
  plugins/chat/test/javascripts/chat-fixtures.js
  plugins/chat/test/javascripts/components/channel-name-test.gjs
  plugins/discourse-assign/assets/javascripts/discourse/connectors/above-review-filters/assigned-to-filter.gjs
  plugins/discourse-data-explorer/assets/javascripts/discourse/components/query-result.gjs
  plugins/discourse-reactions/assets/javascripts/discourse/components/discourse-reactions-state-panel.gjs
  plugins/poll/assets/javascripts/discourse/components/poll-results-pie.gjs
  plugins/styleguide/assets/javascripts/discourse/components/styleguide-icons.gjs
Labels: chat, styleguide, discourse-reactions, poll, discourse-assign, discourse-data-explorer

#35016 FIX: do not hide time when overflowing in month view
  plugins/discourse-calendar/assets/stylesheets/common/full-calendar-ext.scss
Labels: discourse-calendar

#34339 DEV: Add support for converting and importing linked `user_custom_fields`
  migrations/config/intermediate_db.yml
  migrations/db/intermediate_db_schema/100-base-schema.sql
  migrations/lib/converters/discourse/steps/user_field_values.rb
  migrations/lib/database/intermediate_db/user_custom_field.rb
  migrations/lib/database/intermediate_db/user_field_value.rb
  migrations/lib/importer/steps/user_custom_fields.rb
  migrations/lib/importer/steps/user_field_values.rb
Labels: migrations-tooling

#35036 UX: Enable 'viewport based mobile mode' by default
  app/assets/javascripts/discourse/app/models/site.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-user-test.js
  config/locales/server.en.yml
  config/site_settings.yml
  plugins/chat/spec/system/sidebars_spec.rb
  spec/system/user_page/user_preferences_navigation_spec.rb
  spec/system/viewing_sidebar_mobile_spec.rb
Labels: chat, i18n

#35029 DEV: Add basic system spec for discourse-reaction on post
  plugins/discourse-reactions/spec/system/page_objects/post_reactions_button.rb
  plugins/discourse-reactions/spec/system/page_objects/post_reactions_list.rb
  plugins/discourse-reactions/spec/system/reactions_post_spec.rb
  spec/system/page_objects/components/base.rb
Labels: discourse-reactions

#35062 UX: Update strings for filter
  config/locales/server.en.yml
Labels: i18n

#35040 DEV: Add support for converting and importing `topic_allowed_users`
  migrations/config/intermediate_db.yml
  migrations/db/intermediate_db_schema/100-base-schema.sql
  migrations/lib/converters/discourse/steps/topic_allowed_users.rb
  migrations/lib/database/intermediate_db/topic_allowed_user.rb
  migrations/lib/importer/steps/topic_allowed_users.rb
Labels: migrations-tooling

#35010 DEV: Replace deprecated Ember's native array `any` with `some`
  app/assets/javascripts/admin/addon/components/webhook-event-chooser.gjs
  app/assets/javascripts/admin/addon/controllers/admin-user/index.js
  app/assets/javascripts/admin/addon/lib/site-setting-matcher.js
  app/assets/javascripts/admin/addon/models/color-scheme.js
  app/assets/javascripts/admin/addon/models/theme.js
  app/assets/javascripts/discourse/app/components/user-menu/notifications-list.js
  app/assets/javascripts/discourse/app/components/welcome-banner.gjs
  app/assets/javascripts/discourse/app/deprecation-workflow.js
  app/assets/javascripts/discourse/app/models/topic-tracking-state.js
  app/assets/javascripts/discourse/tests/helpers/presence-pretender.js
  plugins/discourse-ai/assets/javascripts/discourse/components/ai-persona-llm-selector.gjs
  plugins/discourse-ai/assets/javascripts/discourse/components/ai-persona-tool-options.gjs
  plugins/discourse-ai/assets/javascripts/discourse/components/ai-tool-editor-form.gjs
  plugins/discourse-ai/assets/javascripts/discourse/connectors/after-d-editor/composer-open.gjs
  plugins/discourse-ai/assets/javascripts/discourse/connectors/composer-fields/persona-llm-selector.gjs
  plugins/discourse-ai/assets/javascripts/discourse/lib/ai-bot-helper.js
  plugins/discourse-local-dates/assets/javascripts/lib/local-date-builder.js
Labels: discourse-local-dates, discourse-ai
