Repository discourse/discourse, pull requests merged in 2025-02, with the labels that each got.

#31084 UX: allow msg select buttons to wrap
  plugins/chat/assets/stylesheets/common/chat-selection-manager.scss
Labels: chat

#31129 UX: Fix user-select regressions
  app/assets/stylesheets/common/base/modal.scss
  app/assets/stylesheets/common/base/topic-post.scss
  app/assets/stylesheets/common/foundation/mixins.scss
  app/assets/stylesheets/common/table-builder/table-edit-decorator.scss
  app/assets/stylesheets/wizard.scss
  plugins/chat/assets/stylesheets/mixins/chat-reaction.scss
  plugins/footnote/assets/stylesheets/footnotes.scss
  stylelint.config.mjs
Labels: chat

#31137 FIX: quote from thread in drawer mode
  plugins/chat/assets/javascripts/discourse/services/chat-drawer-router.js
  plugins/chat/spec/system/transcript_spec.rb
Labels: chat

#31133 FIX: chat was enqueueing too many "chat summary" emails
  plugins/chat/lib/chat/mailer.rb
  plugins/chat/spec/components/chat/mailer_spec.rb
Labels: chat

#31047 UX: Hide inner site settings sidebar if admin sidebar enabled
  app/assets/javascripts/admin/addon/components/admin-site-settings-filter-controls.gjs
  app/assets/javascripts/admin/addon/controllers/admin-site-settings.js
  app/assets/javascripts/admin/addon/routes/admin-site-settings-index.js
  app/assets/javascripts/admin/addon/templates/site-settings-category.hbs
  app/assets/javascripts/admin/addon/templates/site-settings.hbs
  app/assets/stylesheets/common/admin/site-settings.scss
  config/locales/client.en.yml
Labels: i18n

#30941 DEV: Use default admin routes for plugins with settings
  app/assets/javascripts/admin/addon/components/admin-area-settings.gjs
  app/assets/javascripts/admin/addon/models/admin-plugin.js
  app/assets/javascripts/discourse/app/lib/sidebar/admin-sidebar.js
  app/assets/javascripts/discourse/tests/acceptance/admin-plugins-test.js
  app/assets/javascripts/discourse/tests/unit/models/admin-plugin-test.js
  app/controllers/application_controller.rb
  app/serializers/admin_plugin_serializer.rb
  lib/plugin/instance.rb
  plugins/chat/spec/requests/application_controller_spec.rb
  plugins/footnote/config/locales/client.en.yml
  spec/lib/plugin/instance_spec.rb
  spec/system/admin_sidebar_navigation_spec.rb
  spec/system/page_objects/components/navigation_menu/sidebar.rb
Labels: i18n

#31159 UX: restore shared sidebar link for posts and drafts
  app/assets/javascripts/discourse/app/lib/sidebar/common/community-section/section.js
  app/assets/javascripts/discourse/app/lib/sidebar/user/community-section/my-posts-section-link.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-user-community-section-test.js
  app/models/sidebar_url.rb
  config/locales/client.en.yml
  spec/models/sidebar_section_spec.rb
  spec/system/drafts_dropdown_spec.rb
  spec/system/editing_sidebar_community_section_spec.rb
  spec/system/viewing_sidebar_spec.rb
Labels: i18n

#30815 FEATURE: introduce a ProseMirror editor
  app/assets/javascripts/discourse/app/components/composer-container.hbs
  app/assets/javascripts/discourse/app/components/composer-editor.hbs
  app/assets/javascripts/discourse/app/components/composer-editor.js
  app/assets/javascripts/discourse/app/components/composer/textarea-editor.gjs
  app/assets/javascripts/discourse/app/components/composer/toggle-switch.gjs
  app/assets/javascripts/discourse/app/components/d-editor.hbs
  app/assets/javascripts/discourse/app/components/d-editor.js
  app/assets/javascripts/discourse/app/lib/autocomplete.js
  app/assets/javascripts/discourse/app/lib/composer/rich-editor-extensions.js
  app/assets/javascripts/discourse/app/lib/composer/text-manipulation.js
  app/assets/javascripts/discourse/app/lib/intercept-click.js
  app/assets/javascripts/discourse/app/lib/load-rich-editor.js
  app/assets/javascripts/discourse/app/lib/plugin-api.gjs
  app/assets/javascripts/discourse/app/lib/textarea-text-manipulation.js
  app/assets/javascripts/discourse/app/lib/uppy/composer-upload.js
  app/assets/javascripts/discourse/app/services/composer.js
  app/assets/javascripts/discourse/app/static/markdown-it/index.js
  app/assets/javascripts/discourse/app/static/prosemirror/components/prosemirror-editor.gjs
  app/assets/javascripts/discourse/app/static/prosemirror/core/inputrules.js
  app/assets/javascripts/discourse/app/static/prosemirror/core/keymap.js
  app/assets/javascripts/discourse/app/static/prosemirror/core/parser.js
  app/assets/javascripts/discourse/app/static/prosemirror/core/plugin.js
  app/assets/javascripts/discourse/app/static/prosemirror/core/schema.js
  app/assets/javascripts/discourse/app/static/prosemirror/core/serializer.js
  app/assets/javascripts/discourse/app/static/prosemirror/extensions/placeholder.js
  app/assets/javascripts/discourse/app/static/prosemirror/extensions/register-default.js
  app/assets/javascripts/discourse/app/static/prosemirror/lib/markdown-it.js
  app/assets/javascripts/discourse/app/static/prosemirror/lib/plugin-utils.js
  app/assets/javascripts/discourse/app/static/prosemirror/lib/text-manipulation.js
  app/assets/javascripts/discourse/package.json
  app/assets/javascripts/discourse/tests/helpers/rich-editor-helper.gjs
  app/assets/javascripts/discourse/tests/integration/components/prosemirror-editor/prosemirror-editor-test.gjs
  app/assets/javascripts/discourse/tests/integration/components/prosemirror-editor/prosemirror-markdown-test.gjs
  app/assets/stylesheets/common.scss
  app/assets/stylesheets/common/components/_index.scss
  app/assets/stylesheets/common/components/composer-toggle-switch.scss
  app/assets/stylesheets/common/rich-editor/_index.scss
  app/assets/stylesheets/common/rich-editor/rich-editor.scss
  app/assets/stylesheets/mobile/compose.scss
  config/site_settings.yml
  docs/CHANGELOG-JAVASCRIPT-PLUGIN-API.md
  jsconfig.json
  lib/svg_sprite.rb
  plugins/chat/assets/javascripts/discourse/components/chat-channel.gjs
  plugins/chat/assets/javascripts/discourse/initializers/chat-keyboard-shortcuts.js
  pnpm-lock.yaml
  script/build_jsconfig.rb
  spec/system/composer/prosemirror_editor_spec.rb
  spec/system/page_objects/components/composer.rb
Labels: chat

#31060 DEV: Refactor the Automation Plugin UI to match admin UI guidelines
  plugins/automation/admin/assets/javascripts/admin/adapters/discourse-automation-adapter.js
  plugins/automation/admin/assets/javascripts/admin/controllers/admin-plugins-discourse-automation.js
  plugins/automation/admin/assets/javascripts/admin/routes/admin-plugins-discourse-automation.js
  plugins/automation/admin/assets/javascripts/admin/templates/admin-plugins-discourse-automation-edit.hbs
  plugins/automation/admin/assets/javascripts/admin/templates/admin-plugins-discourse-automation-index.hbs
  plugins/automation/admin/assets/javascripts/admin/templates/admin-plugins-discourse-automation-new.hbs
  plugins/automation/admin/assets/javascripts/admin/templates/admin-plugins-discourse-automation.hbs
  plugins/automation/admin/assets/javascripts/discourse/controllers/admin-plugins/show/automation/edit.js
  plugins/automation/admin/assets/javascripts/discourse/controllers/admin-plugins/show/automation/index.js
  plugins/automation/admin/assets/javascripts/discourse/controllers/admin-plugins/show/automation/new.js
  plugins/automation/admin/assets/javascripts/discourse/routes/admin-plugins/show/automation/edit.js
  plugins/automation/admin/assets/javascripts/discourse/routes/admin-plugins/show/automation/index.js
  plugins/automation/admin/assets/javascripts/discourse/routes/admin-plugins/show/automation/new.js
  plugins/automation/admin/assets/javascripts/discourse/templates/admin-plugins/show/automation/edit.hbs
  plugins/automation/admin/assets/javascripts/discourse/templates/admin-plugins/show/automation/index.hbs
  plugins/automation/admin/assets/javascripts/discourse/templates/admin-plugins/show/automation/new.hbs
  plugins/automation/assets/javascripts/admin-automation-route-map.js
  plugins/automation/assets/javascripts/discourse/initializers/automation-admin-plugin-configuration-nav.js
  plugins/automation/assets/stylesheets/common/discourse-automation.scss
  plugins/automation/config/locales/client.en.yml
  plugins/automation/config/routes.rb
  plugins/automation/plugin.rb
  plugins/automation/spec/requests/admin_discourse_automation_automations_spec.rb
  plugins/automation/spec/system/page_objects/discourse_automation/automation.rb
  plugins/automation/spec/system/page_objects/discourse_automation/new_automation.rb
  plugins/automation/spec/system/smoke_test_spec.rb
Labels: i18n

#31118 FEATURE: Gracefully handle unhandled reviewables
  app/assets/javascripts/discourse/app/controllers/review-index.js
  app/assets/javascripts/discourse/app/routes/review-index.js
  app/assets/javascripts/discourse/app/templates/review-index.hbs
  app/assets/stylesheets/common/base/reviewables.scss
  app/controllers/admin/unknown_reviewables_controller.rb
  app/controllers/reviewables_controller.rb
  app/models/reviewable.rb
  config/locales/client.en.yml
  config/routes.rb
  spec/models/reviewable_spec.rb
  spec/requests/admin/unknown_reviewables_controller_spec.rb
  spec/system/page_objects/pages/review.rb
  spec/system/reviewables_spec.rb
Labels: i18n

#31192 DEV: Only include custom admin UIs in the plugins index tabs
  app/assets/javascripts/admin/addon/controllers/admin-plugins-index.js
  lib/plugin/instance.rb
  plugins/chat/spec/requests/application_controller_spec.rb
Labels: chat

#31195 UX: multiple drafts menu improvements
  app/assets/javascripts/discourse/app/components/create-topic-button.hbs
  app/assets/javascripts/discourse/app/components/topic-drafts-dropdown.gjs
  app/assets/stylesheets/desktop/components/drafts-dropdown-menu.scss
  config/locales/client.en.yml
  spec/system/drafts_dropdown_spec.rb
  spec/system/page_objects/components/drafts_menu.rb
Labels: i18n

#31108 UX: Update bot-indicator styling
  plugins/chat/assets/stylesheets/common/chat-message-info.scss
Labels: chat

#31167 DEV: Merge duplicated css
  app/assets/stylesheets/common/admin/admin_base.scss
  app/assets/stylesheets/common/admin/admin_config_area.scss
  app/assets/stylesheets/common/admin/admin_report_counters.scss
  app/assets/stylesheets/common/admin/customize.scss
  app/assets/stylesheets/common/admin/dashboard.scss
  app/assets/stylesheets/common/admin/users.scss
  app/assets/stylesheets/common/base/_topic-list.scss
  app/assets/stylesheets/common/base/category-list.scss
  app/assets/stylesheets/common/base/crawler_layout.scss
  app/assets/stylesheets/common/base/discourse.scss
  app/assets/stylesheets/common/base/edit-category.scss
  app/assets/stylesheets/common/base/magnific-popup.scss
  app/assets/stylesheets/common/base/menu-panel.scss
  app/assets/stylesheets/common/base/modal.scss
  app/assets/stylesheets/common/base/not-found.scss
  app/assets/stylesheets/common/base/onebox.scss
  app/assets/stylesheets/common/base/reviewables.scss
  app/assets/stylesheets/common/base/search-menu.scss
  app/assets/stylesheets/common/base/sidebar-section-link.scss
  app/assets/stylesheets/common/base/sidebar-section.scss
  app/assets/stylesheets/common/base/sidebar.scss
  app/assets/stylesheets/common/base/tagging.scss
  app/assets/stylesheets/common/base/topic-post.scss
  app/assets/stylesheets/common/base/user.scss
  app/assets/stylesheets/common/components/add-pm-participants.scss
  app/assets/stylesheets/common/components/user-card.scss
  app/assets/stylesheets/common/modal/login-modal.scss
  app/assets/stylesheets/common/modal/modal-overrides.scss
  app/assets/stylesheets/common/printer-friendly.scss
  app/assets/stylesheets/common/rich-editor/rich-editor.scss
  app/assets/stylesheets/common/select-kit/select-kit.scss
  app/assets/stylesheets/common/select-kit/toolbar-popup-menu-options.scss
  app/assets/stylesheets/common/table-builder/jspreadsheet-theme.scss
  app/assets/stylesheets/desktop/topic-post.scss
  app/assets/stylesheets/mobile/topic-list.scss
  app/assets/stylesheets/mobile/user.scss
  app/assets/stylesheets/qunit-custom.scss
  app/assets/stylesheets/vendor/pikaday.scss
  app/assets/stylesheets/wizard.scss
  plugins/chat/assets/stylesheets/common/chat-form.scss
  plugins/chat/assets/stylesheets/common/chat-message-creator.scss
  plugins/chat/assets/stylesheets/common/chat-message-images.scss
  plugins/chat/assets/stylesheets/common/chat-message.scss
  plugins/chat/assets/stylesheets/common/chat-notices.scss
  plugins/chat/assets/stylesheets/common/chat-reply.scss
  stylelint.config.mjs
Labels: chat

#31200 DEV: Enable and fix more stylelint rules
  app/assets/stylesheets/common/admin/admin_base.scss
  app/assets/stylesheets/common/admin/emails.scss
  app/assets/stylesheets/common/admin/users.scss
  app/assets/stylesheets/common/base/modal.scss
  app/assets/stylesheets/common/base/onebox.scss
  app/assets/stylesheets/common/components/d-select.scss
  app/assets/stylesheets/common/components/date-input.scss
  app/assets/stylesheets/common/components/topic-map.scss
  app/assets/stylesheets/common/float-kit/d-menu.scss
  app/assets/stylesheets/common/form-kit/_alert.scss
  app/assets/stylesheets/common/form-kit/_control-radio.scss
  app/assets/stylesheets/common/form-kit/_default-input-mixin.scss
  app/assets/stylesheets/common/foundation/color_transformations.scss
  app/assets/stylesheets/common/foundation/mixins.scss
  app/assets/stylesheets/common/modal/modal-overrides.scss
  app/assets/stylesheets/desktop/menu-panel.scss
  app/assets/stylesheets/desktop/topic-post.scss
  app/assets/stylesheets/ember_cli.scss
  app/assets/stylesheets/mobile/modal-overrides.scss
  app/assets/stylesheets/mobile/modal.scss
  plugins/chat/assets/stylesheets/common/chat-browse.scss
  plugins/chat/assets/stylesheets/common/chat-footer.scss
  plugins/chat/assets/stylesheets/common/chat-selection-manager.scss
  plugins/chat/assets/stylesheets/common/chat-user-threads.scss
  plugins/chat/assets/stylesheets/mobile/chat-channel-row.scss
  plugins/chat/assets/stylesheets/mobile/chat-index.scss
  plugins/chat/assets/stylesheets/mobile/chat-message-actions.scss
  plugins/discourse-details/assets/stylesheets/details.scss
  stylelint.config.mjs
Labels: chat

#31201 UX: Fix HTML showing in delete user button
  app/assets/javascripts/admin/addon/controllers/admin-user-index.js
  app/assets/javascripts/discourse/app/controllers/user.js
  app/assets/javascripts/discourse/tests/acceptance/admin-user-index-test.js
  app/assets/javascripts/discourse/tests/acceptance/user-profile-summary-test.js
  config/locales/client.en.yml
Labels: i18n

#31194 FEATURE: Allow excluding uploads from min post length requirement
  config/locales/server.en.yml
  config/site_settings.yml
  lib/validators/post_validator.rb
  lib/validators/stripped_length_validator.rb
  spec/lib/validators/post_validator_spec.rb
Labels: i18n

#31086 FEATURE: Dark/light mode selector
  app/assets/javascripts/discourse/app/components/d-styles.gjs
  app/assets/javascripts/discourse/app/components/header/icons.gjs
  app/assets/javascripts/discourse/app/components/header/logo.gjs
  app/assets/javascripts/discourse/app/components/interface-color-selector.gjs
  app/assets/javascripts/discourse/app/components/light-dark-img.gjs
  app/assets/javascripts/discourse/app/components/sidebar/footer.gjs
  app/assets/javascripts/discourse/app/initializers/discourse-bootstrap.js
  app/assets/javascripts/discourse/app/instance-initializers/interface-color.js
  app/assets/javascripts/discourse/app/services/interface-color.js
  app/assets/stylesheets/common/base/header.scss
  app/controllers/stylesheets_controller.rb
  app/helpers/application_helper.rb
  app/models/interface_color_selector_setting.rb
  app/views/common/_discourse_splash.html.erb
  app/views/static/login.html.erb
  config/locales/client.en.yml
  config/locales/server.en.yml
  config/site_settings.yml
  lib/middleware/anonymous_cache.rb
  lib/stylesheet/manager.rb
  lib/svg_sprite.rb
  plugins/chat/assets/javascripts/discourse/initializers/chat-setup.js
  spec/lib/middleware/anonymous_cache_spec.rb
  spec/lib/stylesheet/manager_spec.rb
  spec/models/color_scheme_spec.rb
  spec/requests/application_controller_spec.rb
  spec/system/interface_color_selector_spec.rb
  spec/system/page_objects/components/home_logo.rb
  spec/system/page_objects/components/interface_color_mode.rb
  spec/system/page_objects/components/interface_color_selector.rb
Labels: chat, i18n

#31235 FEATURE: Allow admins to opt-in to seamless redirects on `/auth/*`
  config/locales/server.en.yml
  config/site_settings.yml
  lib/middleware/omniauth_bypass_middleware.rb
  spec/requests/omniauth_callbacks_controller_spec.rb
Labels: i18n

#31268 Revert "UX: Hide inner site settings sidebar if admin sidebar enabled (#31047)"
  app/assets/javascripts/admin/addon/components/admin-site-settings-filter-controls.gjs
  app/assets/javascripts/admin/addon/controllers/admin-site-settings.js
  app/assets/javascripts/admin/addon/routes/admin-site-settings-index.js
  app/assets/javascripts/admin/addon/templates/site-settings-category.hbs
  app/assets/javascripts/admin/addon/templates/site-settings.hbs
  app/assets/stylesheets/common/admin/site-settings.scss
  config/locales/client.en.yml
Labels: i18n

#31267 Revert "UX: Hide inner site settings sidebar if admin sidebar enabled (#31047)"
  app/assets/javascripts/admin/addon/components/admin-site-settings-filter-controls.gjs
  app/assets/javascripts/admin/addon/controllers/admin-site-settings.js
  app/assets/javascripts/admin/addon/routes/admin-site-settings-index.js
  app/assets/javascripts/admin/addon/templates/site-settings-category.hbs
  app/assets/javascripts/admin/addon/templates/site-settings.hbs
  app/assets/stylesheets/common/admin/site-settings.scss
  config/locales/client.en.yml
Labels: i18n

#30666 UX: Update banner image field to use help text
  app/assets/javascripts/admin/addon/components/admin-config-area-cards/about/general-settings.gjs
  app/assets/javascripts/discourse/app/form-kit/components/fk/control-wrapper.gjs
  app/assets/javascripts/discourse/app/form-kit/components/fk/field-data.gjs
  app/assets/javascripts/discourse/app/form-kit/components/fk/field.gjs
  app/assets/stylesheets/common/form-kit/_field.scss
  config/locales/client.en.yml
Labels: i18n

#31270 FIX: invalid CSP directive sources should allow site to boot with valid CSP directives (stable)
  lib/content_security_policy/builder.rb
  spec/fixtures/plugins/csp_extension/plugin.rb
  spec/lib/content_security_policy/builder_spec.rb
  spec/lib/content_security_policy_spec.rb
  spec/system/content_security_policy_spec.rb
Labels: i18n

#31273 DEV: Use correct method for creating slugs
  script/bulk_import/base.rb
Labels: migrations-tooling

#31208 DEV: Update default config for `uploads_importer`
  script/bulk_import/uploads_importer.yml
Labels: migrations-tooling

#31306 DEV: Drop experimental `enable_diffhtml_preview` setting
  app/assets/javascripts/discourse-markdown-it/src/setup.js
  app/assets/javascripts/discourse/app/components/composer-editor.js
  app/assets/javascripts/discourse/app/components/d-editor.hbs
  app/assets/javascripts/discourse/app/components/d-editor.js
  app/assets/javascripts/pretty-text/addon/upload-short-url.js
  config/locales/server.en.yml
  config/site_settings.yml
  lib/onebox/engine/allowlisted_generic_onebox.rb
  lib/onebox/engine/audio_onebox.rb
  lib/onebox/engine/video_onebox.rb
  plugins/discourse-details/spec/system/morphed_preview_spec.rb
  spec/system/composer/morphed_preview_spec.rb
  spec/system/composer_uploads_spec.rb
Labels: i18n

#30964 FIX: Calculate `reaction_users_count` in the bulk import script
  script/bulk_import/generic_bulk.rb
Labels: migrations-tooling

#31343 DEV: Fix all `mixed-decls` sass deprecations
  app/assets/stylesheets/common/admin/admin_base.scss
  app/assets/stylesheets/common/admin/customize.scss
  app/assets/stylesheets/common/admin/staff_logs.scss
  app/assets/stylesheets/common/admin/users.scss
  app/assets/stylesheets/common/base/compose.scss
  app/assets/stylesheets/common/base/directory.scss
  app/assets/stylesheets/common/base/discourse.scss
  app/assets/stylesheets/common/base/edit-category.scss
  app/assets/stylesheets/common/base/header.scss
  app/assets/stylesheets/common/base/magnific-popup.scss
  app/assets/stylesheets/common/base/menu-panel.scss
  app/assets/stylesheets/common/base/modal.scss
  app/assets/stylesheets/common/base/onebox.scss
  app/assets/stylesheets/common/base/popup-menu.scss
  app/assets/stylesheets/common/base/reviewables.scss
  app/assets/stylesheets/common/base/search-menu.scss
  app/assets/stylesheets/common/base/search.scss
  app/assets/stylesheets/common/base/sidebar-section.scss
  app/assets/stylesheets/common/base/sidebar.scss
  app/assets/stylesheets/common/base/topic-footer.scss
  app/assets/stylesheets/common/base/topic-post.scss
  app/assets/stylesheets/common/base/user-badges.scss
  app/assets/stylesheets/common/base/user.scss
  app/assets/stylesheets/common/components/bookmark-modal.scss
  app/assets/stylesheets/common/components/buttons.scss
  app/assets/stylesheets/common/components/calendar-date-time-input.scss
  app/assets/stylesheets/common/components/d-toggle-switch.scss
  app/assets/stylesheets/common/components/powered-by-discourse.scss
  app/assets/stylesheets/common/components/user-card.scss
  app/assets/stylesheets/common/d-editor.scss
  app/assets/stylesheets/common/form-kit/_control-code.scss
  app/assets/stylesheets/common/form-kit/_control-composer.scss
  app/assets/stylesheets/common/form-kit/_control-input.scss
  app/assets/stylesheets/common/form-kit/_control-menu.scss
  app/assets/stylesheets/common/form-kit/_control-textarea.scss
  app/assets/stylesheets/common/form-kit/_default-input-mixin.scss
  app/assets/stylesheets/common/foundation/mixins.scss
  app/assets/stylesheets/common/rich-editor/rich-editor.scss
  app/assets/stylesheets/common/software-update-prompt.scss
  app/assets/stylesheets/common/topic-timeline.scss
  app/assets/stylesheets/desktop/compose.scss
  app/assets/stylesheets/desktop/discourse.scss
  app/assets/stylesheets/desktop/modal.scss
  app/assets/stylesheets/desktop/topic-post.scss
  app/assets/stylesheets/mobile/components/emoji-picker.scss
  app/assets/stylesheets/mobile/modal-overrides.scss
  app/assets/stylesheets/mobile/modal.scss
  plugins/chat/assets/stylesheets/common/chat-composer.scss
Labels: chat

#31300 FEATURE: display process information on flag modal
  app/assets/javascripts/discourse/app/components/modal/anonymous-flag.gjs
  app/assets/javascripts/discourse/app/components/modal/flag.hbs
  app/assets/javascripts/discourse/app/components/post/menu/buttons/flag.gjs
  app/assets/javascripts/discourse/app/widgets/post-menu.js
  config/locales/client.en.yml
  config/locales/server.en.yml
  config/site_settings.yml
  db/migrate/20250212044021_rename_allow_all_users_to_flag_illegal_content_site_setting.rb
  lib/guardian/post_guardian.rb
  lib/site_settings/validations.rb
  spec/lib/guardian_spec.rb
  spec/lib/site_settings/validations_spec.rb
  spec/requests/admin/config/site_settings_controller_spec.rb
  spec/system/admin_flags_spec.rb
  spec/system/flagging_post_spec.rb
Labels: i18n

#31347 FEATURE: Allow showing only experiments on "What's new?"
  app/assets/javascripts/admin/addon/components/dashboard-new-features.gjs
  app/assets/stylesheets/common/admin/dashboard.scss
  config/locales/client.en.yml
  spec/system/admin_dashboard_new_features_spec.rb
  spec/system/page_objects/pages/admin_new_features.rb
Labels: i18n

#31309 DEV: Refactor chat HTML decorating
  plugins/chat/assets/javascripts/discourse/components/chat-message-collapser.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-message-collapser.js
  plugins/chat/assets/javascripts/discourse/components/chat-message-text.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-message.gjs
  plugins/chat/assets/javascripts/discourse/initializers/chat-decorators.js
  plugins/chat/assets/javascripts/discourse/lib/lightbox.js
  plugins/chat/assets/stylesheets/common/base-common.scss
Labels: chat

#31101 DEV: Add the async-content component
  app/assets/javascripts/admin/addon/components/admin-reports.gjs
  app/assets/javascripts/discourse/app/components/async-content.gjs
  app/assets/javascripts/discourse/app/components/choose-message.gjs
  app/assets/javascripts/discourse/app/components/choose-topic.gjs
  app/assets/javascripts/discourse/app/components/choose-topic.hbs
  app/assets/javascripts/discourse/app/components/choose-topic.js
  app/assets/javascripts/discourse/app/components/modal/move-to-topic.hbs
  app/assets/javascripts/discourse/app/lib/ajax-error.js
  app/assets/javascripts/discourse/package.json
  app/assets/javascripts/discourse/tests/integration/components/async-content-test.gjs
  app/assets/stylesheets/common/modal/modal-overrides.scss
  plugins/chat/assets/javascripts/discourse/components/chat-to-topic-selector.hbs
  plugins/chat/assets/javascripts/discourse/components/chat/modal/archive-channel.gjs
  pnpm-lock.yaml
Labels: chat

#31356 DEV: Fix `mixed-decls` sass deprecations in plugins
  plugins/chat/assets/stylesheets/common/base-common.scss
  plugins/chat/assets/stylesheets/common/chat-channel-name.scss
  plugins/chat/assets/stylesheets/common/chat-composer-button.scss
  plugins/chat/assets/stylesheets/common/chat-composer.scss
  plugins/chat/assets/stylesheets/common/chat-drawer.scss
  plugins/chat/assets/stylesheets/common/chat-index.scss
  plugins/chat/assets/stylesheets/common/chat-message-creator.scss
  plugins/chat/assets/stylesheets/common/chat-messages-scroller.scss
  plugins/chat/assets/stylesheets/common/chat-selection-manager.scss
  plugins/chat/assets/stylesheets/common/chat-skeleton.scss
  plugins/chat/assets/stylesheets/common/chat-thread-unread-indicator.scss
  plugins/chat/assets/stylesheets/common/chat-threads-list.scss
  plugins/chat/assets/stylesheets/common/chat-unread-indicator.scss
  plugins/chat/assets/stylesheets/mixins/chat-scrollbar.scss
Labels: chat

#31387 DEV: Remove unused 'advanced' theme editor mode
  app/assets/javascripts/admin/addon/components/admin-theme-editor.hbs
  app/assets/javascripts/admin/addon/components/admin-theme-editor.js
  app/assets/javascripts/admin/addon/models/theme.js
  config/locales/client.en.yml
Labels: i18n

#31315 FIX: Skip some validations for automatic groups
  app/models/group.rb
  app/models/username_validator.rb
  config/locales/server.en.yml
  lib/validators/max_username_length_validator.rb
  lib/validators/min_username_length_validator.rb
  spec/models/group_spec.rb
Labels: i18n

#31406 UX: increase limit in chat channel fetcher
  plugins/chat/lib/chat/channel_fetcher.rb
Labels: chat

#31325 DEV: Add a new `type_source` field to the `Reviewable` model.
  app/assets/javascripts/discourse/app/controllers/review-index.js
  app/assets/javascripts/discourse/app/lib/constants.js
  app/assets/javascripts/discourse/app/routes/review-index.js
  app/assets/javascripts/discourse/app/templates/review-index.hbs
  app/assets/javascripts/discourse/tests/fixtures/concerns/notification-types.js
  app/controllers/reviewables_controller.rb
  app/models/reviewable.rb
  app/models/reviewable_flagged_post.rb
  app/models/reviewable_post.rb
  app/models/reviewable_queued_post.rb
  app/models/reviewable_user.rb
  app/serializers/reviewable_serializer.rb
  config/locales/client.en.yml
  db/migrate/20250212045125_add_type_source_to_reviewable.rb
  lib/discourse_plugin_registry.rb
  lib/tasks/javascript.rake
  spec/lib/discourse_plugin_registry_spec.rb
  spec/lib/plugin/instance_spec.rb
  spec/models/reviewable_spec.rb
  spec/serializers/reviewable_serializer_spec.rb
  spec/system/page_objects/pages/review.rb
  spec/system/reviewables_spec.rb
Labels: i18n

#31366 FEATURE: Allow admins to remove users from chat DMs
  plugins/chat/app/controllers/chat/api/channels_memberships_controller.rb
  plugins/chat/app/models/chat/channel.rb
  plugins/chat/app/models/chat/direct_message_channel.rb
  plugins/chat/app/serializers/chat/channel_serializer.rb
  plugins/chat/app/services/chat/remove_user_from_channel.rb
  plugins/chat/assets/javascripts/discourse/components/chat/routes/channel-info-members.gjs
  plugins/chat/assets/javascripts/discourse/models/chat-channel.js
  plugins/chat/assets/javascripts/discourse/services/chat-api.js
  plugins/chat/assets/stylesheets/common/chat-channel-members.scss
  plugins/chat/config/locales/client.en.yml
  plugins/chat/config/locales/server.en.yml
  plugins/chat/config/routes.rb
  plugins/chat/lib/chat/guardian_extensions.rb
  plugins/chat/spec/requests/chat/api/channels_memberships_controller_spec.rb
  plugins/chat/spec/services/chat/remove_user_from_channel_spec.rb
  plugins/chat/spec/system/channel_members_page_spec.rb
Labels: chat, i18n

#31414 FIX: Lightbox chat uploads immediately after optimize
  plugins/chat/assets/javascripts/discourse/components/chat-message-collapser.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-message-collapser.js
Labels: chat

#31425 UX: triggers upload dialog on doubleclick
  plugins/chat/assets/javascripts/discourse/components/chat-composer-dropdown.gjs
Labels: chat

#31426 UX: close thread panel with a single escape
  plugins/chat/assets/javascripts/discourse/components/chat/composer/thread.js
  plugins/chat/spec/system/chat/composer/shortcuts/thread_spec.rb
Labels: chat

#31439 FEATURE: Type reactions in chat
  app/assets/javascripts/discourse/app/lib/autocomplete.js
  app/assets/javascripts/pretty-text/addon/emoji.js
  app/assets/javascripts/pretty-text/addon/emoji/data.js
  lib/emoji/db.json
  plugins/chat/assets/javascripts/discourse/components/chat-composer.js
  plugins/chat/assets/javascripts/discourse/components/chat/composer/channel.js
  plugins/chat/assets/javascripts/discourse/components/chat/composer/thread.js
  plugins/chat/spec/system/chat_composer_spec.rb
  plugins/chat/spec/system/page_objects/chat/chat_thread.rb
Labels: chat

#31423 FEATURE: Allow a gjs initializer to be authored in local themes
  app/assets/javascripts/admin/addon/components/admin-theme-editor.js
  app/assets/javascripts/admin/addon/models/theme.js
  app/assets/javascripts/admin/addon/templates/customize-themes-edit.hbs
  config/locales/client.en.yml
  spec/system/admin_customize_themes_spec.rb
Labels: i18n

#31448 DEV: Remove unneeded -webkit prefixes from css
  app/assets/stylesheets/common/base/discourse.scss
  app/assets/stylesheets/common/base/modal.scss
  app/assets/stylesheets/common/base/topic-post.scss
  app/assets/stylesheets/common/components/footer-nav.scss
  app/assets/stylesheets/common/foundation/mixins.scss
  app/assets/stylesheets/common/table-builder/table-edit-decorator.scss
  app/assets/stylesheets/vendor/normalize.scss
  app/assets/stylesheets/wizard.scss
  plugins/chat/assets/stylesheets/mixins/chat-reaction.scss
  plugins/chat/assets/stylesheets/mobile/chat-message-actions.scss
  plugins/chat/assets/stylesheets/mobile/chat-message.scss
  plugins/footnote/assets/stylesheets/footnotes.scss
Labels: chat

#31457 DEV: allows to add a draft without persisting it
  plugins/chat/assets/javascripts/discourse/services/chat-drafts-manager.js
  plugins/chat/assets/javascripts/discourse/services/chat.js
Labels: chat

#31438 DEV: Allow SiteSetting::Update service to bulk update
  app/controllers/admin/config/about_controller.rb
  app/controllers/admin/site_settings_controller.rb
  app/services/site_setting/policy/settings_are_configurable.rb
  app/services/site_setting/policy/settings_are_unshadowed_globally.rb
  app/services/site_setting/policy/settings_are_visible.rb
  app/services/site_setting/policy/values_are_valid.rb
  app/services/site_setting/update.rb
  config/locales/server.en.yml
  lib/site_settings/type_supervisor.rb
  spec/requests/admin/site_settings_controller_spec.rb
  spec/services/site_setting/update_spec.rb
Labels: i18n

#31255 FIX: delayed chat summary email
  plugins/chat/config/locales/server.en.yml
  plugins/chat/db/migrate/20250220090521_add_last_unread_message_when_emailed_id_to_chat_thread_memberships.rb
  plugins/chat/lib/chat/mailer.rb
  plugins/chat/lib/chat/user_notifications_extension.rb
  plugins/chat/spec/components/chat/mailer_spec.rb
  plugins/chat/spec/fabricators/chat_fabricator.rb
  plugins/chat/spec/mailers/user_notifications_spec.rb
Labels: chat, i18n

#31478 UX: add automation script description for pm sender
  plugins/automation/config/locales/client.en.yml
Labels: i18n

#31328 DEV: Introduce ColorPaletteEditor component
  app/assets/javascripts/admin/addon/components/color-palette-editor.gjs
  app/assets/javascripts/discourse/tests/integration/components/color-palette-editor-test.gjs
  app/assets/stylesheets/admin/admin_base.scss
  app/assets/stylesheets/admin/color-palette-editor.scss
  app/assets/stylesheets/common/base/discourse.scss
  app/assets/stylesheets/common/components/color-input.scss
  config/locales/client.en.yml
  lib/svg_sprite.rb
Labels: i18n

#31496 FIX: Use `[]()` Markdown syntax for links instead of `<>` for narrative bot
  plugins/discourse-narrative-bot/config/locales/server.en.yml
Labels: i18n

#31497 FEATURE: Allow chat incoming webhooks to work without `.json` extension
  plugins/chat/app/models/chat/incoming_webhook.rb
  plugins/chat/config/routes.rb
  plugins/chat/spec/requests/chat/incoming_webhooks_controller_spec.rb
Labels: chat

#31518 FIX: Allow oneboxes with no description
  lib/onebox/engine/allowlisted_generic_onebox.rb
  plugins/chat/assets/stylesheets/common/chat-onebox.scss
  plugins/chat/spec/jobs/regular/chat/process_message_spec.rb
  spec/fixtures/onebox/title_no_description.response
  spec/lib/onebox/engine/allowlisted_generic_onebox_spec.rb
  spec/lib/oneboxer_spec.rb
Labels: chat

#31523 FEATURE: limits post created edited trigger to a group
  plugins/automation/config/locales/client.en.yml
  plugins/automation/lib/discourse_automation/event_handlers.rb
  plugins/automation/lib/discourse_automation/triggers/post_created_edited.rb
  plugins/automation/spec/triggers/post_created_edited_spec.rb
Labels: i18n

#31506 DEV: calendar control for form-kit
  app/assets/javascripts/discourse/app/components/date-picker.hbs
  app/assets/javascripts/discourse/app/components/date-picker.js
  app/assets/javascripts/discourse/app/form-kit/components/fk/control-wrapper.gjs
  app/assets/javascripts/discourse/app/form-kit/components/fk/control/calendar.gjs
  app/assets/javascripts/discourse/app/form-kit/components/fk/field.gjs
  app/assets/javascripts/discourse/app/form-kit/lib/validation-parser.js
  app/assets/javascripts/discourse/app/form-kit/lib/validator.js
  app/assets/javascripts/discourse/tests/helpers/form-kit-assertions.js
  app/assets/javascripts/discourse/tests/helpers/form-kit-helper.js
  app/assets/javascripts/discourse/tests/integration/components/form-kit/controls/calendar-test.gjs
  app/assets/stylesheets/common/form-kit/_control-calendar.scss
  app/assets/stylesheets/common/form-kit/_control-input.scss
  app/assets/stylesheets/common/form-kit/_index.scss
  config/locales/client.en.yml
Labels: i18n

#31537 FIX: Error when leaving group DM channel
  plugins/chat/app/jobs/regular/chat/notify_watching.rb
  plugins/chat/app/models/chat/channel.rb
  plugins/chat/app/models/chat/direct_message_channel.rb
  plugins/chat/app/services/chat/leave_channel.rb
  plugins/chat/app/services/chat/remove_user_from_channel.rb
  plugins/chat/app/services/chat/unfollow_channel.rb
  plugins/chat/spec/fabricators/chat_fabricator.rb
  plugins/chat/spec/jobs/regular/chat/notify_watching_spec.rb
  plugins/chat/spec/models/chat/category_channel_spec.rb
  plugins/chat/spec/models/chat/direct_message_channel_spec.rb
  plugins/chat/spec/requests/chat/api/channels_current_user_membership_controller_spec.rb
  plugins/chat/spec/requests/chat/api/channels_current_user_membership_follows_controller_spec.rb
Labels: chat

#31539 FIX: Duplicate error for chat messages for upload-only messages
  plugins/chat/app/models/chat/message.rb
  plugins/chat/lib/chat/duplicate_message_validator.rb
  plugins/chat/spec/lib/chat/duplicate_message_validator_spec.rb
Labels: chat

#31447 FEATURE: add search field to header
  app/assets/javascripts/discourse/app/components/header.gjs
  app/assets/javascripts/discourse/app/components/header/contents.gjs
  app/assets/javascripts/discourse/app/components/header/header-search.gjs
  app/assets/javascripts/discourse/app/components/header/icons.gjs
  app/assets/stylesheets/desktop/components/_index.scss
  app/assets/stylesheets/desktop/components/header-search.scss
  app/models/search_experience_site_setting.rb
  config/locales/client.en.yml
  config/locales/server.en.yml
  config/site_settings.yml
  spec/system/page_objects/pages/search.rb
  spec/system/search_spec.rb
Labels: i18n
