Repository discourse/discourse, pull requests merged in 2025-04, with the labels that each got.

#32013 FEATURE: Bulk save site settings
  app/assets/javascripts/admin/addon/components/admin-area-settings.gjs
  app/assets/javascripts/admin/addon/components/admin-site-settings-changes-banner.gjs
  app/assets/javascripts/admin/addon/mixins/setting-component.js
  app/assets/javascripts/admin/addon/models/site-setting.js
  app/assets/javascripts/admin/addon/services/site-setting-change-tracker.js
  app/assets/javascripts/admin/addon/templates/site-settings.gjs
  app/assets/stylesheets/admin/site-settings.scss
  app/controllers/admin/site_settings_controller.rb
  config/locales/client.en.yml
  spec/requests/admin/site_settings_controller_spec.rb
  spec/system/admin_site_setting_bulk_action_spec.rb
  spec/system/page_objects/components/admin_site_setting_bulk_banner.rb
  spec/system/page_objects/pages/admin_site_settings.rb
Labels: i18n

#31211 DEV: Remove the legacy widget post menu code
  app/assets/javascripts/discourse/app/components/post/menu.gjs
  app/assets/javascripts/discourse/app/components/post/menu/buttons/replies.gjs
  app/assets/javascripts/discourse/app/instance-initializers/bookmark-menu.js
  app/assets/javascripts/discourse/app/lib/plugin-api.gjs
  app/assets/javascripts/discourse/app/services/deprecation-warning-handler.js
  app/assets/javascripts/discourse/app/widgets/post-menu.js
  app/assets/javascripts/discourse/app/widgets/post.js
  app/assets/javascripts/discourse/tests/acceptance/post-controls-test.js
  app/assets/javascripts/discourse/tests/acceptance/topic-test.js
  app/assets/javascripts/discourse/tests/acceptance/user-tips-test.js
  app/assets/javascripts/discourse/tests/helpers/qunit-helpers.js
  app/assets/javascripts/discourse/tests/integration/components/post/post-test.gjs
  app/assets/javascripts/discourse/tests/integration/components/widgets/post-menu-test.gjs
  app/assets/javascripts/discourse/tests/integration/components/widgets/post-stream-test.gjs
  app/assets/javascripts/discourse/tests/integration/components/widgets/post-test-with-glimmer-post-menu-test.gjs
  app/assets/javascripts/discourse/tests/integration/components/widgets/post-test.gjs
  app/assets/javascripts/discourse/tests/unit/components/post-menu-test.gjs
  app/assets/stylesheets/common/base/topic-post.scss
  config/locales/server.en.yml
  config/site_settings.yml
  db/migrate/20250206010037_remove_glimmer_post_menu_mode_setting.rb
  spec/system/page_objects/pages/topic.rb
  spec/system/post_menu_spec.rb
Labels: i18n

#32117 DEV: Fix a flaky system test by doubling timeout
  plugins/chat/spec/system/thread_list/full_page_spec.rb
Labels: chat

#31646 UX: Show keyboard shortcut on full admin search page
  app/assets/javascripts/admin/addon/controllers/admin-search-index.js
  app/assets/javascripts/admin/addon/services/admin-search-data-source.js
  app/assets/javascripts/admin/addon/templates/search-index.gjs
  app/assets/javascripts/discourse/app/lib/sidebar/admin-sidebar.js
  app/assets/javascripts/discourse/tests/fixtures/admin-search-fixtures.js
  app/assets/javascripts/discourse/tests/helpers/create-pretender.js
  app/assets/javascripts/discourse/tests/integration/components/admin-search-test.gjs
  app/assets/javascripts/discourse/tests/unit/services/admin-search-data-source-test.js
  config/locales/client.en.yml
Labels: i18n

#32142 UX: Make admin search setting visible
  config/locales/server.en.yml
  config/site_settings.yml
Labels: i18n

#32100 DEV: Preserve unsaved site settings
  app/assets/javascripts/admin/addon/components/admin-site-settings-changes-banner.gjs
  app/assets/javascripts/admin/addon/components/site-setting.gjs
  app/assets/javascripts/admin/addon/controllers/admin-customize-themes-show.js
  app/assets/javascripts/admin/addon/mixins/setting-component.js
  app/assets/javascripts/admin/addon/models/site-setting.js
  app/assets/javascripts/admin/addon/models/theme-settings.js
  app/assets/javascripts/admin/addon/routes/admin-config-with-settings-route.js
  app/assets/javascripts/admin/addon/routes/admin-site-settings.js
  app/assets/javascripts/admin/addon/services/site-setting-change-tracker.js
  app/assets/javascripts/discourse/tests/integration/components/compact-list-test.gjs
  app/assets/javascripts/discourse/tests/integration/components/group-list-setting-test.gjs
  app/assets/javascripts/discourse/tests/integration/components/site-setting-test.gjs
  config/locales/client.en.yml
  spec/system/admin_site_setting_bulk_action_spec.rb
  spec/system/admin_site_setting_category_bulk_action_spec.rb
  spec/system/page_objects/pages/admin_site_settings.rb
Labels: i18n

#32152 UX: Button fixes
  app/assets/stylesheets/admin/customize.scss
  plugins/chat/assets/javascripts/discourse/components/chat/message-creator/new-group.gjs
Labels: chat

#32145 UX: add flex to mentions mixin + update units
  app/assets/stylesheets/common/base/topic-post.scss
  app/assets/stylesheets/common/components/hashtag.scss
  app/assets/stylesheets/common/foundation/mixins.scss
  plugins/chat/spec/system/channel_members_page_spec.rb
Labels: chat

#32139 FEATURE: Copy thread messages when copying thread OP
  plugins/chat/lib/chat/transcript_service.rb
  plugins/chat/spec/lib/chat/transcript_service_spec.rb
Labels: chat

#32150 FEATURE: One-click chat reaction settings
  app/models/user_option.rb
  plugins/chat/assets/javascripts/discourse/controllers/preferences-chat.js
  plugins/chat/assets/javascripts/discourse/initializers/chat-user-options.js
  plugins/chat/assets/javascripts/discourse/lib/chat-message-interactor.js
  plugins/chat/assets/javascripts/discourse/templates/preferences/chat.gjs
  plugins/chat/config/locales/client.en.yml
  plugins/chat/db/migrate/20250307185912_add_chat_quick_reaction_preferences.rb
  plugins/chat/lib/chat/user_option_extension.rb
  plugins/chat/plugin.rb
  plugins/chat/spec/models/user_option_spec.rb
  plugins/chat/spec/serializer/current_user_serializer_spec.rb
  plugins/chat/spec/serializer/user_serializer_spec.rb
  plugins/chat/spec/system/page_objects/chat/chat_channel.rb
  plugins/chat/spec/system/page_objects/pages/user_preferences_chat.rb
  plugins/chat/spec/system/user_chat_preferences_spec.rb
  plugins/chat/test/javascripts/unit/lib/chat-message-interactor-test.js
Labels: chat, i18n

#32031 FEATURE: fonts section for branding page
  app/assets/javascripts/admin/addon/components/admin-branding-font-chooser.gjs
  app/assets/javascripts/admin/addon/components/admin-branding-fonts-form.gjs
  app/assets/javascripts/admin/addon/components/admin-branding-logo-form.gjs
  app/assets/javascripts/admin/addon/controllers/admin-config-fonts-settings.js
  app/assets/javascripts/admin/addon/lib/constants.js
  app/assets/javascripts/admin/addon/mixins/setting-component.js
  app/assets/javascripts/admin/addon/models/site-setting.js
  app/assets/javascripts/admin/addon/routes/admin-config-branding.js
  app/assets/javascripts/admin/addon/routes/admin-config-fonts.js
  app/assets/javascripts/admin/addon/routes/admin-config-logo.js
  app/assets/javascripts/admin/addon/routes/admin-route-map.js
  app/assets/javascripts/admin/addon/services/site-setting-change-tracker.js
  app/assets/javascripts/admin/addon/templates/config-branding.gjs
  app/assets/javascripts/admin/addon/templates/config-fonts-settings.gjs
  app/assets/javascripts/admin/addon/templates/config-logo-settings.gjs
  app/assets/javascripts/admin/addon/templates/site-settings-category.gjs
  app/assets/javascripts/discourse/app/components/modal/update-default-text-size.gjs
  app/assets/javascripts/discourse/app/lib/constants.js
  app/assets/javascripts/discourse/app/lib/sidebar/admin-nav-map.js
  app/assets/stylesheets/admin/admin_config_area.scss
  app/controllers/admin/config/branding_controller.rb
  app/models/default_text_size_setting.rb
  app/models/user_option.rb
  config/locales/client.en.yml
  config/routes.rb
  config/site_settings.yml
  lib/tasks/javascript.rake
  spec/requests/admin/config/branding_controller_spec.rb
  spec/system/admin_branding_spec.rb
  spec/system/page_objects/components/admin-branding-fonts-form.rb
  spec/system/page_objects/pages/admin_branding.rb
Labels: i18n

#32190 DEV: Add Analytics and SEO admin config page
  app/assets/javascripts/admin/addon/controllers/admin-analytics-settings.js
  app/assets/javascripts/admin/addon/routes/admin-analytics.js
  app/assets/javascripts/admin/addon/routes/admin-route-map.js
  app/assets/javascripts/admin/addon/templates/analytics-settings.gjs
  app/assets/javascripts/discourse/app/lib/sidebar/admin-nav-map.js
  app/models/site_setting.rb
  config/locales/client.en.yml
  config/routes.rb
  config/site_settings.yml
Labels: i18n

#32195 DEV: Add User defaults admin config page
  app/assets/javascripts/admin/addon/controllers/admin-config-user-defaults-settings.js
  app/assets/javascripts/admin/addon/routes/admin-config-user-defaults-settings.js
  app/assets/javascripts/admin/addon/routes/admin-route-map.js
  app/assets/javascripts/admin/addon/templates/config-user-defaults-settings.gjs
  app/assets/javascripts/discourse/app/lib/sidebar/admin-nav-map.js
  app/models/site_setting.rb
  config/locales/client.en.yml
  config/routes.rb
  config/site_settings.yml
  lib/svg_sprite.rb
Labels: i18n

#32197 DEV: Add Interface and layout admin config page
  app/assets/javascripts/admin/addon/controllers/admin-config-interface-settings.js
  app/assets/javascripts/admin/addon/routes/admin-config-interface-settings.js
  app/assets/javascripts/admin/addon/routes/admin-route-map.js
  app/assets/javascripts/admin/addon/templates/config-interface-settings.gjs
  app/assets/javascripts/discourse/app/lib/sidebar/admin-nav-map.js
  app/models/site_setting.rb
  config/locales/client.en.yml
  config/routes.rb
  config/site_settings.yml
Labels: i18n

#32211 DEV: Extract e-mail logs into their own admin page
  app/assets/javascripts/admin/addon/controllers/admin-email-logs-bounced.js
  app/assets/javascripts/admin/addon/controllers/admin-email-logs-received.js
  app/assets/javascripts/admin/addon/controllers/admin-email-logs-rejected.js
  app/assets/javascripts/admin/addon/controllers/admin-email-logs-sent.js
  app/assets/javascripts/admin/addon/controllers/admin-email-logs-skipped.js
  app/assets/javascripts/admin/addon/models/email-log.js
  app/assets/javascripts/admin/addon/models/incoming-email.js
  app/assets/javascripts/admin/addon/routes/admin-email-logs-bounced.js
  app/assets/javascripts/admin/addon/routes/admin-email-logs-received.js
  app/assets/javascripts/admin/addon/routes/admin-email-logs-rejected.js
  app/assets/javascripts/admin/addon/routes/admin-email-logs-sent.js
  app/assets/javascripts/admin/addon/routes/admin-email-logs-skipped.js
  app/assets/javascripts/admin/addon/routes/admin-email-logs.js
  app/assets/javascripts/admin/addon/routes/admin-email-received.js
  app/assets/javascripts/admin/addon/routes/admin-email-sent.js
  app/assets/javascripts/admin/addon/routes/admin-email-skipped.js
  app/assets/javascripts/admin/addon/routes/admin-route-map.js
  app/assets/javascripts/admin/addon/templates/email-logs-bounced.gjs
  app/assets/javascripts/admin/addon/templates/email-logs-received.gjs
  app/assets/javascripts/admin/addon/templates/email-logs-rejected.gjs
  app/assets/javascripts/admin/addon/templates/email-logs-sent.gjs
  app/assets/javascripts/admin/addon/templates/email-logs-skipped.gjs
  app/assets/javascripts/admin/addon/templates/email-logs.gjs
  app/assets/javascripts/admin/addon/templates/email.gjs
  app/assets/javascripts/discourse/app/lib/sidebar/admin-nav-map.js
  app/controllers/admin/email_controller.rb
  app/controllers/admin/email_logs_controller.rb
  config/locales/client.en.yml
  config/routes.rb
  spec/requests/admin/email_controller_spec.rb
  spec/requests/admin/email_logs_controller_spec.rb
  spec/system/admin_sidebar_navigation_spec.rb
Labels: i18n

#32164 FEATURE: Introduce new components listing page
  app/assets/javascripts/admin/addon/components/admin-config-areas/components.gjs
  app/assets/javascripts/admin/addon/routes/admin-config-customize-components.js
  app/assets/javascripts/admin/addon/templates/config-customize-components.gjs
  app/assets/stylesheets/admin/admin_base.scss
  app/assets/stylesheets/admin/admin_config_components.scss
  app/assets/stylesheets/admin/admin_filter.scss
  app/controllers/admin/config/customize_controller.rb
  app/models/theme.rb
  app/serializers/component_index_serializer.rb
  config/locales/client.en.yml
  lib/svg_sprite.rb
  spec/requests/admin/config/customize_controller_spec.rb
  spec/serializers/component_index_serializer_spec.rb
  spec/system/admin_customize_components_config_area_spec.rb
  spec/system/admin_customize_config_area_spec.rb
  spec/system/admin_customize_themes_config_area_spec.rb
  spec/system/page_objects/components/d_menu.rb
  spec/system/page_objects/components/d_select.rb
  spec/system/page_objects/components/form_kit.rb
  spec/system/page_objects/pages/admin_customize_components_config_area.rb
  spec/system/page_objects/pages/admin_customize_themes_config_area.rb
Labels: i18n

#32200 Added button to remove password from account
  app/assets/javascripts/dialog-holder/addon/services/dialog.js
  app/assets/javascripts/discourse/app/components/user-preferences/user-passkeys.gjs
  app/assets/javascripts/discourse/app/controllers/preferences/security.js
  app/assets/javascripts/discourse/app/models/user.js
  app/assets/javascripts/discourse/app/templates/preferences/security.gjs
  app/assets/javascripts/discourse/tests/acceptance/user-preferences-security-test.js
  app/controllers/users_controller.rb
  app/models/user.rb
  app/models/user_security_key.rb
  app/serializers/user_serializer.rb
  config/locales/client.en.yml
  config/locales/server.en.yml
  config/routes.rb
  spec/requests/users_controller_spec.rb
  spec/system/user_page/user_preferences_security_spec.rb
Labels: i18n

#32246 DEV: ensures chat can work without discourse-presence
  plugins/chat/assets/javascripts/discourse/components/chat-composer.gjs
Labels: chat

#32235 DEV: Add Dashboard settings tab to Reports page
  app/assets/javascripts/admin/addon/controllers/admin-reports-dashboard-settings.js
  app/assets/javascripts/admin/addon/controllers/admin-reports.js
  app/assets/javascripts/admin/addon/routes/admin-reports-dashboard-settings.js
  app/assets/javascripts/admin/addon/routes/admin-route-map.js
  app/assets/javascripts/admin/addon/templates/reports-dashboard-settings.gjs
  app/assets/javascripts/admin/addon/templates/reports-index.gjs
  app/assets/javascripts/admin/addon/templates/reports.gjs
  app/assets/javascripts/discourse/app/lib/sidebar/admin-nav-map.js
  app/models/site_setting.rb
  config/locales/client.en.yml
  config/site_settings.yml
Labels: i18n

#32194 DEV: Add Content admin config page
  app/assets/javascripts/admin/addon/controllers/admin-config-content-categories-and-tags.js
  app/assets/javascripts/admin/addon/controllers/admin-config-content-posts-and-topics.js
  app/assets/javascripts/admin/addon/controllers/admin-config-content-sharing.js
  app/assets/javascripts/admin/addon/controllers/admin-config-content-stats-and-thresholds.js
  app/assets/javascripts/admin/addon/routes/admin-config-content-categories-and-tags.js
  app/assets/javascripts/admin/addon/routes/admin-config-content-posts-and-topics.js
  app/assets/javascripts/admin/addon/routes/admin-config-content-sharing.js
  app/assets/javascripts/admin/addon/routes/admin-config-content-stats-and-thresholds.js
  app/assets/javascripts/admin/addon/routes/admin-route-map.js
  app/assets/javascripts/admin/addon/templates/config-content-categories-and-tags.gjs
  app/assets/javascripts/admin/addon/templates/config-content-posts-and-topics.gjs
  app/assets/javascripts/admin/addon/templates/config-content-sharing.gjs
  app/assets/javascripts/admin/addon/templates/config-content-stats-and-thresholds.gjs
  app/assets/javascripts/admin/addon/templates/config-content.gjs
  app/assets/javascripts/discourse/app/lib/sidebar/admin-nav-map.js
  app/models/site_setting.rb
  config/locales/client.en.yml
  config/routes.rb
  config/site_settings.yml
  spec/system/admin_sidebar_navigation_spec.rb
Labels: i18n

#32229 FIX: Set last_read_post_number for imported watching topic users
  script/bulk_import/generic_bulk.rb
Labels: migrations-tooling

#31711 UX: header search mobile support
  app/assets/javascripts/discourse/app/components/header.gjs
  app/assets/javascripts/discourse/app/components/header/search-menu-wrapper.gjs
  app/assets/javascripts/discourse/app/components/menu-panel.gjs
  app/assets/javascripts/discourse/app/components/search-menu-panel.gjs
  app/assets/javascripts/discourse/app/components/search-menu.gjs
  app/assets/javascripts/discourse/app/components/search-menu/active-filters.gjs
  app/assets/javascripts/discourse/app/components/search-menu/advanced-button.gjs
  app/assets/javascripts/discourse/app/components/search-menu/clear-button.gjs
  app/assets/javascripts/discourse/app/components/search-menu/mobile-search-button.gjs
  app/assets/javascripts/discourse/app/components/search-menu/results.gjs
  app/assets/javascripts/discourse/app/components/search-menu/results/assistant-item.gjs
  app/assets/javascripts/discourse/app/components/search-menu/results/assistant.gjs
  app/assets/javascripts/discourse/app/components/search-menu/results/initial-options.gjs
  app/assets/javascripts/discourse/app/components/search-menu/results/more-link.gjs
  app/assets/javascripts/discourse/app/components/search-menu/results/random-quick-tip.gjs
  app/assets/javascripts/discourse/app/components/search-menu/results/recent-searches.gjs
  app/assets/javascripts/discourse/app/components/search-menu/results/types.gjs
  app/assets/javascripts/discourse/app/components/search-menu/search-term.gjs
  app/assets/javascripts/discourse/app/modifiers/delayed-destroy.js
  app/assets/javascripts/discourse/app/services/search.js
  app/assets/javascripts/discourse/tests/acceptance/search-mobile-test.js
  app/assets/javascripts/discourse/tests/acceptance/search-test.js
  app/assets/javascripts/discourse/tests/integration/components/search-menu-test.gjs
  app/assets/javascripts/discourse/tests/integration/modifiers/delayed-destroy-test.gjs
  app/assets/stylesheets/common/base/menu-panel.scss
  app/assets/stylesheets/common/base/search-menu.scss
  config/locales/client.en.yml
  spec/support/shared_examples/core_features.rb
  spec/system/page_objects/pages/search.rb
  spec/system/search_spec.rb
  spec/system/user_page/user_page_search_spec.rb
Labels: i18n

#32264 FIX: Rename branding to logo and fonts
  app/assets/javascripts/admin/addon/components/admin-config-areas/color-palette.gjs
  app/assets/javascripts/admin/addon/components/admin-font-chooser.gjs
  app/assets/javascripts/admin/addon/components/admin-fonts-form.gjs
  app/assets/javascripts/admin/addon/components/admin-logo-form.gjs
  app/assets/javascripts/admin/addon/routes/admin-config-branding.js
  app/assets/javascripts/admin/addon/routes/admin-config-logo-and-fonts.js
  app/assets/javascripts/admin/addon/routes/admin-route-map.js
  app/assets/javascripts/admin/addon/templates/config-logo-and-fonts.gjs
  app/assets/javascripts/discourse/app/components/modal/update-default-text-size.gjs
  app/assets/javascripts/discourse/app/lib/sidebar/admin-nav-map.js
  app/assets/stylesheets/admin/admin_config_color_palettes.scss
  app/controllers/admin/config/branding_controller.rb
  app/controllers/admin/config/fonts_controller.rb
  app/controllers/admin/config/logo_controller.rb
  config/locales/client.en.yml
  config/locales/server.en.yml
  config/routes.rb
  spec/requests/admin/config/fonts_controller_spec.rb
  spec/system/admin_branding_spec.rb
  spec/system/admin_logo_and_fonts_spec.rb
  spec/system/page_objects/components/admin_fonts_form.rb
  spec/system/page_objects/components/admin_logo_form.rb
  spec/system/page_objects/pages/admin_branding.rb
  spec/system/page_objects/pages/admin_logo_and_fonts.rb
Labels: i18n

#32278 UX: Add tooltip for markdown toggle shortcut
  app/assets/javascripts/discourse/app/components/composer/toggle-switch.gjs
  app/assets/javascripts/discourse/app/lib/utilities.js
  config/locales/client.en.yml
Labels: i18n

#32242 UX: Onebox & quote border radius
  app/assets/stylesheets/common/base/onebox.scss
  app/assets/stylesheets/desktop/topic-post.scss
  plugins/chat/assets/stylesheets/common/chat-transcript.scss
Labels: chat

#31719 FEATURE: add footnote (plugin) rich editor extension
  app/assets/javascripts/discourse/app/static/prosemirror/components/prosemirror-editor.gjs
  app/assets/javascripts/discourse/app/static/prosemirror/core/parser.js
  app/assets/javascripts/discourse/app/static/prosemirror/core/plugin.js
  app/assets/javascripts/discourse/app/static/prosemirror/core/serializer.js
  app/assets/javascripts/discourse/app/static/prosemirror/extensions/placeholder.js
  app/assets/stylesheets/common/rich-editor/rich-editor.scss
  plugins/discourse-local-dates/spec/system/rich_editor_extension_spec.rb
  plugins/footnote/assets/javascripts/initializers/composer.js
  plugins/footnote/assets/javascripts/lib/rich-editor-extension.js
  plugins/footnote/assets/stylesheets/footnotes.scss
  plugins/footnote/config/locales/client.en.yml
  plugins/footnote/spec/system/rich_editor_extension_spec.rb
  spec/system/composer/prosemirror_editor_spec.rb
  spec/system/page_objects/cdp.rb
Labels: i18n

#32281 UX: Remove Ctrl+F search shortcut
  app/assets/javascripts/discourse/app/lib/keyboard-shortcuts.js
  app/assets/javascripts/float-kit/addon/components/d-default-toast.gjs
  config/locales/client.en.yml
  spec/system/search_shortcut_variation_spec.rb
Labels: i18n

#32304 DEV: Wizard step tweaks
  app/assets/javascripts/discourse/app/static/wizard/components/wizard-step.gjs
  app/assets/javascripts/discourse/tests/acceptance/wizard-test.js
  app/assets/stylesheets/wizard.scss
  config/locales/server.en.yml
  lib/wizard/builder.rb
  spec/lib/wizard/step_updater_spec.rb
  spec/serializers/wizard_serializer_spec.rb
  spec/system/page_objects/pages/wizard.rb
  spec/system/wizard_spec.rb
Labels: i18n

#32240 DEV: DMultiSelect
  app/assets/javascripts/discourse/app/components/d-multi-select.gjs
  app/assets/javascripts/discourse/tests/integration/components/d-multi-select-test.gjs
  app/assets/javascripts/float-kit/addon/components/d-menu.gjs
  app/assets/stylesheets/common/components/_index.scss
  app/assets/stylesheets/common/components/d-multi-select.scss
  config/locales/client.en.yml
  plugins/styleguide/assets/javascripts/discourse/components/sections/molecules/multi-select.hbs
  plugins/styleguide/assets/javascripts/discourse/components/sections/molecules/multi-select.js
  plugins/styleguide/assets/javascripts/discourse/lib/styleguide.js
  plugins/styleguide/config/locales/client.en.yml
  plugins/styleguide/spec/system/smoke_test_spec.rb
Labels: i18n

#32284 UX: Use 'unused' instead of 'active' for components
  app/assets/javascripts/admin/addon/components/admin-config-areas/components.gjs
  app/controllers/admin/config/customize_controller.rb
  config/locales/client.en.yml
  spec/requests/admin/config/customize_controller_spec.rb
  spec/system/admin_customize_components_config_area_spec.rb
Labels: i18n

#32327 FEATURE: Release admin search for all sites
  app/assets/javascripts/admin/addon/routes/admin.js
  app/assets/javascripts/discourse/app/components/modal/keyboard-shortcuts-help.gjs
  app/assets/javascripts/discourse/app/components/sidebar/filter.gjs
  app/assets/javascripts/discourse/app/lib/keyboard-shortcuts.js
  app/assets/javascripts/discourse/app/lib/sidebar/admin-sidebar.js
  app/serializers/current_user_serializer.rb
  config/locales/client.en.yml
  config/locales/server.en.yml
  config/site_settings.yml
  db/migrate/20250416012407_remove_experimental_admin_search_enabled_groups_setting.rb
  spec/system/admin_search_spec.rb
  spec/system/admin_sidebar_navigation_spec.rb
Labels: i18n

#32338 DEV: Update verbiage around remove password modal, swap button for a link
  app/assets/javascripts/discourse/app/controllers/preferences/security.js
  app/assets/javascripts/discourse/app/templates/preferences/security.gjs
  app/assets/javascripts/discourse/tests/acceptance/user-preferences-security-test.js
  config/locales/client.en.yml
  spec/system/user_page/user_preferences_security_spec.rb
Labels: i18n

#32330 FIX: Remove hint for browser search shortcut
  app/assets/javascripts/discourse/app/components/search-menu/browser-search-tip.gjs
  app/assets/javascripts/discourse/app/components/search-menu/results.gjs
  config/locales/client.en.yml
Labels: i18n

#32344 FEATURE: allow edit custom flags
  app/assets/javascripts/admin/addon/components/admin-flag-item.gjs
  app/assets/javascripts/admin/addon/components/admin-flags-form.gjs
  app/services/flags/update_flag.rb
  config/locales/client.en.yml
  lib/guardian/flag_guardian.rb
  spec/lib/guardian/flag_guardian_spec.rb
  spec/services/flags/update_flag_spec.rb
  spec/system/admin_flags_spec.rb
Labels: i18n

#32345 FIX: Make the 'Keep Message Deleted' reviewable option work
  plugins/chat/app/models/chat/reviewable_message.rb
  plugins/chat/spec/models/chat/reviewable_chat_message_spec.rb
Labels: chat

#32108 FEATURE: Implement tag group selection in dropdown and multi-select for topic creation and preview when using Form Templates
  app/assets/javascripts/admin/addon/components/form-template/form.gjs
  app/assets/javascripts/admin/addon/lib/template-form-fields.js
  app/assets/javascripts/discourse/app/components/composer-editor.gjs
  app/assets/javascripts/discourse/app/components/d-editor.gjs
  app/assets/javascripts/discourse/app/components/form-template-field/tag-chooser.gjs
  app/assets/javascripts/discourse/app/components/form-template-field/upload.gjs
  app/assets/javascripts/discourse/app/components/form-template-field/wrapper.gjs
  app/assets/javascripts/discourse/app/lib/form-template-validation.js
  app/controllers/form_templates_controller.rb
  config/locales/client.en.yml
  lib/validators/form_template_yaml_validator.rb
  spec/fabricators/form_template_fabricator.rb
  spec/fabricators/tag_fabricator.rb
  spec/requests/form_templates_controller_spec.rb
  spec/system/composer/category_templates_spec.rb
  spec/system/composer/template_validation_spec.rb
  spec/system/page_objects/components/composer.rb
Labels: i18n

#32364 DEV: Try fix composer rich text transcript spec
  plugins/chat/spec/system/rich_editor_extension_transcript_spec.rb
  spec/system/page_objects/cdp.rb
Labels: chat

#32367 DEV: duplicate scroll-top util function to lib and replace current usage with new path
  app/assets/javascripts/admin/addon/routes/admin-customize-themes-show.js
  app/assets/javascripts/admin/addon/routes/admin-dashboard.js
  app/assets/javascripts/admin/addon/routes/admin-email-templates-edit.js
  app/assets/javascripts/discourse/app/components/header.gjs
  app/assets/javascripts/discourse/app/controllers/full-page-search.js
  app/assets/javascripts/discourse/app/lib/scroll-top.js
  plugins/chat/assets/javascripts/discourse/routes/chat.js
Labels: chat

#32392 DEV: Remove Other admin section
  app/assets/javascripts/admin/addon/controllers/admin-config-other-settings.js
  app/assets/javascripts/admin/addon/routes/admin-config-other.js
  app/assets/javascripts/admin/addon/templates/config-other-settings.gjs
  app/assets/javascripts/discourse/app/lib/sidebar/admin-nav-map.js
  config/locales/client.en.yml
  config/routes.rb
Labels: i18n

#32404 UX: Chat more message actions adjustments
  app/assets/stylesheets/common/select-kit/select-kit.scss
  plugins/chat/assets/javascripts/discourse/components/chat-message-actions-desktop.gjs
  plugins/chat/assets/stylesheets/common/chat-message-actions.scss
Labels: chat

#32424 UX: Border radius removal
  app/assets/stylesheets/common/base/topic-post.scss
  app/assets/stylesheets/common/foundation/mixins.scss
  plugins/chat/assets/stylesheets/common/chat-transcript.scss
Labels: chat

#32437 FIX: correctly reset panel when resizing window
  plugins/chat/assets/javascripts/discourse/modifiers/chat/resizable-node.js
Labels: chat

#32423 UX: Do not let composer affect chat window height
  app/assets/javascripts/discourse/app/components/composer-body.js
  app/assets/stylesheets/common/base/compose.scss
  plugins/chat/assets/stylesheets/common/chat-height-mixin.scss
Labels: chat

#32455 UX: Unhide the rich_editor site setting
  config/locales/server.en.yml
  config/site_settings.yml
Labels: i18n

#32473 DEV: Convert final hbs to gjs and enable require-strict-mode lint
  .template-lintrc.cjs
  plugins/chat/assets/javascripts/discourse/connectors/below-footer/chat-drawer-outlet.gjs
  plugins/chat/assets/javascripts/discourse/connectors/below-footer/chat-drawer-outlet.hbs
  plugins/chat/assets/javascripts/discourse/connectors/below-footer/chat-message-actions-desktop-outlet.gjs
  plugins/chat/assets/javascripts/discourse/connectors/below-footer/chat-message-actions-desktop-outlet.hbs
  plugins/chat/assets/javascripts/discourse/connectors/chat-composer-inline-buttons/emoji-picker.gjs
  plugins/chat/assets/javascripts/discourse/connectors/chat-composer-inline-buttons/emoji-picker.hbs
  plugins/chat/assets/javascripts/discourse/connectors/home-logo-wrapper/chat-header-connector.gjs
  plugins/chat/assets/javascripts/discourse/connectors/home-logo-wrapper/chat-header-connector.hbs
  plugins/chat/assets/javascripts/discourse/connectors/user-card-below-message-button/chat-button.gjs
  plugins/chat/assets/javascripts/discourse/connectors/user-card-below-message-button/chat-button.hbs
  plugins/chat/assets/javascripts/discourse/connectors/user-profile-controls/chat-button.gjs
  plugins/chat/assets/javascripts/discourse/connectors/user-profile-controls/chat-button.hbs
  plugins/styleguide/assets/javascripts/discourse/components/sections/molecules/multi-select.gjs
  plugins/styleguide/assets/javascripts/discourse/components/sections/molecules/multi-select.hbs
  plugins/styleguide/assets/javascripts/discourse/components/sections/molecules/multi-select.js
Labels: chat

#32485 FIX: remove sidebar filter
  app/assets/javascripts/admin/addon/components/admin-search.gjs
  app/assets/javascripts/discourse/app/components/sidebar/filter-no-results.gjs
  app/assets/javascripts/discourse/app/components/sidebar/filter.gjs
  app/assets/javascripts/discourse/app/components/sidebar/panel-header.gjs
  app/assets/javascripts/discourse/app/lib/keyboard-shortcuts.js
  app/assets/javascripts/discourse/app/lib/sidebar/admin-nav-map.js
  app/assets/javascripts/discourse/app/lib/sidebar/admin-sidebar.js
  app/assets/javascripts/discourse/app/lib/sidebar/base-custom-sidebar-panel.js
  app/assets/javascripts/discourse/tests/acceptance/admin-sidebar-section-test.js
  app/assets/stylesheets/common/base/menu-panel.scss
  app/assets/stylesheets/common/base/sidebar.scss
  config/locales/client.en.yml
  spec/system/admin_search_spec.rb
  spec/system/admin_sidebar_navigation_spec.rb
  spec/system/page_objects/components/filter.rb
  spec/system/page_objects/components/navigation_menu/sidebar.rb
Labels: i18n

#32490 Revert "DEV: Remove the word tags from adobe_analytics_tags_url"
  app/helpers/common_helper.rb
  config/locales/server.en.yml
  config/site_settings.yml
Labels: i18n

#32502 Security fixes for stable
  plugins/chat/app/services/chat/add_users_to_channel.rb
  plugins/chat/spec/services/chat/add_users_to_channel_spec.rb
Labels: chat

#32501 Security fixes for main
  plugins/chat/app/services/chat/add_users_to_channel.rb
  plugins/chat/spec/services/chat/add_users_to_channel_spec.rb
Labels: chat

#32189 DEV: Remove full_page_login setting
  app/assets/javascripts/discourse/app/components/modal/create-account.gjs
  app/assets/javascripts/discourse/app/components/modal/login.gjs
  app/assets/javascripts/discourse/app/controllers/login.js
  app/assets/javascripts/discourse/app/instance-initializers/auth-complete.js
  app/assets/javascripts/discourse/app/routes/application.js
  app/assets/javascripts/discourse/app/routes/login.js
  app/assets/javascripts/discourse/app/routes/signup.js
  app/assets/javascripts/discourse/app/templates/login.gjs
  app/assets/javascripts/discourse/tests/acceptance/login-redirect-test.js
  app/assets/javascripts/discourse/tests/acceptance/login-required-test.js
  app/assets/javascripts/discourse/tests/acceptance/modal/login/login-test.js
  app/assets/javascripts/discourse/tests/acceptance/modal/login/login-with-email-and-2fa-test.js
  app/assets/javascripts/discourse/tests/acceptance/modal/login/login-with-email-and-hide-email-address-taken-test.js
  app/assets/javascripts/discourse/tests/acceptance/modal/login/login-with-email-and-no-social-logins-test.js
  app/assets/javascripts/discourse/tests/acceptance/modal/login/login-with-email-disabled-test.js
  app/assets/javascripts/discourse/tests/acceptance/modal/login/login-with-email-test.js
  app/assets/javascripts/discourse/tests/acceptance/static-test.js
  app/assets/javascripts/discourse/tests/unit/components/create-account-test.js
  app/assets/stylesheets/common/modal/_index.scss
  app/assets/stylesheets/common/modal/login-modal.scss
  app/assets/stylesheets/mobile/_index.scss
  app/assets/stylesheets/mobile/login-modal.scss
  app/models/problem_check.rb
  app/services/problem_check/full_page_login_check.rb
  config/locales/server.en.yml
  config/site_settings.yml
  db/migrate/20250407040934_remove_full_page_login_problem_check_trackers.rb
  db/migrate/20250407042814_delete_full_page_login_setting.rb
  spec/services/problem_check/full_page_login_check_spec.rb
  spec/support/shared_examples/core_features.rb
  spec/system/email_change_spec.rb
  spec/system/login_spec.rb
  spec/system/page_objects/modals/login.rb
  spec/system/page_objects/modals/signup.rb
  spec/system/signup_spec.rb
  spec/system/social_authentication_spec.rb
Labels: ⚠ DO NOT MERGE, i18n

#32256 DEV: Enable migrated_site flag during bulk imports
  script/bulk_import/generic_bulk.rb
Labels: migrations-tooling

#32525 DEV: Fix broken migration tests
  migrations/config/intermediate_db.yml
Labels: migrations-tooling

#32250 UX: Fix post stream setting description mentions post menu
  config/locales/server.en.yml
Labels: i18n
