Repository discourse/discourse, pull requests merged in 2025-03, with the labels that each got.

#31440 FEATURE: Allow admins to access group chats
  plugins/chat/app/models/chat/direct_message.rb
  plugins/chat/spec/models/chat/direct_message_spec.rb
Labels: chat

#31441 FEATURE: Experimental admin search refinements round 1
  app/assets/javascripts/admin/addon/components/admin-search.gjs
  app/assets/javascripts/admin/addon/controllers/admin-search-index.js
  app/assets/javascripts/admin/addon/routes/admin-route-map.js
  app/assets/javascripts/admin/addon/routes/admin-search-index.js
  app/assets/javascripts/admin/addon/routes/admin.js
  app/assets/javascripts/admin/addon/services/admin-search-data-source.js
  app/assets/javascripts/admin/addon/templates/search-index.hbs
  app/assets/javascripts/discourse/app/components/modal/keyboard-shortcuts-help.gjs
  app/assets/javascripts/discourse/app/components/sidebar/filter.gjs
  app/assets/javascripts/discourse/app/lib/constants.js
  app/assets/javascripts/discourse/app/lib/keyboard-shortcuts.js
  app/assets/javascripts/discourse/app/lib/plugin-api.gjs
  app/assets/javascripts/discourse/app/lib/sidebar/admin-nav-map.js
  app/assets/javascripts/discourse/app/lib/sidebar/admin-sidebar.js
  app/assets/stylesheets/admin/admin_config_area.scss
  app/assets/stylesheets/admin/search.scss
  app/controllers/admin/search_controller.rb
  config/locales/client.en.yml
  config/routes.rb
  docs/CHANGELOG-JAVASCRIPT-PLUGIN-API.md
  lib/tasks/javascript.rake
  spec/system/admin_search_spec.rb
  spec/system/admin_sidebar_navigation_spec.rb
  spec/system/page_objects/modals/admin_search.rb
Labels: i18n

#31574 UX: Add recommended image size for category logos
  app/assets/javascripts/discourse/app/components/edit-category-images.hbs
  config/locales/client.en.yml
Labels: i18n

#31561 UX: Simplify admin theme editor
  app/assets/javascripts/admin/addon/components/admin-theme-editor.hbs
  app/assets/javascripts/admin/addon/components/admin-theme-editor.js
  app/assets/javascripts/admin/addon/controllers/admin-customize-themes-edit.js
  app/assets/javascripts/admin/addon/templates/customize-themes-edit.hbs
  app/assets/stylesheets/admin/customize.scss
  config/locales/client.en.yml
Labels: i18n

#31554 FEATURE: rebranded admin logos settings
  app/assets/javascripts/admin/addon/components/admin-branding-logo-form.gjs
  app/assets/javascripts/admin/addon/components/admin-config-area-card-section.gjs
  app/assets/javascripts/admin/addon/routes/admin-route-map.js
  app/assets/javascripts/admin/addon/templates/config-branding.gjs
  app/assets/javascripts/admin/addon/templates/config-logo-settings.gjs
  app/assets/javascripts/discourse/app/form-kit/components/fk/control/image.gjs
  app/assets/javascripts/discourse/app/form-kit/components/fk/field.gjs
  app/assets/javascripts/discourse/tests/integration/components/admin-config-area-card-section-test.gjs
  app/assets/stylesheets/admin/admin_config_area.scss
  app/controllers/admin/config/branding_controller.rb
  config/locales/client.en.yml
  config/locales/server.en.yml
  config/routes.rb
  config/site_settings.yml
  db/migrate/20250217003916_x_summary_large_image_based_on_deprecated_setting.rb
  lib/site_settings/deprecated_settings.rb
  lib/site_settings/validations.rb
  spec/lib/site_settings/validations_spec.rb
  spec/system/admin_branding_spec.rb
  spec/system/page_objects/components/admin_branding_logo_form.rb
  spec/system/page_objects/pages/admin_branding.rb
Labels: i18n

#31435 FEATURE: Display the Watched Words that a post to be flagged.
  app/assets/javascripts/discourse/app/components/reviewable-scores.hbs
  app/jobs/regular/process_post.rb
  app/models/reviewable.rb
  app/models/reviewable_score.rb
  app/serializers/reviewable_score_serializer.rb
  config/locales/server.en.yml
  db/migrate/20250220045740_add_context_to_reviewable_scores.rb
  lib/post_action_creator.rb
  spec/integration/watched_words_spec.rb
  spec/serializers/reviewable_score_serializer_spec.rb
Labels: i18n

#31576 DEV: Add rake task to bulk delete posts
  app/services/destroy_task.rb
  config/locales/server.en.yml
  lib/tasks/destroy.rake
  spec/lib/tasks/destroy_rake_spec.rb
  spec/services/destroy_task_spec.rb
  spec/support/rake_context.rb
Labels: i18n

#31607 Revert "DEV: Add rake task to bulk delete posts"
  app/services/destroy_task.rb
  config/locales/server.en.yml
  lib/tasks/destroy.rake
  spec/lib/tasks/destroy_rake_spec.rb
  spec/services/destroy_task_spec.rb
  spec/support/rake_context.rb
Labels: i18n

#31581 UX: Remove fa- prefix in svg_icon_subset setting description
  config/locales/server.en.yml
Labels: i18n

#31671 UX: removes per channel context of favorites emojis
  plugins/chat/assets/javascripts/discourse/components/chat-composer.js
  plugins/chat/assets/javascripts/discourse/lib/chat-message-interactor.js
Labels: chat

#31697 FIX: dont allow channel non-members to write messages in threads
  plugins/chat/assets/javascripts/discourse/components/chat-thread.gjs
  plugins/chat/assets/stylesheets/common/chat-channel-preview-card.scss
  plugins/chat/spec/system/message_errors_spec.rb
  plugins/chat/spec/system/visit_channel_spec.rb
Labels: chat

#31694 FEATURE: improve post_created_edited automation triggers
  plugins/automation/config/locales/client.en.yml
  plugins/automation/db/post_migrate/20250307031538_migrate_category_to_categories_post_created.rb
  plugins/automation/lib/discourse_automation/event_handlers.rb
  plugins/automation/lib/discourse_automation/triggers/post_created_edited.rb
  plugins/automation/spec/triggers/post_created_edited_spec.rb
Labels: i18n

#31693 FIX: remove admin_sidebar_enabled_groups setting
  app/assets/javascripts/admin/addon/controllers/admin.js
  app/assets/javascripts/admin/addon/routes/admin.js
  app/assets/javascripts/admin/addon/services/admin-plugin-nav-manager.js
  app/assets/javascripts/admin/addon/services/admin-sidebar-state-manager.js
  app/assets/javascripts/admin/addon/templates/admin.hbs
  app/assets/javascripts/admin/addon/templates/customize.hbs
  app/assets/javascripts/discourse/app/controllers/application.js
  app/assets/javascripts/discourse/app/lib/sidebar/admin-sidebar.js
  app/assets/javascripts/discourse/app/services/sidebar-state.js
  app/assets/javascripts/discourse/tests/acceptance/admin-sidebar-section-test.js
  app/assets/javascripts/discourse/tests/acceptance/admin-site-settings-test.js
  app/models/problem_check.rb
  app/serializers/current_user_serializer.rb
  app/services/problem_check/admin_sidebar_deprecation.rb
  config/locales/server.en.yml
  config/site_settings.yml
  db/migrate/20250307034117_remove_old_admin_sidebar_enabled_groups_site_settings.rb
  docs/CHANGELOG-JAVASCRIPT-PLUGIN-API.md
  plugins/chat/spec/system/admin_sidebar_navigation_spec.rb
  plugins/footnote/spec/system/admin_sidebar_navigation_spec.rb
  spec/services/problem_check/admin_sidebar_deprecation_spec.rb
  spec/system/admin_dashboard_new_features_spec.rb
  spec/system/admin_sidebar_navigation_spec.rb
  spec/system/navigation_menu_state_integration_spec.rb
Labels: chat, i18n

#31605 UX: Show scope mode in API key list
  app/assets/javascripts/admin/addon/components/admin-config-areas/api-keys-list.hbs
  app/assets/javascripts/admin/addon/components/api-key-item.gjs
  app/assets/javascripts/discourse/tests/integration/components/admin-api-key-item-test.gjs
  app/serializers/api_key_serializer.rb
  app/serializers/basic_api_key_serializer.rb
  config/locales/client.en.yml
Labels: i18n

#31668 UX: Improve image upload component
  app/assets/javascripts/discourse/app/components/uppy-image-uploader.gjs
  app/assets/javascripts/discourse/tests/integration/components/uppy-image-uploader-test.gjs
  app/assets/stylesheets/common/base/upload.scss
  config/locales/client.en.yml
Labels: i18n

#31749 DEV: attempts to fix flakey drawer spec
  plugins/chat/spec/system/list_channels/drawer_spec.rb
Labels: chat

#31726 FIX: Notification email CTA by system user
  config/locales/server.en.yml
  lib/email/message_builder.rb
  spec/lib/email/message_builder_spec.rb
Labels: i18n

#31742 FEATURE: Introduce new color palettes config area
  app/assets/javascripts/admin/addon/components/admin-config-areas/color-palette.gjs
  app/assets/javascripts/admin/addon/components/color-palette-editor.gjs
  app/assets/javascripts/admin/addon/models/color-scheme-color.js
  app/assets/javascripts/admin/addon/models/color-scheme.js
  app/assets/javascripts/admin/addon/routes/admin-config-color-palettes-show.js
  app/assets/javascripts/admin/addon/routes/admin-route-map.js
  app/assets/javascripts/admin/addon/templates/config-color-palettes-show.hbs
  app/assets/javascripts/discourse/tests/integration/components/color-palette-editor-test.gjs
  app/assets/stylesheets/admin/admin_base.scss
  app/assets/stylesheets/admin/admin_config_color_palettes.scss
  app/controllers/admin/color_schemes_controller.rb
  app/controllers/admin/config/color_palettes_controller.rb
  app/serializers/color_scheme_color_serializer.rb
  app/services/color_scheme_revisor.rb
  config/locales/client.en.yml
  config/routes.rb
  config/site_settings.yml
  spec/system/admin_color_palettes_config_area_spec.rb
  spec/system/page_objects/components/color_palette_editor.rb
  spec/system/page_objects/components/form_kit.rb
  spec/system/page_objects/pages/admin_color_palettes_config_area.rb
Labels: i18n

#31773 DEV: removes code block enter edge case
  plugins/chat/assets/javascripts/discourse/components/chat-composer.js
Labels: chat

#31784 UX: add title and aria-label to md/rich editor toggle
  app/assets/javascripts/discourse/app/components/composer/toggle-switch.gjs
  config/locales/client.en.yml
Labels: i18n

#31794 FIX: ensures chat context is given to emoji picker
  plugins/chat/assets/javascripts/discourse/connectors/chat-composer-inline-buttons/emoji-picker.hbs
Labels: chat

#31813 FIX: Incorrect chat DM group user count
  plugins/chat/app/serializers/chat/chatable_group_serializer.rb
  plugins/chat/spec/serializer/chat/chatable_group_serializer_spec.rb
Labels: chat

#31828 FIX: remove abandon draft dialog
  app/assets/javascripts/discourse/app/controllers/composer.js
  app/assets/javascripts/discourse/app/services/composer.js
  app/assets/javascripts/discourse/tests/acceptance/composer-actions-test.js
  app/assets/javascripts/discourse/tests/acceptance/composer-form-template-test.js
  app/assets/javascripts/discourse/tests/acceptance/composer-test.js
  app/assets/javascripts/select-kit/addon/components/composer-actions.js
  config/locales/client.en.yml
Labels: i18n

#31516 FEATURE: Add welcome banner to core
  app/assets/javascripts/discourse/app/components/header/header-search.gjs
  app/assets/javascripts/discourse/app/components/search-menu-panel.gjs
  app/assets/javascripts/discourse/app/components/search-menu.gjs
  app/assets/javascripts/discourse/app/components/welcome-banner.gjs
  app/assets/javascripts/discourse/app/templates/application.gjs
  app/assets/javascripts/discourse/tests/acceptance/search-test.js
  app/assets/javascripts/discourse/tests/integration/components/search-menu-test.gjs
  app/assets/stylesheets/common/components/_index.scss
  app/assets/stylesheets/common/components/welcome-banner.scss
  app/assets/stylesheets/desktop/components/header-search.scss
  app/assets/stylesheets/mobile/components/_index.scss
  app/assets/stylesheets/mobile/components/welcome-banner.scss
  config/locales/client.en.yml
  config/locales/server.en.yml
  config/site_settings.yml
  db/migrate/20250311073009_enable_welcome_banner_new_sites.rb
  spec/system/page_objects/components/welcome_banner.rb
  spec/system/page_objects/pages/search.rb
  spec/system/search_spec.rb
  spec/system/welcome_banner_spec.rb
Labels: i18n

#31849 DEV: Skip flaky test
  plugins/chat/spec/system/chat_composer_draft_spec.rb
Labels: chat

#31762 FIX: uploader lightbox preview for new images
  app/assets/javascripts/discourse/app/components/uppy-image-uploader.gjs
  spec/system/admin_about_config_area_spec.rb
  spec/system/page_objects/components/uppy_image_uploader.rb
Labels: staff-experience

#31786 FEATURE: Display a toast popup after completing a review action.
  app/assets/javascripts/discourse/app/components/reviewable-item.js
  app/models/reviewable_flagged_post.rb
  app/models/reviewable_post.rb
  app/models/reviewable_queued_post.rb
  app/serializers/reviewable_action_serializer.rb
  config/locales/server.en.yml
  lib/reviewable/actions.rb
  spec/system/reviewables_spec.rb
Labels: i18n

#31830 DEV: Grant all anniversary badges during imports
  script/bulk_import/generic_bulk.rb
Labels: migrations-tooling

#31854 FIX: Amend broken group automatic member dialog
  app/assets/javascripts/discourse/app/components/group-manage-save-button.gjs
  app/assets/javascripts/discourse/app/controllers/groups-new.js
  app/assets/javascripts/discourse/app/lib/constants.js
  app/assets/javascripts/discourse/app/services/group-automatic-members-dialog.js
  app/assets/javascripts/discourse/tests/acceptance/group-manage-email-settings-test.js
  app/controllers/admin/groups_controller.rb
  config/locales/client.en.yml
  config/locales/server.en.yml
  lib/tasks/javascript.rake
  spec/requests/admin/groups_controller_spec.rb
  spec/system/groups/group_spec.rb
  spec/system/page_objects/pages/group_form.rb
  spec/system/page_objects/pages/group_index.rb
Labels: i18n

#31877 DEV: Pluralize email domain count string
  config/locales/server.en.yml
Labels: i18n

#31811 FEATURE: Allow typing/pasting colors in palette editor
  app/assets/javascripts/admin/addon/components/color-palette-editor.gjs
  app/assets/javascripts/discourse/tests/integration/components/color-palette-editor-test.gjs
  app/assets/stylesheets/admin/color-palette-editor.scss
  config/locales/client.en.yml
Labels: i18n

#31897 UX: Themes & components I18n adjustments
  app/assets/javascripts/admin/addon/templates/config-customize.hbs
  app/assets/javascripts/discourse/app/lib/sidebar/admin-nav-map.js
  config/locales/client.en.yml
Labels: i18n

#31899 DEV: Remove flaky system test
  plugins/chat/spec/system/kick_user_from_channel_spec.rb
Labels: chat

#31873 DEV: Make group auto e-mail domain limit configurable
  app/models/group.rb
  config/locales/server.en.yml
  config/site_settings.yml
  spec/models/group_spec.rb
Labels: i18n

#31900 FEATURE: enhance post created edited trigger in automation
  plugins/automation/admin/assets/javascripts/admin/components/fields/da-choices-field.gjs
  plugins/automation/app/models/discourse_automation/field.rb
  plugins/automation/config/locales/client.en.yml
  plugins/automation/db/post_migrate/20250319052218_rename_post_automation_fields.rb
  plugins/automation/lib/discourse_automation/event_handlers.rb
  plugins/automation/lib/discourse_automation/triggers/post_created_edited.rb
  plugins/automation/spec/models/field_spec.rb
  plugins/automation/spec/triggers/post_created_edited_spec.rb
Labels: i18n

#31928 FEATURE: Introduce warning banner for Safari 15 deprecation
  app/assets/javascripts/discourse/app/instance-initializers/safari-15-deprecation.js
  config/locales/client.en.yml
Labels: i18n

#31921 FEATURE: Add automation statistics tracking to Automation
  plugins/automation/admin/assets/javascripts/admin/components/automation-list.gjs
  plugins/automation/admin/assets/javascripts/admin/helpers/format-enabled-automation.js
  plugins/automation/admin/assets/javascripts/discourse/templates/admin-plugins/show/automation/index.hbs
  plugins/automation/app/controllers/discourse_automation/admin_automations_controller.rb
  plugins/automation/app/models/discourse_automation/automation.rb
  plugins/automation/app/models/discourse_automation/field.rb
  plugins/automation/app/models/discourse_automation/pending_automation.rb
  plugins/automation/app/models/discourse_automation/pending_pm.rb
  plugins/automation/app/models/discourse_automation/stat.rb
  plugins/automation/app/models/discourse_automation/user_global_notice.rb
  plugins/automation/app/serializers/discourse_automation/automation_serializer.rb
  plugins/automation/assets/stylesheets/common/discourse-automation.scss
  plugins/automation/config/locales/client.en.yml
  plugins/automation/db/migrate/20250319232839_add_automation_stats.rb
  plugins/automation/spec/models/stat_spec.rb
  plugins/automation/spec/requests/admin_discourse_automation_automations_spec.rb
Labels: i18n

#31832 UX: Improve naming for anonymous mode settings
  app/assets/javascripts/discourse/tests/acceptance/enforce-second-factor-test.js
  app/assets/javascripts/discourse/tests/acceptance/user-menu-test.js
  app/models/user.rb
  app/serializers/current_user_serializer.rb
  app/serializers/post_serializer.rb
  app/services/anonymous_shadow_creator.rb
  config/locales/server.en.yml
  config/site_settings.yml
  db/migrate/20250314102616_rename_allow_anonymous_posting_to_allow_anonymous_mode.rb
  db/migrate/20250314110738_rename_allow_anonymous_likes_to_allow_likes_in_anonymous_mode.rb
  lib/guardian/post_guardian.rb
  lib/site_settings/validations.rb
  plugins/discourse-narrative-bot/spec/user_spec.rb
  spec/jobs/user_email_spec.rb
  spec/lib/guardian/post_guardian_spec.rb
  spec/lib/guardian_spec.rb
  spec/lib/post_creator_spec.rb
  spec/lib/site_settings/validations_spec.rb
  spec/models/directory_item_spec.rb
  spec/requests/application_controller_spec.rb
  spec/requests/users_controller_spec.rb
  spec/serializers/post_serializer_spec.rb
  spec/services/anonymous_shadow_creator_spec.rb
Labels: i18n

#31948 FEATURE: allow adding members to new 1-1 DM channels
  plugins/chat/app/services/chat/add_users_to_channel.rb
  plugins/chat/assets/javascripts/discourse/components/chat/routes/channel-info-members.gjs
  plugins/chat/spec/requests/chat/api/channels_memberships_controller_spec.rb
  plugins/chat/spec/services/chat/add_users_to_channel_spec.rb
  plugins/chat/spec/system/channel_members_page_spec.rb
  plugins/chat/spec/system/page_objects/chat/chat.rb
Labels: chat

#31842 FEATURE: Add setting to prevent anonymous users from using chat
  plugins/chat/app/validators/chat/allow_chat_in_anonymous_mode_validator.rb
  plugins/chat/config/locales/server.en.yml
  plugins/chat/config/settings.yml
  plugins/chat/lib/chat/guardian_extensions.rb
  plugins/chat/spec/lib/chat/guardian_extensions_spec.rb
  plugins/chat/spec/validators/allow_chat_in_anonymous_mode_validator_spec.rb
Labels: chat, i18n

#31901 FEATURE: Sync Reviewable Status
  app/assets/javascripts/admin/addon/components/modal/penalize-user.js
  app/assets/javascripts/admin/addon/services/admin-tools.js
  app/assets/javascripts/discourse/app/components/reviewable-item.hbs
  app/assets/javascripts/discourse/app/components/reviewable-item.js
  app/assets/javascripts/discourse/app/routes/review-index.js
  app/assets/javascripts/discourse/app/services/store.js
  app/assets/javascripts/discourse/tests/unit/routes/review-index-test.js
  app/controllers/reviewable_claimed_topics_controller.rb
  app/controllers/reviewables_controller.rb
  app/models/reviewable.rb
  app/models/reviewable_claimed_topic.rb
  app/models/reviewable_flagged_post.rb
  app/serializers/reviewable_claimed_topic_serializer.rb
  app/serializers/reviewable_serializer.rb
  app/serializers/reviewable_topic_serializer.rb
  config/locales/client.en.yml
  db/migrate/20250319024514_add_automatic_to_reviewable_claimed_topic.rb
  lib/guardian/user_guardian.rb
  spec/lib/guardian/user_guardian_spec.rb
  spec/models/reviewable_claimed_topic_spec.rb
  spec/models/reviewable_spec.rb
  spec/requests/reviewable_claimed_topics_controller_spec.rb
  spec/requests/reviewables_controller_spec.rb
  spec/serializers/reviewable_claimed_topic_serializer_spec.rb
Labels: i18n

#31947 FEATURE: send email to deleted user
  app/controllers/admin/email_templates_controller.rb
  app/mailers/user_notifications.rb
  app/models/reviewable_flagged_post.rb
  config/locales/server.en.yml
  spec/models/reviewable_flagged_post_spec.rb
Labels: i18n

#32009 Security fixes for stable
  plugins/chat/app/queries/chat/users_from_usernames_and_groups_query.rb
  plugins/chat/app/services/chat/add_users_to_channel.rb
  plugins/chat/spec/services/chat/add_users_to_channel_spec.rb
Labels: chat

#31951 UX: reposition chat header icon
  plugins/chat/assets/javascripts/discourse/initializers/chat-setup.js
Labels: chat

#31993 DEV: Move setting deprecation check to SiteSetting::Update service
  app/controllers/admin/config/about_controller.rb
  app/controllers/admin/site_settings_controller.rb
  app/services/site_setting/policy/settings_are_not_deprecated.rb
  app/services/site_setting/update.rb
  config/locales/server.en.yml
  spec/requests/admin/site_settings_controller_spec.rb
  spec/services/site_setting/update_spec.rb
Labels: i18n

#32016 FIX: update chat icon position on mobile
  plugins/chat/assets/javascripts/discourse/initializers/chat-setup.js
Labels: chat

#32053 DEV: Attempt to fix flaky search system test
  plugins/chat/spec/system/chat_channel_spec.rb
  plugins/chat/spec/system/page_objects/chat_drawer/chat_drawer.rb
  spec/support/system_helpers.rb
  spec/system/page_objects/components/logo.rb
  spec/system/search_spec.rb
Labels: chat

#32055 DEV: Fix a flaky chat system test
  plugins/chat/spec/system/chat_new_message_spec.rb
Labels: chat

#31819 FEATURE: Implement chat transcripts in rich editor
  app/assets/javascripts/discourse/app/lib/text.js
  app/assets/javascripts/discourse/app/static/prosemirror/lib/plugin-utils.js
  plugins/chat/assets/javascripts/discourse/initializers/chat-setup.js
  plugins/chat/assets/javascripts/lib/discourse-markdown/chat-transcript.js
  plugins/chat/assets/javascripts/lib/rich-editor-extension.js
  plugins/chat/assets/stylesheets/common/chat-transcript.scss
  plugins/chat/spec/integration/post_chat_transcript_spec.rb
  plugins/chat/spec/models/chat/message_spec.rb
  plugins/chat/spec/requests/chat_controller_spec.rb
  plugins/chat/spec/system/rich_editor_extension_transcript_spec.rb
  plugins/chat/test/javascripts/components/rich-editor-extension-test.gjs
  spec/system/page_objects/cdp.rb
Labels: chat

#32015 FEATURE: auto contrast text color for categories
  app/assets/javascripts/discourse/app/components/d-styles.gjs
  app/assets/javascripts/discourse/app/components/edit-category-general.gjs
  app/assets/javascripts/discourse/app/controllers/edit-category-tabs.js
  app/assets/javascripts/discourse/app/helpers/category-variables.js
  app/assets/javascripts/discourse/app/lib/transformer/registry.js
  app/assets/javascripts/discourse/app/models/category.js
  app/assets/javascripts/discourse/tests/acceptance/category-edit-test.js
  app/assets/javascripts/discourse/tests/acceptance/category-new-test.js
  app/assets/javascripts/discourse/tests/acceptance/transformers/text-color-test.js
  config/locales/client.en.yml
Labels: i18n

#32065 DEV: Fix FA icon deprecation 'smile' -> 'face-smile'
  plugins/chat/assets/javascripts/discourse/initializers/chat-setup.js
Labels: chat

#31959 DEV: skip watch word when message is created by bots
  plugins/chat/app/models/chat/message.rb
  plugins/chat/spec/models/chat/message_spec.rb
  plugins/chat/spec/requests/chat/incoming_webhooks_controller_spec.rb
Labels: chat
