Repository discourse/discourse, pull requests merged in 2025-07, with the labels that each got.

#33401 FIX: Show tip for required selectable field on signup when not selected
  app/assets/javascripts/discourse/app/components/user-fields/dropdown.gjs
  app/assets/javascripts/discourse/app/components/user-fields/multiselect.gjs
  app/assets/javascripts/discourse/app/lib/user-fields-validation-helper.js
  config/locales/client.en.yml
  spec/fabricators/user_field_fabricator.rb
  spec/system/signup_spec.rb
Labels: i18n

#33406 UI: improvement for the admin system theme
  app/assets/javascripts/admin/addon/templates/customize-themes-show-index.gjs
  config/locales/client.en.yml
  spec/system/admin_customize_themes_spec.rb
  themes/horizon/javascripts/discourse/components/card/topic-activity-column.gjs
  themes/horizon/javascripts/discourse/components/card/topic-status-column.gjs
  themes/horizon/locales/en.yml
Labels: i18n

#33358 UX: remove messages section from sidebar
  app/assets/javascripts/discourse/app/components/sidebar/user/messages-section.gjs
  app/assets/javascripts/discourse/app/components/sidebar/user/sections.gjs
  app/assets/javascripts/discourse/app/lib/sidebar/user/messages-section/group-message-section-link.js
  app/assets/javascripts/discourse/app/lib/sidebar/user/messages-section/message-section-link.js
  app/assets/javascripts/discourse/app/lib/sidebar/user/messages-section/personal-message-section-link.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-user-messages-section-test.js
  app/models/sidebar_url.rb
  config/locales/client.en.yml
  db/migrate/20250626090725_add_my_messages_link_to_sidebar.rb
  spec/models/category_spec.rb
  spec/models/sidebar_section_spec.rb
  spec/models/tag_spec.rb
  spec/requests/admin/config/site_settings_controller_spec.rb
Labels: i18n

#33408 DEV: Display flag reasons and count for reviewable in refreshed UI
  app/assets/javascripts/discourse/app/components/reviewable-refresh/flag-reason.gjs
  app/assets/javascripts/discourse/app/components/reviewable-refresh/item.gjs
  app/assets/javascripts/discourse/tests/integration/components/reviewable-refresh/item-test.gjs
  app/assets/stylesheets/common/base/_index.scss
  app/assets/stylesheets/common/base/review.scss
  config/locales/client.en.yml
  spec/system/page_objects/pages/reviewable.rb
  spec/system/viewing_reviewable_spec.rb
Labels: i18n

#33433 UX: Shrink YouTube thumbnail in chat transcript
  plugins/chat/assets/stylesheets/common/chat-transcript.scss
Labels: chat

#33479 fix/ Added default values for category color and text_color
  script/bulk_import/base.rb
Labels: migrations-tooling

#33489 UX: Title label adjustments for new new view
  app/assets/javascripts/discourse/app/components/topic-list/new-list-header-controls.gjs
  app/assets/javascripts/discourse/app/models/nav-item.js
  config/locales/client.en.yml
Labels: i18n

#33444 FIX: Sidebar messages link updates
  app/assets/javascripts/discourse/app/lib/sidebar/common/community-section/section.js
  app/assets/javascripts/discourse/app/lib/sidebar/user/community-section/my-messages-section-link.js
  app/assets/javascripts/discourse/tests/fixtures/session-fixtures.js
  app/assets/javascripts/discourse/tests/fixtures/site-fixtures.js
  app/models/sidebar_url.rb
  config/locales/client.en.yml
  db/migrate/20250702133530_fix_capitalisation_in_sidebar_urls.rb
  spec/models/sidebar_section_spec.rb
  spec/requests/admin/config/site_settings_controller_spec.rb
  spec/requests/sidebar_sections_controller_spec.rb
  spec/system/editing_sidebar_community_section_spec.rb
  spec/system/page_objects/components/navigation_menu/sidebar.rb
  spec/system/viewing_sidebar_spec.rb
Labels: i18n

#33381 FEATURE: rich editor image toolbar for scale/alt text/delete
  app/assets/javascripts/discourse/app/components/composer/toolbar-buttons.gjs
  app/assets/javascripts/discourse/app/lib/composer/rich-editor-extensions.js
  app/assets/javascripts/discourse/app/lib/composer/toolbar.js
  app/assets/javascripts/discourse/app/lib/roving-button-bar.js
  app/assets/javascripts/discourse/app/static/prosemirror/components/image-alt-text-input.gjs
  app/assets/javascripts/discourse/app/static/prosemirror/components/image-node-view.gjs
  app/assets/javascripts/discourse/app/static/prosemirror/components/prosemirror-editor.gjs
  app/assets/javascripts/discourse/app/static/prosemirror/core/plugin.js
  app/assets/javascripts/discourse/app/static/prosemirror/extensions/image.js
  app/assets/javascripts/discourse/app/static/prosemirror/extensions/link-toolbar.js
  app/assets/javascripts/discourse/app/static/prosemirror/lib/glimmer-node-view.js
  app/assets/javascripts/discourse/app/static/prosemirror/lib/text-manipulation.js
  app/assets/javascripts/discourse/tests/helpers/rich-editor-helper.gjs
  app/assets/javascripts/discourse/tests/integration/components/prosemirror-editor/image-test.js
  app/assets/javascripts/float-kit/addon/lib/update-position.js
  app/assets/javascripts/float-kit/addon/services/menu.js
  app/assets/stylesheets/common/rich-editor/rich-editor.scss
  config/locales/client.en.yml
  spec/system/composer/prosemirror_editor_spec.rb
Labels: i18n

#33496 UX: move rich_editor setting from experimental to posting
  config/locales/server.en.yml
  config/site_settings.yml
Labels: i18n

#33505 DEV: Remove flush_timings_secs setting
  app/assets/javascripts/discourse/app/services/screen-track.js
  app/assets/javascripts/discourse/tests/helpers/site-settings.js
  config/locales/server.en.yml
  config/site_settings.yml
  db/post_migrate/20250708031631_remove_flush_timings_secs_setting.rb
Labels: i18n

#33369 UX: remove topic status actions from composer more menu
  app/assets/javascripts/discourse/app/components/composer-action-title.gjs
  app/assets/javascripts/discourse/app/components/composer-container.gjs
  app/assets/javascripts/discourse/app/services/composer.js
  app/assets/javascripts/discourse/tests/acceptance/composer-actions-test.js
  app/assets/javascripts/discourse/tests/acceptance/composer-test.js
  app/assets/javascripts/select-kit/addon/components/composer-actions.js
  config/locales/client.en.yml
  plugins/discourse-presence/test/javascripts/acceptance/discourse-presence-test.js
Labels: i18n

#33540 DEV: Load admin JS bundles from plugins for staff users
  app/views/layouts/application.html.erb
  app/views/qunit/theme.html.erb
  lib/discourse.rb
  plugins/chat/admin/assets/javascripts/discourse/initializers/chat-admin-plugin-configuration-nav.js
Labels: chat

#33533 DEV: Add a Gravatar enable/disable toggle
  app/assets/javascripts/discourse/app/components/modal/avatar-selector.gjs
  app/controllers/users_controller.rb
  config/locales/server.en.yml
  config/site_settings.yml
  db/post_migrate/20250709051949_disable_gravatar_enabled_if_unconfigured.rb
  spec/requests/users_controller_spec.rb
  spec/system/page_objects/modals/avatar_selector.rb
  spec/system/user_page/user_preferences_account_spec.rb
Labels: i18n

#33556 DEV: Load admin JS bundles from plugins for staff users (stable)
  app/views/layouts/application.html.erb
  app/views/qunit/theme.html.erb
  lib/discourse.rb
  plugins/chat/admin/assets/javascripts/discourse/initializers/chat-admin-plugin-configuration-nav.js
Labels: chat

#33461 FEATURE: Text heading/paragraph menu in composer toolbar
  app/assets/javascripts/discourse/app/components/composer/toolbar-buttons.gjs
  app/assets/javascripts/discourse/app/components/d-editor.gjs
  app/assets/javascripts/discourse/app/components/toolbar-popup-menu-options.gjs
  app/assets/javascripts/discourse/app/lib/composer/text-manipulation.js
  app/assets/javascripts/discourse/app/lib/composer/toolbar.js
  app/assets/javascripts/discourse/app/lib/textarea-text-manipulation.js
  app/assets/javascripts/discourse/app/static/prosemirror/core/keymap.js
  app/assets/javascripts/discourse/app/static/prosemirror/lib/plugin-utils.js
  app/assets/javascripts/discourse/app/static/prosemirror/lib/text-manipulation.js
  app/assets/javascripts/discourse/tests/integration/components/d-editor-test.gjs
  app/assets/javascripts/select-kit/addon/components/toolbar-popup-menu-options/toolbar-popup-menu-options-heading.gjs
  app/assets/stylesheets/common/d-editor.scss
  app/assets/stylesheets/common/float-kit/d-menu.scss
  app/assets/stylesheets/common/toolbar-popup-menu-options.scss
  config/locales/client.en.yml
  lib/svg_sprite.rb
  plugins/discourse-local-dates/assets/javascripts/initializers/discourse-local-dates.js
  spec/system/composer/prosemirror_editor_spec.rb
  spec/system/page_objects/components/composer.rb
  vendor/assets/svg-icons/discourse-additional.svg
Labels: i18n

#33537 FEATURE: Make it easier for staff to see if a profile is silenced
  app/assets/javascripts/discourse/app/components/user-card-contents.gjs
  app/assets/javascripts/discourse/app/controllers/user.js
  app/assets/javascripts/discourse/app/models/user.js
  app/assets/javascripts/discourse/app/templates/user.gjs
  app/assets/javascripts/discourse/tests/acceptance/user-card-test.js
  app/assets/stylesheets/common/base/user.scss
  app/assets/stylesheets/common/components/user-card.scss
  app/controllers/users_controller.rb
  app/models/user.rb
  app/serializers/admin_user_list_serializer.rb
  app/serializers/user_card_serializer.rb
  config/locales/client.en.yml
  config/locales/server.en.yml
  config/site_settings.yml
  lib/guardian/user_guardian.rb
  plugins/styleguide/assets/javascripts/discourse/components/sections/organisms/user-about.gjs
  spec/lib/guardian_spec.rb
  spec/models/user_spec.rb
  spec/requests/users_controller_spec.rb
  spec/system/page_objects/pages/user.rb
  spec/system/user_page/staff_info_spec.rb
Labels: i18n, styleguide

#33508 DEV: enable Foundation and stop Default
  app/controllers/admin/color_schemes_controller.rb
  app/controllers/admin/config/customize_controller.rb
  app/controllers/admin/themes_controller.rb
  app/models/color_scheme.rb
  app/models/theme.rb
  config/locales/server.en.yml
  config/site_settings.yml
  db/fixtures/600_themes.rb
  db/migrate/20250714030525_remove_experimental_system_themes_site_setting.rb
  spec/models/theme_spec.rb
  spec/requests/admin/color_schemes_controller_spec.rb
  spec/requests/admin/themes_controller_spec.rb
  spec/system/admin_customize_themes_config_area_spec.rb
Labels: i18n

#33610 DEV: enable Foundation and stop Default
  app/controllers/admin/color_schemes_controller.rb
  app/controllers/admin/config/customize_controller.rb
  app/controllers/admin/themes_controller.rb
  app/models/color_scheme.rb
  app/models/theme.rb
  config/locales/server.en.yml
  config/site_settings.yml
  db/fixtures/600_themes.rb
  db/migrate/20250714030525_remove_experimental_system_themes_site_setting.rb
  spec/models/theme_spec.rb
  spec/requests/admin/color_schemes_controller_spec.rb
  spec/requests/admin/themes_controller_spec.rb
  spec/system/admin_customize_themes_config_area_spec.rb
Labels: i18n

#33543 FIX: load saved draft when clicking reply to post
  app/assets/javascripts/discourse/app/controllers/topic.js
  app/assets/javascripts/discourse/tests/acceptance/composer-test.js
  app/assets/javascripts/discourse/tests/acceptance/emoji-test.js
  plugins/discourse-presence/test/javascripts/acceptance/discourse-presence-test.js
Labels: discourse-presence

#33367 DEV: Add `category_users` converter and importer steps
  migrations/config/intermediate_db.yml
  migrations/db/intermediate_db_schema/100-base-schema.sql
  migrations/lib/converters/discourse/steps/category_users.rb
  migrations/lib/database/intermediate_db/category_user.rb
  migrations/lib/importer/steps/category_users.rb
  migrations/spec/lib/database/intermediate_db/category_user_spec.rb
Labels: migrations-tooling

#33648 DEV: Improve deprecation warning banner
  app/assets/javascripts/discourse/app/services/deprecation-warning-handler.js
  config/locales/client.en.yml
  spec/system/ember_deprecation_spec.rb
Labels: i18n

#33625 DEV: Enhance `discourse-assign` data tracking for components
  plugins/discourse-assign/assets/javascripts/discourse/components/assign-button.gjs
  plugins/discourse-assign/assets/javascripts/discourse/components/topic-level-assign-menu.js
  plugins/discourse-assign/assets/javascripts/discourse/initializers/extend-for-assigns.js
  plugins/discourse-assign/assets/javascripts/discourse/models/assignment.js
  plugins/discourse-assign/assets/javascripts/discourse/models/topic.js
  plugins/discourse-assign/assets/javascripts/discourse/services/task-actions.js
  plugins/discourse-assign/test/javascripts/acceptance/assign-enabled-test.js
  plugins/discourse-assign/test/javascripts/acceptance/edit-assignments-modal-test.js
  plugins/discourse-assign/test/javascripts/acceptance/post-popup-menu-test.js
  plugins/discourse-assign/test/javascripts/acceptance/topic-level-assign-menu-test.js
Labels: discourse-assign

#33654 DEV: Add newly promoted core plugins to intermediate DB config
  migrations/config/intermediate_db.yml
  migrations/db/intermediate_db_schema/100-base-schema.sql
  migrations/lib/database/intermediate_db/user_option.rb
Labels: migrations-tooling

#33666 UX: Make the `rich_editor` setting easier to find
  config/locales/server.en.yml
  config/site_settings.yml
Labels: i18n

#33676 FIX: Don’t create empty event dates in calendar
  plugins/discourse-calendar/app/models/discourse_post_event/event.rb
  plugins/discourse-calendar/spec/models/discourse_post_event/event_spec.rb
Labels: discourse-calendar

#33659 DEV: Fix qunit error from discourse-upload-warning theme component
  plugins/discourse-subscriptions/assets/javascripts/discourse/components/campaign-banner.gjs
  plugins/discourse-subscriptions/spec/system/campaign_banner_spec.rb
Labels: discourse-subscriptions

#33700 FIX: ensures event builder correctly sets the description
  plugins/discourse-calendar/assets/javascripts/discourse/components/modal/post-event-builder.gjs
  plugins/discourse-calendar/spec/system/post_event_spec.rb
Labels: discourse-calendar

#33614 FEATURE: dynamic search when in /filter route
  app/assets/javascripts/discourse/app/components/discovery/filter-navigation.gjs
  app/assets/javascripts/discourse/app/components/discovery/filter-tips.gjs
  app/assets/javascripts/discourse/app/lib/sidebar/common/community-section/filter-section-link.js
  app/assets/javascripts/discourse/app/lib/sidebar/common/community-section/section.js
  app/assets/javascripts/discourse/app/templates/discovery/filter.gjs
  app/assets/javascripts/discourse/tests/integration/components/discovery/filter-tips-test.gjs
  app/assets/stylesheets/common/components/_index.scss
  app/assets/stylesheets/common/components/filter-tips.scss
  app/assets/stylesheets/common/components/topic-query-filter.scss
  app/models/sidebar_url.rb
  app/models/topic_list.rb
  app/serializers/topic_list_serializer.rb
  config/locales/client.en.yml
  config/locales/server.en.yml
  db/migrate/20250721043317_add_filter_link_to_sidebar.rb
  lib/topic_query.rb
  lib/topics_filter.rb
  spec/lib/topics_filter_spec.rb
  spec/models/category_spec.rb
  spec/models/sidebar_section_spec.rb
  spec/models/tag_spec.rb
  spec/requests/list_controller_spec.rb
Labels: i18n

#33743 DEV: Silence `post-stream-widget-overrides` in the checklist plugin
  plugins/checklist/assets/javascripts/discourse/initializers/checklist.js
Labels: checklist

#33756 FIX: adds missing router service import (explicit)
  plugins/chat/assets/javascripts/discourse/routes/chat-channels.js
  plugins/chat/assets/javascripts/discourse/routes/chat-direct-messages.js
Labels: chat

#33754 FIX: default channel name to topic title
  plugins/discourse-calendar/app/services/discourse_post_event/chat_channel_sync.rb
  plugins/discourse-calendar/spec/services/discourse_post_event/chat_channel_sync_spec.rb
Labels: discourse-calendar

#33774 FEAUTRE: Hide messages count in sidebar with feature flag
  app/assets/javascripts/discourse/app/lib/sidebar/user/community-section/my-messages-section-link.js
  app/serializers/current_user_serializer.rb
  config/locales/server.en.yml
  config/site_settings.yml
  spec/system/viewing_sidebar_spec.rb
Labels: i18n

#33775 FEATURE: Add site setting to allow comments to be disabled in discourse-post-voting plugin
  plugins/discourse-post-voting/app/models/post_voting_comment.rb
  plugins/discourse-post-voting/assets/javascripts/discourse/initializers/post-voting-edits.gjs
  plugins/discourse-post-voting/config/locales/server.en.yml
  plugins/discourse-post-voting/config/settings.yml
  plugins/discourse-post-voting/spec/models/post_voting_comment_spec.rb
  plugins/discourse-post-voting/spec/system/page_objects/pages/post_voting_topic.rb
  plugins/discourse-post-voting/spec/system/post_voting_spec.rb
Labels: i18n, discourse-post-voting

#33781 PERF: reduce embedding concurrent generation
  plugins/discourse-ai/lib/embeddings/vector.rb
  plugins/discourse-ai/lib/sentiment/post_classification.rb
Labels: discourse-ai

#33782 DEV: Update migration to add index to run first
  plugins/discourse-ai/db/migrate/20241230153301_add_index_to_ai_topics_embeddings.rb
Labels: discourse-ai

#33791 PERF: Speed up embedding text preparation.
  plugins/discourse-ai/lib/embeddings/strategies/truncation.rb
Labels: discourse-ai

#31508 Add XenForo direct messages importer with improved recipient handling…
  script/import_scripts/xenforo.rb
Labels: migrations-tooling, Stale

#33362 DEV: Add `custom_category_fields` converter and importer steps
  migrations/config/intermediate_db.yml
  migrations/db/intermediate_db_schema/100-base-schema.sql
  migrations/lib/converters/discourse/steps/category_custom_fields.rb
  migrations/lib/database/intermediate_db/category_custom_field.rb
  migrations/lib/importer/steps/category_custom_fields.rb
  migrations/spec/lib/database/intermediate_db/category_custom_field_spec.rb
Labels: migrations-tooling

#33816 UX: Fix copy for theme site setting description
  config/locales/client.en.yml
Labels: i18n

#33798 DEV: Add newly promoted core plugins to IntermediateDB config
  migrations/config/intermediate_db.yml
  migrations/db/intermediate_db_schema/100-base-schema.sql
  migrations/lib/database/intermediate_db/user_option.rb
Labels: migrations-tooling

#33546 FIX: Store context for failed uploads
  script/bulk_import/uploads_importer.rb
Labels: migrations-tooling

#33824 DEV: fixing few flakey specs in discourse-ai
  plugins/discourse-ai/spec/system/ai_helper/ai_composer_helper_spec.rb
  plugins/discourse-ai/spec/system/ai_helper/ai_proofreading_spec.rb
Labels: discourse-ai

#33825 DEV: Fix a d-assign spec
  plugins/discourse-assign/spec/system/assign_topic_spec.rb
Labels: discourse-assign

#33853 FEATURE: improvements to ai conversation page
  plugins/discourse-ai/assets/javascripts/discourse/components/ai-bot-conversations.gjs
  plugins/discourse-ai/assets/javascripts/discourse/components/ai-persona-llm-selector.gjs
  plugins/discourse-ai/assets/javascripts/discourse/controllers/discourse-ai-bot-conversations.gjs
  plugins/discourse-ai/assets/javascripts/discourse/templates/discourse-ai-bot-conversations.gjs
  plugins/discourse-ai/lib/ai_bot/entry_point.rb
  plugins/discourse-ai/spec/system/ai_bot/homepage_spec.rb
  spec/system/page_objects/components/select_kit.rb
Labels: discourse-ai

#33870 DEV: Deprecate "discourse/helpers/get-url"
  app/assets/javascripts/admin/addon/components/admin-config-areas/themes.gjs
  app/assets/javascripts/admin/addon/components/admin-report-storage-stats.gjs
  app/assets/javascripts/admin/addon/templates/dashboard_general.gjs
  app/assets/javascripts/admin/addon/templates/dashboard_moderation.gjs
  app/assets/javascripts/discourse/app/components/categories-topic-list.gjs
  app/assets/javascripts/discourse/app/components/edit-category-settings.gjs
  app/assets/javascripts/discourse/app/components/reviewable-user.gjs
  app/assets/javascripts/discourse/app/components/user-menu/likes-list-empty-state.gjs
  app/assets/javascripts/discourse/app/components/user-menu/messages-list-empty-state.gjs
  app/assets/javascripts/discourse/app/components/user-menu/notifications-list-empty-state.gjs
  app/assets/javascripts/discourse/app/discourse-common-loader-shims.js
  app/assets/javascripts/discourse/app/helpers/get-url.js
  app/assets/javascripts/discourse/app/templates/tag-groups.gjs
  plugins/chat/assets/javascripts/discourse/components/user-menu/chat-notifications-list-empty-state.gjs
  plugins/discourse-assign/assets/javascripts/discourse/components/user-menu/assigns-list-empty-state.gjs
Labels: chat, discourse-assign

#33873 DEV: Clean up `js: true` from recently bundled plugin specs
  plugins/discourse-assign/spec/system/group_assigned_spec.rb
  plugins/discourse-assign/spec/system/group_preferences_spec.rb
  plugins/discourse-assign/spec/system/user_menu_spec.rb
  plugins/discourse-assign/spec/system/user_preferences_spec.rb
  plugins/discourse-data-explorer/spec/system/explorer_spec.rb
  plugins/discourse-data-explorer/spec/system/param_input_spec.rb
  plugins/discourse-data-explorer/spec/system/reports_spec.rb
  plugins/discourse-gamification/spec/system/admin_leaderboards_spec.rb
  plugins/discourse-reactions/spec/system/reaction_notifications_spec.rb
  plugins/discourse-reactions/spec/system/reactions_activity_spec.rb
  plugins/discourse-reactions/spec/system/reactions_post_list_spec.rb
  plugins/discourse-subscriptions/spec/system/campaign_banner_spec.rb
  plugins/discourse-subscriptions/spec/system/pricing_table_spec.rb
  plugins/discourse-topic-voting/spec/system/voting_spec.rb
Labels: discourse-reactions, discourse-assign, discourse-gamification, discourse-subscriptions, discourse-data-explorer, discourse-topic-voting

#33699 FEATURE: Enable rich editor for all users
  app/assets/javascripts/admin/addon/lib/constants.js
  app/assets/javascripts/discourse/app/components/composer-editor.gjs
  app/assets/javascripts/discourse/app/components/d-editor.gjs
  app/assets/javascripts/discourse/app/lib/constants.js
  app/assets/javascripts/discourse/app/models/composer.js
  app/assets/javascripts/discourse/app/models/user.js
  app/assets/javascripts/discourse/app/services/composer.js
  app/assets/javascripts/discourse/tests/fixtures/session-fixtures.js
  app/assets/javascripts/discourse/tests/integration/components/d-editor-test.gjs
  app/assets/javascripts/discourse/tests/unit/models/composer-test.js
  app/models/composition_mode_site_setting.rb
  app/models/site_setting.rb
  app/models/user_option.rb
  app/serializers/current_user_option_serializer.rb
  app/services/site_setting_update_existing_users.rb
  app/services/user_updater.rb
  config/locales/client.en.yml
  config/locales/server.en.yml
  config/site_settings.yml
  db/migrate/20250718035714_enable_rich_editor_for_all.rb
  db/migrate/20250718043910_add_composition_mode_user_option.rb
  lib/tasks/import.rake
  lib/tasks/javascript.rake
  plugins/chat/spec/system/rich_editor_extension_transcript_spec.rb
  script/bulk_import/base.rb
  spec/fabricators/user_fabricator.rb
  spec/models/user_option_spec.rb
  spec/system/composer/prosemirror_editor_spec.rb
Labels: chat, i18n, migrations-tooling

#33887 DEV: Add initial component tests for WelcomeBanner
  app/assets/javascripts/discourse/tests/helpers/component-test.js
  app/assets/javascripts/discourse/tests/integration/components/welcome-banner-test.gjs
  plugins/discourse-calendar/test/javascripts/integration/components/upcoming-events-list-test.gjs
Labels: discourse-calendar

#33845 FIX: display alert when casting last remaining vote
  plugins/discourse-topic-voting/assets/javascripts/discourse/components/vote-box.gjs
  plugins/discourse-topic-voting/spec/system/page_objects/pages/topic.rb
  plugins/discourse-topic-voting/spec/system/voting_spec.rb
Labels: discourse-topic-voting

#33890 UX: Mention browser console in theme error banner
  config/locales/client.en.yml
Labels: i18n

#33626 DEV: `SetStore` backed implementation of `requires_set`
  migrations/lib/importer/discourse_db.rb
  migrations/lib/importer/shared_data.rb
Labels: migrations-tooling

#33687 DEV: Add `group_users` converter and importer steps
  migrations/config/intermediate_db.yml
  migrations/db/intermediate_db_schema/100-base-schema.sql
  migrations/lib/converters/discourse/steps/group_users.rb
  migrations/lib/database/intermediate_db/group_user.rb
  migrations/lib/database/intermediate_db/user_option.rb
  migrations/lib/importer/steps/group_users.rb
  migrations/spec/lib/database/intermediate_db/group_user_spec.rb
Labels: migrations-tooling

#33790 FEATURE: Localize language names
  app/assets/javascripts/admin/addon/components/site-setting.gjs
  app/assets/javascripts/admin/addon/components/site-settings/locale-enum.gjs
  app/assets/javascripts/admin/addon/components/site-settings/locale-list.gjs
  app/assets/javascripts/admin/addon/controllers/admin-customize-themes-show-index.js
  app/assets/javascripts/admin/addon/controllers/admin-site-text-index.js
  app/assets/javascripts/admin/addon/routes/admin-site-text-edit.js
  app/assets/javascripts/discourse/app/components/language-switcher.gjs
  app/assets/javascripts/discourse/app/components/modal/history/revisions.gjs
  app/assets/javascripts/discourse/app/components/post-language-selector.gjs
  app/assets/javascripts/discourse/app/components/post-translation-editor.gjs
  app/assets/javascripts/discourse/app/components/post/meta-data/language.gjs
  app/assets/javascripts/discourse/app/controllers/preferences/interface.js
  app/assets/javascripts/discourse/app/controllers/topic.js
  app/assets/javascripts/discourse/app/services/language-name-lookup.js
  app/assets/javascripts/discourse/app/services/site-settings.js
  app/assets/javascripts/discourse/app/static/wizard/components/fields/dropdown.gjs
  app/assets/javascripts/discourse/tests/acceptance/admin-site-text-test.js
  app/assets/javascripts/discourse/tests/integration/components/post/post-test.gjs
  app/models/locale_site_setting.rb
  app/serializers/post_revision_serializer.rb
  app/serializers/post_serializer.rb
  config/locales/client.en.yml
  config/site_settings.yml
  lib/site_setting_extension.rb
  lib/site_settings/type_supervisor.rb
  lib/wizard/builder.rb
  plugins/discourse-ai/assets/javascripts/discourse/components/ai-composer-helper-menu.gjs
  plugins/discourse-calendar/assets/javascripts/discourse/components/region-input.js
  plugins/discourse-calendar/test/javascripts/acceptance/admin-holidays-test.js
  plugins/discourse-calendar/test/javascripts/integration/components/region-input-test.gjs
  spec/models/locale_site_setting_spec.rb
  spec/requests/steps_controller_spec.rb
  spec/serializers/post_revision_serializer_spec.rb
  spec/serializers/post_serializer_spec.rb
  spec/system/admin_site_setting_locale_spec.rb
  spec/system/anon_language_switcher_spec.rb
  spec/system/content_localization_spec.rb
  spec/system/page_objects/pages/admin_site_settings.rb
  spec/system/post_translation_spec.rb
Labels: i18n, discourse-calendar, discourse-ai

#33937 Revert: FEATURE: create new topic while viewing restricted category or tag
  app/assets/javascripts/discourse/app/components/create-topic-button.gjs
  app/assets/javascripts/discourse/app/components/d-navigation.gjs
  app/assets/javascripts/discourse/tests/acceptance/category-banner-test.js
  app/assets/javascripts/discourse/tests/acceptance/tags-test.js
  config/locales/client.en.yml
  spec/system/composer/default_to_subcategory_spec.rb
  spec/system/drafts_dropdown_spec.rb
  themes/horizon/javascripts/discourse/components/sidebar-new-topic-button.gjs
  themes/horizon/spec/system/sidebar_topic_button_spec.rb
Labels: i18n

#33850 FIX: Check tag group names in form template validator
  config/locales/server.en.yml
  lib/validators/form_template_yaml_validator.rb
  spec/lib/validators/form_template_yaml_validator_spec.rb
Labels: i18n

#33957 DEV: avoid calling sidekiq in migration
  plugins/discourse-rss-polling/app/jobs/jobs/discourse_rss_polling/fix_topic_embed_authors.rb
  plugins/discourse-rss-polling/db/migrate/20180828095129_push_fix_topic_embed_authors_job.rb
  plugins/discourse-rss-polling/spec/jobs/fix_topic_embed_authors_spec.rb
Labels: discourse-rss-polling

#33966 DEV: Fix a flaky chat shortcut test
  plugins/chat/spec/system/shortcuts/full_page_spec.rb
Labels: chat

#33963 FIX: Completion rate double-count and normalize
  plugins/discourse-ai/lib/translation/base_candidates.rb
  plugins/discourse-ai/lib/translation/category_candidates.rb
  plugins/discourse-ai/lib/translation/post_candidates.rb
  plugins/discourse-ai/lib/translation/topic_candidates.rb
  plugins/discourse-ai/spec/lib/translation/category_candidates_spec.rb
  plugins/discourse-ai/spec/lib/translation/post_candidates_spec.rb
  plugins/discourse-ai/spec/lib/translation/topic_candidates_spec.rb
Labels: discourse-ai

#33972 DEV: Tidy html/body classes in chat
  app/assets/javascripts/discourse/app/services/element-classes.js
  app/assets/javascripts/discourse/tests/integration/helpers/element-class-test.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-drawer.gjs
  plugins/chat/assets/javascripts/discourse/routes/chat.js
  plugins/chat/assets/javascripts/discourse/templates/chat.gjs
  plugins/chat/spec/system/drawer_spec.rb
Labels: chat

#33983 FIX: Optimize shortcomings from topic truncation from a27e20c
  plugins/discourse-ai/lib/embeddings/strategies/truncation.rb
  plugins/discourse-ai/spec/lib/modules/embeddings/strategies/truncation_spec.rb
Labels: discourse-ai

#33995 FIX: CSV bulk invites broken when S3 uploads enabled
  plugins/discourse-calendar/assets/javascripts/discourse/components/csv-uploader.gjs
Labels: discourse-calendar

#33852 DEV: Remove now-redundant is_staff guardian check
  config/site_settings.yml
  lib/guardian/post_guardian.rb
  plugins/discourse-calendar/spec/requests/events_controller_spec.rb
  plugins/discourse-presence/plugin.rb
  plugins/discourse-presence/spec/integration/presence_spec.rb
Labels: discourse-presence, discourse-calendar

#33998 DEV: Fix a flaky AI composer helper test
  plugins/discourse-ai/spec/system/ai_helper/ai_composer_helper_spec.rb
Labels: discourse-ai

#33993 A11Y: composer toolbar dropdown title
  app/assets/javascripts/discourse/app/components/composer/toolbar-buttons.gjs
  app/assets/javascripts/discourse/app/components/toolbar-popup-menu-options.gjs
  app/assets/javascripts/discourse/app/lib/composer/toolbar.js
  config/locales/client.cs.yml
  config/locales/client.de.yml
  config/locales/client.en.yml
  config/locales/client.he.yml
  config/locales/client.pl_PL.yml
  config/locales/client.ro.yml
  config/locales/client.sk.yml
  config/locales/client.uk.yml
  config/locales/client.ur.yml
  config/locales/client.zh_CN.yml
Labels: i18n

#33985 DEV: Do not preload assignments when discourse-assign is disabled
  plugins/discourse-assign/plugin.rb
Labels: discourse-assign

#33889 UX: enhances messages dropdown with unread count
  app/assets/javascripts/discourse/app/components/user-nav/messages-dropdown.gjs
  app/assets/javascripts/discourse/app/components/user-nav/messages-dropdown.js
  app/assets/javascripts/discourse/app/controllers/user-private-messages.js
  app/assets/javascripts/discourse/tests/acceptance/user-private-messages-test.js
  app/assets/stylesheets/common/base/d-icon.scss
  app/assets/stylesheets/common/base/new-user.scss
  plugins/discourse-assign/test/javascripts/acceptance/user-private-messages-assigned-test.js
  spec/system/page_objects/components/d_menu.rb
  spec/system/page_objects/pages/user_private_messages.rb
  spec/system/viewing_user_private_messages_spec.rb
Labels: discourse-assign
